<div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="my-1 text-center">NOW TRY THIS:</h3>
    </div>
    <div class="col-md-6">
      <hr class="my-2" />
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct7.jpg?alt=media&token=7c78e122-f679-4996-a3c0-f6326b38bfb2"
            alt="img"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <p>
            <b>A.</b> Is she Dancing ?<br />
            <b>B.</b> Yes, she is<br />
            <b>A.</b> Is she running?<br />
            <b>B.</b> No, she isn't<br />
            <b>A.</b> What is she doing?<br />
            <b>B.</b> She is Dancing
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <hr class="my-2" />
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct8.jpg?alt=media&token=7420cef6-4bd9-4b41-a908-02300a0ed04a"
            alt="img"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <b>A. </b> Are they listening to music?
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b> Yes,</div>
            <input
              type="text"
              class="form-control"
              name="ans1page8"
              [(ngModel)]="libro.ans1Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <b>A. </b> Are they cooking?
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>No,</div>
            <input
              type="text"
              class="form-control"
              name="ans2page8"
              [(ngModel)]="libro.ans2Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <b>A. </b> What are they doing?
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>they</div>
            <input
              type="text"
              class="form-control"
              name="ans3page8"
              [(ngModel)]="libro.ans3Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <hr class="my-2" />
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct9.PNG?alt=media&token=b7734630-2fe5-4e1b-95aa-024b1da5a7ee"
            alt="img"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans4page8"
              [(ngModel)]="libro.ans4Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>Yes,</div>
            <input
              type="text"
              class="form-control"
              name="ans5page8"
              [(ngModel)]="libro.ans5Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans6page8"
              [(ngModel)]="libro.ans6Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            <div>working out?</div>
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>No,</div>
            <input
              type="text"
              class="form-control"
              name="ans7page8"
              [(ngModel)]="libro.ans7Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b>What</div>
            <input
              type="text"
              class="form-control"
              name="ans8page8"
              [(ngModel)]="libro.ans8Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans9page8"
              [(ngModel)]="libro.ans9Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <hr class="my-2" />
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct10.PNG?alt=media&token=291c7fb9-2512-478f-a87f-3360b03d7588"
            alt="img"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans10page8"
              [(ngModel)]="libro.ans10Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>Yes,</div>
            <input
              type="text"
              class="form-control"
              name="ans11page8"
              [(ngModel)]="libro.ans11Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans12page8"
              [(ngModel)]="libro.ans12Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            <div>(drink)</div>
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>No,</div>
            <input
              type="text"
              class="form-control"
              name="ans13page8"
              [(ngModel)]="libro.ans13Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b>What</div>
            <input
              type="text"
              class="form-control"
              name="ans14page8"
              [(ngModel)]="libro.ans14Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans15page8"
              [(ngModel)]="libro.ans15Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <hr class="my-2" />
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct11.PNG?alt=media&token=b7da2196-d75f-43f5-b609-64b34a4107af"
            alt="img"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans16page8"
              [(ngModel)]="libro.ans16Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>Yes,</div>
            <input
              type="text"
              class="form-control"
              name="ans17page8"
              [(ngModel)]="libro.ans17Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans18page8"
              [(ngModel)]="libro.ans18Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            <div>(Take a shower)</div>
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>No,</div>
            <input
              type="text"
              class="form-control"
              name="ans19page8"
              [(ngModel)]="libro.ans19Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans20page8"
              [(ngModel)]="libro.ans20Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans21page8"
              [(ngModel)]="libro.ans21Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <hr class="my-2" />
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct12.PNG?alt=media&token=584c986e-ed79-4703-9114-d2c71c81896b"
            alt="img"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans22page8"
              [(ngModel)]="libro.ans22Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>Yes,</div>
            <input
              type="text"
              class="form-control"
              name="ans23page8"
              [(ngModel)]="libro.ans23Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans24page8"
              [(ngModel)]="libro.ans24Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            <div>(drive)</div>
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b>No,</div>
            <input
              type="text"
              class="form-control"
              name="ans25page8"
              [(ngModel)]="libro.ans25Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>A. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans26page8"
              [(ngModel)]="libro.ans26Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="d-flex"><b>B. </b></div>
            <input
              type="text"
              class="form-control"
              name="ans27page8"
              [(ngModel)]="libro.ans27Page8"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
