<div>
  <div class="row">
    <div class="col-md-12">
      <span class="badge morado my-2"> <h4>ORAL PRACTICE</h4></span>
      <p>
        What abilities and talents do you have?<br />
        Tell the class about some of the <b>things you can do</b>. Can you swim?
        Whistle? Play the piano? Cook?<br />
        Tell the class about some abilities or talents that you don’t have –
        <b>things that you can’t do</b>
      </p>
    </div>
    <div class="col-md-8">
      <ul class="my-2">
        <strong>Example:</strong>
        <li><b>Student A:</b> (…), can you play pool?</li>
        <li><b>Student B:</b> Yes, I can. OR: No, I can’t</li>
      </ul>
      <ol>
        <li>
          (…) wants to go to the zoo. Tell him/her what he/she can see at the
          zoo
        </li>
        <li>
          (…) wants to buy a hammer. Tell him/her where he/she can get a hammer.
          A wristwatch? Some bananas? Tennis Balls? A haircut?
        </li>
        <li>
          (…) has to go to the airport tomorrow. How can he/she get there?
        </li>
        <li>
          (…) is bored on weekends. Tell him/her some things he/she can do on
          weekends in (this city)
        </li>
        <li>
          (…) wants to go out to eat tonight. Where can he/she get a good meal?
        </li>
      </ol>
    </div>
    <div class="col-md-4">
      <img src="" class="img-fluid" alt="img" />
    </div>
  </div>
</div>
