<div>
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F6.png?alt=media&token=3a15c8a0-8f52-488c-9aa3-35726b1255ad"
        class="img-fluid w-75 m-2"
        alt=""
      />
      <h3>
        <audio aria-label="audio" id="a1p2l3" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F13.mp3?alt=media&token=27fbb44e-0d84-47cb-b3e3-1cf3142d809e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p2l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        INTRODUCING ANOTHER PERSON
      </h3>
      <ul>
        <li class="my-1">
          I´d like you to meet you
          <input
            type="text"
            class="form-control input"
            name="ans1page3"
            [(ngModel)]="libro.ans1Page3"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />.
        </li>
        <li class="my-1">
          This is
          <input
            type="text"
            class="form-control input"
            name="ans2page3"
            [(ngModel)]="libro.ans2Page3"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />.
        </li>
        <li class="my-1">
          I´d Like to introduce you to
          <input
            type="text"
            class="form-control input"
            name="ans3page3"
            [(ngModel)]="libro.ans3Page3"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />.
        </li>
        <li class="my-1">
          Have you met
          <input
            type="text"
            class="form-control input"
            name="ans4page3"
            [(ngModel)]="libro.ans4Page3"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />?
        </li>
      </ul>
      <strong
        >Useful responses when introducing yourself or other people</strong
      >
      <ul>
        <audio aria-label="audio" id="a2p2l3" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F14.mp3?alt=media&token=310c5596-39e0-494e-b9a3-e54dcc00e12f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p2l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <li>Nice to meet you</li>
        <li>Pleased to meet you</li>
        <li>Happy to meet you</li>
        <li>How do you do?</li>
      </ul>
      <p>
        <strong>"How do you do?"</strong> Isn´t really a question, it just means
        "Hello"
      </p>
      <strong>ORAL PRACTICE</strong>
      <p>Practice with three partners. Use you own words.</p>
    </div>
    <div class="col-md-6">
      <h3>
        <audio aria-label="audio" id="a3p2l3" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F15.mp3?alt=media&token=05174a4a-b464-488a-9f03-f38c73298c24"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p2l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        ORAL PRACTICE
      </h3>
      <p>
        When meeting someone new, we usually stick to very basic conversation
        topics until we get to know the person.
      </p>
      <ul>
        <li>What´s your name?</li>
        <li>Where are you from?</li>
        <li>Do you live in near here?</li>
        <li>Where do you live?</li>
        <li>How do you like living here?</li>
        <li>Where are you from originally?</li>
        <li>What are you doing in Cali?</li>
        <li>What do you think about Cali?</li>
        <li>What do you like doing in your free time?</li>
      </ul>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F7.jpg?alt=media&token=1af90b0b-9425-40d3-b786-29ccec179560"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</div>
