<div>
    <div class="row">
        <div class="col-md-6">
            <h4><span class="badge bg-info"> D </span></h4>
            <p class="justify">Two of my best friends have their birthday in the same week, so some of us have decided to have a surprise party for both of them. One of my friends, Sandra, has a big house, and her parents say we can use it. They’re going away, luckily.
                It’s at the end of October, so we’re going to decorate the house with Halloween things, you know, spiders' webs and spooky things. We're going to make up an excuse to get the birthday girls to come round to the house – say we’re going
                to help Sandra move some stuff, or something. Then, as soon as Sandra lets them in, we’re going to turn the lights out and jump out at them! We just have to make sure nobody mentions anything on Facebook and gives away the surprise.
            </p>
        </div>
        <div class="col-md-6">
            <h4><span class="badge bg-info"> E </span></h4>
            <p class="justify">There’s a Royal Wedding in June – one of our princes is getting married – so it’s a public holiday. Lots of people are having parties in squares and parks and places, and the people in our street decided to have one too. Well, it’s a good
                excuse to have a party, isn’t it? We’re all going to take out tables and chairs and put them together in the middle of the road. We’re going to stop cars coming through, obviously. We’re all going to bring different dishes and share them
                round. There are quite a lot of different nationalities living on our street – people from India, China and different African countries – so the food should be really interesting. It’ll be good to get to know more of the neighbours too.
            </p>
        </div>
        <hr>
        <div class="col-md-4">
            <h4 class="mb-3 center">WORKSHEET</h4>
            <h6>2. Check your understanding: Matching</h6>
            <p>Do this exercise while you listen. Match the speaker with the celebration and write a-e next to the numbers 1-5</p>
        </div>
        <div class="col-md-8 table-responsive">
            <table class="table table-striped ">

                <tbody>
                    <tr>
                        <td>1. - <input type="text" maxlength="1" size=40 style="width : 35px; height : 23px"> Speaker A</td>
                        <td>a. Golden wedding anniversary</td>
                    </tr>
                    <tr>
                        <td>2. - <input type="text" maxlength="1" size=40 style="width : 35px; height : 23px"> Speaker B</td>
                        <td>b. Notting Hill Carnival </td>
                    </tr>
                    <tr>
                        <td>3. - <input type="text" maxlength="1" size=40 style="width : 35px; height : 23px"> Speaker C</td>
                        <td>c. End of term party at school</td>
                    </tr>
                    <tr>
                        <td>4. - <input type="text" maxlength="1" size=40 style="width : 35px; height : 23px"> Speaker D</td>
                        <td>d. Royal wedding</td>
                    </tr>
                    <tr>
                        <td>5. - <input type="text" maxlength="1" size=40 style="width : 35px; height : 23px"> Speaker E</td>
                        <td>e. Surprise birthday party</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>