<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge morado my-2">UNIT 7</span></h1>
      <h3 class="text-center">
        <!-- audio  -->
        <audio id="a1p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a1p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        IRREGULAR VERBS SIMPLE PAST
      </h3>
      <h6>VOCABULARY</h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-1.png?alt=media&token=ad9e29f6-63a5-4266-8f1e-e4fec6c9c74d"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 80-->
        <audio id="a2p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a2p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Teach / taught
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-2.jpg?alt=media&token=c6f416bb-0604-42e1-8f69-474529772964"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 81-->
        <audio id="a3p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a3p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Become / became
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-3.jpg?alt=media&token=825c9b31-d75d-4ec1-95ba-72bc1122130b"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 82-->
        <audio id="a4p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a4p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Begin / began
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-4.jpg?alt=media&token=3bea6d60-cdc7-4f66-9400-6091574d1e1e"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 83-->
        <audio id="a5p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a5p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. give / gave
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-5.jpg?alt=media&token=6f2d15b3-8c3d-400e-9532-ae99266dace7"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 84-->
        <audio id="a6p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a6p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Choose / chose
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-6.jpg?alt=media&token=0bdd87db-ac5f-4f9f-abd4-655f45c69891"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 85-->
        <audio id="a7p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a7p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Buy / bought
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-7.webp?alt=media&token=a5d8e4b0-5447-4562-8d48-fd7c3f9ae16f"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 86-->
        <audio id="a8p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a8p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Catch / caugh
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-8.jpg?alt=media&token=cf9245b6-52c6-4b85-b63f-6b272d1069b9"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 87-->
        <audio id="a9p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a9p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Draw / drew
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-9.jpg?alt=media&token=da7049af-9286-431d-9f6e-1e4e4a3da261"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 88 -->
        <audio id="a10p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a10p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Feed / fed
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-10.png?alt=media&token=756f3ce3-a936-48c4-9757-29effc6db865"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 89-->
        <audio id="a11p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a11p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Find / found
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-11.jpg?alt=media&token=c45b0de3-cd13-47c0-acc4-98c445faa3ef"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 90-->
        <audio id="a12p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a12p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. Forget / forgot
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-12.jpg?alt=media&token=81dc9b8d-8db7-4957-9b46-ddce74f34be5"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 91-->
        <audio id="a13p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. think / thought
      </h6>
    </div>
  </div>
</div>
