<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3 class="center "><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> INTERVIEWS AROUND THE WORLD</h3>

            <span class="badge bg-primary m-1"> What </span>
            <span class="badge bg-primary m-1"> Languaje </span>
            <span class="badge bg-primary m-1"> we </span>
            <span class="badge bg-primary m-1"> our </span>
            <span class="badge bg-primary m-1"> is </span>
            <span class="badge bg-primary m-1"> eat </span>
            <span class="badge bg-primary m-1"> read </span>
            <span class="badge bg-primary m-1"> What´s </span>
            <span class="badge bg-primary m-1"> name </span>
            <span class="badge bg-primary m-1"> you </span>
            <span class="badge bg-primary m-1"> your </span>
            <span class="badge bg-primary m-1"> are </span>
            <span class="badge bg-primary m-1"> live </span>
            <span class="badge bg-primary m-1"> watch </span>
            <span class="badge bg-primary m-1"> where </span>
            <span class="badge bg-primary m-1"> names </span>
            <span class="badge bg-primary m-1"> they </span>
            <span class="badge bg-primary m-1"> their </span>
            <span class="badge bg-primary m-1"> do </span>
            <span class="badge bg-primary m-1"> sing </span>
            <span class="badge bg-primary m-1"> speak </span>
        </div>
        <hr>
        <div class="col-md-6">
            <ul>
                <li><strong>A. </strong> What´s(1) your name?</li>
                <li><strong>B. </strong> My <input type="text" placeholder="Answer" name="" id="" class="my-1"> (2) <input type="text" placeholder="Answer" name="" id="" class="my-1">(3) Sung Hee.</li>
                <li><strong>A. </strong> Where <input type="text" placeholder="Answer" name="" id="" class="my-1">(4) <input type="text" placeholder="Answer" name="" id="" class="my-1">(5) live?</li>
                <li><strong>B. </strong> I <input type="text" placeholder="Answer" name="" id="" class="my-1"> (6) in Seoul.</li>
                <li><strong>A. </strong> <input type="text" placeholder="Answer" name="" id="" class="my-1">(7) <input type="text" placeholder="Answer" name="" id="" class="my-1">(8) do you speak?</li>
                <li><strong>B. </strong> I <input type="text" placeholder="Answer" name="" id="" class="my-1">(9) Korean.</li>
                <li><strong>A. </strong> What <input type="text" placeholder="Answer" name="" id="" class="my-1">(10) <input type="text" placeholder="Answer" name="" id="" class="my-1">(11) do every day?</li>
                <li><strong>B. </strong> Every day I <input type="text" placeholder="Answer" name="" id="" class="my-1">(12) Korean food, and I <input type="text" placeholder="Answer" name="" id="" class="my-1"> (13) Korean TV shows</li>
            </ul>
            <div class="center">
                <img src="assets/img/imagen.jpg" class="img-fluid w-50" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <ul>
                <li><strong>A. </strong> What <input type="text" placeholder="Answer" name="" id="" class="my-1">(14) your names?</li>
                <li><strong>B. </strong> <input type="text" placeholder="Answer" name="" id="" class="my-1">(15) <input type="text" placeholder="Answer" name="" id="" class="my-1">(16) are Carlos and Maria</li>
                <li><strong>A. </strong> Where <input type="text" placeholder="Answer" name="" id="" class="my-1">(17) <input type="text" placeholder="Answer" name="" id="" class="my-1">(18) live?</li>
                <li><strong>B. </strong> <input type="text" placeholder="Answer" name="" id="" class="my-1">(19) <input type="text" placeholder="Answer" name="" id="" class="my-1">(20) in Madrid.</li>
                <li><strong>A. </strong> <input type="text" placeholder="Answer" name="" id="" class="my-1">(21) languaje <input type="text" placeholder="Answer" name="" id="" class="my-1">(22) <input type="text" placeholder="Answer" name="" id="" class="my-1">(23)
                    speak?
                </li>
                <li><strong>B. </strong> We <input type="text" placeholder="Answer" name="" id="" class="my-1">(24) Spanish?</li>
                <li><strong>A. </strong> What <input type="text" placeholder="Answer" name="" id="" class="my-1">(25) you <input type="text" placeholder="Answer" name="" id="" class="my-1">(26) every day?</li>
                <li><strong>B. </strong> Every day <input type="text" placeholder="Answer" name="" id="" class="my-1">(27) <input type="text" placeholder="Answer" name="" id="" class="my-1">(28) Spanish songs, and we <input type="text" placeholder="Answer"
                        name="" id="" class="my-1">(29) Spanish newspapers</li>
            </ul>
        </div>
    </div>
</div>