<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 4.11</h6>
      <p class="justify">
        Complete the sentences by using the simple past of the given verbs. Use
        each verb only one time. All of the verbs have irregular past forms.
      </p>
      <div class="text-center my-3">
        <span class="m-1 badge bg-primary">begin </span>
        <span class="m-1 badge bg-primary">go </span>
        <span class="m-1 badge bg-primary">read</span>
        <span class="m-1 badge bg-primary">cut </span>
        <span class="m-1 badge bg-primary">hold </span>
        <span class="m-1 badge bg-primary">shake</span>
        <span class="m-1 badge bg-primary">drink </span>
        <span class="m-1 badge bg-primary">keep </span>
        <span class="m-1 badge bg-primary">shut</span>
        <span class="m-1 badge bg-primary">eat </span>
        <span class="m-1 badge bg-primary">lose </span>
        <span class="m-1 badge bg-primary">speak </span>
        <span class="m-1 badge bg-primary">find </span>
        <span class="m-1 badge bg-primary">meet </span>
        <span class="m-1 badge bg-primary">spend </span>
      </div>
    </div>
    <div class="col-md-12">
      <ol>
        <li>Sue drank a cup of coffee before class this morning</li>
        <li>
          We
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans1page38"
            [(ngModel)]="libro.ans1Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a delicious dinner at a Mexican restaurant last night
        </li>
        <li>
          When it
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans2page38"
            [(ngModel)]="libro.ans2Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to rain yesterday afternoon, I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans3page38"
            [(ngModel)]="libro.ans3Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          all of the windows in the apartment
        </li>
        <li>
          Chris hurt his finger when he was fixing his dinner last night. He
          accidentally
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans4page38"
            [(ngModel)]="libro.ans4Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          it with a sharp knife
        </li>
        <li>
          I don’t have any money in my pocket. I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans5page38"
            [(ngModel)]="libro.ans5Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          my last dime yesterday. I’m flat broke
        </li>
        <li>
          Jessica didn’t throw her old shoes away. She
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans6page38"
            [(ngModel)]="libro.ans6Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          them because they were comfortable
        </li>
        <li>
          I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans7page38"
            [(ngModel)]="libro.ans7Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          an interesting article in the newspaper yesterday
        </li>
        <li>
          Jack
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans8page38"
            [(ngModel)]="libro.ans8Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          his pocket-knife at the park yesterday. This morning he
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans9page38"
            [(ngModel)]="libro.ans9Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          back to the park to look for it. Finally he
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans10page38"
            [(ngModel)]="libro.ans10Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          it in the grass. He was glad to have it back.
        </li>
        <li>
          Peter was nervous when he
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans11page38"
            [(ngModel)]="libro.ans11Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          his baby in his arms for the first time
        </li>
        <li>
          I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans12page38"
            [(ngModel)]="libro.ans12Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Jennifer’s parents when they visited her. She introduced me to them
        </li>
        <li>
          Yesterday I called Jason on the phone. He wasn’t home, so I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans13page38"
            [(ngModel)]="libro.ans13Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to his sister
        </li>
        <li>
          When I introduced Tom to Ryan, they
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans14page38"
            [(ngModel)]="libro.ans14Page38"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          hands and smiled at each other
        </li>
      </ol>
    </div>
  </div>
</div>
