<div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="my-2">Grammar flash:</h4>
      <!-- audio l1 219-->
      <audio id="a27p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F219.mp3?alt=media&token=5adc6954-2856-41ed-9654-294efe841474"
        />
      </audio>
      <button
        (click)="reproducirAudio('a27p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 220-->
      <audio id="a28p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F220.mp3?alt=media&token=0f413f0b-b8c3-4bea-985e-c24dd190704c"
        />
      </audio>
      <button
        (click)="reproducirAudio('a28p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 221-->
      <audio id="a29p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F221.mp3?alt=media&token=f8d9993f-1ed9-477d-b320-16b923253b82"
        />
      </audio>
      <button
        (click)="reproducirAudio('a29p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 222-->
      <audio id="a30p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F222.mp3?alt=media&token=c5bf1e12-724c-481b-a4ae-3b020259490d"
        />
      </audio>
      <button
        (click)="reproducirAudio('a30p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 223-->
      <audio id="a31p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F223.mp3?alt=media&token=dba54d47-9ed0-4878-8669-7bd82ff06f24"
        />
      </audio>
      <button
        (click)="reproducirAudio('a31p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 224-->
      <audio id="a32p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F224.mp3?alt=media&token=c3395e80-7d03-4c52-8650-9331dd6f3b28"
        />
      </audio>
      <button
        (click)="reproducirAudio('a32p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 225-->
      <audio id="a33p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F225.mp3?alt=media&token=c73e0319-7f91-46b0-a181-2f9ba5e2dce2"
        />
      </audio>
      <button
        (click)="reproducirAudio('a33p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 226-->
      <audio id="a34p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F226.mp3?alt=media&token=8e9d2f95-d403-450b-8415-03e0aa8f8d7e"
        />
      </audio>
      <button
        (click)="reproducirAudio('a34p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 227-->
      <audio id="a35p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F227.mp3?alt=media&token=b24b27ba-14fd-491f-8961-0d80afee179d"
        />
      </audio>
      <button
        (click)="reproducirAudio('a35p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 228-->
      <audio id="a36p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F228.mp3?alt=media&token=32ad72e6-cbc9-46b4-bb50-5b5b4bd39783"
        />
      </audio>
      <button
        (click)="reproducirAudio('a36p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 229-->
      <audio id="a37p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F229.mp3?alt=media&token=960ce227-8b2a-4047-9e7d-d38f9835b7a1"
        />
      </audio>
      <button
        (click)="reproducirAudio('a37p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 230-->
      <audio id="a38p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F230.mp3?alt=media&token=234d9d20-98a4-45ec-9c55-034396e8f8b6"
        />
      </audio>
      <button
        (click)="reproducirAudio('a38p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 231-->
      <audio id="a39p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F231.mp3?alt=media&token=7022bc3d-bbf6-4895-8666-0cb0b13b567e"
        />
      </audio>
      <button
        (click)="reproducirAudio('a39p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 232-->
      <audio id="a40p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F232.mp3?alt=media&token=fd4111d0-4e44-4aa4-b6ad-7d29d4cae1ad"
        />
      </audio>
      <button
        (click)="reproducirAudio('a40p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <!-- audio l1 233-->
      <audio id="a41p14l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F233.mp3?alt=media&token=7c25fc2e-cb89-4020-9c69-7a875b2fbbd5"
        />
      </audio>
      <button
        (click)="reproducirAudio('a41p14l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fcuadro4.png?alt=media&token=9e40e299-ac6d-46b8-9a4b-5627295bd835"
        class="img-fluid m-1 rounded m-2"
        alt="img"
      />
    </div>
    <div class="col-md-6">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Teacher</th>
            <th>Student</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- audio l1 234-->
              <audio id="a1p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F234.mp3?alt=media&token=7d0bbdd7-c694-493e-9208-3b920ab20d61"
                />
              </audio>
              <button
                (click)="reproducirAudio('a1p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              She is in the house
            </td>
            <td>
              <!-- audio l1 235-->
              <audio id="a2p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F235.mp3?alt=media&token=fc49ae7a-e310-4a46-8f66-455be2b09e3a"
                />
              </audio>
              <button
                (click)="reproducirAudio('a2p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              She is in the house
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 236-->
              <audio id="a3p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F236.mp3?alt=media&token=f97be46a-d11d-4e44-bf60-11e19a86b6ef"
                />
              </audio>
              <button
                (click)="reproducirAudio('a3p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (He)
            </td>
            <td>
              <!-- audio l1 237-->
              <audio id="a4p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F237.mp3?alt=media&token=9598b6df-4836-47c9-8c50-c5dbf702261a"
                />
              </audio>
              <button
                (click)="reproducirAudio('a4p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              He is in the house
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 238-->
              <audio id="a5p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F238.mp3?alt=media&token=2a860095-f4df-488a-a120-980c3506d8a0"
                />
              </audio>
              <button
                (click)="reproducirAudio('a5p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (They)
            </td>
            <td>
              <!-- audio l1 239-->
              <audio id="a6p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F239.mp3?alt=media&token=9da9eb92-4aad-4527-ac05-429f7c646f6d"
                />
              </audio>
              <button
                (click)="reproducirAudio('a6p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              They are in the house
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 240-->
              <audio id="a7p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F240.mp3?alt=media&token=478fd9aa-37d7-41ea-8e36-66dc7a219a29"
                />
              </audio>
              <button
                (click)="reproducirAudio('a7p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (I)
            </td>
            <td>
              <!-- audio l1 241-->
              <audio id="a8p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F241.mp3?alt=media&token=fc00e69a-d779-4bb5-b94b-236b259ebeb9"
                />
              </audio>
              <button
                (click)="reproducirAudio('a8p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              I am in the house
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 242-->
              <audio id="a9p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F242.mp3?alt=media&token=eccf7d80-f9a9-4222-8d8a-2d3b3602c74d"
                />
              </audio>
              <button
                (click)="reproducirAudio('a9p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (We)
            </td>
            <td>
              <!-- audio l1 243-->
              <audio id="a10p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F243.mp3?alt=media&token=9a7a52eb-6fb1-4329-a550-2ba32ffd654c"
                />
              </audio>
              <button
                (click)="reproducirAudio('a10p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              We are in the house
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 244-->
              <audio id="a11p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F244.mp3?alt=media&token=a3c1fbef-d2c8-422b-b602-d803e7e47220"
                />
              </audio>
              <button
                (click)="reproducirAudio('a11p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (On the table)
            </td>
            <td>
              <!-- audio l1 245-->
              <audio id="a12p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F245.mp3?alt=media&token=abeb35f4-f58d-49b7-9d0a-965510d13168"
                />
              </audio>
              <button
                (click)="reproducirAudio('a12p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              We are on the table
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 246-->
              <audio id="a13p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F246.mp3?alt=media&token=67191d44-f766-48e6-a185-845d222135ef"
                />
              </audio>
              <button
                (click)="reproducirAudio('a13p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (In front of the teacher)
            </td>
            <td>
              <!-- audio l1 247-->
              <audio id="a14p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F247.mp3?alt=media&token=e36da7fb-e045-4106-a23f-3e94dd4e68eb"
                />
              </audio>
              <button
                (click)="reproducirAudio('a14p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              We are in front of the teacher
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 248-->
              <audio id="a15p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F248.mp3?alt=media&token=3e8a8683-8ad1-43dd-b3c6-87838a3c8b93"
                />
              </audio>
              <button
                (click)="reproducirAudio('a15p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (Maria)
            </td>
            <td>
              <!-- audio l1 249-->
              <audio id="a16p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F249.mp3?alt=media&token=50cf147a-fc38-439f-a7e9-c49c21935429"
                />
              </audio>
              <button
                (click)="reproducirAudio('a16p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              She is in front of the teacher
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 250-->
              <audio id="a17p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F250.mp3?alt=media&token=b68d646e-64ca-4d36-83c9-0b3d82e0ece3"
                />
              </audio>
              <button
                (click)="reproducirAudio('a17p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (Janet and her brother)
            </td>
            <td>
              <!-- audio l1 251-->
              <audio id="a18p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F251.mp3?alt=media&token=b246b4c2-3d84-455f-9abf-023fd20b8667"
                />
              </audio>
              <button
                (click)="reproducirAudio('a18p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              They are in front of the teacher
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 252-->
              <audio id="a19p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F252.mp3?alt=media&token=1f141475-44af-437b-a4df-55acb53eeeb4"
                />
              </audio>
              <button
                (click)="reproducirAudio('a19p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (You and your friend)
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 253-->
                <audio id="a20p14l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F253.mp3?alt=media&token=3b4bbd68-72ae-4709-8204-e44a194bc1a7"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a20p14l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans1Page14"
                [(ngModel)]="libro.ans1Page14"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 254-->
              <audio id="a21p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F254.mp3?alt=media&token=75e1ed3d-c46e-49a7-b302-ce7d8b00ec04"
                />
              </audio>
              <button
                (click)="reproducirAudio('a21p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (Maria and Jose)
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 255-->
                <audio id="a22p14l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F255.mp3?alt=media&token=4bf2c0a3-b0c8-4d0c-b190-dd37e087df67"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a22p14l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans2Page14"
                [(ngModel)]="libro.ans2Page14"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 256-->
              <audio id="a23p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F256.mp3?alt=media&token=6294716c-84ea-4147-b443-b2d2be056241"
                />
              </audio>
              <button
                (click)="reproducirAudio('a23p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (The car)
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 257-->
                <audio id="a24p14l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F257.mp3?alt=media&token=c07d498a-6d40-4a04-832f-b57a4c1bc6f5"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a24p14l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans3Page14"
                [(ngModel)]="libro.ans3Page14"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 258-->
              <audio id="a25p14l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F258.mp3?alt=media&token=03c89d77-9503-4ab3-ba9f-8a8577b966e8"
                />
              </audio>
              <button
                (click)="reproducirAudio('a25p14l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (The chair)
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 259-->
                <audio id="a26p14l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F259.mp3?alt=media&token=fb60a014-da66-41fb-a47f-c714bbd0ae60"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a26p14l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans4Page14"
                [(ngModel)]="libro.ans4Page14"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
