<div>
    <div class="row">

        <div class="col-md-12">
            <h4 class="my-2 text-center">AT THE REAL STATE AGENCY</h4>
        </div>
        <div class="col-md-6 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F166.png?alt=media&token=f679ba7a-d634-41bf-891f-8eaeef0cf65d" class="img-fluid rounded p-1" alt="img">
            <hr class="my-2">
            <h6>ROLLED - PLAY </h6>
            <p class="justify">Act this out in front of the class You're at the real estate agency asking for information about an apartment or a house Get as much information as you can.</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        Is there a large kitchen in the apartment?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        Yes, there is, and there's a nice Dining room too.
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        <input type="text" class="form-control input" name="ans1page53" [(ngModel)]="libro.ans1Page53" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> bedrooms?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        <input type="text" class="form-control input" name="ans2page53" [(ngModel)]="libro.ans2Page53" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">  Three large bedrooms.
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        <input type="text" class="form-control input" name="ans3page53" [(ngModel)]="libro.ans3Page53" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">  closets in the bedrooms?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        Yes, <input type="text" class="form-control input" name="ans4page53" [(ngModel)]="libro.ans4Page53" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">; and <input type="text" class="form-control input" name="ans5page53" [(ngModel)]="libro.ans5Page53" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> a bath tub in the bathroom.
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        <input type="text" class="form-control input" name="ans7page53" [(ngModel)]="libro.ans7Page53" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> bathrooms in the apartment?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        <input type="text" class="form-control input" name="ans6page53" [(ngModel)]="libro.ans6Page53" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">   three bathrooms two in the bedrooms and one in the hall.
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        How much is the rent?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        U$250 every month
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        When Can I see it?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        Let's go, now
                    </span>
                </div>
            </div>

        </div>
    </div>