<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">UNIT 3</span></h1>
            <h3 class="text-center">OBJECT PRONOUNS</h3>
            <h6>VOCABULARY</h6>
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 1.</strong> Paint
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 2.</strong> Call
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 3.</strong> Visit
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong>  4. </strong> Buy
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 5.</strong> Think about
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 6.</strong> Write a letter
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 7.</strong> Say Hello
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 8.</strong> Cut your hair
        </div>
        <div class="col-md-4 col-6 my-2 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75 " alt=""><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 9.</strong> Do your exercises
        </div>
    </div>
</div>