<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">UNIT 3</span></h1>
      <h3 class="text-center">OBJECT PRONOUNS</h3>
      <h6>VOCABULARY</h6>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F31.jpg?alt=media&token=88306569-9c24-48b5-9853-a4b67fef137a"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div>
        <audio id="a1p10l3" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F28.mp3?alt=media&token=15479684-3c09-4ec7-aa50-add088003803"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p10l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <strong> 1.</strong> Paint
      </div>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F32.jpg?alt=media&token=9782dda4-1d2f-4b91-8f3d-87c878eb790b"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div><strong> 2.</strong> Call</div>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F33.jpg?alt=media&token=14aa8c32-f10c-4590-b44f-a49770cec1c1"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div><strong> 3.</strong> Visit</div>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F34.jpg?alt=media&token=a0ef33b3-7c80-4ea7-8e9c-868510dbb4c9"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div>
        <audio id="a2p10l3" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F29.mp3?alt=media&token=10501fd5-a2de-45ea-88bc-f7d42c2ae773"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p10l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <strong> 4. </strong> Buy
      </div>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F35.jpg?alt=media&token=35477c1f-83ef-4c34-accf-d75d334c0cc0"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div><strong> 5.</strong> Think about</div>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F36.jpg?alt=media&token=3987fd09-b8a0-47ed-bcea-5881ccc4b75d"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div><strong> 6.</strong> Write a letter</div>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F37.jpg?alt=media&token=f56baa54-b67a-40b2-afec-169b558a7b3d"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div>
        <audio id="a3p10l3" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F30.mp3?alt=media&token=294391cb-941d-4481-b5b2-bebb8fc10142"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p10l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <strong> 7.</strong> Say Hello
      </div>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F38.jpg?alt=media&token=fe433e2d-7576-4893-a06f-e93dd68cd749"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div><strong> 8.</strong> Cut your hair</div>
    </div>
    <div class="col-md-3 col-6 my-2 card border-info center p-1">
      <div class="justify-content-center d-flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F39.jpg?alt=media&token=32e7a226-476e-4210-92ff-7903aab2349c"
          class="img-fluid rounded w-75"
          alt="img"
        /><br />
      </div>
      <div><strong> 9.</strong> Do your exercises</div>
    </div>
  </div>
</div>
