<div>
  <div class="row">
    <div class="col-md-6">
      <h6 class="text-white center verde2 my-2">ACTIVITY 2.12</h6>
      <strong class="my-2">Can or Can't?</strong>
      <ol>
        <li>
          My brother is a chef in a bakery. He
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            value="can"
            disabled
            id=""
          />
          bake pies and cakes.
        </li>
        <li>
          They
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            value="can't"
            disabled
            id=""
          />
          sing. They aren’t very good singers.
        </li>
        <li>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans1page39"
            [(ngModel)]="libro.ans1Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          drive a truck? Of course she
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans2page39"
            [(ngModel)]="libro.ans2Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />. She’s a truck driver.
        </li>
        <li>
          The chef in that restaurant
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans3page39"
            [(ngModel)]="libro.ans3Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          cook! the food is terrible!
        </li>
        <li>
          Of course I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans4page39"
            [(ngModel)]="libro.ans4Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          fix cars. I’m a mechanic.
        </li>
        <li>
          That actor is terrible! He
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans5page39"
            [(ngModel)]="libro.ans5Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          act!
        </li>
        <li>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans6page39"
            [(ngModel)]="libro.ans6Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          they dance? Of course they
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans7page39"
            [(ngModel)]="libro.ans7Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />. They’re dancers on TV.
        </li>
        <li>
          I’m a very good cashier. I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans8page39"
            [(ngModel)]="libro.ans8Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          use a cash register
        </li>
        <li>
          My new secretary isn’t very good. He
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans9page39"
            [(ngModel)]="libro.ans9Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          type, and he
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans10page39"
            [(ngModel)]="libro.ans10Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          on the telephone.
        </li>
        <li>
          They’re very athletic. They
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans11page39"
            [(ngModel)]="libro.ans11Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          skate, they
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans12page39"
            [(ngModel)]="libro.ans12Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          ski, and they
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans13page39"
            [(ngModel)]="libro.ans13Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          play soccer
        </li>
        <li>
          My friend George can only speak English. He
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans14page39"
            [(ngModel)]="libro.ans14Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          speak Spanish, and he
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans15page39"
            [(ngModel)]="libro.ans15Page39"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          speak French.
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <h6 class="text-white center verde2 my-2">ACTIVITY 2.13</h6>
      <strong class="my-2">A TERRIBLE DAY AND A WONDERFUL DAY</strong>
      <p class="justify">
        We
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          value="were"
          disabled
          id=""
        />
        very upset at work last Friday. Our computers
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans16page39"
          [(ngModel)]="libro.ans16Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        broken, our boss
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans17page39"
          [(ngModel)]="libro.ans17Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        angry because he
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans18page39"
          [(ngModel)]="libro.ans18Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        tired, and my friends and I
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans19page39"
          [(ngModel)]="libro.ans19Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        sick. Outside it
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans20page39"
          [(ngModel)]="libro.ans20Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        cloudy and it
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans21page39"
          [(ngModel)]="libro.ans21Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        very cold. And then in the afternoon all the trains
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans22page39"
          [(ngModel)]="libro.ans22Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        late. I
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans23page39"
          [(ngModel)]="libro.ans23Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        hungry when I got home, and my children
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans24page39"
          [(ngModel)]="libro.ans24Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        very noisy. It
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans25page39"
          [(ngModel)]="libro.ans25Page39"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        a terrible day!
      </p>
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-38.PNG?alt=media&token=0850ac7a-3648-4774-93a3-860f2ebe5d3a"
          class="img-fluid m-1 w-75"
          alt="img"
        />
      </div>
    </div>
  </div>
</div>
