<div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li> / finish work/class? <input type="text" class="form-control" name="" id=""></li>
                <li> / get home? <input type="text" class="form-control" name="" id=""></li>
                <li> / have dinner? <input type="text" class="form-control" name="" id=""></li>
                <li> / go to bed? <input type="text" class="form-control" name="" id=""></li>

                <h6>Other questions</h6>
                <li> What / do after you wake up? <input type="text" class="form-control" name="" id=""></li>
                <li> What / have for breakfast? <input type="text" class="form-control" name="" id=""></li>
                <li> How / go to work/class? <input type="text" class="form-control" name="" id=""></li>
                <li> Where / have lunch? <input type="text" class="form-control" name="" id=""></li>
                <li> What / usually eat for lunch? <input type="text" class="form-control" name="" id=""></li>
                <li> What / do when you get home? <input type="text" class="form-control" name="" id=""></li>
                <li> What / do in the evening? <input type="text" class="form-control" name="" id=""></li>
            </ul>

        </div>

        <div class="col-md-6">
            <h5 class="center">ORAL PRACTICE</h5>
            <p>Each sentence below has been split into three parts. Work with a partner and join the three parts of each sentence together to make a school rule. Write the sentences on a separate piece of paper.

            </p>
            <p>The first pair to complete all the sentences correctly is the winner.</p>

            <table class="table-bordered table-striped table-responsive">
                <tbody>
                    <tr>
                        <td class="p-1">1. Classes start at 9 o'clock, so you... </td>
                        <td class="p-1">don’t have to</td>
                        <td class="p-1">...make personal calls inside the school</td>
                    </tr>
                    <tr>
                        <td class="p-1">2. It’s important to ask your teacher for permission to go to the bathroom, so you...</td>
                        <td class="p-1">have to</td>
                        <td class="p-1">...be back in the classroom by 1 o’clock</td>
                    </tr>
                    <tr>
                        <td class="p-1">3. The office secretary is responsible for the photocopier, so you...</td>
                        <td class="p-1">have to </td>
                        <td class="p-1">...make a noise outside his door.
                        </td>
                    </tr>
                    <tr>
                        <td class="p-1">4. All students have one hour for lunch, so you...</td>
                        <td class="p-1">can’t</td>
                        <td class="p-1">...be quiet. </td>
                    </tr>
                    <tr>
                        <td class="p-1">5. All students must wear a school uniform, so you..
                        </td>
                        <td class="p-1">don’t have to</td>
                        <td class="p-1">...leave the school to get something to eat.
                        </td>
                    </tr>
                    <tr>
                        <td class="p-1">6. When the teacher is speaking, you...</td>
                        <td class="p-1">can’t</td>
                        <td class="p-1">...give your teacher a note from your parents.
                        </td>
                    </tr>
                    <tr>
                        <td class="p-1">7. Water is free, so you...</td>
                        <td class="p-1">can't</td>
                        <td class="p-1">...make photocopies without her permission.</td>
                    </tr>
                    <tr>
                        <td class="p-1">8. You must turn off your mobile phone, because you...
                        </td>
                        <td class="p-1">have to</td>
                        <td class="p-1">...buy drinks.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>