<div>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>
          / finish work/class?
          <input
            type="text"
            class="form-control"
            name="ans7page44"
            [(ngModel)]="libro.ans7Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          / get home?
          <input
            type="text"
            class="form-control"
            name="ans8page44"
            [(ngModel)]="libro.ans8Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          / have dinner?
          <input
            type="text"
            class="form-control"
            name="ans9page44"
            [(ngModel)]="libro.ans9Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          / go to bed?
          <input
            type="text"
            class="form-control"
            name="ans10page44"
            [(ngModel)]="libro.ans10Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>

        <h6>Other questions</h6>
        <li>
          What / do after you wake up?
          <input
            type="text"
            class="form-control"
            name="ans11page44"
            [(ngModel)]="libro.ans11Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          What / have for breakfast?
          <input
            type="text"
            class="form-control"
            name="ans12page44"
            [(ngModel)]="libro.ans12Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          How / go to work/class?
          <input
            type="text"
            class="form-control"
            name="ans13page44"
            [(ngModel)]="libro.ans13Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Where / have lunch?
          <input
            type="text"
            class="form-control"
            name="ans14page44"
            [(ngModel)]="libro.ans14Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          What / usually eat for lunch?
          <input
            type="text"
            class="form-control"
            name="ans15page44"
            [(ngModel)]="libro.ans15Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          What / do when you get home?
          <input
            type="text"
            class="form-control"
            name="ans16page44"
            [(ngModel)]="libro.ans16Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          What / do in the evening?
          <input
            type="text"
            class="form-control"
            name="ans17page44"
            [(ngModel)]="libro.ans17Page44"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h5 class="center">ORAL PRACTICE</h5>
      <p>
        Each sentence below has been split into three parts. Work with a partner
        and join the three parts of each sentence together to make a school
        rule. Write the sentences on a separate piece of paper.
      </p>
      <p>
        The first pair to complete all the sentences correctly is the winner.
      </p>

      <table class="table table-bordered table-striped table-responsive">
        <tbody>
          <tr>
            <td class="p-1">
              <!-- audio 121 -->
              <audio id="a1p44l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F121.mp3?alt=media&token=110cf1c4-0557-4e1f-81dd-006ad59177b4"
                />
              </audio>
              <button
                (click)="reproducirAudio('a1p44l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              1. Classes start at 9 o'clock, so you...
            </td>
            <td class="p-1">don’t have to</td>
            <td class="p-1">...make personal calls inside the school</td>
          </tr>
          <tr>
            <td class="p-1">
              <!-- audio 122 -->
              <audio id="a2p44l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F122.mp3?alt=media&token=ba959019-eb0a-481b-8fbf-1b83ec6fd2ba"
                />
              </audio>
              <button
                (click)="reproducirAudio('a2p44l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              2. It’s important to ask your teacher for permission to go to the
              bathroom, so you...
            </td>
            <td class="p-1">have to</td>
            <td class="p-1">...be back in the classroom by 1 o’clock</td>
          </tr>
          <tr>
            <td class="p-1">
              <!-- audio 123-->
              <audio id="a3p44l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F123.mp3?alt=media&token=a0b3eecb-5571-40ea-a7ec-3dfe74090db0"
                />
              </audio>
              <button
                (click)="reproducirAudio('a3p44l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              3. The office secretary is responsible for the photocopier, so
              you...
            </td>
            <td class="p-1">have to</td>
            <td class="p-1">...make a noise outside his door.</td>
          </tr>
          <tr>
            <td class="p-1">
              <!-- audio 124-->
              <audio id="a4p44l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F124.mp3?alt=media&token=f62554a6-429c-4e13-8f3b-2f592d77cbe2"
                />
              </audio>
              <button
                (click)="reproducirAudio('a4p44l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              4. All students have one hour for lunch, so you...
            </td>
            <td class="p-1">can’t</td>
            <td class="p-1">...be quiet.</td>
          </tr>
          <tr>
            <td class="p-1">
              <!-- audio 125-->
              <audio id="a5p44l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F125.mp3?alt=media&token=ccbee5ce-041e-459a-841f-81bc6f7902d3"
                />
              </audio>
              <button
                (click)="reproducirAudio('a5p44l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              5. All students must wear a school uniform, so you..
            </td>
            <td class="p-1">don’t have to</td>
            <td class="p-1">...leave the school to get something to eat.</td>
          </tr>
          <tr>
            <td class="p-1">
              <!-- audio 126-->
              <audio id="a6p44l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F126.mp3?alt=media&token=ad686c8b-eaea-4c54-ae90-705c8d68ef74"
                />
              </audio>
              <button
                (click)="reproducirAudio('a6p44l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              6. When the teacher is speaking, you...
            </td>
            <td class="p-1">can’t</td>
            <td class="p-1">...give your teacher a note from your parents.</td>
          </tr>
          <tr>
            <td class="p-1">
              <!-- audio 127-->
              <audio id="a7p44l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F127.mp3?alt=media&token=8122167f-c9b6-4cc5-aaf4-0fd8b8a64b76"
                />
              </audio>
              <button
                (click)="reproducirAudio('a7p44l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              7. Water is free, so you...
            </td>
            <td class="p-1">can't</td>
            <td class="p-1">...make photocopies without her permission.</td>
          </tr>
          <tr>
            <td class="p-1">
              <!-- audio -->
              <audio id="a8p44l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F128.mp3?alt=media&token=96106929-c342-41bb-b96d-d08c668f358a"
                />
              </audio>
              <button
                (click)="reproducirAudio('a8p44l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              8. You must turn off your mobile phone, because you...
            </td>
            <td class="p-1">have to</td>
            <td class="p-1">...buy drinks.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
