<div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <h6>OTHER: </h6>
                <li class=" my-1">List any vegetables or fruits you don’t ever want to <input type="text" placeholder="answer" name="" id=""></li>
                <li class=" my-1">List any other food dislikes <input type="text" placeholder="answer" name="" id=""></li>
                <li class=" my-1">List any known food allergies <input type="text" placeholder="answer" name="" id=""></li>
                <li class=" my-1">Rate your preference for spicy foods - bland/mild/moderate/ <input type="text" placeholder="answer" name="" id=""></li>
                <li class=" my-1">Do you enjoy wine with your meals? Dessert? <input type="text" placeholder="answer" name="" id=""></li>
                <li class=" my-1">Is it ok to use alcohol in your meals? <input type="text" placeholder="answer" name="" id=""></li>
                <li class=" my-1">Do you have any favorite recipes that I can prepare for you? <input type="text" placeholder="answer" name="" id=""></li>
                <li class=" my-1">Do you prefer home-style or gourmet meals? Or both? <input type="text" placeholder="answer" name="" id=""></li>
                <li class=" my-1">What kind of portion size do you like? – small/medium/large <input type="text" placeholder="answer" name="" id=""></li>
                <strong>Describe a typical meal for you </strong>
                <input type="text" placeholder="answer" class="form-control" name="" id="">
            </ul>
        </div>
        <hr>
        <div class="col-md-12">
            <h3 class="center">Food: Eating Habits</h3>
            <p>Work with your partner to match the following words and phrases with the pictures below.</p>
            <span class="badge bg-info m-1">hot food</span>
            <span class="badge bg-info m-1">chocolate</span>
            <span class="badge bg-info m-1">chips</span>
            <span class="badge bg-info m-1">chewing</span>
            <span class="badge bg-info m-1">gum</span>
            <span class="badge bg-info m-1">eating with chopsticks</span>
            <span class="badge bg-info m-1">drinking through a straw</span>

            <br>
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg29_libroA1.png?alt=media&token=b37d7493-d4f9-4f45-a0d8-9e6a2ccb6aa3" alt="" class="img-fluid my-2">
            <input type="text" class="form-control" placeholder="answer" name="" id="">
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg27_libroA1.png?alt=media&token=5d1c242b-5919-4dda-b78f-1980895d99d3" alt="" class="img-fluid my-2">
            <input type="text" class="form-control" placeholder="answer" name="" id="">
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg30_libroA1.png?alt=media&token=9a9468ff-5aa5-4b0f-9340-8960ad14c785" alt="" class="img-fluid my-2">
            <input type="text" class="form-control" placeholder="answer" name="" id="">
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg28_libroA1.png?alt=media&token=9052c2ec-faf0-4ce6-b027-250151a3bc78" alt="" class="img-fluid my-2">
            <input type="text" class="form-control" placeholder="answer" name="" id="">
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg26_libroA1.png?alt=media&token=62266614-8562-41d8-a83a-b6dfa314c322" alt="" class="img-fluid my-2">
            <input type="text" class="form-control" placeholder="answer" name="" id="">
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg31_libroA1.png?alt=media&token=a0d24f84-7b66-4d7b-9a44-97ca73843b29" alt="" class="img-fluid my-2">
            <input type="text" class="form-control" placeholder="answer" name="" id="">
        </div>
    </div>
</div>