<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="my-2">
        Complete the sentences. Use the information in the reading
      </h6>
      <ol>
        <li>
          People eat food. Some people also use food as
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans1page68"
            [(ngModel)]="libro.ans1Page68"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          .
        </li>
        <li>
          Some people use ripe
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans2page68"
            [(ngModel)]="libro.ans2Page68"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to make their eyes feel better.
        </li>
        <li>
          To take away a
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans3page68"
            [(ngModel)]="libro.ans3Page68"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          , you can use ripe bananas.
        </li>
        <li>
          Cucumber slices can help your
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans4page68"
            [(ngModel)]="libro.ans4Page68"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />.
        </li>
        <li>
          Some people say garlic and
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans5page68"
            [(ngModel)]="libro.ans5Page68"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          will make a cold go away.
        </li>
      </ol>
    </div>
    <div class="col-md-12 my-3">
      <h6>
        I. Read the ingredients on the recipe card. Add some of your own
        favorite ingredients.
      </h6>
    </div>
    <div class="col-md-4 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-22.webp?alt=media&token=25f154a6-9a85-4815-ab4f-b938b2255dfa"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-4 card border-info">
      <strong>
        carrots, cheese, soda, oil, teriyaki sauce, flour, tomatoes, mushrooms,
        one lemon, onions, ice cream, chocolate sauce, strongeanuts, crackers,
        peaches and beans...
      </strong>
      <textarea
        class="form-control"
        name="ans6page68"
        [(ngModel)]="libro.ans6Page68"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="5"
      ></textarea>
    </div>
    <div class="col-md-4 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-23.webp?alt=media&token=1d1d8007-043b-4111-82ab-7f3b8b9ea321"
        class="img-fluid"
        alt="img"
      />
    </div>
  </div>
</div>
