<div>
    <div class="row">
        <div class="col-md-3 col-12 center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 1. </strong>
            <span> <strong>A.</strong> How often do you visit your mother?
            </span> <span><strong>B.</strong> <input type="text" class="form-control" placeholder="Answer" name="" id=""></span>
        </div>
        <div class="col-md-3 col-12 center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 2. </strong>
            <span> <strong>A.</strong> How often does she paint the house?
            </span> <span><strong>B.</strong> <input type="text" class="form-control" placeholder="Answer" name="" id=""></span>
        </div>
        <div class="col-md-3 col-12 center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 3. </strong>
            <span> <strong>A.</strong> How often do they say hello to you?
            </span> <span><strong>B.</strong> <input type="text" class="form-control" placeholder="Answer" name="" id=""></span>
        </div>
        <div class="col-md-3 col-12 center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 4. </strong>
            <span> <strong>A.</strong> How often do you think about me?
            </span> <span><strong>B.</strong> <input type="text" class="form-control" placeholder="Answer" name="" id=""></span>
        </div>
        <div class="col-md-3 col-12 center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 5. </strong>
            <span> <strong>A.</strong> how often does your father cut his hair?
            </span> <span><strong>B.</strong> <input type="text" class="form-control" placeholder="Answer" name="" id=""></span>
        </div>
        <div class="col-md-3 col-12 center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 6. </strong>
            <span> <strong>A.</strong> How often does your brother do his exercises?
            </span> <span><strong>B.</strong> <input type="text" class="form-control" placeholder="Answer" name="" id=""></span>
        </div>
        <div class="col-md-3 col-12 center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 7. </strong>
            <span> <strong>A.</strong> How often do your parentes buy groceries?
            </span> <span><strong>B.</strong> <input type="text" class="form-control" placeholder="Answer" name="" id=""></span>
        </div>
        <div class="col-md-3 col-12 center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 8. </strong>
            <span> <strong>A.</strong> How often does she write to her mother?
            </span> <span><strong>B.</strong> <input type="text" class="form-control" placeholder="Answer" name="" id=""></span>
        </div>
    </div>
</div>