<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 4.13</h6>
      <p>
        Complete the sentences with the words in parentheses. Use the simple
        past or the past progressive
      </p>
    </div>
    <div class="col-md-4 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-21.PNG?alt=media&token=11905490-ebb9-41de-9de2-30372da3cd6f"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-8">
      <ol>
        <li>
          At 6:00 P.M., Bob sat down at the table and began to ear. At 6:05, Bob
          <b>(eat)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans1page40"
            [(ngModel)]="libro.ans1Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          dinner
        </li>
        <li>
          While bob <b>(eat)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans2page40"
            [(ngModel)]="libro.ans2Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          dinner, Ann <b>(come)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans3page40"
            [(ngModel)]="libro.ans3Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          through the door
        </li>
        <li>
          In other words, when Ann <b>(come)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans4page40"
            [(ngModel)]="libro.ans4Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          through the door, Bob <b>(eat)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans5page40"
            [(ngModel)]="libro.ans5Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          dinner
        </li>
      </ol>
    </div>
    <div class="col-md-4 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-22.webp?alt=media&token=3dde8b53-cb99-47e9-9644-ba4f7043fb9d"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-8">
      <ol start="4">
        <li>
          Bob went to bed at 10:30. At 11:00 Bob <b>(sleep)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans6page40"
            [(ngModel)]="libro.ans6Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          While Bob <b> (sleep)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans7page40"
            [(ngModel)]="libro.ans7Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />, the phone <b>(ring)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans8page40"
            [(ngModel)]="libro.ans8Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          In other words, when the phone <b>(ring)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans9page40"
            [(ngModel)]="libro.ans9Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />, bob <b>(sleep)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans10page40"
            [(ngModel)]="libro.ans10Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-4 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-23.PNG?alt=media&token=58c5ee6d-2cad-4a81-b242-d022c968c788"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-8">
      <ol start="7">
        <li>
          Bob left his house at 8:00 A.M and <b>(begin)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans11page40"
            [(ngModel)]="libro.ans11Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to walk to class. While he <b>(walk)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans12page40"
            [(ngModel)]="libro.ans12Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to class, he <b>(see)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans13page40"
            [(ngModel)]="libro.ans13Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          when Bob <b>(see)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans14page40"
            [(ngModel)]="libro.ans14Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Mrs. Smith, she <b>(stand)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans15page40"
            [(ngModel)]="libro.ans15Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          on her front porch. She <b>(hold)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans16page40"
            [(ngModel)]="libro.ans16Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />

          a broom.Mrs. Smith <b>(wave)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans17page40"
            [(ngModel)]="libro.ans17Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />at Bob when she <b>(see)</b>
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans18page40"
            [(ngModel)]="libro.ans18Page40"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          him.
        </li>
      </ol>
    </div>
  </div>
</div>
