<div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center my-2">DESCRIBING PEOPLE 2 </h4>
        </div>
        <div class="col-md-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F200.jpg?alt=media&token=3b36ca9e-9dd6-4fe5-b37f-16df3d4d3c40" class="img-fluid rounded m-1" alt="img">
        </div>
        <div class="col-md-6">
            <ol>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans1page62" [(ngModel)]="libro.ans1Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Plump, with brown hair,
                    wearing a hat</li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans2page62" [(ngModel)]="libro.ans2Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Slim and tall, with long
                    brown hair and glasses</li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans3page62" [(ngModel)]="libro.ans3Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> short, with grey hair
                    and a moustache</li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans4page62" [(ngModel)]="libro.ans4Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Plum and short with brown
                    hair
                </li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans5page62" [(ngModel)]="libro.ans5Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Tall, with a mosutache
                    and a beard</li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans6page62" [(ngModel)]="libro.ans6Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> short, with brown hair
                    and glasses</li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans7page62" [(ngModel)]="libro.ans7Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Slim and tall, with long
                    wavy dark</li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans8page62" [(ngModel)]="libro.ans8Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> slim with short straight
                    red hair</li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans9page62" [(ngModel)]="libro.ans9Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> tall with receding hair
                </li>
                <li><input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans10page62" [(ngModel)]="libro.ans10Page62" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Short with wavy dark
                    hair
                </li>
            </ol>
        </div>
    </div>

</div>