<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center my-2">DESCRIBING PEOPLE 2</h4>
    </div>
    <div class="col-md-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F200.jpg?alt=media&token=3b36ca9e-9dd6-4fe5-b37f-16df3d4d3c40"
        class="img-fluid rounded m-1"
        alt="img"
      />
    </div>
    <div class="col-md-6">
      <ol>
        <li>
          <!-- audio l1 863-->
          <audio id="a1p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F863.mp3?alt=media&token=eb6b7eab-be1f-4bb6-bb35-848f08a02b05"
            />
          </audio>
          <button
            (click)="reproducirAudio('a1p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans1page62"
            [(ngModel)]="libro.ans1Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Plump, with brown hair, wearing a hat
        </li>
        <li>
          <!-- audio l1 864-->
          <audio id="a2p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F864.mp3?alt=media&token=3b9a30f3-54ea-4e79-95cd-61a26419de58"
            />
          </audio>
          <button
            (click)="reproducirAudio('a2p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans2page62"
            [(ngModel)]="libro.ans2Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Slim and tall, with long brown hair and glasses
        </li>
        <li>
          <!-- audio l1 865-->
          <audio id="a3p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F865.mp3?alt=media&token=abb6de5c-a301-4fb4-abb5-17f0b2570b04"
            />
          </audio>
          <button
            (click)="reproducirAudio('a3p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans3page62"
            [(ngModel)]="libro.ans3Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          short, with grey hair and a moustache
        </li>
        <li>
          <!-- audio l1 866-->
          <audio id="a4p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F866.mp3?alt=media&token=998d78c8-5ae6-4b10-95e2-c811d8ac3840"
            />
          </audio>
          <button
            (click)="reproducirAudio('a4p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans4page62"
            [(ngModel)]="libro.ans4Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Plum and short with brown hair
        </li>
        <li>
          <!-- audio l1 867-->
          <audio id="a5p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F867.mp3?alt=media&token=22bf11f5-e669-4c18-8ba5-6779995aa8d0"
            />
          </audio>
          <button
            (click)="reproducirAudio('a5p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans5page62"
            [(ngModel)]="libro.ans5Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Tall, with a mosutache and a beard
        </li>
        <li>
          <!-- audio l1 868-->
          <audio id="a6p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F868.mp3?alt=media&token=abd91dd0-b5e4-45d4-98b6-56678b8ffdf2"
            />
          </audio>
          <button
            (click)="reproducirAudio('a6p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans6page62"
            [(ngModel)]="libro.ans6Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          short, with brown hair and glasses
        </li>
        <li>
          <!-- audio l1 869-->
          <audio id="a7p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F869.mp3?alt=media&token=aba6ecd2-6979-4481-aea2-7ab1b0e55c0a"
            />
          </audio>
          <button
            (click)="reproducirAudio('a7p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans7page62"
            [(ngModel)]="libro.ans7Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Slim and tall, with long wavy dark
        </li>
        <li>
          <!-- audio l1 870-->
          <audio id="a8p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F870.mp3?alt=media&token=e3219cca-995b-4159-8f10-39848435673b"
            />
          </audio>
          <button
            (click)="reproducirAudio('a8p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans8page62"
            [(ngModel)]="libro.ans8Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          slim with short straight red hair
        </li>
        <li>
          <!-- audio l1 871-->
          <audio id="a9p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F871.mp3?alt=media&token=9a602bcf-8bd6-48b7-b8bf-1d5ba9b679f4"
            />
          </audio>
          <button
            (click)="reproducirAudio('a9p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans9page62"
            [(ngModel)]="libro.ans9Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          tall with receding hair
        </li>
        <li>
          <!-- audio l1 872-->
          <audio id="a10p61l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F872.mp3?alt=media&token=e1661040-d66d-42e8-a3c8-15732bd7e1ea"
            />
          </audio>
          <button
            (click)="reproducirAudio('a10p61l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans10page62"
            [(ngModel)]="libro.ans10Page62"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Short with wavy dark hair
        </li>
      </ol>
    </div>
  </div>
</div>
