<div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="m-3">GRAMMAR FLASH</h5>
            <h4 class="center">WH QUESTIONS</h4>
            <div class="d-flex justify-content-center">
                <table class="table-bordered table-responsive ">
                    <thead style="background-color: lightblue;">
                        <tr class="p-2">
                            <th class="p-2">Interrogative word
                            </th>
                            <th class="p-2">Auxiliary verb
                            </th>
                            <th class="p-2">Subject</th>
                            <th class="p-2">Verb + infinitive</th>
                            <th class="p-2">Complement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="p-2">
                                What
                                <br>When
                                <br>Where
                                <br>Why
                            </td>
                            <td class="p-2">Do
                                <br>Does
                                <br>Does
                                <br>Do</td>
                            <td class="p-2">They
                                <br>The dog
                                <br>She
                                <br>You</td>
                            <td class="p-2">Have to study
                                <br>Need to go out
                                <br>Like to eat?
                                <br>Want to get</td>
                            <td class="p-2">Every day?
                                <br>The house?
                                <br><br> A car?
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <hr class="my-3">
        </div>
        <div class="col-md-7">
            <h5>DRILLS</h5>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Teacher:</th>
                        <th>Students:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>He has to get a job...</td>
                        <td>What does he have to do?</td>
                    </tr>
                    <tr>
                        <td>They want to buy a car...</td>
                        <td>What <input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>Katherine likes to go dancing...</td>
                        <td>Where <input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>I need to travel tomorrow...</td>
                        <td>When <input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>We love to study... </td>
                        <td>What <input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>She wants to call Mario...</td>
                        <td>Who <input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>They need to visit their mom...</td>
                        <td>Who <input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5 card">
            <h6> HOMEWORK</h6>
            <h6>Reading Comprehension Assessment</h6>
            <br>
            <h5 class="center">"Spider Webs"</h5>
            <br>
            <p class="justify">All spiders spin webs. That's because webs help spiders. Webs help spiders do three things. Webs help spiders hide. And webs help spiders catch food. Webs help spiders hold eggs. Many spiders like to lay their eggs in their webs. The webs
                help keep the eggs together. Webs help spiders keep their eggs safe. </p>
            <p class="justify">Most spiders are dark. They are brown, grey, or black. But spider webs are light. They are white and cloudy. When spiders hide in their webs, they are harder to see. Spider webs are sticky. When a bug flies into the web, it gets stuck. It
                moves around. It tries to get out. But it can't. It is trapped! Spiders can tell that the bug is trapped. That's because spiders feel the web move. And the spider is hungry. The spider goes to get the bug. As you can see, webs help spiders
                hold eggs. Webs help spiders hide. And webs help spiders catch food. Without webs, spiders would not be able to live like they do. Spiders need their webs to survive!
            </p>
        </div>
    </div>
</div>