<div>
    <div class="row">
        <div class="col-md-12">
            <h1><span class="badge bg-warning my-2">Class 7</span></h1>
            <h3 class="text-center">Greeting #7</h3>
        </div>
        <div class="col-md-12 mt-2">
            <div class="d-flex align-items-center">
                <p> A. Hey, What have you been up to?</p>
            </div>
            <span class="badge bg-info mx-1"> Not much </span>
            <span class="badge bg-info mx-1"> hanging in there </span>
            <span class="badge bg-info mx-1"> Chilling </span>
            <span class="badge bg-info mx-1"> awesome </span>
            <p>... How about you?</p>
        </div>
        <div class="col-md-12">
            <h4 class="center">Food Questionnaire</h4>
            <p>Here is your opportunity to let us know what you prefer in your customized menu. Please check preferences and add comments. Cross out any foods that you don't like and never wish to see.</p>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>MEATS: </h6>
                <li>Beef (steak/roasts/ground round) </li>
                <li>Pork (chops/roasts/ribs/bacon/ham/ground) </li>
                <li>Veal (stew/ground/scallops) </li>
                <li>Lamb (chops/stew/ground/roasts) </li>
                <li>Meatloaf </li>
                <li>Sausage </li>
                <li>Meat and vegetable/pasta casseroles </li>
                Comments: <input type="text" name="" id="" class="form-control">
            </ul>
            <ul>
                <h6>POULTRY:</h6>
                <li>Chicken (breasts/thighs/ground/etc.) </li>
                <li>Turkey (breasts/smoked/ground/scalloped/etc.) </li>
                <li>Chicken or turkey meatloaf</li>
                <li>Chicken or turkey sausage </li>
                <li>Chicken or turkey and vegetable/pasta casseroles</li>
                Comments: <input type="text" name="" id="" class="form-control">
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>FISH/SHELLFISH:</h6>
                <li>Fish (bass, orange roughy, catfish, snapper, salmon, swordfish, halibut, tilapia, tuna, flounder, sole)</li>
                <li>Shrimp </li>
                <li>Scallops </li>
                <li>Clams, Mussels </li>
                <li>Crab </li>
                <li>Tuna (canned, in oil or water?) </li>
                Comments: <input type="text" name="" id="" class="form-control">
            </ul>
        </div>
    </div>
</div>