<div>
    <div class="row">

        <div class="col-md-4">
            <strong>For example:</strong>
            <p><br>I talked to Jen. We have some similarites. For example, both of us like to play music. I play guitar and X plays piano. Also, We aren't shy. We always gossip a lot. etc...</p>
        </div>
        <div class="col-md-8">
            <p>However, we also have some differences. I am artistic. I like to design clothes but Jen isn't artistic. She likes technology and knows how to use many devices. etc...
            </p>
            <textarea name="ans1page18" [(ngModel)]="libro.ans1Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mt-4">
            <h3>THE WEATHER:OPINIONS</h3>
            <p>Ask a partner what he/she likes or dislikes about topics concerning weather. Choose from the following or use your own ideas: summer, the hot season, the wet/rainy season, cloudy weather, windy weather, winter, lightning, thunder, spring,
                fall, the cool season, freezing weather, storms, floods, heatwaves…..etc.</p>
        </div>
        <div class="col-md-12 table-responsive mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Me</th>
                        <th>My partner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>The thing I like most about
                            <br><b>...summer</b></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans2page18" [(ngModel)]="libro.ans2Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans3page18" [(ngModel)]="libro.ans3Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like least about
                        </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans4page18" [(ngModel)]="libro.ans4Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans5page18" [(ngModel)]="libro.ans5Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about
                        </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans6page18" [(ngModel)]="libro.ans6Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans7page18" [(ngModel)]="libro.ans7Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans8page18" [(ngModel)]="libro.ans8Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans9page18" [(ngModel)]="libro.ans9Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans10page18" [(ngModel)]="libro.ans10Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans11page18" [(ngModel)]="libro.ans11Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans12page18" [(ngModel)]="libro.ans12Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans13page18" [(ngModel)]="libro.ans13Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans14page18" [(ngModel)]="libro.ans14Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans15page18" [(ngModel)]="libro.ans15Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans16page18" [(ngModel)]="libro.ans16Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans17page18" [(ngModel)]="libro.ans17Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans18page18" [(ngModel)]="libro.ans18Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans19page18" [(ngModel)]="libro.ans19Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans20page18" [(ngModel)]="libro.ans20Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans21page18" [(ngModel)]="libro.ans21Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans22page18" [(ngModel)]="libro.ans22Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans23page18" [(ngModel)]="libro.ans23Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>