<div>
    <div class="row">

        <div class="col-md-4">
            <strong>For example:</strong>
            <p><br>I talked to Jen. We have some similarites. For example, both of us like to play music. I play guitar and X plays piano. Also, We aren't shy. We always gossip a lot. etc...</p>
        </div>
        <div class="col-md-8">
            <p>However, we also have some differences. I am artistic. I like to design clothes but Jen isn't artistic. She likes technology and knows how to use many devices. etc...
            </p>
            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mt-4">
            <h3>THE WEATHER:OPINIONS</h3>
            <p>Ask a partner what he/she likes or dislikes about topics concerning weather. Choose from the following or use your own ideas: summer, the hot season, the wet/rainy season, cloudy weather, windy weather, winter, lightning, thunder, spring,
                fall, the cool season, freezing weather, storms, floods, heatwaves…..etc.</p>
        </div>
        <div class="col-md-12 table-responsive mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Me</th>
                        <th>My partner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>The thing I like most about
                            <br><b>...summer</b></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like least about
                        </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about
                        </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>The thing I like most about</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>