<div>
  <div class="row">
    <div class="col-md-8">
      <h4 class="my-2">ORAL PRACTICE</h4>
      <ul>
        <li>A. How much does a dozen eggs cost?</li>
        <li>B. Five and a quarter (5.25)</li>
        <li>A. Five twenty five, that’s a lot of money</li>
        <li>B. You’re right, eggs are very expensive now a days.</li>
      </ul>
    </div>
    <div class="col-md-4 card border-info my-1 text-center p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-19.webp?alt=media&token=f802ea10-0f31-4cb2-8182-ebb1ae3cac40"
          class="img-fluid w-50 w-50"
          alt="img"
        />
      </div>
    </div>
    <div class="col-md-12 my-2">
      <h6>A. Ask your classmate about these articles</h6>
    </div>
    <div class="col-md-3 col-6 card border-info my-1 text-center">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-13.jpg?alt=media&token=f2aa3842-5cdd-4ee7-8877-283475a314db"
          class="img-fluid w-50"
          alt="img"
        />
      </div>
      <p>1. A bunch of grapes</p>
    </div>
    <div class="col-md-3 col-6 card border-info my-1 text-center">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-14.jpg?alt=media&token=1656d6ae-0fdb-4928-9fee-091a2d953796"
          class="img-fluid w-50"
          alt="img"
        />
      </div>
      <p>2. A dozen oranges</p>
    </div>
    <div class="col-md-3 col-6 card border-info my-1 text-center">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-15.jpg?alt=media&token=d432572b-b066-4d28-9ed6-630816f37bf0"
          class="img-fluid w-50"
          alt="img"
        />
      </div>
      <p>3. A can of beans</p>
    </div>
    <div class="col-md-3 col-6 card border-info my-1 text-center">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-20.jpg?alt=media&token=f0ab0fed-f380-416d-bb75-83a87bead1ec"
          class="img-fluid w-50"
          alt="img"
        />
      </div>
      <p>4. A bag of sugar</p>
    </div>
    <div class="col-md-3 col-6 card border-info my-1 text-center">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-16.jpg?alt=media&token=4dbc9c9c-6172-418d-afa2-1a6404c68af1"
          class="img-fluid w-50"
          alt="img"
        />
      </div>
      <p>5. A box of cereal</p>
    </div>
    <div class="col-md-3 col-6 card border-info my-1 text-center">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-2.jpg?alt=media&token=594a889a-e774-4576-855b-243cf154b3d1"
          class="img-fluid w-50"
          alt="img"
        />
      </div>
      <p>6. A gallon of milk</p>
    </div>
    <div class="col-md-3 col-6 card border-info my-1 text-center">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-17.webp?alt=media&token=89f811ac-b617-4ce6-bda9-28b68969e1f8"
          class="img-fluid w-50"
          alt="img"
        />
      </div>
      <p>7. A bottle of soda</p>
    </div>
    <div class="col-md-3 col-6 card border-info my-1 text-center">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-5.jpg?alt=media&token=c205f148-f6cc-48b4-bfbe-e1e2b2e01cf8"
          class="img-fluid w-50"
          alt="img"
        />
      </div>
      <p>8. A head of lettuce</p>
    </div>
    <div class="col-md-12 mt-3">
      <h6>B. Use the sentences in C to describe how you make a fruit salad.</h6>
      <p>
        Use each of the words in the box (for some items, more than one is
        correct).
      </p>
      <div class="text-center">
        <span class="m-1 badge bg-primary">After </span>
        <span class="m-1 badge bg-primary">that </span>
        <span class="m-1 badge bg-primary">finally </span>
        <span class="m-1 badge bg-primary">first </span>
        <span class="m-1 badge bg-primary">next </span>
        <span class="m-1 badge bg-primary">then</span>
      </div>
      <ol>
        <li>
          <input
            type="text"
            class="form-control m-1"
            disabled
            value="First, you cut up 2 peaches, 1 cup of strawberries, 2 oranges, and 1 cup of watermelon"
            id=""
          />
        </li>
        <li>
          <input
            type="text"
            class="form-control m-1"
            name="ans1page63"
            [(ngModel)]="libro.ans1Page63"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          <input
            type="text"
            class="form-control m-1"
            name="ans2page63"
            [(ngModel)]="libro.ans2Page63"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          <input
            type="text"
            class="form-control m-1"
            name="ans3page63"
            [(ngModel)]="libro.ans3Page63"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          <input
            type="text"
            class="form-control m-1"
            name="ans4page63"
            [(ngModel)]="libro.ans4Page63"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
  </div>
</div>
