<div>
    <div class="row">
        <div class="col-md-3">
            <hr>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F178.jpg?alt=media&token=98080992-b6b7-4f30-9f47-b8033de88874" class="img-fluid rounded p-1" alt="img">
        </div>
        <div class="col-md-3">
            <hr>
            <input type="text" placeholder="A" class="form-control chat chat1 m-1" name="ans1page57" [(ngModel)]="libro.ans1Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="B" class="form-control chat chat2 m-1" name="ans2page57" [(ngModel)]="libro.ans2Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="A" class="form-control chat chat1 m-1" name="ans3page57" [(ngModel)]="libro.ans3Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="B" class="form-control chat chat2 m-1" name="ans4page57" [(ngModel)]="libro.ans4Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="A" class="form-control chat chat1 m-1" name="ans5page57" [(ngModel)]="libro.ans5Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="B" class="form-control chat chat2 m-1" name="ans6page57" [(ngModel)]="libro.ans6Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-3">
            <hr>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F174.jpg?alt=media&token=22d9ca0d-9713-41eb-ae94-26de36937113" class="img-fluid rounded p-1" alt="img">
        </div>
        <div class="col-md-3">
            <hr>
            <input type="text" placeholder="A" class="form-control chat chat1 m-1" name="ans7page57" [(ngModel)]="libro.ans7Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="B" class="form-control chat chat2 m-1" name="ans8page57" [(ngModel)]="libro.ans8Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="A" class="form-control chat chat1 m-1" name="ans9page57" [(ngModel)]="libro.ans9Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="B" class="form-control chat chat2 m-1" name="ans10page57" [(ngModel)]="libro.ans10Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="A" class="form-control chat chat1 m-1" name="ans11page57" [(ngModel)]="libro.ans11Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" placeholder="B" class="form-control chat chat2 m-1" name="ans12page57" [(ngModel)]="libro.ans12Page57" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <hr class="my-3">
        <div class="col-md-4">
            <h4 class="my-2">MOVE ON</h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F179.PNG?alt=media&token=ad643925-959f-405c-935d-cf8d873b1989" class="img-fluid rounded " alt="img">
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <ul>
                <li>A. Who is she?</li>
                <li>B. She's my new girlfriend</li>
                <li>A. Really! What's she like?</li>
                <li>B. She's tall, thin, sexy and rich</li>
                <li>A. Are you in love?</li>
                <li>B. Oh, yeah, I am in love</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4 class="my-2">TO DRILL WITH</h4>
            <ul>
                <li>He</li>
                <li>What is it like</li>
                <li>Do you like it?</li>
                <li>New pet</li>
                <li>Clean, nice</li>
            </ul>
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <ul>
                <li>Are you happy?</li>
                <li>Who is she?</li>
                <li>Tall, strong, handsome</li>
                <li>dirty</li>
            </ul>
        </div>
    </div>
</div>