<div>
  <div class="row">
    <div class="col-md-3">
      <hr />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F178.jpg?alt=media&token=98080992-b6b7-4f30-9f47-b8033de88874"
        class="img-fluid rounded p-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <hr />
      <input
        type="text"
        placeholder="A"
        class="form-control chat chat1 m-1"
        name="ans1page57"
        [(ngModel)]="libro.ans1Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control chat chat2 m-1"
        name="ans2page57"
        [(ngModel)]="libro.ans2Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control chat chat1 m-1"
        name="ans3page57"
        [(ngModel)]="libro.ans3Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control chat chat2 m-1"
        name="ans4page57"
        [(ngModel)]="libro.ans4Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control chat chat1 m-1"
        name="ans5page57"
        [(ngModel)]="libro.ans5Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control chat chat2 m-1"
        name="ans6page57"
        [(ngModel)]="libro.ans6Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
    <div class="col-md-3">
      <hr />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F174.jpg?alt=media&token=22d9ca0d-9713-41eb-ae94-26de36937113"
        class="img-fluid rounded p-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <hr />
      <input
        type="text"
        placeholder="A"
        class="form-control chat chat1 m-1"
        name="ans7page57"
        [(ngModel)]="libro.ans7Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control chat chat2 m-1"
        name="ans8page57"
        [(ngModel)]="libro.ans8Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control chat chat1 m-1"
        name="ans9page57"
        [(ngModel)]="libro.ans9Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control chat chat2 m-1"
        name="ans10page57"
        [(ngModel)]="libro.ans10Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control chat chat1 m-1"
        name="ans11page57"
        [(ngModel)]="libro.ans11Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control chat chat2 m-1"
        name="ans12page57"
        [(ngModel)]="libro.ans12Page57"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
    <hr class="my-3" />
    <div class="col-md-4">
      <h4 class="my-2">MOVE ON</h4>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F179.PNG?alt=media&token=ad643925-959f-405c-935d-cf8d873b1989"
        class="img-fluid rounded"
        alt="img"
      />
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <ul>
        <li>
          <!-- audio l1 788-->
          <audio id="a1p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F788.mp3?alt=media&token=e1f9799b-ccba-4c5f-b4de-905eb590deff"
            />
          </audio>
          <button
            (click)="reproducirAudio('a1p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          A. Who is she?
        </li>
        <li>
          <!-- audio l1 789-->
          <audio id="a2p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F789.mp3?alt=media&token=c61f2c55-0d8b-47c2-98b2-7a8972387150"
            />
          </audio>
          <button
            (click)="reproducirAudio('a2p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          B. She's my new girlfriend
        </li>
        <li>
          <!-- audio l1 790-->
          <audio id="a3p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F790.mp3?alt=media&token=f9ac47a1-b6e8-4727-abc3-fd7348ba226a"
            />
          </audio>
          <button
            (click)="reproducirAudio('a3p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          A. Really! What's she like?
        </li>
        <li>
          <!-- audio l1 791-->
          <audio id="a4p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F791.mp3?alt=media&token=3bff3a5f-8696-4d5f-8861-ba6090989abf"
            />
          </audio>
          <button
            (click)="reproducirAudio('a4p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          B. She's tall, thin, sexy and rich
        </li>
        <li>
          <!-- audio l1 792-->
          <audio id="a5p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F792.mp3?alt=media&token=1f5f6d1f-2e41-49fa-bdf9-ddf76228095b"
            />
          </audio>
          <button
            (click)="reproducirAudio('a5p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          A. Are you in love?
        </li>
        <li>
          <!-- audio l1 793 -->
          <audio id="a6p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F793.mp3?alt=media&token=92dea08b-669c-46e7-ba63-42792be2ee99"
            />
          </audio>
          <button
            (click)="reproducirAudio('a6p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          B. Oh, yeah, I am in love
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <h4 class="my-2">
        <!-- audio l1 794-->
        <audio id="a7p56l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F794.mp3?alt=media&token=b5228d9b-a83e-405a-ba52-43b0c63eb020"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p56l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        TO DRILL WITH
      </h4>
      <ul>
        <li>
          <!-- audio l1 795-->
          <audio id="a9p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F795.mp3?alt=media&token=fb850d01-a17a-4251-b2b9-ffd24f6c47b1"
            />
          </audio>
          <button
            (click)="reproducirAudio('a9p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          He
        </li>
        <li>
          <!-- audio l1 796-->
          <audio id="a10p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F796.mp3?alt=media&token=bd874875-4c19-4894-93a1-11d9fe71b1e0"
            />
          </audio>
          <button
            (click)="reproducirAudio('a10p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          What is it like
        </li>
        <li>
          <!-- audio l1 797-->
          <audio id="a11p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F797.mp3?alt=media&token=4c7b0fc7-dcaf-4698-925d-9db19f95ea1e"
            />
          </audio>
          <button
            (click)="reproducirAudio('a11p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          Do you like it?
        </li>
        <li>
          <!-- audio l1 798-->
          <audio id="a12p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F798.mp3?alt=media&token=3bde3bf9-f45a-46ff-8fae-856fa25ba4eb"
            />
          </audio>
          <button
            (click)="reproducirAudio('a12p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          New pet
        </li>
        <li>
          <!-- audio l1 799-->
          <audio id="a13p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F799.mp3?alt=media&token=d80ace31-0ad4-4a51-85dd-5131f9191717"
            />
          </audio>
          <button
            (click)="reproducirAudio('a13p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          Clean
        </li>
        <li>
          <!-- audio l1 800-->
          <audio id="a14p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F800.mp3?alt=media&token=0336ce12-87c7-4f9c-97c3-66568650a18b"
            />
          </audio>
          <button
            (click)="reproducirAudio('a14p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          nice
        </li>
      </ul>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <ul>
        <li>
          <!-- audio l1 801-->
          <audio id="a15p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F801.mp3?alt=media&token=4e7ddf7b-1427-43bd-929f-aed46d110da0"
            />
          </audio>
          <button
            (click)="reproducirAudio('a15p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          Are you happy?
        </li>
        <li>
          <!-- audio l1 802-->
          <audio id="a16p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F802.mp3?alt=media&token=af2fc6ae-7ecc-49b1-8a4e-4c15e1aad672"
            />
          </audio>
          <button
            (click)="reproducirAudio('a16p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          Who is she?
        </li>
        <li>
          <!-- audio l1 803-->
          <audio id="a17p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F803.mp3?alt=media&token=c6309158-80f9-4128-b02c-e6e993a796e6"
            />
          </audio>
          <button
            (click)="reproducirAudio('a17p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          Tall, strong, handsome
        </li>
        <li>
          <!-- audio l1 804-->
          <audio id="a18p56l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F804.mp3?alt=media&token=01dccef4-f34e-433d-8bb2-9984a6633c71"
            />
          </audio>
          <button
            (click)="reproducirAudio('a18p56l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          dirty
        </li>
      </ul>
    </div>
  </div>
</div>
