<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">CHAT TIME</h4>
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-1.jpg?alt=media&token=04160298-a7c8-48c1-9b7b-61d23d3ccbb3"
        class="img-fluid rounded p-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <h5>1.</h5>
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        value="A. is she crying?"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        value="B. Yes, she is"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        value="A. Why is she crying?"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        value="B. She's crying because she's sad        "
        disabled
        id=""
      />
    </div>

    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-10.jpg?alt=media&token=2beb52b8-15d5-4898-a716-8ec990ae8bcf"
        class="img-fluid rounded p-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <h5>2.</h5>
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        value="A. Are they drinking?"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        value="B.Yes, they are"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        value="A. Why are they doing that?"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        value="B. Because they thirsty "
        disabled
        id=""
      />
    </div>

    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-8.jpg?alt=media&token=0d65a3dd-4027-47fa-ae96-e4e734fb5361"
        class="img-fluid rounded p-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <h4>3.</h4>
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        name="ans1page19"
        [(ngModel)]="libro.ans1Page19"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        name="ans2page19"
        [(ngModel)]="libro.ans2Page19"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        name="ans3page19"
        [(ngModel)]="libro.ans3Page19"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        name="ans4page19"
        [(ngModel)]="libro.ans4Page19"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-5.jpg?alt=media&token=4b50d7d6-a1a0-4d95-9b15-d50d9bc30534"
        class="img-fluid rounded p-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <h4>4.</h4>
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        name="ans5page19"
        [(ngModel)]="libro.ans5Page19"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        name="ans6page19"
        [(ngModel)]="libro.ans6Page19"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        name="ans7page19"
        [(ngModel)]="libro.ans7Page19"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        name="ans8page19"
        [(ngModel)]="libro.ans8Page19"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>

    <div class="col-md-12 my-2">
      <hr class="my-4" />
      <h4>MOVE ON</h4>
    </div>

    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-11.jpg?alt=media&token=39de9075-900e-4569-b3ae-eb93a42defa2"
        class="img-fluid rounded p-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        value="A.Is anthony playing?"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        value="B.No, he isn't"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        value="A. What is he doing?"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        value="B.He's resting?"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="A"
        class="form-control m-1 chat chat1 m-1"
        value="A. Why is he resting?"
        disabled
        id=""
      />
      <input
        type="text"
        placeholder="B"
        class="form-control m-1 chat chat2 m-1"
        value="B. He's resting because he's tired        "
        disabled
        id=""
      />
    </div>

    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-12.jpg?alt=media&token=dbc91212-c5ad-4d1c-babc-a436eca3d52d"
        alt="img"
        class="img-fluid"
      />
    </div>
    <div class="col-md-3">
      <div class="d-flex align-items-center">
        <b>A. </b> Are you and your mother cooking?
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex"><b>B. </b> No,</div>
        <input
          type="text"
          class="form-control m-1"
          name="ans9page19"
          [(ngModel)]="libro.ans9Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </div>

      <div class="d-flex align-items-center">
        <div class="d-flex"><b>A. </b>What</div>
        <input
          type="text"
          class="form-control m-1"
          name="ans10page19"
          [(ngModel)]="libro.ans10Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </div>

      <div class="d-flex align-items-center">
        <div class="d-flex"><b>B. </b></div>
        <input
          type="text"
          class="form-control m-1"
          name="ans11page19"
          [(ngModel)]="libro.ans11Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        <div class="d-flex">(Clean)</div>
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex"><b>A. </b>Why</div>
        <input
          type="text"
          class="form-control m-1"
          name="ans12page19"
          [(ngModel)]="libro.ans12Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex"><b>B. </b></div>
        <input
          type="text"
          class="form-control m-1"
          name="ans13page19"
          [(ngModel)]="libro.ans13Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        <div class="d-flex">(dirty)</div>
      </div>
    </div>
  </div>
</div>
