<div>
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <strong>2. What kind of books do you like?</strong>
                <input type="text" class="form-control" placeholder="Answer" name="" id="">
                <strong>Who's your favourite author?</strong>
                <input type="text" class="form-control" placeholder="Answer" name="" id="">
            </div>
            <div class="col-md-3">
                <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
            </div>
            <hr>
            <div class="col-md-3">
                <strong>3. What kind of TV programs do you like?          </strong>
                <input type="text" class="form-control" placeholder="Answer" name="" id="">
                <strong>Who's your favourite TV star?          </strong>
                <input type="text" class="form-control" placeholder="Answer" name="" id="">
            </div>
            <div class="col-md-3">
                <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
            </div>
            <hr>
            <div class="col-md-6">
                <strong> 4. What kind of music do you like?        </strong>
                <input type="text" class="form-control" placeholder="Answer" name="" id="">

            </div>
            <div class="col-md-6">
                <strong>Who's your favourite performer?         </strong>
                <input type="text" class="form-control" placeholder="Answer" name="" id="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-6">
                <strong> 5. What Kind of sport do you like?       </strong>
                <input type="text" class="form-control" placeholder="Answer" name="" id="">

            </div>
            <div class="col-md-6">
                <strong>Who's your favourite athlete? What's your favourite team?         </strong>
                <input type="text" class="form-control" placeholder="Answer" name="" id="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
            <div class="col-md-2">
                <img src="assets/img/imagen.jpg" class="img-fluid  m-2" alt="">
            </div>
        </div>

    </div>
</div>