<div>
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <strong>2. What kind of books do you like?</strong>
                <input type="text" class="form-control" placeholder="Answer" name="ans1page23" [(ngModel)]="libro.ans1Page23" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                <strong>Who's your favourite author?</strong>
                <input type="text" class="form-control" placeholder="Answer" name="ans2page23" [(ngModel)]="libro.ans2Page23" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">Novels</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F71.jpg?alt=media&token=ad7aad57-1031-4aaa-8808-8e962443be7f" class="img-fluid rounded w-75 m-2 rounded" alt="img">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">Poetry</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F72.jpg?alt=media&token=033e4718-2004-4e89-963d-8976c7d35090" class="img-fluid rounded w-75 m-2 rounded" alt="img">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">Short Stories</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F73.jpg?alt=media&token=0b580f1b-8e4b-455d-af2a-73b9797ace32" class="img-fluid rounded w-75 m-2 rounded" alt="img">
            </div>
            <hr class="my-2">
            <div class="col-md-6">
                <strong>3. What kind of TV programs do you like?          </strong>
                <input type="text" class="form-control" placeholder="Answer" name="ans3page23" [(ngModel)]="libro.ans3Page23" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                <strong>Who's your favourite TV star?          </strong>
                <input type="text" class="form-control" placeholder="Answer" name="ans4page23" [(ngModel)]="libro.ans4Page23" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">Drama</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F74.jpg?alt=media&token=bb20b3fb-e9ab-4dca-8dce-522d4e0844f0" class="img-fluid rounded  m-2 rounded" alt="img">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">Game Shows</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F75.jpg?alt=media&token=a3014a75-148b-453e-8c9e-dc86026b71fb" class="img-fluid rounded  m-2 rounded" alt="img">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">News Programs</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F76.jpg?alt=media&token=75cc5309-e116-4d56-9343-2a0d7b698d2e" class="img-fluid rounded  m-2 rounded" alt="img">
            </div>
            <hr class="my-2">
            <div class="col-md-6">
                <strong> 4. What kind of music do you like?        </strong>
                <input type="text" class="form-control" placeholder="Answer" name="ans5page23" [(ngModel)]="libro.ans5Page23" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">

            </div>
            <div class="col-md-6">
                <strong>Who's your favourite performer?         </strong>
                <input type="text" class="form-control" placeholder="Answer" name="ans6page23" [(ngModel)]="libro.ans6Page23" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            </div>
            <div class="col-md-3 card border-info my-2">
                <h6 class="text-center">Classical music</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F77.jpg?alt=media&token=7ef81a99-a98b-492d-bfa1-ca48780da9aa" class="img-fluid rounded  m-2" alt="img">
            </div>
            <div class="col-md-3 card border-info my-2">
                <h6 class="text-center">Popular Music </h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F78.jpg?alt=media&token=3a065cd4-3b2c-4288-90f6-7905a39f2651" class="img-fluid rounded  m-2" alt="img">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">Jazz</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F79.jpg?alt=media&token=c50de79d-87ef-482a-a33a-2b1f5319bdf4" class="img-fluid rounded  m-2" alt="img">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">Rock music</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F80.jpg?alt=media&token=e92dc9dd-0b16-4112-ade7-11fb07a426d6" class="img-fluid rounded  m-2" alt="img">
            </div>
            <div class="col-md-2 card border-info my-2">
                <h6 class="text-center">Country music</h6>
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F81.jpg?alt=media&token=90825eb9-d66e-47db-86a6-37ed0281cf0d" class="img-fluid rounded  m-2" alt="img">
            </div>
            <hr class="my-2">
            <div class="col-md-6">
                <strong> 5. What Kind of sport do you like?       </strong>
                <input type="text" class="form-control" placeholder="Answer" name="ans7page23" [(ngModel)]="libro.ans7Page23" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">

            </div>
            <div class="col-md-6">
                <strong>Who's your favourite athlete? What's your favourite team?         </strong>
                <input type="text" class="form-control" placeholder="Answer" name="ans8page23" [(ngModel)]="libro.ans8Page23" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-md-2 card border-info my-2 mx-1">
                    <h6 class="text-center">Volleyball</h6>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F82.jpg?alt=media&token=415e917a-0387-483f-8260-61df76549a78" class="img-fluid rounded  m-2" alt="img">
                </div>
                <div class="col-md-2 card border-info my-2 mx-1">
                    <h6 class="text-center">Baseball</h6>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F83.jpg?alt=media&token=fc44bcfe-1ab4-4da8-943c-331415ff9289" class="img-fluid rounded  m-2" alt="img">
                </div>
                <div class="col-md-2 card border-info my-2 mx-1">
                    <h6 class="text-center">Soccer</h6>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F84.jpg?alt=media&token=d80967e4-2235-4c50-959c-eb8b8fe65f98" class="img-fluid rounded  m-2" alt="img">
                </div>
                <div class="col-md-2 card border-info my-2 mx-1">
                    <h6 class="text-center">Golf</h6>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F85.jpg?alt=media&token=aa7a05b0-d4ed-4f4b-b01b-dd09abfbef0a" class="img-fluid rounded  m-2" alt="img">
                </div>

                <div class="col-md-2 card border-info my-2 mx-1">
                    <h6 class="text-center">Basketball</h6>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F86.jpg?alt=media&token=2d7c4901-02dd-4016-a84d-e624ec5d2f88" class="img-fluid rounded  m-2" alt="img">
                </div>
            </div>
        </div>

    </div>
</div>