<div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="my-3">Grammar Flash</h4>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fcuadrounit5.png?alt=media&token=3488946d-bbf1-4e82-801f-8f54fe7018f1"
        alt="img"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6">
      <h4 class="my-3">DRILLS</h4>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>TEACHER</th>
            <th>STUDENTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>I was sick ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="I was sick"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="She was sick"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>They ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans1page22"
                [(ngModel)]="libro.ans1Page22"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>We ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page22"
                [(ngModel)]="libro.ans2Page22"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Claudia ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans3page22"
                [(ngModel)]="libro.ans3Page22"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Patricia and her friends ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans4page22"
                [(ngModel)]="libro.ans4Page22"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>He ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans5page22"
                [(ngModel)]="libro.ans5Page22"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>But now he is healthy ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="He was sick but now he is healthy"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>You ....</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page22"
                [(ngModel)]="libro.ans6Page22"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Peter's Dog ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans7page22"
                [(ngModel)]="libro.ans7Page22"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
