<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 8</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> IN THE PARK</h3>
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid p-2" alt="">
        </div>
        <div class="col-md-6 table-responsive ">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <th>• Run </th>
                        <th>• Have a picnic </th>
                        <th>• Jump</th>
                    </tr>

                    <tr>
                        <th>• Swim </th>
                        <th>• Smell </th>
                        <th>• Eat</th>
                    </tr>

                    <tr>
                        <th>• Feed </th>
                        <th>• Skate board </th>
                        <th>• Watch</th>
                    </tr>

                    <tr>
                        <th>• Sew </th>
                        <th>• Ride a bicycle </th>
                        <th>• Talk</th>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h6 class="center m-3">TALK ABOUT THE PICTURE</h6>
            <ul>
                <li> What’s the little girl doing? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li> What do the old men do every-day? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li> Where does the boy like to go on the weekends? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
    </div>
</div>