<div class="accordion container mt-3" id="Libro1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="page1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
               Page  <span class="badge bg-primary">1</span> 
      </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="page1" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page ">
                <app-l1p1></app-l1p1>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Page  <span class="badge bg-primary">2</span>
      </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="page2" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p2 [libro1]="libro1" [email]="email"></app-l1p2>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Page  <span class="badge bg-primary">3</span>
      </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="page3" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p3></app-l1p3>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Page  <span class="badge bg-primary">4</span>
      </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="page4" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p4></app-l1p4>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Page  <span class="badge bg-primary">5</span>
      </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="page5" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p5></app-l1p5>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Page  <span class="badge bg-primary">6</span>
      </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="page6" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p6></app-l1p6>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Page  <span class="badge bg-primary">7</span>
      </button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="page7" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p7></app-l1p7>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Page  <span class="badge bg-primary">8</span>
      </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="page8" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p8></app-l1p8>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                Page  <span class="badge bg-primary">9</span>
      </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="page9" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p9></app-l1p9>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page10">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                Page  <span class="badge bg-primary">10</span>
      </button>
        </h2>
        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="page10" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p10></app-l1p10>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                Page  <span class="badge bg-primary">11</span>
      </button>
        </h2>
        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="page11" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p11></app-l1p11>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page12">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                Page  <span class="badge bg-primary">12</span>
      </button>
        </h2>
        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="page12" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p12></app-l1p12>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page13">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                Page  <span class="badge bg-primary">13</span>
      </button>
        </h2>
        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="page13" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p13></app-l1p13>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page14">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                Page  <span class="badge bg-primary">14</span>
      </button>
        </h2>
        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="page14" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p14></app-l1p14>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page15">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                Page  <span class="badge bg-primary">15</span>
      </button>
        </h2>
        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="page15" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p15></app-l1p15>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page16">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                Page  <span class="badge bg-primary">16</span>
      </button>
        </h2>
        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="page16" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p16></app-l1p16>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page17">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                Page  <span class="badge bg-primary">17</span>
      </button>
        </h2>
        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="page17" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p17></app-l1p17>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page18">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                Page  <span class="badge bg-primary">18</span>
      </button>
        </h2>
        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="page18" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p18></app-l1p18>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page19">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                Page  <span class="badge bg-primary">19</span>
      </button>
        </h2>
        <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="page19" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p19></app-l1p19>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page20">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                Page  <span class="badge bg-primary">20</span>
      </button>
        </h2>
        <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="page20" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p20></app-l1p20>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page21">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                Page  <span class="badge bg-primary">21</span>
      </button>
        </h2>
        <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="page21" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p21></app-l1p21>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page22">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                Page  <span class="badge bg-primary">22</span>
      </button>
        </h2>
        <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="page22" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p22></app-l1p22>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page23">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                Page  <span class="badge bg-primary">23</span>
      </button>
        </h2>
        <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="page23" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p23></app-l1p23>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page24">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
                Page  <span class="badge bg-primary">24</span>
      </button>
        </h2>
        <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="page24" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p24></app-l1p24>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page25">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
                Page  <span class="badge bg-primary">25</span>
      </button>
        </h2>
        <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="page25" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p25></app-l1p25>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page26">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
                Page  <span class="badge bg-primary">26</span>
      </button>
        </h2>
        <div id="collapse26" class="accordion-collapse collapse" aria-labelledby="page26" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p26></app-l1p26>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page27">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse27" aria-expanded="false" aria-controls="collapse27">
                Page  <span class="badge bg-primary">27</span>
      </button>
        </h2>
        <div id="collapse27" class="accordion-collapse collapse" aria-labelledby="page27" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p27></app-l1p27>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page28">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse28" aria-expanded="false" aria-controls="collapse28">
                Page  <span class="badge bg-primary">28</span>
      </button>
        </h2>
        <div id="collapse28" class="accordion-collapse collapse" aria-labelledby="page28" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p28></app-l1p28>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page29">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse29" aria-expanded="false" aria-controls="collapse29">
                Page  <span class="badge bg-primary">29</span>
      </button>
        </h2>
        <div id="collapse29" class="accordion-collapse collapse" aria-labelledby="page29" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p29></app-l1p29>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page30">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse30" aria-expanded="false" aria-controls="collapse30">
                Page  <span class="badge bg-primary">30</span>
      </button>
        </h2>
        <div id="collapse30" class="accordion-collapse collapse" aria-labelledby="page30" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p30></app-l1p30>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page31">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse31" aria-expanded="false" aria-controls="collapse31">
                Page  <span class="badge bg-primary">31</span>
      </button>
        </h2>
        <div id="collapse31" class="accordion-collapse collapse" aria-labelledby="page31" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p31></app-l1p31>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page32">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
                Page  <span class="badge bg-primary">32</span>
      </button>
        </h2>
        <div id="collapse32" class="accordion-collapse collapse" aria-labelledby="page32" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p32></app-l1p32>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page33">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse33" aria-expanded="false" aria-controls="collapse33">
                Page  <span class="badge bg-primary">33</span>
      </button>
        </h2>
        <div id="collapse33" class="accordion-collapse collapse" aria-labelledby="page33" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p33></app-l1p33>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page34">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse34" aria-expanded="false" aria-controls="collapse34">
                Page  <span class="badge bg-primary">34</span>
      </button>
        </h2>
        <div id="collapse34" class="accordion-collapse collapse" aria-labelledby="page34" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p34></app-l1p34>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page35">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse35" aria-expanded="false" aria-controls="collapse35">
                Page  <span class="badge bg-primary">35</span>
      </button>
        </h2>
        <div id="collapse35" class="accordion-collapse collapse" aria-labelledby="page35" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p35></app-l1p35>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page36">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse36" aria-expanded="false" aria-controls="collapse36">
                Page  <span class="badge bg-primary">36</span>
      </button>
        </h2>
        <div id="collapse36" class="accordion-collapse collapse" aria-labelledby="page36" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p36></app-l1p36>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page37">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse37" aria-expanded="false" aria-controls="collapse37">
                Page  <span class="badge bg-primary">37</span>
      </button>
        </h2>
        <div id="collapse37" class="accordion-collapse collapse" aria-labelledby="page37" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p37></app-l1p37>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page38">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse38" aria-expanded="false" aria-controls="collapse38">
                Page  <span class="badge bg-primary">38</span>
      </button>
        </h2>
        <div id="collapse38" class="accordion-collapse collapse" aria-labelledby="page38" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p38></app-l1p38>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page39">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse39" aria-expanded="false" aria-controls="collapse39">
                Page  <span class="badge bg-primary">39</span>
      </button>
        </h2>
        <div id="collapse39" class="accordion-collapse collapse" aria-labelledby="page39" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p39></app-l1p39>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page40">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse40" aria-expanded="false" aria-controls="collapse40">
                Page  <span class="badge bg-primary">40</span>
      </button>
        </h2>
        <div id="collapse40" class="accordion-collapse collapse" aria-labelledby="page40" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p40></app-l1p40>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page41">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse41" aria-expanded="false" aria-controls="collapse41">
                Page  <span class="badge bg-primary">41</span>
      </button>
        </h2>
        <div id="collapse41" class="accordion-collapse collapse" aria-labelledby="page41" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p41></app-l1p41>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page42">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse42" aria-expanded="false" aria-controls="collapse42">
                Page  <span class="badge bg-primary">42</span>
      </button>
        </h2>
        <div id="collapse42" class="accordion-collapse collapse" aria-labelledby="page42" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p42></app-l1p42>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page43">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse43" aria-expanded="false" aria-controls="collapse43">
                Page  <span class="badge bg-primary">43</span>
      </button>
        </h2>
        <div id="collapse43" class="accordion-collapse collapse" aria-labelledby="page43" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p43></app-l1p43>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page44">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse44" aria-expanded="false" aria-controls="collapse44">
                Page  <span class="badge bg-primary">44</span>
      </button>
        </h2>
        <div id="collapse44" class="accordion-collapse collapse" aria-labelledby="page44" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p44></app-l1p44>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page45">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse45" aria-expanded="false" aria-controls="collapse45">
                Page  <span class="badge bg-primary">45</span>
      </button>
        </h2>
        <div id="collapse45" class="accordion-collapse collapse" aria-labelledby="page45" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p45></app-l1p45>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page46">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse46" aria-expanded="false" aria-controls="collapse46">
                Page  <span class="badge bg-primary">46</span>
      </button>
        </h2>
        <div id="collapse46" class="accordion-collapse collapse" aria-labelledby="page46" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p46></app-l1p46>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page47">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse47" aria-expanded="false" aria-controls="collapse47">
                Page  <span class="badge bg-primary">47</span>
      </button>
        </h2>
        <div id="collapse47" class="accordion-collapse collapse" aria-labelledby="page47" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p47></app-l1p47>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page48">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse48" aria-expanded="false" aria-controls="collapse48">
                Page  <span class="badge bg-primary">48</span>
      </button>
        </h2>
        <div id="collapse48" class="accordion-collapse collapse" aria-labelledby="page48" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p48></app-l1p48>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page49">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse49" aria-expanded="false" aria-controls="collapse49">
                Page  <span class="badge bg-primary">49</span>
      </button>
        </h2>
        <div id="collapse49" class="accordion-collapse collapse" aria-labelledby="page49" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p49></app-l1p49>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page50">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse50" aria-expanded="false" aria-controls="collapse50">
                Page  <span class="badge bg-primary">50</span>
      </button>
        </h2>
        <div id="collapse50" class="accordion-collapse collapse" aria-labelledby="page50" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p50></app-l1p50>
            </div>
        </div>
    </div>
</div>

<!-- <input type="text" maxlength="3" size=40 style="width : 35px; height : 23px"> el size para que se vea igual en ambos navegadores
d-flex align-items-center justify-content-center
-->