<app-header></app-header>
<div class="accordion container mt-3" id="Libro1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="page1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
               Page  <span class="badge bg-primary">1</span> 
      </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="page1" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page ">
                <app-l1p1></app-l1p1>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Page  <span class="badge bg-primary">2</span>
      </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="page2" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p2 [libro1]="libro1" [email]="email"></app-l1p2>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Page  <span class="badge bg-primary">3</span>
      </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="page3" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p3></app-l1p3>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Page  <span class="badge bg-primary">4</span>
      </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="page4" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p4 [libro1]="libro1" [email]="email"></app-l1p4>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Page  <span class="badge bg-primary">5</span>
      </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="page5" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p5 [libro1]="libro1" [email]="email"></app-l1p5>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Page  <span class="badge bg-primary">6</span>
      </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="page6" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p6 [libro1]="libro1" [email]="email"></app-l1p6>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Page  <span class="badge bg-primary">7</span>
      </button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="page7" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p7 [libro1]="libro1" [email]="email"></app-l1p7>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Page  <span class="badge bg-primary">8</span>
      </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="page8" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p8></app-l1p8>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                Page  <span class="badge bg-primary">9</span>
      </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="page9" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p9 [libro1]="libro1" [email]="email"></app-l1p9>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page10">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                Page  <span class="badge bg-primary">10</span>
      </button>
        </h2>
        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="page10" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p10 [libro1]="libro1" [email]="email"></app-l1p10>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                Page  <span class="badge bg-primary">11</span>
      </button>
        </h2>
        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="page11" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p11 [libro1]="libro1" [email]="email"></app-l1p11>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page12">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                Page  <span class="badge bg-primary">12</span>
      </button>
        </h2>
        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="page12" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p12 [libro1]="libro1" [email]="email"></app-l1p12>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page13">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                Page  <span class="badge bg-primary">13</span>
      </button>
        </h2>
        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="page13" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p13></app-l1p13>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page14">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                Page  <span class="badge bg-primary">14</span>
      </button>
        </h2>
        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="page14" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p14 [libro1]="libro1" [email]="email"></app-l1p14>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page15">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                Page  <span class="badge bg-primary">15</span>
      </button>
        </h2>
        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="page15" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p15 [libro1]="libro1" [email]="email"></app-l1p15>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page16">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                Page  <span class="badge bg-primary">16</span>
      </button>
        </h2>
        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="page16" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p16 [libro1]="libro1" [email]="email"></app-l1p16>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page17">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                Page  <span class="badge bg-primary">17</span>
      </button>
        </h2>
        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="page17" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p17 [libro1]="libro1" [email]="email"></app-l1p17>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page18">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                Page  <span class="badge bg-primary">18</span>
      </button>
        </h2>
        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="page18" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p18></app-l1p18>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page19">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                Page  <span class="badge bg-primary">19</span>
      </button>
        </h2>
        <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="page19" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p19 [libro1]="libro1" [email]="email"></app-l1p19>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page20">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                Page  <span class="badge bg-primary">20</span>
      </button>
        </h2>
        <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="page20" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p20 [libro1]="libro1" [email]="email"></app-l1p20>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page21">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                Page  <span class="badge bg-primary">21</span>
      </button>
        </h2>
        <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="page21" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p21 [libro1]="libro1" [email]="email"></app-l1p21>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page22">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                Page  <span class="badge bg-primary">22</span>
      </button>
        </h2>
        <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="page22" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p22 [libro1]="libro1" [email]="email"></app-l1p22>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page23">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                Page  <span class="badge bg-primary">23</span>
      </button>
        </h2>
        <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="page23" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p23></app-l1p23>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page24">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
                Page  <span class="badge bg-primary">24</span>
      </button>
        </h2>
        <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="page24" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p24 [libro1]="libro1" [email]="email"></app-l1p24>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page25">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
                Page  <span class="badge bg-primary">25</span>
      </button>
        </h2>
        <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="page25" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p25 [libro1]="libro1" [email]="email"></app-l1p25>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page26">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
                Page  <span class="badge bg-primary">26</span>
      </button>
        </h2>
        <div id="collapse26" class="accordion-collapse collapse" aria-labelledby="page26" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p26 [libro1]="libro1" [email]="email"></app-l1p26>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page27">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse27" aria-expanded="false" aria-controls="collapse27">
                Page  <span class="badge bg-primary">27</span>
      </button>
        </h2>
        <div id="collapse27" class="accordion-collapse collapse" aria-labelledby="page27" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p27 [libro1]="libro1" [email]="email"></app-l1p27>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page28">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse28" aria-expanded="false" aria-controls="collapse28">
                Page  <span class="badge bg-primary">28</span>
      </button>
        </h2>
        <div id="collapse28" class="accordion-collapse collapse" aria-labelledby="page28" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p28 [libro1]="libro1" [email]="email"></app-l1p28>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page29">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse29" aria-expanded="false" aria-controls="collapse29">
                Page  <span class="badge bg-primary">29</span>
      </button>
        </h2>
        <div id="collapse29" class="accordion-collapse collapse" aria-labelledby="page29" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p29 [libro1]="libro1" [email]="email"></app-l1p29>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page30">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse30" aria-expanded="false" aria-controls="collapse30">
                Page  <span class="badge bg-primary">30</span>
      </button>
        </h2>
        <div id="collapse30" class="accordion-collapse collapse" aria-labelledby="page30" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p30 [libro1]="libro1" [email]="email"></app-l1p30>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page31">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse31" aria-expanded="false" aria-controls="collapse31">
                Page  <span class="badge bg-primary">31</span>
      </button>
        </h2>
        <div id="collapse31" class="accordion-collapse collapse" aria-labelledby="page31" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p31 [libro1]="libro1" [email]="email"></app-l1p31>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page32">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
                Page  <span class="badge bg-primary">32</span>
      </button>
        </h2>
        <div id="collapse32" class="accordion-collapse collapse" aria-labelledby="page32" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p32 [libro1]="libro1" [email]="email"></app-l1p32>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page33">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse33" aria-expanded="false" aria-controls="collapse33">
                Page  <span class="badge bg-primary">33</span>
      </button>
        </h2>
        <div id="collapse33" class="accordion-collapse collapse" aria-labelledby="page33" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p33 [libro1]="libro1" [email]="email"></app-l1p33>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page34">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse34" aria-expanded="false" aria-controls="collapse34">
                Page  <span class="badge bg-primary">34</span>
      </button>
        </h2>
        <div id="collapse34" class="accordion-collapse collapse" aria-labelledby="page34" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p34 [libro1]="libro1" [email]="email"></app-l1p34>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page35">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse35" aria-expanded="false" aria-controls="collapse35">
                Page  <span class="badge bg-primary">35</span>
      </button>
        </h2>
        <div id="collapse35" class="accordion-collapse collapse" aria-labelledby="page35" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p35 [libro1]="libro1" [email]="email"></app-l1p35>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page36">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse36" aria-expanded="false" aria-controls="collapse36">
                Page  <span class="badge bg-primary">36</span>
      </button>
        </h2>
        <div id="collapse36" class="accordion-collapse collapse" aria-labelledby="page36" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p36></app-l1p36>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page37">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse37" aria-expanded="false" aria-controls="collapse37">
                Page  <span class="badge bg-primary">37</span>
      </button>
        </h2>
        <div id="collapse37" class="accordion-collapse collapse" aria-labelledby="page37" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p37 [libro1]="libro1" [email]="email"></app-l1p37>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page38">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse38" aria-expanded="false" aria-controls="collapse38">
                Page  <span class="badge bg-primary">38</span>
      </button>
        </h2>
        <div id="collapse38" class="accordion-collapse collapse" aria-labelledby="page38" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p38 [libro1]="libro1" [email]="email"></app-l1p38>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page39">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse39" aria-expanded="false" aria-controls="collapse39">
                Page  <span class="badge bg-primary">39</span>
      </button>
        </h2>
        <div id="collapse39" class="accordion-collapse collapse" aria-labelledby="page39" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p39 [libro1]="libro1" [email]="email"></app-l1p39>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page40">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse40" aria-expanded="false" aria-controls="collapse40">
                Page  <span class="badge bg-primary">40</span>
      </button>
        </h2>
        <div id="collapse40" class="accordion-collapse collapse" aria-labelledby="page40" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p40 [libro1]="libro1" [email]="email"></app-l1p40>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page41">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse41" aria-expanded="false" aria-controls="collapse41">
                Page  <span class="badge bg-primary">41</span>
      </button>
        </h2>
        <div id="collapse41" class="accordion-collapse collapse" aria-labelledby="page41" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p41 [libro1]="libro1" [email]="email"></app-l1p41>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page42">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse42" aria-expanded="false" aria-controls="collapse42">
                Page  <span class="badge bg-primary">42</span>
      </button>
        </h2>
        <div id="collapse42" class="accordion-collapse collapse" aria-labelledby="page42" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p42></app-l1p42>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page43">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse43" aria-expanded="false" aria-controls="collapse43">
                Page  <span class="badge bg-primary">43</span>
      </button>
        </h2>
        <div id="collapse43" class="accordion-collapse collapse" aria-labelledby="page43" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p43 [libro1]="libro1" [email]="email"></app-l1p43>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page44">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse44" aria-expanded="false" aria-controls="collapse44">
                Page  <span class="badge bg-primary">44</span>
      </button>
        </h2>
        <div id="collapse44" class="accordion-collapse collapse" aria-labelledby="page44" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p44 [libro1]="libro1" [email]="email"></app-l1p44>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page45">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse45" aria-expanded="false" aria-controls="collapse45">
                Page  <span class="badge bg-primary">45</span>
      </button>
        </h2>
        <div id="collapse45" class="accordion-collapse collapse" aria-labelledby="page45" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p45></app-l1p45>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page46">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse46" aria-expanded="false" aria-controls="collapse46">
                Page  <span class="badge bg-primary">46</span>
      </button>
        </h2>
        <div id="collapse46" class="accordion-collapse collapse" aria-labelledby="page46" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p46></app-l1p46>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page47">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse47" aria-expanded="false" aria-controls="collapse47">
                Page  <span class="badge bg-primary">47</span>
      </button>
        </h2>
        <div id="collapse47" class="accordion-collapse collapse" aria-labelledby="page47" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p47 [libro1]="libro1" [email]="email"></app-l1p47>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page48">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse48" aria-expanded="false" aria-controls="collapse48">
                Page  <span class="badge bg-primary">48</span>
      </button>
        </h2>
        <div id="collapse48" class="accordion-collapse collapse" aria-labelledby="page48" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p48 [libro1]="libro1" [email]="email"></app-l1p48>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page49">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse49" aria-expanded="false" aria-controls="collapse49">
                Page  <span class="badge bg-primary">49</span>
      </button>
        </h2>
        <div id="collapse49" class="accordion-collapse collapse" aria-labelledby="page49" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p49 [libro1]="libro1" [email]="email"></app-l1p49>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page50">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse50" aria-expanded="false" aria-controls="collapse50">
                Page  <span class="badge bg-primary">50</span>
      </button>
        </h2>
        <div id="collapse50" class="accordion-collapse collapse" aria-labelledby="page50" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p50></app-l1p50>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page51">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse51" aria-expanded="false" aria-controls="collapse51">
                Page  <span class="badge bg-primary">51</span>
      </button>
        </h2>
        <div id="collapse51" class="accordion-collapse collapse" aria-labelledby="page51" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p51></app-l1p51>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page52">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse52" aria-expanded="false" aria-controls="collapse52">
                Page  <span class="badge bg-primary">52</span>
      </button>
        </h2>
        <div id="collapse52" class="accordion-collapse collapse" aria-labelledby="page52" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p52 [libro1]="libro1" [email]="email"></app-l1p52>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page53">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse53" aria-expanded="false" aria-controls="collapse53">
                Page  <span class="badge bg-primary">53</span>
      </button>
        </h2>
        <div id="collapse53" class="accordion-collapse collapse" aria-labelledby="page53" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p53></app-l1p53>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page54">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse54" aria-expanded="false" aria-controls="collapse54">
                Page  <span class="badge bg-primary">54</span>
      </button>
        </h2>
        <div id="collapse54" class="accordion-collapse collapse" aria-labelledby="page54" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p54 [libro1]="libro1" [email]="email"></app-l1p54>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page55">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse55" aria-expanded="false" aria-controls="collapse55">
                Page  <span class="badge bg-primary">55</span>
      </button>
        </h2>
        <div id="collapse55" class="accordion-collapse collapse" aria-labelledby="page55" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p55 [libro1]="libro1" [email]="email"></app-l1p55>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page56">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse56" aria-expanded="false" aria-controls="collapse56">
                Page  <span class="badge bg-primary">56</span>
      </button>
        </h2>
        <div id="collapse56" class="accordion-collapse collapse" aria-labelledby="page56" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p56 [libro1]="libro1" [email]="email"></app-l1p56>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page57">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse57" aria-expanded="false" aria-controls="collapse57">
                Page  <span class="badge bg-primary">57</span>
      </button>
        </h2>
        <div id="collapse57" class="accordion-collapse collapse" aria-labelledby="page57" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p57></app-l1p57>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page58">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse58" aria-expanded="false" aria-controls="collapse58">
                Page  <span class="badge bg-primary">58</span>
      </button>
        </h2>
        <div id="collapse58" class="accordion-collapse collapse" aria-labelledby="page58" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p58 [libro1]="libro1" [email]="email"></app-l1p58>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page59">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse59" aria-expanded="false" aria-controls="collapse59">
                Page  <span class="badge bg-primary">59</span>
      </button>
        </h2>
        <div id="collapse59" class="accordion-collapse collapse" aria-labelledby="page59" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p59 [libro1]="libro1" [email]="email"></app-l1p59>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page60">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse60" aria-expanded="false" aria-controls="collapse60">
                Page  <span class="badge bg-primary">60</span>
      </button>
        </h2>
        <div id="collapse60" class="accordion-collapse collapse" aria-labelledby="page60" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p60 [libro1]="libro1" [email]="email"></app-l1p60>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="page61">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse61" aria-expanded="false" aria-controls="collapse61">
                Page  <span class="badge bg-primary">61</span>
      </button>
        </h2>
        <div id="collapse61" class="accordion-collapse collapse" aria-labelledby="page61" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p61 [libro1]="libro1" [email]="email"></app-l1p61>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page62">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse62" aria-expanded="false" aria-controls="collapse62">
                Page  <span class="badge bg-primary">62</span>
      </button>
        </h2>
        <div id="collapse62" class="accordion-collapse collapse" aria-labelledby="page62" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p62 [libro1]="libro1" [email]="email"></app-l1p62>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page63">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse63" aria-expanded="false" aria-controls="collapse63">
                Page  <span class="badge bg-primary">63</span>
      </button>
        </h2>
        <div id="collapse63" class="accordion-collapse collapse" aria-labelledby="page63" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p63 [libro1]="libro1" [email]="email"></app-l1p63>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page64">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse64" aria-expanded="false" aria-controls="collapse64">
                Page  <span class="badge bg-primary">64</span>
      </button>
        </h2>
        <div id="collapse64" class="accordion-collapse collapse" aria-labelledby="page64" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p64 [libro1]="libro1" [email]="email"></app-l1p64>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="page65">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse65" aria-expanded="false" aria-controls="collapse65">
                Page  <span class="badge bg-primary">65</span>
      </button>
        </h2>
        <div id="collapse65" class="accordion-collapse collapse" aria-labelledby="page65" data-bs-parent="#Libro1">
            <div class="accordion-body bg-page">
                <app-l1p65 [libro1]="libro1" [email]="email"></app-l1p65>
            </div>
        </div>
    </div>

</div>

<app-footers></app-footers>