<div>
    <div class="row">
        <div class="col-md-6">
            <br>
            <h5>GRAMMAR FLASH</h5>
            <br>
            <h4 class="center">HAVE – WANT – NEED – LIKE – LOVE + INFINITIVE</h4>
        </div>
        <div class="col-md-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fcuadro%203.png?alt=media&token=ab2cf106-eefa-4365-a76d-aaebd774ed36" class="img-fluid rounded m-1" alt="">
        </div>
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Teacher</th>
                        <th>Students</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>I have to take a <br>shower every-day ...</td>
                        <td> <input type="text" class="form-control" value="I have to take a shower every-day
                                " name="" id="" disabled> </td>
                    </tr>
                    <tr>
                        <td>(She) ...</td>
                        <td> <input type="text" class="form-control" name="ans1page43" [(ngModel)]="libro.ans1Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(He) ...</td>
                        <td> <input type="text" class="form-control" name="ans2page43" [(ngModel)]="libro.ans2Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Wants to) ...</td>
                        <td> <input type="text" class="form-control" name="ans3page43" [(ngModel)]="libro.ans3Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Go dancing) ...</td>
                        <td> <input type="text" class="form-control" name="ans4page43" [(ngModel)]="libro.ans4Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(They) ...</td>
                        <td> <input type="text" class="form-control" name="ans5page43" [(ngModel)]="libro.ans5Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Teacher</th>
                        <th>Students</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>(I) ...</td>
                        <td> <input type="text" class="form-control" name="ans6page43" [(ngModel)]="libro.ans6Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Get a job) ...</td>
                        <td> <input type="text" class="form-control" name="ans7page43" [(ngModel)]="libro.ans7Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Kate) ...</td>
                        <td> <input type="text" class="form-control" name="ans8page43" [(ngModel)]="libro.ans8Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(You and your friend) ...</td>
                        <td> <input type="text" class="form-control" name="ans9page43" [(ngModel)]="libro.ans9Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Have to) ...</td>
                        <td> <input type="text" class="form-control" name="ans10page43" [(ngModel)]="libro.ans10Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Peter) ...</td>
                        <td> <input type="text" class="form-control" name="ans11page43" [(ngModel)]="libro.ans11Page43" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>