<div>
    <div class="row">
        <div class="col-md-6">
            <br>
            <h5>GRAMMAR FLASH</h5>
            <br>
            <h4 class="center">HAVE – WANT – NEED – LIKE – LOVE + INFINITIVE</h4>
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Teacher</th>
                        <th>Students</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>I have to take a shower every-day ...</td>
                        <td> <input type="text" class="form-control" value="I have to take a shower every-day
                                " name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(She) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(He) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Wants to) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Go dancing) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(They) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Teacher</th>
                        <th>Students</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>(I) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Get a job) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Kate) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(You and your friend) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Have to) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                    <tr>
                        <td>(Peter) ...</td>
                        <td> <input type="text" class="form-control" name="" id=""> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>