<div>
  <div class="row">
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-36.webp?alt=media&token=ec5f6acc-7ae8-47d0-9a3a-23f38b63c5e4"
        class="img-fluid card rounded w-75"
        alt="img"
      />
      <h6>14. Grapes</h6>
    </div>
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-37.webp?alt=media&token=71043ca5-9d5b-450b-be46-430f8182c57d"
        class="img-fluid card rounded w-75"
        alt="img"
      />
      <h6>5. Fish</h6>
    </div>
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-38.webp?alt=media&token=cb1fa61b-13b7-4192-8a34-58a9eada5a1c"
        class="img-fluid card rounded w-75"
        alt="img"
      />
      <h6>6. Eggs</h6>
    </div>
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-39.webp?alt=media&token=4cfc9cb4-331d-450b-8451-a66dfbd13176"
        class="img-fluid card rounded w-75"
        alt="img"
      />
      <h6>7. Ketchup</h6>
    </div>
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-40.webp?alt=media&token=d038619a-9bc8-44ff-a686-75bc2c9cdfa6"
        class="img-fluid card rounded w-75"
        alt="img"
      />
      <h6>8. Potatoes</h6>
    </div>
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-41.webp?alt=media&token=45298ed8-66a3-471a-a97b-93b42588a8d6"
        class="img-fluid card rounded w-75"
        alt="img"
      />
      <h6>9. Meat balls</h6>
    </div>
  </div>
</div>
