<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center my-3">ORAL PRACTICE</h4>
      <p class="justify">
        Make groups of 3 or 4 students. One student should read the situation
        and ask for advice. The student should take notes of the recommendations
        and then report them to the class.
      </p>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I want to improve my English pronunciation.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans1page9"
            [(ngModel)]="libro.ans1Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          My friend has told lies about me and I'm angry.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans2page9"
            [(ngModel)]="libro.ans2Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I want a new car but I don't have enough money.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans3page9"
            [(ngModel)]="libro.ans3Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I'd like to buy a pet but I live in an apartment.<br />
          What pet should I buy?
          <input
            type="text"
            class="form-control"
            name="ans4page9"
            [(ngModel)]="libro.ans4Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I forgot my best friend's birthday yesterday.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans5page9"
            [(ngModel)]="libro.ans5Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I have a job interview in English next week.<br />
          How should I prepare for it?
          <input
            type="text"
            class="form-control"
            name="ans6page9"
            [(ngModel)]="libro.ans6Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I want to get a new phone.<br />
          What phone should I buy?
          <input
            type="text"
            class="form-control"
            name="ans7page9"
            [(ngModel)]="libro.ans7Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I have problems getting to sleep at night.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans8page9"
            [(ngModel)]="libro.ans8Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I have a very stressful job and I need to relax.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans9page9"
            [(ngModel)]="libro.ans9Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I've fallen in love with my best friend's girlfriend/boyfriend.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans10page9"
            [(ngModel)]="libro.ans10Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I want to take up a new hobby in my free time.<br />
          What hobby should I take up?
          <input
            type="text"
            class="form-control"
            name="ans11page9"
            [(ngModel)]="libro.ans11Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          My sister wants to leave her boyfriend but she doesn't know how to
          tell him.<br />

          What should she do?
          <input
            type="text"
            class="form-control"
            name="ans12page9"
            [(ngModel)]="libro.ans12Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I want to learn to dance.<br />
          What kind of dancing should I learn?
          <input
            type="text"
            class="form-control"
            name="ans13page9"
            [(ngModel)]="libro.ans13Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I'd like to go on holiday next month.<br />
          Where should I go?
          <input
            type="text"
            class="form-control"
            name="ans14page9"
            [(ngModel)]="libro.ans14Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I was looking after my friend's hamster and now I can't find it.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans15page9"
            [(ngModel)]="libro.ans15Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I want to do some exercise but I have a bad knee.<br />
          What exercise should I do?
          <input
            type="text"
            class="form-control"
            name="ans16page9"
            [(ngModel)]="libro.ans16Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          My friends are coming over for dinner and I can't cook.<br />
          What should I do?
          <input
            type="text"
            class="form-control"
            name="ans17page9"
            [(ngModel)]="libro.ans17Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
    <div class="col-md-4 card border-info">
      <div class="d-flex align-items-center p-2">
        <p class="text-center flex-grow-1">
          I want to have a really romantic evening with my partner.<br />
          Where should we go?
          <input
            type="text"
            class="form-control"
            name="ans18page9"
            [(ngModel)]="libro.ans18Page9"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </p>
      </div>
    </div>
  </div>
</div>
