<div>
    <div class="row">
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F81.jpg?alt=media&token=43017be7-107a-4631-a3a4-9224ad262532" class="img-fluid m-1 rounded" alt="img">
        </div>
        <div class="col-md-4">
            <strong>3.</strong><br>
            <input type="text" class="form-control" placeholder="A." name="ans1page31" [(ngModel)]="libro.ans1Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="B." name="ans2page31" [(ngModel)]="libro.ans2Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="A." name="ans3page31" [(ngModel)]="libro.ans3Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="B." name="ans4page31" [(ngModel)]="libro.ans4Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F82.jpg?alt=media&token=04c38d6a-7610-4e7c-9cb1-2e7487277bfb" class="img-fluid m-1 rounded" alt="img">
        </div>
        <div class="col-md-4">
            <strong>4.</strong><br>
            <input type="text" class="form-control" placeholder="A." name="ans5page31" [(ngModel)]="libro.ans5Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="B." name="ans6page31" [(ngModel)]="libro.ans6Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="A." name="ans7page31" [(ngModel)]="libro.ans7Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="B." name="ans8page31" [(ngModel)]="libro.ans8Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <hr class="my-3">
        <div class="col-md-4">
            <h6>PHONETICS</h6>
            <h6 class="center">PRONUNCIATION </h6>
            <div class="row">
                <div class="col-md-6 ">
                    <p class="center"> / i /<br> is <br> his <br> this <br> pig</p>
                </div>
                <div class="col-md-6 ">
                    <p class="center"> / ii /<br> east
                        <br> he’s <br> these
                        <br> pea</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p>Listen to your teacher’s pronunciation and write down if it’s / i / or / ii /
            </p>
            <div class="row">
                <div class="col-md-4">
                    Fig: <input type="text" class="form-control " name="ans9page31" [(ngModel)]="libro.ans9Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Window: <input type="text" class="form-control " name="ans10page31" [(ngModel)]="libro.ans10Page31"
                        (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Tea: <input type="text" class="form-control " name="ans11page31" [(ngModel)]="libro.ans11Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4">
                    It: <input type="text" class="form-control " name="ans12page31" [(ngModel)]="libro.ans12Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">Eat: <input type="text" class="form-control " name="ans13page31" [(ngModel)]="libro.ans13Page31"
                        (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Fix:<input type="text" class="form-control " name="ans14page31" [(ngModel)]="libro.ans14Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4">
                    Feed: <input type="text" class="form-control " name="ans15page31" [(ngModel)]="libro.ans15Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Did: <input type="text" class="form-control " name="ans16page31" [(ngModel)]="libro.ans16Page31"
                        (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Deep: <input type="text" class="form-control " name="ans17page31" [(ngModel)]="libro.ans17Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
            </div>


        </div>
    </div>
</div>