<div>
    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-3">
            <strong>2.</strong><br>
            <input type="text" class="form-control" placeholder="A." name="" id="">
            <input type="text" class="form-control" placeholder="B." name="" id="">
            <input type="text" class="form-control" placeholder="A." name="" id="">
            <input type="text" class="form-control" placeholder="B." name="" id="">
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-3">
            <strong>2.</strong><br>
            <input type="text" class="form-control" placeholder="A." name="" id="">
            <input type="text" class="form-control" placeholder="B." name="" id="">
            <input type="text" class="form-control" placeholder="A." name="" id="">
            <input type="text" class="form-control" placeholder="B." name="" id="">
        </div>
        <hr class="my-3">
        <div class="col-md-4">
            <h6>PHONETICS</h6>
            <h6 class="center">PRONUNCIATION </h6>
            <div class="row">
                <div class="col-md-6 ">
                    <p class="center"> / i /<br> is <br> his <br> this <br> pig</p>
                </div>
                <div class="col-md-6 ">
                    <p class="center"> / ii /<br> east
                        <br> he’s <br> these
                        <br> pea</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p>Listen to your teacher’s pronunciation and write down if it’s / i / or / ii /
            </p>
            <div class="row">
                <div class="col-md-4">
                    Fig: <input type="text" class="form-control " name="" id=""> Window: <input type="text" class="form-control " name="" id=""> Tea: <input type="text" class="form-control " name="" id="">
                </div>
                <div class="col-md-4">
                    It: <input type="text" class="form-control " name="" id="">Eat: <input type="text" class="form-control " name="" id=""> Fix:<input type="text" class="form-control " name="" id="">
                </div>
                <div class="col-md-4">
                    Feed: <input type="text" class="form-control " name="" id=""> Did: <input type="text" class="form-control " name="" id=""> Deep: <input type="text" class="form-control " name="" id="">
                </div>
            </div>


        </div>
    </div>
</div>