<div>
  <div class="row">
    <div class="col-md-12 my-3">
      <h4>ORAL PRACTICE</h4>
      <p>
        Tell your classmates WHY these people are doing the following
        activities.
      </p>
    </div>
    <div class="col-md-6">
      <div class="card border-info m-1">
        <div class="row">
          <div class="col-md-6 text-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-12.jpg?alt=media&token=dbc91212-c5ad-4d1c-babc-a436eca3d52d"
              alt="img"
              class="img-fluid w-75"
            />
          </div>
          <div class="col-md-6">
            <textarea class="form-control" id="" cols="30" rows="7" disabled>
These are my parents. They are cleaning the house because the
            house is dirty, and we are having a party tonight.</textarea
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-info m-1">
        <div class="row">
          <div class="col-md-6 text-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-13.jpg?alt=media&token=ed233f43-fbab-43a5-9196-a1d4edac6dfd"
              alt="img"
              class="img-fluid w-75"
            />
          </div>
          <div class="col-md-6">
            <textarea
              class="form-control"
              name="ans1page20"
              [(ngModel)]="libro.ans1Page20"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
              cols="30"
              rows="7"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-info m-1">
        <div class="row">
          <div class="col-md-6 text-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-14.jpg?alt=media&token=5e50fd30-c470-4063-a462-73dbc9a5c010"
              alt="img"
              class="img-fluid w-75"
            />
          </div>
          <div class="col-md-6">
            <textarea
              class="form-control"
              name="ans2page20"
              [(ngModel)]="libro.ans2Page20"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
              cols="30"
              rows="7"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-info m-1">
        <div class="row">
          <div class="col-md-6 text-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-15.jpg?alt=media&token=38bcd7d5-90f8-49af-9d4d-0e91c8610f8b"
              alt="img"
              class="img-fluid w-75"
            />
          </div>
          <div class="col-md-6">
            <textarea
              class="form-control"
              name="ans3page20"
              [(ngModel)]="libro.ans3Page20"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
              cols="30"
              rows="7"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
