<div>
  <div class="row">
    <div class="col-md-12">
      <h4>CHAT TIME</h4>
      <p>Work with your classmate and ask questions about the past</p>
    </div>
    <div class="col-md-4 p-1">
      <div class="card border-info">
        <div class="text-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-7.webp?alt=media&token=a5d8e4b0-5447-4562-8d48-fd7c3f9ae16f"
            class="img-fluid w-75"
            alt="img"
          />
        </div>
        <ul>
          <li><b> A.</b> Did you play soccer?</li>
          <li>
            <b>B.</b>
            No, I didn't.
          </li>
          <li><b>A.</b> What did you play?</li>
          <li>
            <b>B.</b>
            I played baseball and I caught difficult ball.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 p-1">
      <div class="card border-info">
        <div class="text-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-8.jpg?alt=media&token=cf9245b6-52c6-4b85-b63f-6b272d1069b9"
            class="img-fluid w-75"
            alt="img"
          />
        </div>
        <ul>
          <li><b>A.</b> Did you do the math task?</li>
          <li class="d-flex">
            <b>B.</b
            ><input
              type="text"
              class="form-control"
              name="ans1page43"
              [(ngModel)]="libro.ans1Page43"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </li>
          <li><b>A.</b> What task did you do?</li>
          <li class="d-flex">
            <b>B.</b
            ><input
              type="text"
              class="form-control"
              name="ans2page43"
              [(ngModel)]="libro.ans2Page43"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 p-1">
      <div class="card border-info">
        <div class="text-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-9.jpg?alt=media&token=da7049af-9286-431d-9f6e-1e4e4a3da261"
            class="img-fluid w-75"
            alt="img"
          />
        </div>
        <ul>
          <li><b>A.</b> Did you clean the house?</li>
          <li class="d-flex">
            <b>B.</b
            ><input
              type="text"
              class="form-control"
              name="ans3page43"
              [(ngModel)]="libro.ans3Page43"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </li>
          <li><b>A.</b> What did you do?</li>
          <li class="d-flex">
            <b>B.</b
            ><input
              type="text"
              class="form-control"
              name="ans4page43"
              [(ngModel)]="libro.ans4Page43"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 my-2">
      <strong>Write the questions in the correct order.<br /> </strong>
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          Ejemplo: night? / meet / Did / you / them / last /
          <input
            type="text"
            class="form-control"
            value="Did you meet them last night? "
            disabled
          />
        </li>
        <li>
          1. . film? / like / you / Did / the /
          <input
            type="text"
            class="form-control m-1"
            name="ans5page43"
            [(ngModel)]="libro.ans5Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          2. you / many / did / ask? / How / people /
          <input
            type="text"
            class="form-control m-1"
            name="ans6page43"
            [(ngModel)]="libro.ans6Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          3. a / have / time? / they / Did / good /
          <input
            type="text"
            class="form-control m-1"
            name="ans7page43"
            [(ngModel)]="libro.ans7Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          4. did / weekend? / the / What / do / we / at /
          <input
            type="text"
            class="form-control m-1"
            name="ans8page43"
            [(ngModel)]="libro.ans8Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          5. she / DVD? / Where / that / did / buy /
          <input
            type="text"
            class="form-control m-1"
            name="ans9page43"
            [(ngModel)]="libro.ans9Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          6. party / on / your / go / Saturday? / he / Did / to /
          <input
            type="text"
            class="form-control m-1"
            name="ans10page43"
            [(ngModel)]="libro.ans10Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          7. did / yesterday? / Who / you / see /
          <input
            type="text"
            class="form-control m-1"
            name="ans11page43"
            [(ngModel)]="libro.ans11Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <hr class="my-2" />
      <h5>Correct the sentences.</h5>
      <p>
        Who do you <b>met</b> on Saturday morning?
        <i class="fas fa-long-arrow-alt-right"></i> Who did you <b>meet</b> on
        Saturday morning?
      </p>
    </div>

    <div class="col-md-6">
      <ol>
        <li>
          Did he went to school yesterday?
          <input
            type="text"
            class="form-control m-1"
            name="ans12page43"
            [(ngModel)]="libro.ans12Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Why did you to go home early?
          <input
            type="text"
            class="form-control m-1"
            name="ans13page43"
            [(ngModel)]="libro.ans13Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Where you did learn English?
          <input
            type="text"
            class="form-control m-1"
            name="ans14page43"
            [(ngModel)]="libro.ans14Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <ol start="4">
        <li>
          Did she works today?
          <input
            type="text"
            class="form-control m-1"
            name="ans15page43"
            [(ngModel)]="libro.ans15Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          What do you this yesterday?
          <input
            type="text"
            class="form-control m-1"
            name="ans16page43"
            [(ngModel)]="libro.ans16Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Did they last night phone you?
          <input
            type="text"
            class="form-control m-1"
            name="ans17page43"
            [(ngModel)]="libro.ans17Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
  </div>
</div>
