<div>
    <div class="row">
        <div class="col-md-6">
            <ol>
                <li> This passage is mostly about
                    <ul>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p47-l3" id="q1-p47-l3-o1" value="option1">
                                <label class="form-check-label" for="q1-p47-l3-o1">
                       A. spider colors
                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p47-l3" id="q1-p47-l3-o2" value="option2">
                                <label class="form-check-label" for="q1-p47-l3-o2">
                        B. spider webs 
                    </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p47-l3" id="q1-p47-l3-o3" value="option3">
                                <label class="form-check-label" for="q1-p47-l3-o3">
                        C. spider eggs
                    </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li> Spider webs help spiders
                    <ul class="list-inline">
                        <li class="list-inline-item">• I. hold eggs</li>
                        <li class="list-inline-item">• II. catch food</li>
                        <li class="list-inline-item">• III. find water</li>
                    </ul>
                    <ul>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p47-l3" id="q2-p47-l3-o1" value="option1">
                                <label class="form-check-label" for="q2-p47-l3-o1">
                       A.  I only 
                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p47-l3" id="q2-p47-l3-o2" value="option2">
                                <label class="form-check-label" for="q2-p47-l3-o2">
                        B. I and II only 
                    </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p47-l3" id="q2-p47-l3-o3" value="option3">
                                <label class="form-check-label" for="q2-p47-l3-o3">
                        C. I, II, and III
                    </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li> The word trapped most nearly means
                    <ul>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p47-l3" id="q3-p47-l3-o1" value="option1">
                                <label class="form-check-label" for="q3-p47-l3-o1">
                       A. stuck
                        </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p47-l3" id="q3-p47-l3-o2" value="option2">
                                <label class="form-check-label" for="q3-p47-l3-o2">
                        B. hidden  
                    </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p47-l3" id="q3-p47-l3-o3" value="option3">
                                <label class="form-check-label" for="q3-p47-l3-o3">
                        C. eaten
                    </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li> How can spiders tell when something is trapped in their web?
                    <ul>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p47-l3" id="q4-p47-l3-o1" value="option1">
                                <label class="form-check-label" for="q4-p47-l3-o1">
                       A. They hear it. 
                        </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p47-l3" id="q4-p47-l3-o2" value="option2">
                                <label class="form-check-label" for="q4-p47-l3-o2">
                        B. They smell it. 
                    </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p47-l3" id="q4-p47-l3-o3" value="option3">
                                <label class="form-check-label" for="q4-p47-l3-o3">
                        C. They feel it.
                    </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li> As used in the last sentence of the passage, the word survive means to stay
                    <ul>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q5-p47-l3" id="q5-p47-l3-o1" value="option1">
                                <label class="form-check-label" for="q5-p47-l3-o1">
                       A. alive
                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q5-p47-l3" id="q5-p47-l3-o2" value="option2">
                                <label class="form-check-label" for="q5-p47-l3-o2">
                        B. hidden
                    </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q5-p47-l3" id="q5-p47-l3-o3" value="option3">
                                <label class="form-check-label" for="q5-p47-l3-o3">
                        C. caught
                    </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col-md-6">


            <ol start="6">

                <li>
                    <p>The passage lists three reasons why spiders spin webs. Of these reasons, which do you think is the most important? How come?</p>
                    <textarea name="" placeholder="Answer" id="" cols="60" rows="4"></textarea>
                </li>
                <li>
                    Do you like spiders? Why or why not? Have you ever been scared by a spider? Have you ever been hurt by one? Have you ever helped one? Explain.
                    <textarea name="" placeholder="Answer" id="" cols="60" rows="4"></textarea>
                </li>
                <li>
                    Are spiders good? Do we need them in our world? Why or why not?<br><br>

                    <textarea name="" placeholder="Answer" id="" cols="60" rows="4"></textarea>
                </li>
            </ol>
        </div>
    </div>

</div>