<div>
  <div class="row">
    <div class="col-md-12 my-3">
      <h5>Grammar flash:</h5>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <!-- audio 299 l1 -->
        <audio id="a1p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F299.mp3?alt=media&token=9b3196a1-5bbe-4132-afa3-cd685d2b384d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 300 l1 -->
        <audio id="a2p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F300.mp3?alt=media&token=a4a12e94-293f-43ed-9e47-a8b53c2f831a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 301 l1 -->
        <audio id="a3p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F301.mp3?alt=media&token=87efc50d-6732-4753-a691-e0a0148dcd79"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 302 l1 -->
        <audio id="a4p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F302.mp3?alt=media&token=ea524714-0da1-4324-b16e-84d4aa94bbdf"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 303 l1 -->
        <audio id="a5p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F303.mp3?alt=media&token=62e47d22-2570-439b-86f1-367d5a0bc96f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 304 l1 -->
        <audio id="a6p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F304.mp3?alt=media&token=f131e095-a52e-4ec9-a9b1-4aefca116171"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 305 l1 -->
        <audio id="a7p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F305.mp3?alt=media&token=a49ce1fb-9b81-47d1-ad3a-70d802f216eb"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>

        <br />
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fcuadro5.png?alt=media&token=a19e7e01-b6a9-4b19-b9b1-bac23f59c4f3"
          class="img-fluid m-1"
          alt="img"
        />
        <br />
        <!-- audio 306 l1 -->
        <audio id="a8p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F306.mp3?alt=media&token=d40a9ca7-0158-4835-9a4a-e1ada14a3f55"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 307 l1 -->
        <audio id="a9p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F307.mp3?alt=media&token=fd44821b-6f59-4208-a415-7ea5a413d600"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 308 l1 -->
        <audio id="a10p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F308.mp3?alt=media&token=1a572119-6c05-4939-939f-f6bab4e9f02b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 309 l1 -->
        <audio id="a11p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F309.mp3?alt=media&token=98848274-813d-490f-9331-8a3a0c4a217c"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 310 l1 -->
        <audio id="a12p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F310.mp3?alt=media&token=d7935cc7-4885-4c09-80c2-a9f175f98889"
          />
        </audio>
        <button
          (click)="reproducirAudio('a12p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 311 l1 -->
        <audio id="a13p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F311.mp3?alt=media&token=8b1b954a-02fe-4028-8b62-7a43d58d831e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a13p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <!-- audio 312 l1 -->
        <audio id="a14p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F312.mp3?alt=media&token=3484d380-21fb-4afc-9878-18c25eb8ad4e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a14p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
      </div>

      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Teacher:</th>
            <th>Student:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- audio 313 l1 -->
              <audio id="a15p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F313.mp3?alt=media&token=ae48c262-a4d8-4ad9-bf20-02aee75a81f2"
                />
              </audio>
              <button
                (click)="reproducirAudio('a15p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              I am with my mother ...
            </td>
            <td>
              <!-- audio 314 l1 -->
              <audio id="a16p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F314.mp3?alt=media&token=079abc2a-634e-40b0-9284-cce3041f3b8a"
                />
              </audio>
              <button
                (click)="reproducirAudio('a16p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              I am with my mother
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 315 l1 -->
              <audio id="a17p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F315.mp3?alt=media&token=c5eb86b4-5eab-4a5f-a558-4d4f1b06e313"
                />
              </audio>
              <button
                (click)="reproducirAudio('a17p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (She) ... (Her) ...
            </td>
            <td>
              <!-- audio 316 l1 -->
              <audio id="a18p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F316.mp3?alt=media&token=1249fc1b-c33c-4af6-8fb0-62cb74089564"
                />
              </audio>
              <button
                (click)="reproducirAudio('a18p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              She is with her mother
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 317 l1 -->
              <audio id="a19p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F317.mp3?alt=media&token=ea88addf-abaa-42a4-babd-0c0537e20f83"
                />
              </audio>
              <button
                (click)="reproducirAudio('a19p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (He) (his) ...
            </td>
            <td>
              <!-- audio 318 l1 -->
              <audio id="a20p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F318.mp3?alt=media&token=6128e238-079e-42d9-8321-5231cf4e2d46"
                />
              </audio>
              <button
                (click)="reproducirAudio('a20p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              He is with his mother
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 319 l1 -->
              <audio id="a21p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F319.mp3?alt=media&token=c8ffb17a-1a96-415e-8580-4b69c292376e"
                />
              </audio>
              <button
                (click)="reproducirAudio('a21p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (We) ...
            </td>
            <td>
              <!-- audio 320 l1 -->
              <audio id="a22p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F320.mp3?alt=media&token=5e61e805-fb18-499c-873e-a36db85343bc"
                />
              </audio>
              <button
                (click)="reproducirAudio('a22p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              We are with our mother
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 321 l1 -->
              <audio id="a23p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F321.mp3?alt=media&token=51475db0-566d-4070-b7cb-9b0ebea16864"
                />
              </audio>
              <button
                (click)="reproducirAudio('a23p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (They) ...
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio 322 l1 -->
                <audio id="a24p19l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F322.mp3?alt=media&token=533c0413-d0b5-4fec-a167-a83fcb7c6393"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a24p19l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans1Page19"
                [(ngModel)]="libro.ans1Page19"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 323 l1 -->
              <audio id="a25p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F323.mp3?alt=media&token=42595807-397b-4417-b219-00387fd9d5fe"
                />
              </audio>
              <button
                (click)="reproducirAudio('a25p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              (She) ...
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio 324 l1 -->
                <audio id="a26p19l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F324.mp3?alt=media&token=c459f1b6-d220-4eac-a91a-14bde2203af7"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a26p19l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans2Page19"
                [(ngModel)]="libro.ans2Page19"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 325 l1 -->
              <audio id="a27p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F325.mp3?alt=media&token=ff1ef8c2-66da-4fdd-9892-54723a16eff1"
                />
              </audio>
              <button
                (click)="reproducirAudio('a27p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Peter ...
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio 326 l1 -->
                <audio id="a28p19l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F326.mp3?alt=media&token=63e5f9c1-3659-44d2-b5a2-3bf4decdf763"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a28p19l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans3Page19"
                [(ngModel)]="libro.ans3Page19"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 327 l1 -->
              <audio id="a29p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F327.mp3?alt=media&token=1ba1ecf4-bf6e-49f0-be7b-53f3e50686d5"
                />
              </audio>
              <button
                (click)="reproducirAudio('a29p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              ... son ...
            </td>
            <td>
              <!-- audio 328 l1 -->
              <audio id="a30p19l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F328.mp3?alt=media&token=b6c94677-727e-4eb1-90e5-9f029a09b5b5"
                />
              </audio>
              <button
                (click)="reproducirAudio('a30p19l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Peter is with his son
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="card border-info">
        <div class="row">
          <div class="col-md-6">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F41.png?alt=media&token=bd4c58eb-9d36-4ac2-851f-73efba90d802"
              class="card-img-top img-fluid"
              alt="img"
            />
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <ul>
              <h5>Example:</h5>
              <li>
                <!-- audio 329 l1 -->
                <audio id="a31p19l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F329.mp3?alt=media&token=8e4c5f38-f510-459f-a75a-c5ff5cdf48c0"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a31p19l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
                A. Who is she?
              </li>
              <li>
                <!-- audio 330 l1 -->
                <audio id="a32p19l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F330.mp3?alt=media&token=ad6a2897-b2fd-4ecf-9f69-fd68e798c090"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a32p19l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
                B. She is my sister
              </li>
              <li>
                <!-- audio 331 l1 -->
                <audio id="a33p19l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F331.mp3?alt=media&token=12c8f9db-f1e2-4954-a056-dc1e4e1e699a"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a33p19l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
                A. What’s her name?
              </li>
              <li>
                <!-- audio 332 l1 -->
                <audio id="a34p19l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F332.mp3?alt=media&token=fe72b974-e9b4-4e11-bef4-d58ad83b00d1"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a34p19l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
                B. Her name is Katherine
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F42.png?alt=media&token=fa1198be-9a65-433a-a535-2ed18cd51ae9"
          class="card-img-top img-fluid w-50"
          alt="img"
        />
      </div>
      <div class="col-md-12">
        <!-- audio 333 l1 -->
        <audio id="a35p19l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F333.mp3?alt=media&token=2450b08f-3013-4065-acfe-0e5f3b220593"
          />
        </audio>
        <button
          (click)="reproducirAudio('a35p19l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        • A. Who are they?
        <div class="d-flex align-items-center">
          <div>
            <!-- audio 334 l1 -->
            <audio id="a36p19l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F334.mp3?alt=media&token=8759bd7a-a1fd-4151-aefd-69fd6bd9a242"
              />
            </audio>
            <button
              (click)="reproducirAudio('a36p19l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
          </div>
          <input
            type="text"
            placeholder="B."
            class="form-control m-1"
            name="ans4Page19"
            [(ngModel)]="libro.ans4Page19"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </div>
        <div class="d-flex align-items-center">
          <!-- audio 335 l1 -->
          <div>
            <audio id="a37p19l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F335.mp3?alt=media&token=f661e8a7-b90f-4b82-949a-a7079e214316"
              />
            </audio>
            <button
              (click)="reproducirAudio('a37p19l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
          </div>
          <input
            type="text"
            placeholder="A."
            class="form-control m-1"
            name="ans5Page19"
            [(ngModel)]="libro.ans5Page19"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </div>
        <div class="d-flex align-items-center">
          <div>
            <!-- audio 336 l1 -->
            <audio id="a38p19l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F336.mp3?alt=media&token=8cc543a2-5fa3-4995-87b5-c33d560332a7"
              />
            </audio>
            <button
              (click)="reproducirAudio('a38p19l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
          </div>
          <input
            type="text"
            placeholder="B."
            class="form-control m-1"
            name="ans6Page19"
            [(ngModel)]="libro.ans6Page19"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
