<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">UNIT 6</span></h1>
      <h3 class="text-center">PAST PROGRESSIVE</h3>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-1.jpg?alt=media&token=b22dec79-8549-421c-85b2-84649a54635a"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a3p24l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F1.take%20a%20shower.mp3?alt=media&token=8b9d052f-c3f3-4292-83d5-806d5de0ea4b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Take a shower
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-2.jpg?alt=media&token=a00818ed-48fd-42ad-b6ef-b98f5994dbed"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a4p24l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F2.get%20on%20a%20bus.mp3?alt=media&token=7359b62b-c525-47fa-9aa8-02444f28796f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Get on a bus
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-3.jpg?alt=media&token=fb95edb6-cfa5-4c53-866e-d30bcb7c5e85"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a5p24l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F3.paint.mp3?alt=media&token=c6499731-3eed-45ae-bde5-f610bbca3afe"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Paint
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-4.png?alt=media&token=f05492c1-d41a-4ddf-ae50-6e652641b947"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a6p24l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F4.have%20lunch.mp3?alt=media&token=b83ee020-3a91-40e4-b53d-a73826a57c5e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Have lunch
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-5.jpg?alt=media&token=c51f56a5-a08e-45f0-9efe-08b34e72fc59"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a7p24l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F5.get%20out%20of.mp3?alt=media&token=f85fee5e-c97a-479e-8cea-c43122031e42"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Get out of
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-6.jpg?alt=media&token=4d95fb31-3393-4cd4-b2cd-0e0447354213"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a8p24l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F6.say%20hello.mp3?alt=media&token=b49ac1f6-78c3-4958-948d-32f631cddaa5"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Say Hello
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-7.png?alt=media&token=0911df07-6066-4ecb-b717-689ccb493211"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a9p24l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F7.take%20a%20taxi.mp3?alt=media&token=5b690c7f-8e47-4f8e-9505-1d948fd9a658"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Take a taxi
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-8.jpg?alt=media&token=4fdbf05d-8d19-4aff-8d55-e4d8c90da67a"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a10p24l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F8.ride%20a%20bicycle.mp3?alt=media&token=32909f83-e94a-4e54-b0e4-cb97b746e65c"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Ride a bicycle
      </h6>
    </div>
    <!-- <div class="col-md-4  my-1">
     <div class="d-flex justify-content-center">
 <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-9.jpg?alt=media&token=e66697ef-8d17-4333-b277-febd7522dba6"
        class="img-fluid m-1 rounded card border-info w-75"
        alt="img"
      />
     </div>
      <h6 class="center">
        audio 377 l1 
        <audio id="a11p24l2" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a11p24l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9.
      </h6>
    </div> -->
  </div>
</div>
