<div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 1. Based on the following dialogue make the others</strong></p>
            <div class="row">
                <div class="col-md-6 small">
                    <ul>
                        <li><strong>A. </strong> Do Mr. and Mrs. Baker see a play on Monday?</li>
                        <li><strong>B. </strong> No, they don’t</li>
                        <li><strong>A. </strong> Why not?</li>
                        <li><strong>B. </strong> Because they go to a museum on Monday.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2 w-75" alt="">
                </div>
            </div>
            <hr>
            <ul>
                <li>2. Take karate lessons on Wednesday <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>3. Go dancing on Saturday <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>4. Play cards with their friends on Monday <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>5. Go to a concert on Friday <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>6. See a movie on Saturday <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>7. See a play on Thursday <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
            </ul>
        </div>
    </div>
</div>