<div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"><h4 class="text-center my-3">CHAT TIME</h4></div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-10.jpg?alt=media&token=858dfecc-b208-40bd-a3f2-c0fc3b38c56c"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>1.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value=" What do you do every-day?"
              id=""
              disabled
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="I go to school every-day"
              id=""
              disabled
            />
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-11.jpg?alt=media&token=86c0ae32-89e6-4a4c-8606-658e6a4cfd3f"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>2.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What does he do every-day?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans1Page46"
              [(ngModel)]="libro.ans1Page46"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-1.jpg?alt=media&token=aa6b7cf7-5c28-4d0a-8f9d-de8fd9aeb3b7"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>3.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What time do you get up?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans2Page46"
              [(ngModel)]="libro.ans2Page46"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-12.jpg?alt=media&token=7da47239-ec95-40bf-a332-702033b11232"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>4.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What do you parents do on monday?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans3Page46"
              [(ngModel)]="libro.ans3Page46"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-13.jpg?alt=media&token=87cfda0f-484e-4c2d-ad98-cfb87fb7d9a8"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>5.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What does Janet do every-weekend?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans4Page46"
              [(ngModel)]="libro.ans4Page46"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-8.jpg?alt=media&token=d11553ff-3d91-42bc-abc2-eab404091c2c"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>6.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What time do you get home?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans5Page46"
              [(ngModel)]="libro.ans5Page46"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-14.PNG?alt=media&token=93cf1b51-bbb4-4406-9fa7-88c9661f41a8"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>7.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What do you eat when you go to a restaurant?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans6Page46"
              [(ngModel)]="libro.ans6Page46"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-15.jpg?alt=media&token=97b3f6ef-8b87-433d-97ee-4ac381720a9c"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>8.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What does the chef cook on sunday?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans7Page46"
              [(ngModel)]="libro.ans7Page46"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
