<div>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-23.PNG?alt=media&token=3ee96199-2aae-42b1-a6e8-c185bccccc3d"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-6">
      <ol start="6">
        <li>
          Right now I (think)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans1page52"
            [(ngModel)]="libro.ans1Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          about sea gulls and waves
        </li>
        <li>
          I (think)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans2page52"
            [(ngModel)]="libro.ans2Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          that sea gulls are beautiful birds
        </li>
        <li>
          <ul>
            <li>
              A: Who is that man? I (think)
              <input
                type="text"
                class="form-control input m-1"
                size="100"
                style="width: 100px; height: 30px"
                name="ans3page52"
                [(ngModel)]="libro.ans3Page52"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              that I (know)
              <input
                type="text"
                class="form-control input m-1"
                size="100"
                style="width: 100px; height: 30px"
                name="ans4page52"
                [(ngModel)]="libro.ans4Page52"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              him, but I (forget)
              <input
                type="text"
                class="form-control input m-1"
                size="100"
                style="width: 100px; height: 30px"
                name="ans5page52"
                [(ngModel)]="libro.ans5Page52"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              his name right now
            </li>
            <li>B: That’s Mr. Martin</li>
            <li>
              A: That’s right! I (remember)
              <input
                type="text"
                class="form-control input m-1"
                size="100"
                style="width: 100px; height: 30px"
                name="ans6page52"
                [(ngModel)]="libro.ans6Page52"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              him now
            </li>
          </ul>
        </li>
        <li>
          Sam is at the library. He (sit)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans7page52"
            [(ngModel)]="libro.ans7Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          at a table. He (write)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans8page52"
            [(ngModel)]="libro.ans8Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a composition. He (use)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans9page52"
            [(ngModel)]="libro.ans9Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a dictionary to look up the spelling of some words. The dictionary
          (belong, not)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans10page52"
            [(ngModel)]="libro.ans10Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to him. It (belong)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans11page52"
            [(ngModel)]="libro.ans11Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to his roommate. Sam (look)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans12page52"
            [(ngModel)]="libro.ans12Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          up words in the dictionary because he (want)
          <input
            type="text"
            class="form-control input m-1"
            size="100"
            style="width: 100px; height: 30px"
            name="ans13page52"
            [(ngModel)]="libro.ans13Page52"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to make sure that he doesn’t have any misspelled words in his paper.
        </li>
        <li>
          <ul>
            <li>
              A: (believe, you)
              <input
                type="text"
                class="form-control input m-1"
                size="100"
                style="width: 100px; height: 30px"
                name="ans14page52"
                [(ngModel)]="libro.ans14Page52"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              in flying saucers?
            </li>
            <li>
              B: What (talk, you)
              <input
                type="text"
                class="form-control input m-1"
                size="100"
                style="width: 100px; height: 30px"
                name="ans15page52"
                [(ngModel)]="libro.ans15Page52"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              about?
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
