<div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="center my-2">WRITING AND SPEAKING ACTIVITY</h4>

        </div>
        <div class="col-md-6">
            <p class="justify ">Make groups of 3 or 4 students. <br> Discuss and brainstorm how you could improve your English skills. Choose the best three ideas from your group and note these down on the worksheet.</p>
            <p><strong>Working alone</strong>, then choose six things that you are going to do to improve your English. Choose one idea from each category and write a sentence with 'going to', <br> e.g. 'I’m going to speak English for one hour a day'.
            </p>
        </div>
        <div class="col-md-6">
            <p class="justify">When you have finished, pair up with someone from another group.<br> Compare your ideas and give reasons for your choices.<br> Finally, find out which were the most popular ideas by getting feedback from around the class and see which students
                intend to try the ideas they wrote down.</p>
        </div>
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Categories</th>
                        <th>Ideas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">How to improve <br> speaking skills</td>
                        <td> <input type="text" placeholder="1." class="form-control" name="ans1page61" [(ngModel)]="libro.ans1Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="2." class="form-control" name="ans2page61" [(ngModel)]="libro.ans2Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="3." class="form-control" name="ans3page61" [(ngModel)]="libro.ans3Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td rowspan="3">How to improve <br> listening skills</td>
                        <td> <input type="text" placeholder="1." class="form-control" name="ans4page61" [(ngModel)]="libro.ans4Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="2." class="form-control" name="ans5page61" [(ngModel)]="libro.ans5Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="3." class="form-control" name="ans6page61" [(ngModel)]="libro.ans6Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td rowspan="3">How to improve <br> writing skills </td>
                        <td> <input type="text" placeholder="1." class="form-control" name="ans7page61" [(ngModel)]="libro.ans7Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="2." class="form-control" name="ans8page61" [(ngModel)]="libro.ans8Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="3." class="form-control" name="ans9page61" [(ngModel)]="libro.ans9Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Categories</th>
                        <th>Ideas</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td rowspan="3">How to improve <br> reading skills</td>
                        <td> <input type="text" placeholder="1." class="form-control" name="ans10page61" [(ngModel)]="libro.ans10Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="2." class="form-control" name="ans11page61" [(ngModel)]="libro.ans11Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="3." class="form-control" name="ans12page61" [(ngModel)]="libro.ans12Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td rowspan="3">How to improve <br> vocabulary</td>
                        <td> <input type="text" placeholder="1." class="form-control" name="ans13page61" [(ngModel)]="libro.ans13Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="2." class="form-control" name="ans14page61" [(ngModel)]="libro.ans14Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="3." class="form-control" name="ans15page61" [(ngModel)]="libro.ans15Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td rowspan="3">How to improve <br> grammar</td>
                        <td> <input type="text" placeholder="1." class="form-control" name="ans16page61" [(ngModel)]="libro.ans16Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="2." class="form-control" name="ans17page61" [(ngModel)]="libro.ans17Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> <input type="text" placeholder="3." class="form-control" name="ans18page61" [(ngModel)]="libro.ans18Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 my-3">
            <p class="justify">
                <strong>A. </strong> Now, choose six things that you are going to do to improve your English. Choose one idea from each category and write sentences with 'going to'.
            </p>
        </div>
        <div class="col-md-8 table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Speaking</th>
                        <td><input type="text" class="form-control" placeholder="I'm going to ..." name="ans24page60" [(ngModel)]="libro.ans24Page60" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <th>Listening</th>
                        <td><input type="text" class="form-control" name="ans19page60" [(ngModel)]="libro.ans19Page60" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <th>Writing</th>
                        <td><input type="text" class="form-control" name="ans20page60" [(ngModel)]="libro.ans20Page60" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <th>Reading</th>
                        <td><input type="text" class="form-control" name="ans21page60" [(ngModel)]="libro.ans21Page60" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <th>Vocabulary</th>
                        <td><input type="text" class="form-control" name="ans22page60" [(ngModel)]="libro.ans22Page60" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <th>Grammar</th>
                        <td><input type="text" class="form-control" name="ans23page60" [(ngModel)]="libro.ans23Page60" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>