<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 1</span></h1>
      <h3 class="text-center">
        <audio id="a1p1l3" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F1.mp3?alt=media&token=981ac7b3-a4e2-4463-9f6f-497c0502798c"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p1l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        GREETING SOMEONE
      </h3>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-2 col-6 card m-1">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F1.jpg?alt=media&token=a4613995-f620-48d1-9e89-652dc9eef7be"
          alt=""
          class="img-fluid mt-1"
        />
        <h5 class="center mb-1">
          <audio id="a2p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F3.mp3?alt=media&token=3aaeef13-d540-44b6-be85-6e25433140eb"
            />
          </audio>
          <button
            (click)="reproducirAudio('a2p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          BOW DOWN
        </h5>
      </div>
      <div class="col-md-2 col-6 card m-1">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F2.png?alt=media&token=bd3e442b-9dc6-4ce5-81fc-622fdba6366e"
          alt=""
          class="img-fluid mt-1"
        />
        <h5 class="center mb-1">
          <audio id="a3p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F2.mp3?alt=media&token=24c6bc28-387c-4f81-b361-07146681a269"
            />
          </audio>
          <button
            (click)="reproducirAudio('a3p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          SHAKE HANDS
        </h5>
      </div>
      <div class="col-md-2 col-6 card m-1">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F3.jpg?alt=media&token=d36802ce-d28f-4564-a7f6-d3b944b47b2b"
          alt=""
          class="img-fluid mt-1"
        />
        <h5 class="center mb-1">
          <audio id="a4p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F4.mp3?alt=media&token=dc2c8945-1158-48b0-a02e-f4b2aa5bd51a"
            />
          </audio>
          <button
            (click)="reproducirAudio('a4p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          HUG
        </h5>
      </div>
      <div class="col-md-2 col-6 card m-1">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F4.jpg?alt=media&token=a84d0943-a2c7-41ca-84e2-71809e530f89"
          alt=""
          class="img-fluid mt-1"
        />
        <h5 class="center mb-1">
          <audio id="a5p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F5.mp3?alt=media&token=c99a2c0c-6c3f-42c7-9131-b2052b773094"
            />
          </audio>
          <button
            (click)="reproducirAudio('a5p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          WAVE HELLO
        </h5>
      </div>
      <div class="col-md-2 col-6 card m-1">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F5.jpg?alt=media&token=f44e55f2-f878-415f-931d-bb479ccf8fe9"
          alt=""
          class="img-fluid mt-1"
        />
        <h5 class="center mb-1">
          <audio id="a6p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F6.mp3?alt=media&token=57fed68b-711d-4877-9d40-f261cd115f40"
            />
          </audio>
          <button
            (click)="reproducirAudio('a6p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          KISS
        </h5>
      </div>
    </div>
    <hr class="my-2" />
    <div class="col-md-6">
      <h6>
        How do you usually greet someone?
        <input
          type="text"
          class="form-control"
          placeholder="Answer"
          name="ans0page1"
          [(ngModel)]="libro.ans0Page1"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </h6>
      <h4 class="center my-3">
        <audio id="a7p1l3" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F7.mp3?alt=media&token=38ddcd2f-22f3-48dd-831b-0408c2cd8e3a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p1l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        Greeting an Acquaintance or Friend
      </h4>
      <p>
        To really emphasize how long it´s been since you last saw your friend
      </p>
      <ul>
        <li class="my-1">
          <audio id="a8p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F8.mp3?alt=media&token=5718f1e4-3ca9-4db9-bfbc-30ad50aec3ac"
            />
          </audio>
          <button
            (click)="reproducirAudio('a8p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          It's been forever!
        </li>
        <li class="my-1">
          <audio id="a9p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F9.mp3?alt=media&token=17f8150c-87fb-42b5-8919-6872d4d63272"
            />
          </audio>
          <button
            (click)="reproducirAudio('a9p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          I haven't seen you in ages!
        </li>
        <li class="my-1">
          <audio id="a10p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F10.mp3?alt=media&token=253f2987-d576-4289-b092-54e2727f6719"
            />
          </audio>
          <button
            (click)="reproducirAudio('a10p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          I haven't see you for so long!
        </li>
        <li class="my-1">
          <audio id="a11p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F11.mp3?alt=media&token=bf0fd9d6-b9c8-496b-a07f-9ea2ef613d95"
            />
          </audio>
          <button
            (click)="reproducirAudio('a11p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          How long has it been since i last saw you?
        </li>
        <li class="my-1">
          <audio id="a12p1l3" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F12.mp3?alt=media&token=005a15ff-16dc-407b-a42e-3ec82836ddd9"
            />
          </audio>
          <button
            (click)="reproducirAudio('a12p1l3')"
            class="btn azul rounded-pill text-white btn-sm"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          When was the last time we saw each other?
        </li>
      </ul>
      <strong
        >Go Arround the classroom saying hello to your friends and start a small
        talk.</strong
      >
    </div>
  </div>
</div>
