<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 1</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> GREETING SOMEONE</h3>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-6 card mt-2">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid mt-1">
                    <h5 class="center mb-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> BOW DOWN</h5>
                </div>
                <div class="col-md-6 col-6 card mt-2">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid mt-1">
                    <h5 class="center mb-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> SHAKE HANDS</h5>
                </div>
                <div class="col-md-6 col-6 card mt-2">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid mt-1">
                    <h5 class="center mb-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> HUG</h5>
                </div>
                <div class="col-md-6 col-6 card mt-2">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid mt-1">
                    <h5 class="center mb-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> WAVE HELLO</h5>
                </div>
                <div class="col-md-6 col-6 card mt-2">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid mt-1">
                    <h5 class="center mb-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> KISS</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h6>How do you usually greet someone? <input type="text" class="form-control" placeholder="Answer" name="" id=""></h6>
            <h4 class="center my-3"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> Greeting an Acquaintance or Friend</h4>
            <p>To really emphasize how long it´s been since you last saw your friend</p>
            <ul>
                <li class="my-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> It's been forever!</li>
                <li class="my-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> I haven't seen you in ages!</li>
                <li class="my-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> I haven't see you for so long!</li>
                <li class="my-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> How long has it been since i last saw you?</li>
                <li class="my-1"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> When was the last time we saw each other?</li>
            </ul>
            <strong>Go Arround the classroom saying hello to your friends and start a small talk.</strong>
        </div>
    </div>
</div>