<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2">ACTIVITY 4.6</h6>
      <p>Practice pronouncing the following past forms of regular verbs.</p>
    </div>
    <div class="col-md-4">
      <strong
        >GROUP A: Final –ed is pronounce /t/ after voiceless sounds
      </strong>
      <ol>
        <li>looked</li>
        <li>asked</li>
        <li>helped</li>
        <li>laughed</li>
        <li>pushed</li>
        <li>watched</li>
        <li>dressed</li>
        <li>boxed</li>
      </ol>
    </div>
    <div class="col-md-4">
      <strong>GROUP B: Final –ed is pronounced /d/ after voiced sounds </strong>
      <ol start="9">
        <li>sobbed</li>
        <li>believed</li>
        <li>filled</li>
        <li>poured</li>
        <li>roamed</li>
        <li>judged</li>
        <li>enjoyed</li>
        <li>dried</li>
      </ol>
    </div>
    <div class="col-md-4">
      <strong>GROUP C: Final –ed is pronounced /id/ after –d and t </strong>
      <ol start="17">
        <li>needed</li>
        <li>defended</li>
        <li>added</li>
        <li>loaded</li>
        <li>waited</li>
        <li>rested</li>
        <li>counted</li>
        <li>halted</li>
      </ol>
    </div>
    <div class="col-md-12 my-2">
      <strong
        >Underline the verbs and practice the following sentences aloud.</strong
      >
      <ol start="25">
        <li>
          My friend <b>jumped</b> up and down and <b>shouted</b> when she
          <b>heard</b> the news.
        </li>
        <li>The concert lasted for two hours.</li>
        <li>
          With the coming of spring, the river flooded and inundated several
          villages.
        </li>
        <li>She tapped the top of her desk.</li>
        <li>He described his house.</li>
        <li>They demanded to know the answer.</li>
        <li>The airplane departed at six and landed at eight.</li>
        <li>Alice pushed and I pulled.</li>
        <li>He handed me his dictionary.</li>
        <li>Jack tooted his horn.</li>
        <li>They asked us to help them.</li>
      </ol>
    </div>
  </div>
</div>
