<div>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-3">
      <h1><span class="badge morado my-2">UNIT 6</span></h1>
      <h3 class="text-center">
        <!-- audio65 -->
        <audio id="a1p6l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>

        <button
          (click)="reproducirAudio('a1p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        SIMPLE PAST - (IRREGULARS AND REGULARS VERBS)<br />
        VOCABULARY
      </h3>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-1.webp?alt=media&token=569afba7-60b9-4bb4-b79a-2ea79a7cd231"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">1. Eat dinner / atess </strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-2.webp?alt=media&token=845e3a8a-4134-44cb-a4b7-f2be9678263b"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">2. Drink / drank</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-3.webp?alt=media&token=8d7ef0e4-301f-4e3e-8ebc-0225e27ee113"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">3. Drink / drank </strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-4.webp?alt=media&token=107ae760-e6c6-4565-bd0e-4638753a48fd"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center"
        ><!-- audio66 -->
        <audio id="a2p6l4" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F66.mp3?alt=media&token=820f7be9-ca39-4764-b9fe-07d6a8158077"
          />
        </audio>

        <button
          (click)="reproducirAudio('a2p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Ride / rode
      </strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-5.webp?alt=media&token=7695ecf5-cd4a-40bf-8d00-bba6f74975ec"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">5. Write /wrote</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-6.webp?alt=media&token=d384ef28-b15c-478d-b1fe-a2c14fc04d7b"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">6. Arrive / arrived</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-7.webp?alt=media&token=36af1e5e-79e7-4ff8-bf79-ce6954387560"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">
        <!-- audio67 -->
        <audio id="a3p6l4" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F67.mp3?alt=media&token=891d7ab4-4597-4824-9159-e1effe743b11"
          />
        </audio>

        <button
          (click)="reproducirAudio('a3p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Visit a friend / visited</strong
      >
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-8.webp?alt=media&token=6e150368-6527-4ccd-ba56-309f0a08ee4e"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">8. Visit a friend / visited</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-9.jpg?alt=media&token=68a0663a-9ee0-48e4-b09b-6772643250d8"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">9. Leave to work / left</strong>
    </div>
  </div>
</div>
