<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-12">
            <nav class="bg-aes">
                <div class="row pt-md-5 p-5 p-md-0">
                    <div class="col-md-3 col-6 center">
                        <a class="nav-link p-0" [routerLink]="['listado']">
                            <img class="img-fluid iconos cursor-pointer" src="assets/navbar/libros.png" alt="libros">
                            <h5 class="text-navbar"> Libros App </h5>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 center">
                        <!-- <a class="nav-link p-0" [routerLink]="['cursos']"> -->
                        <a class="nav-link p-0" href="http://libros.aesinstituto.com/" target="_blank">
                            <img class="img-fluid  iconos cursor-pointer" src="assets/navbar/cursos.png" alt="cursos">
                            <h5 class="text-navbar"> Cursos Gratis </h5>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 center">
                        <a href="https://www.aesinstituto.com/" target="_blank" class="none-link">
                            <img class="img-fluid  iconos cursor-pointer" src="assets/navbar/sitio-web.png" alt="home">
                            <h5 class="text-navbar "> Sitio Web </h5>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 center">
                        <a class="nav-link p-0" [routerLink]="['contacto']">
                            <img class="img-fluid  iconos cursor-pointer" src="assets/navbar/contacto.png" alt="contacto">
                            <h5 class="text-navbar"> Contáctanos </h5>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>