<div>
  <div class="row">
    <div class="col-md-6">
      <h6>READING TIME</h6>
      <h4 class="text-center my-2">Pompeii – a town with a difference</h4>

      <p class="justify">
        On your next trip to ltaly, why not visit the fantastic Roman town of
        Pompeii? In the past, twenty thousand people lived in Pompeii in big
        houses with big gardens. The Romans built roads in the town and there
        were many public places like baths, amphitheatres, banks, and markets.
        There wasn’t any electricity and people got up with the sun. For
        breakfast they had bread and cheese. People started work very early and
        stopped at twelve o'clock for a lunch of fish, bread, cake and fruit. In
        the afternoon people went to watch the gladiators or to the public baths
        to wash and meet friends. In the evening they often had dinner parties
        They were an important part of Roman life. But life in Pompeii stopped
        in 79 AD when the volcano Vesuvius erupted. Today you can see the town
        exactly as it was nearly two thousand years ago.
      </p>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-13.png?alt=media&token=d05cf0d0-b9dd-44fc-b1dd-6ac5085385d5"
        class="img-fluid w-75"
        alt="img"
      />
    </div>

    <div class="col-md-6">
      <ol>
        <li>
          Where is Pompeii?
          <input
            type="text"
            class="form-control m-1"
            name="ans1page50"
            [(ngModel)]="libro.ans1Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          How many people lived there?
          <input
            type="text"
            class="form-control m-1"
            name="ans2page50"
            [(ngModel)]="libro.ans2Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          When did people get up?
          <input
            type="text"
            class="form-control m-1"
            name="ans3page50"
            [(ngModel)]="libro.ans3Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          What did they have for breakfast?
          <input
            type="text"
            class="form-control m-1"
            name="ans4page50"
            [(ngModel)]="libro.ans4Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <ol start="5">
        <li>
          What time did they have lunch?
          <input
            type="text"
            class="form-control m-1"
            name="ans5page50"
            [(ngModel)]="libro.ans5Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Where did they wash?
          <input
            type="text"
            class="form-control m-1"
            name="ans6page50"
            [(ngModel)]="libro.ans6Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          What did they often do in the evenings?
          <input
            type="text"
            class="form-control m-1"
            name="ans7page50"
            [(ngModel)]="libro.ans7Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Why did life in Pompeii stop?
          <input
            type="text"
            class="form-control m-1"
            name="ans8page50"
            [(ngModel)]="libro.ans8Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
  </div>
</div>
