<div>
  <div class="row">
    <div class="col-md-8 order-2 order-md-1">
      <ol start="18">
        <li>
          FISH: I (believe, not).<input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans1page47"
            [(ngModel)]="libro.ans1Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          you. Bees can’t hurt bears. I
        </li>
        <li>
          (believe, not)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans2page47"
            [(ngModel)]="libro.ans2Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          your story about a great big bee.
        </li>
        <li>
          All bees (be)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans3page47"
            [(ngModel)]="libro.ans3Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          the same size, and they (be, not)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans4page47"
            [(ngModel)]="libro.ans4Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          big.
        </li>
        <li>
          Bear: But it (be)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans5page47"
            [(ngModel)]="libro.ans5Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          true! Here. Come a little closer and look at my ear. I show you where
          the big bee stung it.
        </li>
        <li>
          FISH: Okay. Where (it, be)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans6page47"
            [(ngModel)]="libro.ans6Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          ?
        </li>
        <li>
          Where (the bee, sting)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans7page47"
            [(ngModel)]="libro.ans7Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          you?
          <br />BEAR: Right here. See?
        </li>
        <li>
          FISH: Stop! What (you, do)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans8page47"
            [(ngModel)]="libro.ans8Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          ? Let go of me!
        </li>
        <li>
          Why (you, hold)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans9page47"
            [(ngModel)]="libro.ans9Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          me?
        </li>
        <li>
          BEAR: I (hold)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans10page47"
            [(ngModel)]="libro.ans10Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          - you because I'm going to eat you for dinner.
        </li>
        <li>
          FISH: Oh no! You (trick)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans11page47"
            [(ngModel)]="libro.ans11Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          me! Your story about the great big bee i
        </li>
        <li>
          never (happen)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans12page47"
            [(ngModel)]="libro.ans12Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div
      class="col-md-4 order-1 d-flex align-items-center justify-content-center order-md-2"
    >
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-28.PNG?alt=media&token=a174e984-a721-4a50-9177-0a79ba3f7363"
        class="img-fluid"
        alt="img"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-29.PNG?alt=media&token=5102282d-58ec-458c-b50b-e6927cf22b81"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-8">
      <ol start="29">
        <li>
          BEAR: That's right. I (get)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans13page47"
            [(ngModel)]="libro.ans13Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          in the river because I (want)
        </li>
        <li>
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans14page47"
            [(ngModel)]="libro.ans14Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          (catch)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans15page47"
            [(ngModel)]="libro.ans15Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          you for dinner. And I
        </li>
        <li>
          did. I (catch)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans16page47"
            [(ngModel)]="libro.ans16Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          you for dinner. FISH: Watch out! Behind you! Oh no! Oh no! It's a
          very, very big bee. It's huge! It
        </li>
        <li>
          (look)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans17page47"
            [(ngModel)]="libro.ans17Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          really angry!
        </li>
        <li>
          BEAR: I (believe, not)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans18page47"
            [(ngModel)]="libro.ans18Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          you!
        </li>
        <li>
          FISH: But it (be)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans19page47"
            [(ngModel)]="libro.ans19Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          true! A great big bee (come)<input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans20page47"
            [(ngModel)]="libro.ans20Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          toward you. It's going to attack you and sting you!
        </li>
        <li>
          BEAR: What? Where? I (see, not)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans21page47"
            [(ngModel)]="libro.ans21Page47"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a big bee! Oh no, Fish,
        </li>
      </ol>
    </div>
  </div>
</div>
