<div>
    <div class="row">
        <div class="col-md-12">
            <strong>B. Make your own family tree. Write the mane of your family and the relation, 
                begin with your grandfather and grandmother from your mother side or
                then from your Father side.
                </strong>
        </div>
        <hr class="my-3">
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-6">
            This is my grandmother. Her name is
            <input type="text" name="ans1Page22" [(ngModel)]="libro.ans1Page22" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="m-1" id="">. She is <input type="text" size=40 style="width : 40px; height : 30px" name="ans2Page22" [(ngModel)]="libro.ans2Page22"
                (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class=" m-1" id=""> year old.
            <textarea name="ans3Page22" [(ngModel)]="libro.ans3Page22" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control m-1" cols="30" rows="5"></textarea>
        </div>
        <div class="col-md-12">
            <strong>C. ORAL PRACTICE</strong>
            <p>Ask your classmates the following questions. </p>
            <div class="row">
                <div class="col-md-5">
                    <ol>
                        <li>
                            A: I need a pen. <strong>Who can lend me one?</strong> <br> B: Here take this one
                        </li>
                        <li>
                            A: Who do you live with? <br> B: I live with my grandfather <br> A: Do you get along with him? <br> B: Of course.
                        </li>
                    </ol>
                </div>
                <div class="col-md-7">
                    <ul>
                        <li> Pencil sharpener</li>
                        <li> Chalk</li>
                        <li> Eraser</li>
                        <li> White out</li>
                        <li> Cousin</li>
                        <li> Brother</li>
                        <li> Sister in law</li>
                        <li> Aunt</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>