<div>
  <div class="row">
    <div class="col-md-12 my-2">
      <h4>CHAT TIME</h4>
    </div>
    <div class="col-md-3 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-31.webp?alt=media&token=a6e7527e-95e5-4807-a303-a994dfef50e0"
        class="img-fluid card rounded"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <ul>
        <li>Yes, more sugar, please</li>
        <li>How much sugar do you want?</li>
        <li>Not too much, just a little</li>
        <li>O.K., here you are</li>
        <li>Thanks; how much is it?</li>
        <li>It’s 5 dollars</li>
      </ul>
    </div>
    <div class="col-md-3 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-32.webp?alt=media&token=71412ca1-ddb1-44e5-bdf1-176af9ecdbfc"
        class="img-fluid card rounded"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <ul>
        <li>May I help you?</li>
        <li>Yes, more apples please.</li>
        <li>How many apples do you want?</li>
        <li>Not too many, just a few</li>
        <li>O.k. here you are.</li>
        <li>Thanks, how much is it?</li>
        <li>It’s 10 dollars</li>
      </ul>
    </div>
    <hr class="my-2" />
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-33.webp?alt=media&token=2f04c98d-62e0-42ab-a99e-4059ef517521"
        class="img-fluid card rounded"
        alt="img"
      />
      <h6>1. Cheese</h6>
    </div>
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-34.webp?alt=media&token=c77a7fe0-e1b5-43fd-a9f7-e5aa2e0a2224"
        class="img-fluid card rounded"
        alt="img"
      />
      <h6>2. Salt</h6>
    </div>
    <div class="col-md-4 text-center mt-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-35.webp?alt=media&token=181c5176-bc9c-4186-b777-c9095b371cc8"
        class="img-fluid card rounded"
        alt="img"
      />
      <h6>3. Onions</h6>
    </div>
  </div>
</div>
