<div>
    <div class="row">
        <div class="col-md-6">
            <strong>EXERCISE: Use the words in italics to make negative sentences.</strong>
            <br><br>
            <ol>
                <li> <strong>Like, not </strong> <i class="fas fa-arrow-right"></i> Ingrid <input type="text" class="my-1" value="doesn't like" name="" id=""> tea.</li>
                <li> <strong>like, not </strong> <i class="fas fa-arrow-right"></i> I <input type="text" class="my-1" value="don't like" name="" id=""> tea.</li>
                <li> <strong>know, not </strong> <i class="fas fa-arrow-right"></i> Mary and Jim are strangers. Mary <input type="text" class="my-1" name="" id=""> Jim</li>
                <li> <strong>need, not </strong> <i class="fas fa-arrow-right"></i> It's a nice day today. You <input type="text" class="my-1" name="" id=""> your umbrella.</li>
                <li> <strong>Snow, not </strong> <i class="fas fa-arrow-right"></i> It <input type="text" class="my-1" name="" id=""> in Bangkok in the winter.</li>
                <li> <strong>Speak, not </strong> <i class="fas fa-arrow-right"></i> I <input type="text" class="my-1" name="" id=""> French.</li>
                <li> <strong>Be, not </strong> <i class="fas fa-arrow-right"></i> I <input type="text" class="my-1" name="" id=""> hungry.</li>
                <li> <strong>Live, not </strong> <i class="fas fa-arrow-right"></i> Butterflies <input type="text" class="my-1" name="" id=""> long.</li>
                <li> <strong>Have, not </strong> <i class="fas fa-arrow-right"></i> A butterfly <input type="text" class="my-1" name="" id=""> a long life.</li>
                <li> <strong>Have, not </strong> <i class="fas fa-arrow-right"></i> We <input type="text" class="my-1" name="" id=""> class every day.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <p><strong>EXERCISE:</strong> Complete the sentences. Use the words in parentheses. Use the <strong>SIMPLE PRESENT TENSE.</strong></p>
            <ol>
                <li>Alex (like) <input type="text" class="mt-1" value="likes" name="" id=""> tea, but he (like, not) <input type="text" class="mt-1" name="" id="" value="doesn’t like"> coffee.</li>
                <li>Sara (know) <input type="text" class="mt-1" name="" id=""> Ali, but she (know, not) <input type="text" class="mt-1" name="" id=""> Hiroshi.</li>
                <li>Pablo and Maria (want) <input type="text" class="mt-1" name="" id=""> to stay home tonight. They (want, not) <input type="text" class="mt-1" name="" id=""> to go to a movie.</li>
                <li>Robert (be, not) <input type="text" class="mt-1" name="" id=""> hungry. He (want, not) <input type="text" class="mt-1" name="" id=""> a sandwich.</li>
                <li>Mr. Smith (drink, not) <input type="text" class="mt-1" name="" id=""> coffee, but Mr. Jones (drink) <input type="text" class="mt-1" name="" id=""> twelve cups every day.</li>
                <li>I (be, not) <input type="text" class="mt-1" name="" id=""> rich. I (have, not) <input type="text" class="mt-1" name="" id=""> A lot of money.</li>
                <li>This pen (belong, not) <input type="text" class="mt-1" name="" id=""> to me. It (belong)___________ to Pierre.</li>
                <li>My friends (live, not) <input type="text" class="mt-1" name="" id=""> in the dorm. They (have) <input type="text" class="mt-1" name="" id=""> an apartment.</li>
                <li>It (be) <input type="text" class="mt-1" name="" id=""> a nice day today. It (be, not) <input type="text" class="mt-1" name="" id=""> cold. You (need, not) <input type="text" class="mt-1" name="" id=""> your coat.</li>
                <li>Today (he) <input type="text" class="mt-1" name="" id=""> a holiday. We (have, not) <input type="text" class="mt-1" name="" id=""> today.</li>
            </ol>
        </div>
    </div>
</div>