<div>
    <div class="row">
        <div class="col-md-12">
            <h5>MOVE ON</h5>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <p>
                1. A. What does he have to do?
                <br> B. <textarea name="" id="" cols="30" value="He has to clean the kitchen and
                wash the dishes" rows="2"></textarea>
            </p>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <p>
                2. A. What do they want to do?
                <br> B. <textarea name="" id="" cols="30" rows="2"></textarea>
            </p>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <p>
                3. A. What do you need to do every afternoon?
                <br> B. <textarea name="" id="" cols="30" rows="2"></textarea>
            </p>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <p>
                1. A. what does he like to do every weekend?
                <br> B. <textarea name="" id="" cols="30" rows="2"></textarea>
            </p>
        </div>
        <div class="col-md-12">
            <hr>
            <h5>ORAL PRACTICE</h5>
            <ul>
                <li>One student interviews their partner and writes their answers in the spaces provided.</li>
                <li>Tell the students to ask the questions in a random order so their partner really has to listen.</li>
                <li>When the interview is over, the students swap roles.</li>
                <li>When both students have finished, they compare their daily routines and look for similarities and differences.</li>
                <li>As an extension, students write a paragraph about their partner's daily routine in the present simple.</li>
            </ul>
            <p>Ask your partner present simple 'Wh' questions about their daily routine, e.g. 'What time do you wake up?' Write your partner's answers in the spaces provided.
            </p>
            <h6>What time...</h6>
            <ul>
                <li> / wake up? <input type="text" class="form-control" name="" id=""></li>
                <li> / have breakfast? <input type="text" class="form-control" name="" id=""></li>
                <li> / go to work/class? <input type="text" class="form-control" name="" id=""></li>
                <li> / have lunch? <input type="text" class="form-control" name="" id=""></li>
            </ul>
        </div>

    </div>
</div>