<div>
    <div class="row">
        <div class="col-md-12">
            <h4>
                GRAMMAR FLASH
            </h4>

        </div>
        <div class="col-md-6"><img src="assets/img/imagen.jpg" class="img-fluid m-2" alt=""></div>
        <div class="col-md-6"><img src="assets/img/imagen.jpg" class="img-fluid m-2" alt=""></div>
        <div class="col-md-8">
            <h4>DRILL</h4>
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Teacher</th>
                        <th>Students</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> I’m going to play </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> (She) </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> (They) </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> (Mario) </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> (We) </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> (Wash the dishes) </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> (Use the computer </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> (She) </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> Plant trees </td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 ">
            <h5 class="my-2 center">TIME EXPRESSIONS</h5>
            <div class="card border-primary mb-3 mx-auto" style="max-width: 18rem;">
                <div class="card-header">THIS</div>
                <div class="card-body text-primary">
                    <ul>
                        <li> Week, month, year, weekend, holiday </li>
                        <li> Sunday, Saturday, Tuesday, Wednesday, Thursday, Friday, Monday.</li>
                        <li> January, February, March, April, May, June, July, August, September, October, November, December.</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card border-primary mb-3 mx-auto" style="max-width: 18rem;">
                <div class="card-header">NEXT</div>
                <div class="card-body text-primary">
                    <ul>
                        <li>Spring, summer, fall (autumn), winter.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>