<div>
  <div class="row">
    <div class="col-md-12 my-2">
      <strong>EXERCISE:</strong>
      <p>
        Underline the Verb in each sentence. Add final –s/ -es to the verb if
        necessary. Do not change any other words.
      </p>
    </div>
    <div class="col-md-6">
      <ol>
        <li>A bird sing. ---- A bird sings</li>
        <li>Birds sing ------ (no change)</li>
        <li>
          Wood float on water …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans1page50"
            [(ngModel)]="libro.ans1Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Rivers flow toward the sea …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans2page50"
            [(ngModel)]="libro.ans2Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          My mother worry about me…..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans3page50"
            [(ngModel)]="libro.ans3Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          A student buy a lot of books at the beginning of each term …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans4page50"
            [(ngModel)]="libro.ans4Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Airplanes fly all around the word…..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans5page50"
            [(ngModel)]="libro.ans5Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Mr Wong teach Chinese at the university …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans6page50"
            [(ngModel)]="libro.ans6Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          The teacher ask us a lot of questions in class every day …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans7page50"
            [(ngModel)]="libro.ans7Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Mr. Smith watch game shows on TV every evening …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans8page50"
            [(ngModel)]="libro.ans8Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <ol start="11">
        <li>
          Music consist of pleasant sounds…..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans9page50"
            [(ngModel)]="libro.ans9Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Pesticides destroy insects …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans10page50"
            [(ngModel)]="libro.ans10Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Dust travel through the air …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans11page50"
            [(ngModel)]="libro.ans11Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          The front page of a newspaper contain the most important news of the
          day
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans12page50"
            [(ngModel)]="libro.ans12Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Water freeze at 320 F (0 0 C) and boil at 212 0 F (1000 C) …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans13page50"
            [(ngModel)]="libro.ans13Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Ms. Taylor never cross the street in the middle of a block. She always
          walk to the corner and use the pedestrian walkway …..
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans14page50"
            [(ngModel)]="libro.ans14Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Many parts of the world enjoy four seasons: Spring, summer, autumn,
          and winter. Each season last three months and bring changes in the
          weather .
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans15page50"
            [(ngModel)]="libro.ans15Page50"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <hr class="my-3" />
    <div class="col-md-12">
      <h4 class="text-center my-3">NONPROGRESSIVE VERBS</h4>
      <table class="table table-striped table-responsive">
        <tbody>
          <tr>
            <td class="text-center">
              (a) I hear a bird. It is singing <br />
              (b) I’m hungry, I want a sandwich <br />
              (c) This book belongs to Mikhail
            </td>
            <td class="text-center">
              Some verbs are not used in progressive tenses <br />
              <b>CORRECT:</b> I hear a bird (right now) <br />
              <b>INCORRECT:</b> I am hearing a bird (right now)
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <h6>NONPROGRESSIVE VERBS</h6>
              <span class="badge bg-primary m-1">Hear</span>
              <span class="badge bg-primary m-1">believe</span>
              <span class="badge bg-primary m-1">be</span>
              <span class="badge bg-primary m-1">own</span>
              <span class="badge bg-primary m-1">need</span>
              <span class="badge bg-primary m-1">like</span>
              <span class="badge bg-primary m-1">forget</span>
              <span class="badge bg-primary m-1">See</span>
              <span class="badge bg-primary m-1">think*</span>
              <span class="badge bg-primary m-1">exit</span>
              <span class="badge bg-primary m-1">have*</span>
              <span class="badge bg-primary m-1">want</span>
              <span class="badge bg-primary m-1">love</span>
              <span class="badge bg-primary m-1">remember</span>
              <span class="badge bg-primary m-1">Understand</span>
              <span class="badge bg-primary m-1">possess</span>
              <span class="badge bg-primary m-1">prefer</span>
              <span class="badge bg-primary m-1">hate</span>
              <span class="badge bg-primary m-1">Know</span>
              <span class="badge bg-primary m-1">belong</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
