<div>
  <div class="row">
    <div class="col-md-6 text-center">
      <h4 class="text-center my-3">GRAMMAR FLASH – POSSESSIVE ADJECTIVE</h4>

      <table
        class="table table-striped table-responsive table-warning text-center"
      >
        <tbody>
          <tr>
            <td>I</td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>My</td>
          </tr>
          <tr>
            <td>He</td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>His</td>
          </tr>
          <tr>
            <td>She</td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>Her</td>
          </tr>
          <tr>
            <td>It</td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>Its</td>
          </tr>
          <tr>
            <td>You</td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>Your</td>
          </tr>
          <tr>
            <td>We</td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>Our</td>
          </tr>
          <tr>
            <td>They</td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>Their</td>
          </tr>
        </tbody>
      </table>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-2.jpg?alt=media&token=4e371070-c0f0-443a-b957-3aac601e6cf3"
        class="img-fluid m-1 rounded w-75"
        alt="img"
      />
    </div>
    <div class="col-md-6">
      <h4 class="text-center my-3">DRILLS</h4>
      <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>TEACHER</th>
            <th>STUDENTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>I am washing my car ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="I am washing my car"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="She is washing her car"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>They ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans1page11"
                [(ngModel)]="libro.ans1Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>We ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page11"
                [(ngModel)]="libro.ans2Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Yes/no question ...</td>
            <td class="d-flex align-items-center">
              <p>Are</p>
              <input
                type="text"
                class="form-control"
                name="ans3page11"
                [(ngModel)]="libro.ans3Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Affirmative answer ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="She's cleaning her room."
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Negative Answer ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans4page11"
                [(ngModel)]="libro.ans4Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(clean - room) she ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans5page11"
                [(ngModel)]="libro.ans5Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(Do - Homework) I ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page11"
                [(ngModel)]="libro.ans6Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(fIX -Bicycle) He ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans7page11"
                [(ngModel)]="libro.ans7Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Yes/no question ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans8page11"
                [(ngModel)]="libro.ans8Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Where ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans9page11"
                [(ngModel)]="libro.ans9Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Answer (In the park) .</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans10page11"
                [(ngModel)]="libro.ans10Page11"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
