<div>
    <div class="row justify-content-center">
        <div class=" col-md-12 ">
            <h4 class="my-3 text-center ">AROUND THE CITY</h4>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F137.jpg?alt=media&token=b382b15a-a38f-4bfa-b778-d6d34726594e" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">1.Police Station</h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F138.jpg?alt=media&token=bd70f374-0d6f-47b4-a1a4-9f34157b0737" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">2. Bank</h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F139.jpg?alt=media&token=7d58669d-f195-4b05-8cf3-be8ff6dc5322" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">3. Movie Theater</h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F140.jpg?alt=media&token=c885e349-55bd-4217-81e5-719eb68dda41" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">4.School</h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F141.jpg?alt=media&token=5db513ee-e406-410a-b6ff-e8738639eef2" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">5. Bookstore</h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F142.jpg?alt=media&token=b9e0b759-5caa-477b-b427-f603d0c0ae52" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">6. Church</h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F143.jpg?alt=media&token=54136a62-ffa5-499c-bc64-4635ed4691f9" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">7. Bakery</h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F144.jpg?alt=media&token=b90b7676-b1ca-4f41-b6fb-2beeb15e2667" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">8. Fire Station</h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F145.jpg?alt=media&token=015f2fdf-2874-4df0-982c-b06c23ebeb56" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">9. Restaurant</h6>
        </div>

        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F146.jpg?alt=media&token=8a5194d1-a486-4043-a269-9e408f66dc7b" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">10. Pet Store </h6>
        </div>
        <div class="col-md-2 my-2 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F147.jpg?alt=media&token=4bf581d5-3358-49c8-b778-666145f1d6c7" class="img-fluid rounded" alt="img ">
            <h6 class="text-center ">11. Airport
            </h6>
        </div>

    </div>
</div>