<div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h4 class="my-3 text-center">
        <!-- audio l1 656-->
        <audio id="a1p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F656.mp3?alt=media&token=1bcaa6a6-ab58-400e-950e-3cfe701b9b63"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        AROUND THE CITY
      </h4>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F137.jpg?alt=media&token=b382b15a-a38f-4bfa-b778-d6d34726594e"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 657-->
        <audio id="a2p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F657.mp3?alt=media&token=4a8e6bf1-ae15-4885-866a-bfa9ee49e8bf"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1.Police Station
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F138.jpg?alt=media&token=bd70f374-0d6f-47b4-a1a4-9f34157b0737"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 658-->
        <audio id="a3p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F658.mp3?alt=media&token=fc242682-13e5-4eba-8d84-55c758b2731e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Bank
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F139.jpg?alt=media&token=7d58669d-f195-4b05-8cf3-be8ff6dc5322"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 659-->
        <audio id="a4p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F659.mp3?alt=media&token=9f94b1bb-72e5-4106-87b4-df9a93ede0ce"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Movie Theater
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F140.jpg?alt=media&token=c885e349-55bd-4217-81e5-719eb68dda41"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 660-->
        <audio id="a5p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F660.mp3?alt=media&token=a16dab90-c3cf-46a0-9c40-09ac9d8920ff"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4.School
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F141.jpg?alt=media&token=5db513ee-e406-410a-b6ff-e8738639eef2"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 661-->
        <audio id="a6p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F661.mp3?alt=media&token=3a5194c9-13cc-49cf-93c4-283c07a08c5a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Bookstore
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F142.jpg?alt=media&token=b9e0b759-5caa-477b-b427-f603d0c0ae52"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 662-->
        <audio id="a7p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F662.mp3?alt=media&token=6ec50aaf-1400-4311-a2c3-5e63a554e37e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Church
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F143.jpg?alt=media&token=54136a62-ffa5-499c-bc64-4635ed4691f9"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 663-->
        <audio id="a8p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F663.mp3?alt=media&token=33354a68-f8c9-44c4-a74b-016bdb11444b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Bakery
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F144.jpg?alt=media&token=b90b7676-b1ca-4f41-b6fb-2beeb15e2667"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 664-->
        <audio id="a9p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F664.mp3?alt=media&token=35f458a9-434c-49fb-b813-5dbdb5d6efd2"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Fire Station
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F145.jpg?alt=media&token=015f2fdf-2874-4df0-982c-b06c23ebeb56"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 665-->
        <audio id="a10p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F665.mp3?alt=media&token=9de187b4-1e69-4f7b-8398-20079fc02553"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Restaurant
      </h6>
    </div>

    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F146.jpg?alt=media&token=8a5194d1-a486-4043-a269-9e408f66dc7b"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 666-->
        <audio id="a11p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F666.mp3?alt=media&token=9b78bcfc-b233-40c2-ae1e-69f5800800b8"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Pet Store
      </h6>
    </div>
    <div class="col-md-2 my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F147.jpg?alt=media&token=4bf581d5-3358-49c8-b778-666145f1d6c7"
        class="img-fluid rounded"
        alt="img "
      />
      <h6 class="text-center my-1">
        <!-- audio l1 667-->
        <audio id="a12p45l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F667.mp3?alt=media&token=ab8e2fb1-77e7-434d-ab90-d0bc80a672e6"
          />
        </audio>
        <button
          (click)="reproducirAudio('a12p45l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. Airport
      </h6>
    </div>
  </div>
</div>
