<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center my-2">DESCRIBING PEOPLE 1</h4>
    </div>
    <div class="col-md-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F199.jpg?alt=media&token=c7f1c7dd-107b-4bbb-8f54-e8ab7d51644e"
        class="img-fluid rounded m-1"
        alt="img"
      />
    </div>
    <div class="col-md-6">
      <ol>
        <li class="my-1">
          <!-- audio l1 855-->
          <audio id="a1p60l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F855.mp3?alt=media&token=6b53c146-3a29-437d-be2b-f224a64004cc"
            />
          </audio>
          <button
            (click)="reproducirAudio('a1p60l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans1page61"
            [(ngModel)]="libro.ans1Page61"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />Blond little girl with blue eyes
        </li>
        <li class="my-1">
          <!-- audio l1 856-->
          <audio id="a2p60l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F856.mp3?alt=media&token=8d59e2ba-c2bb-4a11-b779-7caa3a31fddb"
            />
          </audio>
          <button
            (click)="reproducirAudio('a2p60l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans2page61"
            [(ngModel)]="libro.ans2Page61"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />Is wearing glasses and has a beard and a moustache
        </li>
        <li class="my-1">
          <!-- audio l1 857-->
          <audio id="a3p60l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F857.mp3?alt=media&token=09252bb3-bf1e-4661-b8b2-b479c9ab0cf8"
            />
          </audio>
          <button
            (click)="reproducirAudio('a3p60l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans3page61"
            [(ngModel)]="libro.ans3Page61"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />blond young woman with long hair and blue eyes
        </li>
        <li class="my-1">
          <!-- audio l1 858-->
          <audio id="a4p60l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F858.mp3?alt=media&token=6644a0aa-a61a-4d08-ae28-8f852dcfc434"
            />
          </audio>
          <button
            (click)="reproducirAudio('a4p60l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans4page61"
            [(ngModel)]="libro.ans4Page61"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />brunette man wearing dark sunglasses
        </li>
        <li class="my-1">
          <!-- audio l1 859-->
          <audio id="a5p60l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F859.mp3?alt=media&token=c2879370-6101-4825-94c2-2efd027c8a3e"
            />
          </audio>
          <button
            (click)="reproducirAudio('a5p60l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans5page61"
            [(ngModel)]="libro.ans5Page61"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />old man with curly hair wearing glasses
        </li>
        <li class="my-1">
          <!-- audio l1 860-->
          <audio id="a6p60l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F860.mp3?alt=media&token=0c403d2f-8165-4bb2-af57-e211292e06bc"
            />
          </audio>
          <button
            (click)="reproducirAudio('a6p60l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans6page61"
            [(ngModel)]="libro.ans6Page61"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />middle-aged woman with brown hair and red earings
        </li>
        <li class="my-1">
          <!-- audio l1 861-->
          <audio id="a7p60l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F861.mp3?alt=media&token=b0c2bc1a-a894-4e77-9aaf-fd0bceb19120"
            />
          </audio>
          <button
            (click)="reproducirAudio('a7p60l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans7page61"
            [(ngModel)]="libro.ans7Page61"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          good looking young man with black eyes
        </li>
        <li class="my-1">
          <!-- audio l1 862-->
          <audio id="a8p60l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F862.mp3?alt=media&token=73fbda90-904e-412a-a42e-607dbe16e133"
            />
          </audio>
          <button
            (click)="reproducirAudio('a8p60l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          <input
            type="text"
            maxlength="1"
            size="50"
            style="width: 50px; height: 30px"
            class="form-control input"
            name="ans8page61"
            [(ngModel)]="libro.ans8Page61"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />merry old woman wearing glasses
        </li>
      </ol>
    </div>
  </div>
</div>
