<div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center my-2">DESCRIBING PEOPLE 1 </h4>
        </div>
        <div class="col-md-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F199.jpg?alt=media&token=c7f1c7dd-107b-4bbb-8f54-e8ab7d51644e" class="img-fluid rounded m-1" alt="img">
        </div>
        <div class="col-md-6">
            <ol>
                <li class="my-1"> <input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans1page61" [(ngModel)]="libro.ans1Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">Blond little girl with
                    blue eyes
                </li>
                <li class="my-1"> <input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans2page61" [(ngModel)]="libro.ans2Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">Is wearing glasses and
                    has a beard and a moustache</li>
                <li class="my-1"> <input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans3page61" [(ngModel)]="libro.ans3Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">blond young woman with
                    long hair and blue eyes</li>
                <li class="my-1"> <input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans4page61" [(ngModel)]="libro.ans4Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">brunette man wearing dark
                    sunglasses
                </li>
                <li class="my-1"> <input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans5page61" [(ngModel)]="libro.ans5Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">old man with curly hair
                    wearing glasses
                </li>
                <li class="my-1"> <input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans6page61" [(ngModel)]="libro.ans6Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">middle-aged woman with
                    brown hair and red earings</li>
                <li class="my-1"> <input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans7page61" [(ngModel)]="libro.ans7Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> good looking young man
                    with black eyes</li>
                <li class="my-1"> <input type="text" maxlength="1" size=50 style="width : 50px; height : 30px" class="form-control input " name="ans8page61" [(ngModel)]="libro.ans8Page61" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">merry old woman wearing
                    glasses
                </li>
            </ol>
        </div>
    </div>

</div>