<div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="center"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> SNAKES</h4>
            <p class="justify">(13)Snakes eat all sorts of things.(14)Eggs are a favourite food of many snakes. (15) When a snake eat an egg, the snake first curl around the egg. (16) Itdon'twant the egg to roll away. (17) Then the snakes open its mouth and move the egg
                into its throat.(18) Itsqueezesthe egg with muscles in its neck. (19) The eggbreaksand go into the snake’s stomach.(20) Then the snake spit out the eggshell. (21) Snakes love to eat eggs.</p>
            <p><strong>GRAMMAR ACTIVITY : </strong> Completethe sentences with the words in parentheses. Use the SIMPLE PRESENT of the verbs.</p>
            <ol>
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> (Anita, go) <b>_____ Does Anita go________</b> to her uncle's house every day?</li>
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> (Monkeys,eat) <input type="text" class="mt-1 form-control input" name="ans1page26" [(ngModel)]="libro.ans1Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"
                        id=""> insects?</li>
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span>
                    <ul>
                        <li>A: I usually (Remember, not) <input type="text" class="mt-1 form-control input" name="ans2page26" [(ngModel)]="libro.ans2Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> my dreams. (You, remember) <input type="text"
                                class="mt-1 form-control input" name="ans3page26" [(ngModel)]="libro.ans3Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> your dreams?</li>
                        <li>B: Sometimes. I often (write) <input type="text" class="mt-1 form-control input" name="ans4page26" [(ngModel)]="libro.ans4Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> my dreams down as soon as I wake up.
                            I (like) <input type="text" class="mt-1 form-control input" name="ans5page26" [(ngModel)]="libro.ans5Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> to think about my dreams. I (try) <input type="text" class="mt-1 form-control input"
                                name="ans6page26" [(ngModel)]="libro.ans6Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> to understand them.</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <ul>
                <li>4. <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> I (understand, not) <input type="text" class="mt-1 form-control input" name="ans7page26" [(ngModel)]="libro.ans7Page26" (keyup.enter)="guardarInfo()"
                        (blur)="guardarInfo()" id=""> my brother. He (have, not) <input type="text" class="mt-1 form-control input" name="ans8page26" [(ngModel)]="libro.ans8Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> a job or a place
                    to live. He (sleep) <input type="text" class="mt-1 form-control input" name="ans9page26" [(ngModel)]="libro.ans9Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> At his friend's apartments. He (take, not) <input type="text"
                        class="mt-1 form-control input" name="ans10page26" [(ngModel)]="libro.ans10Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> care of himself. I (worry) <input type="text" class="mt-1 form-control input" name="ans11page26"
                        [(ngModel)]="libro.ans11Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> about him all the time.</li>
                <li>5. <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> Ocean waves (be) <input type="text" class="mt-1 form-control input" name="ans12page26" [(ngModel)]="libro.ans12Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"
                        id=""> interesting. In an ocean wave, water (move) <input type="text" class="mt-1 form-control input" name="ans13page26" [(ngModel)]="libro.ans13Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> up and down, but the
                    water (move, on) <input type="text" class="mt-1 form-control input" name="ans14page26" [(ngModel)]="libro.ans14Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> forward.
                </li>
                <li>6. <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span>
                    <ul>
                        <li>A: You, (study) <input type="text" class="mt-1 form-control input" name="ans15page26" [(ngModel)]="libro.ans15Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> a lot?</li>
                        <li>B: I (study) <input type="text" class="mt-1 form-control input" name="ans16page26" [(ngModel)]="libro.ans16Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> at least three hours every night. My roommate (study)
                            <input type="text" class="mt-1 form-control input" name="ans17page26" [(ngModel)]="libro.ans17Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> at least five hours. She's very serious about her education.
                            How about you? (you, spend) <input type="text" class="mt-1 form-control input" name="ans18page26" [(ngModel)]="libro.ans18Page26" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> a lot of time studying?</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>