<div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <h6>SALADS:</h6>
                <li>Fresh Greens (Romaine, red leaf, bibb, mixture, arugula, spinach, etc.) </li>
                <li>Fruit </li>
                <li>Rice </li>
                <li>Pasta </li>
                <li>Jello </li>
                <li>Salads as a main dish? With poultry or meat? </li>
                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>SALAD DRESSINGS: </h6>
                <li>Mayonnaise </li>
                <li>Ranch </li>
                <li>Vinaigrette </li>
                <li>French </li>
                <li>Oil/vinegar </li>
                <li>Red wine/vinegar </li>
                <li>Thousand Island</li>
                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>SOUPS: </h6>
                <li> Creamed (name type) <input type="text" name="" id=""> </li>
                <li> Hot </li>
                <li> Cold </li>
                <li> Chunky </li>
                <li> Clear </li>
                <li> With meat/poultry? </li>
                <li> Soups as a main dish?</li>
                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>GRAINS:</h6>
                <li>Rice </li>
                <li>Couscous </li>
                <li>Quinoa </li>
                <li>Wheat/granola </li>
                <li>Barley </li>
                <li>Corn </li>
                <li>Polenta </li>
                <li>Pasta (entrée? hot? cold?) </li>

                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>
        <div class="col-md-12">
            <h6>VEGETABLES:</h6>
            <li> Green (peas, green beans, broccoli, spinach, asparagus, peppers, cabbage, pea pods, green onions, celery, arugula, swiss chard) </li>
            <li> Yellow (corn, wax beans, squash, peppers) </li>
            <li> Red (pimento, red cabbage, beets, tomatoes, peppers, carrots, sweet potatoes/yams) </li>
            <li> White (cauliflower, potatoes, parsnips, water chestnuts, bean sprouts, onions, turnips, mushrooms, leeks) </li>
            <li> Beans (black, pinto, kidney, lima, white, pink, chick peas, lentils) </li>
            <li> Other (eggplant, zucchini, olives, capers, artichoke hearts, avocado) </li>

            Comments: <input type="text" name="" class="form-control" id="">
        </div>
    </div>
</div>