<div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h3 class="me-3">CARDINAL NUMBERS </h3>
        </div>
        <div class="col-md-6 fa-border p-3 ">
            <h5 class="center">TEEN - / tiin /</h5>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <span class="badge bg-info"> 10</span>
                    <strong>ten</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 11</span>
                    <strong>eleven</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 12</span>
                    <strong>eleven</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 13</span>
                    <strong>thirteen</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 14</span>
                    <strong>fourteen</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 15</span>
                    <strong>fifteen</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 16</span>
                    <strong>sixteen</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 17</span>
                    <strong>seventeen</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 18</span>
                    <strong>seventeen</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-info"> 19</span>
                    <strong>nineteen</strong>
                </div>


            </div>
        </div>
        <div class="col-md-6 fa-border p-3">
            <h5 class="center">TY -- / ti /</h5>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <span class="badge bg-primary"> 20</span><br>
                    <strong>twenty</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-primary"> 30</span><br>
                    <strong>thirty</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-primary"> 40</span><br>
                    <strong>forty</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-primary"> 50</span><br>
                    <strong>fifty</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-primary"> 60</span><br>
                    <strong>sixty</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-primary"> 70</span><br>
                    <strong>seventy</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-primary"> 80</span><br>
                    <strong>eighty</strong>
                </div>
                <div class="col-md-2">
                    <span class="badge bg-primary"> 90</span><br>
                    <strong>eighty</strong>
                </div>

            </div>
        </div>
        <strong class="center mt-2 mb-5">• Students ask each other for their age •</strong>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-3">
            <ul>
                <li>How old are you?</li>
                <li>I’m <input type="text" class="form-control d-inline" size=60 style="width : 60px; height : 30px" name="ans4page33" [(ngModel)]="libro.ans4Page33" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> years old</li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-3">
            <ul>
                <li>How old is your grandfather?</li>
                <li>He is <input type="text" class="form-control d-inline" name="ans5page33" [(ngModel)]="libro.ans5Page33" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
            </ul>
        </div>
    </div>
</div>