<div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"><h4 class="text-center my-3">CHAT TIME</h4></div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct1.PNG?alt=media&token=260c3afc-de0d-490d-823f-81bb2381a388"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What are you doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans1Page3"
              [(ngModel)]="libro.ans1Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct2.PNG?alt=media&token=09f924d2-ed51-47ba-82b9-db2cdc6bbab9"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What are they doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans2Page3"
              [(ngModel)]="libro.ans2Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct3.PNG?alt=media&token=060ef346-8187-4465-9ca3-81dcbe079cbe"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>

          <strong> A. </strong>What are they doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans3Page3"
              [(ngModel)]="libro.ans3Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct4.PNG?alt=media&token=c40bea62-d894-40e0-ae66-0caeb3f9be0d"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What is she doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans4Page3"
              [(ngModel)]="libro.ans4Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct5.PNG?alt=media&token=08d60394-2c40-4e19-86bd-82b65a1140c1"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What's he doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans5Page3"
              [(ngModel)]="libro.ans5Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct6.PNG?alt=media&token=e53a0328-06de-45f2-a085-68e99c6f587d"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What are you and your friend doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans6Page3"
              [(ngModel)]="libro.ans6Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct7.PNG?alt=media&token=3f175c7d-4077-4478-adda-16f71ae5becf"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>WWhat's Mary drinking?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans7Page3"
              [(ngModel)]="libro.ans7Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct8.PNG?alt=media&token=1ea1df70-bacb-4bd5-b604-92d45b895b79"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What's your father doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans8Page3"
              [(ngModel)]="libro.ans8Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct9.PNG?alt=media&token=85b50467-385b-4d56-bb80-bf7c29f9e284"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What are Kate and her friend doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans9Page3"
              [(ngModel)]="libro.ans9Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct10.PNG?alt=media&token=9cbd0179-461c-45da-bc47-a5303f100e40"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What's George's frog doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans10Page3"
              [(ngModel)]="libro.ans10Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct11.PNG?alt=media&token=c882a4f3-f224-4a1a-9469-93abaa597704"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong>What's the bird doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans11Page3"
              [(ngModel)]="libro.ans11Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 co-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fct12.PNG?alt=media&token=d54cd1ce-7257-430f-be1a-572ca28be581"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <strong> A. </strong> What are the pigs doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans12Page3"
              [(ngModel)]="libro.ans12Page3"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
