<div>
    <div class="row">

        <div class="col-md-12">
            <h3 class="center">Worksheet</h3>
        </div>
        <div class="col-md-6 table-responsive">
            <h5>1. Check your understanding : True or false</h5>
            <p>Circle True or False for these sentences</p>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>1. The guest in the studio is a teacher.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-1-" id="la1p15-1-1" value="la1p15-1-1" [checked]="libro['la1p15-1']==='la1p15-1-1'" [(ngModel)]="libro['la1p15-1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-1-1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-1-" id="la1p15-1-2" value="la1p15-1-2" [checked]="libro['la1p15-1']==='la1p15-1-2'" [(ngModel)]="libro['la1p15-1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-1-2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2. Some people can sleep well with a television on.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-2-" id="la1p15-2-1" value="la1p15-2-1" [checked]="libro['la1p15-2']==='la1p15-2-1'" [(ngModel)]="libro['la1p15-2']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-2-1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-2-" id="la1p15-2-2" value="la1p15-2-2" [checked]="libro['la1p15-2']==='la1p15-2-2'" [(ngModel)]="libro['la1p15-2']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-2-2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3. it is bad to think a lot before going to bed.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-3-" id="la1p15-3-1" value="la1p15-3-1" [checked]="libro['la1p15-3']==='la1p15-3-1'" [(ngModel)]="libro['la1p15-3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-3-1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-3-" id="la1p15-3-2" value="la1p15-3-2" [checked]="libro['la1p15-3']==='la1p15-3-2'" [(ngModel)]="libro['la1p15-3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-3-2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4. it is good to play video games before bed </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-4-" id="la1p15-4-1" value="la1p15-4-1" [checked]="libro['la1p15-4']==='la1p15-4-1'" [(ngModel)]="libro['la1p15-4']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-4-1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-4-" id="la1p15-4-2" value="la1p15-4-2" [checked]="libro['la1p15-4']==='la1p15-4-2'" [(ngModel)]="libro['la1p15-4']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-4-2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5. it is good to turn your mobile off when you go to sleep.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-5-" id="la1p15-5-1" value="la1p15-5-1" [checked]="libro['la1p15-5']==='la1p15-5-1'" [(ngModel)]="libro['la1p15-5']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-5-1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-5-" id="la1p15-5-2" value="la1p15-5-2" [checked]="libro['la1p15-5']==='la1p15-5-2'" [(ngModel)]="libro['la1p15-5']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-5-2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6. it is bad to play loud music while you study.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-6-" id="la1p15-6-1" value="la1p15-6-1" [checked]="libro['la1p15-6']==='la1p15-6-1'" [(ngModel)]="libro['la1p15-6']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-6-1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1p15-6-" id="la1p15-6-2" value="la1p15-6-2" [checked]="libro['la1p15-6']==='la1p15-6-2'" [(ngModel)]="libro['la1p15-6']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1p15-6-2">False</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 table-responsive">
            <h5>Preparation: Matching</h5>
            <p>Match the vocabulary with the correct definition and write a-h next to the numbers 1-8.</p>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td><span class="badge bg-info"> 1 </span> an exam</td>
                        <td><span class="badge bg-info"><input type="text" name="ans1page15" [(ngModel)]="libro.ans1Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" style="width : 35px; height : 23px"> </span> useful information or advice</td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 2 </span> bedtime</td>
                        <td><span class="badge bg-info"><input type="text" name="ans2page15" [(ngModel)]="libro.ans2Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" style="width : 35px; height : 23px"> </span> a test to show what a person knows
                            or can do </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 3 </span> a listener</td>
                        <td><span class="badge bg-info"><input type="text" name="ans3page15" [(ngModel)]="libro.ans3Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" style="width : 35px; height : 23px"> </span> the time you go to bed </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 4 </span> low </td>
                        <td><span class="badge bg-info"><input type="text" name="ans4page15" [(ngModel)]="libro.ans4Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" style="width : 35px; height : 23px"> </span> the most difficult </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 5 </span> a tip</td>
                        <td><span class="badge bg-info"><input type="text" name="ans5page15" [(ngModel)]="libro.ans5Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" style="width : 35px; height : 23px"> </span>quiet </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 6 </span> the hardest</td>
                        <td><span class="badge bg-info"><input type="text" name="ans6page15" [(ngModel)]="libro.ans6Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" style="width : 35px; height : 23px"> </span>a persons who listens </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 7 </span> busy</td>
                        <td><span class="badge bg-info"><input type="text" name="ans7page15" [(ngModel)]="libro.ans7Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" style="width : 35px; height : 23px"> </span> making a lot of noise </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 8 </span> loud</td>
                        <td><span class="badge bg-info"><input type="text" name="ans8page15" [(ngModel)]="libro.ans8Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" style="width : 35px; height : 23px"> </span>doing something </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h5>2. Check your vocabulary : Gap fill</h5>
            <p> Complete the sentences with a word from the box.</p>
            <div class="row">
                <div class="col-md-2"><span class="badge bg-info">earlier in the evening</span></div>
                <div class="col-md-2"><span class="badge bg-info">Welcome</span></div>
                <div class="col-md-2"><span class="badge bg-info">Turn off</span></div>
                <div class="col-md-2"><span class="badge bg-info">Useful advice</span></div>
                <div class="col-md-2"><span class="badge bg-info">great to be here </span></div>
                <div class="col-md-2"><span class="badge bg-info">down low</span></div>

            </div>
        </div>
        <div class="col-md-12 mt-3">
            <ol>
                <li class="mb-1"><input type="text" name="ans9page15" [(ngModel)]="libro.ans9Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"> to the show, Doctor Barker.</li>
                <li class="mb-1">Thank you, It´s <input type="text" name="ans10page15" [(ngModel)]="libro.ans10Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()">. Let´s start with tip one. </li>
                <li class="mb-1">Do your hardest homework <input type="text" name="ans11page15" [(ngModel)]="libro.ans11Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()">.</li>
                <li class="mb-1"><input type="text" name="ans12page15" [(ngModel)]="libro.ans12Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"> your mobile when you go to bed. </li>
                <li class="mb-1">Play music if you like. But turn the sound <input type="text" name="ans13page15" [(ngModel)]="libro.ans13Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"> </li>
                <li class="mb-1">That is very <input type="text" name="ans14page15" [(ngModel)]="libro.ans14Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"> for our young listeners.</li>
            </ol>
        </div>
    </div>
</div>