<div>
    <div class="row">

        <div class="col-md-12">
            <h1><span class="badge bg-warning my-2">Class 2</span></h1>
            <h3 class="text-center">Greeting #2</h3>
        </div>
        <div class="col-md-6 mt-2">
            <p>
                A. Hey, How is it going ?
            </p>
            <input type="text" name="ans1page8" [(ngModel)]="libro.ans1Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer">
            <span class="badge bg-info mx-1"> Great </span>
            <span class="badge bg-info mx-1"> Fine </span>
            <span class="badge bg-info mx-1"> Good </span>
            <span class="badge bg-info mx-1"> Not bad </span>
            <span class="badge bg-info mx-1"> I'm alright </span>
            <span class="badge bg-info mx-1"> Chilling </span>
            <span class="badge bg-info mx-1"> Awesome </span>
            <br>
            <p>... How about you?</p>
        </div>
        <div class="col-md-6">
            <h4 class="center">Food / Restaurant Survey</h4>
            <ol>
                <strong>Example questions:</strong>
                <li> What kind of restaurant do you like ?</li>
                <li> Do you like Italian food ? Why/ whynot?</li>
                <li> What do youprefer?
                    <ul class="list-inline">
                        <li class="list-inline-item"><b>a.</b> eating at home </li>
                        <li class="list-inline-item"><b>b.</b> eating out </li>
                        <li class="list-inline-item"><b>c.</b> going to a dinner party</li>
                    </ul>
                </li>
                <li> How often do you eat fast food ?</li>
                <li> What do you like to order at your favorite restaurant?</li>
            </ol>
        </div>
        <div class="col-md-12 table-responsive">
            <p>Choose questions from above orwrite5 of your ownsurvey questions below. Then talk to5 students &write their responses.</p>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Food/Restaurant/ Survey</th>
                        <th>St.1</th>
                        <th>St.2</th>
                        <th>St.3</th>
                        <th>St.4</th>
                        <th>St.5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1.</th>
                        <td><input type="text" name="ans2page8" [(ngModel)]="libro.ans2Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans3page8" [(ngModel)]="libro.ans3Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans4page8" [(ngModel)]="libro.ans4Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans5page8" [(ngModel)]="libro.ans5Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans6page8" [(ngModel)]="libro.ans6Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <th>2.</th>
                        <td><input type="text" name="ans7page8" [(ngModel)]="libro.ans7Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans8page8" [(ngModel)]="libro.ans8Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans9page8" [(ngModel)]="libro.ans9Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans10page8" [(ngModel)]="libro.ans10Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans11page8" [(ngModel)]="libro.ans11Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <th>3.</th>
                        <td><input type="text" name="ans12page8" [(ngModel)]="libro.ans12Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans13page8" [(ngModel)]="libro.ans13Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans14page8" [(ngModel)]="libro.ans14Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans15page8" [(ngModel)]="libro.ans15Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans16page8" [(ngModel)]="libro.ans16Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <th>4.</th>
                        <td><input type="text" name="ans17page8" [(ngModel)]="libro.ans17Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans18page8" [(ngModel)]="libro.ans18Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans19page8" [(ngModel)]="libro.ans19Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans20page8" [(ngModel)]="libro.ans20Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans21page8" [(ngModel)]="libro.ans21Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <th>5.</th>
                        <td><input type="text" name="ans22page8" [(ngModel)]="libro.ans22Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans23page8" [(ngModel)]="libro.ans23Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans24page8" [(ngModel)]="libro.ans24Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans25page8" [(ngModel)]="libro.ans25Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                        <td><input type="text" name="ans26page8" [(ngModel)]="libro.ans26Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" placeholder="Answer"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <p>Write a short report after you have talked to five people.
                <br> For example: Most students like Japanese food because they think it’s healthy & delicious. </p>
        </div>
    </div>
</div>