<div>
    <div class="row">

        <div class="col-md-12">
            <h3 class="center">Expressing Yourself</h3>
            <h6>Directions: try to complete the following expressions about yourself.</h6>
        </div>
        <div class="col-md-6">

            <ol>
                <li> I dream about <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li> I think about <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li> I am afraid of <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li> I am interested in <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li> On the weekends I like to <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li> I am good at <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li> I am not good at <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li> I am glad when <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>

            </ol>
        </div>
        <div class="col-md-6">
            <ul>
                <li>9. I am sad when <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li>10. I don’t believe <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li>11. I have difficulty with <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li>12. I laugh when <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li>13. I cry when <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li>14. I get angry when <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
                <li>15. I love it when <input type="text" name="" id="" placeholder="Answer" class="form-control"></li>
            </ul>
        </div>
        <hr>
        <div class="col-md-12">
            <h3 class="center">AUDIO SCRIPT 5 </h3>
            <ul>
                <li><b>Café worker:</b> Next, please! What would you like?</li>
                <li><b>Andi:</b> Can I have a burger, please?</li>
                <li><b>Café worker:</b> A cheese burger or double cheese burger?</li>
                <li><b>Andi:</b> Double cheese burger, please.</li>
                <li><b>Café worker:</b> Anything else?</li>
                <li><b>Andi:</b> Yeah, I'd like some banana cake.</li>
                <li><b>Café worker:</b> Would you like a drink?</li>
                <li><b>Andi:</b> Yes, can I have an apple juice, please?</li>
                <li><b>Café worker:</b> OK, so that’s one double cheese burger, one banana cake and an apple juice. What’s your table number?</li>
                <li><b>Andi:</b> Table 3. How much is that?</li>
                <li><b>Café worker:</b> That’s £8.37, please.</li>
                <li><b>Andi:</b> Here you are.</li>
                <li><b>Café worker:</b> Thank you ... that’s £10.00 ... and £1.63 change. Next, please ...</li>
            </ul>
        </div>
    </div>
</div>