<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class=" center">Reading comprehension</h3>
        </div>
        <div class="col-md-8">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg33_libroA1.png?alt=media&token=dc9b1ab3-ab05-4ba3-9072-de583db72ada" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>1. Lunch is served for two hours only. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q1_o" id="la1_p40_q1_o1" value="la1_p40_q1_o1" [checked]="libro['la1_p40_q1']==='la1_p40_q1_o1'" [(ngModel)]="libro['la1_p40_q1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q1_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q1_o" id="la1_p40_q1_o2" value="la1_p40_q1_o2" [checked]="libro['la1_p40_q1']==='la1_p40_q1_o2'" [(ngModel)]="libro['la1_p40_q1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q1_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2. Dinner starts at 2:30 p.m. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q2_o" id="la1_p40_q2_o1" value="la1_p40_q2_o1" [checked]="libro['la1_p40_q2']==='la1_p40_q2_o1'" [(ngModel)]="libro['la1_p40_q2']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q2_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q2_o" id="la1_p40_q2_o2" value="la1_p40_q2_o2" [checked]="libro['la1_p40_q2']==='la1_p40_q2_o2'" [(ngModel)]="libro['la1_p40_q2']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q2_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3. Bread and butter come free with the starters. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q3_o" id="la1_p40_q3_o1" value="la1_p40_q3_o1" [checked]="libro['la1_p40_q3']==='la1_p40_q3_o1'" [(ngModel)]="libro['la1_p40_q3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q3_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q3_o" id="la1_p40_q3_o2" value="la1_p40_q3_o2" [checked]="libro['la1_p40_q3']==='la1_p40_q3_o2'" [(ngModel)]="libro['la1_p40_q3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q3_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4. The snacks are available for lunch and dinner. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q4_o" id="la1_p40_q4_o1" value="la1_p40_q4_o1" [checked]="libro['la1_p40_q4']==='la1_p40_q4_o1'" [(ngModel)]="libro['la1_p40_q4']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q4_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q4_o" id="la1_p40_q4_o2" value="la1_p40_q4_o2" [checked]="libro['la1_p40_q4']==='la1_p40_q4_o2'" [(ngModel)]="libro['la1_p40_q4']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q4_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5. If you order a snack, the salad and chips cost extra.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q5_o" id="la1_p40_q5_o1" value="la1_p40_q5_o1" [checked]="libro['la1_p40_q5']==='la1_p40_q5_o1'" [(ngModel)]="libro['la1_p40_q5']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q5_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q5_o" id="la1_p40_q5_o2" value="la1_p40_q5_o2" [checked]="libro['la1_p40_q5']==='la1_p40_q5_o2'" [(ngModel)]="libro['la1_p40_q5']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q5_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6. There are three flavors of ice cream.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q6_o" id="la1_p40_q6_o1" value="la1_p40_q6_o1" [checked]="libro['la1_p40_q6']==='la1_p40_q6_o1'" [(ngModel)]="libro['la1_p40_q6']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q6_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p40_q6_o" id="la1_p40_q6_o2" value="la1_p40_q6_o2" [checked]="libro['la1_p40_q6']==='la1_p40_q6_o2'" [(ngModel)]="libro['la1_p40_q6']" (change)="guardarInfo()">
                                <label class="form-check-label" for="la1_p40_q6_o2">False</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="col-md-12">
            <h3 class="center">Audio script 7</h3>
            <ul>
                <li><strong>Tour guide:</strong> Good afternoon, ladies and gentlemen and welcome to this fantastic tour of London by bus. My name’s Greg and I’m your guide this afternoon on our tour of London. As you can see, we’re on an open-top bus, so
                    you can see all the attractions from your seat and you don’t need to walk anywhere. And please don’t worry about the rain, I’m sure it’ll stop soon. A-a-and please ask any questions at any time.</li>
                <li><strong>Tourist 1:</strong> I have a question.</li>
                <li><strong>Tour guide:</strong> Yes?</li>
                <li><strong>Tourist 1:</strong> Do you have extra umbrellas? I mean, if it rains a lot.</li>
                <li><strong>Tour guide:</strong> Err, no, we don’t have any extra umbrellas, but don’t worry, I’m sure the rain will stop soon. Right, OK, so where are we going on our wonderful tour? Well, the tour takes two hours and we are going to visit
                    all the famous sites. First we’ll see Madame Tussauds, the museum with wax models of famous people and celebrities, then we’ll drive along the most famous shopping street in the world, Oxford Street. After that we’ll see the famous
                    clock Big Ben and The Houses of Parliament. As we drive along the river you’ll see the popular attraction, the London Eye, from which you can see the whole city on a sunny day. Then we’ll see Tower Bridge and the famous Tower of London
                    before arriving at Buckingham Palace, just in time for a cup of tea with the Queen.</li>
                <li><strong>Tourist 2:</strong> Is that included in the tour? A cup of tea with the Queen?</li>
                <li><strong>Tour guide:</strong> Err, well, no, not exactly, but there’s a lovely café near the palace where you can get a cup of tea. (Sound of a storm right overhead, loud thunder and very heavy downpour)</li>
                <li><strong>Tourist 1:</strong> I have another question.</li>
                <li><strong>Tour guide:</strong> Yes?</li>
                <li><strong>Tourist 1:</strong> Can we have our money back? We’re getting off the bus.</li>
                <li><strong>Tour guide:</strong> Err, well, you see ... Quick! Run! Everyone off the bus! ...</li>
            </ul>
        </div>
    </div>
</div>