<div>
    <div class="row">
        <div class="col-md-12 rojo my-3">
            <h4 class="text-white center"> REVIEW No. II </h4>


        </div>
        <div class="col-md-12">
            <div class="row">


                <div class="col-md-6"><input type="text" class="form-control m-1" placeholder="First name - Middle name - Last name " name="ans2Page40" [(ngModel)]="libro.ans2Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></div>
                <div class="col-md-2"><input type="text" class="form-control m-1" placeholder="Date" name="ans1Page40" [(ngModel)]="libro.ans1Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></div>
                <div class="col-md-2"><input type="text" class="form-control m-1" placeholder="Place of birth" name="ans4Page40" [(ngModel)]="libro.ans4Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></div>
                <div class="col-md-2"><input type="text" class="form-control m-1" placeholder="Date of Birth" name="ans3Page40" [(ngModel)]="libro.ans3Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></div>
            </div>
            <hr class="my-3">
        </div>
        <div class="col-md-6">
            <h6 class="text-white center verde2"> ACTIVITY 1.5</h6>
            <p>
                Where are they?
            </p>
            <span class="badge bg-primary m-1">His</span>
            <span class="badge bg-primary m-1">Her</span>
            <span class="badge bg-primary m-1">Their</span>
            <span class="badge bg-primary m-1">Its</span>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mary's Brother isn't short</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o1">His</label>

                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o2">Her</label>

                            </div> Brother is tall</td>
                    </tr>
                    <tr>
                        <td>Mr. and Mrs. Miller's apartment isn't cheap</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o1">His</label>

                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o2">Their</label>

                            </div> apartment is expensive</td>
                    </tr>
                    <tr>
                        <td>Robert's sister isn't single</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o1">His</label>

                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o2">Her</label>

                            </div> sister is married</td>
                    </tr>
                    <tr>
                        <td>Ms. Clark's neighbors aren't quiet</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o1">Their</label>

                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o2">Her</label>

                            </div> neighbors are noisy</td>
                    </tr>
                    <tr>
                        <td>Their dog's name isn't Rover</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o1">Its</label>

                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o2">Their</label>

                            </div> name is Fido</td>
                    </tr>
                    <tr>
                        <td>Mrs. Hunter's car isn't large</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o1">His</label>

                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o2">Her</label>

                            </div> car is small</td>
                    </tr>
                    <tr>
                        <td>Timmy's biclycle isn't new</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o1">His</label>

                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o2">Its</label>

                            </div> biclycle is old</td>
                    </tr>
                    <tr>
                        <td>Mr. and Mrs. Lee's son isn't single</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o1">Her</label>

                                <input type="radio" class="btn-check" name="q?-p39-l1" id="q?-p39-l1-o2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="q?-p39-l1-o2">Their</label>

                            </div> son is married</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h6 class="text-white center verde2"> ACTIVITY 1.6</h6>
            <p>
                Answer the following questions

            </p>
            <ol>
                <li>How’s it going? <input type="text" class="m-1 form-control" name="ans13Page40" [(ngModel)]="libro.ans13Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>Who’s your best friend? <input type="text" class="m-1 form-control" name="ans14Page40" [(ngModel)]="libro.ans14Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>What’s his/her favorite sport? <input type="text" class="m-1 form-control" name="ans15Page40" [(ngModel)]="libro.ans15Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>How old is your best friend? <input type="text" class="m-1 form-control" name="ans16Page40" [(ngModel)]="libro.ans16Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>Who do you live with? <input type="text" class="m-1 form-control" name="ans17Page40" [(ngModel)]="libro.ans17Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>Glad to meet you <input type="text" class="m-1 form-control" name="ans18Page40" [(ngModel)]="libro.ans18Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            </ol>
        </div>
    </div>
</div>