<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 4.4</h6>
      <h5>YOU DECIDE</h5>
      <br />
      <p><b>1.</b> Should I buy a van or a sports car?</p>
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <textarea class="form-control" id="" cols="30" rows="5" disabled>
Option1 : I think you should buy a van because vans are more useful than sports cars</textarea
      >
    </div>
    <div class="col-md-4 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F3-18.webp?alt=media&token=b4af4651-ff2b-4729-91c1-0c18ea0bbb77"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <textarea class="form-control" id="" cols="30" rows="5" disabled>
Option2: I think you should buy a sports car because sports cars are more exciting than vans</textarea
      >
    </div>
    <hr class="my-2" />
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F3-19.webp?alt=media&token=309ccb24-1f39-44c0-9310-1bb91d3add62"
          class="img-fluid"
          alt="img"
        />
      </div>
      <p>
        <b>2.</b> Should she buy a bicycle or a motorcycle?
        <textarea
          class="form-control"
          name="ans1page19"
          [(ngModel)]="libro.ans1Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
          cols="30"
          rows="4"
          placeholder="i think ___________________ Because _________________________"
        ></textarea>
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F3-20.webp?alt=media&token=31a73adf-1c3e-4a98-8099-511fac8fc27a"
          class="img-fluid"
          alt="img"
        />
      </div>
      <p>
        <b>3.</b> Should we move to Weston or Easton?
        <textarea
          class="form-control"
          name="ans2page19"
          [(ngModel)]="libro.ans2Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
          cols="30"
          rows="4"
          placeholder="i think ___________________ Because _________________________"
        ></textarea>
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F3-21.webp?alt=media&token=47ecdadf-abe9-48c0-a265-0dba705daad0"
          class="img-fluid"
          alt="img"
        />
      </div>
      <p>
        <b>4.</b> Should he buy the fur hat or the leather hat?
        <textarea
          class="form-control"
          name="ans3page19"
          [(ngModel)]="libro.ans3Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
          cols="30"
          rows="4"
          placeholder="i think ___________________ Because _________________________"
        ></textarea>
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F3-22.webp?alt=media&token=779cf235-c637-4dec-9b05-b51fcd2a39a9"
          class="img-fluid"
          alt="img"
        />
      </div>
      <p>
        <b>5.</b> Should I vote for Alan Lana or George Gray?
        <textarea
          class="form-control"
          name="ans4page19"
          [(ngModel)]="libro.ans4Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
          cols="30"
          rows="4"
          placeholder="i think ___________________ Because _________________________"
        ></textarea>
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F3-23.webp?alt=media&token=63f88e3a-a22d-4884-adc4-1aa61ee8c097"
          class="img-fluid"
          alt="img"
        />
      </div>
      <p>
        <b>6.</b> Should we hire Mr. Hall or Mr. Hill?
        <textarea
          class="form-control"
          name="ans5page19"
          [(ngModel)]="libro.ans5Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
          cols="30"
          rows="4"
          placeholder="i think ___________________ Because _________________________"
        ></textarea>
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F3-24.webp?alt=media&token=9affa281-39f5-4b03-80a6-39d584f4b9fd"
          class="img-fluid"
          alt="img"
        />
      </div>
      <p>
        <b>7.</b> Should he go out with Patty or Pam?
        <textarea
          class="form-control"
          name="ans6page19"
          [(ngModel)]="libro.ans6Page19"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
          cols="30"
          rows="4"
          placeholder="i think ___________________ Because _________________________"
        ></textarea>
      </p>
    </div>
  </div>
</div>
