<div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="center">Questions you should be able to answer from book 1</h4>
        </div>
        <div class="col-md-6">
            <ul>
                <li>1. What´s your mother´s name? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>2. Where is your father from? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>3. How old is your brother? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>4. How´s it going? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>5. Whose boots are these? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>6. Are these your earrings? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>7. Is this your pen? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>8. How´s the weather like? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>9. Who is she? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>10. What time is it? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>11. What days is before Sunday? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>12. What day is after tomorrow? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>13. What is today´s date? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>14. How many chairs are there in this room? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>15. How many people are there in your house? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>16. How many books are there in the table? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>17. Are you taller than your father? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>18. Is he heavier than your uncle? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>19. What is your mother like? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>20. Is Colombia bigger than Ecuador? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>

            </ul>
        </div>
    </div>
</div>