<div>
  <div class="row">
    <div class="col-md-6">
      <h5>WRITING ACTIVITY:</h5>
      <p>A. Students write a small paragraph about their favorite picture.</p>
      <br />
      <p class="justify">
        <!-- audio 353 l1 -->
        <audio
          id="a1p21l1"
          aria-label="audio"
          class=""
          controls
          controlslist="nodownload"
        >
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F353.mp3?alt=media&token=5f0f637e-2752-4ef7-a593-e1b490ba4959"
          /></audio
        ><br />
        <button
          (click)="reproducirAudio('a1p21l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        This is my favorite picture. She is my mother and he is my father. Her
        name is Paola and his name is Wilton. My Dad is 40 and my Mom is 35. We
        are in the park. I am with my little sister. Her name is Kate. She is
        very beautiful. Today is a nice day. We are happy.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F47.jpg?alt=media&token=c13f2df3-e6e6-41d0-9fd2-2db79e9184b9"
        class="img-fluid m-1 rounded w-75"
        alt="img"
      />
    </div>
    <hr class="my-3" />
    <div class="col-md-4">
      <h5>TALK ABOUT IT</h5>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F48.PNG?alt=media&token=52acd82d-b02c-4472-ab3c-d38d60d27722"
        class="img-fluid m-1 rounded"
        alt="img"
      />
    </div>
    <div class="col-md-4">
      <br />
      <textarea
        name="ans1Page21"
        [(ngModel)]="libro.ans1Page21"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        class="form-control"
        cols="30"
        rows="10"
      ></textarea>
    </div>
    <div class="col-md-4">
      <strong>Bring a picture and talk about it. </strong>
      <textarea
        name="ans2Page21"
        [(ngModel)]="libro.ans2Page21"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        class="form-control"
        cols="30"
        rows="10"
      ></textarea>
    </div>
  </div>
</div>
