<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center my-2">LET’S TALK</h4>
    </div>
    <div class="col-md-6 card border-info">
      <div class="row">
        <div class="col-md-4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-14.jpg?alt=media&token=59ed5f99-93b9-4dd5-a5d7-b8aebc877735"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8 p-1">
          <textarea class="form-control" cols="30" rows="7" disabled>
            How do you feel?
            I feel terrible.
            Why, what’s the matter?
            My knee hurts.
            Well, you should put a bandage.
            Yeah, maybe you’re right.
            </textarea
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 card border-info">
      <div class="row">
        <div class="col-md-4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-5.jpg?alt=media&token=30bb2bdd-ae77-4954-a767-d0df3aad6036"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8 p-1">
          <textarea class="form-control" cols="30" rows="7" disabled>
If you have a toothache, I think you should see a dentist, but you shouldn’ out at night</textarea
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 card border-info">
      <div class="row">
        <div class="col-md-4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-1.png?alt=media&token=9d1424ce-ae4f-4ef7-ae52-a862d6b70f5d"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8 p-1">
          <textarea
            class="form-control"
            name="ans1page3"
            [(ngModel)]="libro.ans1Page3"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            cols="30"
            rows="7"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6 card border-info">
      <div class="row">
        <div class="col-md-4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-2.png?alt=media&token=e295c7d4-667c-4573-8425-b534e5742402"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8 p-1">
          <textarea
            class="form-control"
            name="ans1page3"
            [(ngModel)]="libro.ans1Page3"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            cols="30"
            rows="7"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6 card border-info">
      <div class="row">
        <div class="col-md-4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-9.jpg?alt=media&token=62c7e8a8-5363-435b-8ea8-dc5d28284996"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8 p-1">
          <textarea
            class="form-control"
            name="ans1page3"
            [(ngModel)]="libro.ans1Page3"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            cols="30"
            rows="7"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6 card border-info">
      <div class="row">
        <div class="col-md-4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-3.jpg?alt=media&token=628da030-c474-4d4b-b3b3-48a603eae14d"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8 p-1">
          <textarea
            class="form-control"
            name="ans1page3"
            [(ngModel)]="libro.ans1Page3"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            cols="30"
            rows="7"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
