<div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <h6>BREADS:</h6>
                <li> Wheat </li>
                <li> White </li>
                <li> Rolls (white, wheat, sour dough, etc.) </li>
                <li> Cornbread </li>
                <li> Biscuits </li>
                <li> Muffins </li>
                <li> Tortillas </li>
                <li> Pizza </li>
                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>SEASONINGS: </h6>
                <li> Oregano, sage, basil, rosemary, tarragon, fennel, cumin, cilantro, paprika, parsley, celery, chili powder, thyme, chive, curry, ginger, cinnamon, nutmeg, dill </li>
                <li> Fresh garlic</li>
                <li> Pepper—white, black or red </li>
                <li> Salt—regular/ Kosher/ Sea salt </li>
                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>FATS/OILS:</h6>
                <li> Butter </li>
                <li> Margarine </li>
                <li> Canola Oil </li>
                <li> Corn Oil </li>
                <li> Olive Oil </li>
                <li> Vegetable Oil </li>
                <li> Sunflower Oil </li>
                <li> Peanut Oil </li>
                <li> Shortening</li>
                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>MILK AND MILK PRODUCTS:</h6>
                <li> Cheeses (parmesan, cheddar, swiss, mozzarella, goat, feta, muenster, blue, fontina, monterey jack) </li>
                <li> Milk (skim, 1%, 2%, whole) </li>
                <li> Cottage cheese </li>
                <li> Yogurt</li>
                <li> Sour cream </li>
                <li> Half and half </li>
                <li> Cream</li>
                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <h6>EGGS: </h6>
                <li> Whole </li>
                <li> Yolks only </li>
                <li> Whites only </li>
                <li> Eggbeaters substitute </li>

                Comments: <input type="text" name="" class="form-control" id="">
            </ul>
        </div>

    </div>
</div>