<div>
    <div class="row">
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F2.png?alt=media&token=b1a3dd26-3ee2-4dea-aa0d-076d7be16ccf" class="img-fluid m-1 rounded w-75" alt="img">
        </div>
        <div class="col-md-3">
            - What’s her name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans1Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> -Spell it, please.
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans2Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F3.png?alt=media&token=64b608ba-f865-4fc9-85b8-4b1f9596d2d7" class="img-fluid m-1 rounded w-75" alt="img">
        </div>
        <div class="col-md-3">

            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans3Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> - His name is Jefferson.
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans4Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">- J-E-F-F-E-R-S-O-N
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F4.png?alt=media&token=23f04c88-03a4-48ac-82e1-effcaefac0c4" class="img-fluid m-1 rounded w-75" alt="img">
        </div>
        <div class="col-md-3">
            - What’s your name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans5Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans6Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans7Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F5.png?alt=media&token=4363aa8c-b8d2-4220-9473-15e91d33cea0" class="img-fluid m-1 rounded w-75" alt="img">
        </div>
        <div class="col-md-3">
            - What´s her name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans8Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans9Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans10Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
    </div>
</div>