<div>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-3" alt="img"> - What’s her name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans1Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> -Spell it, please.
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans2Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-3" alt="img">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans3Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> - His name is Jefferson.
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans4Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">- J-E-F-F-E-R-S-O-N
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-3" alt="img"> - What’s your name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans5Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans6Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans7Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-3" alt="img">- What´s her name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans8Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans9Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="ans1page2" [(ngModel)]="libro.ans10Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
    </div>
</div>