<div>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-3" alt="img"> - What’s her name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id=""> -Spell it, please.
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-3" alt="img">
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id=""> - His name is Jefferson.
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id="">- J-E-F-F-E-R-S-O-N
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-3" alt="img"> - What’s your name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-3" alt="img">- What´s her name?
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id="">
            <input type="text" class="form-control m-1" placeholder="Answer" name="" id="">
        </div>
    </div>
</div>