<div>
  <div class="row">
    <div class="col-md-12 rojo my-3">
      <h4 class="text-white center">REVIEW No. I</h4>
    </div>
    <div class="col-md-6">
      <h6 class="text-white center verde2">ACTIVITY 4.1</h6>
      <p>
        Complete each statement.<br />
        Example: If I drink too much<b> I’m going to get drunk</b>
      </p>
      <ol>
        <li>
          If I practice speaking English,
          <input
            type="text"
            class="form-control input input m-1"
            name="ans1page17"
            [(ngModel)]="libro.ans1Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          If I don’t study,
          <input
            type="text"
            class="form-control input input m-1"
            name="ans2page17"
            [(ngModel)]="libro.ans2Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          If I don’t pay my rent,
          <input
            type="text"
            class="form-control input input m-1"
            name="ans3page17"
            [(ngModel)]="libro.ans3Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          If I drink too much coffee,
          <input
            type="text"
            class="form-control input input m-1"
            name="ans4page17"
            [(ngModel)]="libro.ans4Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          If I pass this course,
          <input
            type="text"
            class="form-control input input m-1"
            name="ans5page17"
            [(ngModel)]="libro.ans5Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          If it rains this weekend,
          <input
            type="text"
            class="form-control input input m-1"
            name="ans6page17"
            [(ngModel)]="libro.ans6Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          If the teacher is absent tomorrow,
          <input
            type="text"
            class="form-control input input m-1"
            name="ans7page17"
            [(ngModel)]="libro.ans7Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <h6 class="text-white center verde2">ACTIVITY 4.2</h6>
      <p>
        Fill in the blanks with the correct form of the word in ( ). <br />
        <b>Example</b>: It is important to drive
        <small
          ><b><i>(careful)</i></b></small
        >
        <b> carefully</b>
      </p>
      <ol>
        <li>
          Don’t follow the car in front of you too
          <small
            ><b><i>(close)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans8page17"
            [(ngModel)]="libro.ans8Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Make sure your brakes are working
          <small
            ><b><i>(good)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans9page17"
            [(ngModel)]="libro.ans9Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Clean your windshield
          <small
            ><b><i>(frequent)</i></b></small
          ><input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans10page17"
            [(ngModel)]="libro.ans10Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Watch
          <small
            ><b><i>(careful)</i></b></small
          ><input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans11page17"
            [(ngModel)]="libro.ans11Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          for signs
        </li>
        <li>
          Drive
          <small
            ><b><i>(slow)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans12page17"
            [(ngModel)]="libro.ans12Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          on a curve
        </li>
        <li>
          Don’t honk your horn
          <small
            ><b><i>(unnecessary)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans13page17"
            [(ngModel)]="libro.ans13Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          If you have a blow-out, hold the steering wheel
          <small
            ><b><i>(firm)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans14page17"
            [(ngModel)]="libro.ans14Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          and release the gas pedal
        </li>
        <li>
          Drive
          <small
            ><b><i>(cautious)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans15page17"
            [(ngModel)]="libro.ans15Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          in rain or snow
        </li>
        <li>
          Don’t use your brakes
          <small
            ><b><i>(sudden)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans16page17"
            [(ngModel)]="libro.ans16Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          on snow or ice
        </li>
        <li>
          Check your rear view mirror
          <small
            ><b><i>(frequent)</i></b></small
          ><input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans17page17"
            [(ngModel)]="libro.ans17Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          If you are driving
          <small
            ><b><i>(slow)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans18page17"
            [(ngModel)]="libro.ans18Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          stay in the right lane
        </li>
        <li>
          if you have an accident, stop
          <small
            ><b><i>(immediate)</i></b></small
          >
          <input
            type="text"
            class="form-control input"
            size="150"
            style="width: 150px; height: 30px"
            name="ans19page17"
            [(ngModel)]="libro.ans19Page17"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          and call the police
        </li>
      </ol>
    </div>
  </div>
</div>
