<div>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 1.
                <li>A. When are you going to cut your hair?</li>
                <li>B. I’m going to cut it next summer.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 2.
                <li>A. When are they going to bake a cake?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 3.
                <li>A. When is he going to fix the sink?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 4.
                <li>A. When is he going to call his girlfriend?
                </li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 5.
                <li>A. What is he going to iron?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 6.
                <li>A. What are you going to do next week?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 7.
                <li>A. When is she going to wash the dishes?
                </li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 8.
                <li>A. What is Kate going to buy?
                </li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 9.
                <li>A. How much are you going to bet in the casino?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
    </div>
</div>