<div>
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F157.jpg?alt=media&token=c49d4d0a-cb44-4fff-9180-be0ca1bb6e9c" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 1.
                <li>A. When are you going to cut your hair?</li>
                <li>B. I’m going to cut it next summer.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F158.png?alt=media&token=75e36fb5-1cdf-4e2f-8eb6-bbb6d384f399" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 2.
                <li>A. When are they going to bake a cake?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="ans1page54" [(ngModel)]="libro.ans1Page54" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F159.jpg?alt=media&token=c59b5221-da75-4064-8a4e-8f50ad958653" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 3.
                <li>A. When is he going to fix the sink?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="ans2page54" [(ngModel)]="libro.ans2Page54" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F160.jpg?alt=media&token=8bd575a6-8da7-4571-b109-0b2fd61d5ff0" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 4.
                <li>A. When is he going to call his girlfriend?
                </li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="ans3page54" [(ngModel)]="libro.ans3Page54" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F161.jpg?alt=media&token=b0a2e3e5-d336-46f7-8500-ab71affb565e" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 5.
                <li>A. What is he going to iron?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="ans4page54" [(ngModel)]="libro.ans4Page54" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F153.jpg?alt=media&token=ebb74d61-5d9e-476a-a593-90afd1c01935" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 6.
                <li>A. What are you going to do next week?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="ans5page54" [(ngModel)]="libro.ans5Page54" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F150.jpg?alt=media&token=a44dadca-48cd-4a45-8016-7fd2f294339b" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 7.
                <li>A. When is she going to wash the dishes?
                </li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="ans6page54" [(ngModel)]="libro.ans6Page54" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F144.jpg?alt=media&token=815ca1bf-24b9-45af-a43d-655eecf72457" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 8.
                <li>A. What is Kate going to buy?
                </li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="ans7page54" [(ngModel)]="libro.ans7Page54" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F162.jpg?alt=media&token=e1c9c4c4-6474-45a8-8313-eb94f16c58dc" class="img-fluid w-75 rounded " alt="img">
            </div>
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 9.
                <li>A. How much are you going to bet in the casino?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="ans8page54" [(ngModel)]="libro.ans8Page54" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
        </div>
    </div>
</div>