<div>
    <div class="row">
        <div class="col-md-12 rojo my-3">
            <h4 class="text-white center"> REVIEW No. II </h4>
        </div>
        <div class="col-md-6">
            <h6 class="text-white center verde2"> ACTIVITY 3.5</h6>
            <strong><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> ORAL PRACTICE:</strong>
            <p>Assume you have a roommate named Jack who has many bad habits. These bad habits annoy you. Pretend you are speaking to a friend and complaining about Jack. Use the present progressive. Use always, constantly or forever in each sentence. Say
                your sentence aloud with some annoyance, impatience, or anger in your voice.</p>
            <p>Here is a list of some of Jack’s bad habits:</p>
            <ol>
                <li>He messes up the kitchen. He’s always messing up the kitchen!</li>
                <li>He leaves his dirty dishes on the table</li>
                <li>He borrows my clothes without asking me</li>
                <li>He brags about himself</li>
                <li>He tries to show me that he’s smarter than I</li>
                <li>He cracks his knuckles While I’m trying to study</li>
                <li>I like fresh air and like to have the windows open, but he closes the windows</li>
            </ol>
            <p>Complete the following with your own words</p>
            <ul>
                <li><strong>A.</strong> I really don’t know if I can stand to have Sue for a roommate one more day. She’s driving me crazy</li>
                <li><strong>B.</strong> Oh? What’s wrong?</li>
                <li><strong>A.</strong> Well, for one thing she’s always <input type="text" class="mt-1 input form-control" name="ans1page35" [(ngModel)]="libro.ans1Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><strong>B.</strong> Really?</li>
                <li><strong>A.</strong> And not only that. She’s forever <input type="text" class="mt-1 input form-control" name="ans2page35" [(ngModel)]="libro.ans2Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><strong>B.</strong> That must be very inconvenient for your</li>
                <li><strong>A.</strong> It’s. and what’s more, she’s constantly <input type="text" class="mt-1 input form-control" name="ans3page35" [(ngModel)]="libro.ans3Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Can you believe
                    that? And she’s always
                    <input type="text" class="mt-1 input form-control" name="ans4page35" [(ngModel)]="libro.ans4Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><strong>B.</strong> I think you’re right. You need to find a new roommate</li>

            </ul>

        </div>
        <div class="col-md-6">
            <h6 class="text-white center verde2"> ACTIVITY 3.6</h6>
            <strong>ORAL PRACTICE:</strong>
            <p>Give suggestions. Use “Why don’t you ….?”<br> FILL IN THE GABS AND WALK ARROUND THE CLASS ASKING YOUR CLASSMATES</p>
            <ol>
                <li>I’m thirsty .......... Why don’t you drink some water</li>
                <li>I’m sleepy .......... <input type="text" class="mt-1 input form-control" name="ans5page35" [(ngModel)]="libro.ans5Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>I have a headache .......... <input type="text" class="mt-1 input form-control" name="ans6page35" [(ngModel)]="libro.ans6Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>I have a toothache .......... <input type="text" class="mt-1 input form-control" name="ans7page35" [(ngModel)]="libro.ans7Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>It’s too hot in this room .......... <input type="text" class="mt-1 input form-control" name="ans8page35" [(ngModel)]="libro.ans8Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>I’m cold .......... <input type="text" class="mt-1 input form-control" name="ans9page35" [(ngModel)]="libro.ans9Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>I’m broke .......... <input type="text" class="mt-1 input form-control" name="ans10page35" [(ngModel)]="libro.ans10Page35" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>I have to take a science course next semester. What should I take? .......... <input type="text" class="mt-1 input form-control" name="ans10page36" [(ngModel)]="libro.ans10Page36" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>Tomorrow is my sister’s birthday. What should I give her?.......... <input type="text" class="mt-1 input form-control" name="ans11page36" [(ngModel)]="libro.ans11Page36" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>I’d like to go to ( … )’s party tonight, but I should probably stay home and study. What do you think I should do?.......... <input type="text" class="mt-1 input form-control" name="ans12page36" [(ngModel)]="libro.ans12Page36" (keyup.enter)="guardarInfo()"
                        (blur)="guardarInfo()" id=""></li>
                <li> I’m going to take a vacation this summer. Where should I go? .......... <input type="text" class="mt-1 input form-control" name="ans13page36" [(ngModel)]="libro.ans13Page36" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ol>
        </div>
    </div>
</div>