<div>
  <div class="row">
    <div class="col-md-12 my-3">
      <h6 class="text-white center verde2">ACTIVITY 2.16</h6>
    </div>
    <div class="col-md-12">
      <p>Complete the sentences with can and can’t.</p>
      <ol>
        <li>
          A cat
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            value="can"
            disabled
            id=""
          />
          climb trees, but it
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            value="can't"
            disabled
            id=""
          />
          fly
        </li>
        <li>
          A fish
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans13page42"
            [(ngModel)]="libro.ans13Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          walk, but it
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans14page42"
            [(ngModel)]="libro.ans14Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          swim
        </li>
        <li>
          A dog
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans15page42"
            [(ngModel)]="libro.ans15Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          bark, but it
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans16page42"
            [(ngModel)]="libro.ans16Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          sing
        </li>
        <li>
          You
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans17page42"
            [(ngModel)]="libro.ans17Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          buy stamps at the post office, but you
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans18page42"
            [(ngModel)]="libro.ans18Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          buy shoes there
        </li>
        <li>
          A tiny baby
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans19page42"
            [(ngModel)]="libro.ans19Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          cry, but it
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans20page42"
            [(ngModel)]="libro.ans20Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          talk
        </li>
        <li>
          I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans21page42"
            [(ngModel)]="libro.ans21Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          write with a pen, but I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans22page42"
            [(ngModel)]="libro.ans22Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          write with a paper clip
        </li>
        <li>
          I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans23page42"
            [(ngModel)]="libro.ans23Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          read a book by moonlight, but I
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans24page42"
            [(ngModel)]="libro.ans24Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          read in sunlight
        </li>
        <li>
          Trees
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans25page42"
            [(ngModel)]="libro.ans25Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          produce oxygen, but rocks
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans26page42"
            [(ngModel)]="libro.ans26Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Fish
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans27page42"
            [(ngModel)]="libro.ans27Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          live in air, but they
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans28page42"
            [(ngModel)]="libro.ans28Page42"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          live in water.
        </li>
        <li>
          You
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans1page43"
            [(ngModel)]="libro.ans1Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          store water in a glass jar, but you
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans2page43"
            [(ngModel)]="libro.ans2Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          store it in a paper bag.
        </li>
        <li>
          You
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans3page43"
            [(ngModel)]="libro.ans3Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          drive from the Philippines to Australia, but you
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans4page43"
            [(ngModel)]="libro.ans4Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          drive from Italy to Austria.
        </li>
        <li>
          You
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans5page43"
            [(ngModel)]="libro.ans5Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          ride on the back of cat, but you
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans6page43"
            [(ngModel)]="libro.ans6Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          ride on the back of a horse.
        </li>
        <li>
          Jack’s friends are going to the park to play soccer. Jack wants to
          play too, but he has a broken toe, so he’s on crutches. Jack
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans7page43"
            [(ngModel)]="libro.ans7Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          go to the park and watch the game, but he
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans8page43"
            [(ngModel)]="libro.ans8Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          play in the game
        </li>
        <li>
          Laurie has to go to the airport. The airport is 25 miles (40
          kilometres) from her house. She
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans9page43"
            [(ngModel)]="libro.ans9Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          walk to the airport. It’s too far. She
          <input
            type="text"
            size="100"
            style="width: 100px; height: 30px"
            class="form-control input m-1"
            name="ans10page43"
            [(ngModel)]="libro.ans10Page43"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          take a bus, however.
        </li>
      </ol>
    </div>
  </div>
</div>
