<div>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-3">
      <h1><span class="badge morado my-2">UNIT 5</span></h1>
      <h3 class="text-center">
        <!-- audio65 -->
        <audio id="a1p6l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>

        <button
          (click)="reproducirAudio('a1p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        SIMPLE PAST<br />
        VOCABULARY
      </h3>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-1.webp?alt=media&token=2609c614-cda6-463b-8a0c-c61265817e1a"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">1. Kiss </strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-2.webp?alt=media&token=e77b5afd-6901-4467-9da6-e52b99286d48"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">2. Play</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-3.jpg?alt=media&token=f5ae8cae-eedd-4e25-bd80-fc837ca94464"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">3. Sweep the floor </strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-4.jpg?alt=media&token=bd220eff-2a3c-49a5-94e9-1b96c24220bf"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center"
        ><!-- audio66 -->
        <audio id="a2p6l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>

        <button
          (click)="reproducirAudio('a2p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Scold
      </strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-5.jpg?alt=media&token=32f3f598-7e10-445d-b6da-d01259a0413e"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">5. Paint</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-6.webp?alt=media&token=febdcebe-7b36-454d-81f4-d2fa6d965e0c"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">6. Open</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-7.webp?alt=media&token=27fde4eb-5a08-4a56-ab83-a2548b543b53"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">
        <!-- audio67 -->
        <audio id="a3p6l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>

        <button
          (click)="reproducirAudio('a3p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Visit</strong
      >
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-8.webp?alt=media&token=a658186c-8ce6-4ef1-b97a-03708aee7c4b"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">8. Answer</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-9.webp?alt=media&token=8e30196a-87d3-44ed-b622-bfaf27c444cf"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">9. Wait</strong>
    </div>
  </div>
</div>
