<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 9</span></h1>
      <h3 class="text-center">EXPRESSING FUTURE TIME</h3>
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F148.jpg?alt=media&token=04dc8a02-2c30-48d5-b935-180567c8baf3"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 138-->
        <audio id="a1p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F138.mp3?alt=media&token=5c8e37c4-d4e9-4068-8744-b0817cdf00b9"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Cut your hair</strong
      >
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F149.jpg?alt=media&token=98ab1b20-662b-4142-bf2d-10428459edb8"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 139-->
        <audio id="a2p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F139.mp3?alt=media&token=4e49e185-f6f3-4a06-a3a3-d436e3a80a8b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Plant trees</strong
      >
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F150.jpg?alt=media&token=a44dadca-48cd-4a45-8016-7fd2f294339b"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 140-->
        <audio id="a3p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F140.mp3?alt=media&token=c7485584-5fbe-4b52-8503-e435b3f59ab6"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Wash the dishes</strong
      >
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F151.jpg?alt=media&token=bd82cd11-ba05-4334-99ed-cd3d0b66cee0"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 141-->
        <audio id="a4p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F141.mp3?alt=media&token=896e45f9-28a8-457b-a9df-9b5afd37a1b9"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Return the books</strong
      >
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F152.jpg?alt=media&token=18cc4bac-e852-40ea-aac6-5751bf39f064"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 142-->
        <audio id="a5p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F142.mp3?alt=media&token=03287935-f6e3-49b2-ba90-ccfba38b9096"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Bake a cake</strong
      >
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F153.jpg?alt=media&token=ebb74d61-5d9e-476a-a593-90afd1c01935"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 143-->
        <audio id="a6p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F143.mp3?alt=media&token=b6823332-19f9-4cce-8aff-19029ac32ec0"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Ask for a loan</strong
      >
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F154.jpg?alt=media&token=55cd87ae-5585-45b4-a08d-d61a6f13a3da"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 144-->
        <audio id="a7p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F144.mp3?alt=media&token=0d3b7202-3551-4003-994e-2203a5acb6f4"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Call your friends
      </strong>
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F155.jpg?alt=media&token=a31bddcb-8a43-4cc3-9d64-8ce51298dda2"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 145-->
        <audio id="a8p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F145.mp3?alt=media&token=fad49bd5-5ec7-485e-bc9f-ebe1bb8a3a68"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Call your friends
      </strong>
    </div>
    <div class="col-md-3 my-1 text-center p-2 card border-info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F156.jpg?alt=media&token=42ed6ebb-911a-4afd-89a5-6cf335e1ee1c"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center">
        <!-- audio 146-->
        <audio id="a9p51l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F146.mp3?alt=media&token=3d1d8319-cbf7-40fd-aa0c-843dca6a97f1"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p51l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Bet</strong
      >
    </div>
  </div>
</div>
