<div>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-3">
      <h1><span class="badge morado my-2">UNIT 2</span></h1>
      <h3 class="text-center">
        <!-- audio65 -->
        <audio id="a1p6l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>

        <button
          (click)="reproducirAudio('a1p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        RECOMMENDATIONS<br />
        VOCABULARY
      </h3>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-1.jpg?alt=media&token=9bfa4c22-696d-4a3d-bd88-3d2165356543"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">1. Buy a new pair of shoes </strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-2.jpg?alt=media&token=b3ab5e63-68ff-4204-9e7c-bcb9e2eabecf"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">2. Call the landlord</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-3.jpg?alt=media&token=c5502068-3a1a-46bd-aa1d-63e5c2114d3e"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">3. Go to the bank </strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-4.jpg?alt=media&token=0dbb1104-36c3-4a14-b7a1-1081d9f4ce99"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center"
        ><!-- audio66 -->
        <audio id="a2p6l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>

        <button
          (click)="reproducirAudio('a2p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Go to the immigration office</strong
      >
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-5.jpg?alt=media&token=fc4e3bf5-c94a-456e-91e4-2f8bf0b31bec"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">5. Go to the post office</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-6.jpg?alt=media&token=8e8855cd-9a88-4758-93c4-b4706173f1ba"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">6. Go to bed and take a nap</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-7.jpg?alt=media&token=b63c2eba-ffe1-4de5-bdc1-9db465b0114e"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">
        <!-- audio67 -->
        <audio id="a3p6l4" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F67.mp3?alt=media&token=891d7ab4-4597-4824-9159-e1effe743b11"
          />
        </audio>

        <button
          (click)="reproducirAudio('a3p6l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. See a dentist</strong
      >
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-8.jpg?alt=media&token=195791a2-01f7-4a8d-aa2f-9ffbc9d0c055"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">8. Study hard</strong>
    </div>
    <div class="col-md-3 col-6 m-1 card border info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-9.jpg?alt=media&token=ac5eb150-2538-4f76-878f-ae23c592e4c6"
        class="img-fluid rounded m-1"
        alt="img"
      />
      <strong class="text-center">9. Get married </strong>
    </div>
  </div>
</div>
