<div>
  <div class="row">
    <div class="col-md-12 rojo my-3">
      <h4 class="text-white center">REVIEW No. II</h4>
    </div>
    <div class="col-md-12">
      <h4 class="my-2">READING</h4>
      <h5 class="text-center">LATE FOR WORK</h5>

      <p class="justify">
        Victor usually gets up at 7 A.M. He does his morning exercises for
        twenty minutes, he takes a long shower, he has a big breakfast, and he
        leaves for work at 8:00. He usually drives his car to work and gets
        there at 8:30.
      </p>
      <p class="justify">
        This morning, however, he didn't get up at 7 A.M. He got up at 6:30. He
        didn't do his morning exercises for twenty minutes. He did them for only
        five minutes. He didn't take a long shower. He took a very quick shower.
        He didn't have a big breakfast. He had only a cup a coffee. He didn't
        leave for work at 8:00. He left for work at 7:00.
      </p>
      <p class="justify">
        Victor didn't drive his car to work this morning. He drove it to the
        repair shop. Then he walked a mile to the train station, and he waited
        for the train for fifteen minutes. After he got off the train, he walked
        half a mile to his office.
      </p>
      <p class="justify">
        Even though Victor got up early and rushed out of the house this
        morning, he didn't get to work on time. He got there forty-five minutes
        late. When his supervisor saw him, she got angry and she shouted at him
        for five minutes. Poor Victor! He really tried to get to work on time
        this morning.
      </p>
    </div>
    <div class="col-md-12 my-2">
      <hr />
      <h6 class="m-1">READING CHECK-UP</h6>
      <h4 class="text-center">WHAT'S THE ANSWER?</h4>
    </div>
    <div class="col-md-4 mt-1">
      <p>1. Did Victor get up at 7 A.M. today?</p>
      <textarea
        class="form-control m-1"
        name="ans1page37"
        [(ngModel)]="libro.ans1Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="col-md-4 mt-1">
      <p>2. What time did he get up?</p>
      <textarea
        class="form-control m-1"
        name="ans2page37"
        [(ngModel)]="libro.ans2Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="col-md-4 mt-1">
      <p>2. What time did he get up?</p>
      <textarea
        class="form-control m-1"
        name="ans3page37"
        [(ngModel)]="libro.ans3Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="col-md-4 mt-1">
      <p>4. What time did he leave for work?</p>
      <textarea
        class="form-control m-1"
        name="ans4page37"
        [(ngModel)]="libro.ans4Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="col-md-4 mt-1">
      <p>5. Did he drive his car to the repair shop today?</p>
      <textarea
        class="form-control m-1"
        name="ans5page37"
        [(ngModel)]="libro.ans5Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="col-md-4 mt-1">
      <p>6. How did he get to the train station?</p>
      <textarea
        class="form-control m-1"
        name="ans6page37"
        [(ngModel)]="libro.ans6Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="col-md-4 mt-1">
      <p>7. Did Victor get to work on time?</p>
      <textarea
        class="form-control m-1"
        name="ans7page37"
        [(ngModel)]="libro.ans7Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="col-md-4 mt-1">
      <p>8. Did his supervisor get angry at him?</p>
      <textarea
        class="form-control m-1"
        name="ans8page37"
        [(ngModel)]="libro.ans8Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="col-md-4 mt-1">
      <p>9. What did she do?</p>
      <textarea
        class="form-control m-1"
        name="ans9page37"
        [(ngModel)]="libro.ans9Page37"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="4"
      ></textarea>
    </div>
  </div>
</div>
