<div>
    <div class="row">
        <div class="col-md-8">
            <h3>GRAMMAR FLASH:</h3>
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <ul>1.
                <li><b>A. </b> Is he going to pay bills?</li>
                <li><b>B. </b> Yes, he is. </li>
                <li><b>A. </b> Is he going to climb a mountain?</li>
                <li><b>B. </b> No, he isn’t. </li>
                <li><b>A. </b> What’s he going to do?</li>
                <li><b>B. </b> He’s going to pay bills</li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <ul>2.
                <li><b>A. </b> <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> Yes, <input type="text" class="mb-1" name="" id=""></li>
                <li><b>A. </b> <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> No, <input type="text" class="mb-1" name="" id=""></li>
                <li><b>A. </b> What <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> <input type="text" class="mb-1" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <ul>3.
                <li><b>A. </b> <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> Yes, <input type="text" class="mb-1" name="" id=""></li>
                <li><b>A. </b> <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> No, <input type="text" class="mb-1" name="" id=""></li>
                <li><b>A. </b> What <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> <input type="text" class="mb-1" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <ul>4.
                <li><b>A. </b> <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> Yes, <input type="text" class="mb-1" name="" id=""></li>
                <li><b>A. </b> <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> No, <input type="text" class="mb-1" name="" id=""></li>
                <li><b>A. </b> What <input type="text" class="mb-1" name="" id=""> ?</li>
                <li><b>B. </b> <input type="text" class="mb-1" name="" id=""></li>
            </ul>
        </div>
    </div>
</div>