<div>
  <div class="row">
    <div class="col-md-8">
      <h4 class="my-2 text-center">LET'S TALK</h4>
      <ul>
        <li><b>A.</b> What did you do last night?</li>
        <li><b>B.</b> I went to the concert.</li>
        <li><b>A.</b> Did you like it?</li>
        <li><b>B.</b> Yes, I did. I loved it.</li>
      </ul>
    </div>
    <div class="col-md-4 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-16.jpg?alt=media&token=f92f28d7-3439-4be6-98f9-8dbb4b6b7006"
        class="img-fluid m-1 w-75"
        alt="img"
      />
    </div>
    <div class="col-md-4 mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-13.webp?alt=media&token=aa9795d9-10c2-4c6a-9165-ede0e4cf81d4"
          class="img-fluid m-1 w-75"
          alt="img"
        />
      </div>
      <input
        type="text"
        class="form-control m-1"
        disabled
        value="1. What time did you leave for work?"
        id=""
      />
      <input
        type="text"
        class="form-control m-1"
        name="ans1page36"
        [(ngModel)]="libro.ans1Page36"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
    <div class="col-md-4 mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-17.webp?alt=media&token=1187b497-9a56-4edd-a78c-53c48d53d9c2"
          class="img-fluid m-1 w-75"
          alt="img"
        />
      </div>
      <input
        type="text"
        class="form-control m-1"
        disabled
        value="2. What did she write?"
        id=""
      />
      <input
        type="text"
        class="form-control m-1"
        name="ans2page36"
        [(ngModel)]="libro.ans2Page36"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
    <div class="col-md-4 mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-18.webp?alt=media&token=caeed52d-0fb4-4c6d-bbe1-7b7534d8676c"
          class="img-fluid m-1 w-75"
          alt="img"
        />
      </div>
      <input
        type="text"
        class="form-control m-1"
        disabled
        value="3. Where did you sit?"
        id=""
      />
      <input
        type="text"
        class="form-control m-1"
        name="ans3page36"
        [(ngModel)]="libro.ans3Page36"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
    <div class="col-md-4 mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-19.webp?alt=media&token=35a9f8c5-2a66-4765-99c9-50412356b54b"
          class="img-fluid m-1 w-75"
          alt="img"
        />
      </div>
      <input
        type="text"
        class="form-control m-1"
        disabled
        value="4. What did you go to back for?"
        id=""
      />
      <input
        type="text"
        class="form-control m-1"
        name="ans4page36"
        [(ngModel)]="libro.ans4Page36"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
    <div class="col-md-4 mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-11.webp?alt=media&token=c25ca3f9-e1c3-4ebe-b7a6-8a6313c08500"
          class="img-fluid m-1 w-75"
          alt="img"
        />
      </div>
      <input
        type="text"
        class="form-control m-1"
        disabled
        value="5. What time did you go to sleep?"
        id=""
      />
      <input
        type="text"
        class="form-control m-1"
        name="ans5page36"
        [(ngModel)]="libro.ans5Page36"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
    <div class="col-md-4 mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F6-20.webp?alt=media&token=c6d99e9d-0750-4095-90ab-765db0258abf"
          class="img-fluid m-1 w-75"
          alt="img"
        />
      </div>
      <input
        type="text"
        class="form-control m-1"
        disabled
        value="6. Where did she sing?"
        id=""
      />
      <input
        type="text"
        class="form-control m-1"
        name="ans6page36"
        [(ngModel)]="libro.ans6Page36"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
      />
    </div>
  </div>
</div>
