<div>
    <div class="row">
        <div class="col-md-6">
            <ol>
                <strong>A. Complete the sentences below by changing the words in brackets into subject pronouns.</strong>
                <li class="my-1">(Paul) <input type="text" placeholder="Answer" name="" id=""> had bacon and eggs for breakfast.</li>
                <li class="my-1">(Kim, James and Peter) <input type="text" placeholder="Answer" name="" id=""> study at the local university.</li>
                <li class="my-1">(Mia) <input type="text" placeholder="Answer" name="" id=""> studies English every day.</li>
                <li class="my-1">(The mobile phone) <input type="text" placeholder="Answer" name="" id=""> is in my bag.</li>
                <li class="my-1">(The students) <input type="text" placeholder="Answer" name="" id=""> always arrive early for class.</li>
                <li class="my-1">(Anna and I) <input type="text" placeholder="Answer" name="" id=""> are best friends.</li>
                <li class="my-1">(Darren) <input type="text" placeholder="Answer" name="" id=""> lives in London.</li>
                <li class="my-1">(The plates) <input type="text" placeholder="Answer" name="" id=""> are on the table.</li>
                <li class="my-1">(My girlfriend and I) <input type="text" placeholder="Answer" name="" id=""> like going to the beach.</li>
                <li class="my-1">(Emma) <input type="text" placeholder="Answer" name="" id=""> works as a receptionist.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol>
                <strong>B. Now, complete the sentences by changing the words in brackets into object pronouns.</strong>
                <li>I enjoyed listening to <input type="text" placeholder="Answer" name="" id="" class="my-1"> (the song).</li>
                <li>I read <input type="text" placeholder="Answer" name="" id="" class="my-1"> (the reports) this morning.</li>
                <li>Please give <input type="text" placeholder="Answer" name="" id="" class="my-1"> (Jane) the keys.</li>
                <li>Matt asked <input type="text" placeholder="Answer" name="" id="" class="my-1"> (I) to give you a call.</li>
                <li>I sent <input type="text" placeholder="Answer" name="" id="" class="my-1"> (the email) this morning.</li>
                <li>The teacher gave <input type="text" placeholder="Answer" name="" id="" class="my-1"> (the students) the answers.</li>
                <li>The tour guide took <input type="text" placeholder="Answer" name="" id="" class="my-1"> (my friend and I) to the museum.</li>
                <li>Terry visited <input type="text" placeholder="Answer" name="" id="" class="my-1"> (Jonathan) last week.</li>
                <li>She drank <input type="text" placeholder="Answer" name="" id="" class="my-1"> (the cofee) quickly and ran out the door.</li>
                <li>I saw <input type="text" placeholder="Answer" name="" id="" class="my-1"> (Mark and Rebecca) at lunchtime.</li>
            </ol>
        </div>
        <div class="col-md-12">
            <h5>WRITING AND SPEAKING ACTIVITY</h5>
            <strong>C. Write sentences about five classmates using subject and object pronouns. Do not write their names. Read your sentences to the class and have them guess who the sentences are about</strong>
            <ol>
                <li><input type="text" class="form-control mt-1" placeholder="Answer" name="" id=""></li>
                <li><input type="text" class="form-control mt-1" placeholder="Answer" name="" id=""></li>
                <li><input type="text" class="form-control mt-1" placeholder="Answer" name="" id=""></li>
                <li><input type="text" class="form-control mt-1" placeholder="Answer" name="" id=""></li>
                <li><input type="text" class="form-control mt-1" placeholder="Answer" name="" id=""></li>
            </ol>




        </div>
    </div>
</div>