<div>
    <div class="row">
        <div class="col-md-6">
            <ol>
                <strong>A. Complete the sentences below by changing the words in brackets into subject pronouns.</strong>
                <li class="my-1">(Paul) <input type="text" class="form-control input" placeholder="Answer" name="ans1page16" [(ngModel)]="libro.ans1Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> had bacon and eggs for breakfast.</li>
                <li class="my-1">(Kim, James and Peter) <input type="text" class="form-control input" placeholder="Answer" name="ans2page16" [(ngModel)]="libro.ans2Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> study at the local university.</li>
                <li class="my-1">(Mia) <input type="text" class="form-control input" placeholder="Answer" name="ans3page16" [(ngModel)]="libro.ans3Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> studies English every day.</li>
                <li class="my-1">(The mobile phone) <input type="text" class="form-control input" placeholder="Answer" name="ans4page16" [(ngModel)]="libro.ans4Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> is in my bag.</li>
                <li class="my-1">(The students) <input type="text" class="form-control input" placeholder="Answer" name="ans5page16" [(ngModel)]="libro.ans5Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> always arrive early for class.</li>
                <li class="my-1">(Anna and I) <input type="text" class="form-control input" placeholder="Answer" name="ans6page16" [(ngModel)]="libro.ans6Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> are best friends.</li>
                <li class="my-1">(Darren) <input type="text" class="form-control input" placeholder="Answer" name="ans7page16" [(ngModel)]="libro.ans7Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> lives in London.</li>
                <li class="my-1">(The plates) <input type="text" class="form-control input" placeholder="Answer" name="ans8page16" [(ngModel)]="libro.ans8Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> are on the table.</li>
                <li class="my-1">(My girlfriend and I) <input type="text" class="form-control input" placeholder="Answer" name="ans9page16" [(ngModel)]="libro.ans9Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> like going to the beach.</li>
                <li class="my-1">(Emma) <input type="text" class="form-control input" placeholder="Answer" name="ans10page16" [(ngModel)]="libro.ans10Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> works as a receptionist.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol>
                <strong>B. Now, complete the sentences by changing the words in brackets into object pronouns.</strong>
                <li>I enjoyed listening to <input type="text" placeholder="Answer" name="ans11page16" [(ngModel)]="libro.ans11Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (the song).</li>
                <li>I read <input type="text" placeholder="Answer" name="ans12page16" [(ngModel)]="libro.ans12Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (the reports) this morning.</li>
                <li>Please give <input type="text" placeholder="Answer" name="ans13page16" [(ngModel)]="libro.ans13Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (Jane) the keys.</li>
                <li>Matt asked <input type="text" placeholder="Answer" name="ans14page16" [(ngModel)]="libro.ans14Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (I) to give you a call.</li>
                <li>I sent <input type="text" placeholder="Answer" name="ans15page16" [(ngModel)]="libro.ans15Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (the email) this morning.</li>
                <li>The teacher gave <input type="text" placeholder="Answer" name="ans16page16" [(ngModel)]="libro.ans16Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (the students) the answers.</li>
                <li>The tour guide took <input type="text" placeholder="Answer" name="ans17page16" [(ngModel)]="libro.ans17Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (my friend and I) to the museum.</li>
                <li>Terry visited <input type="text" placeholder="Answer" name="ans18page16" [(ngModel)]="libro.ans18Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (Jonathan) last week.</li>
                <li>She drank <input type="text" placeholder="Answer" name="ans19page16" [(ngModel)]="libro.ans19Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (the cofee) quickly and ran out the door.</li>
                <li>I saw <input type="text" placeholder="Answer" name="ans20page16" [(ngModel)]="libro.ans20Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="my-1 form-control input"> (Mark and Rebecca) at lunchtime.</li>
            </ol>
        </div>
        <div class="col-md-12">
            <h5>WRITING AND SPEAKING ACTIVITY</h5>
            <strong>C. Write sentences about five classmates using subject and object pronouns. Do not write their names. Read your sentences to the class and have them guess who the sentences are about</strong>
            <ol>
                <li><input type="text" class="form-control input" class="form-control mt-1" placeholder="Answer" name="ans21page16" [(ngModel)]="libro.ans21Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><input type="text" class="form-control input" class="form-control mt-1" placeholder="Answer" name="ans22page16" [(ngModel)]="libro.ans22Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><input type="text" class="form-control input" class="form-control mt-1" placeholder="Answer" name="ans23page16" [(ngModel)]="libro.ans23Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><input type="text" class="form-control input" class="form-control mt-1" placeholder="Answer" name="ans24page16" [(ngModel)]="libro.ans24Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><input type="text" class="form-control input" class="form-control mt-1" placeholder="Answer" name="ans25page16" [(ngModel)]="libro.ans25Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ol>




        </div>
    </div>
</div>