<div>
  <div class="row">
    <div class="col-md-4 text-center my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-43.PNG?alt=media&token=66671c1c-796a-4e1f-9e6f-a80666959891"
        class="img-fluid"
        alt="img"
      />
      <p class="justify">
        <b>4. </b> Before Helen got her new sofa, she
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans1page41"
          [(ngModel)]="libro.ans1Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        uncomfortable. Now
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans2page41"
          [(ngModel)]="libro.ans2Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        very
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans3age41"
          [(ngModel)]="libro.ans3age41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </p>
    </div>
    <div class="col-md-4 text-center my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-44.PNG?alt=media&token=e76ed9c5-3943-4316-8c0c-76dd1829ef9c"
        class="img-fluid"
        alt="img"
      />
      <p class="justify">
        <b>5. </b> Before you drank A-1 Skim Milk, you
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans4page41"
          [(ngModel)]="libro.ans4Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        heavy. Now
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans5page41"
          [(ngModel)]="libro.ans5Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans6page41"
          [(ngModel)]="libro.ans6Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </p>
    </div>
    <div class="col-md-4 text-center my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-45.PNG?alt=media&token=bf7279af-9df2-45a8-acdb-1e759b7de191"
        class="img-fluid"
        alt="img"
      />
      <p class="justify">
        <b>6. </b> Before Charlie used A-1 Car Wax, his car
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans7page41"
          [(ngModel)]="libro.ans7Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        dull. Now
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans8page41"
          [(ngModel)]="libro.ans8Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans9page41"
          [(ngModel)]="libro.ans9Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </p>
    </div>
    <div class="col-md-4 text-center my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-46.PNG?alt=media&token=783cd826-9215-499a-96d7-5dbb711c44dd"
        class="img-fluid"
        alt="img"
      />
      <p class="justify">
        <b>7. </b> Before these children used A-1 soap, they
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans10page41"
          [(ngModel)]="libro.ans10Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        dirty. Now
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans11page41"
          [(ngModel)]="libro.ans11Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans12page41"
          [(ngModel)]="libro.ans12Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </p>
    </div>
    <div class="col-md-4 text-center my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-47.PNG?alt=media&token=5e7e1190-49ba-408a-8cde-1f040b260661"
        class="img-fluid"
        alt="img"
      />
      <p class="justify">
        <b>8. </b> When I
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans13page41"
          [(ngModel)]="libro.ans13Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        young, I
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans14page41"
          [(ngModel)]="libro.ans14Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        very short. Now
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans15page41"
          [(ngModel)]="libro.ans15Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans16page41"
          [(ngModel)]="libro.ans16Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </p>
    </div>
    <div class="col-md-4 text-center my-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-48.PNG?alt=media&token=886b81db-46ad-472f-894a-3afb2cdbe5b4"
        class="img-fluid"
        alt="img"
      />
      <p class="justify">
        <b>9. </b> Before we bought A-1 Bird Food, our birds
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans17page41"
          [(ngModel)]="libro.ans17Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        very tiny. Now
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans18page41"
          [(ngModel)]="libro.ans18Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control m-1 input"
          name="ans19page41"
          [(ngModel)]="libro.ans19Page41"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </p>
    </div>
  </div>
</div>
