<div class="container">
    <div class="row">

        <div class="col-md-2 col-6 my-2 ">

            <h4 class="center"><span class="center badge morado"> Book 1 - A1 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook1.png?alt=media&token=7c124514-9115-44b1-93f9-3aca32e9482d" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge morado"> Book 2 - A1 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook2.png?alt=media&token=e4e208c6-d8e7-419e-9b63-fb0da8cc3dab" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge morado"> Book 3 - A1 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook3.png?alt=media&token=4e490d99-0d87-4a2a-b78c-fefd1b6994f9" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge morado"> Book A1 - A1 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67" class="img-fluid my-1" alt="">
        </div>

        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge azul"> Book 1 - A2 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge azul"> Book 2 - A2 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge azul"> Book 3 - A2 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge azul"> Book A2 - A2 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67" class="img-fluid my-1" alt="">
        </div>

        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge verde"> Book 1 - B1 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook1.png?alt=media&token=7c124514-9115-44b1-93f9-3aca32e9482d" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge verde"> Book 2 - B1 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook2.png?alt=media&token=e4e208c6-d8e7-419e-9b63-fb0da8cc3dab" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge verde"> Book 3 - B1 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook3.png?alt=media&token=4e490d99-0d87-4a2a-b78c-fefd1b6994f9" class="img-fluid my-1" alt="">
        </div>
        <div class="col-md-2 col-6 my-2 ">
            <h4 class="center"><span class="center badge verde"> Book B1 - B1 </span></h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67" class="img-fluid my-1" alt="">
        </div>
    </div>
</div>