<div class="container">
  <div class="row">
    <ng-container *ngFor="let libro of listadoLibros">
      <div
        class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center d-flex text-center"
      >
        <div>
          <a
            class="nav-link"
            [routerLink]="[!libro.libro ? '../listado' : libro.ruta]"
          >
            <h5 class="text-black">
              {{ libro.titulo }}
            </h5>
          </a>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <button
              type="button"
              class="btn btn-outline-morado"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Quices"
            >
              <i class="fas fa-spell-check"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-morado"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              id="tooltip"
              title="Estadisticas"
            >
              <i class="fas fa-chart-bar"></i>
            </button>
          </div>
          <a
            class="nav-link"
            [routerLink]="[!libro.libro ? '../listado' : libro.ruta]"
          >
            <img
              [src]="libro.imagen"
              class="img-fluid my-1"
              [ngClass]="{ 'opacidad-3': !libro.libro }"
              alt=""
            />
          </a>
        </div>
      </div>
    </ng-container>
    <!--<div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.book3 ? '../listado' : '/libro3']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.book3 }">
          Book 3 - A1
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook3.png?alt=media&token=4e490d99-0d87-4a2a-b78c-fefd1b6994f9"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.book3 }"
        />
      </a>
    </div>-->
    <!--<div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.bookA1 ? '../listado' : '/libroA1']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.bookA1 }">
          Book A1
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook1.png?alt=media&token=7c124514-9115-44b1-93f9-3aca32e9482d"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.bookA1 }"
        />
      </a>
    </div>-->

    <!-- <div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.book4 ? '../listado' : '/libro4']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.book4 }">
          Book 4 - A2
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.book4 }"
        />
      </a>
    </div> -->
    <!-- <div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.book5 ? '../listado' : '/libro5']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.book5 }">
          Book 5 - A2
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Flibro%205.png?alt=media&token=c37ae98c-1463-4515-8b32-c4c79c803dd2"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.book5 }"
        />
      </a>
    </div> -->
    <!-- <div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.book6 ? '../listado' : '/libro6']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.book6 }">
          Book 6 - A2
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Flibro%206.png?alt=media&token=3bef1162-88b5-4a5f-97d9-3631d00e97cb"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.book6 }"
        />
      </a>
    </div> -->
    <!-- <div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.bookA2 ? '../listado' : '/libroA2']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.bookA2 }">
          Book A2
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.bookA2 }"
        />
      </a>
    </div> -->

    <!-- <div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.book7 ? '../listado' : '/libro7']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.book7 }">
          Book 7
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook1.png?alt=media&token=7c124514-9115-44b1-93f9-3aca32e9482d"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.book7 }"
        />
      </a>
    </div> -->
    <!-- <div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.book8 ? '../listado' : '/libro8']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.book8 }">
          Book 8
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook2.png?alt=media&token=e4e208c6-d8e7-419e-9b63-fb0da8cc3dab"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.book8 }"
        />
      </a>
    </div> -->
    <!-- <div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.book9 ? '../listado' : '/libro9']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.book9 }">
          Book 9
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook3.png?alt=media&token=4e490d99-0d87-4a2a-b78c-fefd1b6994f9"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.book9 }"
        />
      </a>
    </div> -->
    <!-- <div class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center">
      <a
        class="nav-link"
        [routerLink]="[!libros?.bookB1 ? '../listado' : '/libroB1']"
      >
        <h5 class="text-black" [ngClass]="{ 'opacidad-3': !libros?.bookB1 }">
          Book B1
        </h5>

        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Portadas-Libros%2Fbook4.png?alt=media&token=c5ae39c7-6b47-4388-98ce-1b0840006c67"
          class="img-fluid my-1"
          alt=""
          [ngClass]="{ 'opacidad-3': !libros?.bookB1 }"
        />
      </a>
    </div> -->
  </div>
</div>
