<div class="container">
  <div class="row">
    <ng-container *ngFor="let libro of listadoLibros">
      <div
        class="col-lg-2 col-md-3 col-6 my-2 d-flex text-center d-flex text-center"
      >
        <div>
          <a
            class="nav-link"
            [routerLink]="[!libro.libro ? '../listado' : libro.ruta]"
          >
            <h5 class="text-black">
              {{ libro.titulo }}
            </h5>
          </a>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <button
              type="button"
              class="btn btn-outline-morado"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Quices"
              [routerLink]="[libro.rutaQuices]"
            >
              <i class="fas fa-spell-check"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-morado"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              id="tooltip"
              title="Estadisticas"
            >
              <i class="fas fa-chart-bar"></i>
            </button>
          </div>
          <a
            class="nav-link"
            [routerLink]="[!libro.libro ? '../listado' : libro.ruta]"
          >
            <img
              [src]="libro.imagen"
              class="img-fluid my-1"
              [ngClass]="{ 'opacidad-3': !libro.libro }"
              alt=""
            />
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
