<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="my-2">GRAMMAR FLASH</h6>
      <h4 class="text-center">
        SIMPLE PAST NEGATIVE, INTERROGATIVE, AFFIRMATIVE
      </h4>
    </div>
    <div class="col-md-2 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-10.webp?alt=media&token=cdb3d253-5370-4814-9abb-10dfe7a19d66"
        class="img-fluid m-1"
        alt="img"
      />
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <ul>
        <li>
          <b>Kate:</b> Did you go on a field trip last with your classmates?
        </li>
        <li><b>Peter:</b> No, I didn't go.</li>
        <li><b>Kate:</b> Why didn't you go on the field trip?</li>
        <li><b>Peter:</b> 'Cause I didn’t have enough money.</li>
      </ul>
    </div>
    <div class="col-md-2 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-11.png?alt=media&token=15f93685-0f23-4b1f-9999-5b21717af826"
        class="img-fluid m-1"
        alt="img"
      />
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <ul>
        <li><b>Peter:</b> Did you go to the movies?</li>
        <li><b>Kate:</b> yes , I did.</li>
        <li><b>Peter:</b> What movie did you see?</li>
        <li><b>Kate:</b> I saw an action movie. It was great.</li>
      </ul>
    </div>
    <div class="col-md-12">
      <hr class="my-2" />
      <h4 class="my-2">DRILLS</h4>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Teacher</th>
            <th>Students</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>She played yesterday.” Question”</td>
            <td>
              <input
                type="text"
                class="form-control"
                value=" Did she play yesterday?"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(Negative)</td>
            <td>
              <input
                type="text"
                class="form-control"
                value=" No, she didn't play yesterday"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(Affirmative)</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans1page28"
                [(ngModel)]="libro.ans1Page28"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
                value="Yes, ..."
                placeholder="Yes, ..."
              />
            </td>
          </tr>
          <tr>
            <td>They answered. “Question”</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page28"
                [(ngModel)]="libro.ans2Page28"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(Negative)</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans3page28"
                [(ngModel)]="libro.ans3Page28"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(Affirmative)</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans4page28"
                [(ngModel)]="libro.ans4Page28"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>We kissed yesterday. “Question”</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans5page28"
                [(ngModel)]="libro.ans5Page28"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(Negative)</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page28"
                [(ngModel)]="libro.ans6Page28"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(Affirmative)</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans7page28"
                [(ngModel)]="libro.ans7Page28"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 my-2">
      <strong
        >Drill these questions with your classmates by looking at the
        pictures.</strong
      >
    </div>
    <div class="col-md-6 col-12">
      <strong class="text-center"> NO, I DIDN'T </strong>
      <ul>
        <li>A.Did you go to dance last night?</li>
        <li>B.No, I didn’t.</li>
        <li>A.What did you do?</li>
        <li>B.I went to the movies.</li>
      </ul>
    </div>
    <div class="col-md-6 col-12">
      <strong class="text-center"> YES, I DID. </strong>
      <ul>
        <li><b> A.</b> Did you kiss Maria?</li>
        <li><b> B.</b> Yes, I did.</li>
        <li><b> A.</b> Where did you kiss her?</li>
        <li><b> B.</b> I kissed her in the cheek.</li>
      </ul>
    </div>
  </div>
</div>
