<div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="center my-3">Exercises</h3>
            <table class="table table-striped  table-responsive">
                <thead>
                    <tr>
                        <th>Teacher:</th>
                        <th colspan="2">Student:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> What is it?</td>
                        <td>ANSWER</td>
                        <td><input type="text" name="" id=""> book</td>
                    </tr>
                    <tr>
                        <td>What are they?</td>
                        <td>ANSWER</td>
                        <td><input type="text" name="" id=""> books</td>
                    </tr>
                    <tr>
                        <td>It’s a pen</td>
                        <td>QUESTION</td>
                        <td><input type="text" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>They are pens</td>
                        <td>QUESTION</td>
                        <td><input type="text" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>It’s a chair</td>
                        <td>PLURAL</td>
                        <td>They are chairs </td>
                    </tr>
                    <tr>
                        <td>They are maps</td>
                        <td>SINGULAR</td>
                        <td>It’s a map</td>
                    </tr>
                    <tr>
                        <td>It’s a window</td>
                        <td>PLURAL</td>
                        <td><input type="text" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>They are book shelves</td>
                        <td>SINGULAR</td>
                        <td><input type="text" name="" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-4 my-1">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <strong>A. </strong>What is it?
                    <input type="text" class="form-control my-1" name="" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <strong>A. </strong>What are they?
                    <input type="text" class="form-control my-1" name="" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">

                    <input type="text" class="form-control my-1" name="" id="">
                    <strong>B. </strong> It’s a notebook
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <strong>A. </strong> What are they?
                    <input type="text" class="form-control my-1" name="" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <strong>A. </strong>What is it?
                    <input type="text" class="form-control my-1" name="" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="" id="">
                    <input type="text" class="form-control my-1" name="" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="" id="">
                    <input type="text" class="form-control my-1" name="" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="" id="">
                    <input type="text" class="form-control my-1" name="" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="" id="">
                    <input type="text" class="form-control my-1" name="" id="">
                </div>
            </div>
        </div>
    </div>
</div>