<div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="center my-3">Exercises</h3>
            <table class="table table-striped  table-responsive">
                <thead>
                    <tr>
                        <th>Teacher:</th>
                        <th colspan="2">Student:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> What is it?</td>
                        <td>ANSWER</td>
                        <td><input type="text" name="ans1Page9" [(ngModel)]="libro.ans1Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> book</td>
                    </tr>
                    <tr>
                        <td>What are they?</td>
                        <td>ANSWER</td>
                        <td><input type="text" name="ans2Page9" [(ngModel)]="libro.ans2Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> books</td>
                    </tr>
                    <tr>
                        <td>It’s a pen</td>
                        <td>QUESTION</td>
                        <td><input type="text" name="ans3Page9" [(ngModel)]="libro.ans3Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>They are pens</td>
                        <td>QUESTION</td>
                        <td><input type="text" name="ans4Page9" [(ngModel)]="libro.ans4Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>It’s a chair</td>
                        <td>PLURAL</td>
                        <td>They are chairs </td>
                    </tr>
                    <tr>
                        <td>They are maps</td>
                        <td>SINGULAR</td>
                        <td>It’s a map</td>
                    </tr>
                    <tr>
                        <td>It’s a window</td>
                        <td>PLURAL</td>
                        <td><input type="text" name="ans5Page9" [(ngModel)]="libro.ans5Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>They are book shelves</td>
                        <td>SINGULAR</td>
                        <td><input type="text" name="ans6Page9" [(ngModel)]="libro.ans6Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-4 my-1">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <strong>A. </strong>What is it?
                    <input type="text" class="form-control my-1" name="ans7Page9" [(ngModel)]="libro.ans7Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <strong>A. </strong>What are they?
                    <input type="text" class="form-control my-1" name="ans8Page9" [(ngModel)]="libro.ans8Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">

                    <input type="text" class="form-control my-1" name="ans9Page9" [(ngModel)]="libro.ans9Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <strong>B. </strong> It’s a notebook
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <strong>A. </strong> What are they?
                    <input type="text" class="form-control my-1" name="ans10Page9" [(ngModel)]="libro.ans10Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="ans11Page9" [(ngModel)]="libro.ans11Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" name="ans12Page9" [(ngModel)]="libro.ans12Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="ans13Page9" [(ngModel)]="libro.ans13Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" name="ans14Page9" [(ngModel)]="libro.ans14Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="ans15Page9" [(ngModel)]="libro.ans15Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" name="ans16Page9" [(ngModel)]="libro.ans16Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="ans17Page9" [(ngModel)]="libro.ans17Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" name="ans18Page9" [(ngModel)]="libro.ans18Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <input type="text" class="form-control my-1" name="ans19Page9" [(ngModel)]="libro.ans19Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" name="ans20Page9" [(ngModel)]="libro.ans20Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
            </div>
        </div>
    </div>
</div>