<div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="center my-3">Exercises</h3>
            <table class="table table-striped  table-responsive">
                <thead>
                    <tr>
                        <th>Teacher:</th>
                        <th colspan="2">Student:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> What is it?</td>
                        <td>ANSWER</td>
                        <td><input type="text" size=100 style="width : 100px; height : 30px" class="form-control input" name="ans1Page9" [(ngModel)]="libro.ans1Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> book</td>
                    </tr>
                    <tr>
                        <td>What are they?</td>
                        <td>ANSWER</td>
                        <td><input type="text" size=100 style="width : 100px; height : 30px" class="form-control input" name="ans2Page9" [(ngModel)]="libro.ans2Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> books</td>
                    </tr>
                    <tr>
                        <td>It’s a pen</td>
                        <td>QUESTION</td>
                        <td><input type="text" class="form-control input" name="ans3Page9" [(ngModel)]="libro.ans3Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>They are pens</td>
                        <td>QUESTION</td>
                        <td><input type="text" class="form-control input" name="ans4Page9" [(ngModel)]="libro.ans4Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>It’s a chair</td>
                        <td>PLURAL</td>
                        <td>They are chairs </td>
                    </tr>
                    <tr>
                        <td>They are maps</td>
                        <td>SINGULAR</td>
                        <td>It’s a map</td>
                    </tr>
                    <tr>
                        <td>It’s a window</td>
                        <td>PLURAL</td>
                        <td><input type="text" class="form-control input" name="ans5Page9" [(ngModel)]="libro.ans5Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>They are book shelves</td>
                        <td>SINGULAR</td>
                        <td><input type="text" class="form-control input" name="ans6Page9" [(ngModel)]="libro.ans6Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-4 my-1">
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F19.jpg?alt=media&token=85043562-2629-4fe9-8c6f-3dc6901f1713" class="img-fluid rounded" alt="img">
                    <strong>A. </strong>What is it?
                    <input type="text" class="form-control" class="form-control my-1" name="ans7Page9" [(ngModel)]="libro.ans7Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F34.jpg?alt=media&token=cd38fc0e-7eec-4af2-a030-073a4d9e7f66" class="img-fluid rounded" alt="img">
                    <strong>A. </strong>What are they?
                    <input type="text" class="form-control" class="form-control my-1" name="ans8Page9" [(ngModel)]="libro.ans8Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F30.jpg?alt=media&token=946fcd39-5810-4a2e-8510-2af600b869da" class="img-fluid rounded" alt="img">

                    <input type="text" class="form-control" class="form-control my-1" name="ans9Page9" [(ngModel)]="libro.ans9Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <strong>B. </strong> It’s a notebook
                </div>
                <div class="col-md-4" my-1>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F31.png?alt=media&token=da7cad65-5bb6-4589-b0d2-5a587943e1ad" class="img-fluid rounded" alt="img">
                    <strong>A. </strong> What are they?
                    <input type="text" class="form-control" class="form-control my-1" name="ans10Page9" [(ngModel)]="libro.ans10Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F17.jpg?alt=media&token=b183873c-237b-44f3-80b7-e18068d2c544" class="img-fluid rounded" alt="img">
                    <input type="text" class="form-control" class="form-control my-1" name="ans11Page9" [(ngModel)]="libro.ans11Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control" class="form-control my-1" name="ans12Page9" [(ngModel)]="libro.ans12Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F27.jpg?alt=media&token=cc3b36d1-0f36-4051-b40b-9280d782800e" class="img-fluid rounded" alt="img">
                    <input type="text" class="form-control" class="form-control my-1" name="ans13Page9" [(ngModel)]="libro.ans13Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control" class="form-control my-1" name="ans14Page9" [(ngModel)]="libro.ans14Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F26.png?alt=media&token=d24d12de-07c0-45f3-ac40-6d71f7d29f04" class="img-fluid rounded" alt="img">
                    <input type="text" class="form-control" class="form-control my-1" name="ans15Page9" [(ngModel)]="libro.ans15Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control" class="form-control my-1" name="ans16Page9" [(ngModel)]="libro.ans16Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F16.jpg?alt=media&token=f7d7b653-488f-4013-b709-ae89cd6049d2" class="img-fluid rounded" alt="img">
                    <input type="text" class="form-control" class="form-control my-1" name="ans17Page9" [(ngModel)]="libro.ans17Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control" class="form-control my-1" name="ans18Page9" [(ngModel)]="libro.ans18Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
                <div class="col-md-4" my-1>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F23.jpg?alt=media&token=b37ad6a8-8711-41cc-97b5-79592c741a9e" class="img-fluid rounded" alt="img">
                    <input type="text" class="form-control" class="form-control my-1" name="ans19Page9" [(ngModel)]="libro.ans19Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control" class="form-control my-1" name="ans20Page9" [(ngModel)]="libro.ans20Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </div>
            </div>
        </div>
    </div>
</div>