<div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <h3 class="center">ORAL PRACTICE</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>FIND SOMEONE WHO ...</th>
                        <th>NAME</th>
                        <th>MORE INFORMATION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>... gets up at seven o'clock in the morning.</td>
                        <td><input type="text" class="form-control" name="ans1page28" [(ngModel)]="libro.ans1Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans2page28" [(ngModel)]="libro.ans2Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... doesn't have a pet.</td>
                        <td><input type="text" class="form-control" name="ans3page28" [(ngModel)]="libro.ans3Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans4page28" [(ngModel)]="libro.ans4Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... writes emails every day.</td>
                        <td><input type="text" class="form-control" name="ans5page28" [(ngModel)]="libro.ans5Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans6page28" [(ngModel)]="libro.ans6Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... visits friends at the weekend.</td>
                        <td><input type="text" class="form-control" name="ans7page28" [(ngModel)]="libro.ans7Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans8page28" [(ngModel)]="libro.ans8Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... likes to go jogging.</td>
                        <td><input type="text" class="form-control" name="ans9page28" [(ngModel)]="libro.ans9Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans10page28" [(ngModel)]="libro.ans10Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... walks to class every day.</td>
                        <td><input type="text" class="form-control" name="ans11page28" [(ngModel)]="libro.ans11Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans12page28" [(ngModel)]="libro.ans12Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... doesn't like playing computer games....<br> doesn't like playing computer games.</td>
                        <td><input type="text" class="form-control" name="ans13page28" [(ngModel)]="libro.ans13Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans14page28" [(ngModel)]="libro.ans14Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... speaks English every day.</td>
                        <td><input type="text" class="form-control" name="ans15page28" [(ngModel)]="libro.ans15Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans16page28" [(ngModel)]="libro.ans16Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... listens to music in the morning.</td>
                        <td><input type="text" class="form-control" name="ans17page28" [(ngModel)]="libro.ans17Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans18page28" [(ngModel)]="libro.ans18Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... doesn't enjoy flying.</td>
                        <td><input type="text" class="form-control" name="ans19page28" [(ngModel)]="libro.ans19Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans20page28" [(ngModel)]="libro.ans20Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... goes cycling every week.</td>
                        <td><input type="text" class="form-control" name="ans21page28" [(ngModel)]="libro.ans21Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans22page28" [(ngModel)]="libro.ans22Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>.. doesn't like pizza.</td>
                        <td><input type="text" class="form-control" name="ans23page28" [(ngModel)]="libro.ans23Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans24page28" [(ngModel)]="libro.ans24Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... travels a lot.</td>
                        <td><input type="text" class="form-control" name="ans25page28" [(ngModel)]="libro.ans25Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans26page28" [(ngModel)]="libro.ans26Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... doesn't play sport.</td>
                        <td><input type="text" class="form-control" name="ans27page28" [(ngModel)]="libro.ans27Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans28page28" [(ngModel)]="libro.ans28Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... goes to the cinema every month.</td>
                        <td><input type="text" class="form-control" name="ans29page28" [(ngModel)]="libro.ans29Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans30page28" [(ngModel)]="libro.ans30Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>... plays a musical instrument.</td>
                        <td><input type="text" class="form-control" name="ans31page28" [(ngModel)]="libro.ans31Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans32page28" [(ngModel)]="libro.ans32Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>