<div>
    <div class="row">
        <div class="col-md-12 rojo my-3">
            <h4 class="text-white center"> GENERAL REVIEW </h4>
        </div>
        <div class="col-md-6">
            <h5>WRITING AND SPEAKING ACTIVITY</h5>
            <br>
            <ul>
                Complete present simple sentences about your habits and routine,
                <li> 'In the evening, I usually watch TV at home'.</li>
                <li> 'What do you usually do in the evening?'</li>
            </ul>
        </div>
        <div class="col-md-6">
            <p class="justify">Then go around the classroom asking and answering the questions.
            </p>
            <p class="justify">When you find someone with the same answer, you say <strong>'Likewise'</strong>.</p>
            <p class="justify">The two students then write each other's name in the last column of the worksheet. </p>
            <strong class="center">Students are not allowed to look at each other’s paper.</strong>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped  ">
                <thead>
                    <tr>
                        <th>Present simple sentences and 'Wh' questions</th>
                        <th>Question</th>
                        <th>Names</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>In the evening, I usually <input type="text" class="form-control my-1" name="" id=""></td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> I usually get up at <input type="text" class="form-control my-1" name="" id=""></td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> I exercise <input type="text" class="form-control my-1" name="" id=""> times a week/month.</td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> At the weekend, I usually <input type="text" class="form-control my-1" name="" id=""></td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> I study English <input type="text" class="form-control my-1" name="" id=""> times a week.</td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> My journey home from class takes <input type="text" class="form-control my-1" name="" id=""> minutes.

                        </td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> I like to watch <input type="text" class="form-control my-1" name="" id=""> on TV.</td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> In the morning, I usually <input type="text" class="form-control my-1" name="" id=""></td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> I go shopping for clothes <input type="text" class="form-control my-1" name="" id=""> times a month/year.</td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> I normally have <input type="text" class="form-control my-1" name="" id=""> for lunch.</td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> I like <input type="text" class="form-control my-1" name="" id=""> music.</td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                    <tr>
                        <td> I usually have dinner at <input type="text" class="form-control my-1" name="" id=""></td>
                        <td>Q: <input type="text" class="form-control my-1" name="" id=""></td>
                        <td><input type="text" class="form-control my-1" name="" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>