<div>
  <div class="row">
    <div class="col-md-6">
      <h6>Grammar Flash</h6>
      <h4 class="text-center my-2 align-items-center">
        <!-- audio l1 616-->
        <audio id="a1p43l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F616.mp3?alt=media&token=0895979d-5a3d-465f-af6e-c9404a2b0559"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p43l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        THERE IS / THERE ARE
      </h4>
    </div>
    <div class="col-md-6">
      <div class="card border-info">
        <div class="card-body d-flex justify-content-center">
          <div>
            <p class="card-text">
              <!-- audio l1 617-->
              <audio id="a2p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F617.mp3?alt=media&token=be77cf23-aeb4-4992-b6a3-a1d2b0f1461f"
                />
              </audio>
              <button
                (click)="reproducirAudio('a2p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There is: Existence (singular)<br />
              <!-- audio l1 618-->
              <audio id="a3p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F618.mp3?alt=media&token=18396ef0-b593-4718-93b2-4f3deb3f70ee"
                />
              </audio>
              <button
                (click)="reproducirAudio('a3p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There is one fish in the fishbowl<br />
              <!-- audio l1 619-->
              <audio id="a4p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F619.mp3?alt=media&token=78082bb4-32e5-4322-8c0c-2d70a63f9bba"
                />
              </audio>
              <button
                (click)="reproducirAudio('a4p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There are: Existence (plural)<br />
              <!-- audio l1 620-->
              <audio id="a5p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F620.mp3?alt=media&token=4649cf2b-7074-49e0-a5f5-ec3dac5cd833"
                />
              </audio>
              <button
                (click)="reproducirAudio('a5p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There are two fish in the tank
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-2" />
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>TEACHER:</th>
            <th><i class="fas fa-long-arrow-alt-right"></i></th>
            <th>STUDENTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- audio l1 621-->
              <audio id="a6p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F621.mp3?alt=media&token=f115fc86-fb74-4265-9185-7fd41264bf00"
                />
              </audio>
              <button
                (click)="reproducirAudio('a6p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There is a cat in the classroom
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>
              <!-- audio l1 622-->
              <audio id="a7p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F622.mp3?alt=media&token=6202e1a7-792c-45e0-9b41-84c2a045b861"
                />
              </audio>
              <button
                (click)="reproducirAudio('a7p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There is a cat in the classroom
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 623-->
              <audio id="a8p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F623.mp3?alt=media&token=6f66bc23-f2e4-4174-9920-7d3e0ef3fdbf"
                />
              </audio>
              <button
                (click)="reproducirAudio('a8p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Two
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>
              <!-- audio l1 624-->
              <audio id="a9p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F624.mp3?alt=media&token=be79c481-fc64-49d8-905a-b39a959cd7ce"
                />
              </audio>
              <button
                (click)="reproducirAudio('a9p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There are two cats in the classroom
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 625-->
              <audio id="a10p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F625.mp3?alt=media&token=b77f1294-e599-4ee5-99a6-b0c7d6644d89"
                />
              </audio>
              <button
                (click)="reproducirAudio('a10p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Dogs
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>
              <!-- audio l1 626-->
              <audio id="a11p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F626.mp3?alt=media&token=e65a0079-9bed-4f30-8fbb-56f5f6a2906c"
                />
              </audio>
              <button
                (click)="reproducirAudio('a11p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There are two dogs in the classroom
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 627-->
              <audio id="a12p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F627.mp3?alt=media&token=ade2ff03-9fb8-4fdf-8923-38d7edbe5d33"
                />
              </audio>
              <button
                (click)="reproducirAudio('a12p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              One
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td>
              <!-- audio l1 628-->
              <audio id="a13p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F628.mp3?alt=media&token=ba75c532-4453-4c2c-b460-aad356c02636"
                />
              </audio>
              <button
                (click)="reproducirAudio('a13p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              There is one (a) dog in the classroom
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 629-->
              <audio id="a14p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F629.mp3?alt=media&token=c6c75330-f314-49c9-a79c-fa19bafea484"
                />
              </audio>
              <button
                (click)="reproducirAudio('a14p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              A rat
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td class="d-flex justify-content-center">
              <div>
                <!-- audio l1 630-->
                <audio id="a15p43l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F630.mp3?alt=media&token=fb200664-3b6a-4e72-a715-0b98cdeb75f4"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a15p43l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans1page44"
                [(ngModel)]="libro.ans1Page44"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 631-->
              <audio id="a16p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F631.mp3?alt=media&token=cf169d4c-24e7-4b25-8803-26cc063c5a44"
                />
              </audio>
              <button
                (click)="reproducirAudio('a16p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Two spiders
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td class="d-flex justify-content-center">
              <div>
                <!-- audio l1 632-->
                <audio id="a17p43l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F632.mp3?alt=media&token=6ba6cd2c-a8be-4bd1-a942-b23ecd6713a9"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a17p43l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans2page44"
                [(ngModel)]="libro.ans2Page44"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 633-->
              <audio id="a18p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F633.mp3?alt=media&token=91228c2b-619e-4efd-bbab-75aee2a1c9d7"
                />
              </audio>
              <button
                (click)="reproducirAudio('a18p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              5 birds in the school
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td class="d-flex justify-content-center">
              <div>
                <!-- audio l1 634-->
                <audio id="a19p43l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F634.mp3?alt=media&token=807a26bd-2ad1-48a7-98b6-c883b7717b56"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a19p43l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans3page44"
                [(ngModel)]="libro.ans3Page44"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 635-->
              <audio id="a20p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F635.mp3?alt=media&token=1c36a3ec-41a9-4b37-bfbf-9294bdfac254"
                />
              </audio>
              <button
                (click)="reproducirAudio('a20p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              A teacher in the classroom
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td class="d-flex justify-content-center">
              <div>
                <!-- audio l1 636-->
                <audio id="a21p43l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F636.mp3?alt=media&token=d6ab2a50-93c6-4325-82e1-6e31b9113a5f"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a21p43l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans4page44"
                [(ngModel)]="libro.ans4Page44"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 637-->
              <audio id="a22p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F637.mp3?alt=media&token=9e4c0929-934f-48aa-aa58-0f0bf1ddcf4f"
                />
              </audio>
              <button
                (click)="reproducirAudio('a22p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              20 students
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td class="d-flex justify-content-center">
              <div>
                <!-- audio l1 638-->
                <audio id="a23p43l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F638.mp3?alt=media&token=578f4e86-964e-4546-af30-83fee8f608f8"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a23p43l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans5page44"
                [(ngModel)]="libro.ans5Page44"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 639-->
              <audio id="a24p43l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F639.mp3?alt=media&token=e34fbca8-7e22-445b-afc5-e95c79d2bff5"
                />
              </audio>
              <button
                (click)="reproducirAudio('a24p43l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              A cricket
            </td>
            <td><i class="fas fa-long-arrow-alt-right"></i></td>
            <td class="d-flex justify-content-center">
              <div>
                <!-- audio l1 640-->
                <audio id="a25p43l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F640.mp3?alt=media&token=3ea160de-b73f-42c4-92b0-f356fc255500"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a25p43l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="ans6page44"
                [(ngModel)]="libro.ans6Page44"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h5>EXAMPLE:</h5>
      <div class="row">
        <div class="col-md-6 my-2">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F131.jpg?alt=media&token=9762f4e0-4e4d-4d05-83cf-7753f40cadf3"
            class="img-fluid rounded"
            alt="img"
          />
        </div>
        <div class="col-md-6 my-2 d-flex align-items-center">
          <p>
            <!-- audio l1 641-->
            <audio id="a26p43l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F641.mp3?alt=media&token=849bbab8-883a-4280-a21e-cc066d7a92a3"
              />
            </audio>
            <button
              (click)="reproducirAudio('a26p43l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
            <b>A.</b> There is a rat in the room <br />
            <!-- audio l1 642-->
            <audio id="a27p43l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F642.mp3?alt=media&token=d1165342-34ab-414c-8ffc-da747cb9de86"
              />
            </audio>
            <button
              (click)="reproducirAudio('a27p43l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
            <b>B.</b> Oh, my God, I hate rats <br />
            <!-- audio l1 643-->
            <audio id="a28p43l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F643.mp3?alt=media&token=fe6fb56e-1236-4767-893f-c9248f332355"
              />
            </audio>
            <button
              (click)="reproducirAudio('a28p43l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
            <b>A.</b> Don’t worry, I’ll kill it <br />
            <!-- audio l1 644-->
            <audio id="a29p43l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F644.mp3?alt=media&token=17c382d1-afb5-40b2-b91f-0df8ae276e4f"
              />
            </audio>
            <button
              (click)="reproducirAudio('a29p43l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
            <b>B.</b> Oh, you’re my hero.
          </p>
        </div>
        <div class="col-md-6 my-2">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F132.jpg?alt=media&token=19e073d1-cb34-4454-9056-e073b0fb4432"
            class="img-fluid rounded"
            alt="img"
          />
        </div>
        <div class="col-md-6 my-2 d-flex align-items-center">
          <p>
            <!-- audio l1 645-->
            <audio id="a30p43l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F645.mp3?alt=media&token=bb183642-34d2-48d6-b482-818b74c36a03"
              />
            </audio>
            <button
              (click)="reproducirAudio('a30p43l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
            <b>A.</b> There’s a puppy on the street<br />
            <!-- audio l1 646-->
            <audio id="a31p43l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F646.mp3?alt=media&token=5af7b7d1-2791-4429-aeaa-b44be1fcfa7e"
              />
            </audio>
            <button
              (click)="reproducirAudio('a31p43l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
            <b>B.</b> Oh, my God, I love puppies<br />
            <!-- audio l1 647-->
            <audio id="a32p43l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F647.mp3?alt=media&token=89a0abcc-5c8e-4e4a-b620-e8ec6782f7e2"
              />
            </audio>
            <button
              (click)="reproducirAudio('a32p43l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
            <b>A.</b> Don’t worry, I’ll get it<br />
            <!-- audio l1 644-->
            <audio id="a33p43l1" aria-label="audio" class="d-none" controls>
              <source
                type="audio/mp3"
                src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F644.mp3?alt=media&token=17c382d1-afb5-40b2-b91f-0df8ae276e4f"
              />
            </audio>
            <button
              (click)="reproducirAudio('a33p43l1')"
              class="btn rounded-pill btn-sm audio"
            >
              <i class="fas fa-volume-up"></i>
            </button>
            <b>B.</b> Oh, you’re my hero.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
