<div>
    <div class="row">
        <div class="col-md-6">
            <h6>Grammar Flash</h6>
            <h4 class="text-center my-2 align-items-center ">THERE IS / THERE ARE</h4>
        </div>
        <div class="col-md-6">
            <div class="card border-info">
                <div class="card-body">
                    <p class="card-text text-center">
                        There is: Existence (singular)<br> There is one fish in the fishbowl<br> There are: Existence (plural)<br> There are two fish in the tank</p>
                </div>
            </div>
        </div>
        <hr class="my-2">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>TEACHER:</th>
                        <th><i class="fas fa-long-arrow-alt-right"></i></th>
                        <th>STUDENTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>There is a cat in the classroom
                        </td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td>There is a cat in the classroom</td>
                    </tr>
                    <tr>
                        <td>Two</td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td>There are two cats in the classroom </td>
                    </tr>
                    <tr>
                        <td>Dogs</td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td>There are two dogs in the classroom</td>
                    </tr>
                    <tr>
                        <td>One</td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td>There is one (a) dog in the classroom</td>
                    </tr>
                    <tr>
                        <td>A rat </td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td><input type="text" class="form-control" name="ans1page44" [(ngModel)]="libro.ans1Page44" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Two spiders </td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td><input type="text" class="form-control" name="ans2page44" [(ngModel)]="libro.ans2Page44" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>5 birds in the school </td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td><input type="text" class="form-control" name="ans3page44" [(ngModel)]="libro.ans3Page44" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>A teacher in the classroom</td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td><input type="text" class="form-control" name="ans4page44" [(ngModel)]="libro.ans4Page44" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>20 students</td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td><input type="text" class="form-control" name="ans5page44" [(ngModel)]="libro.ans5Page44" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>A cricket</td>
                        <td><i class="fas fa-long-arrow-alt-right"></i></td>
                        <td><input type="text" class="form-control" name="ans6page44" [(ngModel)]="libro.ans6Page44" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 ">
            <h5>EXAMPLE:</h5>
            <div class="row">
                <div class="col-md-6 my-2">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                </div>
                <div class="col-md-6 my-2">
                    <p>
                        <b>A.</b> There is a rat in the room <br> <b>B.</b> Oh, my God, I hate rats <br> <b>A.</b> Don’t worry, I’ll kill it <br> <b>B.</b> Oh, you’re my hero.
                    </p>

                </div>
                <div class="col-md-6 my-2">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                </div>
                <div class="col-md-6 my-2">
                    <p><b>A.</b> There’s a puppy on the street<br> <b>B.</b> Oh, my God, I love puppies<br> <b>A.</b> Don’t worry, I’ll get it<br> <b>B.</b> Oh, you’re my hero.</p>
                </div>
            </div>
        </div>
    </div>
</div>