<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="my-3">LISTENING ACTIVITY</h4>
      <p class="justify">
        Listen to your teacher read each sentence.<br />
        The pictures of Lazy Fab and his wife Pao are not in the correct order.
        Number the pictures in the correct order. Then write the number of the
        picture next to the sentences below. Finally, circle all the simple
        present tense verbs.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-24.PNG?alt=media&token=a6b1c597-91c6-480b-9c23-8b29c0fca808"
        alt=""
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-6">
      <ol style="list-style: none">
        <li>
          <span class="badge bg-info m-1"
            ><input
              type="text"
              maxlength="1"
              size="40"
              style="width: 40px; height: 30px"
              class="form-control input"
              name="ans1page54"
              [(ngModel)]="libro.ans1Page54"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </span>
          <i class="fas fa-long-arrow-alt-right"></i> a. Poor lazy Fab leaves
          the house and goes jogging.
        </li>
        <li>
          <span class="badge bg-info m-1"
            ><input
              type="text"
              maxlength="1"
              size="40"
              style="width: 40px; height: 30px"
              class="form-control input"
              name="ans2page54"
              [(ngModel)]="libro.ans2Page54"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </span>
          <i class="fas fa-long-arrow-alt-right"></i> b. He lies down on the
          bench and says, “Finally, I am free!” Then he goes to sleep.
        </li>
        <li>
          <span class="badge bg-info m-1"
            ><input
              type="text"
              maxlength="1"
              size="40"
              style="width: 40px; height: 30px"
              class="form-control input"
              name="ans3page54"
              [(ngModel)]="libro.ans3Page54"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </span>
          <i class="fas fa-long-arrow-alt-right"></i> c. Lazy Fab hates
          exercise. He wants to sleep, but he gets up. He puts on his clothes
          and sneakers with his eyes closed. Pao pushes him out of the house.
        </li>
        <li>
          <span class="badge bg-info m-1"
            ><input
              type="text"
              maxlength="1"
              size="40"
              style="width: 40px; height: 30px"
              class="form-control input"
              name="ans4page54"
              [(ngModel)]="libro.ans4Page54"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </span>
          <i class="fas fa-long-arrow-alt-right"></i> d. Lazy Fab loves to
          sleep. He dreams about sleeping! But he snores all the time, and his
          wife gets no sleep. Pao is tired and needs to do something.
        </li>
        <li>
          <span class="badge bg-info m-1"
            ><input
              type="text"
              maxlength="1"
              size="40"
              style="width: 40px; height: 30px"
              class="form-control input"
              name="ans5page54"
              [(ngModel)]="libro.ans5Page54"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </span>
          <i class="fas fa-long-arrow-alt-right"></i> e. He runs to the park and
          finds his favorite bench.
        </li>
        <li>
          <span class="badge bg-info m-1"
            ><input
              type="text"
              maxlength="1"
              size="40"
              style="width: 40px; height: 30px"
              class="form-control input"
              name="ans6page54"
              [(ngModel)]="libro.ans6Page54"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </span>
          <i class="fas fa-long-arrow-alt-right"></i> f. Pao finds a way to get
          Lazy Fab out of bed. She wakes him at 6:45 every morning. He continues
          to sleep. She shakes him. She shouts in his ear, “Time to get up! You
          need your exercise, dear!”
        </li>
      </ol>
    </div>
  </div>
</div>
