<div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                    <small>Sing in the choir</small>
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                    <small>Play in the orchestra</small>
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                    <small>Write for the newspaper</small>
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                    <small>Play volleyball</small>
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                    <small>Baby sits for her neighbours</small>
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                    <small>work at the mall</small>
                </div>
                <div class="col-md-4 col-6 text-center">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="">
                    <small>Visit her grandparents</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 1. Based on the following dialogue make the others</strong></p>
            <div class="row">
                <div class="col-md-6 small">
                    <ul>
                        <li><strong>A. </strong> Does she like to work at the mall?</li>
                        <li><strong>B. </strong> Yes, she does.</li>
                        <li><strong>A. </strong> When does she work at the mall?</li>
                        <li><strong>B. </strong> She works there on Saturday.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-2 w-75" alt="">
                </div>
            </div>
            <hr>
            <ul>
                <li>2.Sing in the choir. <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>3.Visit her grandparents <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>4.Baby sits for her neighbours <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>5.Play in the orchestra <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>6.Write for the newspaper <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
                <li>7.Play volleyball <input type="text" placeholder="Answer" class="my-1" name="" id=""> / <input type="text" placeholder="Answer" class="my-1" name="" id=""></li>
            </ul>
        </div>
    </div>
</div>