<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 6</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> POSSESSIVE PRONOUN
            </h3>
            <h6>VOCABULARY:
            </h6><br>
            <h6 class="center">JEWELRY AND ACCESSORIES</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">1. Ring</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">2. Earrings</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">3. Chain</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">4. Necklace </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">5. Wrist watch </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">6. Bracelet</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">7. Backpack</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">8. Belt</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">9. Glasses</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">10. Wallet</h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">11. Key chain </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6 class="center">12. Briefcase</h6>
        </div>
    </div>
</div>