<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="my-2">Grammar flash</h4>
      <h5 class="text-center my-2">Auxiliary verb for Ability “can”</h5>
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-cuadro1.jpg?alt=media&token=00314bf9-80be-48bc-97e4-384e2c7cbb3b"
          class="img-fluid"
          alt="alt"
        />
      </div>
    </div>
    <div class="col-md-12">
      <h5 class="my-2">DRILLS</h5>

      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>TEACHER</th>
            <th>STUDENT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>I can play soccer ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="I can play soccer"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans1page34"
                [(ngModel)]="libro.ans1Page34"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>We ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page34"
                [(ngModel)]="libro.ans2Page34"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>You ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans3page34"
                [(ngModel)]="libro.ans3Page34"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Make the yes/no question ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans4page34"
                [(ngModel)]="libro.ans4Page34"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Affirmative answer ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans5page34"
                [(ngModel)]="libro.ans5Page34"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Negative answer ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page34"
                [(ngModel)]="libro.ans6Page34"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
