<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3 class="center">THE SIMPLE PRESENT vs. THE PRESENT PROGRESSIVE</h3>
            <p class="center"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span><strong> LET’S TALK:</strong> Look at the pictures and create your dialogue.</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><strong>A.</strong> What is Mary doing?</li>
                        <li><strong>B.</strong> She is chatting on line with her new boyfriend.</li>
                        <li><strong>A.</strong> Does she chat on line every day?</li>
                        <li><strong>B.</strong> No, she doesn’t. She usually chats on line on Sunday.</li>
                    </ul>
                </div>
                <hr class="my-2">
                <div class="col-md-6"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span>
                    <ul>
                        <li><strong>A.</strong> What are you doing?</li>
                        <li><strong>B.</strong> I am waking up early today.</li>
                        <li><strong>A.</strong> Do you wake up early every day?</li>
                        <li><strong>B.</strong> No, I don’t. I usually wake up at 8am, but on Tuesdays I have to wake up early.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="center">
                <img src="assets/img/imagen.jpg" class="img-fluid w-75 center" alt="">
            </div>

            <ul>
                <li><strong>A.</strong> What is your mother doing?</li>
                <li><strong>B.</strong> <input type="text" class="form-control" name="" id=""> </li>
                <li><strong>A.</strong> Does she always help poor?</li>
                <li><strong>B.</strong> <input type="text" class="form-control" name="" id=""> </li>
            </ul>


        </div>
    </div>
</div>