<div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="center">Audio 6 script</h4>
            <p class="justify">
                Morning, everyone. Quiet, please. OK, I’m going to give you some advice to help you prepare for the exams next week. So make notes as I’m talking. Are you ready? <br> While you are studying, eat food that gives you energy. Don’t be tempted
                to eat sweets or drink cola. <br> Sugar won’t help you study but fruit and cereals will. Apples are especially good.<br> Find a comfortable place with plenty of light when you study. But not ‘too’ comfortable or you’ll fall asleep! <br>                Try and keep a positive mind. It is easier to study when you are positive and relaxed. If you start feeling anxious, have a break. Go out for a stroll around the block.<br> Don’t try to learn everything. There isn’t time. Choose the ‘important’
                things, the things that will get you most points in an exam. If you aren’t sure about this, ask me.<br> First learn the main ideas and don’t worry too much about the details. If you have time, you can come back later and read the details.<br>                Make notes of these key points and read them, then cover them up and try to remember all the points. <br> It might be boring, but repetition helps you to remember.<br> Use past exam papers to study. They will help you understand what kind
                of questions come up. There are plenty of past exam papers in the library. You can photocopy them and take them home. <br> Take regular breaks while you are studying. A five-minute break every half hour is usually enough. Get some fresh
                air and stretch your arms and legs. Drink a glass of water too. It’s important to keep hydrated.
                <br> And, last but not least, good luck! I’m sure you will all do your best.<br>
            </p>
        </div>
        <div class="col-md-6 table-responsive">
            <h3 class="center">Worksheet</h3>
            <h6><strong>Preparation : matching</strong><br>Match the vocabulary with the correct definition and write a-h next to the numbers 1-8.</h6>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td><span class="badge bg-info"> 1 </span> advice</td>
                        <td><span class="badge bg-info"><input type="text" name="ans1page31" [(ngModel)]="libro.ans1Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"  maxlength="1" style="width : 35px; height : 23px"> </span> -> <span class="badge bg-info"> A </span>                            Very worried</td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 2 </span> last but not least</td>
                        <td><span class="badge bg-info"><input type="text" name="ans2page31" [(ngModel)]="libro.ans2Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"  maxlength="1" style="width : 35px; height : 23px"> </span> -> <span class="badge bg-info"> B </span>                            be attracted to doing something </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 3 </span> be tempted to</td>
                        <td><span class="badge bg-info"><input type="text" name="ans3page31" [(ngModel)]="libro.ans3Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"  maxlength="1" style="width : 35px; height : 23px"> </span> -> <span class="badge bg-info"> C </span>                            a good or full amount of </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 4 </span> anxious </td>
                        <td><span class="badge bg-info"><input type="text" name="ans4page31" [(ngModel)]="libro.ans4Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"  maxlength="1" style="width : 35px; height : 23px"> </span> -> <span class="badge bg-info"> D </span>                            the act of doing something again </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 5 </span> plenty of</td>
                        <td><span class="badge bg-info"><input type="text" name="ans5page31" [(ngModel)]="libro.ans5Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"  maxlength="1" style="width : 35px; height : 23px"> </span> -> <span class="badge bg-info"> E </span>                            an opinion or recommendation about what someone should do </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 6 </span> repetition</td>

                        <td><span class="badge bg-info"><input type="text" name="ans6page31" [(ngModel)]="libro.ans6Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"  maxlength="1" style="width : 35px; height : 23px"></span> -> <span class="badge bg-info"> F  </span>                            a short walk around your small section of the city </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 7 </span> a stroll around the block</td>
                        <td><span class="badge bg-info"><input type="text" name="ans7page31" [(ngModel)]="libro.ans7Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"  maxlength="1" style="width : 35px; height : 23px"> </span> -> <span class="badge bg-info"> G </span>                            to put something over something so that you can´t see it </td>
                    </tr>
                    <tr>
                        <td><span class="badge bg-info"> 8 </span> to cover something up</td>
                        <td><span class="badge bg-info"><input type="text" name="ans8page31" [(ngModel)]="libro.ans8Page31" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"  maxlength="1" style="width : 35px; height : 23px"> </span> -> <span class="badge bg-info"> H </span>                            an expression used before the last thing in a list, to say that it is equally as important</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>