<div>
  <div class="row">
    <div class="col-md-6">
      <ol start="7">
        <li>
          (Rain, it) Does
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans1page49"
            [(ngModel)]="libro.ans1Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a lot in southern California?
        </li>
        <li>
          Look out the window. (Rain, it)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans2page49"
            [(ngModel)]="libro.ans2Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          ? Should I take my umbrella?
        </li>
        <li>
          It’s 7:30 A.M and the Wilson are in their kitchen. Mrs Wilson (sit)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans3page49"
            [(ngModel)]="libro.ans3Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          at the breakfast table, She (read)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans4page49"
            [(ngModel)]="libro.ans4Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          the morning paper. She (read)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans5page49"
            [(ngModel)]="libro.ans5Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          the newspaper every morning. Mr Wilson (pour)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans6page49"
            [(ngModel)]="libro.ans6Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a cup of coffee. He (drink)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans7page49"
            [(ngModel)]="libro.ans7Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          two cups of coffee every morning before he (go)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans78page49"
            [(ngModel)]="libro.ans8Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to work. There is a cartoon on T.V., but the children (Watch, not)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans9page49"
            [(ngModel)]="libro.ans9Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          it. They (play)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans10page49"
            [(ngModel)]="libro.ans10Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          with their toys instead. They usually (watch)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans11page49"
            [(ngModel)]="libro.ans11Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          cartoons in the morning, but this morning they (pay, not)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans12page49"
            [(ngModel)]="libro.ans12Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          any attention to the T.V. Mr an Mrs Wilson (watch not)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans13page49"
            [(ngModel)]="libro.ans13Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          the T.V either. They (like not) don’t
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans14page49"
            [(ngModel)]="libro.ans14Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to watch cartoons.
        </li>
        <li>
          Alice (take, not) doesn’t
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans15page49"
            [(ngModel)]="libro.ans15Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          the bus to school every day She usually (walk)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans16page49"
            [(ngModel)]="libro.ans16Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          instead. (take, you) do
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans17page49"
            [(ngModel)]="libro.ans17Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          the bus to get to school every day, or (walk, you) do
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans18page49"
            [(ngModel)]="libro.ans18Page49"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          ?
        </li>
      </ol>
    </div>
    <div class="col-md-6 text-center">
      <h4 class="my-3">SPELLING: FINAL S vr ES</h4>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-cuadro2.png?alt=media&token=3a67cc69-8fbb-4850-814b-5c8fa22df5e7"
        class="img-fluid"
        alt="img"
      />
    </div>
  </div>
</div>
