<div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="center"><i class="fas fa-utensils"></i> Let's talk about <span class="badge bg-danger">FOOD </span> <i class="fas fa-hamburger"></i> </h2>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    What's your favourite food? How often do you eat it?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    What's your favourite restaurant? Why?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    How often do you eat in a restaurant?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    Describe an everyday meal from your country and tell how to prepare it.
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    Which country do you think has the best food?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    What food do you refuse to eat ? Why?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    Can you give some exameples of fast food ( also: junk food)?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    How often do you eat fast food?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    What are the most popular dishes in your country?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    What do people usually eat on a special holiday (like New Year)?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    Have you ever eaten Japanese food? Did you like it?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    When did you last go to a nice restaurant? What did you order?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    If you visited a country where people ate snake or dog, Would you try it?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    Have your ever eaten insects or snails? Would you like to try them?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    Can you cook? What is the last dish you cooked?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    What's the strangest food you have ever eaten?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    Who usually does the cooking in your family?
                </div>
                <div class="col-md-3 col-6 card border-info m-2 text-center" style="min-height: 5 rem;">
                    Is there a pet in your family? What does it eat?
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">
        </div>

    </div>
</div>