<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 4</span></h1>
            <h3 class="text-center"> BUSY PEOPLE</h3>
            <h5>TALK ABOUT IT</h5>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    WHAT DO YOU DO EVERYDAY?
                    <input type="text" class="form-control" placeholder="Answer" name="" id=""> WHAT DOES HE DO EVERYDAY?
                    <input type="text" class="form-control" placeholder="Answer" name="" id="">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid m-2">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid m-2">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid m-2">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid m-2">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid m-2">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid m-2">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid m-2">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span><strong> 1. Based on the following dialogue make the others</strong></p>
            <div class="row">

                <div class="col-md-8 small">
                    <li><strong>A. </strong> Does Jeff jog on Monday?</li>
                    <li><strong>B. </strong> Yes, he does.</li>
                    <li><strong>A. </strong> Does he play tennis on Monday?</li>
                    <li><strong>B. </strong> No, he doesn’t.</li>
                    <li><strong>A. </strong> What kind of activity does he do on Monday?</li>
                    <li><strong>B. </strong> On Monday, he jogs.</li>
                </div>
                <div class="col-md-4">
                    <img src="assets/img/imagen.jpg" alt="" class="img-fluid m-2">
                </div>
            </div>
            <hr>
            <ul>
                <li>2.Play tennis / do yoga / Tuesday</li>
                <li>3.Do yoga / swim / Wednesday</li>
                <li>4.Swim / go to a health club / Thursday</li>
                <li>5.Go to a health club / play basketball / Friday</li>
                <li>6.Play basketball / ride his bike / Saturday</li>
                <li>7.Ride his bike / jog / Sunday</li>
            </ul>
        </div>
    </div>
</div>