<div>
    <div class="row">
        <div class="col-md-6"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span>
            <ul>
                <li><strong>A:</strong> No, I don’t. I (spend) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans1page27" [(ngModel)]="libro.ans1Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> as little time
                    as possible. I (like, not) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans2page27" [(ngModel)]="libro.ans2Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> to study.</li>
                <li><strong>B:</strong> Then why (you, be) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans3page27" [(ngModel)]="libro.ans3Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> a student?</li>
                <li><strong>A:</strong> My parents (want) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans4page27" [(ngModel)]="libro.ans4Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> me to go to school.
                    I (want, not) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans5page27" [(ngModel)]="libro.ans5Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> to be here.</li>
                <li><strong>B:</strong> In that case, I (think) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans6page27" [(ngModel)]="libro.ans6Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> that you should
                    drop out of school and find a job until you figure out what you want to do with your life.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <p><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 7. I (have) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans7page27" [(ngModel)]="libro.ans7Page27" (keyup.enter)="guardarInfo()"
                    (blur)="guardarInfo()" id=""> two roommates. One of them, Sam, is always neat and clean. He (wash) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans8page27" [(ngModel)]="libro.ans8Page27" (keyup.enter)="guardarInfo()"
                    (blur)="guardarInfo()" id=""> his clothes once a week. (you, know) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans9page27" [(ngModel)]="libro.ans9Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"
                    id=""> Matt, my other roommate? He (be) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans10page27" [(ngModel)]="libro.ans10Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> the opposite
                of Sam. For example, Matt (change, not) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans11page27" [(ngModel)]="libro.ans11Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> the sheets
            </p>
        </div>
        <div class="col-md-8">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F88.PNG?alt=media&token=c56f2c11-3215-479a-8773-f2cd64b39fcb" class="img-fluid rounded " alt="img">
        </div>
        <div class="col-md-4">
            <p><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 8. on his bed. He (keep) <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans12page27" [(ngModel)]="libro.ans12Page27" (keyup.enter)="guardarInfo()"
                    (blur)="guardarInfo()" id=""> the same sheets week after week. He (wash, never)
                <input type="text" class="my-1 input form-control" placeholder="Answer" name="ans13page27" [(ngModel)]="libro.ans13Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> his clothes.</p>
        </div>
    </div>

</div>