<div>
    <div class="row">
        <div class="col-md-6"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span>
            <ul>
                <li><strong>A:</strong> No, I don’t. I (spend) <input type="text" class="my-1" placeholder="Answer" name="" id=""> as little time as possible. I (like, not) <input type="text" class="my-1" placeholder="Answer" name="" id=""> to study.</li>
                <li><strong>B:</strong> Then why (you, be) <input type="text" class="my-1" placeholder="Answer" name="" id=""> a student?</li>
                <li><strong>A:</strong> My parents (want) <input type="text" class="my-1" placeholder="Answer" name="" id=""> me to go to school. I (want, not) <input type="text" class="my-1" placeholder="Answer" name="" id=""> to be here.</li>
                <li><strong>B:</strong> In that case, I (think) <input type="text" class="my-1" placeholder="Answer" name="" id=""> that you should drop out of school and find a job until you figure out what you want to do with your life.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <p><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 7. I (have) <input type="text" class="my-1" placeholder="Answer" name="" id=""> two roommates. One of them, Sam, is always neat and clean. He (wash) <input type="text"
                    class="my-1" placeholder="Answer" name="" id=""> his clothes once a week. (you, know) <input type="text" class="my-1" placeholder="Answer" name="" id=""> Matt, my other roommate? He (be) <input type="text" class="my-1" placeholder="Answer"
                    name="" id=""> the opposite of Sam. For example, Matt (change, not) <input type="text" class="my-1" placeholder="Answer" name="" id=""> the sheets
            </p>
        </div>
        <div class="col-md-8">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4">
            <p><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 8. on his bed. He (keep) <input type="text" class="my-1" placeholder="Answer" name="" id=""> the same sheets week after week. He (wash, never) <input type="text"
                    class="my-1" placeholder="Answer" name="" id=""> his clothes.</p>
        </div>
    </div>

</div>