<div>
    <div class="row">
        <div class="col-md-6">
            <h6 class="text-white center verde2"> ACTIVITY 1.13</h6>
            <p>Fill in the blanks to make a true statement about yourself. Then ask a question with the word(s) in (). A then give an answer</p>
            <strong>Example: i'm from <input type="text" class="form-control input" name="ans1page66" [(ngModel)]="libro.ans1Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">  (where)</strong>
            <strong><br>A. I’m from turkey, where are you from?<br>
                B. I’m from Taiwan</strong>
            <hr class="my-2">
            <ol>
                <li>My birthday is one <input type="text" class="form-control input" name="ans2page66" [(ngModel)]="libro.ans2Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> (When)</li>
                <li>My favorite TV show is <input type="text" class="form-control input" name="ans3page66" [(ngModel)]="libro.ans3Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> (What)</li>
                <li>My favorite color is <input type="text" class="form-control input" name="ans4page66" [(ngModel)]="libro.ans4Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> (What)</li>
                <li>I'm <input type="text" class="form-control input" name="ans5page66" [(ngModel)]="libro.ans5Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> today (How)</li>
                <li>My keys are <input type="text" class="form-control input" name="ans6page66" [(ngModel)]="libro.ans6Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> (where)</li>
                <li>The leader (president) of my country is <input type="text" class="form-control input" name="ans7page66" [(ngModel)]="libro.ans7Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> (Who)</li>
            </ol>
        </div>
        <div class="col-md-6">
            <h6 class="text-white center verde2"> ACTIVITY 1.14</h6>
            <strong>A. Write a sentence with the opposite adjective.</strong>
            <ol>
                <strong>Example: Their car isn't cheap <input type="text" class="form-control input" value="It’s expensive" name="" id="" disabled></strong>
                <li>My brother isn't heavy <input type="text" class="form-control input" name="ans8page6" [(ngModel)]="libro.ans8Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>they aren't short <input type="text" class="form-control input" name="ans9page6" [(ngModel)]="libro.ans9Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>My computer isn´t old <input type="text" class="form-control input" name="ans10page6" [(ngModel)]="libro.ans10Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
            </ol>
            <strong>B. Write the question            </strong>
            <ol>
                <strong>Example:  <input type="text" class="form-control input" value="Is it ugly?" name="" id="" disabled> No, it isn’t. It’s beautiful</strong>
                <li><input type="text" class="form-control input" name="ans11page66" [(ngModel)]="libro.ans11Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> No, I’m not. I’m single </li>
                <li><input type="text" class="form-control input" name="ans12page66" [(ngModel)]="libro.ans12Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> No, she isn’t. She’s old</li>
                <li><input type="text" class="form-control input" name="ans13page66" [(ngModel)]="libro.ans13Page66" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> No, they aren’t. They’re noisy</li>
            </ol>
        </div>
    </div>
</div>