<div>
    <div class="row">
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Do you...</th>
                        <th> Name</th>
                        <th>Yes/No</th>
                        <th> What kind/Where/ When/Why?/Why not?/ Who?</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>go shopping </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>love food</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>like to travel </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>play computer games </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>read books</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h5 class="center">Write 5 sentences about the people you agree with. It maybe negative agreement or positive agreement</h5>
            <ul><strong>Examples:</strong>
                <li>Patty likes to go to concerts. So do I. We go to concerts at Impact Arena. </li>
                <li>Miley doesn’t eat popcorn. Neither do I. It’s not delicious.</li>
            </ul>
            <h5>Write 5 sentences </h5>
            <ol>
                <li class="my-2"><input type="text" name="" id="" placeholder="answer" class="form-control"></li>
                <li class="my-2"><input type="text" name="" id="" placeholder="answer" class="form-control"></li>
                <li class="my-2"><input type="text" name="" id="" placeholder="answer" class="form-control"></li>
                <li class="my-2"><input type="text" name="" id="" placeholder="answer" class="form-control"></li>
                <li class="my-2"><input type="text" name="" id="" placeholder="answer" class="form-control"></li>
            </ol>
        </div>
    </div>
</div>