<div>
    <div class="row">
        <div class="col-md-12">
            <h6 class="text-white center verde2"> ACTIVITY 1.7</h6>
        </div>
        <div class="col-md-6 text-center mb-3"><span class="badge bg-primary m-1"><h6>It's sunny </h6></span>
            <span class="badge bg-primary m-1"><h6>It's cloudy</h6></span>
            <span class="badge bg-primary m-1"><h6>It's raining</h6></span>
            <span class="badge bg-primary m-1"><h6> It's snowing</h6></span>
            <span class="badge bg-primary m-1"><h6>It's warm</h6></span>
            <span class="badge bg-primary m-1"><h6> It's cool</h6></span>
            <span class="badge bg-primary m-1"><h6> It's hot</h6></span>
            <span class="badge bg-primary m-1"><h6>It's cold</h6></span>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F114.jpg?alt=media&token=02f096ba-0986-4f85-95e5-e8ad447c53fc" class="img-fluid m-1 rounded card border-info" alt="img">
        </div>
        <div class="col-md-6">
            <ol>
                <li>How's the weather in Mexico city? - <span class="badge bg-info " style="color:black;">It's Warm</span></li>
                <li>How's the weather in Miami? <input type="text" class="form-control" name="ans1page41" [(ngModel)]="libro.ans1Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>How's the weather in New York? <input type="text" class="form-control" name="ans2page41" [(ngModel)]="libro.ans2Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>How's the weather in Rome? <input type="text" class="form-control" name="ans3page41" [(ngModel)]="libro.ans3Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>How's the weather in San Francisco? <input type="text" class="form-control" name="ans4page41" [(ngModel)]="libro.ans4Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>How's the weather in San Juan? <input type="text" class="form-control" name="ans5age41" [(ngModel)]="libro.ans5age41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>How's the weather in Seoul? <input type="text" class="form-control" name="ans6page41" [(ngModel)]="libro.ans6Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>How's the weather in Tokyo? <input type="text" class="form-control" name="ans7page41" [(ngModel)]="libro.ans7Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>How's the weather in your city? <input type="text" class="form-control" name="ans8page41" [(ngModel)]="libro.ans8Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ol>
        </div>
    </div>
</div>