<div>
  <div class="row">
    <div class="col-md-12 my-2">
      <h5>G. Write sentences with has enough or doesn’t have enough.</h5>
      <p class="justify">
        In her house, Jamie has a pound of beef, a bottle full of oil, four
        potatoes, five onions, and a bag of flour.
      </p>
    </div>
    <div class="col-md-6">
      <ol>
        <li>
          <input
            type="text"
            class="form-control m-1"
            disabled
            value="Jamie doesn’t have enough beef."
            id=""
          />
        </li>
        <li>
          <input
            type="text"
            class="form-control m-1"
            name="ans1page67"
            [(ngModel)]="libro.ans1Page67"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <ol start="3">
        <li>
          <input
            type="text"
            class="form-control m-1"
            name="ans2page67"
            [(ngModel)]="libro.ans2Page67"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          <input
            type="text"
            class="form-control m-1"
            name="ans3page67"
            [(ngModel)]="libro.ans3Page67"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-6 mt-3">
      <h5 class="my-2">H. READING</h5>
      <h4 class="text-center my-2">Food Is Not Just for Food</h4>

      <p class="justify">
        Do you like bananas on cereal, roasted garlic, or cucumbers in salad?
        You may be surprised to know that each of these foods is also a
        medicine. Thousands of years ago people started using foods to cure
        everyday health problems. Today, people still use many of these foods as
        medicines. Each culture has its own favourite food remedies. Here is a
        short list of illnesses and some of the foods people use to cure them.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F9-21.webp?alt=media&token=e4ae063e-82b4-4fae-877f-4e67d8a13d64"
        class="img-fluid rounded w-75"
        alt="img"
      />
    </div>
    <hr />
    <div class="col-md-6">
      <h6>Headaches</h6>
      <ul>
        <li>
          Peel several very ripe bananas. Wrap the peels in two different pieces
          of cloth. Place one over the back of your neck and the other on your
          forehead.
        </li>
        <li>
          Peel a large lemon. Rub the skin of the lemons on your forehead. Then
          put the pieces in a cloth and place it on your forehead. The pain will
          stop.
        </li>
      </ul>
      <h6>Tired, Red Eyes</h6>
      <ul>
        <li>Peel and slice up a very ripe apple. The fruit has to be brown.</li>
        <li>
          Place the pieces on your closed eyes. Leave them on for at least half
          an hour.
        </li>
        <li>
          Place thin slices of cucumber over your closed eyes and lie quietly
          for a few minutes.
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h6>A Cold</h6>
      <ul>
        <li>Put two claves of crushed garlic in a bowl of boiling water.</li>
        <li>
          Add one tablespoon of vinegar. Cover your head and the bowl with a
          towel. Breathe in
        </li>
      </ul>

      <h6>the warm vapours.</h6>
      <ul></ul>
      <li>
        Soak a piece of brown paper in vinegar. Shake pepper on one side. Place
        the peppered side of the paper on your chest. Leave it there all night,
        if possible.
      </li>
      <li>
        Have you ever heard of any of these remedies? Most people in the medical
        profession say that there is little research to prove any positive
        results from these folk food remedies.
      </li>
    </div>
  </div>
</div>
