<div>
    <div class="row">
        <div class="col-md-4">
            <h5>TRY THIS: </h5>
            <img src="assets/img/imagen.jpg" class="img-fluid " alt="">
        </div>
        <div class="col-md-4">
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> 1.</strong>
            <ul>
                <li><strong>A.</strong> What kind of sports do you like?</li>
                <li><strong>B.</strong> I like basketball.</li>
                <li><strong>A.</strong> Who’s your favourite basketball player?</li>
                <li><strong>B.</strong> My favourite one is Michael Jordan.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p>Ask your classmates what they like.</p>
            <h4>WHAT KIND OF...</h4>
            <ol>
                <li>Music</li>
                <li>TV. Programs</li>
                <li>Movies</li>
                <li>Books</li>
                <li>Food</li>
                <li>Cars</li>
            </ol>
        </div>
        <hr class="my-2">

        <div class="col-md-12">
            <strong class="">WRITING ACTIVITY: Find the mistakes in the reading. Add -s or es where necessary.</strong>

            <h5 class="center my-2"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> ABDUL AND PABLO</h5>
            <p>(1)My friend Abdul live* in an apartment near school.(2) He walk to school almost every day. (3) Sometimes he catch a bus, especially if it's cold and rainy outside. (4) Abdul share the apartment with Pablo. (5) Pablo come from Venezuela.
                (6) Abdul and Pablo go to the same school. (7) They take English classes. (8) Abdul speak Arabic as his first language, and Pablo speak Spanish. (9) They communicate in English. (10)Sometimes Abdul try to teach Pablo to speak a little
                Arabic, and Pablo give Abdul Spanish lessons. (11)They laugh a lot during the Arabic and Spanish lessons.(12) Abdul enjoy having Pablo as his roommate, but he miss his family back in Saudi Arabia.</p>
        </div>
    </div>
</div>