<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge morado my-2">UNIT 1</span></h1>
      <h3 class="text-center">
        <!-- audio  -->
        <audio id="a1p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a1p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        SICKNESS
      </h3>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-1.png?alt=media&token=9d1424ce-ae4f-4ef7-ae52-a862d6b70f5d"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 80-->
        <audio id="a2p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a2p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. have a cold / the flu
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-2.png?alt=media&token=e295c7d4-667c-4573-8425-b534e5742402"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 81-->
        <audio id="a3p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a3p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. have a fever
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-3.jpg?alt=media&token=628da030-c474-4d4b-b3b3-48a603eae14d"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 82-->
        <audio id="a4p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a4p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. have a sore throat
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-4.jpg?alt=media&token=67b33908-8d02-4255-b05c-a0f87475cea4"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 83-->
        <audio id="a5p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a5p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. have an earache
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-5.jpg?alt=media&token=30bb2bdd-ae77-4954-a767-d0df3aad6036"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 84-->
        <audio id="a6p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a6p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. have a toothache
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-6.png?alt=media&token=aa3bae80-0a8a-45e6-9ec9-4349671a8748"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 85-->
        <audio id="a7p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a7p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. feel sick
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-7.png?alt=media&token=818c7deb-e6f2-446d-abd4-6903ca79fa3c"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 86-->
        <audio id="a8p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a8p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. have a stomachache
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-8.png?alt=media&token=93d829c0-a7a6-4b83-b486-3be8a23550bf"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 87-->
        <audio id="a9p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a9p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. have a headache
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-9.jpg?alt=media&token=62c7e8a8-5363-435b-8ea8-dc5d28284996"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 88 -->
        <audio id="a10p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a10p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. have backache
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-10.jpg?alt=media&token=144bf7b2-19c0-4a41-ab1f-346f2bf83805"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 89-->
        <audio id="a11p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a11p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. have a broken arm
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-11.jpg?alt=media&token=a981a776-93d6-4034-a9d9-a3423170d7a6"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 90-->
        <audio id="a12p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a12p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. have sunburn
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-12.jpg?alt=media&token=84e05146-4705-4e59-ae0d-4568c0b4478b"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 91-->
        <audio id="a13p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. have a broken leg
      </h6>
    </div>
  </div>
</div>
