<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center my-3">THE NUMBERS</h3>
            <div class="row justify-content-center">
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn0.png?alt=media&token=f4f99a18-4ddd-4c56-ba06-a7757f7539df" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn1.png?alt=media&token=4a526741-f6d5-480e-8687-63bf51cd48c7" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn2.png?alt=media&token=bdbca08a-bf1d-4f90-a7d5-7e2ed7cf81ac" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn3.png?alt=media&token=2a31ac43-4c63-46d4-845a-8bd06b369e70" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn4.png?alt=media&token=e7306fb3-15f8-4726-9a90-3882dd3cee09" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn5.png?alt=media&token=5d737737-4919-4715-a775-eb2e16ff9acf" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn6.png?alt=media&token=72b36224-ac2d-49da-88a5-e0d3925bab1f" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn7.png?alt=media&token=4f25c632-cffd-4a9c-a134-f00ae8b38643" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn8.png?alt=media&token=4fae7579-f8db-4e6d-87fc-24e781cd71f7" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-2 text-center "> <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn9.png?alt=media&token=7121380d-baf7-43e0-930c-8f2db73fbfe8" class="img-fluid rounded m-1" alt="img"></div>
                <div class="col-md-4 ">
                    <div class="card border-info">
                        <div class="card-body">
                            <h4 class="card-title">Note:</h4>
                            <p class="card-text">When saying telephone numbers is more common to say /ou/ instead of zero.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr class="my-3">
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F6.png?alt=media&token=5790dade-e8ef-4a1c-bf0e-de694b0bd802" class="img-fluid rounded " alt="img">
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="center my-2">Teacher:</h5>
                    - What’s your telephone number? <br> (Her / His)
                    <br> - What’s your address? <br> (Her / His)
                    <br> - Where are you from?<br>
                </div>
                <div class="col-md-6">
                    <h5 class="center my-2">Student:</h5>
                    - My phone number is ...<br>(Her / His) <br> My address is ...<br>(Her / His) <br> - I am from ...<br>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F7.png?alt=media&token=bd876dc3-cf80-49ca-aaa0-daf94f79054a" class="img-fluid rounded " alt="img">
        </div>
    </div>
</div>