<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center my-3">THE NUMBERS</h3>
            <div class="row justify-content-center">
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-2"> <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"></div>
                <div class="col-md-4 ">
                    <div class="card border-info">
                        <div class="card-body">
                            <h4 class="card-title">Note:</h4>
                            <p class="card-text">When saying telephone numbers is more common to say /ou/ instead of zero.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr class="my-3">
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid m-2" alt="img">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="center my-2">Teacher:</h5>
                    - What’s your telephone number? <br> (Her / His)
                    <br> - What’s your address? <br> (Her / His)
                    <br> - Where are you from?<br>
                </div>
                <div class="col-md-6">
                    <h5 class="center my-2">Student:</h5>
                    - My phone number is ...<br>(Her / His) <br> My address is ...<br>(Her / His) <br> - I am from ...<br>
                </div>
            </div>
        </div>
    </div>
</div>