<div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="center my-3">THE NUMBERS</h3>
      <p class="text-center fw-bold">
        <button class="btn azul rounded-pill text-white btn-sm">
          <i class="fas fa-volume-up"></i>
        </button>
        Click on the number to listen
      </p>
      <div class="row justify-content-center">
        <div class="col-md-2 text-center">
          <!-- audio l1 46-->
          <audio id="a1p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F46.mp3?alt=media&token=fdfaf268-d959-471c-8c00-1fd14d934a3d"
            /></audio
          ><img
            (click)="reproducirAudio('a1p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn0.png?alt=media&token=f4f99a18-4ddd-4c56-ba06-a7757f7539df"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Zero <br />/Zirou/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 47-->
          <audio id="a2p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F47.mp3?alt=media&token=322a79a6-be6e-4389-80bb-7e8706975535"
            /></audio
          ><img
            (click)="reproducirAudio('a2p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn1.png?alt=media&token=4a526741-f6d5-480e-8687-63bf51cd48c7"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">One <br />/uan/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 48-->
          <audio id="a3p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F48.mp3?alt=media&token=49d6ac49-ffad-4f14-bd52-98ef335d5602"
            /></audio
          ><img
            (click)="reproducirAudio('a3p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn2.png?alt=media&token=bdbca08a-bf1d-4f90-a7d5-7e2ed7cf81ac"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Two <br />/tu/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 49-->
          <audio id="a4p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F49.mp3?alt=media&token=7bfe9dee-6449-4f25-a1e4-98b3dd8e044a"
            /></audio
          ><img
            (click)="reproducirAudio('a4p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn3.png?alt=media&token=2a31ac43-4c63-46d4-845a-8bd06b369e70"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Three <br />/zrii/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 50-->
          <audio id="a5p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F50.mp3?alt=media&token=523b2892-f561-4ac4-9ff3-fb95187ee31e"
            /></audio
          ><img
            (click)="reproducirAudio('a5p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn4.png?alt=media&token=e7306fb3-15f8-4726-9a90-3882dd3cee09"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Four <br />/four/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 51-->
          <audio id="a6p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F51.mp3?alt=media&token=5159d45e-a963-4ffb-8cd8-f07e6121d624"
            /></audio
          ><img
            (click)="reproducirAudio('a6p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn5.png?alt=media&token=5d737737-4919-4715-a775-eb2e16ff9acf"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Five <br />/faiv/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 52-->
          <audio id="a7p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F52.mp3?alt=media&token=fde01305-13c4-438d-ba5c-800092bf4495"
            /></audio
          ><img
            (click)="reproducirAudio('a7p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn6.png?alt=media&token=72b36224-ac2d-49da-88a5-e0d3925bab1f"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Six <br />/siks/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 53-->
          <audio id="a8p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F53.mp3?alt=media&token=1dfc3221-e244-4bf3-8454-175ff9478766"
            /></audio
          ><img
            (click)="reproducirAudio('a8p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn7.png?alt=media&token=4f25c632-cffd-4a9c-a134-f00ae8b38643"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Seven <br />/seven/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 54-->
          <audio id="a9p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F54.mp3?alt=media&token=06d99c6c-4682-4f5a-a1d6-7f7cae2b29f0"
            /></audio
          ><img
            (click)="reproducirAudio('a9p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn8.png?alt=media&token=4fae7579-f8db-4e6d-87fc-24e781cd71f7"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Eight <br />/eit/</p>
        </div>
        <div class="col-md-2 text-center">
          <!-- audio l1 55-->
          <audio id="a10p3l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F55.mp3?alt=media&token=e094356d-f41c-45cd-95c6-6cca97c3515a"
            /></audio
          ><img
            (click)="reproducirAudio('a10p3l1')"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fn9.png?alt=media&token=7121380d-baf7-43e0-930c-8f2db73fbfe8"
            class="img-fluid rounded m-1 cursor-pointer"
            alt="img"
          />
          <p class="text-center fw-bold">Nine <br />/nain/</p>
        </div>
        <div class="col-md-4">
          <div class="card border-info">
            <div class="card-body">
              <h4 class="card-title">Note:</h4>
              <p class="card-text">
                When saying telephone numbers is more common to say /ou/ instead
                of zero.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-3" />
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F6.png?alt=media&token=5790dade-e8ef-4a1c-bf0e-de694b0bd802"
        class="img-fluid rounded"
        alt="img"
      />
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h5>TEACHER</h5>
          <ul>
            <li class="mb-1">
              <!-- audio l1 57-->
              <audio id="a11p3l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F57.mp3?alt=media&token=b289438d-8b06-4c2d-9f8c-e711c3e9ef9b"
                />
              </audio>
              <button
                (click)="reproducirAudio('a11p3l1')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i></button
              >- What's your telephone number?
              <ul>
                <li class="mb-1">
                  <!-- audio l1 58-->
                  <audio
                    id="a12p3l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F58.mp3?alt=media&token=919db44f-d139-4976-9442-9fea6b536ce1"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a12p3l1')"
                    class="btn azul rounded-pill text-white btn-sm"
                  >
                    <i class="fas fa-volume-up"></i></button
                  >Her
                </li>
                <li class="mb-1">
                  <!-- audio l1 59-->
                  <audio
                    id="a13p3l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F59.mp3?alt=media&token=ad5c31f9-95e3-4451-a52f-b22374319686"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a13p3l1')"
                    class="btn azul rounded-pill text-white btn-sm"
                  >
                    <i class="fas fa-volume-up"></i></button
                  >His
                </li>
              </ul>
            </li>
            <li class="mb-1">
              <!-- audio l1 60-->
              <audio id="a14p3l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F60.mp3?alt=media&token=917fd5a8-5e09-4fcf-97a5-b69bbc008e12"
                />
              </audio>
              <button
                (click)="reproducirAudio('a14p3l1')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i></button
              >- What’s your address?
              <ul>
                <li class="mb-1">
                  <!-- audio l1 61-->
                  <audio
                    id="a15p3l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F61.mp3?alt=media&token=9cbdba2a-1a48-44fc-aeca-893f7050a65e"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a15p3l1')"
                    class="btn azul rounded-pill text-white btn-sm"
                  >
                    <i class="fas fa-volume-up"></i></button
                  >Her
                </li>
                <li class="mb-1">
                  <!-- audio l1 62-->
                  <audio
                    id="a16p3l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F62.mp3?alt=media&token=c0659da3-39ed-4ee9-8b82-446f11688fb1"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a16p3l1')"
                    class="btn azul rounded-pill text-white btn-sm"
                  >
                    <i class="fas fa-volume-up"></i></button
                  >His
                </li>
              </ul>
            </li>
            <li class="mb-1">
              <!-- audio l1 63-->
              <audio id="a17p3l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F63.mp3?alt=media&token=26b5e070-3568-47c7-a27f-da2c3430a6ca"
                />
              </audio>
              <button
                (click)="reproducirAudio('a17p3l1')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i></button
              >- Where are you from?
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5>STUDENT</h5>
          <ul>
            <li class="mb-1">
              <!-- audio l1 64-->
              <audio id="a18p3l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F64.mp3?alt=media&token=ea768e6d-2f0d-41b3-8dc1-8a796acd17ef"
                />
              </audio>
              <button
                (click)="reproducirAudio('a18p3l1')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i></button
              >- My phone number is ...
              <ul>
                <li class="mb-1">
                  <!-- audio l1 65-->
                  <audio
                    id="a19p3l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F65.mp3?alt=media&token=2612440f-5070-4b3c-b640-2c15ce5d1c55"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a19p3l1')"
                    class="btn azul rounded-pill text-white btn-sm"
                  >
                    <i class="fas fa-volume-up"></i></button
                  >Her
                </li>
                <li class="mb-1">
                  <!-- audio l1 66-->
                  <audio
                    id="a20p3l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F66.mp3?alt=media&token=34d6e2b6-9136-4b8b-b12c-3aae6acf4ee5"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a20p3l1')"
                    class="btn azul rounded-pill text-white btn-sm"
                  >
                    <i class="fas fa-volume-up"></i></button
                  >His
                </li>
              </ul>
            </li>

            <li class="mb-1">
              <!-- audio l1 67-->
              <audio id="a21p3l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F67.mp3?alt=media&token=b7063551-49d0-412b-887f-66112c7b2e79"
                />
              </audio>
              <button
                (click)="reproducirAudio('a21p3l1')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i></button
              >- My address is ...
              <ul>
                <li class="mb-1">
                  <!-- audio l1 68-->
                  <audio
                    id="a22p3l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F68.mp3?alt=media&token=ccf1a42b-2f5c-4fc4-8626-b25560db7c75"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a22p3l1')"
                    class="btn azul rounded-pill text-white btn-sm"
                  >
                    <i class="fas fa-volume-up"></i></button
                  >Her
                </li>
                <li class="mb-1">
                  <!-- audio l1 69-->
                  <audio
                    id="a23p3l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F69.mp3?alt=media&token=33e48e3c-ba24-43f3-9c01-3c9ccf831f49"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a23p3l1')"
                    class="btn azul rounded-pill text-white btn-sm"
                  >
                    <i class="fas fa-volume-up"></i></button
                  >His
                </li>
              </ul>
            </li>
            <li class="mb-1">
              <!-- audio l1 70-->
              <audio id="a24p3l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F70.mp3?alt=media&token=176f85e7-7f4b-4373-86ea-da952bac7f91"
                />
              </audio>
              <button
                (click)="reproducirAudio('a24p3l1')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i></button
              >- I am from ...
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F7.png?alt=media&token=bd876dc3-cf80-49ca-aaa0-daf94f79054a"
        class="img-fluid rounded"
        alt="img"
      />
    </div>
  </div>
</div>
