<div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center my-3">GRAMMAR FLASH</h4>
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Fl2p2f1.png?alt=media&token=5186c039-1f26-482c-bd06-499f9dadf433"
          alt="img"
          class="img-fluid card border-primary"
        />
      </div>
    </div>
    <div class="col-md-6">
      <h5 class="text-center my-2">WARM - UP</h5>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>TEACHER</th>
            <th>STUDENTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>I am Dancing ...</td>
            <td>I am Dancing</td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>She is dancing</td>
          </tr>
          <tr>
            <td>They ...</td>
            <td>
              <input
                type="text"
                maxlength="1"
                class="form-control"
                name="ans1page2"
                [(ngModel)]="libro.ans1Page2"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>We...</td>
            <td>
              <input
                type="text"
                maxlength="1"
                class="form-control"
                name="ans2page2"
                [(ngModel)]="libro.ans2Page2"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Play ...</td>
            <td>
              <input
                type="text"
                maxlength="1"
                class="form-control"
                name="ans3page2"
                [(ngModel)]="libro.ans3Page2"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Cook ...</td>
            <td>
              <input
                type="text"
                maxlength="1"
                class="form-control"
                name="ans4page2"
                [(ngModel)]="libro.ans4Page2"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                maxlength="1"
                class="form-control"
                name="ans5page2"
                [(ngModel)]="libro.ans5Page2"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Eat ...</td>
            <td>
              <input
                type="text"
                maxlength="1"
                class="form-control"
                name="ans6page2"
                [(ngModel)]="libro.ans6Page2"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>I ...</td>
            <td>
              <input
                type="text"
                maxlength="1"
                class="form-control"
                name="ans7page2"
                [(ngModel)]="libro.ans7Page2"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
