<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 4.15</h6>
      <p>
        Combine the two sentences into one sentence by using time clause.
        Punctuate carefully.
      </p>
      <ol>
        <li>
          First: I got home <br />
          Then: I ate dinner
          <ul>
            <li>a) After <i>I got home, I ate dinner</i></li>
            <li>b) <i>I ate dinner</i> after <i>I got home</i></li>
          </ul>
        </li>
        <li>
          First: I washed dishes <br />
          Then: I washed T.V
          <ul>
            <li class="d-flex">
              a)After
              <input
                type="text"
                class="form-control m-1"
                name="ans1page49"
                [(ngModel)]="libro.ans1Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
            <li class="d-flex">
              b)
              <input
                type="text"
                class="form-control m-1"
                name="ans2page49"
                [(ngModel)]="libro.ans2Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              after
              <input
                type="text"
                class="form-control m-1"
                name="ans3page49"
                [(ngModel)]="libro.ans3Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
          </ul>
        </li>
        <li>
          First: I unplugged the coffee pot.<br />
          Then: I left my apartment this morning
          <ul>
            <li class="d-flex">
              a)Before
              <input
                type="text"
                class="form-control m-1"
                name="ans4page49"
                [(ngModel)]="libro.ans4Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
            <li class="d-flex">
              b)
              <input
                type="text"
                class="form-control m-1"
                name="ans5page49"
                [(ngModel)]="libro.ans5Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              before
              <input
                type="text"
                class="form-control m-1"
                name="ans6page49"
                [(ngModel)]="libro.ans6Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
          </ul>
        </li>
        <li>
          First: I was eating dinner. <br />

          Then: Jim came
          <ul>
            <li class="d-flex">
              a)While
              <input
                type="text"
                class="form-control m-1"
                name="ans7page49"
                [(ngModel)]="libro.ans7Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
            <li class="d-flex">
              b)
              <input
                type="text"
                class="form-control m-1"
                name="ans8page49"
                [(ngModel)]="libro.ans8Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              while
              <input
                type="text"
                class="form-control m-1"
                name="ans9page49"
                [(ngModel)]="libro.ans9Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
            <li class="d-flex">
              c)When
              <input
                type="text"
                class="form-control m-1"
                name="ans10page49"
                [(ngModel)]="libro.ans10Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
            <li class="d-flex">
              d)
              <input
                type="text"
                class="form-control m-1"
                name="ans11page49"
                [(ngModel)]="libro.ans11Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              when
              <input
                type="text"
                class="form-control m-1"
                name="ans12page49"
                [(ngModel)]="libro.ans12Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
          </ul>
        </li>
        <li>
          First: It began to rain<br />
          Then: I stood under a tree
          <ul>
            <li class="d-flex">
              a)When
              <input
                type="text"
                class="form-control m-1"
                name="ans13page49"
                [(ngModel)]="libro.ans13Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
            <li class="d-flex">
              b)
              <input
                type="text"
                class="form-control m-1"
                name="ans14page49"
                [(ngModel)]="libro.ans14Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              when
              <input
                type="text"
                class="form-control m-1"
                name="ans15page49"
                [(ngModel)]="libro.ans15Page49"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
