<div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"><h4 class="text-center my-3">CHAT TIME</h4></div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct1.PNG?alt=media&token=5eaf4b23-7360-4ad4-ac46-9d88fdba7d4e"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <strong> A. </strong> What is she doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              value="She's cooking"
              id=""
              disabled
            />
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct2.PNG?alt=media&token=a1aa57d3-fb69-456e-bdd7-e8b24668c582"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans1Page7"
              [(ngModel)]="libro.ans1Page7"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <strong> B. </strong>They are playing
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct3.PNG?alt=media&token=578d1432-d1c2-40f7-b0b8-5bd0858ec1d8"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans2Page7"
              [(ngModel)]="libro.ans2Page7"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <strong> B. </strong>We are running ...
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct4.PNG?alt=media&token=3c25d18a-bd7f-4054-86ba-1c159eceee4f"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans3Page7"
              [(ngModel)]="libro.ans3Page7"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <strong> B. </strong>It's sleeping
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct5.PNG?alt=media&token=959c2afe-e27a-47c0-b49d-a03b7e4b2fda"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans4Page7"
              [(ngModel)]="libro.ans4Page7"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <strong> B. </strong>They are drinking
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct6.PNG?alt=media&token=ebe8b563-223b-498b-a6c2-ec56b3f48321"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans5Page7"
              [(ngModel)]="libro.ans5Page7"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans6Page7"
              [(ngModel)]="libro.ans6Page7"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
