<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 2.6</h6>
    </div>
    <div class="col-md-8">
      <b class="my-2">What were they doing?</b>

      <ol>
        <li>
          My children (bake)
          <input
            type="text"
            class="form-control input m-1"
            value="Were baking"
            disabled
            id=""
          />
          a cake when I got home from work
        </li>
        <li>
          He (wear)
          <input
            type="text"
            class="form-control input m-1"
            name="ans1page29"
            [(ngModel)]="libro.ans1Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a helmet when he hit his head
        </li>
        <li>
          They (play)
          <input
            type="text"
            class="form-control input m-1"
            name="ans2page29"
            [(ngModel)]="libro.ans2Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          _ tennis when she got sick.
        </li>
        <li>
          She (ride)
          <input
            type="text"
            class="form-control input m-1"
            name="ans3page29"
            [(ngModel)]="libro.ans3Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          on a roller coaster when she got sick.
        </li>
        <li>
          We (watch)
          <input
            type="text"
            class="form-control input m-1"
            name="ans4page29"
            [(ngModel)]="libro.ans4Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a movie when we fell asleep.
        </li>
        <li>
          He (sleep)
          <input
            type="text"
            class="form-control input m-1"
            name="ans5page29"
            [(ngModel)]="libro.ans5Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          at his desk when his boss fired him.
        </li>
        <li>
          They (have)
          <input
            type="text"
            class="form-control input m-1"
            name="ans6page29"
            [(ngModel)]="libro.ans6Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          an argument when the guests arrived.
        </li>
        <li>
          I (chat)
          <input
            type="text"
            class="form-control input m-1"
            name="ans7page29"
            [(ngModel)]="libro.ans7Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          online when the lights went out.
        </li>
        <li>
          She (talk)
          <input
            type="text"
            class="form-control input m-1"
            name="ans8page29"
            [(ngModel)]="libro.ans8Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to her friend when the teacher asked her a question.
        </li>
      </ol>
    </div>
    <div class="col-md-4">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-22.PNG?alt=media&token=75ebdb8f-c47d-43d9-9f86-b0f4ae7fdf80"
        alt="img"
        class="img-fluid w-75"
      />
    </div>
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 2.7</h6>
    </div>
    <div class="col-md-8">
      <strong class="my-2">THE WRONG DAY</strong>
      <p class="justify">
        Alan and his wife were very embarrassed when they arrived at the
        Franklins’ house yesterday. They though the Franklins’ party was on
        Friday. But the Franklins’ party wasn’t on Friday. It was on Saturday!
      </p>
      <ol class="my-2">
        <li>
          How were Alan and his wife?<input
            type="text"
            class="form-control"
            name="ans9page29"
            [(ngModel)]="libro.ans9Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Why were Alan and his wife embarrassed?<input
            type="text"
            class="form-control"
            name="ans10page29"
            [(ngModel)]="libro.ans10Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          When was the party?<input
            type="text"
            class="form-control"
            name="ans11page29"
            [(ngModel)]="libro.ans11Page29"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-4">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-23.PNG?alt=media&token=30c41230-6abb-4f9d-b6bd-92fd04565101"
        alt="img"
        class="img-fluid"
      />
    </div>
  </div>
</div>
