<div>
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <h4 class="text-center">LET’S TALK</h4>
    </div>
    <div class="col-md-6 col-12">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <ul>
            <li><b>A.</b> You know what; I want to be a father.</li>
            <li><b>B.</b> Well, I guess you should get married</li>
            <li><b>A.</b> Oh, my god. Maybe you`re right.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-9.jpg?alt=media&token=ac5eb150-2538-4f76-878f-ae23c592e4c6"
            class="img-fluid w-75"
            alt="img"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-5.jpg?alt=media&token=fc4e3bf5-c94a-456e-91e4-2f8bf0b31bec"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8">
          <h5>1.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A. Want to mail a package "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-3.jpg?alt=media&token=c5502068-3a1a-46bd-aa1d-63e5c2114d3e"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8">
          <h5>2.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A.  Need to cash a check "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-7.jpg?alt=media&token=b63c2eba-ffe1-4de5-bdc1-9db465b0114e"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8">
          <h5>3.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A. Have a toothache "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-8.jpg?alt=media&token=195791a2-01f7-4a8d-aa2f-9ffbc9d0c055"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8">
          <h5>4.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A.  Flunking all of my courses at school "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-2.jpg?alt=media&token=b3ab5e63-68ff-4204-9e7c-bcb9e2eabecf"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8">
          <h5>5.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A. The plumbing in my apartment doesn’t work            "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F2-4.jpg?alt=media&token=0dbb1104-36c3-4a14-b7a1-1081d9f4ce99"
            class="img-fluid"
            alt="img"
          />
        </div>
        <div class="col-md-8">
          <h5>6.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A.  Need to renew my visa "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
  </div>
</div>
