<div>
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <h4 class="text-center">LET’S TALK</h4>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <ul>
            <li><b>A.</b> You know what; I want to be a father.</li>
            <li><b>B.</b> Well, I guess you should get married</li>
            <li><b>A.</b> Oh, my god. Maybe you`re right.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="" class="img-fluid" alt="img" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img src="" class="img-fluid" alt="img" />
        </div>
        <div class="col-md-8">
          <h5>1.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A. Want to mail a package "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img src="" class="img-fluid" alt="img" />
        </div>
        <div class="col-md-8">
          <h5>2.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A.  Need to cash a check "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img src="" class="img-fluid" alt="img" />
        </div>
        <div class="col-md-8">
          <h5>3.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A. Have a toothache "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img src="" class="img-fluid" alt="img" />
        </div>
        <div class="col-md-8">
          <h5>4.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A.  Flunking all of my courses at school "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img src="" class="img-fluid" alt="img" />
        </div>
        <div class="col-md-8">
          <h5>5.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A. The plumbing in my apartment doesn’t work            "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <img src="" class="img-fluid" alt="img" />
        </div>
        <div class="col-md-8">
          <h5>6.</h5>
          <input
            type="text"
            class="form-control m-1"
            value="A.  Need to renew my visa "
            id=""
            disabled
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans1page8"
            [(ngModel)]="libro.ans1Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans2page8"
            [(ngModel)]="libro.ans2Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="A."
          />
          <input
            type="text"
            class="form-control m-1"
            name="ans3page8"
            [(ngModel)]="libro.ans3Page8"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
            placeholder="B."
          />
        </div>
      </div>
    </div>
  </div>
</div>
