<div>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 1.
                <li>A. Does she like to shop?</li>
                <li>B. Yes, she does, she shops everyday as a matter of fact, he’s shopping now, she really likes to shop.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 2.
                <li>A. Help the poor.</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 3.
                <li>A. Does he always think about her?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 4.
                <li>A. Does he always take the bus to work.</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 5.
                <li>A. Does she sell cookies every day?</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
            <ul>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 6.
                <li>A. make lunch.</li>
                <li>B. <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
    </div>
</div>