<div>
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F102.jpg?alt=media&token=641dfc73-f94a-4f9e-b9f4-fbb5d92199bc"
          class="img-fluid w-75 rounded"
          alt="img"
        />
      </div>
      <ul>
        <!-- audio 73-->
        <audio id="a1p33l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F73.mp3?alt=media&token=f7a7c643-2cfc-4233-8e87-1c6fee62b8ef"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p33l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1.
        <li>A. Does she like to shop?</li>
        <li>
          B. Yes, she does, she shops everyday as a matter of fact, he’s
          shopping now, she really likes to shop.
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F103.jpg?alt=media&token=a1a3f660-f91c-412a-bcd9-1eb0f68ddc5f"
          class="img-fluid w-75 rounded"
          alt="img"
        />
      </div>
      <ul>
        <!-- audio 74-->
        <audio id="a2p33l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F74.mp3?alt=media&token=a4b3656d-5f47-4932-a80d-f0fbc2f65afe"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p33l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2.
        <li>A. Help the poor.</li>
        <li>
          B.
          <input
            type="text"
            class="form-control"
            placeholder="Answer"
            name="ans1page34"
            [(ngModel)]="libro.ans1Page34"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F104.jpg?alt=media&token=64cad85a-6572-4b89-a06f-a9fab57caf70"
          class="img-fluid w-75 rounded"
          alt="img"
        />
      </div>
      <ul>
        <!-- audio 75-->
        <audio id="a3p33l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F75.mp3?alt=media&token=4a31aede-2eac-42c2-94f5-627f0d8e0725"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p33l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3.
        <li>A. Does he always think about her?</li>
        <li>
          B.
          <input
            type="text"
            class="form-control"
            placeholder="Answer"
            name="ans2page34"
            [(ngModel)]="libro.ans2Page34"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F105.jpg?alt=media&token=2f9db183-5cce-413d-9775-98c8359c03bb"
          class="img-fluid w-75 rounded"
          alt="img"
        />
      </div>
      <ul>
        <!-- audio 76-->
        <audio id="a4p33l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F76.mp3?alt=media&token=41918146-83c3-4de2-8e76-ba2772676f59"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p33l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4.
        <li>A. Does he always take the bus to work.</li>
        <li>
          B.
          <input
            type="text"
            class="form-control"
            placeholder="Answer"
            name="ans3page34"
            [(ngModel)]="libro.ans3Page34"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F106.jpg?alt=media&token=8acb6780-3835-492b-9dbd-fa1384cb603e"
          class="img-fluid w-75 rounded"
          alt="img"
        />
      </div>
      <ul>
        <!-- audio 77-->
        <audio id="a5p33l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F77.mp3?alt=media&token=8e015e0e-9c1a-4cde-9309-a8aded56bf3b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p33l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5.
        <li>A. Does she sell cookies every day?</li>
        <li>
          B.
          <input
            type="text"
            class="form-control"
            placeholder="Answer"
            name="an4page34"
            [(ngModel)]="libro.an4Page34"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F107.jpg?alt=media&token=99f21efd-b396-4212-b55a-20e4ef7af348"
          class="img-fluid w-75 rounded"
          alt="img"
        />
      </div>
      <ul>
        <!-- audio 78-->
        <audio id="a?p33l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F78.mp3?alt=media&token=af20f423-dd3b-4058-851b-0950b963e864"
          />
        </audio>
        <button
          (click)="reproducirAudio('a?p33l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6.
        <li>A. make lunch.</li>
        <li>
          B.
          <input
            type="text"
            class="form-control"
            placeholder="Answer"
            name="ans5page34"
            [(ngModel)]="libro.ans5Page34"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ul>
    </div>
  </div>
</div>
