<div>
    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg32_libroA1.png?alt=media&token=a9a35f85-6a1a-4ea3-a76c-70390f46d3b1" alt="">
        </div>
        <div class="col-md-6">
            <h3 class="center">Stop wasting time</h3>
            <ul>
                <li><b>Tom:</b> I don't know what to do. I start off studying but I always end up doing something else.</li>
                <li><b>Mum:</b> I’ll help you but please listen to me.</li>
                <li><b>Tom:</b> Of course! Go on!</li>
                <li><b>Mum:</b> Now first, you need to take away all of the things that stop you working.</li>
                <li><b>Tom:</b> What do you mean?</li>
                <li><b>Mum:</b> First, turn off your music. Music doesn’t help you study.</li>
                <li><b>Tom:</b> OK. No music.</li>
                <li><b>Mum:</b> And put the dog outside!</li>
                <li><b>Tom:</b> What?</li>
                <li><b>Mum:</b> Well, every time the dog goes into your room, you stop studying to pat it. Spot stops you working!</li>
                <li><b>Tom:</b> OK. Bye, Spot!</li>
                <li><b>Mum:</b> Have an apple and a glass of water on your desk before you start. Here you are.</li>
                <li><b>Tom:</b> Why?</li>
                <li><b>Mum:</b> Because then you don’t need to go to the kitchen for something to eat or drink.</li>
                <li><b>Tom:</b> OK.</li>
                <li><b>Mum:</b> Turn off your phone.</li>
                <li><b>Tom:</b> No way!</li>
                <li><b>Mum:</b> Yes. It stops you working. If you turn it off, it’s easier to concentrate. You can read your messages later.</li>
                <li><b>Tom:</b> OK, but I can’t turn off the internet on my computer. I need it to look up information.</li>
                <li><b>Mum:</b> OK, but you can turn off your instant messages.</li>
                <li><b>Tom:</b> I know! Mum?</li>
                <li><b>Mum:</b> Yes?</li>
                <li><b>Tom:</b> Thanks</li>
            </ul>
        </div>
    </div>
</div>