<div>
    <div class="row">
        <div class="col-md-12">
            <h5>ORAL PRACTICE</h5>
            <p>The long weekend. <br> Students must write their activities anywhere they like in the calendar given.<br> When they have finished, explain to the students that they are going to try to find a partner for each activity.
                <br> Tell the students that they must also get involved in other activities and try to fill up their calendar.<br> Students then walk around the class making arrangements with each other for the long weekend.</p>
            <p>The students who manage to fill up their entire calendar are the winners
            </p>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                        <th>Monday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Morning</td>
                        <td><input type="text" class="form-control" name="ans1page59" [(ngModel)]="libro.ans1Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans2page59" [(ngModel)]="libro.ans2Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans3page59" [(ngModel)]="libro.ans3Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td scope="row">Lunch</td>
                        <td><input type="text" class="form-control" name="ans4page59" [(ngModel)]="libro.ans4Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans5page59" [(ngModel)]="libro.ans5Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans6page59" [(ngModel)]="libro.ans6Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td scope="row">Afternoon</td>
                        <td><input type="text" class="form-control" name="ans7page59" [(ngModel)]="libro.ans7Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans8page59" [(ngModel)]="libro.ans8Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans9page59" [(ngModel)]="libro.ans9Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td scope="row">Dinner</td>
                        <td><input type="text" class="form-control" name="ans10page59" [(ngModel)]="libro.ans10Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans11page59" [(ngModel)]="libro.ans11Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans12page59" [(ngModel)]="libro.ans12Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td scope="row">Evening </td>
                        <td><input type="text" class="form-control" name="ans13page59" [(ngModel)]="libro.ans13Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans14page59" [(ngModel)]="libro.ans14Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" name="ans15page59" [(ngModel)]="libro.ans15Page59" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <strong>A. It's a long weekend! Choose seven activities and write them into your calendar.</strong>
        </div>
        <div class="col-md-4">
            <ul>
                <li>play a game of... </li>
                <li>go to the pub </li>
                <li>play computer games </li>
                <li>relax at home </li>
                <li>go shopping at... </li>
                <li>go to a concert to see... </li>
                <li>go to the park </li>
                <li>go to (a place)... </li>
                <li>go to the cinema to watch... </li>
                <li>do the gardening </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>work out at the gym</li>
                <li>go bowling</li>
                <li>meet friends/family members</li>
                <li>go clubbing</li>
                <li>study...</li>
                <li>play (a sport)...</li>
                <li>watch TV/a film at home</li>
                <li>visit...</li>
                <li>have breakfast/lunch/dinner at...</li>
                <li>go cycling </li>
            </ul>
        </div>
        <div class="col-md-4 card border-info mb-3">
            <div class="card-body">
                <p class="card-text justify"><strong class="center">Now, ask a different classmate to join you in each activity.</strong><br><br> If they agree, write their name in your calendar next to the activity. If someone asks you to do something and you are free, write their
                    name and the activity into your calendar.</p>
            </div>
        </div>
        <div class="col-md-12">
            <hr class="my-2">
            <h4>Useful Language: </h4>
            <div class="justify-content-center d-flex">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fburbujas%20de%20chat.png?alt=media&token=fcf7d101-8366-425b-913e-f5863a8bf061" class="img-fluid m-1 rounded w-75 " alt="img">
            </div>
        </div>
    </div>
</div>