<div>
  <div class="row">
    <div class="col-md-6">
      <strong
        >Teacher ask these questions to the students.<br /><br />
        Example:<br />
        Who cooks your meals?<br />
        My mother cooks my meals. OR My mother does<br />
        OR<br />
        I cook my meals. Or I do</strong
      >
      <ol>
        <li>Who teaches you English?</li>
        <li>Who erases the blackboard in class?</li>
        <li>How many students in this class speak Spanish?</li>
        <li>How many students in this class come from Asia?</li>
        <li>Which gasoline costs more regular or unleaded?</li>
        <li>What cars get good gas mileage?</li>
        <li>What cities have a nice climate?</li>
        <li>What drinks contain caffeine?</li>
      </ol>
    </div>
    <div class="col-md-6">
      <strong>ORAL PRACTICE WITH CAN – CAN´T</strong>
      <p class="justify">
        Answer the question. If the answer is no, add a statement with too + an
        adjective.
      </p>
      <strong>
        Example: Can you afford a new car?<br />
        Yes, I can<br />
        Or<br />
        No, I can’t. A new car is too expensive for me</strong
      >
      <ol>
        <li>Can you wear a size 34 shoe?</li>
        <li>Can we go swimming outside today?</li>
        <li>Can we finish this book by next week?</li>
        <li>Can you read an English novel?</li>
        <li>Can you lift a piano?</li>
        <li>Can you walk to school?</li>
        <li>Can you study in the cafeteria?</li>
        <li>Can you have a party for fifty people in your house/apartment?</li>
        <li>Can you retire from your job?</li>
      </ol>
    </div>
  </div>
</div>
