<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 2.10</h6>
    </div>
    <div class="col-md-6 my-2">
      <h6 class="text-center">ORAL PRACTICE</h6>
      <p>Ask your classmates these questions.</p>
      <b
        >Example: Where were you in 1983? <br />
        I was in Thailand</b
      >
      <ol class="my-2">
        <li>
          What was your favourite game when you were a child?
          <input
            type="text"
            class="form-control"
            name="ans4page32"
            [(ngModel)]="libro.ans4Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Who was your best friend when your were a child?
          <input
            type="text"
            class="form-control"
            name="ans5page32"
            [(ngModel)]="libro.ans5Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          What was your best subject when your were at high school?
          <input
            type="text"
            class="form-control"
            name="ans6page32"
            [(ngModel)]="libro.ans6Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Who was the first president (king/minister) of your country?
          <input
            type="text"
            class="form-control"
            name="ans7page32"
            [(ngModel)]="libro.ans7Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Where were you in 1990?
          <input
            type="text"
            class="form-control"
            name="ans8page32"
            [(ngModel)]="libro.ans8Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Where were you at 6 o’clock today?
          <input
            type="text"
            class="form-control"
            name="ans9page32"
            [(ngModel)]="libro.ans9Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <h6 class="text-center my-2">READING ACTIVITY</h6>
      <div class="card border-info p-3 m-1">
        <div class="row">
          <div class="col-md-8">
            <p class="justify">
              When Albert Einstein [was/were] young, his parents worried about
              him. Einstein's parents [was/were] concerned that Albert was
              "slow." Albert [was/were] a terrible student who didn't want to
              attend classes regularly and take exams. Einstein's best-known
              work,the theory of relativity, [was/were] published in
              1905.Unfortunately, the theory of relativity [was/were] used to
              create the atomic bomb.
            </p>
          </div>
          <div class="col-md-4 text-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-31.png?alt=media&token=a573db8d-029a-410b-a706-d154b2eedc3e"
              class="img-fluid"
              alt="img"
            />
          </div>
        </div>
      </div>
      <div class="card border-info p-3 m-1">
        <div class="row">
          <div class="col-md-8">
            <p class="justify">
              Charles Darwin [was/ were]born on February 12, 1809. He [was/
              were] a British naturalist who became famous for his theories of
              evolution and natural selection. In South America, Darwin found
              that fossils of extinct animals [was/were] similar to modern
              species. Many people [was/were] strongly opposed to the idea of
              evolution because it conflicted with their religious beliefs.
              Throughout his life, Darwin [was/were] a reserved, hardworking
              scholar.
            </p>
          </div>
          <div class="col-md-4 text-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-30.png?alt=media&token=c8db7ee3-6b41-47d5-bd25-8e49f3f48baa"
              class="img-fluid"
              alt="img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
