<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 11</span></h1>
      <h3 class="text-center">
        <!-- audio l1 704-->
        <audio id="a1p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F704.mp3?alt=media&token=1dd587a5-b0a3-4711-8ebe-c90592ae436a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        THE HOUSE
      </h3>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F154.jpg?alt=media&token=99cd3b0e-94e3-4259-b066-3f947cf8a408"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 705-->
        <audio id="a2p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F705.mp3?alt=media&token=d53e0ba1-3bb5-41a9-a831-6fa8f6740efc"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Bedroom
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F155.jpg?alt=media&token=d29d25b4-8b1c-4f36-a42f-67b6e248afdc"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 706-->
        <audio id="a3p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F706.mp3?alt=media&token=fb0c8cb0-7972-44af-8292-9bbd39412f35"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Bathroom
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F156.jpg?alt=media&token=75b9e4d0-1a40-4954-8a37-1b3bc146a1cc"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 707-->
        <audio id="a4p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F707.mp3?alt=media&token=801d309b-460a-421f-804d-601041ffec8a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Kitchen
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F157.jpg?alt=media&token=8d5e3f99-8824-49dc-8161-9ca18a83d586"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 708-->
        <audio id="a5p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F708.mp3?alt=media&token=08e2b174-68ea-474a-a980-08894b57f02f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Living room
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F158.jpg?alt=media&token=63091312-e8f5-4642-b9c5-a76360fa2c0f"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 709-->
        <audio id="a6p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F709.mp3?alt=media&token=b367a738-7dd6-428c-b239-e21397001305"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Dining room
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F159.jpg?alt=media&token=d7c1edd7-adcb-4ab8-b90c-a0b1c58223ab"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 710-->
        <audio id="a7p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F710.mp3?alt=media&token=2eebf461-8d4c-43f1-9d15-93e3ee060d09"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Garage
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F160.jpg?alt=media&token=da9911f0-ed8e-4e0e-851f-992c6d56e319"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 711-->
        <audio id="a8p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F711.mp3?alt=media&token=ed7141f1-cf87-4f80-8943-a517cfb7d4f3"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Basement
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F161.jpg?alt=media&token=b9ab8b3d-8351-4720-8930-891c6b733a3e"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 712-->
        <audio id="a9p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F712.mp3?alt=media&token=9207aed2-1122-48ab-a6ab-e482df3c046f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Yard
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F162.jpg?alt=media&token=85588461-7a03-4011-9b2c-447c240109e5"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 713-->
        <audio id="a10p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F713.mp3?alt=media&token=a7247f90-1eda-4c64-a375-45175da0d6b3"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Swimming pool
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F163.jpg?alt=media&token=fee405c2-5630-4d6a-aee6-be64413eaef2"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 714-->
        <audio id="a11p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F714.mp3?alt=media&token=ea9e9b19-8d13-4eee-bbb1-4c5a1aa93d73"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Washing machine
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F164.jpg?alt=media&token=68c52e21-90e8-4092-a449-6d2b61bfe46e"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 715-->
        <audio id="a12p50l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F715.mp3?alt=media&token=d6300c81-70e7-48f0-a5a1-44f5169f607f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a12p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. Bath tub
      </h6>
    </div>
    <div class="col-md-3 my-1 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F165.jpg?alt=media&token=477ad0d8-54c3-4833-b2e2-76a08ccf7c08"
        class="rounded img-fluid p-1 w-75"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 -->
        <audio id="a13p50l1" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p50l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. Attic
      </h6>
    </div>
  </div>
</div>
