<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 11</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> THE HOUSE </h3>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F154.jpg?alt=media&token=99cd3b0e-94e3-4259-b066-3f947cf8a408" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">1. Bedroom</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F155.jpg?alt=media&token=d29d25b4-8b1c-4f36-a42f-67b6e248afdc" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">2. Bathroom</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F156.jpg?alt=media&token=75b9e4d0-1a40-4954-8a37-1b3bc146a1cc" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">3. Kitchen</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F157.jpg?alt=media&token=8d5e3f99-8824-49dc-8161-9ca18a83d586" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">4. Living room</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F158.jpg?alt=media&token=63091312-e8f5-4642-b9c5-a76360fa2c0f" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">5. Dining room</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F159.jpg?alt=media&token=d7c1edd7-adcb-4ab8-b90c-a0b1c58223ab" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">6. Garage </h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F160.jpg?alt=media&token=da9911f0-ed8e-4e0e-851f-992c6d56e319" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">7. Basement</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F161.jpg?alt=media&token=b9ab8b3d-8351-4720-8930-891c6b733a3e" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">8. Yard</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F162.jpg?alt=media&token=85588461-7a03-4011-9b2c-447c240109e5" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">9. Swimming pool</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F163.jpg?alt=media&token=fee405c2-5630-4d6a-aee6-be64413eaef2" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">10. Washing machine</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F164.jpg?alt=media&token=68c52e21-90e8-4092-a449-6d2b61bfe46e" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">11. Garden</h6>
        </div>
        <div class="col-md-3  my-1 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F165.jpg?alt=media&token=477ad0d8-54c3-4833-b2e2-76a08ccf7c08" class="rounded img-fluid p-1 w-75" alt="img">
            <h6 class="text-center">12. Bath tub</h6>
        </div>
    </div>
</div>