<div>
    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">
            <ul>1.
                <li>A. Do you always study at night?</li>
                <li>B. No, I never study at night I always study in the morning.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">
            <ul>2.
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> A. Do you usually play sports?</li>
                <li>B. <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea></li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">
            <ul>3.
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> A.(Cry) Do you often cry when you watch t.v? </li>
                <li>B. <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea></li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">
            <ul>4.
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> A. Do you walk or ride a bus to school? </li>
                <li>B. <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea></li>
            </ul>
        </div>
        <div class="col-md-12">
            <hr>
            <h5>Peer work. Ask and answer the questions.</h5>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When do you bite your nails?
            <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When do you bite your nails?
            <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When do you bite your nails?
            <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When do you bite your nails?
            <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When do you bite your nails?
            <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When do you bite your nails?
            <textarea name="" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
    </div>
</div>