<div>
    <div class="row">
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F120.jpg?alt=media&token=a5f33439-e3f6-426f-a59b-9a75947b0ab2" class="img-fluid m-1 rounded " alt="img">
            <ul>1.
                <li>A. Do you always study at night?</li>
                <li>B. No, I never study at night I always study in the morning.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F121.jpg?alt=media&token=ec912afd-0c28-4b5f-8944-76341a8d5a42" class="img-fluid m-1 rounded " alt="img">
            <ul>2.
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> A. Do you usually play sports?</li>
                <li>B. <textarea name="ans1page39" [(ngModel)]="libro.ans1Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea></li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F122.jpg?alt=media&token=247cdecd-1d25-4c0c-a47a-92f72764473e" class="img-fluid m-1 rounded " alt="img">
            <ul>3.
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> A.(Cry) Do you often cry when you watch t.v? </li>
                <li>B. <textarea name="ans2page39" [(ngModel)]="libro.ans2Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea></li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F123.jpg?alt=media&token=24c7ddbf-35e1-4f4b-8a0f-0f103a90b63b" class="img-fluid m-1 rounded " alt="img">
            <ul>4.
                <li><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> A. Do you walk or ride a bus to school? </li>
                <li>B. <textarea name="ans3page39" [(ngModel)]="libro.ans3Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea></li>
            </ul>
        </div>
        <div class="col-md-12">
            <hr>
            <h5>Peer work. Ask and answer the questions.</h5>
        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fp1.png?alt=media&token=9163e45c-f469-4cb2-8c74-56c851761b9b" class="img-fluid m-1 rounded " alt="img">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When do you bite your nails?
            <textarea name="ans4page39" [(ngModel)]="libro.ans4Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fp2.png?alt=media&token=7dda7445-1b45-495b-84b9-d0c06fc89ef5" class="img-fluid m-1 rounded " alt="img">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When you do you shout?
            <textarea name="ans7page39" [(ngModel)]="libro.ans7Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fp3.png?alt=media&token=b9866238-def6-4704-b6d2-a0738c42015c" class="img-fluid m-1 rounded " alt="img">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> What do you often do when you are sad?
            <textarea name="ans5page39" [(ngModel)]="libro.ans5Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fp4.png?alt=media&token=7eeac659-d4b7-4dbc-94ba-13e1052aeb47" class="img-fluid m-1 rounded " alt="img">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> What do usually do when you are scared?
            <textarea name="ans8page39" [(ngModel)]="libro.ans8Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fp5.png?alt=media&token=37772404-df1a-4885-841d-56340bec7489" class="img-fluid m-1 rounded " alt="img">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> When do you run away?
            <textarea name="ans6page39" [(ngModel)]="libro.ans6Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fp6.png?alt=media&token=df6a9643-4f9d-452f-aa0d-19aa063e01da" class="img-fluid m-1 rounded " alt="img">

            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> Do you get on your knees when you are desperate?
            <textarea name="ans9page39" [(ngModel)]="libro.ans9Page39" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" id="" cols="30" rows="2"></textarea>

        </div>
    </div>
</div>