<div>
  <div class="row">
    <div class="col-md-12 rojo my-3">
      <h4 class="text-white center">REVIEW No. II</h4>
    </div>
    <div class="col-md-12 my-4 text-center">
      <h6 class="text-white center verde2">ACTIVITY 2.5</h6>
      <span class="badge bg-primary m-1"> driving to the beach</span>
      <span class="badge bg-primary m-1"> fixing her fence</span>
      <span class="badge bg-primary m-1"> jogging</span>
      <span class="badge bg-primary m-1"> painting their</span>
      <span class="badge bg-primary m-1"> Playing basketball</span>
      <span class="badge bg-primary m-1"> kateboarding</span>
      <span class="badge bg-primary m-1"> house walking down Main Street</span>
      <span class="badge bg-primary m-1"> Riding his motorcycle</span>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-14.jpg?alt=media&token=f9da2009-3470-4a38-85ce-889cee1446a8"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>1.</h5>
          <strong> A. </strong> What was Paul doing when it started to rain?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              value="He was driving to the beach"
              id=""
              disabled
            />
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-15.jpg?alt=media&token=2b85f511-44ca-43e5-9cb8-edf50edd4981"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>2.</h5>
          <strong> A. </strong>What was Diana doing when it started to rain?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans1Page28"
              [(ngModel)]="libro.ans1Page28"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-16.jpg?alt=media&token=6bf7486d-025b-4ceb-8d36-25786f0093fb"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>3.</h5>
          <strong> A. </strong>What were Mr. and Mrs. Adams doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans2Page28"
              [(ngModel)]="libro.ans2Page28"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-17.jpg?alt=media&token=becb9024-1b28-4d9a-a62e-e3b63b59520e"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>4.</h5>
          <strong> A. </strong>What were you and your friends doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans3Page28"
              [(ngModel)]="libro.ans3Page28"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-18.jpg?alt=media&token=e28554fe-7b2e-4f19-9c0d-b714aae1858e"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>5.</h5>
          <strong> A. </strong>What was Nick doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans4Page28"
              [(ngModel)]="libro.ans4Page28"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-19.jpg?alt=media&token=cd3a3ff3-972b-4d95-be34-24fd43a04e51"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>6.</h5>
          <strong> A. </strong>What was Natalie doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans5Page28"
              [(ngModel)]="libro.ans5Page28"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-20.jpg?alt=media&token=5d554c7c-d9b8-47fb-9f30-b6ffa3104bab"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>7.</h5>
          <strong> A. </strong>What were Tony and Mary doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans6Page28"
              [(ngModel)]="libro.ans6Page28"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F6-21.jpg?alt=media&token=1e7a1057-a740-449e-8f5f-d0e4f3616fb1"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>8.</h5>
          <strong> A. </strong>What were you and Mike doing?
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control"
              class="form-control my-1"
              name="ans7Page28"
              [(ngModel)]="libro.ans7Page28"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
