<div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <h1><span class="badge bg-warning my-2">Class 2</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> TO-BE singular and plural
            </h3>
        </div>
        <div class="col-md-6">
            <h6 class="center">Grammar flash</h6>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fcuadro1.jpg?alt=media&token=299fb4c7-6457-4e68-8080-8135bfd66b23" class="img-fluid m-1 rounded card border-info" alt="img">
        </div>
        <div class="col-md-12">
            <hr class="m-2">
            <h5 class="center">IN THE CLASSROOM</h5>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F16.jpg?alt=media&token=f7d7b653-488f-4013-b709-ae89cd6049d2" class="img-fluid rounded" alt="img">
            <h6 class="center">1. Pencil</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F17.jpg?alt=media&token=b183873c-237b-44f3-80b7-e18068d2c544" class="img-fluid rounded" alt="img">
            <h6 class="center">2. Desk</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F18.jpg?alt=media&token=4f458bdd-caee-445f-a534-05d4e5614e29" class="img-fluid rounded" alt="img">
            <h6 class="center">3. Chair</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F19.jpg?alt=media&token=85043562-2629-4fe9-8c6f-3dc6901f1713" class="img-fluid rounded" alt="img">
            <h6 class="center">4. Board</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F20.jpg?alt=media&token=dd8b4627-3478-4012-9208-046db868e588" class="img-fluid rounded" alt="img">
            <h6 class="center">5. Pen</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F21.jpg?alt=media&token=319e1807-5d6d-4ffc-8484-a014692adbf0" class="img-fluid rounded" alt="img">
            <h6 class="center">6. Table</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F22.jpg?alt=media&token=6059da56-2039-4d64-9a70-87396842c992" class="img-fluid rounded" alt="img">
            <h6 class="center">7. Eraser</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F23.jpg?alt=media&token=b37ad6a8-8711-41cc-97b5-79592c741a9e" class="img-fluid rounded" alt="img">
            <h6 class="center">8. Clock</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F24.jpg?alt=media&token=d12b0b9c-dc0c-4f16-b9c5-b1d8a5a2c55c" class="img-fluid rounded" alt="img">
            <h6 class="center">9. Bag</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F25.png?alt=media&token=83a91076-7afe-454e-8adb-9dce74ccfc83" class="img-fluid rounded" alt="img">
            <h6 class="center">10. Wall</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F26.png?alt=media&token=d24d12de-07c0-45f3-ac40-6d71f7d29f04" class="img-fluid rounded" alt="img">
            <h6 class="center">11. Map</h6>
        </div>
        <div class="col-md-2 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F27.jpg?alt=media&token=cc3b36d1-0f36-4051-b40b-9280d782800e" class="img-fluid rounded" alt="img">
            <h6 class="center">12. Apple</h6>
        </div>
    </div>
</div>