<div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <h1><span class="badge bg-warning my-2">Class 2</span></h1>
      <h3 class="text-center">TO-BE singular and plural</h3>
    </div>
    <div class="col-md-6">
      <h6 class="center">Grammar flash</h6>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fcuadro1.jpg?alt=media&token=299fb4c7-6457-4e68-8080-8135bfd66b23"
        class="img-fluid m-1 rounded card border-info"
        alt="img"
      />
    </div>
    <div class="col-md-12">
      <hr class="m-2" />
      <h5 class="center">IN THE CLASSROOM</h5>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F16.jpg?alt=media&token=f7d7b653-488f-4013-b709-ae89cd6049d2"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 103-->
        <audio id="a1p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F103.mp3?alt=media&token=47e0167b-0961-4c31-8cee-8945b927e0f0"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Pencil
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F17.jpg?alt=media&token=b183873c-237b-44f3-80b7-e18068d2c544"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 104-->
        <audio id="a2p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F104.mp3?alt=media&token=6903bb49-97a4-44c1-840a-5e351c0ba698"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Desk
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F18.jpg?alt=media&token=4f458bdd-caee-445f-a534-05d4e5614e29"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 105-->
        <audio id="a3p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F105.mp3?alt=media&token=0c03e3c4-c22f-4dfe-b975-056444e5663d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Chair
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F19.jpg?alt=media&token=85043562-2629-4fe9-8c6f-3dc6901f1713"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 106-->
        <audio id="a4p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F106.mp3?alt=media&token=1ffa3b84-a159-4af0-91cc-959608e2de05"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Board
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F20.jpg?alt=media&token=dd8b4627-3478-4012-9208-046db868e588"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 107-->
        <audio id="a5p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F107.mp3?alt=media&token=2534fcda-d371-43af-bd21-0ceac0bc1539"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Pen
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F21.jpg?alt=media&token=319e1807-5d6d-4ffc-8484-a014692adbf0"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 108-->
        <audio id="a6p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F108.mp3?alt=media&token=b39da8ef-8bc5-462a-97c2-16ac6f73f552"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Table
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F22.jpg?alt=media&token=6059da56-2039-4d64-9a70-87396842c992"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 109-->
        <audio id="a7p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F109.mp3?alt=media&token=bec03ad6-71d8-476a-b745-9b66ecb5de20"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Eraser
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F23.jpg?alt=media&token=b37ad6a8-8711-41cc-97b5-79592c741a9e"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 110-->
        <audio id="a8p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F110.mp3?alt=media&token=a4f64520-fc60-4fc3-b9f3-57e380d29202"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Clock
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F24.jpg?alt=media&token=d12b0b9c-dc0c-4f16-b9c5-b1d8a5a2c55c"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 111-->
        <audio id="a9p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F111.mp3?alt=media&token=c3837e77-85b9-4d5f-8079-c5ee45a00971"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Bag
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F25.png?alt=media&token=83a91076-7afe-454e-8adb-9dce74ccfc83"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 112-->
        <audio id="a10p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F112.mp3?alt=media&token=b941059d-c28e-441e-b59b-1b8ebc4f368f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Wall
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F26.png?alt=media&token=d24d12de-07c0-45f3-ac40-6d71f7d29f04"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 113-->
        <audio id="a11p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F113.mp3?alt=media&token=a3a9ddfd-53d9-4dec-8608-3e8eaf74b053"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. Map
      </h6>
    </div>
    <div class="col-md-2 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F27.jpg?alt=media&token=cc3b36d1-0f36-4051-b40b-9280d782800e"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 114-->
        <audio id="a12p8l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F114.mp3?alt=media&token=a882b474-76ae-4083-9fd1-52ecf7fdf579"
          />
        </audio>
        <button
          (click)="reproducirAudio('a12p8l1')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. Apple
      </h6>
    </div>
  </div>
</div>
