<div>
    <div class="row">
        <div class="col-md-12">
            <h1><span class="badge bg-warning my-2">Class 8</span></h1>
            <h3 class="text-center">Greeting #8</h3>
        </div>
        <div class="col-md-12 d-flex align-items-center justify-content-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg42_libroA1.png?alt=media&token=68cbcf36-d1c7-4a20-847f-93eff93a21b6" class="img-fluid " alt="">
        </div>
    </div>
</div>