<div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="center"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> READ, SPEAK & WRITE </h5>
            <p class="justify">A. Read the e-mail about Rosa’s new job. Guess her job. Then discuss your idea with a partner.</p>
            <p class="justify">To: Sato,<br> Akiko Subject: New Job!</p>
            <p class="justify">Hi Akiko, Good news! I have a new job. I work for an office supply company. I have a busy schedule, but I love the work. On Monday, I go to the office. I meet with my boss and plan my schedule for the week. I visit customers and sell our products
                during the week. I drive to different cities here in New York. I also fly to California every month. I work really hard, but the job pays well, so I’m happy.
                <br>See you soon!<br> Rosa.
            </p>
            <strong>B. Write five sentences about Rosa’s new job. Use the information from the e-mail .</strong>
            <ul>
                <li><input type="text" class="form-control" placeholder="Answer" name="" id="" value="Rosa goes to the office on Monday." disabled></li>
                <li><input type="text" class="form-control" placeholder="Answer" name="ans1page40" [(ngModel)]="libro.ans1Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><input type="text" class="form-control" placeholder="Answer" name="ans2page40" [(ngModel)]="libro.ans2Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><input type="text" class="form-control" placeholder="Answer" name="ans3page40" [(ngModel)]="libro.ans3Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li><input type="text" class="form-control" placeholder="Answer" name="ans4page40" [(ngModel)]="libro.ans4Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ul>
            <p class="justify"><strong>APPLY.</strong> In your notebook, write a paragraph about a friend’s or family member’s job. Do not write the name of his or her job. Use the model to help you.
                <br><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> My cousin Maya has an interesting job. She has ballet class every morning. Then, she goes to the gym and exercises for two hours. She has a short break
                after lunch, and then she practices her dances. She gives performances on the weekends.</p>
        </div>
        <div class="col-md-6">

            <strong>WHAT IS HER JOB? <input type="text" class="form-control" placeholder="Answer"  name="ans5page40" [(ngModel)]="libro.ans5Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></strong>
            <strong>• Work with a partner. Exchange paragraphs and try to guess the 
                person’s job.</strong>
            <hr>
            <ol class="mt-2">
                <h6>EXERCISE: Add the FREQUENCY ADVERB in italics to the sentence.
                </h6>
                <li class="m-1"> Always Ann is on time for class. <input class="form-control" type="text" placeholder="Answer" id="" value="She is ALWAYS on time for class." disabled></li>
                <li class="m-1"> Always Ann comes to class on time. <input class="form-control" type="text" placeholder="Answer" name="ans6page40" [(ngModel)]="libro.ans6Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="m-1"> Often Sue is late for class. <input class="form-control" type="text" placeholder="Answer" name="ans7page40" [(ngModel)]="libro.ans7Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="m-1"> Often Sue comes to class late. <input class="form-control" type="text" placeholder="Answer" name="ans8page40" [(ngModel)]="libro.ans8Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="m-1"> Never Ron is happy. <input class="form-control" type="text" placeholder="Answer" name="ans9page40" [(ngModel)]="libro.ans9Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="m-1"> Never Ron smiles. <input class="form-control" type="text" placeholder="Answer" name="ans10page40" [(ngModel)]="libro.ans10Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="m-1"> Usually Bob is at home in the evening. <input class="form-control" type="text" placeholder="Answer" name="ans11page40" [(ngModel)]="libro.ans11Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="m-1"> Usually Bob stays at home in the evening. <input class="form-control" type="text" placeholder="Answer" name="ans12page40" [(ngModel)]="libro.ans12Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="m-1"> Seldom Tom studies at the library in the evening. <input class="form-control" type="text" placeholder="Answer" name="ans13page40" [(ngModel)]="libro.ans13Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="m-1"> Seldom Tom is at the library in the evening. <input class="form-control" type="text" placeholder="Answer" name="ans14page40" [(ngModel)]="libro.ans14Page40" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ol>
        </div>
    </div>
</div>