<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center my-2"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> GOING DEEPER</h3>
        </div>
        <div class="col-md-4 center">
            <p class="justify mt-2">My husband and I are very lucky. We have many close friends in this city, and they’re all interesting people.</p>


            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F40.PNG?alt=media&token=18087638-3bae-4ad4-a45d-8626a129790d" class="img-fluid rounded my-2" alt="">

            <p class="justify"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> Our friend Greta is an actress. We see her when she isn’t making a movie in Hollywood. When we get together with her, she always tells us about her life in Hollywood
                as a movie star. Greta is a very close friend. We like her very much.</p>
        </div>
        <div class="col-md-4">

            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F41.PNG?alt=media&token=47a3f7a2-b45d-4597-9894-8a717daefa51" class="img-fluid rounded my-2" alt="">
            <p class="justify"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> Our friend Dan is a Scientist. We see him when he isn’t busy in his laboratory. When we get together with him, he always tells us about his new experiments.
                Dan is very close friend. We like him very much.</p>
        </div>
        <div class="col-md-4 center">


            <p class="justify"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> Our friend Bob and Carol are famous television news reporters. We see them they aren’t traveling around the world. When we get together with them, they always
                tell us about their conversations with presidents and prime ministers. Bob and Carol are very close friends. We like them very much.</p>
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F42.PNG?alt=media&token=34cc0fd8-b8e4-4e90-8f7a-1d4ac02f2b9d" class="img-fluid rounded my-2" alt="">
            <p class="justify"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> Unfortunately, we don’t see Greta, Dan, Bob, or Carol very often. In fact, we rarely see them because they’re usually so busy. But we think about them all the
                time.
            </p>
        </div>
    </div>
</div>