<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">UNIT 7</span></h1>
      <h3 class="text-center">AUXILIARY CAN</h3>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-1.jpg?alt=media&token=bd190105-ba7a-4d05-a835-5cbaa7d0ce3c"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a3p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F1.skate.mp3?alt=media&token=46ae9e10-72eb-48d5-9574-2e643dbf842c"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Skate
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-2.jpg?alt=media&token=2e51ef9c-9d5a-4dea-83e9-0ff470fc25a6"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a4p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F2.draw.mp3?alt=media&token=65390fea-e5ef-4555-9b87-44b9a08be98f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Draw
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-3.jpg?alt=media&token=e4a3bf1a-d283-42e9-805e-11c6add6dca5"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a5p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F3.climb.mp3?alt=media&token=d6c61cba-cef3-4686-b8a5-66065e262be9"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Climb
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-4.jpg?alt=media&token=4301362d-d591-4151-90a1-a36eda4e883e"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a6p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F4.ski.mp3?alt=media&token=a45ea856-5f5f-4a83-a916-298cd248a243"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Ski
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-5.jpg?alt=media&token=469bef9b-36e5-44bc-bd7d-f284ab4d85f9"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a7p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F5.sing.mp3?alt=media&token=e7764ad3-4730-4bd6-b935-23340ba53f6d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Sing
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-6.jpg?alt=media&token=b565c42c-927f-4972-8451-ba7c6db3012a"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a8p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F6.go%20to%20the%20restaurant.mp3?alt=media&token=93368322-523e-4d17-875b-907fe361928d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Go to the restaurant
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-7.jpg?alt=media&token=290c7fb8-ee2d-4b27-beec-d91d755d0771"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a9p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F7.dive.mp3?alt=media&token=7ddbe5f6-901c-44ca-be47-9a99647395c4"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Dive
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-8.jpg?alt=media&token=ccf2f686-623e-4567-8406-687210623fad"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a10p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F8.speak.mp3?alt=media&token=e7cee79e-f21f-4546-98cc-9b28b4a26dd1"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Speak
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-9.jpg?alt=media&token=6a0e4a35-3a83-4a32-a122-d672c27f5e39"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a11p32l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F9.go%20dancing.mp3?alt=media&token=960077af-21bb-48eb-a422-356c70bf5e4f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p32l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Go dancing
      </h6>
    </div>
  </div>
</div>
