<div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
                </div>
                <div class="col-md-6">
                    <strong>A. </strong><input type="text" class="form-control " name="ans1page34" [(ngModel)]="libro.ans1Page34" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <strong>B. </strong><textarea name="ans2page34" [(ngModel)]="libro.ans2Page34" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control input" cols="28" rows="3"></textarea>
                </div>
                <hr>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
                </div>
                <div class="col-md-6">
                    <strong>A. </strong><input type="text" class="form-control " name="ans3page34" [(ngModel)]="libro.ans3Page34" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <strong>B. </strong><textarea name="ans4page34" [(ngModel)]="libro.ans4Page34" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control input" cols="28" rows="3"></textarea>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <div class=" col-md-12 card border-info mb-3">

                    <div class="card-body">
                        <h5 class="card-title">TONGUE TWISTERS</h5>
                        <p class="card-text">• Sally sells seashells by the seashore<br> • Sheep shouldn't sleep in a shack, sheep should sleep in a shed</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <p class="center">Ten o'clock</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <p class="center">Twelve fifteen / a quarter after twelve</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <p class="center">Eight thirty / half past eight</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <p class="center">Nine forty-five / A quarter to ten</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <p class="center">Ten oh five</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <p class="center">Twelve twenty / twenty after twelve</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <p class="center">Seven forty / twenty to eight</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
                    <p class="center">Eleven fifty-five / five to twelve</p>
                </div>
            </div>
        </div>
    </div>
</div>