<div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
                </div>
                <div class="col-md-6">
                    <strong>A. </strong><input type="text" class="form-control " name="" id="">
                    <strong>B. </strong><textarea name="" id="" class="form-control input" cols="30" rows="3"></textarea>
                </div>
                <hr>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
                </div>
                <div class="col-md-6">
                    <strong>A. </strong><input type="text" class="form-control " name="" id="">
                    <strong>B. </strong><textarea name="" id="" class="form-control input" cols="30" rows="3"></textarea>
                </div>
            </div>

        </div>
    </div>
</div>