<div>
    <div class="row">

        <div class="col-md-12">
            <h4 class="center">Useful Vocabulary and Expressions</h4>
        </div>
        <div class=" col-md-6 table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Taste</th>
                        <th>In your language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Salty bitter</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans1page14" [(ngModel)]="libro.ans1Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Sweet</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans2page14" [(ngModel)]="libro.ans2Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Tangy</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans3page14" [(ngModel)]="libro.ans3Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Bland Rich</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans4page14" [(ngModel)]="libro.ans4Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Weak</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans5page14" [(ngModel)]="libro.ans5Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" col-md-6 table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Expressions</th>
                        <th>In your language</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Hold the</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans6page14" [(ngModel)]="libro.ans6Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>For her or to go</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans7page14" [(ngModel)]="libro.ans7Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Your ayes are bigger </td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans8page14" [(ngModel)]="libro.ans8Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Than your stomach</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans9page14" [(ngModel)]="libro.ans9Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Second helping</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans10page14" [(ngModel)]="libro.ans10Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Help Yourself</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans11page14" [(ngModel)]="libro.ans11Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>I Will treat you</td>
                        <td><input type="text" placeholder="Answer" class="form-control" name="ans12page14" [(ngModel)]="libro.ans12Page14" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h4 class="center">Audio 3 script</h4>
            <p>
                <b>Host:</b> At exam time it is important to sleep well. Today we have Doctor Baker with us in the studio and he is going to give us five top tips for getting a good night’s sleep. Welcome to the show, Doctor Baker. <br>
                <b>Dr Baker:</b> Thank you. It’s great to be here. Let’s start with tip one. Don’t go to bed with the television on. Some people think they can sleep well with the TV on, but the noise and lights mean you don’t really sleep well, so turn
                it off! <br>
                <b>Tip two:</b> Don’t think too much before bedtime. Do your hardest homework earlier in the evening. Do easier homework later. If your brain is too busy and full of ideas it takes longer to get to sleep. <br>
                <b>Tip three:</b> Don’t play video games for an hour before you go to sleep. They also make your brain too busy and active. <br>
                <b>Tip four:</b> Turn off your cell phone when you go to bed. What is so important that it can’t wait until the morning? If possible, leave your phone in another room. <br>
                <b>Tip five:</b> Play music if you like. But don’t play it too loud. Turn the sound down low. <br>
                <b>Host:</b> Thank you, Doctor. That is very useful advice for our young listeners.

            </p>
        </div>
    </div>
</div>