<div>
    <div class="row">

        <div class="col-md-12">
            <b>2.</b> Check your understanding: gap fill
            <br> <strong>Do this exercise while you listen .</strong> complete the gaps with a word or phrase
            <br><br>
            <ol>
                <li class="my-2">
                    <strong>Jack:</strong> Hi, Ismael. How are you?
                    <br>
                    <strong>Ismael: </strong>Hi, Jack. I'm OK but I've got loads of <input type="text">
                </li>
                <li class="my-2">
                    <strong>Jack:</strong> We don't know. We can't decide. There's that new <input type="text"> film, 'Light and dark'

                </li>
                <li class="my-2">
                    <strong>Jack:</strong> OK, Well there´s a <input type="text" name="" id=""> about a school.

                </li>
                <li class="my-2">
                    <strong>Ismael: </strong>Oh, no more school, please! What about a <input type="text"> ?
                </li>
                <li class="my-2">
                    <strong>Jack:</strong> What? really? No, I hate romantic films, I like <input type="text">
                </li>
                <li class="my-2">
                    <strong>Ismael: </strong>Well, there's a new science fiction film, 'Alien attacks'.
                    <br>
                    <strong>Jack:</strong> OK, I like <input type="text">. Let's see that.
                </li>
                <li class="my-2">
                    <strong>Ismael: </strong>At 8 o'Clock. Let's meet at 7.30 <input type="text"> the cinema.
                </li>

                <li class="my-2">
                    <strong>Jack:</strong> OK, <input type="text"> you <input type="text">.
                    <br>
                    <strong>Ismael: </strong>Bye.
                </li>
            </ol>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>What kind of films do you like?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" placeholder="I like ..." class="form-control"></td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="I don´t really like ..." class="form-control"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>