<div>
    <div class="row">

        <div class="col-md-o12">
            <h3 class="center"> Audio 1 script </h3>
            <ul>
                <li><strong>Aurelia:</strong> Who’s that boy over there, Hannah?</li>
                <li><strong>Hannah:</strong> That? Er, that’s my brother, Jem.</li>
                <li><strong>Aurelia:</strong> Your brother?</li>
                <li><strong>Hannah:</strong> Yes, and that’s his girlfriend Lucy. The pretty girl with the long, brown hair.</li>
                <li><strong>Aurelia:</strong> Oh right. So, you’ve got a brother?</li>
                <li><strong>Hannah:</strong> No, I’ve got two brothers. Jem and Alex.</li>
                <li><strong>Aurelia:</strong> Really? ... and ... how old is Alex?</li>
                <li><strong>Hannah:</strong> Alex and Jem are twins, they’re both 15.</li>
                <li><strong>Aurelia:</strong> 15, mmm ... and does Alex look like Jem?</li>
                <li><strong>Hannah:</strong> They’re exactly the same! They’re both tall and thin. They’ve both got short brown hair, green eyes and big ears!</li>
                <li><strong>Aurelia:</strong> They’re not big, I think they’re cute. And ... has Alex got a girlfriend</li>
            </ul>
            <h4 class="center"> Questions about the audio </h4>
            <ol>
                Answer with complete sentences
                <li>Who is Aurelia asking about? <input type="text" name="ans1page6" [(ngModel)]="libro.ans1Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer" class="form-control "></li>
                <li>Hannahs brother has a brother or a girlfriend? <input type="text" name="ans2page6" [(ngModel)]="libro.ans2Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer" class="form-control "></li>
                <li>How many brothers does Hannah have? <input type="text" name="ans3page6" [(ngModel)]="libro.ans3Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer" class="form-control "></li>
                <li>Alex and jem look the same or different? <input type="text" name="ans4page6" [(ngModel)]="libro.ans4Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer" class="form-control "></li>
            </ol>
            <h4 class="center">Reading comprehension </h4>
            <p>Hi! My name is Jacob and I am from Argentina. I am 10 years old and everyone says I am a funny boy. I think it is true. Whenever I go to a party or spend time with my family, I make people laugh. Sometimes I tell funny stories, sometimes I
                make a funny face. My favorite thing to do is to tell funny stories. I also like reading, and playing video games. My older brother Thiago is also funny. He is 12 years old. We love to make each other laugh. Sometimes we have so much fun
                that we get very noisyand our Mom and Dad yell at us to be quiet. Thiago and I always have a good time together. He is my best friend. I really like having a best friend who is my brother.
            </p>
        </div>
        <div class="col-md-6">
            <strong>1. What country is Jacob from? </strong>
            <input type="text" name="ans5page6" [(ngModel)]="libro.ans5Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer">
        </div>
        <div class="col-md-6">
            <strong>2.Who is older? Jacob or thiago ? </strong>
            <input type="text" name="ans6page6" [(ngModel)]="libro.ans6Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer">
        </div>
        <div class="col-md-6">
            <strong>3. Jacob likes to tell funny stories. What else does he like to do?</strong>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q3-" id="la1p7-q3-o1" value="la1p7-q3-o1" [checked]="libro['la1p7-q3']==='la1p7-q3-o1'" [(ngModel)]="libro['la1p7-q3']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q3-o1">
                    Read books
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q3-" id="la1p7-q3-o2" value="la1p7-q3-o2" [checked]="libro['la1p7-q3']==='la1p7-q3-o2'" [(ngModel)]="libro['la1p7-q3']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q3-o2">
                  write books
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q3-" id="la1p7-q3-o3" value="la1p7-q3-o3" [checked]="libro['la1p7-q3']==='la1p7-q3-o3'" [(ngModel)]="libro['la1p7-q3']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q3-o3">
                    Make noise
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <strong>4. What is Jacob's favorite thing to do?</strong>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q4-" id="la1p7-q4-o1" value="la1p7-q4-o1" [checked]="libro['la1p7-q4']==='la1p7-q4-o1'" [(ngModel)]="libro['la1p7-q4']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q4-o1">
                    Read funny books
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q4-" id="la1p7-q4-o2" value="la1p7-q4-o2" [checked]="libro['la1p7-q4']==='la1p7-q4-o2'" [(ngModel)]="libro['la1p7-q4']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q4-o2">
                    Tell funny stories
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q4-" id="la1p7-q4-o3" value="la1p7-q4-o3" [checked]="libro['la1p7-q4']==='la1p7-q4-o3'" [(ngModel)]="libro['la1p7-q4']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q4-o3">
                    Play with his sisters
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <strong>5. Why do Jacob's parents yell at him?</strong>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q5-" id="la1p7-q5-o1" value="la1p7-q5-o1" [checked]="libro['la1p7-q5']==='la1p7-q5-o1'" [(ngModel)]="libro['la1p7-q5']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q5-o1">
                    He makes people laugh
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q5-" id="la1p7-q5-o2" value="la1p7-q5-o2" [checked]="libro['la1p7-q5']==='la1p7-q5-o2'" [(ngModel)]="libro['la1p7-q5']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q5-o2">
                    He tells funny stories.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q5-" id="la1p7-q5-o3" value="la1p7-q5-o3" [checked]="libro['la1p7-q5']==='la1p7-q5-o3'" [(ngModel)]="libro['la1p7-q5']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q5-o3">
                    He is very noisy
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <strong>6. Who is He?</strong>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q6-" id="la1p7-q6-o1" value="la1p7-q6-o1" [checked]="libro['la1p7-q6']==='la1p7-q6-o1'" [(ngModel)]="libro['la1p7-q6']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q6-o1">
                    Jacob
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q6-" id="la1p7-q6-o2" value="la1p7-q6-o2" [checked]="libro['la1p7-q6']==='la1p7-q6-o2'" [(ngModel)]="libro['la1p7-q6']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q6-o2">
                    Thiago
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="la1p7-q6-" id="la1p7-q6-o3" value="la1p7-q6-o3" [checked]="libro['la1p7-q6']==='la1p7-q6-o3'" [(ngModel)]="libro['la1p7-q6']" (change)="guardarInfo()">
                <label class="form-check-label" for="la1p7-q6-o3">
                    Dad
                </label>
            </div>
        </div>
    </div>
</div>