<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center my-3"> EXERCISES</h3>
        </div>
        <div class="col-md-3 col-12">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"> <strong>A.</strong> <input class="my-1" type="text" name="" id="">? <br> <strong>B.</strong> Yes, <input class="my-1" type="text" name="" id=""><br> <strong>A.</strong>
            <input class="my-1" type="text" name="" id="">?
            <br> <strong>B.</strong> No, <input class="my-1" type="text" name="" id=""><br> <strong>A.</strong> <input class="my-1" type="text" name="" id=""> <br> <strong>B.</strong> <input class="my-1" type="text" name="" id="">
        </div>
        <div class="col-md-3 col-12">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"> <strong>A.</strong> <input class="my-1" type="text" name="" id="">? <br> <strong>B.</strong> Yes, <input class="my-1" type="text" name="" id=""><br> <strong>A.</strong>
            <input class="my-1" type="text" name="" id="">?
            <br> <strong>B.</strong> No, <input class="my-1" type="text" name="" id=""><br> <strong>A.</strong> <input class="my-1" type="text" name="" id=""> <br> <strong>B.</strong> <input class="my-1" type="text" name="" id="">
        </div>
        <div class="col-md-3 col-12">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"> <strong>A.</strong> excuse me, I lost my umbrella. <br> <strong>B.</strong> What’s your name? <br> <strong>A.</strong> My name is Fabian
            <br> <strong>B.</strong> what Is your phone number? <br> <strong>A.</strong> 313 630 47 62 <br> <strong>B.</strong> Is this your umbrella?<br> <strong>A.</strong> Oh! Yes, it is. Thank you. <br> <strong>B.</strong> You’re welcome. <br> <strong></strong>
        </div>
        <div class="col-md-3 col-12">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img"> <strong>A.</strong> <input class="my-1" type="text" name="" id=""> <br> <strong>B.</strong> <input class="my-1" type="text" name="" id=""> <br> <strong>A.</strong> <input class="my-1"
                type="text" name="" id="">
            <br> <strong>B.</strong><input class="my-1" type="text" name="" id=""> <br> <strong>A.</strong> <input class="my-1" type="text" name="" id=""> <br> <strong>B.</strong> <input class="my-1" type="text" name="" id=""><br> <strong>A.</strong>
            <input class="my-1" type="text" name="" id=""> <br> <strong>B.</strong> <input class="my-1" type="text" name="" id=""> <br> <strong></strong>
        </div>
    </div>
</div>