<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center my-3"> EXERCISES</h3>
        </div>
        <div class="col-md-3 col-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F26.png?alt=media&token=d24d12de-07c0-45f3-ac40-6d71f7d29f04" class="img-fluid m-1 rounded" alt="img"> <strong>A.</strong> <input class="my-1 form-control input"
                type="text" name="ans1Page12" [(ngModel)]="libro.ans1Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">? <br> <strong>B.</strong> Yes, <input size=60 style="width : 60px; height : 30px" class="my-1 form-control input" type="text"
                name="ans2Page12" [(ngModel)]="libro.ans2Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br> <strong>A.</strong>
            <input class="my-1 form-control input" type="text" name="ans3Page12" [(ngModel)]="libro.ans3Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">?
            <br> <strong>B.</strong> No, <input size=100 style="width : 100px; height : 30px" class="my-1 form-control input" type="text" name="ans4Page12" [(ngModel)]="libro.ans4Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br>            <strong>A.</strong> <input class="my-1 form-control input" type="text" name="ans5Page12" [(ngModel)]="libro.ans5Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>B.</strong> <input class="my-1 form-control input"
                type="text" name="ans6Page12" [(ngModel)]="libro.ans6Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-3 col-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F34.jpg?alt=media&token=cd38fc0e-7eec-4af2-a030-073a4d9e7f66" class="img-fluid m-1 rounded" alt="img"> <strong>A.</strong> <input class="my-1 form-control input"
                type="text" name="ans7Page12" [(ngModel)]="libro.ans7Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">? <br> <strong>B.</strong> Yes, <input size=120 style="width : 120px; height : 30px" class="my-1 form-control input" type="text"
                name="ans8Page12" [(ngModel)]="libro.ans8Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br> <strong>A.</strong>
            <input class="my-1 form-control input" type="text" name="ans9Page12" [(ngModel)]="libro.ans9Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">?
            <br> <strong>B.</strong> No, <input size=120 style="width : 120px; height : 30px" class="my-1 form-control input" type="text" name="ans10Page12" [(ngModel)]="libro.ans10Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br>            <strong>A.</strong> <input class="my-1 form-control input" type="text" name="ans11Page12" [(ngModel)]="libro.ans11Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>B.</strong> <input class="my-1 form-control input"
                type="text" name="ans12Page12" [(ngModel)]="libro.ans12Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-3 col-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F35.PNG?alt=media&token=c26d9ed3-b2ac-4205-bdb1-afb7d3043d22" class="img-fluid m-1 rounded" alt="img"> <strong>A.</strong> excuse me, I lost
            my umbrella. <br> <strong>B.</strong> What’s your name? <br> <strong>A.</strong> My name is Fabian
            <br> <strong>B.</strong> what Is your phone number? <br> <strong>A.</strong> 313 630 47 62 <br> <strong>B.</strong> Is this your umbrella?<br> <strong>A.</strong> Oh! Yes, it is. Thank you. <br> <strong>B.</strong> You’re welcome. <br> <strong></strong>
        </div>
        <div class="col-md-3 col-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F36.PNG?alt=media&token=f03ac41e-e53d-4bf2-9228-9f1e244de7d1" class="img-fluid m-1 rounded" alt="img"> <strong>A.</strong> <input class="my-1 form-control input"
                type="text" name="ans13Page12" [(ngModel)]="libro.ans13Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>B.</strong> <input class="my-1 form-control input" type="text" name="ans14Page12" [(ngModel)]="libro.ans14Page12"
                (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>A.</strong> <input class="my-1 form-control input" type="text" name="ans15Page12" [(ngModel)]="libro.ans15Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"
                id="">
            <br> <strong>B.</strong><input class="my-1 form-control input" type="text" name="ans16Page12" [(ngModel)]="libro.ans16Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>A.</strong> <input class="my-1 form-control input"
                type="text" name="ans17Page12" [(ngModel)]="libro.ans17Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>B.</strong> <input class="my-1 form-control input" type="text" name="ans18Page12" [(ngModel)]="libro.ans18Page12"
                (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br> <strong>A.</strong>
            <input class="my-1 form-control input" type="text" name="ans19Page12" [(ngModel)]="libro.ans19Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>B.</strong> <input class="my-1 form-control input" type="text" name="ans20Page12"
                [(ngModel)]="libro.ans20Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong></strong>
        </div>
    </div>
</div>