<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 4</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> PREPOSITIONS OF PLACES </h3>
        </div>
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fp1.png?alt=media&token=36721e7d-befa-4eb4-becb-718294e23980" class="img-fluid m-1" alt="img">
            <h6 class="center">1. AT</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fp2.png?alt=media&token=7f6398c6-1cf0-4a0f-98c2-0c6ea4701c66" class="img-fluid m-1" alt="img">
            <h6 class="center">2. ON</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fp3.png?alt=media&token=213ae0e7-2e79-4230-8477-159ae8eb36de" class="img-fluid m-1" alt="img">
            <h6 class="center">3. IN</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fp4.png?alt=media&token=3cfe5445-9361-49a4-8375-8e953cb3a008" class="img-fluid m-1" alt="img">
            <h6 class="center">4. UNDER</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fp5.png?alt=media&token=f9723fed-6976-4d22-ba81-5ebf6dc98c2e" class="img-fluid m-1" alt="img">
            <h6 class="center">5. OVER</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fp6.png?alt=media&token=081e615b-3c4b-4697-9a91-d28a1497c6b8" class="img-fluid m-1" alt="img">
            <h6 class="center">6. IN FRONT OF</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fp7.png?alt=media&token=0344a12e-1720-4e4d-a06a-69d6614b9516" class="img-fluid m-1" alt="img">
            <h6 class="center">7. BEHIND</h6>
        </div>
        <div class="col-md-3 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fp8.png?alt=media&token=fe57c1f3-a7cb-4c08-817c-86147330438c" class="img-fluid m-1" alt="img">
            <h6 class="center">8. NEXT TO</h6>
        </div>
    </div>
</div>