<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge morado my-2">UNIT 8 </span></h1>
      <h3 class="text-center">
        <!-- audio  -->
        <audio id="a1p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a1p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        COUNT – NON – COUNT NOUNS
      </h3>
      <h6>VOCABULARY</h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-1.jpg?alt=media&token=038cb6dc-3b42-4b8f-9d00-5081671cbcea"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 80-->
        <audio id="a2p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a2p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Potatoes
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-2.webp?alt=media&token=9bff6ebf-a7cc-4369-a7cf-2c26d0b66d5a"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 81-->
        <audio id="a3p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a3p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Tomatoes
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-3.webp?alt=media&token=aee90144-21eb-441c-be8e-d8298ca0ee54"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 82-->
        <audio id="a4p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a4p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Bread
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-4.webp?alt=media&token=00060d61-03f8-4e7e-93f8-869d7abe0e80"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 83-->
        <audio id="a5p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a5p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Cheese
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-5.webp?alt=media&token=ea59cc02-6f84-4de1-aad7-9d3168925239"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 84-->
        <audio id="a6p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a6p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Lettuce
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-6.webp?alt=media&token=f2af0cbf-97f4-4f60-bbdd-01e4040833fe"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 85-->
        <audio id="a7p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a7p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Salt
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-7.webp?alt=media&token=7f628462-b6ce-4ecd-a365-8062000ffa46"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 86-->
        <audio id="a8p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a8p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Grapes
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-8.webp?alt=media&token=e2263dc0-2809-4812-bf85-1c074d25ebd4"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 87-->
        <audio id="a9p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a9p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Fish
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-9.webp?alt=media&token=17b81fc8-562b-4bc0-a54c-a57f11953a5a"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 88 -->
        <audio id="a10p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a10p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Chicken
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-10.webp?alt=media&token=032c5c3c-aa7f-41a5-b8a8-96e140ebfaf5"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 89-->
        <audio id="a11p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a11p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Carrots
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-11.png?alt=media&token=f3034fc1-0bb4-45c7-a11a-b0a43657a2b9"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 90-->
        <audio id="a12p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a12p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. Onions
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-12.webp?alt=media&token=1f6a789e-f061-4ff4-9583-142f9adf8581"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 91-->
        <audio id="a13p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. Eggs
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-13.webp?alt=media&token=58477c95-81fd-4504-8999-0a5fe520c45b"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 91-->
        <audio id="a13p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        13. Meat
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-14.webp?alt=media&token=cc9109b5-b5eb-4ff2-828f-66a6a403dab1"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 91-->
        <audio id="a13p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        14. Ketchup
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-15.webp?alt=media&token=e0cbe4d2-46a2-4230-a700-f64198306ae8"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 91-->
        <audio id="a13p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        15. Cake
      </h6>
    </div>
    <div class="col-md-3 text-center card border-info my-2 col-6 p-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F8-16.webp?alt=media&token=d99a35bb-5d0f-4c31-bc27-a5ee706093d3"
          class="img-fluid mb-2 rounded w-75"
          alt="img"
        />
      </div>
      <h6>
        <!-- audio 91-->
        <audio id="a13p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        16. Butter
      </h6>
    </div>
  </div>
</div>
