<div>
  <div class="row">
    <div class="col-md-6">
      <h6 class="text-white center verde2 my-2">ACTIVITY 2.8</h6>
      <p>
        Fill in the blanks with was, wasn’t, were, or weren’t to make a true
        statement. Example: Yesterday <b>was</b> a holiday
      </p>
      <ol>
        <li>
          The last lesson<input
            type="text"
            class="form-control input m-1"
            name="ans1page31"
            [(ngModel)]="libro.ans1Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          hard
        </li>
        <li>
          I<input
            type="text"
            class="form-control input m-1"
            name="ans2page31"
            [(ngModel)]="libro.ans2Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          sick yesterday
        </li>
        <li>
          We<input
            type="text"
            class="form-control input m-1"
            name="ans3page31"
            [(ngModel)]="libro.ans3Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          in school last week
        </li>
        <li>
          Some students<input
            type="text"
            class="form-control input m-1"
            name="ans4page31"
            [(ngModel)]="libro.ans4Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          late to class today
        </li>
        <li>
          The teacher<input
            type="text"
            class="form-control input m-1"
            name="ans5page31"
            [(ngModel)]="libro.ans5Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          absent from the last class.
        </li>
        <li>
          I<input
            type="text"
            class="form-control input m-1"
            name="ans6page31"
            [(ngModel)]="libro.ans6Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          late to class.
        </li>
        <li>
          It<input
            type="text"
            class="form-control input m-1"
            name="ans7page31"
            [(ngModel)]="libro.ans7Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          hot yesterday.
        </li>
        <li>
          Last Monday<input
            type="text"
            class="form-control input m-1"
            name="ans8page31"
            [(ngModel)]="libro.ans8Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a holiday.
        </li>
        <li>
          When I was a child, I<input
            type="text"
            class="form-control input m-1"
            name="ans9page31"
            [(ngModel)]="libro.ans9Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a good student.
        </li>
        <li>
          When I was a child, I<input
            type="text"
            class="form-control input m-1"
            name="ans10page31"
            [(ngModel)]="libro.ans10Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          in the United States.
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <h6 class="text-white center verde2 my-2">ACTIVITY 2.9</h6>
      <p>
        Answer the questions with a short answer.<br />
        <b>Example:</b> Was it windy this morning? No, It wasn’t
      </p>
      <ol>
        <li>
          Was the grammar explanation clear?
          <input
            type="text"
            class="form-control input m-1"
            name="ans11page31"
            [(ngModel)]="libro.ans11Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Was the homework difficult last night?
          <input
            type="text"
            class="form-control input m-1"
            name="ans12page31"
            [(ngModel)]="libro.ans12Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Was the teacher on time today?<input
            type="text"
            class="form-control input m-1"
            name="ans13page31"
            [(ngModel)]="libro.ans13Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Were you on time today?<input
            type="text"
            class="form-control input m-1"
            name="ans14page31"
            [(ngModel)]="libro.ans14Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Was yesterday a holiday?<input
            type="text"
            class="form-control input m-1"
            name="ans15page31"
            [(ngModel)]="libro.ans15Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Was the last lesson hard?
          <input
            type="text"
            class="form-control input m-1"
            name="ans16page31"
            [(ngModel)]="libro.ans16Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Were you in the United States in 1995?<input
            type="text"
            class="form-control input m-1"
            name="ans17page31"
            [(ngModel)]="libro.ans17Page31"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Were you born in the United States?<input
            type="text"
            class="form-control input m-1"
            name="ans1page32"
            [(ngModel)]="libro.ans1Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Were you born before 1970?
          <input
            type="text"
            class="form-control input m-1"
            name="ans2page32"
            [(ngModel)]="libro.ans2Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Were your parents born in the United States?<input
            type="text"
            class="form-control input m-1"
            name="ans3page32"
            [(ngModel)]="libro.ans3Page32"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
  </div>
</div>
