<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 4.12</h6>
      <p>Practice using irregular verbs by answering the questions.</p>
      <strong
        >Example: Where did you sit in class yesterday?<br />
        I sat over there</strong
      >

      <table class="table table-striped table-responsive my-2">
        <tbody>
          <tr>
            <td>1. What time did the class begin this morning?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans1page39"
                [(ngModel)]="libro.ans1Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>2. What time did the sun rise this morning?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page39"
                [(ngModel)]="libro.ans2Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>3. What time did you get up this morning?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans3page39"
                [(ngModel)]="libro.ans3Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>4. What time did you leave home this morning?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans4page39"
                [(ngModel)]="libro.ans4Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>5. What did you have for breakfast?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans5page39"
                [(ngModel)]="libro.ans5Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>6. What did you drink this morning?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page39"
                [(ngModel)]="libro.ans6Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              7. Where did you put your books<br />
              when you came to class this morning?
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans7page39"
                [(ngModel)]="libro.ans7Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>8. What did you wear yesterday?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans8page39"
                [(ngModel)]="libro.ans8Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>9. What time did you wake up this morning?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans9page39"
                [(ngModel)]="libro.ans9Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>10.Where did you grow up?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans10page39"
                [(ngModel)]="libro.ans10Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>11.What did you buy last week?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans11page39"
                [(ngModel)]="libro.ans11Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              12.What did you eat for lunch yesterday?<br />
              How much did it cost?
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans12page39"
                [(ngModel)]="libro.ans12Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>13.Where did you sit in class yesterday?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans13page39"
                [(ngModel)]="libro.ans13Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>14.When did you meet your friend?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans14page39"
                [(ngModel)]="libro.ans14Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>15.What places did you visit in your last vacation?</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans15page39"
                [(ngModel)]="libro.ans15Page39"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
