<div>
    <div class="row">

        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
        </div>
        <div class="col-md-6 justify-content-center">
            <h4 class="text-center  mb-5">TALKING ABOUT THE NEIGHBORHOOD</h4>
            <ul>
                <h5>TEACHER:</h5>
                <li class="my-1">There is a park next to the bank.</li>
                <li class="my-1">There is a library across from the park.</li>
                <li class="my-1">There is a video store around the corner from the Laundromat.</li>
                <li class="my-1">There is a restaurant between the bank and the supermarket</li>
            </ul>
        </div>
    </div>
</div>