<div>
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F148.PNG?alt=media&token=232ab4fb-5b90-458b-b414-25e888fc06ee"
        class="img-fluid rounded"
        alt="img"
      />
    </div>
    <div class="col-md-6 justify-content-center">
      <h4 class="text-center mb-5">
        <!-- audio l1 668-->
        <audio id="a1p46l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F668.mp3?alt=media&token=7d25fa48-bf97-4040-b606-e1554d2aa389"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p46l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        TALKING ABOUT THE NEIGHBORHOOD
      </h4>
      <ul>
        <h5>TEACHER:</h5>
        <li class="my-1">
          <!-- audio l1 669-->
          <audio id="a2p46l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F669.mp3?alt=media&token=22ebd98f-ad12-4105-9294-36d1bd7ea8cf"
            />
          </audio>
          <button
            (click)="reproducirAudio('a2p46l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          There is a park next to the bank.
        </li>
        <li class="my-1">
          <!-- audio l1 670 -->
          <audio id="a3p46l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F670.mp3?alt=media&token=f9e9670c-bb12-4197-81cb-c4c9b2aac544"
            />
          </audio>
          <button
            (click)="reproducirAudio('a3p46l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          There is a library across from the park.
        </li>
        <li class="my-1">
          <!-- audio l1 671-->
          <audio id="a4p46l1" aria-label="audio" class="d-none" controls>
            <source type="audio/mp3" src="" />
          </audio>
          <button
            (click)="reproducirAudio('a4p46l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          There is a video store around the corner from the Laundromat.
        </li>
        <li class="my-1">
          <!-- audio l1 672-->
          <audio id="a5p46l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F672.mp3?alt=media&token=c6dd7895-fee8-4de5-9828-51263c6b0a68"
            />
          </audio>
          <button
            (click)="reproducirAudio('a5p46l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          There is a restaurant between the bank and the supermarket
        </li>
      </ul>
    </div>
  </div>
</div>
