<div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="center">READINGS</h5>
            <ul class="justify">
                <li><strong>EMILY: </strong> Hi Paul! What are you doing today?</li>
                <li><strong>PAUL: </strong> I’m seeing my dentist at three o’clock in the afternoon. Have you got any plans for today? </li>
                <li><strong>EMILY: </strong> I’m meeting John and Jane at the cafe. We’re going to play Scrabble. Maybe, you might join us after your appointment at the dentist. </li>
                <li><strong>PAUL: </strong> Sounds good. I think my appointment will finish at four o’clock. I’ll call you when it finishes; then I can join you. </li>
                <li><strong>EMILY: </strong> Great! We’re going to talk about the Interrail. We’ll need your advice. </li>
                <li><strong>PAUL: </strong> Alright! I’ll give you very valuable information about the trip. Look! Andy is coming. </li>
                <li><strong>EMILY: </strong> Oh no! He’s going to see me! He lent me his Geography book, and I’ve lost it. Now, he’ll probably ask me about it. </li>
                <li><strong>PAUL: </strong> OK. I got it. </li>
                <li><strong>EMILY: </strong> Bye, Paul.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5 class="center">Are they true or false?
            </h5>
            <ol>
                <li> Paul won’t be in the dentist after three o’clock today.<br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q1-p61-l3" id="q1-p61-l3-o1" value="q1-p61-l3-o1" [checked]="libro['q1-p61-l3']==='q1-p61-l3-o1'" [(ngModel)]="libro['q1-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q1-p61-l3-o1">
    True 
</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q1-p61-l3" id="q1-p61-l3-o2" value="q1-p61-l3-o2" [checked]="libro['q1-p61-l3']==='q1-p61-l3-o2'" [(ngModel)]="libro['q1-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q1-p61-l3-o2">
    False 
</label>
                    </div>
                </li>
                <li> Paul can meet Emily and others after his appointment. <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2-p61-l3" id="q2-p61-l3-o1" value="q2-p61-l3-o1" [checked]="libro['q2-p61-l3']==='q2-p61-l3-o1'" [(ngModel)]="libro['q2-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q2-p61-l3-o1">
    True 
</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q2-p61-l3" id="q2-p61-l3-o2" value="q2-p61-l3-o2" [checked]="libro['q2-p61-l3']==='q2-p61-l3-o2'" [(ngModel)]="libro['q2-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q2-p61-l3-o2">
    False 
</label>
                    </div>
                </li>
                <li> Paul is leaving the dentist at four o’clock. <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q3-p61-l3" id="q3-p61-l3-o1" value="q3-p61-l3-o1" [checked]="libro['q3-p61-l3']==='q3-p61-l3-o1'" [(ngModel)]="libro['q3-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q3-p61-l3-o1">
    True 
</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q3-p61-l3" id="q3-p61-l3-o2" value="q3-p61-l3-o2" [checked]="libro['q3-p61-l3']==='q3-p61-l3-o2'" [(ngModel)]="libro['q3-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q3-p61-l3-o2">
    False 
</label>
                    </div>
                </li>
                <li> Paul doesn't know anything about an Interrail journey. <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q4-p61-l3" id="q4-p61-l3-o1" value="q4-p61-l3-o1" [checked]="libro['q4-p61-l3']==='q4-p61-l3-o1'" [(ngModel)]="libro['q4-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q4-p61-l3-o1">
    True 
</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q4-p61-l3" id="q4-p61-l3-o2" value="q4-p61-l3-o2" [checked]="libro['q4-p61-l3']==='q4-p61-l3-o2'" [(ngModel)]="libro['q4-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q4-p61-l3-o2">
    False 
</label>
                    </div>
                </li>
                <li> Emily isn’t going to see Andy. <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q5-p61-l3" id="q5-p61-l3-o1" value="q5-p61-l3-o1" [checked]="libro['q5-p61-l3']==='q5-p61-l3-o1'" [(ngModel)]="libro['q5-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q5-p61-l3-o1">
    True 
</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q5-p61-l3" id="q5-p61-l3-o2" value="q5-p61-l3-o2" [checked]="libro['q5-p61-l3']==='q5-p61-l3-o2'" [(ngModel)]="libro['q5-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q5-p61-l3-o2">
    False 
</label>
                    </div>
                </li>
                <li> John, Jane and Emily have planned to play Scrabble in the café. <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q6-p61-l3" id="q6-p61-l3-o1" value="q6-p61-l3-o1" [checked]="libro['q6-p61-l3']==='q6-p61-l3-o1'" [(ngModel)]="libro['q6-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q6-p61-l3-o1">
    True 
</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="q6-p61-l3" id="q6-p61-l3-o2" value="q6-p61-l3-o2" [checked]="libro['q6-p61-l3']==='q6-p61-l3-o2'" [(ngModel)]="libro['q6-p61-l3']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q6-p61-l3-o2">
    False 
</label>
                    </div>
                </li>
            </ol>
        </div>
        <hr>
        <div class="col-md-6">
            <h5 class="center">Fruit Fly Fix</h5>

            <br>
            <p class="justify">It is breakfast time. You have been looking forward to eating a nice ripe banana ever since you woke up. Just when you reach for the delicious piece of fruit on your counter, you see something that makes you much less hungry: a swarm of fruit
                flies! </p>
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F173.png?alt=media&token=80aa2f80-51b9-416f-bf37-0b9340a7cd5e" class="img-fluid m-1 rounded w-50" alt="img">
            </div>
            <p class="justify">Fruit flies are tiny insects that are attracted to ripe or rotting fruits and vegetables. The flies not only eat the fruit, they also lay their eggs there. A single fruit fly can lay up to 500 eggs on the surface of a piece of fruit. Within
                eight days, the fruit flies that hatch from these eggs are full adults that can then lay their own eggs.</p>
        </div>
        <div class="col-md-6">
            <p class="justify"> As you can see, what might start out as a small fruit fly problem can become very large very quickly. Although there is a chance fruit flies can carry germs on to your food, this is not very likely. Fruit flies are annoying, but they probably
                will not hurt you. Because they are such a nuisance, however, most people want to get rid of these pesky bugs as quickly as possible. Some people use pesticide sprays on the fruit flies. Although this will kill the flies, it will also
                spread harmful poison all over your kitchen. Luckily, there is also a completely safe way for you to get rid of fruit flies in your house. The first step is for you to remove all fruits or vegetables from your counter. Store these items
                in the refrigerator or in sealed containers. Clean up any spilled juice or bits of food that might be on the floor. Take out the trash and empty the recycling bin. Wash any dirty dishes that are in your sink. Doing all of these things
                will stop new fruit flies from finding food or places to lay their eggs. Next, make a trap to catch all of the remaining fruit flies in your house. First, fill a small bowl with a few tablespoons of vinegar. Then, put a piece of very ripe
                or rotting fruit into the vinegar. Cover the bowl very tightly with a sheet of plastic wrap and poke a few very small holes in the wrap with a fork. If all goes according to plan, the flies will enter the trap through the holes but will
                be unable to fly back out. This trap will catch all of the remaining fruit flies. You can either kill these flies or release them outdoors.<br>Fruit flies can be a pest, but they do not have to make you crazy. With a little effort, you
                can get existing flies out of your house and prevent new ones from taking over your kitchen.
            </p>
        </div>
    </div>
</div>