<div>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span></h3>
            <p class="justify">People are buying things in new ways these days. Many people are busy, and they don't want to go to crowded stores. They shop from mail-order catalogues (books with pictures of things to buy). Tired shoppers in some cities can even buy groceries
                (things in a supermarket) by phone!</p>
            <p class="justify">Most people are shopping differently ¡n stores too. They are taking groceries home in a different way. People in the supermarket ask, "Plastic or paper?" Many people like plastic bags, but plastic is terrible for the environment (the air,
                land, and water around us). Paper bags also are bad because we use too many trees to make them.Only five hundred bags come from each tree. Some people understand this. They aren't using plastic or paper bags. They're taking cloth bags
                to the store. These cloth bags are reusable. (People can use them again and again for many years.) The bags are washable too. (People can wash them.)</p>
            <p class="justify">Today many people are thinking about the environment. They want to have a safe world for their children. People are changing to different products (things in a store). Some mail-order companies are now selling special products too. Cloth shopping
                bags, cloth diapers (for babies to wear), and soap without chemicals help the environment. The mail-order companies help the environment and make a lot of money!</p>
        </div>
        <div class="col-md-6">
            <h5 class="center">Main Ideas</h5>
            <ol>
                <li>Circle the letter of the main subject of "It's a New World of Shopping."
                    <ul>
                        <li>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1-p32-l3" id="q1-p32-l3-o1" value="option1">
                                <label class="form-check-label" for="q1-p32-l3-o1">
            a. shopping by phone
        </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1-p32-l3" id="q1-p32-l3-o2" value="option2">
                                <label class="form-check-label" for="q1-p32-l3-o1">
            b. new ways to shop
        </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1-p32-l3" id="q1-p32-l3-o3" value="option3">
                                <label class="form-check-label" for="q1-p32-l3-o1">
            c. three kinds of bags in supermarkets
        </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1-p32-l3" id="q1-p32-l3-o4" value="option4">
                                <label class="form-check-label" for="q1-p32-l3-o1">
            d. new things to buy
        </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>Answer the questions
                    <ul>
                        <li>a. Tired shoppers in some cities can even buy groceries by phone. What are groceries? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                        <li>b. Plastic is terrible for the environment. What is the environment? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                        <li>c. Cloth bags are reusable. What can people do with reusable cloth bags? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                        <li>d. Cloth bags are washable. What can you do with washable cloth bags? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                        <li>e. People are changing to different products What are products? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                        <li>f. Cloth diapers are not bad for the environment. Who wears diapers? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>