.bordeLibro{
    box-shadow: 5px 5px 5px 5px #635f5f;
}
.img1{
    position: relative;
}
.img2{
    position: relative;
}
.item1{
    position: absolute;
    top: 16.5%;
    left: 20%;
}
.item2{
    position: absolute;
    top: 16.5%;
    left:90%;
}
.item3{
    position: absolute;
    top: 22.5%;
    left:20%;
}
.item4{
    position: absolute;
    top: 22.5%;
    left:90%;
}
.item5{
    position: absolute;
    top: 29%;
    left: 20%;
}
.item6{
    position: absolute;
    top: 29%;
    left: 90%;
}
.item7{
    position: absolute;
    top: 35%;
    left: 20%;
}
.item8{
    position: absolute;
    top: 35%;
    left: 90%;
}
.item9{
    position: absolute;
    top: 41%;
    left: 20%;
}
.item10{
    position: absolute;
    top: 41%;
    left: 90%;
}
.item11{
    position: absolute;
    top: 48%;
    left: 20%;
}
.item12{
    position: absolute;
    top: 48%;
    left: 90%;
}
.item13{
    position: absolute;
    top: 55.5%;
    left: 20%;
}
.item14{
    position: absolute;
    top: 55.5%;
    left: 90%;
}
.item15{
    position: absolute;
    top: 63.5%;
    left: 20%;
}
.item16{
    position: absolute;
    top: 63.5%;
    left: 90%;
}
.item17{
    position: absolute;
    top: 71.3%;
    left: 20%;
}
.item18{
    position: absolute;
    top: 71.3%;
    left: 90%;
}
.item19{
    position: absolute;
    top: 77%;
    left: 20%;
}
.item20{
    position: absolute;
    top: 77%;
    left: 90%;
}
.item21{
    position: absolute;
    top: 82.8%;
    left: 20%;
}
.item22{
    position: absolute;
    top: 82.8%;
    left: 90%;
}
.item23{
    position: absolute;
    top: 88.5%;
    left: 20%;
}
.item24{
    position: absolute;
    top: 88.5%;
    left: 90%;
}
.item25{
    position: absolute;
    top: 95.5%;
    left: 20%;
}
.item26{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.titulo{
    position: absolute;
    top:2.5%;
    left: 32%;
    color: #fff;
}
.circle1{
    position: absolute;
    top:15.8%;
    left: 11.1%;
    color: #fff;
}
.circle2{
    position: absolute;
    top:21.8%;
    left: 10.8%;
    color: #fff;
}
.circle3{
    position: absolute;
    top:28%;
    left: 11.1%;
    color: #fff;
}
.circle4{
    position: absolute;
    top:34%;
    left: 10.5%;
    color: #fff;
}
.circle5{
    position: absolute;
    top: 40%;
    left: 10.8%;
    color:#fff;
}
.circle6{
    position: absolute;
    top: 47.4%;
    left: 10.5%;
    color:#fff;
}
.circle7{
    position: absolute;
    top: 54.7%;
    left: 10.8%;
    color:#fff;
}
.circle8{
    position: absolute;
    top: 62.5%;
    left: 10.8%;
    color:#fff;
}
.circle9{
    position: absolute;
    top: 70.5%;
    left: 10.8%;
    color:#fff;
}
.circle10{
    position: absolute;
    top: 76.2%;
    left: 10%;
    color:#fff;
}
.circle11{
    position: absolute;
    top: 81.8%;
    left: 10.5%;
    color:#fff;
}
.circle12{
    position: absolute;
    top: 87.8%;
    left: 10.5%;
    color:#fff;
}
.circle13{
    position: absolute;
    top: 94.3%;
    left: 10.5%;
    color:#fff;
}.titulo-page-1{
    position: absolute;
    top: 0%;
    left: 10%;
    color: rgb(250, 246, 27);
}
.subTitulo1-page-1{
    position: absolute;
    top: 8%;
    left: 10%;
    color: #000;
    font-weight: bold;
}
.item1-page-1{
    position: absolute;
    top: 42%;
    left: 10%;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.subTitulo2-page-1{
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: bold;
}
.item2-page-1{
position: absolute;
top: 53.5%;
left: 11%;
}
.item3-page-1{
position: absolute;
top: 53.5%;
left: 18%;
}
.item4-page-1{
position: absolute;
top: 53.5%;
left: 26%;
}
.item5-page-1{
    position: absolute;
    top: 53.5%;
    left: 33%;
}
.item6-page-1{
    position: absolute;
    top: 53.5%;
    left: 41%;
}
.item7-page-1{
    position: absolute;
    top: 53.5%;
    left: 48%;
}
.item8-page-1{
    position: absolute;
    top: 53.5%;
    left: 56.5%;
}
.item9-page-1{
    position: absolute;
    top: 53.5%;
    left: 65%;
}
.item10-page-1{
    position: absolute;
    top: 53.5%;
    left: 76%;
}
.item11-page-1{
    position: absolute;
    top: 53.5%;
    left: 84%;
}
.item12-page-1{
    position: absolute;
    top: 59%;
    left: 11%;
}
.item13-page-1{
    position: absolute;
    top: 59%;
    left: 18%;
}
.item14-page-1{
    position: absolute;
    top: 59%;
    left: 25%;
}
.item15-page-1{
    position: absolute;
    top: 59%;
    left: 33%;
}
.item16-page-1{
    position: absolute;
    top: 59%;
    left: 40%;
}
.item17-page-1{
    position: absolute;
    top: 59%;
    left: 48%;
}
.item18-page-1{
    position: absolute;
    top: 59%;
    left: 56.5%;
}
.item19-page-1{
    position: absolute;
    top: 59%;
    left: 66.5%;
}
.item20-page-1{
    position: absolute;
    top: 59%;
    left: 76%;
}
.item21-page-1{
    position: absolute;
    top: 59%;
    left: 84%;
}
.item22-page-1{
    position: absolute;
    top: 64%;
    left: 11%;
}
.item23-page-1{
    position: absolute;
    top: 64%;
    left: 18%;
}
.item24-page-1{
    position: absolute;
    top: 64%;
    left: 23.5%;
}
.item25-page-1{
    position: absolute;
    top: 64%;
    left: 33%;
}
.item26-page-1{
    position: absolute;
    top: 64%;
    left: 40%;
}
.item27-page-1{
    position: absolute;
    top: 64%;
    left: 48%;
}
.letra{
    margin-left: 40%;
}
.subTitulo3-page-1{
    position: absolute;
    top: 72%;
    left: 17%;
}
.item28-page-1{
    position: absolute;
    top: 75%;
    left: 11%;
}
.item29-page-1{
    position: absolute;
    top: 77%;
    left: 21%;
}
.item30-page-1{
    position: absolute;
    top: 79%;
    left: 21%;
}
.item31-page-1{
    position: absolute;
    top: 82%;
    left: 11%;
}
.item32-page-1{
    position: absolute;
    top: 85%;
    left: 11%;
}
.subTitulo4-page-1{
    position: absolute;
    top: 72%;
    left: 57%;
}
.item33-page-1{
    position: absolute;
    top: 75%;
    left: 50%;
}
.item34-page-1{
    position: absolute;
    top: 77%;
    left: 51.5%;
}
.item35-page-1{
    position: absolute;
    top: 79%;
    left: 51.5%;
}
.item36-page-1{
    position: absolute;
    top: 82%;
    left: 50%;
}
.item37-page-1{
    position: absolute;
    top: 85%;
    left: 50%;
}