.bordeLibro{
    box-shadow: 5px 5px 5px 5px #635f5f;
}
.img1{
    position: relative;
}
.img2{
    position: relative;
    padding-right: 5%;
}
.img3{
    position: relative;
    padding-right: 5%;
}
.img4{
    position: relative;
    background-color: white;
    padding-top: 100%;
    padding-right: 5%;
}
.img5{
    position: relative;
}
.img6{
    position: relative;
    padding-top: 25%;
    padding-right: 5%;
}
.img7{
    position: relative;
    padding-right: 5%;
}
.item1{
    position: absolute;
    top: 16.5%;
    left: 20%;
}
.item2{
    position: absolute;
    top: 16.5%;
    left:90%;
}
.item3{
    position: absolute;
    top: 22.5%;
    left:20%;
}
.item4{
    position: absolute;
    top: 22.5%;
    left:90%;
}
.item5{
    position: absolute;
    top: 29%;
    left: 20%;
}
.item6{
    position: absolute;
    top: 29%;
    left: 90%;
}
.item7{
    position: absolute;
    top: 35%;
    left: 20%;
}
.item8{
    position: absolute;
    top: 35%;
    left: 90%;
}
.item9{
    position: absolute;
    top: 41%;
    left: 20%;
}
.item10{
    position: absolute;
    top: 41%;
    left: 90%;
}
.item11{
    position: absolute;
    top: 48%;
    left: 20%;
}
.item12{
    position: absolute;
    top: 48%;
    left: 90%;
}
.item13{
    position: absolute;
    top: 55.5%;
    left: 20%;
}
.item14{
    position: absolute;
    top: 55.5%;
    left: 90%;
}
.item15{
    position: absolute;
    top: 63.5%;
    left: 20%;
}
.item16{
    position: absolute;
    top: 63.5%;
    left: 90%;
}
.item17{
    position: absolute;
    top: 71.3%;
    left: 20%;
}
.item18{
    position: absolute;
    top: 71.3%;
    left: 90%;
}
.item19{
    position: absolute;
    top: 77%;
    left: 20%;
}
.item20{
    position: absolute;
    top: 77%;
    left: 90%;
}
.item21{
    position: absolute;
    top: 82.8%;
    left: 20%;
}
.item22{
    position: absolute;
    top: 82.8%;
    left: 90%;
}
.item23{
    position: absolute;
    top: 88.5%;
    left: 20%;
}
.item24{
    position: absolute;
    top: 88.5%;
    left: 90%;
}
.item25{
    position: absolute;
    top: 95.5%;
    left: 20%;
}
.item26{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.titulo{
    position: absolute;
    top:2.5%;
    left: 32%;
    color: #fff;
}
.circle1{
    position: absolute;
    top:15.8%;
    left: 11.1%;
    color: #fff;
}
.circle2{
    position: absolute;
    top:21.8%;
    left: 10.8%;
    color: #fff;
}
.circle3{
    position: absolute;
    top:28%;
    left: 11.1%;
    color: #fff;
}
.circle4{
    position: absolute;
    top:34%;
    left: 10.5%;
    color: #fff;
}
.circle5{
    position: absolute;
    top: 40%;
    left: 10.8%;
    color:#fff;
}
.circle6{
    position: absolute;
    top: 47.4%;
    left: 10.5%;
    color:#fff;
}
.circle7{
    position: absolute;
    top: 54.7%;
    left: 10.8%;
    color:#fff;
}
.circle8{
    position: absolute;
    top: 62.5%;
    left: 10.8%;
    color:#fff;
}
.circle9{
    position: absolute;
    top: 70.5%;
    left: 10.8%;
    color:#fff;
}
.circle10{
    position: absolute;
    top: 76.2%;
    left: 10%;
    color:#fff;
}
.circle11{
    position: absolute;
    top: 81.8%;
    left: 10.5%;
    color:#fff;
}
.circle12{
    position: absolute;
    top: 87.8%;
    left: 10.5%;
    color:#fff;
}
.circle13{
    position: absolute;
    top: 94.3%;
    left: 10.5%;
    color:#fff;
}.titulo-page-1{
    position: absolute;
    top: 0%;
    left: 10%;
    color: rgb(250, 246, 27);
}
.subTitulo1-page-1{
    position: absolute;
    top: 8%;
    left: 10%;
    color: #000;
    font-weight: bold;
}
.item1-page-1{
    position: absolute;
    top: 42%;
    left: 10%;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.item1-1-page-1{
    position: absolute;
    top: 44%;
    left: 10%;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.item1-2-page-1{
    position: absolute;
    top: 46%;
    left: 10%;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.subTitulo2-page-1{
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: bold;
}
.item2-page-1{
position: absolute;
top: 53.5%;
left: 11%;
}
.item3-page-1{
position: absolute;
top: 53.5%;
left: 18%;
}
.item4-page-1{
position: absolute;
top: 53.5%;
left: 26%;
}
.item5-page-1{
    position: absolute;
    top: 53.5%;
    left: 33%;
}
.item6-page-1{
    position: absolute;
    top: 53.5%;
    left: 41%;
}
.item7-page-1{
    position: absolute;
    top: 53.5%;
    left: 48%;
}
.item8-page-1{
    position: absolute;
    top: 53.5%;
    left: 56.5%;
}
.item9-page-1{
    position: absolute;
    top: 53.5%;
    left: 65%;
}
.item10-page-1{
    position: absolute;
    top: 53.5%;
    left: 76%;
}
.item11-page-1{
    position: absolute;
    top: 53.5%;
    left: 84%;
}
.item12-page-1{
    position: absolute;
    top: 59%;
    left: 11%;
}
.item13-page-1{
    position: absolute;
    top: 59%;
    left: 18%;
}
.item14-page-1{
    position: absolute;
    top: 59%;
    left: 25%;
}
.item15-page-1{
    position: absolute;
    top: 59%;
    left: 33%;
}
.item16-page-1{
    position: absolute;
    top: 59%;
    left: 40%;
}
.item17-page-1{
    position: absolute;
    top: 59%;
    left: 48%;
}
.item18-page-1{
    position: absolute;
    top: 59%;
    left: 56.5%;
}
.item19-page-1{
    position: absolute;
    top: 59%;
    left: 66.5%;
}
.item20-page-1{
    position: absolute;
    top: 59%;
    left: 76%;
}
.item21-page-1{
    position: absolute;
    top: 59%;
    left: 84%;
}
.item22-page-1{
    position: absolute;
    top: 64%;
    left: 11%;
}
.item23-page-1{
    position: absolute;
    top: 64%;
    left: 18%;
}
.item24-page-1{
    position: absolute;
    top: 64%;
    left: 23.5%;
}
.item25-page-1{
    position: absolute;
    top: 64%;
    left: 33%;
}
.item26-page-1{
    position: absolute;
    top: 64%;
    left: 40%;
}
.item27-page-1{
    position: absolute;
    top: 64%;
    left: 48%;
}
.letra{
    margin-left: 40%;
}
.subTitulo3-page-1{
    position: absolute;
    top: 72%;
    left: 17%;
}
.item28-page-1{
    position: absolute;
    top: 75%;
    left: 11%;
}
.item29-page-1{
    position: absolute;
    top: 77%;
    left: 21%;
}
.item30-page-1{
    position: absolute;
    top: 79%;
    left: 21%;
}
.item31-page-1{
    position: absolute;
    top: 82%;
    left: 11%;
}
.item32-page-1{
    position: absolute;
    top: 85%;
    left: 11%;
}
.subTitulo4-page-1{
    position: absolute;
    top: 72%;
    left: 57%;
}
.item33-page-1{
    position: absolute;
    top: 75%;
    left: 50%;
}
.item34-page-1{
    position: absolute;
    top: 77%;
    left: 51.5%;
}
.item35-page-1{
    position: absolute;
    top: 79%;
    left: 51.5%;
}
.item36-page-1{
    position: absolute;
    top: 82%;
    left: 50%;
}
.item37-page-1{
    position: absolute;
    top: 85%;
    left: 50%;
}
.item1-page-2{
    position: absolute;
    top: 24%;
    left: 13%;
}
.item2-page-2{
    position: absolute;
    top: 27%;
    left: 13%;
}
.form{
    border:1px solid black;
}
.item3-page-2{
    position: absolute;
    top: 31%;
    left: 13%;
}
.item4-page-2{
    position: absolute;
    top: 34%;
    left: 13%;
}
.item5-page-2{
    position: absolute;
    top: 24%;
    left: 60%;
}
.item6-page-2{
    position: absolute;
    top: 28%;
    left: 60%;
}
.item7-page-2{
    position: absolute;
    top: 31%;
    left: 60%;
}
.item8-page-2{
    position: absolute;
    top: 35%;
    left: 60%;
}
.item9-page-2{
    position: absolute;
    top: 72%;
    left: 13%;
}
.item10-page-2{
    position: absolute;
    top: 75%;
    left: 13%;
}
.item11-page-2{
    position: absolute;
    top: 79%;
    left: 13%;
}
.item12-page-2{
    position: absolute;
    top: 83%;
    left: 13%;
}
.item13-page-2{
    position: absolute;
    top: 72%;
    left: 60%;
}
.item14-page-2{
    position: absolute;
    top: 75%;
    left: 60%;
}
.item15-page-2{
    position: absolute;
    top: 79%;
    left: 60%;
}
.item16-page-2{
    position: absolute;
    top: 83%;
    left: 60%;
}
.item17-page-2{
    position: absolute;
    top: 96%;
    left: 92%;
}
.btn1-page-2{
    position: absolute;
    top: 27%;
    left: 37%;
}
.btn2-page-2{
    position: absolute;
    top: 34%;
    left: 37%;
}
.btn3-page-2{
    position: absolute;
    top: 24%;
    left: 84%;
}
.btn4-page-2{
    position: absolute;
    top: 31%;
    left: 84%;
}
.btn5-page-2{
    position: absolute;
    top: 75%;
    left: 37%;
}
.btn6-page-2{
    position: absolute;
    top: 79%;
    left: 37%;
}
.btn7-page-2{
    position: absolute;
    top: 83%;
    left: 37%;
}
.btn8-page-2{
    position: absolute;
    top: 75%;
    left: 84%;
}
.btn9-page-2{
    position: absolute;
    top: 79%;
    left: 84%;
}
.btn10-page-2{
    position: absolute;
    top: 83%;
    left: 84%;
}
.underline{
    text-decoration: underline;
}
.subTitulo1-page-3{
    position: absolute;
    top: 10%;
    left: 11%;
    font-weight: bold;
}
.item1-page-3{
    position: absolute;
    top: 20%;
    left: 11%;
}
.item2-page-3{
    position: absolute;
    top: 20%;
    left: 18%;
}
.item3-page-3{
    position: absolute;
    top: 20%;
    left: 25%;
}
.item4-page-3{
    position: absolute;
    top: 20%;
    left: 32%;
}
.item5-page-3{
    position: absolute;
    top: 20%;
    left: 39%;
}
.item6-page-3{
    position: absolute;
    top: 20%;
    left: 46%;
}
.item7-page-3{
    position: absolute;
    top: 20%;
    left: 53%;
}
.item8-page-3{
    position: absolute;
    top: 20%;
    left: 60%;
}
.item9-page-3{
    position: absolute;
    top: 20%;
    left: 67%;
}
.item10-page-3{
    position: absolute;
    top: 20%;
    left: 74.5%;
}
.item11-page-3{
    position: absolute;
    top: 20%;
    left: 82%;
}
.item12-page-3{
    position: absolute;
    top: 27%;
    left: 9%;
    font-size: 14px;
    font-weight: bold;
}
.item13-page-3{
    position: absolute;
    top: 27%;
    left: 16.5%;
    font-size: 14px;
    font-weight: bold;
}
.item14-page-3{
    position: absolute;
    top: 27%;
    left: 23.5%;
    font-size: 14px;
    font-weight: bold;
}
.item15-page-3{
    position: absolute;
    top: 27%;
    left: 30%;
    font-size: 14px;
    font-weight: bold;
}
.item16-page-3{
    position: absolute;
    top: 27%;
    left: 37.5%;
    font-size: 14px;
    font-weight: bold;
}
.item17-page-3{
    position: absolute;
    top: 27%;
    left: 44.5%;
    font-size: 14px;
    font-weight: bold;
}
.item18-page-3{
    position: absolute;
    top: 27%;
    left: 52%;
    font-size: 14px;
    font-weight: bold;
}
.item19-page-3{
    position: absolute;
    top: 27%;
    left: 57.5%;
    font-size: 14px;
    font-weight: bold;
}
.item20-page-3{
    position: absolute;
    top: 27%;
    left: 65.5%;
    font-size: 14px;
    font-weight: bold;
}
.item21-page-3{
    position: absolute;
    top: 27%;
    left: 73%;
    font-size: 14px;
    font-weight: bold;
}
.item22-page-3{
    position: absolute;
    top: 27%;
    left: 81.5%;
    font-size: 14px;
    font-weight: bold;
}
.item23-page-3{
    position: absolute;
    top: 33%;
    left: 8%;
    font-size: 14px;
    font-weight: bold;
}
.item24-page-3{
    position: absolute;
    top: 33%;
    left: 15.5%;
    font-size: 14px;
    font-weight: bold;
}
.item25-page-3{
    position: absolute;
    top: 33%;
    left: 23.3%;
    font-size: 14px;
    font-weight: bold;
}
.item26-page-3{
    position: absolute;
    top: 33%;
    left: 30%;
    font-size: 14px;
    font-weight: bold;
}
.item27-page-3{
    position: absolute;
    top: 33%;
    left: 36.5%;
    font-size: 14px;
    font-weight: bold;
}
.item28-page-3{
    position: absolute;
    top: 33%;
    left: 43.5%;
    font-size: 14px;
    font-weight: bold;
}
.item29-page-3{
    position: absolute;
    top: 33%;
    left: 50.5%;
    font-size: 14px;
    font-weight: bold;
}
.item30-page-3{
    position: absolute;
    top: 33%;
    left: 56.5%;
    font-size: 14px;
    font-weight: bold;
}
.item31-page-3{
    position: absolute;
    top: 33%;
    left: 65.5%;
    font-size: 14px;
    font-weight: bold;
}
.item32-page-3{
    position: absolute;
    top: 33%;
    left: 72%;
    font-size: 14px;
    font-weight: bold;
}
.item33-page-3{
    position: absolute;
    top: 33%;
    left: 81%;
    font-size: 14px;
    font-weight: bold;
}
.item34-page-3{
    position: absolute;
    top: 46%;
    left: 10%;
    font-size: 18px;
}
.item35-page-3{
    position: absolute;
    top: 70%;
    left: 0%;
}
.subTitulo2-page-3{
    position: absolute;
    top: 60%;
    left: 13%;
    font-weight: bold;
}
.item36-page-3{
    position: absolute;
    top: 65%;
    left: 11%;
}
.item37-page-3{
    position: absolute;
    top: 67%;
    left: 21%;
}
.item38-page-3{
    position: absolute;
    top: 69%;
    left: 21%;
}
.item39-page-3{
    position: absolute;
    top: 74%;
    left: 11%;
}
.item40-page-3{
    position: absolute;
    top: 76.3%;
    left: 21%;
}
.item41-page-3{
    position: absolute;
    top: 78.3%;
    left: 21%;
}
.item42-page-3{
    position: absolute;
    top: 84%;
    left: 11%;
}
.subTitulo3-page-3{
    position: absolute;
    top: 60%;
    left: 66%;
    font-weight: bold;
}
.item43-page-3{
    position: absolute;
    top: 65%;
    left: 60%;
}
.item44-page-3{
    position: absolute;
    top: 67%;
    left: 61.7%;
}
.item45-page-3{
    position: absolute;
    top: 69%;
    left: 61.7%;
}
.item46-page-3{
    position: absolute;
    top: 74%;
    left: 60%;
}
.item47-page-3{
    position: absolute;
    top: 76%;
    left: 61.7%;
}
.item48-page-3{
    position: absolute;
    top: 78%;
    left: 61.7%;
}
.item49-page-3{
    position: absolute;
    top: 84%;
    left: 60%;
}
.item50-page-3{
    position: absolute;
    top: 95%;
    left: 92%;
}
.item1-page-4{
    position: absolute;
    top: 15%;
    left: 21%;
    font-size: 12px;
}
.item2-page-4{
    position: absolute;
    top: 15%;
    left: 61%;
    font-size: 12px;
}
.item3-page-4{
    position: absolute;
    top: 21.5%;
    left: 30.5%;
    font-size: 12px;
}
.item4-page-4{
    position: absolute;
    top: 21%;
    left: 57%;
    font-size: 12px;
}
.item5-page-4{
    position: absolute;
    top: 21%;
    left: 72.5%;
    font-size: 12px;
}
.item6-page-4{
    position: absolute;
    top: 27.5%;
    left: 27%;
    font-size: 12px;
}
.item7-page-4{
    position: absolute;
    top: 27.5%;
    left: 60%;
    font-size: 12px;
}
.item8-page-4{
    position: absolute;
    top: 27.5%;
    left: 72%;
    font-size: 12px;
}
.item9-page-4{
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 12px;
}
.item10-page-4{
    position: absolute;
    top: 50.3%;
    left: 60%;
    font-size: 12px;
}
.item11-page-4{
    position: absolute;
    top: 56%;
    left: 30%;
    font-size: 12px;
}
.item12-page-4{
    position: absolute;
    top: 55.8%;
    left: 75.5%;
    font-size: 12px;
}
.item13-page-4{
    position: absolute;
    top: 70.7%;
    left: 30%;
    font-size: 12px;
}
.item14-page-4{
    position: absolute;
    top: 72%;
    left: 59.3%;
    font-size: 12px;
}
.item15-page-4{
    position: absolute;
    top: 72%;
    left: 72.3%;
    font-size: 12px;
}
.item16-page-4{
    position: absolute;
    top: 77.5%;
    left: 27%;
    font-size: 12px;
}
.item17-page-4{
    position: absolute;
    top: 77.5%;
    left: 39.3%;
    font-size: 12px;
}
.item18-page-4{
    position: absolute;
    top: 78.8%;
    left: 66%;
    font-size: 12px;
}
.item19-page-4{
    position: absolute;
    top: 78.8%;
    left: 75%;
    font-size: 12px;
}
.item20-page-4{
    position: absolute;
    top: 95.5%;
    left: 92%;
    font-size: 12px;
}
.btn1-page-4{
    position: absolute;
    top: 13.8%;
    left: 32%;
}
.btn2-page-4{
    position: absolute;
    top: 13.5%;
    left: 70.5%;
}
.btn3-page-4{
    position: absolute;
    top: 19.5%;
    left: 43%;
}
.btn4-page-4{
    position: absolute;
    top: 19.5%;
    left: 66%;
}
.btn5-page-4{
    position: absolute;
    top: 19.5%;
    left: 81%;
}
.btn6-page-4{
    position: absolute;
    top: 26%;
    left: 39%;
}
.btn7-page-4{
    position: absolute;
    top: 26%;
    left: 70%;
}
.btn8-page-4{
    position: absolute;
    top: 26%;
    left: 84%;
}
.btn9-page-4{
    position: absolute;
    top: 49%;
    left: 34.5%;
}
.btn10-page-4{
    position: absolute;
    top: 49%;
    left: 71.5%;
}
.btn11-page-4{
    position: absolute;
    top: 54.5%;
    left: 39.5%;
}
.btn12-page-4{
    position: absolute;
    top: 54.5%;
    left: 89%;
}
.btn13-page-4{
    position: absolute;
    top: 70.3%;
    left: 42%;
}
.btn14-page-4{
    position: absolute;
    top: 71%;
    left: 70.3%;
}
.btn15-page-4{
    position: absolute;
    top: 71%;
    left: 81.5%;
}
.btn16-page-4{
    position: absolute;
    top: 76.5%;
    left: 32.5%;
}
.btn17-page-4{
    position: absolute;
    top: 76.5%;
    left: 49.5%;
}
.btn18-page-4{
    position: absolute;
    top: 78%;
    left: 73%;
}
.btn19-page-4{
    position: absolute;
    top: 78%;
    left: 84%;
}
/************************************************/
/********************Page 5**********************/
/************************************************/
/************************************************/
.titulo-page-5{
    position: absolute;
    top: 3%;
    left: 40%;
    font-weight: bold;
}
.item2-page-5{
    position: absolute;
    top: 5%;
    left: 10%;
}
.item3-page-5{
    position: absolute;
    top: 7%;
    left: 13%;
}
.item4-page-5{
    position: absolute;
    top: 9%;
    left: 13%;
}
.item5-page-5{
    position: absolute;
    top: 11%;
    left: 13%;
}
.item6-page-5{
    position: absolute;
    top: 13%;
    left: 13%;
}
.item7-page-5{
    position: absolute;
    top: 15%;
    left: 13%;
}
.subTitulo1-page-5{
    position: absolute;
    top: 17.8%;
    left: 11.5%;
}
.item8-page-5{
    position: absolute;
    top: 19.5%;
    left: 12%;
}
.item9-page-5{
    position: absolute;
    top: 21.5%;
    left: 12%;
}
.item10-page-5{
    position: absolute;
    top: 23.5%;
    left: 12%;
}
.item11-page-5{
    position: absolute;
    top: 25.5%;
    left: 12%;
}
.item12-page-5{
    position: absolute;
    top: 27.5%;
    left: 12%;
}
.subTitulo2-page-5{
    position: absolute;
    top: 32%;
    left: 11.5%;
}
.item13-page-5{
    position: absolute;
    top: 34%;
    left: 12%;
}
.item14-page-5{
    position: absolute;
    top: 36%;
    left: 12%;
}
.item15-page-5{
    position: absolute;
    top: 38%;
    left: 12%;
}
.item16-page-5{
    position: absolute;
    top: 40%;
    left: 12%;
}
.item17-page-5{
    position: absolute;
    top: 42%;
    left: 12%;
}
.subTitulo3-page-5{
    position: absolute;
    top: 44%;
    left: 12%;
    font-weight: bold;
}
.item18-page-5{
    position: absolute;
    top: 46%;
    left: 12%;
    font-size: 14px;
    text-align: left;
}
.item19-page-5{
    position: absolute;
    top: 58.8%;
    left: 12%;
    font-size: 14px;
}
.item20-page-5{
    position: absolute;
    top: 62.5%;
    left: 12%;
    font-size: 14px;
}
.item21-page-5{
    position: absolute;
    top: 66.5%;
    left: 12%;
    font-size: 14px;
}
.item22-page-5{
    position: absolute;
    top: 70.3%;
    left: 12%;
    font-size: 14px;
}
.item23-page-5{
    position: absolute;
    top: 74%;
    left: 12%;
    font-size: 14px;
}
.item24-page-5{
    position: absolute;
    top: 77.7%;
    left: 12%;
    font-size: 14px;
}
.item25-page-5{
    position: absolute;
    top: 81%;
    left: 12%;
    font-size: 14px;
}
.salto-linea{
    position: absolute;
    top: 80%;
    left: 0%;
}
.item26-page-5{
    position: absolute;
    top: 85%;
    left: 12%;
    font-size: 14px;
}
.item27-page-5{
    position: absolute;
    top: 89.7%;
    left: 12%;
    font-size: 14px;
}
.item28-page-5{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.btn1-page-5{
    position: absolute;
    top: 19%;
    left: 91%;
}
.btn2-page-5{
    position: absolute;
    top: 21%;
    left: 91%;
}
.btn3-page-5{
    position: absolute;
    top: 23%;
    left: 91%;
}
.btn4-page-5{
    position: absolute;
    top: 25%;
    left: 91%;
}
.btn5-page-5{
    position: absolute;
    top: 27%;
    left: 91%;
}