@media screen and (max-width: 414px){
    /*Contenido*/
    .titulo{
        font-size: 22px;
        margin-left: 10px;
    }
    .item1, .item2, .item3, .item4, .item5, .item6,
    .item7, .item8, .item9, .item10, .item11, .item12,
    .item13, .item14, .item15, .item16, .item17, .item18,
    .item19, .item20, .item21, .item22, .item23, .item24,
    .item25, .item26{
        font-size: 10px;
    }
    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6,
    .circle7, .circle8, .circle9, .circle10, .circle11, .circle12,
    .circle13{
        font-size: 15px;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 1***********************/
    /***************************************************/
    /***************************************************/
    .titulo-page-1{
        font-size: 22px;
        top: 0%;
        left: 10.5%;
    }
    .subTitulo1-page-1,.subTitulo2-page-1{
        font-size: 13px;
    }
    /*Dialogo page 1*/
    .item1-page-1,.item1-1-page-1,.item1-2-page-1{
        font-size: 9px;
    }
    .item1-1-page-1{
        top:44.2%;
    }
    /*Alfabeto*/
    .item2-page-1,.item3-page-1,.item4-page-1,.item5-page-1,
    .item6-page-1,.item7-page-1,.item8-page-1,.item9-page-1,
    .item10-page-1,.item11-page-1,.item12-page-1,.item13-page-1,
    .item14-page-1,.item15-page-1,.item16-page-1,.item17-page-1,
    .item18-page-1,.item19-page-1,.item20-page-1,.item21-page-1,
    .item22-page-1,.item23-page-1,.item24-page-1,.item25-page-1,
    .item26-page-1,.item27-page-1,.item28-page-1,.item29-page-1,
    .item30-page-1,.item31-page-1,.item32-page-1,.item33-page-1,
    .item34-page-1,.item35-page-1,.item36-page-1,.item37-page-1{
        font-size: 9px;
    }
    .item2-page-1,.item3-page-1,.item4-page-1,.item5-page-1,
    .item6-page-1,.item7-page-1,.item8-page-1,.item9-page-1,
    .item10-page-1,.item11-page-1{
        top: 54.5%;
    }
    .item12-page-1,.item13-page-1,.item14-page-1,.item15-page-1,
    .item16-page-1,.item17-page-1,.item18-page-1,.item19-page-1,
    .item20-page-1,.item21-page-1{
        top: 61.5%;
    }
    .item22-page-1,.item23-page-1,.item24-page-1,.item25-page-1,
    .item26-page-1,.item27-page-1{
        top: 68.8%;
    }
    /*Dialogo Teacher - student*/
    .subTitulo3-page-1,.subTitulo4-page-1{
        font-size: 13px;
        top: 74%;
    }
    .item28-page-1, .item33-page-1{
        top: 77%;
    }
    .item29-page-1, .item34-page-1{
        top: 79%;
    }
    .item30-page-1, .item35-page-1{
        top: 81%;
    }
    .item31-page-1, .item36-page-1{
        top: 83%;
    }
    .item32-page-1, .item37-page-1{
        top: 85%;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 2***********************/
    /***************************************************/
    /***************************************************/
    .item1-page-2, .item3-page-2, .item6-page-2, .item8-page-2, .item9-page-2, .item13-page-2, .item17-page-2{
        font-size: 10px;
    }
    /*Underline*/
    .item2-page-2, .item4-page-2, .item5-page-2, .item7-page-2, .item10-page-2, .item11-page-2, .item12-page-2,
    .item14-page-2, .item15-page-2, .item16-page-2{
        font-size: 10px;
    }
    /*Botones de llenado*/
    .btn1-page-2{
        top: 29%;
        left: 37%;
    }
    .btn2-page-2{
        top: 39%;
        left: 37%;
    }
    .btn3-page-2{
        top: 23.5%;
        left: 84%;
    }
    .btn4-page-2{
        top: 34%;
        left: 84%;
    }
    .btn5-page-2{
        top: 74%;
        left: 37%;
    }
    .btn6-page-2{
        top: 81%;
        left: 37%;
    }
    .btn7-page-2{
        top: 87.8%;
    }
    .btn8-page-2{
        top: 74%;
    }
    .btn9-page-2{
        top: 81%;
    }
    .btn10-page-2{
        top: 87.8%;
    }
    /*Tamaño botones*/
    .btn1-page-2, .btn2-page-2, .btn3-page-2, .btn4-page-2, .btn5-page-2, .btn6-page-2,
    .btn7-page-2, .btn8-page-2, .btn9-page-2, .btn10-page-2{
        font-size: 10px;
    }
    /*Ubicación primeros 2 personajes*/
    .item2-page-2, .item6-page-2{
        top: 29.5%;
    }
    .item3-page-2, .item7-page-2{
        top: 34.5%;
    }
    .item4-page-2, .item8-page-2{
        top: 40%;
    }
    /*Ubicación segundos 2 personajes*/
    .item9-page-2, .item13-page-2{
        top: 70%;
    }
    .item10-page-2, .item14-page-2{
        top: 74.5%;
    }
    .item11-page-2, .item15-page-2{
        top: 81.5%;
    }
    .item12-page-2, .item16-page-2{
        top: 88%;
    }
    .form-sm-page-2{
        font-size: 10px;
        width: 70%;
    }
    /*Numeración de pagina*/
    .item17-page-2{
    font-size: 8px;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 3***********************/
    /***************************************************/
    /***************************************************/
    .subTitulo1-page-3, .subTitulo2-page-3, .subTitulo3-page-3{
        font-size: 13px;
    }
    /*Numeros, escritura y pronunciación*/
    .item1-page-3, .item2-page-3, .item3-page-3, .item4-page-3, .item5-page-3,
    .item6-page-3, .item7-page-3, .item8-page-3, .item9-page-3, .item10-page-3,
    .item11-page-3, .item12-page-3, .item13-page-3, .item14-page-3, .item15-page-3,
    .item16-page-3, .item17-page-3, .item18-page-3, .item19-page-3, .item20-page-3,
    .item21-page-3, .item22-page-3, .item23-page-3, .item24-page-3, .item25-page-3,
    .item26-page-3, .item27-page-3, .item28-page-3, .item29-page-3, .item30-page-3,
    .item31-page-3, .item32-page-3, .item33-page-3, .item34-page-3, .item35-page-3,
    .item36-page-3, .item37-page-3, .item38-page-3, .item39-page-3, .item40-page-3,
    .item41-page-3, .item42-page-3, .item43-page-3, .item44-page-3, .item45-page-3,
    .item46-page-3, .item47-page-3, .item48-page-3, .item49-page-3{
        font-size: 11px;
    }
    /*Escritura*/
    .item12-page-3, .item13-page-3, .item14-page-3, .item15-page-3, .item16-page-3,
    .item17-page-3, .item18-page-3, .item19-page-3, .item20-page-3, .item21-page-3,
    .item22-page-3{
        font-size: 9px;
    }
    /*Pronunciación*/
    .item23-page-3, .item24-page-3, .item25-page-3, .item26-page-3, .item27-page-3,
    .item28-page-3, .item29-page-3, .item30-page-3, .item31-page-3, .item32-page-3,
    .item33-page-3{
        font-size: 8px;
    }
    /*Escritura: mover Four del Three*/
    .item16-page-3, .item17-page-3{
        margin-left: 1px;
    }
    /*Parrafo en medio de la pagina*/
    .item34-page-3{
        font-size: 10.5px;
        left: 8%;
    }
    /*Subtitulos Teacher y student*/
    .subTitulo2-page-3, .subTitulo3-page-3{
        top: 55%;
    }

    /*Dialogo Teacher y student*/
    .item36-page-3, .item43-page-3{
        top: 60%;
    }
    .item36-page-3, .item39-page-3, .item42-page-3{
        left: 8%;
    }
    .item37-page-3, .item44-page-3{
        top: 63%;
    }
    .item38-page-3, .item45-page-3{
        top: 65.5%;
    }
    .item39-page-3, .item46-page-3{
        top: 69%;
    }
    .item40-page-3, .item47-page-3{
        top: 72%;
    }
    .item41-page-3, .item48-page-3{
        top: 74.5%;
    }
    .item42-page-3, .item49-page-3{
        top: 78%;
    }
    .item50-page-3{
        font-size: 8px;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 4***********************/
    /***************************************************/
    /***************************************************/
    /*Tamaño fuente*/
    .item1-page-4, .item2-page-4, .item3-page-4, .item4-page-4, .item5-page-4,
    .item6-page-4, .item7-page-4, .item8-page-4, .item9-page-4, .item10-page-4,
    .item11-page-4, .item12-page-4, .item13-page-4, .item14-page-4, .item15-page-4,
    .item16-page-4, .item17-page-4, .item18-page-4, .item19-page-4, .item20-page-4{
        font-size: 8px;
    }
    /*Tamaño botones*/
    .btn1-page-4, .btn2-page-4, .btn3-page-4, .btn4-page-4, .btn5-page-4,
    .btn6-page-4, .btn7-page-4, .btn8-page-4, .btn9-page-4, .btn10-page-4,
    .btn11-page-4, .btn12-page-4, .btn13-page-4, .btn14-page-4, .btn15-page-4,
    .btn16-page-4, .btn17-page-4, .btn18-page-4, .btn19-page-4{
        font-size: 9px;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 5***********************/
    /***************************************************/
    /***************************************************/
    .titulo-page-5{
        font-size: 11px;
    }
    /*Cuadros Classmate 1 y 2*/
    .subTitulo1-page-5, .subTitulo2-page-5, .subTitulo3-page-5{
        font-size: 10px;
        font-weight: bold;
    }
    .item2-page-5, .item3-page-5, .item4-page-5, .item5-page-5,
    .item6-page-5, .item7-page-5, .item8-page-5, .item9-page-5,
    .item10-page-5, .item11-page-5, .item12-page-5, .item13-page-5,
    .item14-page-5, .item15-page-5, .item16-page-5, .item17-page-5,
    .item18-page-5, .result1-page-5, .result2-page-5, .result3-page-5,
    .result4-page-5, .result5-page-5, .result6-page-5, .result7-page-5,
    .result8-page-5, .result9-page-5, .result10-page-5, .result11-page-5,
    .result12-page-5, .result13-page-5, .result14-page-5, .result15-page-5,
    .result16-page-5, .result17-page-5, .result18-page-5, .result19-page-5{
        font-size: 8px;
    }
    /*Parrafo Reading*/
    .item18-page-5{
        font-size: 7.3px;
    }
    /*Cuadro Final*/
    .item19-page-5, .item20-page-5, .item21-page-5, .item22-page-5,
    .item23-page-5, .item24-page-5, .item25-page-5, .item26-page-5,
    .item27-page-5, .item28-page-5{
        font-size: 8px;
    }
    /*Botones Editar*/
    .btn1-page-5, .btn2-page-5, .btn3-page-5, .btn4-page-5, .btn5-page-5,
    .btn6-page-5, .btn7-page-5, .btn8-page-5, .btn9-page-5, .btn10-page-5,
    .btn11-page-5, .btn12-page-5, .btn13-page-5, .btn14-page-5, .btn15-page-5,
    .btn16-page-5, .btn17-page-5, .btn18-page-5, .btn19-page-5{
        font-size: 9px;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 6***********************/
    /***************************************************/
    /***************************************************/
    .item1-page-6, .item2-page-6, .item3-page-6, .item4-page-6, .item5-page-6,
    .item6-page-6, .item7-page-6, .item8-page-6, .item9-page-6, .item10-page-6,
    .item11-page-6, .item12-page-6, .item13-page-6, .item14-page-6, .item15-page-6,
    .item16-page-6, .item17-page-6, .item18-page-6, .item19-page-6, .item20-page-6,
    .item21-page-6, .item22-page-6, .item23-page-6, .item24-page-6, .item25-page-6,
    .item26-page-6, .item27-page-6, .item28-page-6, .item29-page-6{
        font-size: 8px;
    }
    .btn1-page-6, .btn2-page-6, .btn3-page-6, .btn4-page-6, .btn5-page-6,
    .btn6-page-6, .btn7-page-6, .btn8-page-6, .btn9-page-6, .btn10-page-6,
    .btn11-page-6, .btn12-page-6, .btn13-page-6, .btn14-page-6, .btn15-page-6,
    .btn16-page-6, .btn17-page-6, .btn18-page-6, .btn19-page-6, .btn20-page-6,
    .btn21-page-6, .btn22-page-6, .btn23-page-6, .btn24-page-6, .btn25-page-6,
    .btn26-page-6, .btn27-page-6, .btn28-page-6{
        font-size: 9px;
    }
    .item1-page-6{
        top: 10.8%;
        left: 54.5%;
    }
    .item2-page-6{
        top: 13.8%;
        left: 54.5%;
    }
    .item3-page-6{
        top: 16.8%;
        left: 54.5%;
    }
    .item4-page-6{
        top: 19.8%;
        left: 54.5%;
    }
    .item5-page-6{
        top: 22.8%;
        left: 54.5%;
    }
    .item6-page-6{
        top: 25.8%;
        left: 54.5%;
    }
    .item7-page-6{
        top: 28.8%;
        left: 54.5%;
    }
    .item8-page-6{
        top: 31.8%;
        left: 54.5%;
    }
    .item9-page-6{
        top: 34.8%;
        left: 54.5%;
    }
    .item10-page-6{
        top: 10.6%;
        left: 83.9%;
    }
    .item11-page-6{
        top: 13.6%;
        left: 82.7%;
    }
    .item12-page-6{
        top: 16.6%;
        left: 83%;
    }
    .item13-page-6{
        top: 19.6%;
        left: 83.9%;
    }
    .item14-page-6{
        top: 22.6%;
        left: 83%;
    }
    .item15-page-6{
        top: 25.6%;
        left: 83.9%;
    }
    .item16-page-6{
        top: 28.6%;
        left: 83.9%;
    }
    .item17-page-6{
        top: 31.6%;
        left: 83.9%;
    }
    .item18-page-6{
        top: 34.6%;
        left: 83.9%;
    }
    .item25-page-6{
        top: 76.6%;
    }
    .item26-page-6{
        top: 76.6%;
    }
    .item27-page-6{
        top: 79.8%;
    }
    .item28-page-6{
        top: 83.5%;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 7***********************/
    /***************************************************/
    /***************************************************/
    .titulo-page-7{
        font-size: 11px;
        left: 39%;
    }
    .item1-page-7, .item2-page-7, .item3-page-7, .item4-page-7,
    .item5-page-7, .item6-page-7, .item7-page-7, .item8-page-7,
    .item9-page-7, .item10-page-7, .item11-page-7, .result1-page-7,
    .result2-page-7, .result3-page-7, .result4-page-7, .result5-page-7,
    .result6-page-7{
        font-size: 8px;
    }
    .btn1-page-7, .btn2-page-7, .btn3-page-7, .btn4-page-7,
    .btn5-page-7, .btn6-page-7{
        font-size: 9px;
    }
    .result1-page-7{
        left: 28.5%;
    }
    .btn1-page-7{
        left: 45%;
    }
    .btn2-page-7{
        top: 57%;
        left: 33%;
    }
    .btn3-page-7{
        top: 64%;
        left: 34%;
    }
    .btn4-page-7{
        top: 70.8%;
        left: 49%;
    }
    .btn5-page-7{
        top: 77.5%;
        left: 45.5%;
    }
    .btn6-page-7{
        top: 84.7%;
        left: 39%;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 8***********************/
    /***************************************************/
    /***************************************************/
    .unidadTitulo{
        font-size: 22px;
        top: .5%;
        left: 12%;
    }
    .titulo1-page-8{
        font-size: 12px;
    }
    .titulo2-page-8{
        font-size: 10.5px;
    }
    .item1-page-8, .item2-page-8, .item3-page-8, .item4-page-8, .item5-page-8,
    .item6-page-8, .item7-page-8, .item8-page-8, .item9-page-8, .item10-page-8,
    .item11-page-8, .item12-page-8, .item13-page-8, .item14-page-8, .item15-page-8,
    .item16-page-8, .item17-page-8, .item18-page-8, .item19-page-8, .item20-page-8,
    .item21-page-8, .item22-page-8, .item23-page-8, .item24-page-8, .item25-page-8,
    .item26-page-8, .item27-page-8, .item28-page-8, .item29-page-8, .item30-page-8,
    .item31-page-8, .item32-page-8, .item33-page-8, .item34-page-8{
        font-size: 9px;
    }
    .item10-page-8{
        top: 34.5%;
        left: 11.5%;
    }
    .item11-page-8{
        top: 34.5%;
        left: 34%;
    }
    .item12-page-8{
        top: 34.6%;
        left: 54.5%;
    }
    .item13-page-8{
        top: 34.8%;
        left: 76.7%;
    }
    .item14-page-8{
        top: 52.7%;
        left: 10.3%;
    }
    .item15-page-8{
        top: 52.7%;
        left: 33.3%;
    }
    .item16-page-8{
        top: 53%;
        left: 54.7%;
    }
    .item17-page-8{
        top: 52.6%;
        left: 76.7%;
    }
    .item18-page-8{
        top: 70.2%;
        left: 10.2%;
    }
    .item19-page-8{
        top: 69.9%;
        left: 33.8%;
    }
    .item20-page-8{
        top: 70.2%;
        left: 55.8%;
    }
    .item21-page-8{
        top: 70.2%;
        left: 77.7%;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 9***********************/
    /***************************************************/
    /***************************************************/
    .subTitulo1-page-9, .subTitulo2-page-9{
        font-size: 11px;
    }
    .item1-page-9, .item2-page-9, .item3-page-9, .item4-page-9, .item5-page-9,
    .item6-page-9, .item7-page-9, .item8-page-9, .item9-page-9, .item10-page-9,
    .item11-page-9, .item12-page-9{
        font-size: 8px;
    }
    .btn1-page-9, .btn2-page-9, .btn3-page-9, .btn4-page-9, .btn5-page-9,
    .btn6-page-9, .btn7-page-9, .btn8-page-9, .btn9-page-9, .btn10-page-9,
    .btn11-page-9, .btn12-page-9, .btn13-page-9, .btn14-page-9, .btn15-page-9,
    .btn16-page-9, .btn17-page-9, .btn18-page-9, .btn19-page-9, .btn20-page-9{
        font-size: 9px;
    }
    .result1-page-9{
        left: 40.7%;
    }
    .result2-page-9{
        left: 40.7%;
    }
    .result3-page-9{
        left: 45%;
    }
    .result4-page-9{
        left: 45%;
    }
    .result5-page-9{
        left: 38.4%;
    }
    .result6-page-9{
        left: 44.5%;
    }
    .result7-page-9, .result8-page-9, .result9-page-9, .result10-page-9, .result11-page-9,
    .result12-page-9, .result13-page-9, .result14-page-9, .result15-page-9, .result16-page-9,
    .result17-page-9, .result18-page-9, .result19-page-9, .result20-page-9{
        left: 35%;
    }
    .btn3-page-9{
        top: 11%;
        left: 90%;
    }
    .btn4-page-9{
        top: 14%;
        left: 90%;
    }
    .btn5-page-9{
        top: 22%;
        left: 90%;
    }
    .btn6-page-9{
        top: 25%;
        left: 90%;
    }
    .btn7-page-9{
        top: 47.5%;
        left: 32%;
    }
    .btn8-page-9{
        top: 47.5%;
        left: 67%;
    }
    .btn9-page-9{
        top: 44.8%;
        left: 94%;
    }
    .btn10-page-9{
        top: 69.5%;
        left: 32%;
    }
    .btn11-page-9{
        top: 66.5%;
        left: 67.5%;
    }
    .btn12-page-9{
        top: 69.5%;
        left: 67.5%;
    }
    .btn13-page-9{
        top: 66.5%;
        left: 94.5%;
    }
    .btn14-page-9{
        top: 69.5%;
        left: 94.5%;
    }
    .btn15-page-9{
        top: 86.8%;
        left: 33%;
    }
    .btn16-page-9{
        top: 90%;
        left: 33%;
    }
    .btn17-page-9{
        top: 86.8%;
        left: 68%;
    }
    .btn18-page-9{
        top: 89.8%;
        left: 68%;
    }
    .btn19-page-9{
        top: 86.8%;
        left: 94.5%;
    }
    .btn20-page-9{
        top: 89.8%;
        left: 94.5%;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 10***********************/
    /***************************************************/
    /***************************************************/
    .unidadTitulo-page-10{
        font-size: 22px;
        top: .5%;
        left: 13%;
    }
    .titulo1-page-10{
        font-size: 18px;
    }
    .item1-page-10, .item2-page-10, .item3-page-10, .item4-page-10,
    .item5-page-10, .item6-page-10, .item7-page-10, .item8-page-10,
    .item9-page-10, .item10-page-10, .item11-page-10, .item12-page-10,
    .item13-page-10, .btn1-page-10, .btn2-page-10, .btn3-page-10,
    .btn4-page-10{
        font-size: 8px;
    }
    .subTitulo1-page-10{
        font-size: 11px;
    }
    .result1-page-10{
        top: 60%;
        left: 22%;
    }
    .result2-page-10{
        top: 69%;
        left: 22%;
    }
    .result3-page-10{
        top: 79%;
        left: 22%;
    }
    .result4-page-10{
        top: 89.5%;
        left: 22%;
    }
    .btn1-page-10{
        top: 66.5%;
        left: 96%;
    }
    .btn2-page-10{
        top: 69.5%;
        left: 96%;
    }
    .btn3-page-10{
        top: 72.5%;
        left: 96%;
    }
    .btn4-page-10{
        top: 75.5%;
        left: 96%;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 11***********************/
    /***************************************************/
    /***************************************************/
    .item1-page-11, .item2-page-11, .item3-page-11, .item4-page-11, .item5-page-11{
        font-size: 8px;
    }
    .btn1-page-11, .btn2-page-11, .btn3-page-11, .btn4-page-11,
    .btn5-page-11, .btn6-page-11, .btn7-page-11, .btn8-page-11,
    .btn9-page-11, .btn10-page-11, .btn11-page-11, .btn12-page-11,
    .btn13-page-11, .btn14-page-11, .btn15-page-11, .btn16-page-11{
        font-size: 9px;
    }
    .result1-page-11{
        left: 42.5%;
    }
    .result2-page-11{
        left: 42.5%;
    }
    .result3-page-11{
        left: 41%;
    }
    .result4-page-11{
        left: 41%;
    }
    .result5-page-11{
        left: 31%;
    }
    .result6-page-11{
        top: 16.5%;
        left: 42%;
    }
    .result7-page-11{
        left: 31%;
    }
    .result8-page-11{
        left: 41%;
    }
    .result9-page-11{
        left: 31%;
    }
    .result10-page-11{
        left: 31%;
    }
    .result11-page-11{
        top: 0%;
        left: 31%;
    }
    .result12-page-11{
        top: 16.5%;
        left: 41.5%;
    }
    .result13-page-11{
        top: 33.5%;
        left: 31%;
    }
    .result14-page-11{
        left: 41%;
    }
    .result15-page-11{
        left: 31%;
    }
    .result16-page-11{
        left: 31%;
    }
    .btn1-page-11{
        left: 49.5%;
    }
    .btn2-page-11{
        left: 49.5%;
    }
    .btn3-page-11{
        left: 95%;
    }
    .btn4-page-11{
        left: 95.5%;
    }
    .btn5-page-11{
        left: 50.5%;
    }
    .btn6-page-11{
        left: 50.5%;
    }
    .btn7-page-11{
        left: 50.5%;
    }
    .btn8-page-11{
        left: 50.5%;
    }
    .btn9-page-11{
        left: 50.5%;
    }
    .btn10-page-11{
        left: 50.5%;
    }
    .btn11-page-11{
        left: 95.5%;
    }
    .btn12-page-11{
        left: 95.5%;
    }
    .btn13-page-11{
        left: 95.5%;
    }
    .btn14-page-11{
        left: 95.5%;
    }
    .btn15-page-11{
        left: 95.5%;
    }
    .btn16-page-11{
        left: 95.5%;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 12***********************/
    /***************************************************/
    /***************************************************/
    .item1-page-12, .item2-page-12, .item3-page-12, .item4-page-12,
    .item5-page-12, .item6-page-12, .item7-page-12, .result1-page-12,
    .result2-page-12, .result3-page-12, .result4-page-12, .result5-page-12,
    .result6-page-12, .result7-page-12, .result8-page-12, .result9-page-12,
    .result10-page-12, .result11-page-12, .result12-page-12, .result13-page-12,
    .result14-page-12, .result15-page-12, .result16-page-12, .result17-page-12,
    .result18-page-12, .result19-page-12{
        font-size: 8px;
    }
    .result1-page-12, .result2-page-12, .result3-page-12, .result4-page-12,
    .result5-page-12, .result6-page-12, .result7-page-12, .result8-page-12,
    .result9-page-12, .result10-page-12, .result11-page-12, .result12-page-12,
    .result13-page-12, .result14-page-12, .result15-page-12, .result16-page-12,
    .result17-page-12, .result18-page-12, .result19-page-12{
        margin-left: 4%;
    }
    .btn1-page-12, .btn2-page-12, .btn3-page-12, .btn4-page-12,
    .btn5-page-12, .btn6-page-12, .btn7-page-12, .btn8-page-12,
    .btn9-page-12, .btn10-page-12, .btn11-page-12, .btn12-page-12,
    .btn13-page-12, .btn14-page-12, .btn15-page-12, .btn16-page-12,
    .btn17-page-12, .btn18-page-12, .btn19-page-12{
        font-size: 9px;
        margin-left: 4.5%;
    }
    /***************************************************/
    /***************************************************/
    /**********************Page 13***********************/
    /***************************************************/
    /***************************************************/

}
@media screen and (max-width: 375px){
    /*Page 5*/
    .titulo-page-5{
        font-size: 10px;
    }
    /*Preguntas*/
    .item2-page-5, .item3-page-5, .item4-page-5, .item5-page-5,
    .item6-page-5, .item7-page-5{
        font-size: 9px;
    }
    /*Cuadros Classmate 1 y 2*/
    .subTitulo1-page-5, .subTitulo2-page-5, .subTitulo3-page-5{
        font-size: 9px;
        font-weight: bold;
    }
    .item8-page-5, .item9-page-5, .item10-page-5, .item11-page-5,
    .item12-page-5, .item13-page-5, .item14-page-5, .item15-page-5,
    .item16-page-5, .item17-page-5, .item18-page-5{
        font-size: 8px;
    }
    /*Parrafo Reading*/
    .item18-page-5{
        font-size: 7px;
    }
    /*Cuadro Final*/
    .item19-page-5, .item20-page-5, .item21-page-5, .item22-page-5,
    .item23-page-5, .item24-page-5, .item25-page-5, .item26-page-5,
    .item27-page-5, .item28-page-5{
        font-size: 8px;
    }
}