.bordeLibro{
    box-shadow: 5px 5px 5px 5px #635f5f;
}
.img1{
    position: relative;
}
.img2{
    position: relative;
    padding-right: 5%;
}
.img3{
    position: relative;
    padding-right: 5%;
}
.img4{
    position: relative;
    background-color: white;
    padding-top: 100%;
    padding-right: 5%;
}
.img5{
    position: relative;
}
.img6{
    position: relative;
    padding-top: 25%;
    padding-right: 5%;
}
.img7{
    position: relative;
    padding-right: 5%;
}
.img8{
    position: relative;
    padding-top: 10%;
    padding-right: 5%;
}
.img9{
    position: relative;
    padding-right: 5%;
}
.img10{
    position: relative;
    padding-top: 40%;
    padding-right: 5%;
}
.img11{
    position: relative;
    padding-right: 5%;
}
.img12{
    position: relative;
    padding-right: 5%;
}
.img13{
    position: relative;
    padding-top: 10%;
    padding-right: 5%;
}
.img14{
    position: relative;
}
.img15{
    padding-top: 10%;
    padding-right: 5%;
    position: relative;
}
.img16{
    position: relative;
    padding-top: 10%;
    padding-right: 5%;
}
.img17{
    position: relative;
    padding-top: 10%;
    padding-right: 5%;
}
.img18{
    position: relative;
    padding-top: 10%;
    padding-right: 5%;
}
.img19{
    position: relative;
    padding-right: 5%;
}
.img20{
    position: relative;
    padding-top: 15%;
    padding-right: 5%;
}
.img21{
    position: relative;
    padding-top: 5%;
    padding-right: 5%;
}
.img22{
    position: relative;
    padding-top: 8%;
    padding-right: 5%;
}
.item1{
    position: absolute;
    top: 16.5%;
    left: 20%;
}
.item2{
    position: absolute;
    top: 16.5%;
    left:90%;
}
.item3{
    position: absolute;
    top: 22.5%;
    left:20%;
}
.item4{
    position: absolute;
    top: 22.5%;
    left:90%;
}
.item5{
    position: absolute;
    top: 29%;
    left: 20%;
}
.item6{
    position: absolute;
    top: 29%;
    left: 90%;
}
.item7{
    position: absolute;
    top: 35%;
    left: 20%;
}
.item8{
    position: absolute;
    top: 35%;
    left: 90%;
}
.item9{
    position: absolute;
    top: 41%;
    left: 20%;
}
.item10{
    position: absolute;
    top: 41%;
    left: 90%;
}
.item11{
    position: absolute;
    top: 48%;
    left: 20%;
}
.item12{
    position: absolute;
    top: 48%;
    left: 90%;
}
.item13{
    position: absolute;
    top: 55.5%;
    left: 20%;
}
.item14{
    position: absolute;
    top: 55.5%;
    left: 90%;
}
.item15{
    position: absolute;
    top: 63.5%;
    left: 20%;
}
.item16{
    position: absolute;
    top: 63.5%;
    left: 90%;
}
.item17{
    position: absolute;
    top: 71.3%;
    left: 20%;
}
.item18{
    position: absolute;
    top: 71.3%;
    left: 90%;
}
.item19{
    position: absolute;
    top: 77%;
    left: 20%;
}
.item20{
    position: absolute;
    top: 77%;
    left: 90%;
}
.item21{
    position: absolute;
    top: 82.8%;
    left: 20%;
}
.item22{
    position: absolute;
    top: 82.8%;
    left: 90%;
}
.item23{
    position: absolute;
    top: 88.5%;
    left: 20%;
}
.item24{
    position: absolute;
    top: 88.5%;
    left: 90%;
}
.item25{
    position: absolute;
    top: 95.5%;
    left: 20%;
}
.item26{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.titulo{
    position: absolute;
    top:2.5%;
    left: 32%;
    color: #fff;
}
.circle1{
    position: absolute;
    top:15.8%;
    left: 11.1%;
    color: #fff;
}
.circle2{
    position: absolute;
    top:21.8%;
    left: 10.8%;
    color: #fff;
}
.circle3{
    position: absolute;
    top:28%;
    left: 11.1%;
    color: #fff;
}
.circle4{
    position: absolute;
    top:34%;
    left: 10.5%;
    color: #fff;
}
.circle5{
    position: absolute;
    top: 40%;
    left: 10.8%;
    color:#fff;
}
.circle6{
    position: absolute;
    top: 47.4%;
    left: 10.5%;
    color:#fff;
}
.circle7{
    position: absolute;
    top: 54.7%;
    left: 10.8%;
    color:#fff;
}
.circle8{
    position: absolute;
    top: 62.5%;
    left: 10.8%;
    color:#fff;
}
.circle9{
    position: absolute;
    top: 70.5%;
    left: 10.8%;
    color:#fff;
}
.circle10{
    position: absolute;
    top: 76.2%;
    left: 10%;
    color:#fff;
}
.circle11{
    position: absolute;
    top: 81.8%;
    left: 10.5%;
    color:#fff;
}
.circle12{
    position: absolute;
    top: 87.8%;
    left: 10.5%;
    color:#fff;
}
.circle13{
    position: absolute;
    top: 94.3%;
    left: 10.5%;
    color:#fff;
}
/***************************************************/
/***************************************************/
/**********************Page 1***********************/
/***************************************************/
/***************************************************/
.titulo-page-1{
    position: absolute;
    top: 0%;
    left: 10%;
    color: rgb(250, 246, 27);
}
.subTitulo1-page-1{
    position: absolute;
    top: 8%;
    left: 10%;
    color: #000;
    font-weight: bold;
}
.item1-page-1{
    position: absolute;
    top: 42%;
    left: 10%;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.item1-1-page-1{
    position: absolute;
    top: 44%;
    left: 10%;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.item1-2-page-1{
    position: absolute;
    top: 46%;
    left: 10%;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.subTitulo2-page-1{
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: bold;
}
.item2-page-1{
position: absolute;
top: 53.5%;
left: 11%;
}
.item3-page-1{
position: absolute;
top: 53.5%;
left: 18%;
}
.item4-page-1{
position: absolute;
top: 53.5%;
left: 26%;
}
.item5-page-1{
    position: absolute;
    top: 53.5%;
    left: 33%;
}
.item6-page-1{
    position: absolute;
    top: 53.5%;
    left: 41%;
}
.item7-page-1{
    position: absolute;
    top: 53.5%;
    left: 48%;
}
.item8-page-1{
    position: absolute;
    top: 53.5%;
    left: 56.5%;
}
.item9-page-1{
    position: absolute;
    top: 53.5%;
    left: 65%;
}
.item10-page-1{
    position: absolute;
    top: 53.5%;
    left: 76%;
}
.item11-page-1{
    position: absolute;
    top: 53.5%;
    left: 84%;
}
.item12-page-1{
    position: absolute;
    top: 59%;
    left: 11%;
}
.item13-page-1{
    position: absolute;
    top: 59%;
    left: 18%;
}
.item14-page-1{
    position: absolute;
    top: 59%;
    left: 25%;
}
.item15-page-1{
    position: absolute;
    top: 59%;
    left: 33%;
}
.item16-page-1{
    position: absolute;
    top: 59%;
    left: 40%;
}
.item17-page-1{
    position: absolute;
    top: 59%;
    left: 48%;
}
.item18-page-1{
    position: absolute;
    top: 59%;
    left: 56.5%;
}
.item19-page-1{
    position: absolute;
    top: 59%;
    left: 66.5%;
}
.item20-page-1{
    position: absolute;
    top: 59%;
    left: 76%;
}
.item21-page-1{
    position: absolute;
    top: 59%;
    left: 84%;
}
.item22-page-1{
    position: absolute;
    top: 64%;
    left: 11%;
}
.item23-page-1{
    position: absolute;
    top: 64%;
    left: 18%;
}
.item24-page-1{
    position: absolute;
    top: 64%;
    left: 23.5%;
}
.item25-page-1{
    position: absolute;
    top: 64%;
    left: 33%;
}
.item26-page-1{
    position: absolute;
    top: 64%;
    left: 40%;
}
.item27-page-1{
    position: absolute;
    top: 64%;
    left: 48%;
}
.letra{
    margin-left: 40%;
}
.subTitulo3-page-1{
    position: absolute;
    top: 72%;
    left: 17%;
}
.item28-page-1{
    position: absolute;
    top: 75%;
    left: 11%;
}
.item29-page-1{
    position: absolute;
    top: 77%;
    left: 21%;
}
.item30-page-1{
    position: absolute;
    top: 79%;
    left: 21%;
}
.item31-page-1{
    position: absolute;
    top: 82%;
    left: 11%;
}
.item32-page-1{
    position: absolute;
    top: 85%;
    left: 11%;
}
.subTitulo4-page-1{
    position: absolute;
    top: 72%;
    left: 57%;
}
.item33-page-1{
    position: absolute;
    top: 75%;
    left: 50%;
}
.item34-page-1{
    position: absolute;
    top: 77%;
    left: 51.5%;
}
.item35-page-1{
    position: absolute;
    top: 79%;
    left: 51.5%;
}
.item36-page-1{
    position: absolute;
    top: 82%;
    left: 50%;
}
.item37-page-1{
    position: absolute;
    top: 85%;
    left: 50%;
}
/***************************************************/
/***************************************************/
/**********************Page 2***********************/
/***************************************************/
/***************************************************/
.item1-page-2{
    position: absolute;
    top: 24%;
    left: 13%;
}
.item2-page-2{
    position: absolute;
    top: 27%;
    left: 13%;
}
.item3-page-2{
    position: absolute;
    top: 31%;
    left: 13%;
}
.item4-page-2{
    position: absolute;
    top: 34%;
    left: 13%;
}
.item5-page-2{
    position: absolute;
    top: 24%;
    left: 60%;
}
.item6-page-2{
    position: absolute;
    top: 28%;
    left: 60%;
}
.item7-page-2{
    position: absolute;
    top: 31%;
    left: 60%;
}
.item8-page-2{
    position: absolute;
    top: 35%;
    left: 60%;
}
.item9-page-2{
    position: absolute;
    top: 72%;
    left: 13%;
}
.item10-page-2{
    position: absolute;
    top: 75%;
    left: 13%;
}
.item11-page-2{
    position: absolute;
    top: 79%;
    left: 13%;
}
.item12-page-2{
    position: absolute;
    top: 83%;
    left: 13%;
}
.item13-page-2{
    position: absolute;
    top: 72%;
    left: 60%;
}
.item14-page-2{
    position: absolute;
    top: 75%;
    left: 60%;
}
.item15-page-2{
    position: absolute;
    top: 79%;
    left: 60%;
}
.item16-page-2{
    position: absolute;
    top: 83%;
    left: 60%;
}
.item17-page-2{
    position: absolute;
    top: 96%;
    left: 92%;
}
.btn1-page-2{
    position: absolute;
    top: 27%;
    left: 37%;
}
.btn2-page-2{
    position: absolute;
    top: 34%;
    left: 37%;
}
.btn3-page-2{
    position: absolute;
    top: 24%;
    left: 84%;
}
.btn4-page-2{
    position: absolute;
    top: 31%;
    left: 84%;
}
.btn5-page-2{
    position: absolute;
    top: 75%;
    left: 37%;
}
.btn6-page-2{
    position: absolute;
    top: 79%;
    left: 37%;
}
.btn7-page-2{
    position: absolute;
    top: 83%;
    left: 37%;
}
.btn8-page-2{
    position: absolute;
    top: 75%;
    left: 84%;
}
.btn9-page-2{
    position: absolute;
    top: 79%;
    left: 84%;
}
.btn10-page-2{
    position: absolute;
    top: 83%;
    left: 84%;
}
.underline{
    text-decoration: underline;
}
/***************************************************/
/***************************************************/
/**********************Page 3***********************/
/***************************************************/
/***************************************************/
.subTitulo1-page-3{
    position: absolute;
    top: 10%;
    left: 11%;
    font-weight: bold;
}
.item1-page-3{
    position: absolute;
    top: 20%;
    left: 11%;
}
.item2-page-3{
    position: absolute;
    top: 20%;
    left: 18%;
}
.item3-page-3{
    position: absolute;
    top: 20%;
    left: 25%;
}
.item4-page-3{
    position: absolute;
    top: 20%;
    left: 32%;
}
.item5-page-3{
    position: absolute;
    top: 20%;
    left: 39%;
}
.item6-page-3{
    position: absolute;
    top: 20%;
    left: 46%;
}
.item7-page-3{
    position: absolute;
    top: 20%;
    left: 53%;
}
.item8-page-3{
    position: absolute;
    top: 20%;
    left: 60%;
}
.item9-page-3{
    position: absolute;
    top: 20%;
    left: 67%;
}
.item10-page-3{
    position: absolute;
    top: 20%;
    left: 74.5%;
}
.item11-page-3{
    position: absolute;
    top: 20%;
    left: 82%;
}
.item12-page-3{
    position: absolute;
    top: 27%;
    left: 9%;
    font-size: 14px;
    font-weight: bold;
}
.item13-page-3{
    position: absolute;
    top: 27%;
    left: 16.5%;
    font-size: 14px;
    font-weight: bold;
}
.item14-page-3{
    position: absolute;
    top: 27%;
    left: 23.5%;
    font-size: 14px;
    font-weight: bold;
}
.item15-page-3{
    position: absolute;
    top: 27%;
    left: 30%;
    font-size: 14px;
    font-weight: bold;
}
.item16-page-3{
    position: absolute;
    top: 27%;
    left: 37.5%;
    font-size: 14px;
    font-weight: bold;
}
.item17-page-3{
    position: absolute;
    top: 27%;
    left: 44.5%;
    font-size: 14px;
    font-weight: bold;
}
.item18-page-3{
    position: absolute;
    top: 27%;
    left: 52%;
    font-size: 14px;
    font-weight: bold;
}
.item19-page-3{
    position: absolute;
    top: 27%;
    left: 57.5%;
    font-size: 14px;
    font-weight: bold;
}
.item20-page-3{
    position: absolute;
    top: 27%;
    left: 65.5%;
    font-size: 14px;
    font-weight: bold;
}
.item21-page-3{
    position: absolute;
    top: 27%;
    left: 73%;
    font-size: 14px;
    font-weight: bold;
}
.item22-page-3{
    position: absolute;
    top: 27%;
    left: 81.5%;
    font-size: 14px;
    font-weight: bold;
}
.item23-page-3{
    position: absolute;
    top: 33%;
    left: 8%;
    font-size: 14px;
    font-weight: bold;
}
.item24-page-3{
    position: absolute;
    top: 33%;
    left: 15.5%;
    font-size: 14px;
    font-weight: bold;
}
.item25-page-3{
    position: absolute;
    top: 33%;
    left: 23.3%;
    font-size: 14px;
    font-weight: bold;
}
.item26-page-3{
    position: absolute;
    top: 33%;
    left: 30%;
    font-size: 14px;
    font-weight: bold;
}
.item27-page-3{
    position: absolute;
    top: 33%;
    left: 36.5%;
    font-size: 14px;
    font-weight: bold;
}
.item28-page-3{
    position: absolute;
    top: 33%;
    left: 43.5%;
    font-size: 14px;
    font-weight: bold;
}
.item29-page-3{
    position: absolute;
    top: 33%;
    left: 50.5%;
    font-size: 14px;
    font-weight: bold;
}
.item30-page-3{
    position: absolute;
    top: 33%;
    left: 56.5%;
    font-size: 14px;
    font-weight: bold;
}
.item31-page-3{
    position: absolute;
    top: 33%;
    left: 65.5%;
    font-size: 14px;
    font-weight: bold;
}
.item32-page-3{
    position: absolute;
    top: 33%;
    left: 72%;
    font-size: 14px;
    font-weight: bold;
}
.item33-page-3{
    position: absolute;
    top: 33%;
    left: 81%;
    font-size: 14px;
    font-weight: bold;
}
.item34-page-3{
    position: absolute;
    top: 46%;
    left: 10%;
    font-size: 18px;
}
.item35-page-3{
    position: absolute;
    top: 70%;
    left: 0%;
}
.subTitulo2-page-3{
    position: absolute;
    top: 60%;
    left: 13%;
    font-weight: bold;
}
.item36-page-3{
    position: absolute;
    top: 65%;
    left: 11%;
}
.item37-page-3{
    position: absolute;
    top: 67%;
    left: 21%;
}
.item38-page-3{
    position: absolute;
    top: 69%;
    left: 21%;
}
.item39-page-3{
    position: absolute;
    top: 74%;
    left: 11%;
}
.item40-page-3{
    position: absolute;
    top: 76.3%;
    left: 21%;
}
.item41-page-3{
    position: absolute;
    top: 78.3%;
    left: 21%;
}
.item42-page-3{
    position: absolute;
    top: 84%;
    left: 11%;
}
.subTitulo3-page-3{
    position: absolute;
    top: 60%;
    left: 66%;
    font-weight: bold;
}
.item43-page-3{
    position: absolute;
    top: 65%;
    left: 60%;
}
.item44-page-3{
    position: absolute;
    top: 67%;
    left: 61.7%;
}
.item45-page-3{
    position: absolute;
    top: 69%;
    left: 61.7%;
}
.item46-page-3{
    position: absolute;
    top: 74%;
    left: 60%;
}
.item47-page-3{
    position: absolute;
    top: 76%;
    left: 61.7%;
}
.item48-page-3{
    position: absolute;
    top: 78%;
    left: 61.7%;
}
.item49-page-3{
    position: absolute;
    top: 84%;
    left: 60%;
}
.item50-page-3{
    position: absolute;
    top: 95%;
    left: 92%;
}
/***************************************************/
/***************************************************/
/**********************Page 4***********************/
/***************************************************/
/***************************************************/
.item1-page-4{
    position: absolute;
    top: 15%;
    left: 21%;
    font-size: 12px;
}
.item2-page-4{
    position: absolute;
    top: 15%;
    left: 61%;
    font-size: 12px;
}
.item3-page-4{
    position: absolute;
    top: 21.5%;
    left: 30.5%;
    font-size: 12px;
}
.item4-page-4{
    position: absolute;
    top: 21%;
    left: 57%;
    font-size: 12px;
}
.item5-page-4{
    position: absolute;
    top: 21%;
    left: 72.5%;
    font-size: 12px;
}
.item6-page-4{
    position: absolute;
    top: 27.5%;
    left: 27%;
    font-size: 12px;
}
.item7-page-4{
    position: absolute;
    top: 27.5%;
    left: 60%;
    font-size: 12px;
}
.item8-page-4{
    position: absolute;
    top: 27.5%;
    left: 72%;
    font-size: 12px;
}
.item9-page-4{
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 12px;
}
.item10-page-4{
    position: absolute;
    top: 50.3%;
    left: 60%;
    font-size: 12px;
}
.item11-page-4{
    position: absolute;
    top: 56%;
    left: 30%;
    font-size: 12px;
}
.item12-page-4{
    position: absolute;
    top: 55.8%;
    left: 75.5%;
    font-size: 12px;
}
.item13-page-4{
    position: absolute;
    top: 70.7%;
    left: 30%;
    font-size: 12px;
}
.item14-page-4{
    position: absolute;
    top: 72%;
    left: 59.3%;
    font-size: 12px;
}
.item15-page-4{
    position: absolute;
    top: 72%;
    left: 72.3%;
    font-size: 12px;
}
.item16-page-4{
    position: absolute;
    top: 77.5%;
    left: 27%;
    font-size: 12px;
}
.item17-page-4{
    position: absolute;
    top: 77.5%;
    left: 39.3%;
    font-size: 12px;
}
.item18-page-4{
    position: absolute;
    top: 78.8%;
    left: 66%;
    font-size: 12px;
}
.item19-page-4{
    position: absolute;
    top: 78.8%;
    left: 75%;
    font-size: 12px;
}
.item20-page-4{
    position: absolute;
    top: 95.5%;
    left: 92%;
    font-size: 12px;
}
.btn1-page-4{
    position: absolute;
    top: 13.8%;
    left: 32%;
}
.btn2-page-4{
    position: absolute;
    top: 13.5%;
    left: 70.5%;
}
.btn3-page-4{
    position: absolute;
    top: 19.5%;
    left: 43%;
}
.btn4-page-4{
    position: absolute;
    top: 19.5%;
    left: 66%;
}
.btn5-page-4{
    position: absolute;
    top: 19.5%;
    left: 81%;
}
.btn6-page-4{
    position: absolute;
    top: 26%;
    left: 39%;
}
.btn7-page-4{
    position: absolute;
    top: 26%;
    left: 70%;
}
.btn8-page-4{
    position: absolute;
    top: 26%;
    left: 84%;
}
.btn9-page-4{
    position: absolute;
    top: 49%;
    left: 34.5%;
}
.btn10-page-4{
    position: absolute;
    top: 49%;
    left: 71.5%;
}
.btn11-page-4{
    position: absolute;
    top: 54.5%;
    left: 39.5%;
}
.btn12-page-4{
    position: absolute;
    top: 54.5%;
    left: 89%;
}
.btn13-page-4{
    position: absolute;
    top: 70.3%;
    left: 42%;
}
.btn14-page-4{
    position: absolute;
    top: 71%;
    left: 70.3%;
}
.btn15-page-4{
    position: absolute;
    top: 71%;
    left: 81.5%;
}
.btn16-page-4{
    position: absolute;
    top: 76.5%;
    left: 32.5%;
}
.btn17-page-4{
    position: absolute;
    top: 76.5%;
    left: 49.5%;
}
.btn18-page-4{
    position: absolute;
    top: 78%;
    left: 73%;
}
.btn19-page-4{
    position: absolute;
    top: 78%;
    left: 84%;
}
/************************************************/
/********************Page 5**********************/
/************************************************/
/************************************************/
.titulo-page-5{
    position: absolute;
    top: 3%;
    left: 40%;
    font-weight: bold;
}
.item2-page-5{
    position: absolute;
    top: 5%;
    left: 10%;
}
.item3-page-5{
    position: absolute;
    top: 7%;
    left: 13%;
}
.item4-page-5{
    position: absolute;
    top: 9%;
    left: 13%;
}
.item5-page-5{
    position: absolute;
    top: 11%;
    left: 13%;
}
.item6-page-5{
    position: absolute;
    top: 13%;
    left: 13%;
}
.item7-page-5{
    position: absolute;
    top: 15%;
    left: 13%;
}
.subTitulo1-page-5{
    position: absolute;
    top: 17.8%;
    left: 11.5%;
}
.item8-page-5{
    position: absolute;
    top: 19.5%;
    left: 12%;
}
.item9-page-5{
    position: absolute;
    top: 21.5%;
    left: 12%;
}
.item10-page-5{
    position: absolute;
    top: 23.5%;
    left: 12%;
}
.item11-page-5{
    position: absolute;
    top: 25.5%;
    left: 12%;
}
.item12-page-5{
    position: absolute;
    top: 27.5%;
    left: 12%;
}
.subTitulo2-page-5{
    position: absolute;
    top: 32%;
    left: 11.5%;
}
.item13-page-5{
    position: absolute;
    top: 34%;
    left: 12%;
}
.item14-page-5{
    position: absolute;
    top: 36%;
    left: 12%;
}
.item15-page-5{
    position: absolute;
    top: 38%;
    left: 12%;
}
.item16-page-5{
    position: absolute;
    top: 40%;
    left: 12%;
}
.item17-page-5{
    position: absolute;
    top: 42%;
    left: 12%;
}
.subTitulo3-page-5{
    position: absolute;
    top: 44%;
    left: 12%;
    font-weight: bold;
}
.item18-page-5{
    position: absolute;
    top: 46%;
    left: 12%;
    font-size: 14px;
    text-align: left;
}
.item19-page-5{
    position: absolute;
    top: 58.8%;
    left: 12%;
    font-size: 14px;
}
.item20-page-5{
    position: absolute;
    top: 62.5%;
    left: 12%;
    font-size: 14px;
}
.item21-page-5{
    position: absolute;
    top: 66.5%;
    left: 12%;
    font-size: 14px;
}
.item22-page-5{
    position: absolute;
    top: 70.3%;
    left: 12%;
    font-size: 14px;
}
.item23-page-5{
    position: absolute;
    top: 74%;
    left: 12%;
    font-size: 14px;
}
.item24-page-5{
    position: absolute;
    top: 77.7%;
    left: 12%;
    font-size: 14px;
}
.item25-page-5{
    position: absolute;
    top: 81%;
    left: 12%;
    font-size: 14px;
}
.salto-linea{
    position: absolute;
    top: 80%;
    left: 0%;
}
.item26-page-5{
    position: absolute;
    top: 85%;
    left: 12%;
    font-size: 14px;
}
.item27-page-5{
    position: absolute;
    top: 89.7%;
    left: 12%;
    font-size: 14px;
}
.item28-page-5{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-5{
    position: absolute;
    top: 19.8%;
    left: 15%;
}
.result2-page-5{
    position: absolute;
    top: 21.8%;
    left: 15%;
}
.result3-page-5{
    position: absolute;
    top: 23.8%;
    left: 15%;
}
.result4-page-5{
    position: absolute;
    top: 25.8%;
    left: 15%;
}
.result5-page-5{
    position: absolute;
    top: 27.8%;
    left: 15%;
}
.result6-page-5{
    position: absolute;
    top: 34%;
    left: 15%;
}
.result7-page-5{
    position: absolute;
    top: 36%;
    left: 15%;
}
.result8-page-5{
    position: absolute;
    top: 38%;
    left: 15%;
}
.result9-page-5{
    position: absolute;
    top: 40%;
    left: 15%;
}
.result10-page-5{
    position: absolute;
    top: 42%;
    left: 15%;
}
.result11-page-5{
    position: absolute;
    top: 59%;
    left: 56.5%;
}
.result12-page-5{
    position: absolute;
    top: 63%;
    left: 56.5%;
}
.result13-page-5{
    position: absolute;
    top: 66.5%;
    left: 56.5%;
}
.result14-page-5{
    position: absolute;
    top: 70.5%;
    left: 56.5%;
}
.result15-page-5{
    position: absolute;
    top: 74.3%;
    left: 56.5%;
}
.result16-page-5{
    position: absolute;
    top: 78%;
    left: 56.5%;
}
.result17-page-5{
    position: absolute;
    top: 82%;
    left: 56.5%;
}
.result18-page-5{
    position: absolute;
    top: 86%;
    left: 56.5%;
}
.result19-page-5{
    position: absolute;
    top: 89.8%;
    left: 56.5%;
}

.btn1-page-5{
    position: absolute;
    top: 19%;
    left: 91%;
}
.btn2-page-5{
    position: absolute;
    top: 21%;
    left: 91%;
}
.btn3-page-5{
    position: absolute;
    top: 23%;
    left: 91%;
}
.btn4-page-5{
    position: absolute;
    top: 25%;
    left: 91%;
}
.btn5-page-5{
    position: absolute;
    top: 27%;
    left: 91%;
}
.btn6-page-5{
    position: absolute;
    top: 33.5%;
    left: 91%;
}
.btn7-page-5{
    position: absolute;
    top: 35.5%;
    left: 91%;
}
.btn8-page-5{
    position: absolute;
    top: 37.5%;
    left: 91%;
}
.btn9-page-5{
    position: absolute;
    top: 39.5%;
    left: 91%;
}
.btn10-page-5{
    position: absolute;
    top: 41.5%;
    left: 91%;
}
.btn11-page-5{
    position: absolute;
    top: 58.5%;
    left: 95.5%;
}
.btn12-page-5{
    position: absolute;
    top: 62.3%;
    left: 95.5%;
}
.btn13-page-5{
    position: absolute;
    top: 66%;
    left: 95.5%;
}
.btn14-page-5{
    position: absolute;
    top: 69.8%;
    left: 95.5%;
}
.btn15-page-5{
    position: absolute;
    top: 73.8%;
    left: 95.5%;
}
.btn16-page-5{
    position: absolute;
    top: 77.7%;
    left: 95.5%;
}
.btn17-page-5{
    position: absolute;
    top: 81.8%;
    left: 95.5%;
}
.btn18-page-5{
    position: absolute;
    top: 85.8%;
    left: 95.5%;
}
.btn19-page-5{
    position: absolute;
    top: 89.8%;
    left: 95.5%;
}
/***************************************************/
/***************************************************/
/**********************Page 6***********************/
/***************************************************/
/***************************************************/
.item1-page-6{
    position: absolute;
    top: 10.4%;
    left: 54.3%;
}
.item2-page-6{
    position: absolute;
    top: 13.4%;
    left: 54.3%;
}
.item3-page-6{
    position: absolute;
    top: 16.4%;
    left: 54.3%;
}
.item4-page-6{
    position: absolute;
    top: 19.4%;
    left: 54.3%;
}
.item5-page-6{
    position: absolute;
    top: 22.4%;
    left: 54.3%;
}
.item6-page-6{
    position: absolute;
    top: 25.4%;
    left: 54.3%;
}
.item7-page-6{
    position: absolute;
    top: 28.4%;
    left: 54.3%;
}
.item8-page-6{
    position: absolute;
    top: 31.4%;
    left: 54.3%;
}
.item9-page-6{
    position: absolute;
    top: 34.4%;
    left: 54.3%;
}
.item10-page-6{
    position: absolute;
    top: 10.4%;
    left: 83.7%;
}
.item11-page-6{
    position: absolute;
    top: 13.4%;
    left: 82.5%;
}
.item12-page-6{
    position: absolute;
    top: 16.4%;
    left: 83%;
}
.item13-page-6{
    position: absolute;
    top: 19.4%;
    left: 83.7%;
}
.item14-page-6{
    position: absolute;
    top: 22.4%;
    left: 83%;
}
.item15-page-6{
    position: absolute;
    top: 25.4%;
    left: 83.7%;
}
.item16-page-6{
    position: absolute;
    top: 28.4%;
    left: 83.7%;
}
.item17-page-6{
    position: absolute;
    top: 31.4%;
    left: 83.7%;
}
.item18-page-6{
    position: absolute;
    top: 34.4%;
    left: 83.7%;
}
.item19-page-6{
    position: absolute;
    top: 55.5%;
    left: 18.5%;
}
.item20-page-6{
    position: absolute;
    top: 58.8%;
    left: 24.8%;
}
.item21-page-6{
    position: absolute;
    top: 62.3%;
    left: 18%;
}
.item22-page-6{
    position: absolute;
    top: 62.3%;
    left: 35%;
}
.item23-page-6{
    position: absolute;
    top: 73%;
    left: 53.5%;
}
.item24-page-6{
    position: absolute;
    top: 73%;
    left: 67.5%;
}
.item25-page-6{
    position: absolute;
    top: 76%;
    left: 50%;
}
.item26-page-6{
    position: absolute;
    top: 76%;
    left: 61.5%;
}
.item27-page-6{
    position: absolute;
    top: 79.5%;
    left: 54.2%;
}
.item28-page-6{
    position: absolute;
    top: 83%;
    left: 60.8%;
}
.item29-page-6{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
/*Botones*/
.btn1-page-6{
    position: absolute;
    top: 10.4%;
    left: 61%;
}
.btn2-page-6{
    position: absolute;
    top: 13.4%;
    left: 61%;
}
.btn3-page-6{
    position: absolute;
    top: 16.4%;
    left: 61%;
}
.btn4-page-6{
    position: absolute;
    top: 19.4%;
    left: 61%;
}
.btn5-page-6{
    position: absolute;
    top: 22.4%;
    left: 61%;
}
.btn6-page-6{
    position: absolute;
    top: 25.4%;
    left: 61%;
}
.btn7-page-6{
    position: absolute;
    top: 28.4%;
    left: 61%;
}
.btn8-page-6{
    position: absolute;
    top: 31.4%;
    left: 61%;
}
.btn9-page-6{
    position: absolute;
    top: 34.4%;
    left: 61%;
}
.btn10-page-6{
    position: absolute;
    top: 10.4%;
    left: 91%;
}
.btn11-page-6{
    position: absolute;
    top: 13.4%;
    left: 91%;
}
.btn12-page-6{
    position: absolute;
    top: 16.4%;
    left: 91%;
}
.btn13-page-6{
    position: absolute;
    top: 19.4%;
    left: 91%;
}
.btn14-page-6{
    position: absolute;
    top: 22.4%;
    left: 91%;
}
.btn15-page-6{
    position: absolute;
    top: 25.4%;
    left: 91%;
}
.btn16-page-6{
    position: absolute;
    top: 28.4%;
    left: 91%;
}
.btn17-page-6{
    position: absolute;
    top: 31.4%;
    left: 91%;
}
.btn18-page-6{
    position: absolute;
    top: 34.4%;
    left: 91%;
}
.btn19-page-6{
    position: absolute;
    top: 54.8%;
    left: 28%;
}
.btn20-page-6{
    position: absolute;
    top: 58.8%;
    left: 33%;
}
.btn21-page-6{
    position: absolute;
    top: 62.3%;
    left: 27%;
}
.btn22-page-6{
    position: absolute;
    top: 62.3%;
    left: 42%;
}
.btn23-page-6{
    position: absolute;
    top: 72.8%;
    left: 60%;
}
.btn24-page-6{
    position: absolute;
    top: 72.5%;
    left: 72%;
}
.btn25-page-6{
    position: absolute;
    top: 76%;
    left: 59%;
}
.btn26-page-6{
    position: absolute;
    top: 75.8%;
    left: 68.5%;
}
.btn27-page-6{
    position: absolute;
    top: 78.5%;
    left: 60%;
}
.btn28-page-6{
    position: absolute;
    top: 82.8%;
    left: 68%;
}
/***************************************************/
/***************************************************/
/**********************Page 7***********************/
/***************************************************/
/***************************************************/
.titulo-page-7{
    position: absolute;
    top: 5.3%;
    left: 39%;
    font-size: 18px;
}
.item1-page-7{
    position: absolute;
    top: 55%;
    left: 10%;
}
.item2-page-7{
    position: absolute;
    top: 57.5%;
    left: 10%;
}
.item3-page-7{
    position: absolute;
    top: 62%;
    left: 10%;
}
.item4-page-7{
    position: absolute;
    top: 64.5%;
    left: 10%;
}
.item5-page-7{
    position: absolute;
    top: 69%;
    left: 10%;
}
.item6-page-7{
    position: absolute;
    top: 71.5%;
    left: 10%;
}
.item7-page-7{
    position: absolute;
    top: 76%;
    left: 10%;
}
.item8-page-7{
    position: absolute;
    top: 78.5%;
    left: 10%;
}
.item9-page-7{
    position: absolute;
    top: 83%;
    left: 10%;
}
.item10-page-7{
    position: absolute;
    top: 85.5%;
    left: 10%;
}
.item11-page-7{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-7{
    position: absolute;
    top: 55%;
    left: 31.3%;
}
.result2-page-7{
    position: absolute;
    top: 57.5%;
    left: 17.5%;
}
.result3-page-7{
    position: absolute;
    top: 64.5%;
    left: 19.5%;
}
.result4-page-7{
    position: absolute;
    top: 71.5%;
    left: 13.3%;
}
.result5-page-7{
    position: absolute;
    top: 78.5%;
    left: 13.3%;
}
.result6-page-7{
    position: absolute;
    top: 85.5%;
    left: 13.3%;
}
.btn1-page-7{
    position: absolute;
    top: 54%;
    left: 49%;
}
.btn2-page-7{
    position: absolute;
    top: 57.5%;
    left: 37%;
}
.btn3-page-7{
    position: absolute;
    top: 64.5%;
    left: 38.5%;
}
.btn4-page-7{
    position: absolute;
    top: 71.5%;
    left: 55%;
}
.btn5-page-7{
    position: absolute;
    top: 78.5%;
    left: 50.4%;
}
.btn6-page-7{
    position: absolute;
    top: 85.5%;
    left: 43.5%;
}
/***************************************************/
/***************************************************/
/**********************Page 8***********************/
/***************************************************/
/***************************************************/
.unidadTitulo{
    position: absolute;
    top: 0%;
    left: 10%;
    color: rgb(250, 246, 27);
}
.titulo1-page-8{
    position: absolute;
    top: 6.3%;
    left: 33.3%;
}
.titulo2-page-8{
    position: absolute;
    top: 28.5%;
    left: 38%;
    font-size: 17.5px;
}
.item1-page-8{
    position: absolute;
    top: 10%;
    left: 12%;
}
.item2-page-8{
    position: absolute;
    top: 15%;
    left: 14%;
}
.item3-page-8{
    position: absolute;
    top: 15%;
    left: 36%;
}
.item4-page-8{
    position: absolute;
    top: 14.8%;
    left: 43.5%;
}
.item5-page-8{
    position: absolute;
    top: 15%;
    left: 46%;
}
.item6-page-8{
    position: absolute;
    top: 18.3%;
    left: 38.5%;
}
.item7-page-8{
    position: absolute;
    top: 18.3%;
    left: 42%;
}
.item8-page-8{
    position: absolute;
    top: 22.5%;
    left: 14%;
}
.item9-page-8{
    position: absolute;
    top: 22.5%;
    left: 36%;
}
.item10-page-8{
    position: absolute;
    top: 34%;
    left: 11.3%;
}
.item11-page-8{
    position: absolute;
    top: 34%;
    left: 33.5%;
}
.item12-page-8{
    position: absolute;
    top: 34.3%;
    left: 54.3%;
}
.item13-page-8{
    position: absolute;
    top: 34.5%;
    left: 76.4%;
}
.item14-page-8{
    position: absolute;
    top: 52.2%;
    left: 10.1%;
}
.item15-page-8{
    position: absolute;
    top: 52.2%;
    left: 33.2%;
}
.item16-page-8{
    position: absolute;
    top: 52.6%;
    left: 54.3%;
}
.item17-page-8{
    position: absolute;
    top: 52.2%;
    left: 76.4%;
}
.item18-page-8{
    position: absolute;
    top: 69.9%;
    left: 10%;
}
.item19-page-8{
    position: absolute;
    top: 69.5%;
    left: 33.5%;
}
.item20-page-8{
    position: absolute;
    top: 69.7%;
    left: 55.3%;
}
.item21-page-8{
    position: absolute;
    top: 69.8%;
    left: 77.2%;
}
.item22-page-8{
    position: absolute;
    top: 87%;
    left: 13%;
    font-weight: bold;
}
.item23-page-8{
    position: absolute;
    top: 87%;
    left: 27%;
    font-weight: bold;
}
.item24-page-8{
    position: absolute;
    top: 87%;
    left: 39%;
    font-weight: bold;
}
.item25-page-8{
    position: absolute;
    top: 87%;
    left: 52%;
    font-weight: bold;
}
.item26-page-8{
    position: absolute;
    top: 87%;
    left: 65.5%;
    font-weight: bold;
}
.item27-page-8{
    position: absolute;
    top: 87%;
    left: 76%;
    font-weight: bold;
}
.item28-page-8{
    position: absolute;
    top: 90%;
    left: 13%;
    font-weight: bold;
}
.item29-page-8{
    position: absolute;
    top: 90%;
    left: 27%;
    font-weight: bold;
}
.item30-page-8{
    position: absolute;
    top: 90%;
    left: 39%;
    font-weight: bold;
}
.item31-page-8{
    position: absolute;
    top: 90%;
    left: 52%;
    font-weight: bold;
}
.item32-page-8{
    position: absolute;
    top: 90%;
    left: 65.5%;
    font-weight: bold;
}
.item33-page-8{
    position: absolute;
    top: 90%;
    left: 76%;
    font-weight: bold;
}
.item34-page-8{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
/***************************************************/
/***************************************************/
/**********************Page 9***********************/
/***************************************************/
/***************************************************/
.subTitulo1-page-9{
    position: absolute;
    top: 3%;
    left: 13%;
}
.subTitulo2-page-9{
    position: absolute;
    top: 3%;
    left: 60%;
}
.item1-page-9{
    position: absolute;
    top: 6%;
    left: 8%;
    list-style: circle;
}
.item2-page-9{
    position: absolute;
    top: 6%;
    left: 40%;
    list-style: none;
}
.item3-page-9{
    position: absolute;
    top: 45%;
    left: 8%;
    list-style: upper-alpha;
}
.item4-page-9{
    position: absolute;
    top: 45%;
    left: 43%;
    list-style: upper-alpha;
}
.item5-page-9{
    position: absolute;
    top: 45%;
    left: 70%;
    list-style: upper-alpha;
}
.item6-page-9{
    position: absolute;
    top: 67%;
    left: 8%;
    list-style: upper-alpha;
}
.item7-page-9{
    position: absolute;
    top: 67%;
    left: 43%;
    list-style: upper-alpha;
}
.item8-page-9{
    position: absolute;
    top: 67%;
    left: 70%;
    list-style: upper-alpha;
}
.item9-page-9{
    position: absolute;
    top: 87%;
    left: 8%;
    list-style: upper-alpha;
}
.item10-page-9{
    position: absolute;
    top: 87%;
    left: 43%;
    list-style: upper-alpha;
}
.item11-page-9{
    position: absolute;
    top: 87%;
    left: 70%;
    list-style: upper-alpha;
}
.item12-page-9{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-9{
    position: absolute;
    left: 36%;
}
.result2-page-9{    
    position: absolute;
    top: 12.5%;
    left: 36%;
}
.result3-page-9{    
    position: absolute;
    top: 25%;
    left: 40%;
}
.result4-page-9{    
    position: absolute;
    top: 37.8%;
    left: 40%;
}
.result5-page-9{    
    position: absolute;
    top: 75%;
    left: 33%;
}
.result6-page-9{    
    position: absolute;
    top: 87.5%;
    left: 40%;
}
.result7-page-9{
    position: absolute;
    top: 50%;
    left: 23%;
}
.result8-page-9{
    position: absolute;
    top: 50%;
    left: 23%;
}
.result9-page-9{
    position: absolute;
    top: 0%;
    left: 23%;
}
.result10-page-9{
    position: absolute;
    top: 50%;
    left: 23%;
}
.result11-page-9{
    position: absolute;
    top: 0%;
    left: 22%;
}
.result12-page-9{
    position: absolute;
    top: 50%;
    left: 23%;
}
.result13-page-9{
    position: absolute;
    top: 0%;
    left: 23%;
}
.result14-page-9{
    position: absolute;
    top: 50%;
    left: 23%;
}
.result15-page-9{
    position: absolute;
    top: 0%;
    left: 23%;
}
.result16-page-9{
    position: absolute;
    top: 50%;
    left: 23%;
}
.result17-page-9{
    position: absolute;
    top: 0%;
    left: 23%;
}
.result18-page-9{
    position: absolute;
    top: 50%;
    left: 23%;
}
.result19-page-9{
    position: absolute;
    top: 0%;
    left: 23%;
}
.result20-page-9{
    position: absolute;
    top: 50%;
    left: 23%;
}
.btn1-page-9{
    position: absolute;
    top: 5%;
    left: 79.5%;
}
.btn2-page-9{
    position: absolute;
    top: 8%;
    left: 79.5%;
}
.btn3-page-9{
    position: absolute;
    top: 12%;
    left: 92%;
}
.btn4-page-9{
    position: absolute;
    top: 15%;
    left: 92%;
}
.btn5-page-9{
    position: absolute;
    top: 24.6%;
    left: 92%;
}
.btn6-page-9{
    position: absolute;
    top: 27.5%;
    left: 92%;
}
.btn7-page-9{
    position: absolute;
    top: 47.5%;
    left: 32%;
}
.btn8-page-9{
    position: absolute;
    top: 47.5%;
    left: 67%;
}
.btn9-page-9{
    position: absolute;
    top: 44.8%;
    left: 94%;
}
.btn10-page-9{
    position: absolute;
    top: 69.5%;
    left: 32%;
}
.btn11-page-9{
    position: absolute;
    top: 66.5%;
    left: 67.5%;
}
.btn12-page-9{
    position: absolute;
    top: 69.5%;
    left: 67.5%;
}
.btn13-page-9{
    position: absolute;
    top: 66.5%;
    left: 94.5%;
}
.btn14-page-9{
    position: absolute;
    top: 69.5%;
    left: 94.5%;
}
.btn15-page-9{
    position: absolute;
    top: 86.8%;
    left: 33%;
}
.btn16-page-9{
    position: absolute;
    top: 90%;
    left: 33%;
}
.btn17-page-9{
    position: absolute;
    top: 86.8%;
    left: 68%;
}
.btn18-page-9{
    position: absolute;
    top: 89.8%;
    left: 68%;
}
.btn19-page-9{
    position: absolute;
    top: 86.8%;
    left: 94.5%;
}
.btn20-page-9{
    position: absolute;
    top: 89.8%;
    left: 94.5%;
}
/***************************************************/
/***************************************************/
/**********************Page 10***********************/
/***************************************************/
/***************************************************/
.unidadTitulo-page-10{
    position: absolute;
    top: 0%;
    left: 11%;
    color: rgb(250, 246, 27);
}
.titulo1-page-10{
    position: absolute;
    top: 9%;
    left: 33%;
    font-size: 30px;
}
.item1-page-10{
    position: absolute;
    top: 18.5%;
    left: 12%;
}
.item2-page-10{
    position: absolute;
    top: 25%;
    left: 25%;
}
.item3-page-10{
    position: absolute;
    top: 25%;
    left: 45%;
}
.item4-page-10{
    position: absolute;
    top: 27%;
    left: 54%;
}
.item5-page-10{
    position: absolute;
    top: 29%;
    left: 45%;
}
.item6-page-10{
    position: absolute;
    top: 31%;
    left: 54%;
}
.item7-page-10{
    position: absolute;
    top: 34.5%;
    left: 25%;
}
.item8-page-10{
    position: absolute;
    top: 34.5%;
    left: 45%;
}
.item9-page-10{
    position: absolute;
    top: 38.5%;
    left: 45%;
}
.item10-page-10{
    position: absolute;
    top: 50%;
    left: 6%;
    list-style: circle;
}
.item11-page-10{
    position: absolute;
    top: 54.5%;
    left: 38%;
    list-style: none;
}
.item12-page-10{
    position: absolute;
    top: 50%;
    left: 57%;
    list-style: circle;
}
.item13-page-10{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-10{
    position: absolute;
    top: 61%;
    left: 12.3%;
}
.result2-page-10{
    position: absolute;
    top: 70%;
    left: 12.3%;
}
.result3-page-10{
    position: absolute;
    top: 80%;
    left: 12.3%;
}
.result4-page-10{
    position: absolute;
    top: 90%;
    left: 12.3%;
}
.btn1-page-10{
    position: absolute;
    top: 71%;
    left: 96%;
}
.btn2-page-10{
    position: absolute;
    top: 74%;
    left: 96%;
}
.btn3-page-10{
    position: absolute;
    top: 77.5%;
    left: 96%;
}
.btn4-page-10{
    position: absolute;
    top: 81%;
    left: 96%;
}
/***************************************************/
/***************************************************/
/**********************Page 11***********************/
/***************************************************/
/***************************************************/
.item1-page-11{
    position: absolute;
    top: 24%;
    left: 10%;
    list-style: none;
}
.item2-page-11{
    position: absolute;
    top: 24%;
    left: 55%;
    list-style: none;
}
.item3-page-11{
    position: absolute;
    top: 70%;
    left: 10%;
    list-style: none;
}
.item4-page-11{
    position: absolute;
    top: 70%;
    left: 55%;
    list-style: none;
}
.item5-page-11{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-11{
    position: absolute;
    top: 15.5%;
    left: 34.7%;
}
.result2-page-11{
    position: absolute;
    top: 50%;
    left: 34%;
}
.result3-page-11{
    position: absolute;
    top: 15.5%;
    left: 34%;
}
.result4-page-11{
    position: absolute;
    top: 50%;
    left: 34%;
}
.result5-page-11{
    position: absolute;
    top: 0%;
    left: 21.5%;
}
.result6-page-11{
    position: absolute;
    top: 15.8%;
    left: 34%;
}
.result7-page-11{
    position: absolute;
    top: 33%;
    left: 22%;
}
.result8-page-11{
    position: absolute;
    top: 50%;
    left: 34%;
}
.result9-page-11{
    position: absolute;
    top: 66.5%;
    left: 22%;
}
.result10-page-11{
    position: absolute;
    top: 83.5%;
    left: 22%;
}
.result11-page-11{
    position: absolute;
    top: 0%;
    left: 21.5%;
}
.result12-page-11{
    position: absolute;
    top: 15.8%;
    left: 34%;
}
.result13-page-11{
    position: absolute;
    top: 33%;
    left: 22%;
}
.result14-page-11{
    position: absolute;
    top: 50%;
    left: 34%;
}
.result15-page-11{
    position: absolute;
    top: 66.5%;
    left: 22%;
}
.result16-page-11{
    position: absolute;
    top: 83.5%;
    left: 22%;
}
.btn1-page-11{
    position: absolute;
    top: 26.5%;
    left: 49%;
}
.btn2-page-11{
    position: absolute;
    top: 33.5%;
    left: 49%;
}
.btn3-page-11{
    position: absolute;
    top: 27%;
    left: 95%;
}
.btn4-page-11{
    position: absolute;
    top: 33.5%;
    left: 95%;
}
.btn5-page-11{
    position: absolute;
    top: 69.5%;
    left: 50.5%;
}
.btn6-page-11{
    position: absolute;
    top: 73%;
    left: 50.5%;
}
.btn7-page-11{
    position: absolute;
    top: 76.5%;
    left: 50.5%;
}
.btn8-page-11{
    position: absolute;
    top: 80%;
    left: 50.5%;
}
.btn9-page-11{
    position: absolute;
    top: 83%;
    left: 50.5%;
}
.btn10-page-11{
    position: absolute;
    top: 86.5%;
    left: 50.5%;
}
.btn11-page-11{
    position: absolute;
    top: 69.5%;
    left: 95.5%;
}
.btn12-page-11{
    position: absolute;
    top: 73%;
    left: 95.5%;
}
.btn13-page-11{
    position: absolute;
    top: 76.5%;
    left: 95.5%;
}
.btn14-page-11{
    position: absolute;
    top: 79.5%;
    left: 95.5%;
}
.btn15-page-11{
    position: absolute;
    top: 83%;
    left: 95.5%;
}
.btn16-page-11{
    position: absolute;
    top: 86.5%;
    left: 95.5%;
}
/***************************************************/
/***************************************************/
/**********************Page 12***********************/
/***************************************************/
/***************************************************/
.item1-page-12{
    position: absolute;
    top: 28%;
    left: 13%;
    font-size: 14px;
    list-style: none;
}
.item2-page-12{
    position: absolute;
    top: 28%;
    left: 55%;
    font-size: 14px;
    list-style: none;
}
.item3-page-12{
    position: absolute;
    top: 72%;
    left: 13%;
    font-size: 13px;
    list-style: none;
}
.item4-page-12{
    position: absolute;
    top: 71.5%;
    left: 55%;
    list-style: none;
    font-size: 14px;
}
.item5-page-12{
    position: absolute;
    top: 83.5%;
    left: 55%;
    list-style: none;
    font-size: 14px;
}
.item6-page-12{
    position: absolute;
    top: 45%;
    left: 15%;
    font-weight: bold;
}
.item7-page-12{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-12{
    position: absolute;
    top: 27.8%;
    left: 21.5%;
}
.result2-page-12{
    position: absolute;
    top: 30.5%;
    left: 26%;
}
.result3-page-12{
    position: absolute;
    top: 33.3%;
    left: 21.5%;
}
.result4-page-12{
    position: absolute;
    top: 36%;
    left: 26%;
}
.result5-page-12{
    position: absolute;
    top: 38.6%;
    left: 21.5%;
}
.result6-page-12{
    position: absolute;
    top: 41.3%;
    left: 21.5%;
}
.result7-page-12{
    position: absolute;
    top: 27.6%;
    left: 63.5%;
}
.result8-page-12{
    position: absolute;
    top: 30.5%;
    left: 67.7%;
}
.result9-page-12{
    position: absolute;
    top: 33%;
    left: 63.5%;
}
.result10-page-12{
    position: absolute;
    top: 35.8%;
    left: 67.7%;
}
.result11-page-12{
    position: absolute;
    top: 38.5%;
    left: 63.5%;
}
.result12-page-12{
    position: absolute;
    top: 41.3%;
    left: 63.5%;
}
.result13-page-12{
    position: absolute;
    top: 71.3%;
    left: 63.5%;
}
.result14-page-12{
    position: absolute;
    top: 74%;
    left: 63.5%;
}
.result15-page-12{
    position: absolute;
    top: 76.7%;
    left: 63.5%;
}
.result16-page-12{
    position: absolute;
    top: 79.5%;
    left: 63.5%;
}
.result17-page-12{
    position: absolute;
    top: 83.3%;
    left: 63.5%;
}
.result18-page-12{
    position: absolute;
    top: 86%;
    left: 63.5%;
}
.result19-page-12{
    position: absolute;
    top: 88.8%;
    left: 63.5%;
}
.btn1-page-12{
    position: absolute;
    top: 27.5%;
    left: 45.3%;
}
.btn2-page-12{
    position: absolute;
    top: 30.5%;
    left: 45.3%;
}
.btn3-page-12{
    position: absolute;
    top: 33%;
    left: 45.3%;
}
.btn4-page-12{
    position: absolute;
    top: 35.5%;
    left: 45.3%;
}
.btn5-page-12{
    position: absolute;
    top: 38.5%;
    left: 45.3%;
}
.btn6-page-12{
    position: absolute;
    top: 41.3%;
    left: 45.3%;
}
.btn7-page-12{
    position: absolute;
    top: 27.5%;
    left: 87.3%;
}
.btn8-page-12{
    position: absolute;
    top: 30.5%;
    left: 87.3%;
}
.btn9-page-12{
    position: absolute;
    top: 33%;
    left: 87.3%;
}
.btn10-page-12{
    position: absolute;
    top: 35.5%;
    left: 87.3%;
}
.btn11-page-12{
    position: absolute;
    top: 38.5%;
    left: 87.3%;
}
.btn12-page-12{
    position: absolute;
    top: 41.3%;
    left: 87.3%;
}
.btn13-page-12{
    position: absolute;
    top: 71%;
    left: 88%;
}
.btn14-page-12{
    position: absolute;
    top: 74%;
    left: 88%;
}
.btn15-page-12{
    position: absolute;
    top: 76.6%;
    left: 88%;
}
.btn16-page-12{
    position: absolute;
    top: 79.5%;
    left: 88%;
}
.btn17-page-12{
    position: absolute;
    top: 83%;
    left: 88%;
}
.btn18-page-12{
    position: absolute;
    top: 86%;
    left: 88%;
}
.btn19-page-12{
    position: absolute;
    top: 88.5%;
    left: 88%;
}
/***************************************************/
/***************************************************/
/**********************Page 13***********************/
/***************************************************/
/***************************************************/
.unidadTitulo-page-13{
    position: absolute;
    top: 0%;
    left: 13%;
    color: rgb(250, 246, 27);
}
.titulo1-page-13{
    position: absolute;
    top: 12.5%;
    left: 24%;
    font-size: 27px;
}
.item1-page-13{
    position: absolute;
    top: 21.2%;
    left: 7.3%;
}
.item2-page-13{
    position: absolute;
    top: 21.2%;
    left: 32.5%;
}
.item3-page-13{
    position: absolute;
    top: 21%;
    left: 57%;
}
.item4-page-13{
    position: absolute;
    top: 21%;
    left: 80.2%;
}
.item5-page-13{
    position: absolute;
    top: 48.5%;
    left: 7.9%;
}
.item6-page-13{
    position: absolute;
    top: 48.5%;
    left: 32.5%;
}
.item7-page-13{
    position: absolute;
    top: 48.5%;
    left: 56%;
}
.item8-page-13{
    position: absolute;
    top: 48.5%;
    left: 80.2%;
}
.item9-page-13{
    position: absolute;
    top: 80%;
    left: 5%;
    width: 100%;
    
}
.item10-page-13{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
/***************************************************/
/***************************************************/
/**********************Page 14***********************/
/***************************************************/
/***************************************************/
.item1-page-14{
    position: absolute;
    top: 4%;
    left: 14%;
}
.item2-page-14{
    position: absolute;
    top: 10%;
    left: 18%;
}
.item3-page-14{
    position: absolute;
    top: 14%;
    left: 18%;
}
.item4-page-14{
    position: absolute;
    top: 16.5%;
    left: 18%;
}
.item5-page-14{
    position: absolute;
    top: 18.5%;
    left: 18%;
}
.item6-page-14{
    position: absolute;
    top: 22%;
    left: 18%;
}
.item7-page-14{
    position: absolute;
    top: 24.3%;
    left: 18%;
}
.item8-page-14{
    position: absolute;
    top: 26.5%;
    left: 18%;
}
.item9-page-14{
    position: absolute;
    top: 10%;
    left: 36%;
}
.item10-page-14{
    position: absolute;
    top: 16.5%;
    left: 36%;
}
.item11-page-14{
    position: absolute;
    top: 23%;
    left: 36%;
}
.item12-page-14{
    position: absolute;
    top: 16.5%;
    left: 50%;
}
.item13-page-14{
    position: absolute;
    top: 10%;
    left:75%;
}
.item14-page-14{
    position: absolute;
    top: 14%;
    left: 75%;
}
.item15-page-14{
    position: absolute;
    top: 16.5%;
    left: 75%;
}
.item16-page-14{
    position: absolute;
    top: 18.5%;
    left: 75%;
}
.item17-page-14{
    position: absolute;
    top: 22%;
    left: 75%;
}
.item18-page-14{
    position: absolute;
    top: 24.3%;
    left: 75%;
}
.item19-page-14{
    position: absolute;
    top: 26.5%;
    left: 75%;
}
.item20-page-14{
    position: absolute;
    top: 37%;
    left: 10%;
    list-style: circle;
}
.item21-page-14{
    position: absolute;
    top: 37%;
    left: 50%;
    list-style-type: none;
}
.item22-page-14{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-14, .result2-page-14, .result3-page-14, .result4-page-14{
    position: absolute;
    left: 12.5%;
}
.btn1-page-14, .btn2-page-14, .btn3-page-14, .btn4-page-14{
    position: absolute;
}
/***************************************************/
/***************************************************/
/**********************Page 15***********************/
/***************************************************/
/***************************************************/
.titulo1-page-15{
    position: absolute;
    top: 4%;
    left: 8%;
}
.item1-page-15{
    position: absolute;
    top: 8%;
    left: 39.5%;
}
.item2-page-15{
    position: absolute;
    top: 14%;
    left: 59.3%;
}
.item3-page-15{
    position: absolute;
    top: 35.8%;
    left: 14.5%;
    width: 20%;
    font-size: 15px;
}
.item4-page-15{
    position: absolute;
    top: 37%;
    left: 60%;
    width: 20%;
    font-size: 15px;
}
.item5-page-15{
    position: absolute;
    top: 66%;
    left: 10%;
}
.item6-page-15{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-15, .result2-page-15, .result4-page-15, .result5-page-15,
.result7-page-15, .result8-page-15, .result10-page-15{
    position: absolute;
    margin-left: 1%;
}
.result3-page-15, .result6-page-15, .result9-page-15{
    position: absolute;   
}
/***************************************************/
/***************************************************/
/**********************Page 16***********************/
/***************************************************/
/***************************************************/
@font-face{
    font-family: "Courgette";
    src: url("../../assets/Courgette-Regular.ttf");
}
.titulo1-page-16{
    position: absolute;
    top: 8%;
    left: 40%;
    color: #fff;
}
.titulo2-page-16{
    position: absolute;
    top: 46.8%;
    left: 13%;
    color: #fff;
}
.subTitulo1-page-16{
    position: absolute;
    top: 26%;
    left: 28%;
    font-weight: bold;
}
.item1-page-16{
    position: absolute;
    top: 15%;
    left: 13%;
    font-family: "Courgette";
    font-size: 19px;
}
.item2-page-16{
    position: absolute;
    top: 15%;
    left: 50%;
    font-family: "Courgette";
    font-size: 19px;
}
.item3-page-16{
    position: absolute;
    top: 15.5%;
    left: 68%;
}
.item4-page-16{
    position: absolute;
    top: 19.5%;
    left: 13%;
    font-family: "Courgette";
    font-size: 19px;
}
.item5-page-16{
    position: absolute;
    top: 19.5%;
    left: 30%;
    font-family: "Courgette";
    font-size: 19px;
}
.item6-page-16{
    position: absolute;
    top: 19.5%;
    left: 55%;
    font-family: "Courgette";
    font-size: 19px;
}
.item7-page-16{
    position: absolute;
    top: 19.5%;
    left: 56%;
    font-family: "Courgette";
    font-size: 19px;
}
.item8-page-16{
    position: absolute;
    top: 29%;
    left: 13%;
    font-size: 12px;
}
.item9-page-16{
    position: absolute;
    top: 50%;
    left: 13%;
    font-size: 13px;
}
.item10-page-16{
    position: absolute;
    top: 52.5%;
    left: 22.5%;
    font-size: 13px;
}
.item11-page-16{
    position: absolute;
    top: 57%;
    left: 13%;
    font-size: 14px;
}
.item12-page-16{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-16, .result2-page-16, .result3-page-16, .result4-page-16, .result5-page-16,
.result6-page-16, .result7-page-16, .result8-page-16, .result9-page-16, .result10-page-16,
.result11-page-16, .result12-page-16, .result13-page-16, .result14-page-16, .result15-page-16,
.result16-page-16, .result17-page-16, .result18-page-16, .result19-page-16{
    position: absolute;
    margin-left: 1%;
}
/***************************************************/
/***************************************************/
/**********************Page 17***********************/
/***************************************************/
/***************************************************/
.titulo1-page-17{
    position: absolute;
    top: 7%;
    left: 12.5%;
    color: #fff;
}
.item1-page-17{
    position: absolute;
    top: 13%;
    left: 7%;
    list-style: none;
}
.item2-page-17{
    position: absolute;
    top: 16%;
    left: 38%;
}
.item3-page-17{
    position: absolute;
    top: 16%;
    left: 58%;
    list-style: none;
}
.item4-page-17{
    position: absolute;
    top: 60%;
    left: 10%;
}
.item5-page-17{
    position: absolute;
    top: 66%;
    left: 12.5%;
    font-size: 15px;
}
.item5-page-17 > li{
    margin-bottom: 1%;
}
.item6-page-17{
    position: absolute;
    top: 95.5%;
    left: 90%;
}
.result1-page-17, .result2-page-17, .result3-page-17, .result4-page-17,
.result5-page-17, .result6-page-17, .result7-page-17, .result8-page-17,
.result9-page-17, .result10-page-17, .result11-page-17, .result12-page-17,
.result13-page-17, .result14-page-17, .result15-page-17{
    position: absolute;
    margin-left: 1%;
}
.fuente-curva{
    font-family: "Courgette";
}
/***************************************************/
/***************************************************/
/**********************Page 18***********************/
/***************************************************/
/***************************************************/
.unidadTitulo-page-18{
    position: absolute;
    top: 0%;
    left: 12%;
    color: rgb(250, 246, 27);
}
.titulo-page-18{
    position: absolute;
    top: 9%;
    left: 24%;
}
/***************************************************/
/***************************************************/
/**********************Page 19***********************/
/***************************************************/
/***************************************************/
.item1-page-19{
    position: absolute;
    top: 5%;
    left: 13%;
}
.item2-page-19{
    position: absolute;
    top: 13%;
    left: 29%;
    font-size: 11px;
    list-style: none;
}
.item3-page-19{
    position: absolute;
    top: 13%;
    left: 38%;
    font-size: 11px;
    list-style: none;
}
.item4-page-19{
    position: absolute;
    top: 32.5%;
    left: 13%;
    font-size: 14px;
    list-style: circle;
}
.item5-page-19{
    position: absolute;
    top: 37%;
    left: 40%;
    list-style: none;
}
.item6-page-19{
    position: absolute;
    top: 33%;
    left: 45.3%;
    font-size: 14px;
    list-style: none;
}
.item7-page-19{
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 14px;
    list-style: none;
}
.item8-page-19{
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 14px;
    list-style: none;
}
.item9-page-19{
    position: absolute;
    top: 95.5%;
    left: 90%;
}   
.result1-page-19, .result2-page-19, .result3-page-19, .result4-page-19, .result5-page-19,
.result6-page-19{
    position: absolute;
}
/***************************************************/
/***************************************************/
/**********************Page 20***********************/
/***************************************************/
/***************************************************/
.item1-page-20{
    position: absolute;
    top: 30%;
    left: 8%;
    list-style: none;
}
.item2-page-20{
    position: absolute;
    top: 30%;
    left: 50%;
    list-style: none;
}
.item3-page-20{
    position: absolute;
    top: 73%;
    left: 8%;
    list-style: none;
}
.item4-page-20{
    position: absolute;
    top: 73%;
    left: 50%;
    list-style: none;
}
.result1-page-20, .result2-page-20, .result3-page-20, .result4-page-20,
.result5-page-20, .result6-page-20, .result7-page-20, .result8-page-20,
.result9-page-20, .result10-page-20, .result11-page-20, .result12-page-20,
.result13-page-20, .result14-page-20, .result15-page-20, .result16-page-20{
    position: absolute;
}