<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2">ACTIVITY 4.10</h6>
      <h5>ORAL PRACTICE</h5>
      <p class="justify">Answer, <b>“No, someone else . . . “ </b></p>
      <strong
        >Example: Did you shut the door?<br />
        No, someone else shut the door</strong
      >
    </div>
    <table class="table table-striped table-responsive">
      <tbody>
        <tr>
          <td>1. Did you make a mistake?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans1page32"
              [(ngModel)]="libro.ans1Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>2. Did you break that window?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans2page32"
              [(ngModel)]="libro.ans2Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>3. Did you steal my wallet?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans3page32"
              [(ngModel)]="libro.ans3Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>4. Did you take my piece of paper?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans4page32"
              [(ngModel)]="libro.ans4Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>5. Did you draw that picture?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans5page32"
              [(ngModel)]="libro.ans5Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>6. Did you sweep the floor this morning?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans6page32"
              [(ngModel)]="libro.ans6Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>7. Did you teach class yesterday?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans7page32"
              [(ngModel)]="libro.ans7Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>8. Did you dig that hole in the garden?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans8page32"
              [(ngModel)]="libro.ans8Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>9. Did you feed the cat?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans9page32"
              [(ngModel)]="libro.ans9Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>10. Did you hide my book from me?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans10page32"
              [(ngModel)]="libro.ans10Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>11. Did you blow that whistle?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans11page32"
              [(ngModel)]="libro.ans11Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
        <tr>
          <td>12. Did you tear that piece of paper?</td>
          <td>
            <input
              type="text"
              class="form-control"
              name="ans12page32"
              [(ngModel)]="libro.ans12Page32"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
