<div>
    <div class="row">
        <div class="col-md-12">
            <h6>Grammar Flash</h6>
            <h4 class="text-center my-2">QUESTION FOR QUANTITY</h4>
        </div>
        <div class="col-md-5">

            <table class="table table-striped  table-responsive">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">PLURAL</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>How many</th>
                        <th>Count Noun</th>
                        <th>are there...</th>
                    </tr>
                    <tr>
                        <td>How many</td>
                        <td>Windows</td>
                        <td>are there in the house?</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-center">There are 3 windows in the house</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F6.png?alt=media&token=5790dade-e8ef-4a1c-bf0e-de694b0bd802" class="img-fluid w-50 rounded m-1" alt="img">
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-striped  table-responsive">
                <thead>
                    <tr>
                        <th>TEACHER</th>
                        <th>STUDENTS</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>How many windows are there in the house?</td>
                        <td>How many windows are there in the house?</td>
                    </tr>
                    <tr>
                        <td>(Bedrooms)</td>
                        <td>How many bedrooms are there in the house?</td>
                    </tr>
                    <tr>
                        <td>(Bathrooms)</td>
                        <td>How many bathrooms are there in the house?</td>
                    </tr>
                    <tr>
                        <td>Washing machine in the basement</td>
                        <td>How many washing machine are there in the basement?</td>
                    </tr>
                    <tr>
                        <td>Closets in the bedroom</td>
                        <td>How many closets are there in the bedroom?</td>
                    </tr>
                    <tr>
                        <td>Answer (2)</td>
                        <td>There are two closets in the bedroom?</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>