<div>
  <div class="row">
    <div class="col-md-12">
      <h4>NOW YOU TRY IT</h4>
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F133.PNG?alt=media&token=da4997df-2ae9-413f-93a0-22c1e0001e1c"
        class="img-fluid rounded my-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 648-->
          <audio id="a1p44l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F648.mp3?alt=media&token=84d4aaa5-0df9-4d54-a91e-7360d60a77a1"
            />
          </audio>
          <button
            (click)="reproducirAudio('a1p44l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          name="ans1page45"
          [(ngModel)]="libro.ans1Page45"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          name=""
          id=""
          placeholder="A"
        />
      </div>
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 649-->
          <audio id="a2p44l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F649.mp3?alt=media&token=1619a8c9-a9fe-4383-b194-8ecf79b4e6d4"
            />
          </audio>
          <button
            (click)="reproducirAudio('a2p44l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          name="ans2page45"
          [(ngModel)]="libro.ans2Page45"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          name=""
          id=""
          placeholder="B"
        />
      </div>

      <input
        type="text"
        class="form-control mt-1"
        name="ans3page45"
        [(ngModel)]="libro.ans3Page45"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        name=""
        id=""
        placeholder="A"
      />
      <input
        type="text"
        class="form-control mt-1"
        name="ans4page45"
        [(ngModel)]="libro.ans4Page45"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        name=""
        id=""
        placeholder="B"
      />
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F134.PNG?alt=media&token=77be2e38-c326-43c9-820f-439fdde6677d"
        class="img-fluid rounded my-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 650-->
          <audio id="a3p44l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F650.mp3?alt=media&token=e53701c9-ae3a-4d0f-b54a-7884bbac6030"
            />
          </audio>
          <button
            (click)="reproducirAudio('a3p44l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          name="ans5page45"
          [(ngModel)]="libro.ans5Page45"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          name=""
          id=""
          placeholder="A"
        />
      </div>
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 651-->
          <audio id="a4p44l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F651.mp3?alt=media&token=7f45e628-df6e-4d01-b35e-4517efc5a419"
            />
          </audio>
          <button
            (click)="reproducirAudio('a4p44l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          name="ans6page45"
          [(ngModel)]="libro.ans6Page45"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          name=""
          id=""
          placeholder="B"
        />
      </div>

      <input
        type="text"
        class="form-control mt-1"
        name="ans7page45"
        [(ngModel)]="libro.ans7Page45"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        name=""
        id=""
        placeholder="A"
      />
      <input
        type="text"
        class="form-control mt-1"
        name="ans8page45"
        [(ngModel)]="libro.ans8Page45"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        name=""
        id=""
        placeholder="B"
      />
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F135.PNG?alt=media&token=0a45dc17-6a8f-49e5-be41-e0d6c8480d39"
        class="img-fluid rounded my-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 652-->
          <audio id="a5p44l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F652.mp3?alt=media&token=77450aee-ef71-4418-a296-33f9da5d0088"
            />
          </audio>
          <button
            (click)="reproducirAudio('a5p44l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          name="ans9page45"
          [(ngModel)]="libro.ans9Page45"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          name=""
          id=""
          placeholder="A"
        />
      </div>
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 653-->
          <audio id="a6p44l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F653.mp3?alt=media&token=970533a7-39b5-4176-a111-a43457c75f2f"
            />
          </audio>
          <button
            (click)="reproducirAudio('a6p44l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          name="ans10page45"
          [(ngModel)]="libro.ans10Page45"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          name=""
          id=""
          placeholder="B"
        />
      </div>

      <input
        type="text"
        class="form-control mt-1"
        name="ans11page45"
        [(ngModel)]="libro.ans11Page45"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        name=""
        id=""
        placeholder="A"
      />
      <input
        type="text"
        class="form-control mt-1"
        name="ans12page45"
        [(ngModel)]="libro.ans12Page45"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        name=""
        id=""
        placeholder="B"
      />
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F136.jpg?alt=media&token=c3bd109b-12da-4413-bb48-09a7868f3fc5"
        class="img-fluid rounded my-1"
        alt="img"
      />
    </div>
    <div class="col-md-3">
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 654-->
          <audio id="a7p44l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F654.mp3?alt=media&token=fe792285-6964-443a-b54b-903f893b6171"
            />
          </audio>
          <button
            (click)="reproducirAudio('a7p44l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          name="ans13page45"
          [(ngModel)]="libro.ans13Page45"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          name=""
          id=""
          placeholder="A"
        />
      </div>
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 655-->
          <audio id="a8p44l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F655.mp3?alt=media&token=af338a94-bc56-4ef5-899c-8fe038bd8f7d"
            />
          </audio>
          <button
            (click)="reproducirAudio('a8p44l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          name="ans14page45"
          [(ngModel)]="libro.ans14Page45"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          name=""
          id=""
          placeholder="B"
        />
      </div>

      <input
        type="text"
        class="form-control mt-1"
        name="ans15page45"
        [(ngModel)]="libro.ans15Page45"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        name=""
        id=""
        placeholder="A"
      />
      <input
        type="text"
        class="form-control mt-1"
        name="ans16page45"
        [(ngModel)]="libro.ans16Page45"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        name=""
        id=""
        placeholder="B"
      />
    </div>
  </div>
</div>
