<div>
    <div class="row">

        <div class="col-md-12">
            <h4>NOW YOU TRY IT</h4>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid my-1" alt="img">
        </div>
        <div class="col-md-3">

            <input type="text" class="form-control " name="ans1page45" [(ngModel)]="libro.ans1Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="A">
            <input type="text" class="form-control " name="ans2page45" [(ngModel)]="libro.ans2Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="B">
            <input type="text" class="form-control " name="ans3page45" [(ngModel)]="libro.ans3Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="A">
            <input type="text" class="form-control " name="ans4page45" [(ngModel)]="libro.ans4Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="B">




        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid my-1" alt="img">
        </div>
        <div class="col-md-3">

            <input type="text" class="form-control " name="ans5page45" [(ngModel)]="libro.ans5Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="A">
            <input type="text" class="form-control " name="ans6page45" [(ngModel)]="libro.ans6Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="B">
            <input type="text" class="form-control " name="ans7page45" [(ngModel)]="libro.ans7Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="A">
            <input type="text" class="form-control " name="ans8page45" [(ngModel)]="libro.ans8Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="B">

        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid my-1" alt="img">
        </div>
        <div class="col-md-3">

            <input type="text" class="form-control " name="ans9page45" [(ngModel)]="libro.ans9Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="A">
            <input type="text" class="form-control " name="ans10page45" [(ngModel)]="libro.ans10Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="B">
            <input type="text" class="form-control " name="ans11page45" [(ngModel)]="libro.ans11Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="A">
            <input type="text" class="form-control " name="ans12page45" [(ngModel)]="libro.ans12Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="B">




        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid my-1" alt="img">
        </div>
        <div class="col-md-3">

            <input type="text" class="form-control " name="ans13page45" [(ngModel)]="libro.ans13Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="A">
            <input type="text" class="form-control " name="ans14page45" [(ngModel)]="libro.ans14Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="B">
            <input type="text" class="form-control " name="ans15page45" [(ngModel)]="libro.ans15Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="A">
            <input type="text" class="form-control " name="ans16page45" [(ngModel)]="libro.ans16Page45" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="" placeholder="B">

        </div>
    </div>