<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="my-2">ORAL PRACTICE</h4>
      <strong>Questions and answer</strong>
    </div>
    <div class="col-md-6">
      <p>1. Complete the questions using much or many</p>
      <ol class="list-min">
        <li>
          How
          <input
            type="text"
            class="form-control input m-1"
            size="150"
            style="width: 150px; height: 30px"
            name="ans1page57"
            [(ngModel)]="libro.ans1Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          people are there in the room?
        </li>
        <li>
          How
          <input
            type="text"
            class="form-control input m-1"
            size="150"
            style="width: 150px; height: 30px"
            name="ans2page57"
            [(ngModel)]="libro.ans2Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          money do you have in your pocket?
        </li>
        <li>
          How
          <input
            type="text"
            class="form-control input m-1"
            size="150"
            style="width: 150px; height: 30px"
            name="ans3page57"
            [(ngModel)]="libro.ans3Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          cigarettes do you smoke a day?
        </li>
        <li>
          How
          <input
            type="text"
            class="form-control input m-1"
            size="150"
            style="width: 150px; height: 30px"
            name="ans4page57"
            [(ngModel)]="libro.ans4Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          petrol is there in the car?
        </li>
        <li>
          How
          <input
            type="text"
            class="form-control input m-1"
            size="150"
            style="width: 150px; height: 30px"
            name="ans5page57"
            [(ngModel)]="libro.ans5Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          potatoes do you want?
        </li>
        <li>
          How
          <input
            type="text"
            class="form-control input m-1"
            size="150"
            style="width: 150px; height: 30px"
            name="ans6page57"
            [(ngModel)]="libro.ans6Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          eggs do you want?
        </li>
        <li>
          How
          <input
            type="text"
            class="form-control input m-1"
            size="150"
            style="width: 150px; height: 30px"
            name="ans7page57"
            [(ngModel)]="libro.ans7Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          beer is there in the fridge?
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <p>2. Choose and answer for each question in exercise 1</p>
      <ol class="list-min">
        <li>
          A kilo<input
            type="text"
            class="form-control input m-1"
            name="ans8page57"
            [(ngModel)]="libro.ans8Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          There are six cans
          <input
            type="text"
            class="input form-control m-1"
            name="ans9page57"
            [(ngModel)]="libro.ans9Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          A packet of twenty
          <input
            type="text"
            class="form-control input m-1"
            name="ans10page57"
            [(ngModel)]="libro.ans10Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Three pounds. Fifty potatoes<input
            typeinput="text"
            class="form-control input m-1"
            name="ans11page57"
            [(ngModel)]="libro.ans11Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Half a dozen
          <input
            type="text"
            class="form-control input m-1"
            nainput
            me="ans12page57"
            [(ngModel)]="libro.ans12Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          Twenty nine men and eleven women
          <input
            nput
            type="text"
            class="form-control input m-1"
            name="ans13page57"
            [(ngModel)]="libro.ans13Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          It’s full<input
            type="text"
            class="form-control input m-1"
            name="ans14page57"
            [(ngModel)]="libro.ans14Page57"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
      </ol>
    </div>
  </div>
</div>
