<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">UNIT 5</span></h1>
      <h3 class="text-center">ANTONYMOUS</h3>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-1.jpg?alt=media&token=1251c743-c7d5-4032-9507-09b1badf7368"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a3p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F1.sick-healthy.mp3?alt=media&token=4a3febbd-782a-43e0-8036-bc057205fad6"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Sick / healthy
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-2.jpg?alt=media&token=0abc7333-48c4-4935-936e-5860cfe7bb89"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a4p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F2.sad-happy.mp3?alt=media&token=453f3857-e4c2-4f22-9844-e81ca840917f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Sad - Happy
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-3.jpg?alt=media&token=b899843c-98d9-412d-a9cf-7120c274c6e4"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a5p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F3.messy-neat.mp3?alt=media&token=c8e9127d-eb30-49d3-ac7e-82077943cb9d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Messy - Neat
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-4.jpg?alt=media&token=146c7f99-0e8d-4a1d-88c8-6cfcb63ec110"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a6p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F4.old-young.mp3?alt=media&token=82960498-65b3-4357-b279-1ce8eccf426b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Old - Young
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-5.jpg?alt=media&token=5672ca85-a670-45a3-a34a-0be76d125795"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a7p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F5.calm-excited.mp3?alt=media&token=6894610f-13ad-4c57-98a0-a35cb24a4796"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Calm - excited
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-6.jpg?alt=media&token=48bff088-6ded-4010-a92a-00e37d2ab7ef"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a8p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F6.awful-delicious.mp3?alt=media&token=83e3d55f-ae57-4653-841d-c57b39aee600"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Awful - delicious
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-7.jpg?alt=media&token=527bdf96-d589-4748-be19-a468c9ebf1a1"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a9p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F7.weak-strong.mp3?alt=media&token=992e7de0-ee11-48d4-9847-1d4a42a55063"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Weak - Strong
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-9.PNG?alt=media&token=79faf9da-4082-41c6-b088-4282a30c1b0c"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a10p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F8.mean-nice.mp3?alt=media&token=a523e247-ebd9-4f9f-a4f0-d4e0c7220b3e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Mean - Nice
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F5-10.png?alt=media&token=78d1ff80-8abf-48ed-bae1-27870f7aa377"
          class="img-fluid m-1 rounded card border-info w-75"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a11p20l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F9stubborn-obedient.mp3?alt=media&token=3bac0fae-569d-4cf0-baba-f9a02e172a8f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p20l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Stubborn - obedient
      </h6>
    </div>
  </div>
</div>
