<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center">Write sentences about 5 people from the information above.</h3>
            <p>
                <strong>Example:</strong> Alice goes shopping on weekends. She likes to look at new fashions.
            </p>
        </div>
        <div class="col-md-6">
            <ol>
                <li class="my-2"><input type="text" name="ans1page29" [(ngModel)]="libro.ans1Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></li>
                <li class="my-2"><input type="text" name="ans2page29" [(ngModel)]="libro.ans2Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></li>
                <li class="my-2"><input type="text" name="ans3page29" [(ngModel)]="libro.ans3Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></li>

            </ol>
        </div>
        <div class="col-md-6">
            <ol start="5">
                <li class="my-2"><input type="text" name="ans4page29" [(ngModel)]="libro.ans4Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></li>
                <li class="my-2"><input type="text" name="ans5page29" [(ngModel)]="libro.ans5Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></li>
            </ol>
        </div>
        <div class="col-md-12">
            <hr class="my-3">
            <h3>"So Do I" and "Neither do I"</h3>
            <p>Talk to as many people in the class as you can. Ask the questions below or think of your own ideas for the blank boxes.</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Do you...</th>
                        <th> Name</th>
                        <th>Yes/No</th>
                        <th> What kind/Where/ When/Why?/Why not?/ Who?</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>like celebrities</td>
                        <td><input type="text" name="ans6page29" [(ngModel)]="libro.ans6Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                        <td><input type="text" name="ans7page29" [(ngModel)]="libro.ans7Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                        <td><input type="text" name="ans8page29" [(ngModel)]="libro.ans8Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>go to concerts</td>
                        <td>Patty</td>
                        <td>Yes</td>
                        <td>goes to concerts at Impact Arena</td>
                    </tr>
                    <tr>
                        <td>dance </td>
                        <td><input type="text" name="ans9page29" [(ngModel)]="libro.ans9Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                        <td><input type="text" name="ans10page29" [(ngModel)]="libro.ans10Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                        <td><input type="text" name="ans11page29" [(ngModel)]="libro.ans11Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>eat popcorn</td>
                        <td><input type="text" name="ans12page29" [(ngModel)]="libro.ans12Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                        <td><input type="text" name="ans13page29" [(ngModel)]="libro.ans13Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                        <td><input type="text" name="ans14page29" [(ngModel)]="libro.ans14Page29" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="answer" class="form-control"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>