<div>
    <div class="row">
        <div class="col-md-2">
            <h3 class="center my-3">Worksheet </h3>
            <h6>2. Check you understanding: multiple choice</h6>
            <p>Circle the best word to complete these sentences.</p>
        </div>
        <div class="col-md-10 table-responsive">

            <table class="table table-striped ">
                <thead class="thead-inverse">
                    <tr>
                        <th>Sentence</th>
                        <th colspan="4">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. The tour takes _____ hours.</td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p41-la1" id="q1-p41-la1-o1" value="q1-p41-la1-o1" [checked]="libro['q1-p41-la1']==='q1-p41-la1-o1'" [(ngModel)]="libro['q1-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q1-p41-la1-o1">
                                     2
                                </label>
                            </div>
                        </td>
                        <td>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p41-la1" id="q1-p41-la1-o2" value="q1-p41-la1-o2" [checked]="libro['q1-p41-la1']==='q1-p41-la1-o2'" [(ngModel)]="libro['q1-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q1-p41-la1-o2">
                                         3
                                    </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p41-la1" id="q1-p41-la1-o3" value="q1-p41-la1-o3" [checked]="libro['q1-p41-la1']==='q1-p41-la1-o3'" [(ngModel)]="libro['q1-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q1-p41-la1-o3">
                                         4
                                    </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2. At Madame Tussaud's you can see </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p41-la1" id="q2-p41-la1-o1" value="q2-p41-la1-o1" [checked]="libro['q2-p41-la1']==='q2-p41-la1-o1'" [(ngModel)]="libro['q2-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q2-p41-la1-o1">
                                    maps of london
                                </label>
                            </div>
                        </td>
                        <td>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p41-la1" id="q2-p41-la1-o2" value="q2-p41-la1-o2" [checked]="libro['q2-p41-la1']==='q2-p41-la1-o2'" [(ngModel)]="libro['q2-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q2-p41-la1-o2">
                                         models of famous people
                                    </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p41-la1" id="q2-p41-la1-o3" value="q2-p41-la1-o3" [checked]="libro['q2-p41-la1']==='q2-p41-la1-o3'" [(ngModel)]="libro['q2-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q2-p41-la1-o3">
                                         famous shops
                                    </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3. Oxford Street is a famous street for </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p41-la1" id="q3-p41-la1-o1" value="q3-p41-la1-o1" [checked]="libro['q3-p41-la1']==='q3-p41-la1-o1'" [(ngModel)]="libro['q3-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q3-p41-la1-o1">
                                    drinking tea
                                </label>
                            </div>
                        </td>
                        <td>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p41-la1" id="q3-p41-la1-o2" value="q3-p41-la1-o2" [checked]="libro['q3-p41-la1']==='q3-p41-la1-o2'" [(ngModel)]="libro['q3-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q3-p41-la1-o2">
                                         eating
                                    </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p41-la1" id="q3-p41-la1-o3" value="q3-p41-la1-o3" [checked]="libro['q3-p41-la1']==='q3-p41-la1-o3'" [(ngModel)]="libro['q3-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q3-p41-la1-o3">
                                         shopping
                                    </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4. The Queen lives at </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p41-la1" id="q4-p41-la1-o1" value="q4-p41-la1-o1" [checked]="libro['q4-p41-la1']==='q4-p41-la1-o1'" [(ngModel)]="libro['q4-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q4-p41-la1-o1">
                                     Buckingham Palace 
                                </label>
                            </div>
                        </td>
                        <td>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p41-la1" id="q4-p41-la1-o2" value="q4-p41-la1-o2" [checked]="libro['q4-p41-la1']==='q4-p41-la1-o2'" [(ngModel)]="libro['q4-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q4-p41-la1-o2">
                                        The tower of London
                                    </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p41-la1" id="q4-p41-la1-o3" value="q4-p41-la1-o3" [checked]="libro['q4-p41-la1']==='q4-p41-la1-o3'" [(ngModel)]="libro['q4-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q4-p41-la1-o3">
                                        Tower Bridge 
                                    </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5. Big Ben is a </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q5-p41-la1" id="q5-p41-la1-o1" value="q5-p41-la1-o1" [checked]="libro['q5-p41-la1']==='q5-p41-la1-o1'" [(ngModel)]="libro['q5-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q5-p41-la1-o1">
                                     Tour guide
                                </label>
                            </div>
                        </td>
                        <td>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q5-p41-la1" id="q5-p41-la1-o2" value="q5-p41-la1-o2" [checked]="libro['q5-p41-la1']==='q5-p41-la1-o2'" [(ngModel)]="libro['q5-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q5-p41-la1-o2">
                                        clock
                                    </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q5-p41-la1" id="q5-p41-la1-o3" value="q5-p41-la1-o3" [checked]="libro['q5-p41-la1']==='q5-p41-la1-o3'" [(ngModel)]="libro['q5-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q5-p41-la1-o3">
                                        bridge 
                                    </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6. You can see great views of London from </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q6-p41-la1" id="q6-p41-la1-o1" value="q6-p41-la1-o1" [checked]="libro['q6-p41-la1']==='q6-p41-la1-o1'" [(ngModel)]="libro['q6-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q6-p41-la1-o1">
                                     Oxford Street 
                                </label>
                            </div>
                        </td>
                        <td>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q6-p41-la1" id="q6-p41-la1-o2" value="q6-p41-la1-o2" [checked]="libro['q6-p41-la1']==='q6-p41-la1-o2'" [(ngModel)]="libro['q6-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q6-p41-la1-o2">
                                         The Houses of Parliament
                                    </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q6-p41-la1" id="q6-p41-la1-o3" value="q6-p41-la1-o3" [checked]="libro['q6-p41-la1']==='q6-p41-la1-o3'" [(ngModel)]="libro['q6-p41-la1']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q6-p41-la1-o3">
                                         London Eye
                                    </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h4>Preparation</h4>
            <p>Do this exercise before you listen. Draw a line to match the pictures with the words below. </p>
            <span class="badge bg-primary m-2">Big Ben</span>
            <span class="badge bg-primary m-2">London Bus</span>
            <span class="badge bg-primary m-2">London Eye</span>
            <span class="badge bg-primary m-2">Tower of London</span>
            <span class="badge bg-primary m-2">Oxford Street </span>
            <span class="badge bg-primary m-2">Tower Bridge </span>
            <span class="badge bg-primary m-2">Houses of Parliament</span>
            <span class="badge bg-primary m-2"> Buckingham Palace</span>
        </div>
        <div class="col-md-3 col-6 mt-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg34_libroA1.png?alt=media&token=8e8e825f-5cd2-44e4-8d53-b549ab295788" alt="" class="img-fluid">
        </div>
        <div class="col-md-3 col-6 mt-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg37_libroA1.png?alt=media&token=b29ca61f-ad23-4f90-a2b3-5d1018fe2f85" alt="" class="img-fluid">
        </div>
        <div class="col-md-3 col-6 mt-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg39_libroA1.png?alt=media&token=b8becb48-0dfb-4158-aeb0-81764e4c66bd" alt="" class="img-fluid">
        </div>
        <div class="col-md-3 col-6 mt-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg40_libroA1.png?alt=media&token=a32f167d-5c76-4706-82ef-f5dfee377e47" alt="" class="img-fluid">
        </div>

        <div class="col-md-3 col-6 mt-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg36_libroA1.png?alt=media&token=3e54f061-a869-47be-ac6f-c897365c4c3a" alt="" class="img-fluid">
        </div>
        <div class="col-md-3 col-6 mt-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg41_libroA1.png?alt=media&token=73507b42-2450-463e-b429-a3f113bd5ab1" alt="" class="img-fluid">
        </div>
        <div class="col-md-3 col-6 mt-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg38_libroA1.png?alt=media&token=29a69740-781b-4745-9329-5827d60a9d86" alt="" class="img-fluid">
        </div>
        <div class="col-md-3 col-6 mt-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg35_libroA1.png?alt=media&token=c0c0411b-f880-4530-88a0-27ac13c8be4e" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 mt-3">
            <ul>
                <li class="my-2"><span class="badge bg-primary"><input type="text" size=40 style="width : 35px; height : 23px" maxlength="1" name="ans1page41" [(ngModel)]="libro.ans1Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></span> Oxford Street
                </li>
                <li class="my-2"><span class="badge bg-primary"><input type="text" size=40 style="width : 35px; height : 23px" maxlength="1" name="ans2page41" [(ngModel)]="libro.ans2Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></span> London Bus
                </li>
                <li class="my-2"><span class="badge bg-primary"><input type="text" size=40 style="width : 35px; height : 23px" maxlength="1" name="ans3page41" [(ngModel)]="libro.ans3Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></span> Tower of London
                </li>
                <li class="my-2"><span class="badge bg-primary"><input type="text" size=40 style="width : 35px; height : 23px" maxlength="1" name="ans4page41" [(ngModel)]="libro.ans4Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></span> London Eye
                </li>
                <li class="my-2"><span class="badge bg-primary"><input type="text" size=40 style="width : 35px; height : 23px" maxlength="1" name="ans5page41" [(ngModel)]="libro.ans5Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></span> Houses of Parliament
                </li>
                <li class="my-2"><span class="badge bg-primary"><input type="text" size=40 style="width : 35px; height : 23px" maxlength="1" name="ans6page41" [(ngModel)]="libro.ans6Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></span> Buckingham
                    Palace </li>
                <li class="my-2"><span class="badge bg-primary"><input type="text" size=40 style="width : 35px; height : 23px" maxlength="1" name="ans7page41" [(ngModel)]="libro.ans7Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></span> Big Ben </li>
                <li class="my-2"><span class="badge bg-primary"><input type="text" size=40 style="width : 35px; height : 23px" maxlength="1" name="ans8page41" [(ngModel)]="libro.ans8Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></span> Tower Bridge
                </li>
            </ul>
        </div>
        <div class="col-md-8 mt-3">
            <ul>
                <li class="my-1">Have you ever been to any of these places? <input type="text" placeholder="Answer" class="form-control" name="ans9page41" [(ngModel)]="libro.ans9Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="my-1">Where did you go? <input type="text" placeholder="Answer" class="form-control" name="ans10page41" [(ngModel)]="libro.ans10Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="my-1">What did you do? <input type="text" placeholder="Answer" class="form-control" name="ans11page41" [(ngModel)]="libro.ans11Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li class="my-1">Which city would you like to take a tour in? why? <input type="text" placeholder="Answer" class="form-control" name="ans12page41" [(ngModel)]="libro.ans12Page41" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>

            </ul>
        </div>
    </div>
</div>