<div>
    <div class="row">

        <div class="col-md-6 col-sm-6">
            <h4 class="center">Height, body build and age</h4>
            <p>When describing people, we use the verb 'to be' to describe height, body build and age.
            </p>
            <ul><strong>Example: </strong>
                <li> am tall and slim.</li>
                <li>He is overweight.</li>
                <li>Ann is chubby.</li>
                <li>You are old and short.</li>
                <li>They are young</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6">
            <img class="img-fluid img1" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg2_libroA1.png?alt=media&token=7f83d74b-150c-4f1b-8365-e47686193b24" alt="Example">
        </div>
        <div class="col-md-12">
            <p>A. Write short descriptions of the people in the pictures below using the verb to be and the adjectives: tall, short, fat, slim, old, and young.</p>
        </div>
        <div class="col-md-3 col-6">
            <textarea class="form-control" name="ans1page3" [(ngModel)]="libro.ans1Page3" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" cols="30" rows="7"></textarea>
        </div>
        <div class="col-md-3 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg3_libroA1.png?alt=media&token=b7c2effb-83b8-4ad8-bbd3-1fb19a166507" alt="example" class="img-fluid ">
        </div>

        <div class="col-md-3 col-6">
            <textarea class="form-control" name="ans2page3" [(ngModel)]="libro.ans2Page3" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" cols="30" rows="7"></textarea>
        </div>
        <div class="col-md-3 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg4_libroA1.png?alt=media&token=bc8f43e3-9432-4782-b843-743b4b15d54b" alt="example" class="img-fluid ">
        </div>
        <div class="col-md-12">
            <h4 class="center">Facial Features</h4>
            <p><strong>We use 'have' and 'has' to describe hair colour, hair length and facial 
                features.</strong> <br>Facial features are eyes, eyebrows, nose, mouth, lips, ears, chin, etc</p>
        </div>
        <div class="col-12 col-sm-6">
            <strong>Example: </strong>
            <ul>
                <li>She has </li>
                <li>long brown </li>
                <li>hair. She </li>
                <li>has big </li>
                <li>blue eyes.</li>
                <li>She has a small nose.</li>
                <li>She has a wide mouth and big red lips.</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6">
            <img class="img-fluid img1" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg5_libroA1.png?alt=media&token=7eb13d3f-1e52-4a82-9773-6edf2ecc3479" alt="">
        </div>
    </div>
</div>