<div>
  <div class="row">
    <div class="col-md-12 my-3">
      <strong
        >EXERCISE: <br />Complete the sentences by using the words in
        parentheses. Uses the Simple Present or the Present Progressive</strong
      >
    </div>
    <div class="col-md-6">
      <ol>
        <li>
          Shhh. The baby (sleep)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            value="is sleeping"
            disabled
            id=""
          />. The baby (sleep)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            value="sleeps"
            disabled
            id=""
          />
          for ten hours every night.
        </li>
        <li>
          Right now I’m in class. I (sit)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans1page48"
            [(ngModel)]="libro.ans1Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          at my desk. I usually (sit)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans2page48"
            [(ngModel)]="libro.ans2Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          at the same desk in class every day.
        </li>
        <li>
          Ali (speak)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans3page48"
            [(ngModel)]="libro.ans3Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          Arabic. Arabic is his native language, but right now he (speak)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans4page48"
            [(ngModel)]="libro.ans4Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          English.
        </li>
        <li>
          Our teacher (stand, not)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans5page48"
            [(ngModel)]="libro.ans5Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          up right now. She (sit)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans6page48"
            [(ngModel)]="libro.ans6Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          on the corner of her desk.
        </li>
        <li>
          It’s 6:00 P.M. Mary is at home. She (eat)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans7page48"
            [(ngModel)]="libro.ans7Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          dinner. She always (eat)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans8page48"
            [(ngModel)]="libro.ans8Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          dinner with her family around six o’clock.
        </li>
        <li>
          Its (rain, not)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans9page48"
            [(ngModel)]="libro.ans9Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          right now. The sun (shine)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans10page48"
            [(ngModel)]="libro.ans10Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          , and the sky (be)
          <input
            type="text"
            class="form-control input"
            size="100"
            style="width: 100px; height: 30px"
            name="ans11page48"
            [(ngModel)]="libro.ans11Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          blue.
        </li>
      </ol>
    </div>
    <div class="col-md-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-22.PNG?alt=media&token=12a32bf4-e290-4cde-b5e5-809393ec5667"
        class="img-fluid"
        alt="img"
      />
    </div>
  </div>
</div>
