<div>
    <div class="row">
        <div class="col-md-12 rojo my-3">
            <h4 class="text-white center"> REVIEW No. I </h4>


        </div>
        <div class="col-md-12">
            <div class="row">


                <div class="col-md-6"><input type="text" class="form-control m-1" placeholder="Given name and family name" name="ans20Page206" [(ngModel)]="libro.ans20Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></div>
                <div class="col-md-2"><input type="text" class="form-control m-1" placeholder="Address" name="ans24Page16" [(ngModel)]="libro.ans24Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></div>
                <div class="col-md-1"><input type="text" class="form-control m-1" size=60 style="width : 60px; height : 30px" placeholder="Age" name="ans22Page16" [(ngModel)]="libro.ans22Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></div>
                <div class="col-md-3"><input type="text" class="form-control m-1" size=200 style="width : 200px; height : 30px" placeholder="Phone" name="ans23Page16" [(ngModel)]="libro.ans23Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></div>
            </div>
            <hr class="my-3">
        </div>
        <div class="col-md-5">
            <h6 class="center my-2">ANSWER THE FOLLOWING QUESTIONS
            </h6>

            <ol>
                <li> How are you ? <input type="text" class="form-control m-1" name="ans1Page16" [(ngModel)]="libro.ans1Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> How old are you? <input type="text" class="form-control m-1" name="ans2Page16" [(ngModel)]="libro.ans2Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Where are you from? <input type="text" class="form-control m-1" name="ans3Page16" [(ngModel)]="libro.ans3Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> What‘s your mother’s name? <input type="text" class="form-control m-1" name="ans4Page16" [(ngModel)]="libro.ans4Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Where do you live? <input type="text" class="form-control m-1" name="ans5Page16" [(ngModel)]="libro.ans5Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> What’s your phone number? <input type="text" class="form-control m-1" name="ans6Page16" [(ngModel)]="libro.ans6Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Nice to meet you <input type="text" class="form-control m-1" name="ans7Page16" [(ngModel)]="libro.ans7Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ol>
        </div>
        <div class="col-md-7">
            <h6 class="text-white center verde2"> ACTIVITY 1.1</h6>
            <p>
                <strong>Example</strong>: The United States <strong>is a</strong> big country
                <br>The United States and Canada <strong>are</strong> big countries
            </p>
            <ol>
                <li> California <input type="text" class="m-1" name="ans8Page16" [(ngModel)]="libro.ans8Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> state</li>
                <li> San Francisco and Los Angeles <input type="text" class="m-1" name="ans9Page16" [(ngModel)]="libro.ans9Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> cities in California</li>
                <li> Chicago, New York, and Los Angeles <input type="text" class="m-1" name="ans10Page16" [(ngModel)]="libro.ans10Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> big cities</li>
                <li> Puerto Rico and Hawaii <input type="text" class="m-1" name="ans11Page16" [(ngModel)]="libro.ans11Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> islands</li>
                <li> Puerto Rico <input type="text" class="m-1" name="ans12Page16" [(ngModel)]="libro.ans12Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> American territory </li>
                <li> Chevrolet <input type="text" class="m-1" name="ans13Page16" [(ngModel)]="libro.ans13Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> American car </li>
                <li> Toyota and Datsun <input type="text" class="m-1" name="ans14Page16" [(ngModel)]="libro.ans14Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Japanese cars </li>
                <li> Coke <input type="text" class="m-1" name="ans15Page16" [(ngModel)]="libro.ans15Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> soft drink </li>
                <li> Beer and wine <input type="text" class="m-1" name="ans16Page16" [(ngModel)]="libro.ans16Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> alcoholic drinks</li>
                <li> Thanksgiving <input type="text" class="m-1" name="ans17Page16" [(ngModel)]="libro.ans17Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> American holiday </li>
                <li> Passover <input type="text" class="m-1" name="ans18Page16" [(ngModel)]="libro.ans18Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Jewish holiday </li>
                <li> Christmas and Easter <input type="text" class="m-1" name="ans19Page16" [(ngModel)]="libro.ans19Page16" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> Christian holidays</li>
            </ol>
        </div>

    </div>
</div>