<div>
    <div class="row">

        <div class="col-md-12">
            <h1><span class="badge bg-warning my-2">Class 4</span></h1>
            <h3 class="text-center">Greeting #4</h3>
        </div>
        <div class="col-md-6 mt-2">
            <div class="d-flex align-items-center">
                <p> Hey, how was your weekend? </p>
            </div>
            <input type="text" name="ans1page17" [(ngModel)]="libro.ans1Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer" class="form-control">
        </div>
        <div class="col-md-6 mt-2">
            <p>
                it Was...
            </p>
            <span class="badge bg-info mx-1"> Fine </span>
            <span class="badge bg-info mx-1"> Great </span>
            <span class="badge bg-info mx-1"> Good  </span>
            <span class="badge bg-info mx-1"> Not bad  </span>
            <span class="badge bg-info mx-1"> I'm alright </span>
            <span class="badge bg-info mx-1"> Chilling  </span>
            <span class="badge bg-info mx-1"> awesome </span>
            <p>... How about yours?</p>

        </div>
        <hr class="my-3">
        <div class="col-md-12">
            <h3 class="center">COMPARING PEOPLE</h3>
            <p>Write your own answers to the questions below. Then ask your partner the same questions. Then write a paragraph about your similarities and differences.
            </p>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Me</th>
                        <th>My partner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Do you like to play music?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans2page17" [(ngModel)]="libro.ans2Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans3page17" [(ngModel)]="libro.ans3Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Are you shy?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans4page17" [(ngModel)]="libro.ans4Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans5page17" [(ngModel)]="libro.ans5Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Do you like to talk about fashion?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans6page17" [(ngModel)]="libro.ans6Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans7page17" [(ngModel)]="libro.ans7Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Are you artistic?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans8page17" [(ngModel)]="libro.ans8Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans9page17" [(ngModel)]="libro.ans9Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Are you outgoing?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans10page17" [(ngModel)]="libro.ans10Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans11page17" [(ngModel)]="libro.ans11Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Do you love to exercise?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans12page17" [(ngModel)]="libro.ans12Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans13page17" [(ngModel)]="libro.ans13Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Do you like pets?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans14page17" [(ngModel)]="libro.ans14Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans15page17" [(ngModel)]="libro.ans15Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Do you like technology?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans16page17" [(ngModel)]="libro.ans16Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans17page17" [(ngModel)]="libro.ans17Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Do you like to tell stories or jokes?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans18page17" [(ngModel)]="libro.ans18Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans19page17" [(ngModel)]="libro.ans19Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td>Do you like challenges?</td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans20page17" [(ngModel)]="libro.ans20Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                        <td><input type="text" class="form-control" placeholder="Answer" name="ans21page17" [(ngModel)]="libro.ans21Page17" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <p>After writing your answers and interviewing your partner write a paragraph about your similarities and differences. Try to use the appropriate vocabulary.
            </p>
        </div>
    </div>
</div>