<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center my-2">WRITING & SPEAKING ACTIVITY</h4>
      <h6>
        Complete the conversation below with the regular verbs from the box in
        the past tense. Then, read the conversation with a partner.
      </h6>
      <div class="text-center my-2">
        <span class="badge bg-primary m-1"> Wait </span>
        <span class="badge bg-primary m-1"> Stay </span>
        <span class="badge bg-primary m-1"> Cook </span>
        <span class="badge bg-primary m-1"> Need </span>
        <span class="badge bg-primary m-1"> Want </span>
        <span class="badge bg-primary m-1"> Visit </span>
        <span class="badge bg-primary m-1"> Look </span>
        <span class="badge bg-primary m-1"> Return </span>
        <span class="badge bg-primary m-1">Call </span>
        <span class="badge bg-primary m-1">Wash </span>
        <span class="badge bg-primary m-1">Miss </span>
        <span class="badge bg-primary m-1">Decide </span>
        <span class="badge bg-primary m-1">Watch </span>
        <span class="badge bg-primary m-1">Play </span>
        <span class="badge bg-primary m-1">Wrap</span>
        <span class="badge bg-primary m-1">Seem</span>
      </div>

      <ul>
        <li><b>A:</b> What did you do last night?</li>
        <li>
          <b>B:</b> I (1)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans1page24"
            [(ngModel)]="libro.ans1Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          tennis with Ralph.
        </li>
        <li><b>A:</b> Oh, How is Ralph?</li>
        <li>
          <b>B:</b> He (2)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans2page24"
            [(ngModel)]="libro.ans2Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          happy. He (3)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans3page24"
            [(ngModel)]="libro.ans3Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          some exercise so he (4)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans4page24"
            [(ngModel)]="libro.ans4Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          me for a game of tennis.
        </li>
        <li>
          <b>A:</b> That's great. The last time I saw Ralph, he (5)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans5page24"
            [(ngModel)]="libro.ans5Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          overweight.
        </li>
        <li>
          <b>B:</b> Well, he's getting into shape now. So, what did you do last
          night?
        </li>
        <li>
          <b>A:</b> Nothing much. I (6)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans6page24"
            [(ngModel)]="libro.ans6Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          home all evening.
        </li>
        <li><b>B:</b> Did you do anything at home?</li>
        <li>
          <b>A:</b> Let me see. I (7)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans7page24"
            [(ngModel)]="libro.ans7Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          my clothes.
        </li>
        <li><b>B:</b> Sounds exciting.</li>
        <li>
          <b>A:</b> I (8)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans8page24"
            [(ngModel)]="libro.ans8Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          TV.
        </li>
        <li><b>B:</b> Amazing.</li>
        <li>
          <b>A:</b> I (9)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans9page24"
            [(ngModel)]="libro.ans9Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a steak.
        </li>
        <li><b>B:</b> Wow.</li>
        <li>
          <b>A:</b> And I (10)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans10page24"
            [(ngModel)]="libro.ans10Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          my girlfriend's birthday present.
        </li>
        <li><b>B:</b> When is her birthday?</li>
        <li>
          <b>A:</b> It's today. I (11)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans11page24"
            [(ngModel)]="libro.ans11Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          her this morning. She (12)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans12page24"
            [(ngModel)]="libro.ans12Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          from Dubai last night.
        </li>
        <li><b>B:</b> How long did she go there for?</li>
        <li>
          <b>A:</b> She went there for three weeks. I (13)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans13age24"
            [(ngModel)]="libro.ans13age24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          her so much while she was away.
        </li>
        <li><b>B:</b> Did you do anything nice?</li>
        <li>
          <b>A:</b> She (14)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans14page24"
            [(ngModel)]="libro.ans14Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to go out for lunch. So, I took her to an expensive restaurant. It was
          very nice.
        </li>
        <li><b>B:</b> That's great.</li>
        <li>
          <b>A:</b> We ate so much food. Then, we (15)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans15page24"
            [(ngModel)]="libro.ans15Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to go to the cinema. The cinema was busy. We (16)
          <input
            type="text"
            size="150"
            style="width: 150px; height: 30px"
            class="form-control m-1 input"
            name="ans16page24"
            [(ngModel)]="libro.ans16Page24"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          for a long time to get the tickets, but the movie was really good
        </li>
      </ul>
    </div>
    <hr class="my-2" />
    <div class="col-md-12">
      <p>
        Past tense regular verbs -ed endings can be pronounced in three ways:
        /d/ /t/ /id/. Ask your teacher for the rule and put the verb into the
        correct column.
      </p>
    </div>
    <div class="col-md-4">
      <h6>/d/ all other sounds</h6>
      <textarea
        class="form-control"
        name="ans17page24"
        [(ngModel)]="libro.ans17Page24"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="5"
      ></textarea>
    </div>
    <div class="col-md-4">
      <h6>/t/ (p,k,s,f,th,ch,sh)</h6>
      <textarea
        class="form-control"
        name="ans18age24"
        [(ngModel)]="libro.ans18age24"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="5"
      ></textarea>
    </div>
    <div class="col-md-4">
      <h6>/t/ (p,k,s,f,th,ch,sh)</h6>
      <textarea
        class="form-control"
        name="ans19page24"
        [(ngModel)]="libro.ans19Page24"
        (keyup.enter)="guardarInfo()"
        (blur)="guardarInfo()"
        id=""
        cols="30"
        rows="5"
      ></textarea>
    </div>
  </div>
</div>
