<div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-2">Grammar flash</h5>
    </div>
    <div class="col-md-6 text-center">
      <h3 class="my-2">SIMPLE PRESENT</h3>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-cuadro1.png?alt=media&token=bd6c1a1e-97a2-44fe-9370-d3df28b0f717"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-6">
      <h5 class="my-2 text-center">TIME EXPRESSIONS</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="card border-primary mb-3 text-center">
            <div class="card-header">EVERY</div>
            <div class="card-body text-primary">
              <span class="badge bg-primary m-1"> Year</span>
              <span class="badge bg-primary m-1"> Month</span>
              <span class="badge bg-primary m-1"> Week</span>
              <span class="badge bg-primary m-1"> Weekend</span>
              <span class="badge bg-primary m-1"> Day</span>
              <span class="badge bg-primary m-1"> Hour</span>
              <span class="badge bg-primary m-1"> Minute</span>
              <span class="badge bg-primary m-1"> Second</span>
              <span class="badge bg-primary m-1"> Moment</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card border-primary mb-3 text-center">
            <div class="card-header">ON</div>
            <div class="card-body text-primary">
              <span class="badge bg-primary m-1"> Monday</span>
              <span class="badge bg-primary m-1"> Tuesday</span>
              <span class="badge bg-primary m-1"> Wednesday</span>
              <span class="badge bg-primary m-1"> Thursday</span>
              <span class="badge bg-primary m-1"> Friday</span>
              <span class="badge bg-primary m-1"> Saturday</span>
              <span class="badge bg-primary m-1"> Sunday</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h5 class="my-3">DRILLS</h5>
      <table class="table table-striped e table-responsive">
        <thead>
          <tr>
            <th>TEACHER</th>
            <th>STUDENT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>She works every-day ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="She works every-day ..."
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>He ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans1page45"
                [(ngModel)]="libro.ans1Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>They ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page45"
                [(ngModel)]="libro.ans2Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Go to work ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans3page45"
                [(ngModel)]="libro.ans3Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>I ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans4page45"
                [(ngModel)]="libro.ans4Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans5page45"
                [(ngModel)]="libro.ans5Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>My sister ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page45"
                [(ngModel)]="libro.ans6Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>My parents ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans7page45"
                [(ngModel)]="libro.ans7Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>You ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans8page45"
                [(ngModel)]="libro.ans8Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans9page45"
                [(ngModel)]="libro.ans9Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>He ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans10page45"
                [(ngModel)]="libro.ans10Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>I ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans11page45"
                [(ngModel)]="libro.ans11Page45"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
