<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="my-3 text-center">LET'S TALK</h4>
    </div>
    <div class="col-md-6 text-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Funit2.jpg?alt=media&token=10941e7a-47d8-460d-87cf-6a3502f1d9ed"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-6">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>TEACHER</th>
            <th>STUDENTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>What's he doing ? ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="What's he doing?"
                id=""
                disabled
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans1page6"
                [(ngModel)]="libro.ans1Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>They ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page6"
                [(ngModel)]="libro.ans2Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>We ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans3page6"
                [(ngModel)]="libro.ans3Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Mary ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans4page6"
                [(ngModel)]="libro.ans4Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Peter ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans5page6"
                [(ngModel)]="libro.ans5Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>You ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page6"
                [(ngModel)]="libro.ans6Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Drinking ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="What are you drinking?"
                id=""
                disabled
              />
            </td>
          </tr>
          <tr>
            <td>Where ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans7page6"
                [(ngModel)]="libro.ans7Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Studyng ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans8page6"
                [(ngModel)]="libro.ans8Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>What ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans9page6"
                [(ngModel)]="libro.ans9Page6"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
