<div>
    <div class="row justify-content-center">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 10</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> PETS AND BUGS </h3>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>1.</b> Ant</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>2.</b> Bee</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>3.</b> Rat</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>4.</b> Fly</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>5.</b> Hamster</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>6.</b> Dogs</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>7.</b> Birds</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>8.</b> Kitten</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>9.</b> Cat</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>10.</b> Spider</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>11.</b> Cricket</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>12.</b> Fish</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>13.</b> Scorpion</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>14.</b> Mosquito</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="img">
            <h6 class="text-center"><b>15.</b> Cockroack</h6>
        </div>
    </div>
</div>