<div>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 10</span></h1>
      <h3 class="text-center">
        <!-- audio l1 600-->
        <audio id="a1p42l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F600.mp3?alt=media&token=ed627d5d-e9e2-422a-91ba-ac8a962dc25e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p42l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        PETS AND BUGS
      </h3>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F116.png?alt=media&token=622173e7-aa08-4292-9bd3-d74333aadec7"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 601-->
          <audio id="a2p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F601.mp3?alt=media&token=1a77b668-fa44-4261-bb54-c5ce1817a94b"
            />
          </audio>
          <button
            (click)="reproducirAudio('a2p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          1.</b
        >
        Ant
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F117.png?alt=media&token=ee329ae5-69f2-4f2e-ad4f-11beaafa4093"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 602-->
          <audio id="a3p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F602.mp3?alt=media&token=a86770f0-2c8b-4a9d-9a48-d98cba376bed"
            />
          </audio>
          <button
            (click)="reproducirAudio('a3p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          2.</b
        >
        Bee
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F118.png?alt=media&token=38b3e8c7-648b-43c7-a471-73ee59eef323"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 603-->
          <audio id="a4p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F603.mp3?alt=media&token=f20626bc-a420-4a78-bf48-e9f945132fd6"
            />
          </audio>
          <button
            (click)="reproducirAudio('a4p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          3.</b
        >
        Rat
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F119.png?alt=media&token=35706afc-766b-4523-a7d5-a97811a60dab"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 604-->
          <audio id="a5p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F604.mp3?alt=media&token=c82bc74b-37f9-417f-a2c1-3615304d5c9f"
            />
          </audio>
          <button
            (click)="reproducirAudio('a5p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          4.</b
        >
        Fly
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F120.png?alt=media&token=54e35899-959c-4dd5-bb99-8d18e3ac6aec"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 605-->
          <audio id="a6p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F605.mp3?alt=media&token=8d16e9fd-6497-4cce-9da2-79fa1db82b0a"
            />
          </audio>
          <button
            (click)="reproducirAudio('a6p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          5.</b
        >
        Hamster
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F121.png?alt=media&token=acef25d7-023c-46b8-a817-ca0e6103570f"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 606-->
          <audio id="a7p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F606.mp3?alt=media&token=d4d24bbe-1f86-4c3a-9ea2-a673c34d4e9b"
            />
          </audio>
          <button
            (click)="reproducirAudio('a7p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          6.</b
        >
        Dog
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F122.png?alt=media&token=efbb0b20-cfb1-40d2-ae0c-af9bc5783e22"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 607-->
          <audio id="a8p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F607.mp3?alt=media&token=4c649fca-0e89-4164-bb53-8daa208ac189"
            />
          </audio>
          <button
            (click)="reproducirAudio('a8p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          7.</b
        >
        Birds
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F123.png?alt=media&token=0988b99c-bc33-4bf9-8f05-c2e884064d78"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 608-->
          <audio id="a9p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F608.mp3?alt=media&token=c7fb6269-5171-49e9-964d-3240f78b8b51"
            />
          </audio>
          <button
            (click)="reproducirAudio('a9p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          8.</b
        >
        Kitten
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F124.png?alt=media&token=f6617be9-75f8-495a-9aff-d01b10114dff"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 609-->
          <audio id="a10p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F609.mp3?alt=media&token=c2e43aff-7566-4233-8ed6-62db71f78e3b"
            />
          </audio>
          <button
            (click)="reproducirAudio('a10p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          9.</b
        >
        Cat
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F125.png?alt=media&token=823ed35a-8dd7-4afb-bd13-2eabd780b09a"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 610-->
          <audio id="a11p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F610.mp3?alt=media&token=e1e768a4-d901-444f-9ac4-effa383e867b"
            />
          </audio>
          <button
            (click)="reproducirAudio('a11p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          10.</b
        >
        Spider
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F126.png?alt=media&token=730fe40e-85c1-4ef0-aa9a-e2522ea77479"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 611-->
          <audio id="a12p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F611.mp3?alt=media&token=51982874-8c54-49e6-9634-fabb32d1e79a"
            />
          </audio>
          <button
            (click)="reproducirAudio('a12p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          11.</b
        >
        Cricket
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F127.png?alt=media&token=ecbcac28-2517-407c-8438-7582012a31a5"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 612-->
          <audio id="a13p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F612.mp3?alt=media&token=14a3ac89-8751-44a7-9cc6-74f10a3bfd1d"
            />
          </audio>
          <button
            (click)="reproducirAudio('a13p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          12.</b
        >
        Fish
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F128.png?alt=media&token=90b50d7b-9d46-4d35-b581-f1c149f26c2a"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 613-->
          <audio id="a14p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F613.mp3?alt=media&token=13555bd4-af3b-4db4-908f-a3271b99e65b"
            />
          </audio>
          <button
            (click)="reproducirAudio('a14p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          13.</b
        >
        Scorpion
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F129.png?alt=media&token=5bb7a3dd-90a8-4975-8c94-20ba1c1b0de2"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 614-->
          <audio id="a15p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F614.mp3?alt=media&token=83083542-c3fc-43f7-993d-143d0c522815"
            />
          </audio>
          <button
            (click)="reproducirAudio('a15p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          14.</b
        >
        Mosquito
      </h6>
    </div>
    <div class="col-md-2 col-6 my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F130.png?alt=media&token=8dbe7400-cf93-4e90-8707-0d378dc8e7c7"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <b
          ><!-- audio l1 615        -->
          <audio id="a16p42l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F615.mp3?alt=media&token=ed1c764a-ff78-47f6-a717-c50f7fa06f1a"
            />
          </audio>
          <button
            (click)="reproducirAudio('a16p42l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          15.</b
        >
        Cockroack
      </h6>
    </div>
  </div>
</div>
