<div>
    <div class="row justify-content-center">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 10</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> PETS AND BUGS </h3>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F116.png?alt=media&token=622173e7-aa08-4292-9bd3-d74333aadec7" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>1.</b> Ant</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F117.png?alt=media&token=ee329ae5-69f2-4f2e-ad4f-11beaafa4093" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>2.</b> Bee</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F118.png?alt=media&token=38b3e8c7-648b-43c7-a471-73ee59eef323" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>3.</b> Rat</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F119.png?alt=media&token=35706afc-766b-4523-a7d5-a97811a60dab" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>4.</b> Fly</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F120.png?alt=media&token=54e35899-959c-4dd5-bb99-8d18e3ac6aec" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>5.</b> Hamster</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F121.png?alt=media&token=acef25d7-023c-46b8-a817-ca0e6103570f" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>6.</b> Dog</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F122.png?alt=media&token=efbb0b20-cfb1-40d2-ae0c-af9bc5783e22" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>7.</b> Birds</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F123.png?alt=media&token=0988b99c-bc33-4bf9-8f05-c2e884064d78" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>8.</b> Kitten</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F124.png?alt=media&token=f6617be9-75f8-495a-9aff-d01b10114dff" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>9.</b> Cat</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F125.png?alt=media&token=823ed35a-8dd7-4afb-bd13-2eabd780b09a" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>10.</b> Spider</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F126.png?alt=media&token=730fe40e-85c1-4ef0-aa9a-e2522ea77479" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>11.</b> Cricket</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F127.png?alt=media&token=ecbcac28-2517-407c-8438-7582012a31a5" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>12.</b> Fish</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F128.png?alt=media&token=90b50d7b-9d46-4d35-b581-f1c149f26c2a" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>13.</b> Scorpion</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F129.png?alt=media&token=5bb7a3dd-90a8-4975-8c94-20ba1c1b0de2" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>14.</b> Mosquito</h6>
        </div>
        <div class="col-md-2 col-6 my-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F130.png?alt=media&token=8dbe7400-cf93-4e90-8707-0d378dc8e7c7" class="img-fluid rounded" alt="img">
            <h6 class="text-center"><b>15.</b> Cockroack</h6>
        </div>
    </div>
</div>