<div>
    <div class="row">

        <div class="col-md-12">
            <strong>Now, read your description to the class and see if they can guess who it is.</strong>
            <p>A. Some thieves have been stealing things from your classroom. A student saw them steal some pencils. Here is what the student told the police. Read the descriptions and draw pictures of the thieves.
            </p>
        </div>
        <div class="col-md-4 col-12 p-1">
            <h6>Thief 1</h6>
            <textarea name="ans1page6" [(ngModel)]="libro.ans1Page6" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" cols="20" rows="6" class="form-control"></textarea>
        </div>
        <div class="col-md-4 col-12 p-1">
            <h6>Thief 2</h6>
            <textarea name="ans2page6" [(ngModel)]="libro.ans2Page6" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" cols="20" rows="6" class="form-control"></textarea>
        </div>
        <div class="col-md-4 col-12 p-1">
            <h6>Thief 3</h6>
            <textarea name="ans3page6" [(ngModel)]="libro.ans3Page6" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" cols="20" rows="6" class="form-control"></textarea>
        </div>
        <div class="col-md-12">
            <ol>
                <li>The first thief is tall and thin. He has a long face.</li>
                <li>The second thief is short and fat. He has a round face.</li>
                <li>The other thief is short and thin. He has an oval face (egg shaped).</li>
                <li>The thief with a round face has a big nose.</li>
                <li>The thief with a long face has small eyes and a long nose.</li>
                <li>The fat thief has big ears and short hair.</li>
                <li>The thief with an oval face has big eyes and a small mouth.</li>
                <li>The thief with a big nose has big eyes and a big mouth.</li>
                <li>The other thief has a long mouth and a pony tail.</li>
                <li> The thief with a small mouth has a small nose and small ears</li>
                <li> One man has ears that look like the number 8.</li>
                <li> The man with a small nose is bald.</li>
                <li> All of the thieves wore T-shirts and jeans.</li>
            </ol>
            <p>When you have finished, compare your drawings with your classmates. Are they the same? <input type="text" class="form-control " placeholder="Answer" name="ans4page6" [(ngModel)]="libro.ans4Page6" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()"
                    id=""></p>
        </div>
    </div>
</div>