<div>
  <div class="row">
    <div class="col-md-6">
      <table class="table-responsive table-striped table" style="width: 100%">
        <thead>
          <th>Teacher:</th>
          <th>Students:</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- audio l1 446-->
              <audio id="a1p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F446.mp3?alt=media&token=1f8b83d7-4dd0-45b7-84da-129c56f39403"
                />
              </audio>
              <button
                (click)="reproducirAudio('a1p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              This is my bracelet
            </td>
            <td>
              <!-- audio l1 447-->
              <audio id="a2p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F447.mp3?alt=media&token=1d81f8d0-bbec-4620-a5f4-4e45293c15a6"
                />
              </audio>
              <button
                (click)="reproducirAudio('a2p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Whose bracelet is this?
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 448-->
              <audio id="a3p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F448.mp3?alt=media&token=15ce642b-6442-4336-9106-7fba60cf86ed"
                />
              </audio>
              <button
                (click)="reproducirAudio('a3p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              These are her earrings
            </td>
            <td>
              <!-- audio l1 449-->
              <audio id="a4p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F449.mp3?alt=media&token=aa894b6f-8937-4db3-8dfa-1204ae2ceef3"
                />
              </audio>
              <button
                (click)="reproducirAudio('a4p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Whose earrings are these?
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 450-->
              <audio id="a5p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F450.mp3?alt=media&token=62832717-4f89-4c31-bcf4-140b3136872e"
                />
              </audio>
              <button
                (click)="reproducirAudio('a5p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              This is our ring
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 451-->
                <audio id="a6p26l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F451.mp3?alt=media&token=742fe378-f8bf-4d7e-84c1-81f19d00c288"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a6p26l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control m-1"
                name="ans3page27"
                [(ngModel)]="libro.ans3Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 452-->
              <audio id="a7p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F452.mp3?alt=media&token=302183ed-dd05-4373-b0b0-0b39f70d5fcd"
                />
              </audio>
              <button
                (click)="reproducirAudio('a7p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              This is their wallet
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 453-->
                <audio id="a8p26l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F453.mp3?alt=media&token=72ba5c1c-ee12-4647-ac8a-f186e115411d"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a8p26l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control m-1"
                name="ans4page27"
                [(ngModel)]="libro.ans4Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 454-->
              <audio id="a9p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F454.mp3?alt=media&token=178b439c-2585-4197-8032-e827dba0f247"
                />
              </audio>
              <button
                (click)="reproducirAudio('a9p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              These are our key chains
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 455-->
                <audio id="a10p26l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F455.mp3?alt=media&token=775fde2e-848e-4124-a691-08f79ffc9087"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a10p26l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control m-1"
                name="ans5page27"
                [(ngModel)]="libro.ans5Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 456-->
              <audio id="a11p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F456.mp3?alt=media&token=ada8e842-5b1d-4018-a640-0f12e04563f7"
                />
              </audio>
              <button
                (click)="reproducirAudio('a11p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              This is my tie clip
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 457-->
                <audio id="a12p26l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F457.mp3?alt=media&token=b0383d8b-cb86-4592-8566-3832e24a8c33"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a12p26l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control m-1"
                name="ans10page27"
                [(ngModel)]="libro.ans10Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 458-->
              <audio id="a13p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F458.mp3?alt=media&token=49dbb965-5721-4782-b593-5436b028eec9"
                />
              </audio>
              <button
                (click)="reproducirAudio('a13p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              This is our watch
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 459-->
                <audio id="a14p26l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F459.mp3?alt=media&token=0b9ac036-dfc2-4124-a78f-f7bc0250040a"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a14p26l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control m-1"
                name="ans6page27"
                [(ngModel)]="libro.ans6Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 460-->
              <audio id="a15p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F460.mp3?alt=media&token=5d7cec2e-993b-4757-a298-de1d788be27b"
                />
              </audio>
              <button
                (click)="reproducirAudio('a15p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              These are her sun glasses
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 461-->
                <audio id="a16p26l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F461.mp3?alt=media&token=906eb413-d204-4228-a454-bf30f75f0488"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a16p26l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control m-1"
                name="ans7page27"
                [(ngModel)]="libro.ans7Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 462-->
              <audio id="a17p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F462.mp3?alt=media&token=22d15f3e-2c18-4676-969e-07f4d8cc1ddb"
                />
              </audio>
              <button
                (click)="reproducirAudio('a17p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              This
              <input
                type="text"
                size="60"
                style="width: 60px; height: 30px"
                name="ans1page27"
                class="form-control input"
                [(ngModel)]="libro.ans1Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              his wallet
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 463-->
                <audio id="a18p26l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F463.mp3?alt=media&token=f540fc10-43e8-4b52-b7a2-d954389f4329"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a18p26l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control m-1"
                name="ans8page27"
                [(ngModel)]="libro.ans8Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 464-->
              <audio id="a19p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F464.mp3?alt=media&token=8aa4a811-4300-45b7-866e-adb5256a358f"
                />
              </audio>
              <button
                (click)="reproducirAudio('a19p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              These
              <input
                type="text"
                size="60"
                style="width: 60px; height: 30px"
                name="ans2page27"
                class="form-control input"
                [(ngModel)]="libro.ans2Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              their necklaces
            </td>
            <td class="d-flex align-items-center">
              <div>
                <!-- audio l1 465-->
                <audio id="a20p26l1" aria-label="audio" class="d-none" controls>
                  <source
                    type="audio/mp3"
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F465.mp3?alt=media&token=99fb46eb-cbfe-4708-9454-9c968d6df164"
                  />
                </audio>
                <button
                  (click)="reproducirAudio('a20p26l1')"
                  class="btn rounded-pill btn-sm audio"
                >
                  <i class="fas fa-volume-up"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control m-1"
                name="ans9page27"
                [(ngModel)]="libro.ans9Page27"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h4>ON YOUR OWN</h4>
      <h5 class="center">DRILLS</h5>
      <div class="row">
        <div class="col-md-6 col-12">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F68.jpg?alt=media&token=fbcaa692-e502-480c-80c8-4a21f4ced635"
            class="img-fluid m-1 rounded"
            alt="img"
          />
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center">
          <div>
            <strong
              ><!-- audio l1 466-->
              <audio id="a21p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F466.mp3?alt=media&token=eb8e3232-9b40-4356-bc32-76506813ca2e"
                />
              </audio>
              <button
                (click)="reproducirAudio('a21p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              A.</strong
            >
            I found this jacket is it yours?<br />
            <strong
              ><!-- audio l1 467-->
              <audio id="a22p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F467.mp3?alt=media&token=68eec96b-8895-4e76-a0f1-76d07052547d"
                />
              </audio>
              <button
                (click)="reproducirAudio('a22p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              B.</strong
            >
            No, it isn’t mine<br />
            <strong
              ><!-- audio l1 468-->
              <audio id="a23p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F468.mp3?alt=media&token=f4ea0254-6fb0-44c7-bd9b-b8cbf280db22"
                />
              </audio>
              <button
                (click)="reproducirAudio('a23p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              A.</strong
            >
            Whose is it?<br />
            <strong
              ><!-- audio l1 469-->
              <audio id="a24p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F469.mp3?alt=media&token=16872065-5ec0-49bd-8faf-bb912aaca874"
                />
              </audio>
              <button
                (click)="reproducirAudio('a24p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              B.</strong
            >
            I don’t know. Maybe it’s Maria’s<br />
          </div>
        </div>
        <hr class="my-3" />
        <div class="col-md-6 col-12 d-flex align-items-center">
          <div>
            <strong
              ><!-- audio l1 470-->
              <audio id="a25p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F470.mp3?alt=media&token=3d2af875-44a4-4123-8c6c-2aa5b078f4de"
                />
              </audio>
              <button
                (click)="reproducirAudio('a25p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              A.</strong
            >
            I found these glasses, are they his?<br />
            <strong
              ><!-- audio l1 471-->
              <audio id="a26p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F471.mp3?alt=media&token=848a9d76-613f-43d7-878a-2ba432881798"
                />
              </audio>
              <button
                (click)="reproducirAudio('a26p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              B.</strong
            >
            No, they aren’t his<br />
            <strong
              ><!-- audio l1 472-->
              <audio id="a27p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F472.mp3?alt=media&token=283b7fe7-035e-4818-beb9-64855b885deb"
                />
              </audio>
              <button
                (click)="reproducirAudio('a27p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              A.</strong
            >
            Whose are they<br />
            <strong
              ><!-- audio l1 473-->
              <audio id="a28p26l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F473.mp3?alt=media&token=4d11539d-e930-404b-aca6-a78cd7595426"
                />
              </audio>
              <button
                (click)="reproducirAudio('a28p26l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              B.</strong
            >
            I don’t know. Maybe they’re Kate’s<br />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F58.jpg?alt=media&token=9978bb19-2138-408f-aa41-1f1b233faa51"
            class="img-fluid m-1"
            alt="img"
          />
        </div>
      </div>
    </div>
  </div>
</div>
