<div>
    <div class="row">
        <div class="col-md-6">
            <table class="table-responsive table-striped table" style="width: 100%;">
                <thead>
                    <th>Teacher:</th>
                    <th>Students:</th>
                </thead>
                <tbody>
                    <tr>
                        <td> This is my bracelet </td>
                        <td>Whose bracelet is this?</td>
                    </tr>
                    <tr>
                        <td> These are her earrings </td>
                        <td>Whose earrings are these?</td>
                    </tr>
                    <tr>
                        <td> This is our ring </td>
                        <td><input type="text" class="form-control m-1" name="ans3page27" [(ngModel)]="libro.ans3Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> This is their wallet </td>
                        <td><input type="text" class="form-control m-1" name="ans4page27" [(ngModel)]="libro.ans4Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> These are our key chains </td>
                        <td><input type="text" class="form-control m-1" name="ans5page27" [(ngModel)]="libro.ans5Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> This is my tie clip </td>
                        <td><input type="text" class="form-control m-1" name="ans10page27" [(ngModel)]="libro.ans10Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> This is our watch </td>
                        <td><input type="text" class="form-control m-1" name="ans6page27" [(ngModel)]="libro.ans6Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> These are her sun glasses</td>
                        <td><input type="text" class="form-control m-1" name="ans7page27" [(ngModel)]="libro.ans7Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> This <input type="text" size=40 style="width : 40px; height : 30px" name="ans1page27" [(ngModel)]="libro.ans1Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> his wallet </td>
                        <td> <input type="text" class="form-control m-1" name="ans8page27" [(ngModel)]="libro.ans8Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                    <tr>
                        <td> These <input type="text" size=40 style="width : 40px; height : 30px" name="ans2page27" [(ngModel)]="libro.ans2Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> their necklaces</td>
                        <td><input type="text" class="form-control m-1" name="ans9page27" [(ngModel)]="libro.ans9Page27" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4>ON YOUR OWN</h4>
            <h5 class="center">DRILLS</h5>
            <div class="row">
                <div class="col-md-6 col-12">
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F68.jpg?alt=media&token=fbcaa692-e502-480c-80c8-4a21f4ced635" class="img-fluid m-1 rounded" alt="img">

                </div>
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div>
                        <strong> A.</strong> I found this jacket is it yours?<br>
                        <strong> B.</strong> No, it isn’t mine<br>
                        <strong> A.</strong> Whose is it?<br>
                        <strong> B.</strong> I don’t know. Maybe it’s Maria’s<br>
                    </div>
                </div>
                <hr class="my-3">
                <div class="col-md-6 col-12 d-flex align-items-center">
                    <div>
                        <strong> A.</strong> I found these glasses, are they his?<br>
                        <strong> B.</strong> No, they aren’t his<br>
                        <strong> A.</strong> Whose are they<br>
                        <strong> B.</strong> I don’t know. Maybe they’re Kate’s<br>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F58.jpg?alt=media&token=9978bb19-2138-408f-aa41-1f1b233faa51" class="img-fluid m-1" alt="img">


                </div>
            </div>
        </div>
    </div>
</div>