<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 7</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> THE WEATHER </h3>
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F69.jpg?alt=media&token=5e8ba176-12ec-40ef-bb0d-505bd638b26f" class="img-fluid m-1 rounded " alt="img">
            <h6 class="center">1. Sunny</h6>
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F70.jpg?alt=media&token=bf9b18fe-c9c2-4033-9cd4-0ed68d982059" class="img-fluid m-1 rounded " alt="img">
            <h6 class="center">2. Raining</h6>
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F71.jpg?alt=media&token=e5638313-157f-43a0-a932-f599a879cda3" class="img-fluid m-1 rounded " alt="img">
            <h6 class="center">3. Cloudy</h6>
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F72.jpg?alt=media&token=1c23a554-3a14-409e-a66c-7372e3e521f3" class="img-fluid m-1 rounded " alt="img">
            <h6 class="center">4. Snowing </h6>
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F73.jpg?alt=media&token=9a4d0164-1f4f-4981-98bd-0e53c3559fb3" class="img-fluid m-1 rounded " alt="img">
            <h6 class="center">5. Windy</h6>
        </div>
        <div class="col-md-2 col-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F74.jpg?alt=media&token=50e8c5b4-1f1d-4635-b86b-bebfe69667f0" class="img-fluid m-1 rounded " alt="img">
            <h6 class="center">6. Humid</h6>
        </div>
        <hr class="my-3">
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F70.jpg?alt=media&token=bf9b18fe-c9c2-4033-9cd4-0ed68d982059" class="img-fluid m-1 rounded " alt="img">
        </div>
        <div class="col-md-3">
            <strong> A.</strong> How’s the weather? <br>
            <strong> B.</strong> It’s <input type="text" class="form-control" name="ans1page28" [(ngModel)]="libro.ans1Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F74.jpg?alt=media&token=50e8c5b4-1f1d-4635-b86b-bebfe69667f0" class="img-fluid m-1 rounded " alt="img">
        </div>
        <div class="col-md-3">
            <strong> A.</strong> what’s the weather like? <br>
            <strong> B.</strong> <input type="text" class="form-control" name="ans2page28" [(ngModel)]="libro.ans2Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
    </div>
</div>