<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 7</span></h1>
      <h3 class="text-center">
        <!-- audio l1 474-->
        <audio id="a1p27l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F474.mp3?alt=media&token=7cb7570b-bb37-4cd8-af98-9a148dcab832"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p27l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        THE WEATHER
      </h3>
    </div>
    <div class="col-md-2 col-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F69.jpg?alt=media&token=5e8ba176-12ec-40ef-bb0d-505bd638b26f"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 475-->
        <audio id="a2p27l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F475.mp3?alt=media&token=cb0a1ed3-5631-4630-80bd-59eb6de3d0b6"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p27l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Sunny
      </h6>
    </div>
    <div class="col-md-2 col-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F70.jpg?alt=media&token=bf9b18fe-c9c2-4033-9cd4-0ed68d982059"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 476-->
        <audio id="a3p27l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F476.mp3?alt=media&token=30ed6ae4-d1d4-415c-9f91-6bc72f105946"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p27l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Raining
      </h6>
    </div>
    <div class="col-md-2 col-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F71.jpg?alt=media&token=e5638313-157f-43a0-a932-f599a879cda3"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 477-->
        <audio id="a4p27l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F477.mp3?alt=media&token=ac002cbd-4b2e-47ee-ae2b-8f44904bbd6b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p27l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Cloudy
      </h6>
    </div>
    <div class="col-md-2 col-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F72.jpg?alt=media&token=1c23a554-3a14-409e-a66c-7372e3e521f3"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 478-->
        <audio id="a5p27l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F478.mp3?alt=media&token=17d0b64a-cbe4-4e6a-8c6e-ee694fa8cbfc"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p27l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Snowing
      </h6>
    </div>
    <div class="col-md-2 col-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F73.jpg?alt=media&token=9a4d0164-1f4f-4981-98bd-0e53c3559fb3"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 479-->
        <audio id="a6p27l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F479.mp3?alt=media&token=86a84bbf-86c9-4457-8cd5-5fab5d576bad"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p27l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Windy
      </h6>
    </div>
    <div class="col-md-2 col-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F74.jpg?alt=media&token=50e8c5b4-1f1d-4635-b86b-bebfe69667f0"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <!-- audio l1 480-->
        <audio id="a7p27l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F480.mp3?alt=media&token=af6b8c7c-8f22-476e-9558-bfdd648530e1"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p27l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Humid
      </h6>
    </div>
    <hr class="my-3" />
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F70.jpg?alt=media&token=bf9b18fe-c9c2-4033-9cd4-0ed68d982059"
        class="img-fluid m-1 rounded"
        alt="img"
      />
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <div>
        <strong
          ><!-- audio l1 481-->
          <audio id="a8p27l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F481.mp3?alt=media&token=b3272c2d-238f-4b72-84aa-db26763c39fe"
            />
          </audio>
          <button
            (click)="reproducirAudio('a8p27l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
          A.</strong
        >
        How’s the weather?
        <div class="d-flex align-items-center">
          <div class="d-flex">
            <div>
              <!-- audio l1 482-->
              <audio id="a9p27l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F482.mp3?alt=media&token=22efdd80-9b9c-4c45-89a7-9abda9109970"
                />
              </audio>
              <button
                (click)="reproducirAudio('a9p27l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
            </div>

            <span><strong>B.</strong>It’s </span>
          </div>
          <input
            type="text"
            class="form-control"
            name="ans1page28"
            [(ngModel)]="libro.ans1Page28"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F74.jpg?alt=media&token=50e8c5b4-1f1d-4635-b86b-bebfe69667f0"
        class="img-fluid m-1 rounded"
        alt="img"
      />
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <div>
        <!-- audio l1 483-->
        <audio id="a10p27l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F483.mp3?alt=media&token=72c73c53-0269-4aaf-ad71-13179b884351"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p27l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        <strong>A.</strong>
        what’s the weather like?
        <div class="d-flex align-items-center">
          <div class="d-flex">
            <div>
              <!-- audio l1 484-->
              <audio id="a11p27l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F484.mp3?alt=media&token=7b8e0d23-f8f2-4b3c-807a-0953687a34a0"
                />
              </audio>
              <button
                (click)="reproducirAudio('a11p27l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
            </div>
            <strong>B.</strong>
          </div>
          <input
            type="text"
            class="form-control"
            name="ans2page28"
            [(ngModel)]="libro.ans2Page28"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
