<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 center my-2 d-none d-lg-block">
      <img class="size-m" src="assets/navbar/personas.png" alt="persons" />
    </div>
    <div class="col-md-6 center my-2">
      <div class="App-cont">
        <div class="App-mg">
          <ng-container *ngIf="User | async; else noLogueado">
            <div
              class="d-flex justify-content-start align-items-center flex-column mt-5"
            >
              <div>
                <h2 class="text-primary">
                  Bienvenido! Estamos mejorando para ti
                </h2>
                <!-- <h6 class="text-primary">{{ email | async }}</h6> -->
                <p class="center">
                  Descubre todo lo que tenemos para ti en nuestros libros
                  interactivos, audios, escritura, talleres y muy pronto veras
                  nuevas actividades.
                </p>
              </div>
              <div>
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/backLogin.png?alt=media&token=9fdc744e-013b-422c-bec2-75f3fe24c88a"
                  class="w-50"
                  alt="backLogin"
                />
              </div>
            </div>
          </ng-container>
          <ng-template #noLogueado>
            <form id="login">
              <div class="card iniciarsesion-75">
                <div class="d-flex justify-content-end m-2">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/backLogin.png?alt=media&token=9fdc744e-013b-422c-bec2-75f3fe24c88a"
                    class="w-50"
                    alt="backLogin"
                  />
                </div>
                <form (ngSubmit)="iniciarSesion()" [formGroup]="login">
                  <div class="card-body">
                    <input
                      class="inpt-login form-control my-1"
                      type="email"
                      [ngClass]="{ 'is-invalid': Email }"
                      name="email"
                      formControlName="email"
                      placeholder="Email"
                    />
                    <input
                      class="inpt-login form-control my-1"
                      type="password"
                      [ngClass]="{ 'is-invalid': Password }"
                      name="password"
                      formControlName="password"
                      placeholder="Contraseña"
                    />
                    <div class="d-flex justify-content-end">
                      <button
                        class="btn-login btn btn-primary"
                        type="submit"
                        value="Iniciar Sesión"
                      >
                        <span class="fas fa-sing-in-alt"></span> Iniciar Sesión
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
