<div>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1 w-50" alt="img">
            <input type="text" class="form-control m-1" placeholder="A." name="" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="" id="">
            <input type="text" class="form-control m-1" placeholder="A." name="" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="" id="">
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1 w-50" alt="img">
            <input type="text" class="form-control m-1" placeholder="A." name="" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="" id="">
            <input type="text" class="form-control m-1" placeholder="A." name="" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="" id="">
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1 w-50" alt="img">
            <input type="text" class="form-control m-1" placeholder="A." name="" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="" id="">
            <input type="text" class="form-control m-1" placeholder="A." name="" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="" id="">
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1 w-50" alt="img">
            <input type="text" class="form-control m-1" placeholder="A." name="" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="" id="">
            <input type="text" class="form-control m-1" placeholder="A." name="" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="" id="">
        </div>
    </div>
</div>