<div>
    <div class="row">
        <div class="col-md-2 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F43.jpg?alt=media&token=7b5a37a5-67f3-4a02-abe9-f78606596e2e" class="img-fluid m-1 rounded" alt="img">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control m-1" placeholder="A." name="ans1Page20" [(ngModel)]="libro.ans1Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="ans2Page20" [(ngModel)]="libro.ans2Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="A." name="ans3Page20" [(ngModel)]="libro.ans3Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="ans4Page20" [(ngModel)]="libro.ans4Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-2 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F44.jpg?alt=media&token=73f2b373-2fc5-4acd-a7e1-f8017c4f3864" class="img-fluid m-1 rounded" alt="img">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control m-1" placeholder="A." name="ans5Page20" [(ngModel)]="libro.ans5Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="ans6Page20" [(ngModel)]="libro.ans6Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="A." name="ans7Page20" [(ngModel)]="libro.ans7Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="ans8Page20" [(ngModel)]="libro.ans8Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <hr class="my-2 d-none d-md-block">
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F45.PNG?alt=media&token=c6df2427-ca87-4fe5-b8c5-7d79ffd6dde7" class="img-fluid m-1 rounded" alt="img">
        </div>
        <div class="col-md-4 text-center">

            <input type="text" class="form-control m-1" placeholder="A." name="ans9Page20" [(ngModel)]="libro.ans9Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="ans10Page20" [(ngModel)]="libro.ans10Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="A." name="ans11Page20" [(ngModel)]="libro.ans11Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="ans12Page20" [(ngModel)]="libro.ans12Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F46.jpg?alt=media&token=e6d47601-7861-48ea-9596-5da3099bae7d" class="img-fluid m-1 rounded" alt="img">
        </div>
        <div class="col-md-4 text-center">

            <input type="text" class="form-control m-1" placeholder="A." name="ans13Page20" [(ngModel)]="libro.ans13Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="ans14Page20" [(ngModel)]="libro.ans14Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="A." name="ans15Page20" [(ngModel)]="libro.ans15Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control m-1" placeholder="B." name="ans16Page20" [(ngModel)]="libro.ans16Page20" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
    </div>
</div>