<div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="my-2 text-center">Grammar flash</h4>
    </div>
    <div class="col-md-6">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2Funit6cuadrito.png?alt=media&token=84c09667-4ae8-450c-a7e8-460981faa90f"
        alt="img"
        class="img-fluid"
      />
      <h5 class="my-3">DRILLS</h5>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Teacher</th>
            <th>Students</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>I was Dancing ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="I was Dancing"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans1page26"
                [(ngModel)]="libro.ans1Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>They ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page26"
                [(ngModel)]="libro.ans2Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>We ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans3page26"
                [(ngModel)]="libro.ans3Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Yes/no ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans4page26"
                [(ngModel)]="libro.ans4Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>(What) ... (Doing) ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value=" What were they doing?"
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>You ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans5page26"
                [(ngModel)]="libro.ans5Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>She ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page26"
                [(ngModel)]="libro.ans6Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>Answer (Drink) ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans7page26"
                [(ngModel)]="libro.ans7Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="text-center card border-info mb-4">
        <strong
          >CONNECTOR FOR TIME<br />
          She was drinking <span class="badge bg-info m-1">WHILE</span> they
          were sleeping.</strong
        >
      </div>

      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Teacher</th>
            <th>Students</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>She (study) he (play) ...</td>
            <td>
              <input
                type="text"
                class="form-control"
                value="She was studying WHILE he was playing."
                disabled
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              hey (work) she<br />
              (pain the house) ...
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans8page26"
                [(ngModel)]="libro.ans8Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              He’s father (get on the bus)<br />
              he (get out the car) ...
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans9page26"
                [(ngModel)]="libro.ans9Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              I (take a shower)<br />
              you (have lunch) ...
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans10page26"
                [(ngModel)]="libro.ans10Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              What was she doing<br />
              while he was sleeping?<br />
              (Ride a motorcycle) ...
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans11page26"
                [(ngModel)]="libro.ans11Page26"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
