<div>
    <div class="row">

        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 6</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> FEELINGS</h3>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F108.jpg?alt=media&token=554e2d96-c205-4d96-8551-f629b6a47382" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 1. Bite - nails </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1 ">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F109.jpg?alt=media&token=779040d6-eebb-4190-af4f-28edad945960" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 2. Cry </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F110.jpg?alt=media&token=1919966c-6717-4f0f-8c0f-f3a2fa91fbee" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 3. Smile </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F111.jpg?alt=media&token=38f3397a-d34a-4ede-9b4b-760a620f097a" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 4. Yawn </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F112.jpg?alt=media&token=4bc729ac-54a9-4eb9-a4da-87af94231ecd" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 5. See a Doctor </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F113.jpg?alt=media&token=ddf1cea2-3b06-44f2-a253-eb0d6ff26f88" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 6. Shiver </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F114.jpg?alt=media&token=e3fb6d9f-599e-4718-98d2-d4c284d00b85" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 7. Perspire </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F115.jpg?alt=media&token=bfaa9a9e-0cb6-4fa3-b31c-b3006e42776e" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 8. Eat </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F116.jpg?alt=media&token=4216b0dd-2268-4984-b653-550457a1ddff" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 9. Drink </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F117.jpg?alt=media&token=94286c4a-9269-4f0d-8d1f-bcc2e4c1d6f2" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 10. Shout </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F118.jpg?alt=media&token=7e9c58c5-6234-48d4-8f32-da77d12faf41" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 11. Blush </h6>
        </div>
        <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F119.jpg?alt=media&token=b465394a-d332-4ec6-ae14-92fe1ce0c067" class="img-fluid mb-2 rounded" alt="img">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 12. Cover-eye </h6>
        </div>
    </div>
</div>