<div>
    <div class="row">

        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 6</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> FEELINGS</h3>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 1. Bite - nails </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 2. Cry </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 3. Smile </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 4. Yawn </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 5. See a Doctor </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 6. Shiver </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 7. Perspire </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 8. Eat </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 9. Drink </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 10. Shout </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 11. Blush </h6>
        </div>
        <div class="col-md-2">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
            <h6><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> 12. Cover-eye </h6>
        </div>
    </div>
</div>