<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 6</span></h1>
      <h3 class="text-center">
        <!-- audio  -->
        <audio id="a1p36l3" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a1p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        FEELINGS
      </h3>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F108.jpg?alt=media&token=554e2d96-c205-4d96-8551-f629b6a47382"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 80-->
        <audio id="a2p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F80.mp3?alt=media&token=ad355a91-cc28-4478-a72f-37831ad100bc"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Bite - nails
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F109.jpg?alt=media&token=779040d6-eebb-4190-af4f-28edad945960"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 81-->
        <audio id="a3p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F81.mp3?alt=media&token=564132b4-6b7f-4430-a825-112fa636e0f4"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Cry
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F110.jpg?alt=media&token=1919966c-6717-4f0f-8c0f-f3a2fa91fbee"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 82-->
        <audio id="a4p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F82.mp3?alt=media&token=c14d4a2b-973e-40d5-9d52-339111f46832"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Smile
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F111.jpg?alt=media&token=38f3397a-d34a-4ede-9b4b-760a620f097a"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 83-->
        <audio id="a5p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F83.mp3?alt=media&token=ed3d5395-d799-49b5-afbd-1a1c86fe5f37"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Yawn
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F112.jpg?alt=media&token=4bc729ac-54a9-4eb9-a4da-87af94231ecd"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 84-->
        <audio id="a6p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F84.mp3?alt=media&token=ace504ac-7a71-484d-8376-26ff50529b7e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. See a Doctor
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F113.jpg?alt=media&token=ddf1cea2-3b06-44f2-a253-eb0d6ff26f88"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 85-->
        <audio id="a7p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F85.mp3?alt=media&token=4309e202-1b9b-4668-b3c5-6581a0c0beaa"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Shiver
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F114.jpg?alt=media&token=e3fb6d9f-599e-4718-98d2-d4c284d00b85"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 86-->
        <audio id="a8p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F86.mp3?alt=media&token=036112c4-7358-48f9-89a9-258f52da3caa"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Perspire
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F115.jpg?alt=media&token=bfaa9a9e-0cb6-4fa3-b31c-b3006e42776e"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 87-->
        <audio id="a9p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F87.mp3?alt=media&token=2ef77f24-9970-4456-88d6-e98a17723239"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Eat
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F116.jpg?alt=media&token=4216b0dd-2268-4984-b653-550457a1ddff"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 88 -->
        <audio id="a10p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F88.mp3?alt=media&token=b024d281-5e75-44c1-8595-a6ca4c2dae99"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Drink
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F117.jpg?alt=media&token=94286c4a-9269-4f0d-8d1f-bcc2e4c1d6f2"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 89-->
        <audio id="a11p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F89.mp3?alt=media&token=9e3e13de-c77c-4aad-80d8-ca7d37226b20"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Shout
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F118.jpg?alt=media&token=7e9c58c5-6234-48d4-8f32-da77d12faf41"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 90-->
        <audio id="a12p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F90.mp3?alt=media&token=c7e365b4-7844-4a74-9804-563dd52691b7"
          />
        </audio>
        <button
          (click)="reproducirAudio('a12p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. Blush
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F119.jpg?alt=media&token=b465394a-d332-4ec6-ae14-92fe1ce0c067"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 91-->
        <audio id="a13p36l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F91.mp3?alt=media&token=721dc35c-6f7d-4553-9895-2694847c0676"
          />
        </audio>
        <button
          (click)="reproducirAudio('a13p36l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. Cover-eye
      </h6>
    </div>
  </div>
</div>
