<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge morado my-2">UNIT 4</span></h1>
      <h3 class="text-center">
        <!-- audio  -->
        <audio id="a1p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a1p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        SIMPLE PAST (REGULAR VERBS)
      </h3>
      <h6>VOCABULARY</h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-1.webp?alt=media&token=d2401e12-8f7e-41fb-b380-af651a341968"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 80-->
        <audio id="a2p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a2p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Fall down
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-2.jpg?alt=media&token=6a6bd027-9875-426d-be57-fa98d53518bd"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 81-->
        <audio id="a3p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a3p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Argue
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-3.webp?alt=media&token=dbece2e4-7ea4-41a1-b998-b1902e5fb4b1"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 82-->
        <audio id="a4p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a4p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Feed the dog
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-4.webp?alt=media&token=0949e8f0-0543-4e61-937a-4d72ae016320"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 83-->
        <audio id="a5p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a5p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Eat
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-5.webp?alt=media&token=0f2d30ac-130f-4692-8aaf-256ce3e06d66"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 84-->
        <audio id="a6p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a6p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. behave
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-6.webp?alt=media&token=4b347088-30d5-4bc9-b1df-110a9db3d7ea"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 85-->
        <audio id="a7p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a7p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Watch TV
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-7.webp?alt=media&token=b366c7c4-5c2a-449a-98da-8500bd3ee5fb"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 86-->
        <audio id="a8p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a8p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Listen to music
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-8.webp?alt=media&token=6a6887a6-a83a-4384-9460-742ccb126224"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 87-->
        <audio id="a9p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a9p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Travel by car
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-9.png?alt=media&token=0d64759d-2ad6-422c-bb2c-5e05d42512d3"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 88 -->
        <audio id="a10p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a10p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Lie
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-10.webp?alt=media&token=105e8c98-c666-4ffa-b91f-2ba4608b424f"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 89-->
        <audio id="a11p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a11p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Wait
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-11.webp?alt=media&token=3b81b4ee-c7bd-4491-b0d9-63729640e10b"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 90-->
        <audio id="a12p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a12p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. stay in a Hotel
      </h6>
    </div>
    <div class="col-md-2 text-center card border-info my-2 col-6 p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F4-12.jpg?alt=media&token=66994340-ea75-4194-99df-bb6b00732789"
        class="img-fluid mb-2 rounded"
        alt="img"
      />
      <h6>
        <!-- audio 91-->
        <audio id="a13p16l4" aria-label="audio" class="d-none" controls>
          <source type="audio/mp3" src="" />
        </audio>
        <button
          (click)="reproducirAudio('a13p16l4')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12.Mop
      </h6>
    </div>
  </div>
</div>
