<div>
    <div class="row">
        <div class="col-md-4 my-1 center">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4 my-1">
            <ul>
                <span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span>
                <li class="my-1"><strong>A. </strong> Does Stanley cook Greek food on Tuesday?</li>
                <li class="my-1"><strong>B. </strong> Yes, he does.</li>
                <li class="my-1"><strong>A. </strong> Ah ok, Can I see the menu, please?</li>
                <li class="my-1"><strong>B. </strong> Sure, here you are.</li>
                <strong>Ask six question with "yes" answers</strong>
            </ul>
        </div>
        <div class="col-md-4 my-1">
            <ol>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
            </ol>
        </div>

        <div class="col-md-4 my-1">
            <ul>
                <span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span>
                <li class="my-1"><strong>A. </strong> Does Stanley cook Japanese food on sunday?</li>
                <li class="my-1"><strong>B. </strong> No he doesn´t</li>
                <li class="my-1"><strong>A. </strong> When does he cook Japanese food?</li>
                <li class="my-1"><strong>B. </strong> He cooks Japanese food on Friday</li>
                <strong>Ask six Question with "no" answers</strong>
            </ul>
        </div>
        <div class="col-md-4 my-1">
            <ol>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
                <li><input type="text" placeholder="Question" class="form-control" name="" id=""></li>
            </ol>
        </div>
        <div class="col-md-4 my-1 center">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
        </div>

    </div>
</div>