<div>
  <div class="row">
    <div class="col-md-12 my-3">
      <h3 class="text-center my-2">Should " for a recommendation"</h3>
      <div class="d-flex justify-content-center">
        <div class="card border-info mb-3">
          <div class="card-header text-center">Recommendation</div>
          <div class="card-body">
            <ul class="card-text">
              <li>I am sick : You should see a Doctor</li>
              <li>She is hungry : She should eat something</li>
              <li>They are tired : They should take a rest</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-2" />
    <div class="col-md-4">
      <h6 class="text-center">ASKING FOR ADVISE</h6>
      <strong>What should I do if ….?</strong>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-13.png?alt=media&token=0241a40d-4360-44f4-ade8-de31bbc4e018"
        class="img-fluid w-75"
        alt="img"
      />
    </div>
    <div class="col-md-4">
      <h6 class="text-center">GIVING ADVISE</h6>
      <ul>
        <li>I think you should take a pill.</li>
        <li>Why don’t you...?</li>
        <li>If I were you, I would …</li>
        <li>Maybe you should…</li>
        <li>I suggest you …</li>
        <li>How about (verb + ing…)</li>
        <li>I would advise you to …</li>
        <li>It might be a good idea to …</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h6 class="text-center">ASKING FOR ADVISE</h6>
      <strong>What do you think I should do if…?</strong>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F1-4.jpg?alt=media&token=67b33908-8d02-4255-b05c-a0f87475cea4"
        class="img-fluid w-75"
        alt="img"
      />
    </div>
  </div>
</div>
