<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">UNIT 1</span></h1>
      <h3 class="text-center">PRESENT PROGRESSIVE</h3>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-1.jpg?alt=media&token=48c963b5-220f-4ef8-af03-e51f87a357e2"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a3p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F1.dance.mp3?alt=media&token=18a791d3-924e-42a6-8c6a-95cacfa8df39"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Dance
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-2.jpg?alt=media&token=4e371070-c0f0-443a-b957-3aac601e6cf3"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a4p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F2.study.mp3?alt=media&token=81d58f04-cee5-4c9b-bb4f-e1aa912dc68b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Study
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-3.jpg?alt=media&token=f85d9ffc-5fa2-4853-947a-bb552851b939"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a5p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F3.play.mp3?alt=media&token=fd37b20b-1123-4e66-b02b-09fb02c49c0c"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Play
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-4.jpg?alt=media&token=43b55914-9a4f-44d7-b57c-d681f4577b03"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a6p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F4.drink.mp3?alt=media&token=0c0c3fcc-4972-4ba4-86c6-0d93c75b7268"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Drink
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-5.jpg?alt=media&token=daa38cde-c06d-439b-aa41-5ef285425196"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a7p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F5.eat.mp3?alt=media&token=6a2d09ee-6d1a-40da-b9a4-154dcc801b0b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Eat
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-6.jpg?alt=media&token=09db8212-0b7c-46c4-9033-e46549a38658"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a8p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F6.cook.mp3?alt=media&token=0a5fe2b7-6453-4561-8fd3-3f6a632544e8"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Cook
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-7.jpg?alt=media&token=d7faa56c-382f-4f8d-ad4c-8e2ecaf20ecb"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a9p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F7.write.mp3?alt=media&token=46748dd6-0df2-48cb-96c0-1574bdce1334"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Write
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-8.jpg?alt=media&token=f8ce95f5-b9ae-49d0-b6d2-630a2363b117"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a10p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F8.read.mp3?alt=media&token=23aa4a9c-a2e3-4c7e-828e-e9762378ef10"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Read
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-9.jpg?alt=media&token=6a30a570-1aff-40d8-a4dd-f126f04df868"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a11p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F9.watch%20tv.mp3?alt=media&token=83efe59d-70b9-49be-9663-0573533429e5"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Watch TV
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-10.jpg?alt=media&token=4077c29d-c1e2-4075-bf30-2049b46ee706"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a12p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F10.run.mp3?alt=media&token=daa4f054-f22a-4e23-ae83-0f22d3547ef3"
          />
        </audio>
        <button
          (click)="reproducirAudio('a12p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Run
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-11.jpg?alt=media&token=1132be72-306a-4340-b5bb-a84ce48af6e5"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a13p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F11.sleep.mp3?alt=media&token=1204a704-fbda-4d71-bf18-04f7997753c4"
          />
        </audio>
        <button
          (click)="reproducirAudio('a13p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. Sleep
      </h6>
    </div>
    <div class="col-md-2 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F1-12.jpg?alt=media&token=bbeaa696-d4e0-415d-b70a-b86ee4358ea3"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="center">
        <audio id="a14p1l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F12.do%20exercise.mp3?alt=media&token=1496b9b9-9202-4341-8ceb-6784951e9f33"
          />
        </audio>
        <button
          (click)="reproducirAudio('a14p1l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. Do exercise
      </h6>
    </div>
  </div>
</div>
