<div>
    <div class="row">

        <div class="col-md-12">
            <h3 class="center">Worksheet</h3>
            <h6>Preparation</h6>
            <p>Fill the gaps with the verbs from the box</p>
        </div>
        <div class="col-md-6">
            <span class="badge bg-info m-1">need</span>
            <span class="badge bg-info m-1">waste</span>
            <span class="badge bg-info m-1">start off</span>
            <span class="badge bg-info m-1">end up</span>
            <span class="badge bg-info m-1">turn off</span>
            <span class="badge bg-info m-1">look up</span>
            <ol>
                <li class="mb-1">When you need to study, you don't want to <input type="text" name="ans1page18" [(ngModel)]="libro.ans1Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> time.</li>
                <li class="mb-1">It's easy to <input type="text" name="ans2page18" [(ngModel)]="libro.ans2Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> working well but <input type="text" name="ans12page18" [(ngModel)]="libro.ans12Page18" (keyup.enter)="guardarInfo()"
                        (blur)="guardarInfo()" id=""> doing somethime else.</li>
                <li class="mb-1">It's a good idea to <input type="text" name="ans3page18" [(ngModel)]="libro.ans3Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> your music.</li>
                <li class="mb-1">You can use the internet to <input type="text" name="ans4page18" [(ngModel)]="libro.ans4Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> information.</li>
                <li class="mb-1">Make sure you have everything you <input type="text" name="ans5page18" [(ngModel)]="libro.ans5Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> before you start.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <h5>1.Check your understanding: reordering</h5>
            <p>Write a number (1-6) to put these tips in the order that your hear them.</p>
            <ul>
                <li><input type="text" name="ans6page18" [(ngModel)]="libro.ans6Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px"> Turn off your music. </li>
                <li><input type="text" name="ans7page18" [(ngModel)]="libro.ans7Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px"> Take away the things that stop you working </li>
                <li><input type="text" name="ans8page18" [(ngModel)]="libro.ans8Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px"> Turn off your phone. </li>
                <li><input type="text" name="ans9page18" [(ngModel)]="libro.ans9Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px"> Have something to eat and drink on your desk. </li>
                <li><input type="text" name="ans10page18" [(ngModel)]="libro.ans10Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px"> Put your pet outside </li>
                <li><input type="text" name="ans11page18" [(ngModel)]="libro.ans11Page18" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px"> Turn off your instant messages</li>
            </ul>
        </div>
    </div>
</div>