<div>
  <div class="row">
    <div class="col-md-12">
      <strong class=""
        >II. FILL IN THE BLANKS WITH THE CORRET FORM OF THE ADJECTIVE.</strong
      >
      <table class="my-2 table table-striped table-responsive">
        <tbody>
          <tr>
            <td>1. Careful</td>
            <td>
              Do you drive
              <input
                type="text"
                class="form-control input"
                name="ans1page15"
                [(ngModel)]="libro.ans1Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              ?
            </td>
          </tr>
          <tr>
            <td>2. Correct</td>
            <td>
              Carmen gave the
              <input
                type="text"
                class="form-control input"
                name="ans2page15"
                [(ngModel)]="libro.ans2Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              answer to the question
            </td>
          </tr>
          <tr>
            <td>3. Correct</td>
            <td>
              She answered the question
              <input
                type="text"
                class="form-control input"
                name="ans3page15"
                [(ngModel)]="libro.ans3Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>4. Fast</td>
            <td>
              Mike is a
              <input
                type="text"
                class="form-control input"
                name="ans4page15"
                [(ngModel)]="libro.ans4Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              reader
            </td>
          </tr>
          <tr>
            <td>5. Quick</td>
            <td>
              Mike reads
              <input
                type="text"
                class="form-control input"
                name="ans5page15"
                [(ngModel)]="libro.ans5Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>6. Fast</td>
            <td>
              Mike reads
              <input
                type="text"
                class="form-control input"
                name="ans6page15"
                [(ngModel)]="libro.ans6Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>7. Neat</td>
            <td>
              Barbara has
              <input
                type="text"
                class="form-control input"
                name="ans7page15"
                [(ngModel)]="libro.ans7Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              handwriting. It is easy to read what she writes
            </td>
          </tr>
          <tr>
            <td>8. Neat</td>
            <td>
              Barbara writes
              <input
                type="text"
                class="form-control input"
                name="ans8page15"
                [(ngModel)]="libro.ans8Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>9. Hard</td>
            <td>
              I study
              <input
                type="text"
                class="form-control input"
                name="ans9page15"
                [(ngModel)]="libro.ans9Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>10. Hard</td>
            <td>
              The student took a
              <input
                type="text"
                class="form-control input"
                name="ans10page15"
                [(ngModel)]="libro.ans10Page15"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
              test
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
