<div>
  <div class="row">
    <div class="col-md-12 my-2">
      <h5 class="text-center">WHAT DID THEY DO YESTERDAY?</h5>
      <strong
        >Work with your classmate answering this question, base on the
        pictures.</strong
      ><br />
      <span class="badge bg-primary"><i> What did he do?</i></span>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-12.webp?alt=media&token=ff5249eb-c593-4c8b-94a4-e54bbd5bbd5c"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>1.</b> He (drink)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans1page29"
          [(ngModel)]="libro.ans1Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        some milk.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-13.webp?alt=media&token=b1b59c98-9cb1-4a3a-82fc-269bff430b56  "
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>2.</b> He (say)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans2page29"
          [(ngModel)]="libro.ans2Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        goodbye to his mother.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-14.webp?alt=media&token=eb24b0ae-3382-4729-b119-02da3caece3b"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>3.</b> They (catch )

        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans3page29"
          [(ngModel)]="libro.ans3Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        the bus to school.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-15.webp?alt=media&token=fcb72aa4-4ccc-438f-abd5-bc101feeda23"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>4.</b> He (have)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans4page29"
          [(ngModel)]="libro.ans4Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        a test.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-16.jpg?alt=media&token=88f20061-8ad5-435f-9ec4-1273b59a8995"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>5.</b> He (meet)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans5page29"
          [(ngModel)]="libro.ans5Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        Daisy
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-17.webp?alt=media&token=eb3c459e-56e6-4370-b159-412812676da9"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>6.</b> She (answer)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans6page29"
          [(ngModel)]="libro.ans6Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        some emails.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-18.jpg?alt=media&token=6c1cd88c-ef44-41cd-9a18-19abe0262838"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>7.</b> He (make)

        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans7page29"
          [(ngModel)]="libro.ans7Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        some research.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-19.webp?alt=media&token=e9a2cb58-e871-48ff-878a-8845bdf6531f"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>8.</b>He (play)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans8page29"
          [(ngModel)]="libro.ans8Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        basketball.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-20.jpg?alt=media&token=7349e4b0-81ce-46f8-b368-4a61359b75cb"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>9.</b> He (take)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans9page29"
          [(ngModel)]="libro.ans9Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        his dog to the park.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-21.png?alt=media&token=23bda777-83be-488a-ad42-dfa0a3eaebf6"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>10.</b> He (sell)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans10page29"
          [(ngModel)]="libro.ans10Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        orange juice in the park .
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-22.webp?alt=media&token=e6e56668-e434-4358-a099-cdc2538a7aa2"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>11.</b> He (write)

        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans11page29"
          [(ngModel)]="libro.ans11Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        a letter to his grandparents.
      </p>
    </div>
    <div class="col-md-3 card border-info mt-1">
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F5-23.jpg?alt=media&token=75319b74-cc15-40df-86d8-1c6a92ca534f"
          class="img-fluid w-75"
          alt="img"
        />
      </div>
      <p>
        <b>12.</b>They (go)
        <input
          type="text"
          size="100"
          style="width: 100px; height: 30px"
          class="form-control input m-1"
          name="ans12page29"
          [(ngModel)]="libro.ans12Page29"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
        to the concert.
      </p>
    </div>
  </div>
</div>
