<div>
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-30.PNG?alt=media&token=c49c4fba-3eb2-40d3-965e-40af24025f2f"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-8">
      <ol start="36">
        <li>
          you are getting away from me. Oh no! I (drop)
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans1page48"
            [(ngModel)]="libro.ans1Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          you! Come back! Come back!
        </li>
        <li>
          FISH: Ha! I (fool).
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans2page48"
            [(ngModel)]="libro.ans2Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          you too, Bear. Now you must find your dinner in another place.
        </li>
        <li>
          BEAR: Yes, you (trick)
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans3page48"
            [(ngModel)]="libro.ans3Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          me too. We (teach)
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans4page48"
            [(ngModel)]="libro.ans4Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          each other a good lesson today: Don't believe everything you hear.
          <br />
          FISH: Thank you for teaching me that lesson. Now I will live a long
          and happy life.
        </li>
        <li>
          BEAR: Yes, we (learn)<input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans5page48"
            [(ngModel)]="libro.ans5Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a good lesson today, and that's good. But
        </li>
        <li>
          I (be)
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans6page48"
            [(ngModel)]="libro.ans6Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          still hungry. Hmmm. I (have)<input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans7page48"
            [(ngModel)]="libro.ans7Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          a gold tooth in my mouth. (you, would like)
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans8page48"
            [(ngModel)]="libro.ans8Page48"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to come closer and look at it?
        </li>
      </ol>
    </div>
  </div>
</div>
