<div>
    <div class="row">

        <div class="col-md-12 mt-3 ">
            <h5 class="text-center">Family/relationship survey using the verb “do” </h5>
            <hr>
            <span> Talk to at least 5 different people in the class</span>
            <div class="col-md-12 table-responsive mx-2">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>What is your name?</th>
                            <th>Do you have a ..........?</th>
                            <th>What do/does ...do?(job)</th>
                            <th>Where do/does .........live?</th>
                            <th>What do/does ...like to do on the weekend? </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="ans6page2" [(ngModel)]="libro.ans6Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td>brother</td>
                            <td><input type="text" name="ans7page2" [(ngModel)]="libro.ans7Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans8page2" [(ngModel)]="libro.ans8Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans9page2" [(ngModel)]="libro.ans9Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="ans10page2" [(ngModel)]="libro.ans10Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td>sister</td>
                            <td><input type="text" name="ans11page2" [(ngModel)]="libro.ans11Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans12page2" [(ngModel)]="libro.ans12Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans13page2" [(ngModel)]="libro.ans13Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="ans14page2" [(ngModel)]="libro.ans14Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td>friend</td>
                            <td><input type="text" name="ans15page2" [(ngModel)]="libro.ans15Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans16page2" [(ngModel)]="libro.ans16Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans17page2" [(ngModel)]="libro.ans17Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="ans18page2" [(ngModel)]="libro.ans18Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td>uncle & aunt</td>
                            <td><input type="text" name="ans19page2" [(ngModel)]="libro.ans19Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans20page2" [(ngModel)]="libro.ans20Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans21page2" [(ngModel)]="libro.ans21Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="ans22page2" [(ngModel)]="libro.ans22Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td>grandfather & mother</td>
                            <td><input type="text" name="ans23page2" [(ngModel)]="libro.ans23Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans24page2" [(ngModel)]="libro.ans24Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans25page2" [(ngModel)]="libro.ans25Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="ans26page2" [(ngModel)]="libro.ans26Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td>pet</td>
                            <td><input type="text" name="ans27page2" [(ngModel)]="libro.ans27Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans28page2" [(ngModel)]="libro.ans28Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans29page2" [(ngModel)]="libro.ans29Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="ans30page2" [(ngModel)]="libro.ans30Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td>boss</td>
                            <td><input type="text" name="ans31page2" [(ngModel)]="libro.ans31Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans32page2" [(ngModel)]="libro.ans32Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                            <td><input type="text" name="ans33page2" [(ngModel)]="libro.ans33Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <h5 class="text-center">Write about 5 people.</h5>
            <span><strong>Example: <br/></strong> John has a brother. He is an accountant. He lives in Chiangmai. He likes to 
                do gardening on the weekend. </span>
            <ol>
                <li class="my-2"><input type="text" name="ans1page2" [(ngModel)]="libro.ans1Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></li>
                <li class="my-2"><input type="text" name="ans2page2" [(ngModel)]="libro.ans2Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></li>
                <li class="my-2"><input type="text" name="ans3page2" [(ngModel)]="libro.ans3Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></li>
                <li class="my-2"><input type="text" name="ans4page2" [(ngModel)]="libro.ans4Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></li>
                <li class="my-2"><input type="text" name="ans5page2" [(ngModel)]="libro.ans5Page2" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" class="form-control" placeholder="Answer"></li>
            </ol>
        </div>

    </div>
</div>