<div>
    <div class="row">

        <div class="col-md-12 mt-3 ">
            <h5 class="text-center">Family/relationship survey using the verb “do” </h5>
            <hr>
            <span> Talk to at least 5 different people in the class</span>
            <div class="col-md-12 table-responsive mx-2">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>What is your name?</th>
                            <th>Do you have a ..........?</th>
                            <th>What do/does ...do?(job)</th>
                            <th>Where do/does .........live?</th>
                            <th>What do/does ...like to do on the weekend? </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>brother</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>sister</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>friend</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>uncle & aunt</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>grandfather & mother</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>pet</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>boss</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <h5 class="text-center">Write about 5 people.</h5>
            <span><strong>Example: <br/></strong> John has a brother. He is an accountant. He lives in Chiangmai. He likes to 
                do gardening on the weekend. </span>
            <ol>
                <li class="my-2"><input type="text" class="form-control" placeholder="Answer"></li>
                <li class="my-2"><input type="text" class="form-control" placeholder="Answer"></li>
                <li class="my-2"><input type="text" class="form-control" placeholder="Answer"></li>
                <li class="my-2"><input type="text" class="form-control" placeholder="Answer"></li>
                <li class="my-2"><input type="text" class="form-control" placeholder="Answer"></li>
            </ol>
        </div>

    </div>
</div>