<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 12</span></h1>
      <h3 class="text-center">ADJECTIVES</h3>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F180.jpg?alt=media&token=f5499144-9a2e-438a-bbea-ce210a8cc3c2"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 805-->
        <audio id="a1p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F805.mp3?alt=media&token=50a0b737-0161-4328-a842-afc075f59921"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Neat
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F181.jpg?alt=media&token=164923a1-23e0-4cb7-b17b-bfd473717440"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 806-->
        <audio id="a2p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F806.mp3?alt=media&token=beb95d93-04cd-4e5d-bedd-02a73cdcadc2"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. messy
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F182.jpg?alt=media&token=9d0964a4-3493-49ff-9bd7-1749bafe2e42"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 807-->
        <audio id="a3p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F807.mp3?alt=media&token=2d05b800-551b-4a7b-b600-5a022c2b16ae"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Clean
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F183.jpg?alt=media&token=7cc2e2c4-d9c5-4de0-938a-ce9d4393e40f"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 808-->
        <audio id="a4p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F808.mp3?alt=media&token=5d1c3fb0-ac95-48a9-8e4d-2883325bcf52"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. dirty
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F184.jpg?alt=media&token=fa76595b-135b-4024-b7ff-92776b43352b"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 809-->
        <audio id="a5p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F809.mp3?alt=media&token=7f072eaa-ea87-4a76-9d8a-f5c8a35d222a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Hot
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F185.jpg?alt=media&token=fd976d62-380f-4456-acc1-4b57cab81a07"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 810-->
        <audio id="a6p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F810.mp3?alt=media&token=c8d57857-a634-490f-8d54-cc372680916d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Cold
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F186.jpg?alt=media&token=d1f1f1c1-3f23-4cd6-8305-d804f35eb176"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 811-->
        <audio id="a7p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F811.mp3?alt=media&token=8b272514-ccc5-42fa-93f4-3274e013bc39"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Noisy
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F187.jpg?alt=media&token=840ac87f-40b9-4524-b619-5e627582c2c9"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 812-->
        <audio id="a8p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F812.mp3?alt=media&token=1e3f22f5-b794-40e1-9b5a-95d60f17d9a1"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Polite
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F188.jpg?alt=media&token=49d49db0-a9f9-4c6e-85ff-4f5735871d92"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 813-->
        <audio id="a9p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F813.mp3?alt=media&token=2a45aded-8637-4b07-8ebc-58877c162b95"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Happy
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F189.jpg?alt=media&token=9b35b96b-7e12-4471-8616-9f0b63c30124"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 814-->
        <audio id="a10p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F814.mp3?alt=media&token=69dc068a-3dde-4770-b3a9-712f59b04163"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Honest
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F190.jpg?alt=media&token=6df96b39-df2d-4406-88e6-2af97f8f1836"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 815-->
        <audio id="a11p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F815.mp3?alt=media&token=baf61c92-07d8-44e9-867a-10556b7328c3"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. heavy /
        <!-- audio l1 816-->
        <audio id="a12p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F816.mp3?alt=media&token=85e1d7a9-3931-499a-8cfa-48b2077738d6"
          />
        </audio>
        <button
          (click)="reproducirAudio('a12p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        light
      </h6>
    </div>
    <div class="col-md-3 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F191.jpg?alt=media&token=d180f2aa-99a1-4b33-a628-e7b5e0047710"
        class="rounded img-fluid p-1"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 817-->
        <audio id="a13p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F817.mp3?alt=media&token=d8a7b4ed-c30c-45d5-aef9-9582f4fb19f7"
          />
        </audio>
        <button
          (click)="reproducirAudio('a13p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. Cheap /
        <!-- audio l1 818-->
        <audio id="a14p57l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F818.mp3?alt=media&token=2070be7d-6c79-411c-a600-f529c4dd3c0d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a14p57l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        Expensive
      </h6>
    </div>
  </div>
</div>
