<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 9</span></h1>
      <h3 class="text-center">
        <!-- audio l1 560-->
        <audio id="a13p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F560.mp3?alt=media&token=d9408689-160f-42f4-99a7-542d1924cb3f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a13p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        CLOTHING
      </h3>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F94.jpg?alt=media&token=037d5146-3e07-4b48-a5b0-5be30ee9e2a6"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 561-->
        <audio id="a1p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F561.mp3?alt=media&token=af1043cb-db1d-440b-a629-9eda3a7877a6"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Shirt
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F95.jpg?alt=media&token=40ab9d25-eac0-4fe2-9913-b2ba16393610"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 562-->
        <audio id="a2p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F562.mp3?alt=media&token=7f5ced6a-1dd1-4e40-b59c-c12a26db6f1e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Pants
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F96.png?alt=media&token=1373b7e6-6bcb-47f8-8306-7bd68923d7ee"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 563-->
        <audio id="a3p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F563.mp3?alt=media&token=7f4b2b6f-abd1-4de0-8da4-3bd82a231be8"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Blouse
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F97.png?alt=media&token=6f252b86-08a4-4bba-becf-04186f143389"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 564-->
        <audio id="a4p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F564.mp3?alt=media&token=c502ed88-2dd6-4603-af13-d1291c078e25"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Dress
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F98.jpg?alt=media&token=a620472f-26f3-45f0-92e5-5b50638d593a"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 565-->
        <audio id="a5p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F565.mp3?alt=media&token=3cea2e90-7f47-43b7-8183-ac5e817049d8"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Skirt
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F99.png?alt=media&token=850a759e-0649-4335-bcaf-86b2c65b589a"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 566-->
        <audio id="a6p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F566.mp3?alt=media&token=adb7b4ef-c6d1-4bef-8fa4-daa54b2573b9"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Sweater
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F100.png?alt=media&token=bc7dffe3-cd32-41ad-822b-6f2e9dfa0e53"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 567-->
        <audio id="a7p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F567.mp3?alt=media&token=0deb40f3-086a-40b0-8a92-147a7cc6295a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Tie
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F101.png?alt=media&token=1f513f91-2984-4baa-a258-ac4eac5c266d"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 568-->
        <audio id="a8p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F568.mp3?alt=media&token=4e0051ca-b842-4489-a8f8-10064c5f9267"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Coat
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F102.png?alt=media&token=8e76882b-85d9-4551-a5f9-a3b1bba49df6"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 569-->
        <audio id="a9p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F569.mp3?alt=media&token=636c1503-de98-47aa-8bd2-07a13ec2d48d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Suit
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F103.png?alt=media&token=3c8002a1-9e3e-40d7-9f15-7f968d05ddeb"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 570-->
        <audio id="a10p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F570.mp3?alt=media&token=00ad6865-1fc1-4763-967c-eb501611481e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        10. Sneakers
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F104.png?alt=media&token=2001779a-ba6c-40c6-9ab9-12501aba54b9"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 571-->
        <audio id="a11p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F571.mp3?alt=media&token=e318bac5-6423-4108-af7d-d90672c1678c"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        11. Shoes
      </h6>
    </div>
    <div class="col-md-2 col-6 card border-info my-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F105.png?alt=media&token=9b71f99e-0b85-4b1b-a563-1dbaadc44dbf"
        class="img-fluid rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 572-->
        <audio id="a12p36l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F572.mp3?alt=media&token=15ba8547-e29a-4935-930d-4d8b53bd890a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a12p36l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        12. Socks
      </h6>
    </div>
  </div>
</div>
