<div>
    <div class="row">
        <div class="col-md-12">
            <h4>3. Check your understanding: gap fill</h4>
            <p>Do this exercise while you listen. Complete the gaps with the speaker.</p>

            <span class="badge bg-primary m-2"> A ( x2 ) </span>
            <span class="badge bg-primary m-2"> B ( x2 ) </span>
            <span class="badge bg-primary m-2"> C ( x2 ) </span>
            <span class="badge bg-primary m-2"> D ( x2 ) </span>
            <span class="badge bg-primary m-2"> E ( x2 ) </span>
            <ol>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> will see people dressed in amazing costumes.</li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is going to decorate the venue with Chinese lanterns and projections on the wall.</li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is worried about someone on Facebook spoiling the surprise.</li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is going to be careful of people stealing things.</li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is going to listen to old-fashioned music played on an old-fashioned machine.</li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is in one of the bands that are playing. </li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is going to taste food from all over the world.</li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is going to celebrate with the whole family.</li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is organising a party for her two best friends.</li>
                <li class="my-2"> Speaker <input type="text" name="" id="" placeholder="Answer"> is going to make sure there is no traffic on her street.</li>
            </ol>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Do you have any celebrations planned ?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>What are you celebrating? <input type="text" placeholder="Answer" class="form-control" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>What are you going to do? <input type="text" placeholder="Answer" class="form-control" name="" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>