<div>
    <div class="row">

        <div class="col-md-12">
            <h2 class="center">Annoyances</h2>
        </div>
        <div class="col-md-4">
            <img class="img-fluid m-1 w-50" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg20_libroA1.png?alt=media&token=965c9592-c05c-4207-9f05-460977039b2f" alt="">
            <span class="badge bg-info center"> <input type="text" name="ans1page24" [(ngModel)]="libro.ans1Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px" placeholder="?"></span>
            <img class="img-fluid m-1 w-50" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg24_libroA1.png?alt=media&token=b57a91b9-74ad-49cd-a75b-47f6370e3e35" alt="">
            <span class="badge bg-info center"> <input type="text" name="ans2page24" [(ngModel)]="libro.ans2Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px" placeholder="?"></span>
            <img class="img-fluid m-1 w-50" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg23_libroA1.png?alt=media&token=ba1eca37-fc78-4339-85e3-2dab5e1393a8" alt="">
            <span class="badge bg-info center"> <input type="text" name="ans3page24" [(ngModel)]="libro.ans3Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px" placeholder="?"></span>

        </div>

        <div class="col-md-4">
            <img class="img-fluid m-1 w-50" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg21_libroA1.png?alt=media&token=36dd6181-0baa-4c2c-b1d6-08a13a6312e0" alt="">
            <span class="badge bg-info center"> <input type="text" name="ans4page24" [(ngModel)]="libro.ans4Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px" placeholder="?"></span>
            <h4 class="center">I hate it when</h4>
            <ul>
                <li><b>a.</b> I have to wait in queues.</li>
                <li><b>b.</b> mosquitoes fly around my head at night</li>
                <li><b>c.</b> I am broke.</li>
                <li><b>d.</b> noone serves me.</li>
                <li><b>e.</b> the coffee pot is empty.</li>
                <li><b>f.</b> my car breaks down.</li>
                <li><b>g.</b> I forget what I am going to say</li>
                <li><b>h.</b> my mail doesn’t come. </li>
                <li><b>i.</b> I lose a game</li>
            </ul>
            <img class="img-fluid m-1 w-50" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg17_libroA1.png?alt=media&token=7c64930f-6957-44ec-9142-91177f0dceca" alt="">
            <span class="badge bg-info center"> <input type="text" name="ans8page24" [(ngModel)]="libro.ans8Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px" placeholder="?"></span>
        </div>
        <div class="col-md-4">

            <img class="img-fluid m-1 w-50" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg18_libroA1.png?alt=media&token=676c3342-242d-455e-89c2-b1b613c2af5c" alt="">
            <span class="badge bg-info center"> <input type="text" name="ans5page24" [(ngModel)]="libro.ans5Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px" placeholder="?"></span>
            <img class="img-fluid m-1 w-50" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg19_libroA1.png?alt=media&token=8eeb1b49-57d2-453d-a66f-0b96d08a65db" alt="">
            <span class="badge bg-info center"> <input type="text" name="ans6page24" [(ngModel)]="libro.ans6Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px" placeholder="?"></span>
            <img class="img-fluid m-1 w-50" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg22_libroA1.png?alt=media&token=c9b96fa4-9da8-4246-835c-526df44b204d" alt="">
            <span class="badge bg-info center"> <input type="text" name="ans7page24" [(ngModel)]="libro.ans7Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" style="width : 35px; height : 23px" placeholder="?"></span>
        </div>
        <div class="col-md-12">
            <h5 class="center">Create short conversations about annoyances using the vocabulary above.
            </h5>
        </div>
        <div class="col-md-6">
            <ul>
                <li>A: What really annoys you?</li>
                <li>B: <input type="text" name="ans9page24" [(ngModel)]="libro.ans9Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="Answer" class="form-control"></li>
                <li>A:Why is that?</li>
                <li>B: <input type="text" name="ans10page24" [(ngModel)]="libro.ans10Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="Answer" class="form-control"></li>
                <li>A: And what can you do about it ?</li>
                <li>B: <input type="text" name="ans11page24" [(ngModel)]="libro.ans11Page24" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="Answer" class="form-control"></li>
            </ul>
        </div>
    </div>
</div>