<div>
    <div class="row">
        <div class="col-md-6">
            <h6 class="text-white center verde2"> ACTIVITY 3.7</h6>
            <strong>CIRCLE THE CORRECT FORM OF THE VERB TO COMPLETE EACH SENTENCE</strong>
            <ol>
                <li> Doctor Moffett love / loves his job.</li>
                <li> He study / studies ants.</li>
                <li> A salesperson sell / sells products for a company.</li>
                <li> You and Anita work / works on weekends.</li>
                <li> Nurses help / helps people.</li>
                <li> We write / writes science books.</li>
                <li> Our office close / closes at 7:00 p.m.</li>
                <li> She take / takes classes at the business school.</li>
                <li> You walk / walks to work every day.</li>
                <li> I start / starts work at 8:00 a.m. every morning.</li>

            </ol>
            <strong>PUT THE WORDS IN THE CORRECT ORDER TO MAKE SENTENCES</strong>
            <ol>
                <li> Saturday / to / work / They / need / on .......... <input type="text" class="form-control" name="" id="" value="They need to work on Saturday." disabled> </li>
                <li> He / have / lunch / wants / at / 1:00 / to .......... <input type="text" class="form-control" name="ans1page36" [(ngModel)]="libro.ans1Page36" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=" "></li>

            </ol>
        </div>
        <div class="col-md-6 ">
            <ol start="3 ">
                <li> tonight / to / need / work / until / 7:00 / You.......... <input type="text " class="form-control " name="ans2page36 " [(ngModel)]="libro.ans2Page36 " (keyup.enter)="guardarInfo() " (blur)="guardarInfo() " id=""></li>
                <li> need / buy / I / to / computer / a / new.......... <input type="text" class="form-control" name="ans3page36" [(ngModel)]="libro.ans3Page36" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=" "></li>
                <li> She / play / to / likes / tennis .......... <input type="text " class="form-control " name="ans4page36 " [(ngModel)]="libro.ans4Page36 " (keyup.enter)="guardarInfo() " (blur)="guardarInfo() " id=""></li>
                <li> want / watch / to / the game / We.......... <input type="text" class="form-control" name="ans5page36" [(ngModel)]="libro.ans5Page36" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=" "></li>
                <li> to / He / study / in the library / likes.......... <input type="text " class="form-control " name="ans6page36 " [(ngModel)]="libro.ans6Page36 " (keyup.enter)="guardarInfo() " (blur)="guardarInfo() " id=""></li>
                <li> need / I / do / my homework / to.......... <input type="text" class="form-control" name="ans7page36" [(ngModel)]="libro.ans7Page36" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=" "></li>
                <li> need / I / my / call / mother / to.......... <input type="text " class="form-control " name="ans8page36 " [(ngModel)]="libro.ans8Page36 " (keyup.enter)="guardarInfo() " (blur)="guardarInfo() " id=""></li>
                <li> ask / to / wants / a / She / question..........
                    <input type="text" class="form-control" name="ans9page36" [(ngModel)]="libro.ans9Page36" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=" "></li>
            </ol>
        </div>
    </div>
</div>