<div>
  <div class="row">
    <div class="col-md-8 order-2 order-md-1">
      <ol start="4">
        <li>
          FISH: Fine, thanks.<br />
          BEAR: (you, would like)
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans1page46"
            [(ngModel)]="libro.ans1Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to get out of the river and (5) (sit)
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans2page46"
            [(ngModel)]="libro.ans2Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          with me? I (need).
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans3page46"
            [(ngModel)]="libro.ans3Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          someone to talk to.
        </li>
        <li>
          FISH: I (need, not).
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans4page46"
            [(ngModel)]="libro.ans4Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to get out of the river for us to talk. We can talk just the way we
          are now.<br />
          BEAR: Hmmm.
        </li>
        <li>
          FISH: Wait! What (you, do)
          <input
            type="text"
            style="height: 30px"
            class="form-control m-1 input"
            name="ans5page46"
            [(ngModel)]="libro.ans5Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          ?
        </li>
      </ol>
    </div>
    <div
      class="col-md-4 order-1 d-flex align-items-center justify-content-center order-md-2"
    >
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-26.PNG?alt=media&token=b39a7dc4-c931-4d93-8f85-da1c4502a303"
        class="img-fluid"
        alt="img"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro4%2F7-27.PNG?alt=media&token=653a61fe-ed00-4570-bb15-a63af18059de"
        class="img-fluid"
        alt="img"
      />
    </div>
    <div class="col-md-8">
      <ol start="8">
        <li>
          BEAR: I (get)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans6page46"
            [(ngModel)]="libro.ans6Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />. in the river to join you.
        </li>
        <li>
          FISH: Stop! This (be).
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans7page46"
            [(ngModel)]="libro.ans7Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          my river! I (trust, not).<input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans8page46"
            [(ngModel)]="libro.ans8Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
        </li>
        <li>
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans9page46"
            [(ngModel)]="libro.ans9Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          you, what (you, want)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans10page46"
            [(ngModel)]="libro.ans10Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />?
        </li>
        <li>
          BEAR: Nothing. Just a little conversation. I (want)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans11page46"
            [(ngModel)]="libro.ans11Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          to tell you about my problems.
        </li>
        <li>
          I (have)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans12page46"
            [(ngModel)]="libro.ans12Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          a bad day yesterday.<br />
          FISH: Oh? What happened?
        </li>
        <li>
          BEAR: While I was walking through the woods, I (see)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans13page46"
            [(ngModel)]="libro.ans13Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />a beehive.
        </li>
        <li>
          I (love)
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans14page46"
            [(ngModel)]="libro.ans14Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          honey. So I (stop).<input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans15page46"
            [(ngModel)]="libro.ans15Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          at the Beehive.
        </li>
        <li>
          When I (reach)<input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans16page46"
            [(ngModel)]="libro.ans16Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          inside to get some honey, a great big bee (come)
        </li>
        <li>
          <input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans17page46"
            [(ngModel)]="libro.ans17Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />
          up behind me and stung* my ear. The sting
        </li>
        <li>
          (be)<input
            type="text"
            style="height: 30px"
            class="form-control input m-1"
            name="ans18page46"
            [(ngModel)]="libro.ans18Page46"
            (keyup.enter)="guardarInfo()"
            (blur)="guardarInfo()"
            id=""
          />very painful.
        </li>
      </ol>
    </div>
  </div>
</div>
