<div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h4 class="my-2">Grammar Flash</h4>
      <!-- <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2Fcuadro7.png?alt=media&token=19c0d519-436d-4579-9491-6fc2984d647b" class="img-fluid rounded my-2 mx-1" alt="img"> -->
    </div>
    <div class="col-md-6 table-responsive">
      <h6 class="text-center">COMPARATIVES</h6>
      <table class="table table-striped table-warning">
        <tbody>
          <tr>
            <td>Adjective of 1 or 2 syllables</td>
            <td>Adjectives of 3 or more syllables</td>
          </tr>
          <tr>
            <td>Add (r, er or ier)</td>
            <td>use <b>more before (adj)</b> the adjective</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><small>ADJECTIVE - COMPARATIVE</small></th>
            <th><small>COMPARATIVE+</small></th>
            <th><small>ADJECTIVE+</small></th>
            <th><small>THAN</small></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- audio l1 819-->
              <audio id="a1p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F819.mp3?alt=media&token=32a3badf-448b-48be-bc62-b588154fc4c9"
                />
              </audio>
              <button
                (click)="reproducirAudio('a1p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Large <i class="fas fa-long-arrow-alt-right"></i> Large
              <b>R</b> than...
            </td>
            <td>more</td>
            <td>beautiful</td>
            <td>than</td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 820-->
              <audio id="a2p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F820.mp3?alt=media&token=7d373f73-27fb-4df5-a508-921fb7eeca1a"
                />
              </audio>
              <button
                (click)="reproducirAudio('a2p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Clean <i class="fas fa-long-arrow-alt-right"></i>Clean
              <b>ER</b> than...
            </td>
            <td>more</td>
            <td>expensive</td>
            <td>than</td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 821-->
              <audio id="a3p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F821.mp3?alt=media&token=235d1c82-2f0e-4fe6-bfa6-01353cf9454d"
                />
              </audio>
              <button
                (click)="reproducirAudio('a3p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Fancy <i class="fas fa-long-arrow-alt-right"></i> Fanc
              <b>IER</b> than...
            </td>
            <td>more</td>
            <td>important</td>
            <td>than</td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 822-->
              <audio id="a4p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F822.mp3?alt=media&token=67cc6be1-eab2-4465-94c3-cd3ed15fa9b7"
                />
              </audio>
              <button
                (click)="reproducirAudio('a4p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Hot <i class="fas fa-long-arrow-alt-right"></i> Hot
              <b>TER</b> than...
            </td>
            <td>more</td>
            <td>comfortable</td>
            <td>than</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F7.png?alt=media&token=bd876dc3-cf80-49ca-aaa0-daf94f79054a"
          class="img-fluid rounded w-75"
          alt="img"
        />
      </div>
    </div>
    <div class="col-md-6">
      <table class="table table-striped table-responsive table-primary">
        <thead>
          <tr>
            <th>Teacher</th>
            <th>Student</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- audio l1 823-->
              <audio id="a5p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F823.mp3?alt=media&token=1a945db4-f67a-477e-9c1b-535f04815da1"
                />
              </audio>
              <button
                (click)="reproducirAudio('a5p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Tall
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 824-->
                  <audio
                    id="a6p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F824.mp3?alt=media&token=45170445-707f-4903-bb5b-85c5b38bdcd5"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a6p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans1page59"
                  [(ngModel)]="libro.ans1Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 825-->
              <audio id="a7p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F825.mp3?alt=media&token=05c08856-dd54-4adf-b897-2be97e036514"
                />
              </audio>
              <button
                (click)="reproducirAudio('a7p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Easy
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 826-->
                  <audio
                    id="a8p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F826.mp3?alt=media&token=e12629dc-746a-46f5-aa77-8011f0fcb539"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a8p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans2page59"
                  [(ngModel)]="libro.ans2Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 827-->
              <audio id="a9p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F827.mp3?alt=media&token=81037d1a-2cdb-4928-9ed2-319b53905a95"
                />
              </audio>
              <button
                (click)="reproducirAudio('a9p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Soft
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 828-->
                  <audio
                    id="a10p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F828.mp3?alt=media&token=450831cb-6a96-45ce-b6cb-e9d8f6ac8e4a"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a10p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans3page59"
                  [(ngModel)]="libro.ans3Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 829-->
              <audio id="a11p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F829.mp3?alt=media&token=039cdb33-eb7a-46ee-bb73-6a03822c921c"
                />
              </audio>
              <button
                (click)="reproducirAudio('a11p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Hard
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 830-->
                  <audio
                    id="a12p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F830.mp3?alt=media&token=98780aeb-7245-48e8-b1f5-4867553550ba"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a12p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans4page59"
                  [(ngModel)]="libro.ans4Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 831-->
              <audio id="a13p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F831.mp3?alt=media&token=523054a0-9fbd-4f23-9689-b46afc19ff91"
                />
              </audio>
              <button
                (click)="reproducirAudio('a13p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Happy
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 832-->
                  <audio
                    id="a14p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F832.mp3?alt=media&token=2c2bb9b6-a275-41c0-af94-fc30b9214312"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a14p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans5page59"
                  [(ngModel)]="libro.ans5Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 833-->
              <audio id="a15p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F833.mp3?alt=media&token=c171afcf-7c86-4333-88d1-83f9a059f32a"
                />
              </audio>
              <button
                (click)="reproducirAudio('a15p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Dark
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 834-->
                  <audio
                    id="a16p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F834.mp3?alt=media&token=68d3675b-f27f-4124-9d39-03a6f3f88ae1"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a16p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans6page59"
                  [(ngModel)]="libro.ans6Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 835-->
              <audio id="a17p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F835.mp3?alt=media&token=fcc2d263-2081-4d6f-9ab1-53efb3ed36af"
                />
              </audio>
              <button
                (click)="reproducirAudio('a17p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Polite
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 836-->
                  <audio
                    id="a18p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F836.mp3?alt=media&token=dd15a4ec-1f19-4370-ad7b-7f98d56f19c5"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a18p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans7page59"
                  [(ngModel)]="libro.ans7Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 837 -->
              <audio id="a19p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F837.mp3?alt=media&token=a2b26e84-e34c-49f5-b152-251bfabc4aec"
                />
              </audio>
              <button
                (click)="reproducirAudio('a19p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Noisy
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 838-->
                  <audio
                    id="a20p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F838.mp3?alt=media&token=d81cb22a-0995-49ab-ba56-c78a93e773da"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a20p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans8page59"
                  [(ngModel)]="libro.ans8Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 839-->
              <audio id="a21p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F839.mp3?alt=media&token=76dd31fd-ebf6-43fe-93e4-532ad9a39091"
                />
              </audio>
              <button
                (click)="reproducirAudio('a21p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Intelligent
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 840-->
                  <audio
                    id="a22p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F840.mp3?alt=media&token=b8257a89-18e0-470d-bd28-139083b7d89e"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a22p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans9page59"
                  [(ngModel)]="libro.ans9Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 841-->
              <audio id="a23p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F841.mp3?alt=media&token=d987f6c2-ee03-4af9-9b51-b7f616e74406"
                />
              </audio>
              <button
                (click)="reproducirAudio('a23p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Beautiful
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 842-->
                  <audio
                    id="a24p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F842.mp3?alt=media&token=942c0888-9bb0-453e-b510-44fa7b34e66e"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a24p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans10page59"
                  [(ngModel)]="libro.ans10Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 843-->
              <audio id="a25p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F843.mp3?alt=media&token=42b5ad7a-407f-47e4-9277-2b4fae4cc7be"
                />
              </audio>
              <button
                (click)="reproducirAudio('a25p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Dirty
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 844-->
                  <audio
                    id="a26p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F844.mp3?alt=media&token=39873e34-06be-459f-ba18-4e1c6bd64def"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a26p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans11page59"
                  [(ngModel)]="libro.ans11Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 845-->
              <audio id="a27p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F845.mp3?alt=media&token=9ba0a98d-9025-447f-b053-eb9973185975"
                />
              </audio>
              <button
                (click)="reproducirAudio('a27p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Honest
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 846-->
                  <audio
                    id="a28p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F846.mp3?alt=media&token=ed0c26f3-4ab0-41a4-aaff-95a581908c99"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a28p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans12page59"
                  [(ngModel)]="libro.ans12Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 847-->
              <audio id="a29p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F847.mp3?alt=media&token=1a8e716d-a35a-4877-8630-5ab171c3b813"
                />
              </audio>
              <button
                (click)="reproducirAudio('a29p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Short
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 848-->
                  <audio
                    id="a30p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F848.mp3?alt=media&token=ec325594-1b93-43ce-848a-8d0f25d3aa62"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a30p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans13page59"
                  [(ngModel)]="libro.ans13Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio l1 849-->
              <audio id="a31p58l1" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F849.mp3?alt=media&token=4282ef33-9124-4fdf-8fef-cbaa3a868e5d"
                />
              </audio>
              <button
                (click)="reproducirAudio('a31p58l1')"
                class="btn rounded-pill btn-sm audio"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              Ugly
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex">
                  <!-- audio l1 850-->
                  <audio
                    id="a32p58l1"
                    aria-label="audio"
                    class="d-none"
                    controls
                  >
                    <source
                      type="audio/mp3"
                      src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F850.mp3?alt=media&token=fe2605ef-ed21-480e-98e8-a063390ef123"
                    />
                  </audio>
                  <button
                    (click)="reproducirAudio('a32p58l1')"
                    class="btn rounded-pill btn-sm audio"
                  >
                    <i class="fas fa-volume-up"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ans14page59"
                  [(ngModel)]="libro.ans14Page59"
                  (keyup.enter)="guardarInfo()"
                  (blur)="guardarInfo()"
                  id=""
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
