<div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="my-2">MOVE ON</h4>
        </div>
        <div class="col-md-6">

            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F153.PNG?alt=media&token=0438c110-2a21-4426-a9d4-e147a7bca468" class="m-1 rounded img-fluid" alt="img">
        </div>
        <div class="col-md-6">
            <ol start="3">

                <li class="my-2">
                    A. Is there a hospital in this town?
                    <input type="text" class="form-control my-1" placeholder="B" name="ans1page50" [(ngModel)]="libro.ans1Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" placeholder="A" name="ans2page50" [(ngModel)]="libro.ans2Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" placeholder="B" name="ans3page50" [(ngModel)]="libro.ans3Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol start="4">

                <li class="my-2">
                    A. Is there a laundromat in this neighborhood?
                    <input type="text" class="form-control my-1" placeholder="B" name="ans4page50" [(ngModel)]="libro.ans4Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" placeholder="A" name="ans5page50" [(ngModel)]="libro.ans5Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" placeholder="B" name="ans6page50" [(ngModel)]="libro.ans6Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol start="5">

                <li class="my-2">
                    A. Is there a barber shop nearby?
                    <input type="text" class="form-control my-1" placeholder="B" name="ans7page50" [(ngModel)]="libro.ans7Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" placeholder="A" name="ans8page50" [(ngModel)]="libro.ans8Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    <input type="text" class="form-control my-1" placeholder="B" name="ans9page50" [(ngModel)]="libro.ans9Page50" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                </li>
            </ol>
        </div>
    </div>
</div>