<div>
    <div class="row">
        <div class="col-md-12 ">
            <h1><span class="badge bg-warning my-2">Class 6</span></h1>
            <h3 class="text-center">Greeting #6</h3>
        </div>
        <div class="col-md-6 mt-2 center">
            <p> A. Hey, How have you been?</p>
            <input type="text" class="form-control" name="ans1page28" [(ngModel)]="libro.ans1Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer">
            <p>I've been...</p>
            <span class="badge bg-info mx-1"> Great </span>
            <span class="badge bg-info mx-1"> fine </span>
            <span class="badge bg-info mx-1"> good </span>
            <span class="badge bg-info mx-1"> all right </span>
            <p>... and yourself?</p>

        </div>
        <div class="col-md-6">
            <h3 class="center mt-2">Daily Activities Speaking Activity</h3>
            <p>Talk to as many people in the class as you can. Ask the questions below or think of your own ideas for the blank boxes.</p>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Do you...</th>
                        <th>Name</th>
                        <th>Yes / No</th>
                        <th>Where/ When / Why? / Why not?
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>take the bus to university</td>
                        <td><input type="text" class="form-control" name="ans2page28" [(ngModel)]="libro.ans2Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans3page28" [(ngModel)]="libro.ans3Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans4page28" [(ngModel)]="libro.ans4Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <td>play computer games in class</td>
                        <td><input type="text" class="form-control" name="ans5page28" [(ngModel)]="libro.ans5Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans6page28" [(ngModel)]="libro.ans6Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans7page28" [(ngModel)]="libro.ans7Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <td>watch TV at night</td>
                        <td><input type="text" class="form-control" name="ans8page28" [(ngModel)]="libro.ans8Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans9page28" [(ngModel)]="libro.ans9Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans10page28" [(ngModel)]="libro.ans10Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <td>go shopping on weekends</td>
                        <td>Alice</td>
                        <td>Yes</td>
                        <td>Likes to look at new fashions</td>
                    </tr>
                    <tr>
                        <td>chat online</td>
                        <td><input type="text" class="form-control" name="ans11page28" [(ngModel)]="libro.ans11Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans12page28" [(ngModel)]="libro.ans12Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans13page28" [(ngModel)]="libro.ans13Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <td>get up at 5AM</td>
                        <td><input type="text" class="form-control" name="ans14page28" [(ngModel)]="libro.ans14Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans15page28" [(ngModel)]="libro.ans15Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans16page28" [(ngModel)]="libro.ans16Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <td>take a shower in the morning</td>
                        <td><input type="text" class="form-control" name="ans17page28" [(ngModel)]="libro.ans17Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans18page28" [(ngModel)]="libro.ans18Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans19page28" [(ngModel)]="libro.ans19Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <td>stay in an apartment</td>
                        <td><input type="text" class="form-control" name="ans20page28" [(ngModel)]="libro.ans20Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans21page28" [(ngModel)]="libro.ans21Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans22page28" [(ngModel)]="libro.ans22Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" name="ans23page28" [(ngModel)]="libro.ans23Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans24page28" [(ngModel)]="libro.ans24Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans25page28" [(ngModel)]="libro.ans25Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans26page28" [(ngModel)]="libro.ans26Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" name="ans27page28" [(ngModel)]="libro.ans27Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans28page28" [(ngModel)]="libro.ans28Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans29page28" [(ngModel)]="libro.ans29Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                        <td><input type="text" class="form-control" name="ans30page28" [(ngModel)]="libro.ans30Page28" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" placeholder="Answer"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>