<div>
    <div class="row">

        <div class="col-md-12">
            <h1><span class="badge bg-warning my-2">Class 3</span></h1>

        </div>
        <div class="col-md-6">
            <h3 class="text-center">Greeting #3</h3>
        </div>
        <div class="col-md-6 mt-1">
            <p>
                A. Hey, What's up ?
            </p>
            <input type="text" name="ans1page12" [(ngModel)]="libro.ans1Page12" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" placeholder="Answer" class="form-control mb-2">
            <span class="badge bg-info mx-1"> Not Much  </span>
            <span class="badge bg-info mx-1"> Hanging in there</span>
            <span class="badge bg-info mx-1"> Not bad </span>
            <span class="badge bg-info mx-1"> I'm alright </span>
            <span class="badge bg-info mx-1"> Chilling </span>
            <p>
                What about you?
            </p>
        </div>
        <div class="col-md-6">
            <h4>ROLEPLAY</h4>
            <ul>
                <strong class="center">ODAIBA COFFEE SHOP </strong>

                <li><b>A:</b> Welcome to Odaiba Coffee How may I help you?</li>
                <li><b>B:</b> I would like a café latte and a chocolate cookie.</li>
                <li><b>A:</b> We have two kinds of cookies: soft and crunchy.</li>
                <li><b>B:</b> I’d like a soft, chocolate cookie please.</li>
                <li><b>A:</b> Okay. For here or to go?</li>
                <li><b>B:</b> For here please. What are those white things over there?</li>
                <li><b>A:</b> Those are peppermints. They are sweet. </li>
                <li><b>B:</b> I’d like three please. </li>
                <li><b>A:</b> Alright, your total is 5.00.</li>
                <li><b>B:</b> Here you are</li>
                <li><b>A:</b> Thank you. Here you are.</li>
            </ul>
        </div>
        <div class="col-md-6 fa-border">
            <h5 class="center"> ODAIBA COFFEE MENU</h5>
            <div class="row m-2">
                <div class="col-md-3 col-4 p-2 fa-border">
                    <span>Cafe Latte</span>
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg10_libroA1.png?alt=media&token=fe01761f-5f57-4cbc-adab-77471165152a" alt="">
                    <strong>$1.00</strong>
                </div>
                <div class="col-md-3 col-4 p-2 fa-border">
                    <span>Coffee</span>
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg11_libroA1.png?alt=media&token=f2e16bc7-5617-4e05-bce4-df5a562cc222" alt="">
                    <strong>$1.00</strong>
                </div>
                <div class="col-md-3 col-4 p-2 fa-border">
                    <span>Juice</span>
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg12_libroA1.png?alt=media&token=57e0ed14-3272-4044-ba8d-c4fa2f7cde8b" alt="">
                    <strong>$1.00</strong>
                </div>
                <div class="col-md-3 col-4 p-2 fa-border">
                    <span>Water</span>
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg13_libroA1.png?alt=media&token=e70c7ad2-fa53-4133-80f8-180191a351b4" alt="">
                    <strong>$1.00</strong>
                </div>
                <div class="col-md-3 col-4 p-2 fa-border">
                    <span>Peppermints</span>
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg14_libroA1.png?alt=media&token=dfc4304d-c9ab-49c3-a922-402ff305c87e" alt="">
                    <strong>$1.00</strong>
                </div>
                <div class="col-md-3 col-4 p-2 fa-border">
                    <span>Chocolate Cookies</span>
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg15_libroA1.png?alt=media&token=78409532-73e5-49f2-bd52-2058c18ed1fb" alt="">
                    <strong>$1.00</strong>
                </div>
                <div class="col-md-3 col-4 p-2 fa-border">
                    <span>Baklava</span>
                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/ImgLibro1%2Fimg16_libroA1.png?alt=media&token=5f9a1f69-a8df-48c3-bd4c-f1b2deb44ab5" alt="">
                    <strong>$1.00</strong>
                </div>
            </div>
        </div>
    </div>
</div>