.bordeLibro{
    box-shadow: 5px 5px 5px 5px #aaaaaa;
    position: relative;

}
.item1{
    position: absolute;
    top: 16%;
    left: 20%;
}
.item2{
    position: absolute;
    top: 16%;
    left:90%;
}
.item3{
    position: absolute;
    top: 22.5%;
    left:20%;
}
.item4{
    position: absolute;
    top: 22.5%;
    left:90%;
}
.item5{
    position: absolute;
    top: 29%;
    left: 20%;
}
.item6{
    position: absolute;
    top: 29%;
    left: 90%;
}
.item7{
    position: absolute;
    top: 35%;
    left: 20%;
}
.item8{
    position: absolute;
    top: 35%;
    left: 90%;
}
.item9{
    position: absolute;
    top: 41%;
    left: 20%;
}
.item10{
    position: absolute;
    top: 41%;
    left: 90%;
}
.item11{
    position: absolute;
    top: 48%;
    left: 20%;
}
.item12{
    position: absolute;
    top: 48%;
    left: 90%;
}
.item13{
    position: absolute;
    top: 55.5%;
    left: 20%;
}
.item14{
    position: absolute;
    top: 55.5%;
    left: 90%;
}
.item15{
    position: absolute;
    top: 63.5%;
    left: 20%;
}
.item16{
    position: absolute;
    top: 63.5%;
    left: 90%;
}