<div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-16.jpg?alt=media&token=174046a7-fe61-4a53-96f4-f01bb93b292f"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>9.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value=" What do you drink when you go out?"
              id=""
              disabled
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans1Page47"
              [(ngModel)]="libro.ans1Page47"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-17.jpg?alt=media&token=c3a58ebb-507b-4cd0-824e-2d8eb50ae4ee"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>10.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What do you wear when you go out?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans2Page47"
              [(ngModel)]="libro.ans2Page47"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-18.jpg?alt=media&token=7a3d879a-afae-4d2a-9e47-a5a4ee0aeecb"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>11.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="Who does your sister call on Friday?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans3Page47"
              [(ngModel)]="libro.ans3Page47"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-19.PNG?alt=media&token=629eed98-2aed-4da9-a2e2-19a3b39374b7"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>12.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="Where do you go on the weekend?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans4Page47"
              [(ngModel)]="libro.ans4Page47"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-20.jpg?alt=media&token=301b2179-c445-45fd-abd1-83a343698846"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>13.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What time do you have lunch?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans5Page47"
              [(ngModel)]="libro.ans5Page47"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F8-21.jpg?alt=media&token=25cfdc46-a30c-4458-a0df-3d220b65020f"
              class="img-fluid rounded card border-info w-75"
              alt="img"
            />
          </div>
          <h5>14.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="When do you visit your grandmother?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans6Page47"
              [(ngModel)]="libro.ans6Page47"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
