<div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-center"><span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> AVERY OUTGOING PERSON</h5>
            <br>
            <p class="justify">Alice is a very outgoing person. She spends a lot of time with her friends. She goes to parties. She goes to movies, and she goes to concerts. She's very popular. She also likes sports very much. She plays basketball. She plays baseball, and
                she plays volleyball. She's very athletic.</p>
            <p class="justify">Alice doesn't stay home alone very often. She doesn't read many books, she doesn't watch TV, and she doesn't listen to music. She's very active.</p>
            <p class="justify">As you can see, Alice is a very outgoing person.</p>
            <br>
            <strong>A VERY SHY PERSON</strong>
            <p class="justify">Using the story about Alice as a model, tell a story about Sheldon. Begin your story: Sheldon is a very shy person. He doesn't spend a lot of time with his friends. He doesn't go...</p>
            <br>
            <strong>INTERVIEW</strong>
            <p class="justify">Interview another student, then tell the class about yourself and other student. Interview another student. Then tell the class about yourself and other student. First answer these questions about yourself. Next, interview another student.
                Then, tell the class about yourself and the other student.</p>

        </div>
        <div class="col-md-6">
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> <strong> Listens</strong>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <strong>1. What kind of movies do you like?</strong>
                    <input type="text" class="form-control" placeholder="Answer" name="" id="">
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
                </div>
                <hr>
                <div class="col-md-6">
                    <strong>Who’s your favourite movies Star?</strong>
                    <input type="text" class="form-control" placeholder="Answer" name="" id="">
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
                </div>
                <div class="col-md-6">
                    <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
                </div>
            </div>
        </div>
    </div>
</div>