<div>
    <div class="row">
        <div class="col-md-6">
            <h3>1. Check your understanding: multiple choice</h3>
            <h6>Circle the best answer to these questions.</h6>
            <hr>
            <ol>
                <li><strong> The teacher wants the students to ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q1-p32-la1" id="q1-p32-la1-o1" value="q1-p32-la1-o1" [checked]="libro['q1-p32-la1']==='q1-p32-la1-o1'" [(ngModel)]="libro['q1-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q1-p32-la1-o1">
            a. take notes after she has finished speaking.
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q1-p32-la1" id="q1-p32-la1-o2" value="q1-p32-la1-o2" [checked]="libro['q1-p32-la1']==='q1-p32-la1-o2'" [(ngModel)]="libro['q1-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q1-p32-la1-o2">
                b. take notes while she is speaking.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q1-p32-la1" id="q1-p32-la1-o3" value="q1-p32-la1-o3" [checked]="libro['q1-p32-la1']==='q1-p32-la1-o3'" [(ngModel)]="libro['q1-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q1-p32-la1-o3">
                c. forget about taking notes.
            </label>
                    </div>
                </li>
                <li><strong> The teacher suggests eating ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q2-p32-la1" id="q2-p32-la1-o1" value="q2-p32-la1-o1" [checked]="libro['q2-p32-la1']==='q2-p32-la1-o1'" [(ngModel)]="libro['q2-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q2-p32-la1-o1">
            a. sugary snacks.
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q2-p32-la1" id="q2-p32-la1-o2" value="q2-p32-la1-o2" [checked]="libro['q2-p32-la1']==='q2-p32-la1-o2'" [(ngModel)]="libro['q2-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q2-p32-la1-o2">
                b. only apples.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q2-p32-la1" id="q2-p32-la1-o3" value="q2-p32-la1-o3" [checked]="libro['q2-p32-la1']==='q2-p32-la1-o3'" [(ngModel)]="libro['q2-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q2-p32-la1-o3">
                c. fruit and cereals.
            </label>
                    </div>
                </li>
                <li><strong> The twacher suggests finding a study place with a lot of ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q3-p32-la1" id="q3-p32-la1-o1" value="q3-p32-la1-o1" [checked]="libro['q3-p32-la1']==='q3-p32-la1-o1'" [(ngModel)]="libro['q3-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q3-p32-la1-o1">
            a. light.
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q3-p32-la1" id="q3-p32-la1-o2" value="q3-p32-la1-o2" [checked]="libro['q3-p32-la1']==='q3-p32-la1-o2'" [(ngModel)]="libro['q3-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q3-p32-la1-o2">
                b. space.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q3-p32-la1" id="q3-p32-la1-o3" value="q3-p32-la1-o3" [checked]="libro['q3-p32-la1']==='q3-p32-la1-o3'" [(ngModel)]="libro['q3-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q3-p32-la1-o3">
                c. books.
            </label>
                    </div>
                </li>
                <li><strong> If students feel stressed they should ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q4-p32-la1" id="q4-p32-la1-o1" value="q4-p32-la1-o1" [checked]="libro['q4-p32-la1']==='q4-p32-la1-o1'" [(ngModel)]="libro['q4-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q4-p32-la1-o1">
            a. go to bed.
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q4-p32-la1" id="q4-p32-la1-o2" value="q4-p32-la1-o2" [checked]="libro['q4-p32-la1']==='q4-p32-la1-o2'" [(ngModel)]="libro['q4-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q4-p32-la1-o2">
                b. go out for a walk.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q4-p32-la1" id="q4-p32-la1-o3" value="q4-p32-la1-o3" [checked]="libro['q4-p32-la1']==='q4-p32-la1-o3'" [(ngModel)]="libro['q4-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q4-p32-la1-o3">
                c. drink some water.
            </label>
                    </div>
                </li>

            </ol>
        </div>
        <div class="col-md-6">
            <ul>
                <li><strong> 5. Students are advised to ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q5-p32-la1" id="q5-p32-la1-o1" value="q5-p32-la1-o1" [checked]="libro['q5-p32-la1']==='q5-p32-la1-o1'" [(ngModel)]="libro['q5-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q5-p32-la1-o1">
            a. Select the important things to learn.
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q5-p32-la1" id="q5-p32-la1-o2" value="q5-p32-la1-o2" [checked]="libro['q5-p32-la1']==='q5-p32-la1-o2'" [(ngModel)]="libro['q5-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q5-p32-la1-o2">
                b. read through everything once.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q5-p32-la1" id="q5-p32-la1-o3" value="q5-p32-la1-o3" [checked]="libro['q5-p32-la1']==='q5-p32-la1-o3'" [(ngModel)]="libro['q5-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q5-p32-la1-o3">
                c. make notes about every topic.
            </label>
                    </div>
                </li>
                <li><strong> 6. The teacher understands that repeating things can be ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q6-p32-la1" id="q6-p32-la1-o1" value="q6-p32-la1-o1" [checked]="libro['q6-p32-la1']==='q6-p32-la1-o1'" [(ngModel)]="libro['q6-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q6-p32-la1-o1">
            a. difficult .
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q6-p32-la1" id="q6-p32-la1-o2" value="q6-p32-la1-o2" [checked]="libro['q6-p32-la1']==='q6-p32-la1-o2'" [(ngModel)]="libro['q6-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q6-p32-la1-o2">
                b. uninteresting.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q6-p32-la1" id="q6-p32-la1-o3" value="q6-p32-la1-o3" [checked]="libro['q6-p32-la1']==='q6-p32-la1-o3'" [(ngModel)]="libro['q6-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q6-p32-la1-o3">
                c. tiring.
            </label>
                    </div>
                </li>
                <li><strong>7. Students can do past exam papers ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q7-p32-la1" id="q7-p32-la1-o1" value="q7-p32-la1-o1" [checked]="libro['q7-p32-la1']==='q7-p32-la1-o1'" [(ngModel)]="libro['q7-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q7-p32-la1-o1">
            a. in the library only.
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q7-p32-la1" id="q7-p32-la1-o2" value="q7-p32-la1-o2" [checked]="libro['q7-p32-la1']==='q7-p32-la1-o2'" [(ngModel)]="libro['q7-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q7-p32-la1-o2">
                b. at home if they take photocopies.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q7-p32-la1" id="q7-p32-la1-o3" value="q7-p32-la1-o3" [checked]="libro['q7-p32-la1']==='q7-p32-la1-o3'" [(ngModel)]="libro['q7-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q7-p32-la1-o3">
                c. in the after-school study group.
            </label>
                    </div>
                </li>
                <li><strong> 8. The teacher recommends a break of five minutes every ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q8-p32-la1" id="q8-p32-la1-o1" value="q8-p32-la1-o1" [checked]="libro['q8-p32-la1']==='q8-p32-la1-o1'" [(ngModel)]="libro['q8-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q8-p32-la1-o1">
            a. hour.
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q8-p32-la1" id="q8-p32-la1-o2" value="q8-p32-la1-o2" [checked]="libro['q8-p32-la1']==='q8-p32-la1-o2'" [(ngModel)]="libro['q8-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q8-p32-la1-o2">
                b. two hours.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q8-p32-la1" id="q8-p32-la1-o3" value="q8-p32-la1-o3" [checked]="libro['q8-p32-la1']==='q8-p32-la1-o3'" [(ngModel)]="libro['q8-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q8-p32-la1-o3">
                c. thirty minutes.
            </label>
                    </div>
                </li>
                <li><strong> 9. It's important to ...</strong>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q9-p32-la1" id="q9-p32-la1-o1" value="q9-p32-la1-o1" [checked]="libro['q9-p32-la1']==='q9-p32-la1-o1'" [(ngModel)]="libro['q9-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q9-p32-la1-o1">
            a. eat regularly.
        </label>
                    </div>


                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q9-p32-la1" id="q9-p32-la1-o2" value="q9-p32-la1-o2" [checked]="libro['q9-p32-la1']==='q9-p32-la1-o2'" [(ngModel)]="libro['q9-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q9-p32-la1-o2">
                b. sleep when you feel tired.
            </label>
                    </div>

                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="q9-p32-la1" id="q9-p32-la1-o3" value="q9-p32-la1-o3" [checked]="libro['q9-p32-la1']==='q9-p32-la1-o3'" [(ngModel)]="libro['q9-p32-la1']" (change)="guardarInfo()">
                        <label class="form-check-label" for="q9-p32-la1-o3">
                c. keep hydrated.
            </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>