<div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="center">workshop</h5>

        </div>
        <div class="col-md-6">
            <ol>
                <li>
                    In reading this passage, we learn that fruit flies: <br>

                    <small> <b>• I. </b> die immediately after they lay their eggs <br><b>• II.</b> can grow into adults after only 8 days <br><b>• III.</b> are mostly harmless</small>
                    <ul class="list-may">
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p62-l3" id="q1-p62-l3-o1" value="q1-p62-l3-o1" [checked]="libro['q1-p62-l3']==='q1-p62-l3-o1'" [(ngModel)]="libro['q1-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q1-p62-l3-o1">
                                     I only 
                            </label>
                            </div>
                        </li>
                        <li>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p62-l3" id="q1-p62-l3-o2" value="q1-p62-l3-o2" [checked]="libro['q1-p62-l3']==='q1-p62-l3-o2'" [(ngModel)]="libro['q1-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q1-p62-l3-o2">
                                     I and II only 
                                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p62-l3" id="q1-p62-l3-o3" value="q1-p62-l3-o3" [checked]="libro['q1-p62-l3']==='q1-p62-l3-o3'" [(ngModel)]="libro['q1-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q1-p62-l3-o3">
                                 II and III only
                            </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q1-p62-l3" id="q1-p62-l3-o4" value="q1-p62-l3-o4" [checked]="libro['q1-p62-l3']==='q1-p62-l3-o4'" [(ngModel)]="libro['q1-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q1-p62-l3-o4">
                                 I, II, and III
                            </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    As used in paragraph 3, a nuisance is something that: <br>


                    <ul class="list-may">
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p62-l3" id="q2-p62-l3-o1" value="q2-p62-l3-o1" [checked]="libro['q2-p62-l3']==='q2-p62-l3-o1'" [(ngModel)]="libro['q2-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q2-p62-l3-o1">
                                    bothers you  
                            </label>
                            </div>
                        </li>
                        <li>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p62-l3" id="q2-p62-l3-o2" value="q2-p62-l3-o2" [checked]="libro['q2-p62-l3']==='q2-p62-l3-o2'" [(ngModel)]="libro['q2-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q2-p62-l3-o2">
                                    can be dangerous
                                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p62-l3" id="q2-p62-l3-o3" value="q2-p62-l3-o3" [checked]="libro['q2-p62-l3']==='q2-p62-l3-o3'" [(ngModel)]="libro['q2-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q2-p62-l3-o3">
                                    grows fast 
                            </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q2-p62-l3" id="q2-p62-l3-o4" value="q2-p62-l3-o4" [checked]="libro['q2-p62-l3']==='q2-p62-l3-o4'" [(ngModel)]="libro['q2-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q2-p62-l3-o4">
                                    is very small 
                            </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    According to the passage, why should you not use pesticide spray to kill fruit flies?


                    <ul class="list-may">
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p62-l3" id="q3-p62-l3-o1" value="q3-p62-l3-o1" [checked]="libro['q3-p62-l3']==='q3-p62-l3-o1'" [(ngModel)]="libro['q3-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q3-p62-l3-o1">
                                    most sprays do not actually kill all of the fruit flies 
                            </label>
                            </div>
                        </li>
                        <li>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p62-l3" id="q3-p62-l3-o2" value="q3-p62-l3-o2" [checked]="libro['q3-p62-l3']==='q3-p62-l3-o2'" [(ngModel)]="libro['q3-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q3-p62-l3-o2">
                                    buying sprays can get expensive if you need to use a lot of them
                                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p62-l3" id="q3-p62-l3-o3" value="q3-p62-l3-o3" [checked]="libro['q3-p62-l3']==='q3-p62-l3-o3'" [(ngModel)]="libro['q3-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q3-p62-l3-o3">
                                    the sprays take too much time to work 
                            </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q3-p62-l3" id="q3-p62-l3-o4" value="q3-p62-l3-o4" [checked]="libro['q3-p62-l3']==='q3-p62-l3-o4'" [(ngModel)]="libro['q3-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q3-p62-l3-o4">
                                    it can be dangerous to use them in your kitchen
                            </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    Based on the information in the penultimate (next-to-last) paragraph, we can understand that the author thinks that:


                    <ul class="list-may">
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p62-l3" id="q4-p62-l3-o1" value="q4-p62-l3-o1" [checked]="libro['q4-p62-l3']==='q4-p62-l3-o1'" [(ngModel)]="libro['q4-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q4-p62-l3-o1">
                                    some people do not mind having fruit flies in their house 
                            </label>
                            </div>
                        </li>
                        <li>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p62-l3" id="q4-p62-l3-o2" value="q4-p62-l3-o2" [checked]="libro['q4-p62-l3']==='q4-p62-l3-o2'" [(ngModel)]="libro['q4-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q4-p62-l3-o2">
                                    some people do not like killing insects
                                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p62-l3" id="q4-p62-l3-o3" value="q4-p62-l3-o3" [checked]="libro['q4-p62-l3']==='q4-p62-l3-o3'" [(ngModel)]="libro['q4-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q4-p62-l3-o3">
                                    fruit flies do not like vinegar  
                            </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p62-l3" id="q4-p62-l3-o4" value="q4-p62-l3-o4" [checked]="libro['q4-p62-l3']==='q4-p62-l3-o4'" [(ngModel)]="libro['q4-p62-l3']" (change)="guardarInfo()">
                                <label class="form-check-label" for="q4-p62-l3-o4">
                                    making a fruit fly trap can be difficult 
                            </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <ol start="5">
                <li>
                    Imagine you had a fruit fly outbreak in your kitchen. What would you do to handle the situation? Would you take the advice offered in the passage? Why or why not?

                    <textarea name="ans1page63" [(ngModel)]="libro.ans1Page63" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" cols="30" rows="5" placeholder="Answer"></textarea>
                    <li>How would you react if you only saw one fruit fly in your house? Would you take the same action you described in question five, or would you behave differently? Why?
                        <textarea name="ans2page63" [(ngModel)]="libro.ans2Page63" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" cols="30" rows="5" placeholder="Answer"></textarea></li>
                    <li>Do you think the advice offered by the author of this passage can also help you protect your kitchen from other bugs, such as roaches? Why or why not? Explain your inference.
                        <textarea name="ans3page63" [(ngModel)]="libro.ans3Page63" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="" class="form-control" cols="30" rows="5" placeholder="Answer"></textarea></li>
            </ol>
        </div>
    </div>
</div>