<div>
  <div class="row">
    <div class="col-md-12">
      <h6 class="text-white center verde2 my-2">ACTIVITY 4.5</h6>
      <h5>Circle the best adjective or adverb.</h5>
    </div>
    <div class="col-md-12">
      <ol>
        <li>
          Dr. Brown
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q1-p20-l4"
              id="q1-p20-l4-o1"
              value="q1-p20-l4-o1"
              [checked]="libro['q1-p20-l4'] === 'q1-p20-l4-o1'"
              [(ngModel)]="libro['q1-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q1-p20-l4-o1"
              >Careful</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q1-p20-l4"
              id="q1-p20-l4-o2"
              value="q1-p20-l4-o2"
              [checked]="libro['q1-p20-l4'] === 'q1-p20-l4-o2'"
              [(ngModel)]="libro['q1-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q1-p20-l4-o2"
              >Carefully</label
            >
          </div>
          is a dentist. He cleans teeth very
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q2-p20-l4"
              id="q2-p20-l4-o1"
              value="q2-p20-l4-o1"
              [checked]="libro['q2-p20-l4'] === 'q2-p20-l4-o1'"
              [(ngModel)]="libro['q2-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q2-p20-l4-o1"
              >Careful</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q2-p20-l4"
              id="q2-p20-l4-o2"
              value="q2-p20-l4-o2"
              [checked]="libro['q2-p20-l4'] === 'q2-p20-l4-o2'"
              [(ngModel)]="libro['q2-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q2-p20-l4-o2"
              >carefully</label
            >
          </div>
        </li>
        <li>
          We play golf
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q3-p20-l4"
              id="q3-p20-l4-o1"
              value="q3-p20-l4-o1"
              [checked]="libro['q3-p20-l4'] === 'q3-p20-l4-o1'"
              [(ngModel)]="libro['q3-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q3-p20-l4-o1"
              >terrible</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q3-p20-l4"
              id="q3-p20-l4-o2"
              value="q3-p20-l4-o2"
              [checked]="libro['q3-p20-l4'] === 'q3-p20-l4-o2'"
              [(ngModel)]="libro['q3-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q3-p20-l4-o2"
              >terribly</label
            >
          </div>
          , but we’re
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q4-p20-l4"
              id="q4-p20-l4-o1"
              value="q4-p20-l4-o1"
              [checked]="libro['q4-p20-l4'] === 'q4-p20-l4-o1'"
              [(ngModel)]="libro['q4-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q4-p20-l4-o1"
              >good</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q4-p20-l4"
              id="q4-p20-l4-o2"
              value="q4-p20-l4-o2"
              [checked]="libro['q4-p20-l4'] === 'q4-p20-l4-o2'"
              [(ngModel)]="libro['q4-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q4-p20-l4-o2"
              >well</label
            >
          </div>
          soccer players
        </li>
        <li>
          Mark dances
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q5-p20-l4"
              id="q5-p20-l4-o1"
              value="q5-p20-l4-o1"
              [checked]="libro['q5-p20-l4'] === 'q5-p20-l4-o1'"
              [(ngModel)]="libro['q5-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q5-p20-l4-o1"
              >beautiful</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q5-p20-l4"
              id="q5-p20-l4-o2"
              value="q5-p20-l4-o2"
              [checked]="libro['q5-p20-l4'] === 'q5-p20-l4-o2'"
              [(ngModel)]="libro['q5-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q5-p20-l4-o2"
              >beautifully</label
            >
          </div>
          . He’s very
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q6-p20-l4"
              id="q6-p20-l4-o1"
              value="q6-p20-l4-o1"
              [checked]="libro['q6-p20-l4'] === 'q6-p20-l4-o1'"
              [(ngModel)]="libro['q6-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q6-p20-l4-o1"
              >graceful</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q6-p20-l4"
              id="q6-p20-l4-o2"
              value="q6-p20-l4-o2"
              [checked]="libro['q6-p20-l4'] === 'q6-p20-l4-o2'"
              [(ngModel)]="libro['q6-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q6-p20-l4-o2"
              >gracefully</label
            >
          </div>
        </li>
        <li>
          Richard isn’t a very
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q7-p20-l4"
              id="q7-p20-l4-o1"
              value="q7-p20-l4-o1"
              [checked]="libro['q7-p20-l4'] === 'q7-p20-l4-o1'"
              [(ngModel)]="libro['q7-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q7-p20-l4-o1"
              >good</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q7-p20-l4"
              id="q7-p20-l4-o2"
              value="q7-p20-l4-o2"
              [checked]="libro['q7-p20-l4'] === 'q7-p20-l4-o2'"
              [(ngModel)]="libro['q7-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q7-p20-l4-o2"
              >well</label
            >
          </div>
          driver. He drives very
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q8-p20-l4"
              id="q8-p20-l4-o1"
              value="q8-p20-l4-o1"
              [checked]="libro['q8-p20-l4'] === 'q8-p20-l4-o1'"
              [(ngModel)]="libro['q8-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q8-p20-l4-o1"
              >fast</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q8-p20-l4"
              id="q8-p20-l4-o2"
              value="q8-p20-l4-o2"
              [checked]="libro['q8-p20-l4'] === 'q8-p20-l4-o2'"
              [(ngModel)]="libro['q8-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q8-p20-l4-o2"
              >fastly</label
            >
          </div>
        </li>
        <li>
          I usually skate
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q9-p20-l4"
              id="q9-p20-l4-o1"
              value="q9-p20-l4-o1"
              [checked]="libro['q9-p20-l4'] === 'q9-p20-l4-o1'"
              [(ngModel)]="libro['q9-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q9-p20-l4-o1"
              >safe</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q9-p20-l4"
              id="q9-p20-l4-o2"
              value="q9-p20-l4-o2"
              [checked]="libro['q9-p20-l4'] === 'q9-p20-l4-o2'"
              [(ngModel)]="libro['q9-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q9-p20-l4-o2"
              >safely</label
            >
          </div>
          , but I was very
          <div
            class="btn-group m-1"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="q10-p20-l4"
              id="q10-p20-l4-o1"
              value="q10-p20-l4-o1"
              [checked]="libro['q10-p20-l4'] === 'q10-p20-l4-o1'"
              [(ngModel)]="libro['q10-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q10-p20-l4-o1"
              >careless</label
            >

            <input
              type="radio"
              class="btn-check"
              name="q10-p20-l4"
              id="q10-p20-l4-o2"
              value="q10-p20-l4-o2"
              [checked]="libro['q10-p20-l4'] === 'q10-p20-l4-o2'"
              [(ngModel)]="libro['q10-p20-l4']"
              (change)="guardarInfo()"
            />
            <label class="btn btn-outline-primary" for="q10-p20-l4-o2"
              >carelessly</label
            >
          </div>
          yesterday
        </li>
      </ol>
    </div>
  </div>
</div>
