<div>
    <div class="row">

        <div class="col-md-12 mb-4">
            <h3 class="center mb-4">Alternate Phrases</h3>
            <div class="row">
                <div class="col-6"><b>I would like…. <br>I want…..</b></div>
                <div class="col-6"><b>More polite</b></div>

                <hr>
                <div class="col-6"><b>Get me……</b></div>
                <div class="col-6"><b>Less polite</b></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-info m-3">
                <div class="card-body">
                    <p class="car-text">Ask for a café latte very politely. <br><b>Situation:</b> At a fancy restaurant</p>
                </div>
            </div>

            <div class="card border-info m-3">
                <div class="card-body">
                    <p class="car-text">Ask for a Baklava less politely. <br> <b> Situation:</b> At a fast food restaurant</p>
                </div>
            </div>
            <div class="card border-info m-3">
                <div class="card-body">
                    <p class="car-text">Ask for some water using “I want….” <br> <b>Situation: </b>At a family restaurant</p>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <h3 class="center">SPEAKING ACTIVITY (Your Roleplay)</h3>
            <ol>
                <li class="mt-2"> You are at Odaiba coffee. Order some food.The waiter brings you the wrong food. Please tell the waiter your problem and request. </li>
                <li class="mt-2"> Order some food. The waiter brings you some burnt food. Please ask the waiter to bring you more food. Use less polite language. </li>
                <li class="mt-2"> You spilled your juice on your new shirt. Please tell the waiter to bring you a new drink. </li>
                <li class="mt-2"> You ordered food but you forgot your wallet. Please tell the waiter that you can’t pay for dinner. </li>
                <li class="mt-2"> It is your best friend’s first time to eat dinner in your country. Please offer to pay for him or her </li>
            </ol>
        </div>
    </div>
</div>