.bordeLibro{
    box-shadow: 5px 5px 5px 5px #635f5f;
}
.flecha-arriba{
    font-size: 250%;
    position: absolute;
    left: 85%;
    top: 80%;
    color: rgb(70, 133, 250);
    }
.pagina{
    position: relative;
    padding-top: 15%;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 6%;
}

.unidad{
    position: relative;
    padding-bottom: 6%;
}
.paginacion{
    position: absolute;
    top: 95.5%;
    left: 85%;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color:  rgba(206, 37, 51, 0.479) !important;
 }
/************************************************/
/********************Portada**********************/
/************************************************/
/************************************************/

.item1-p-l2{
    position: absolute;
    top: 3%;
    left: 35%;
    font-size: 200%;
    font-weight: bold;
    color: white;
}
.item2-p-l2{
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 85%;
    font-weight: bold;
    width: 90%;
    background-color: white;
}


/************************************************/
/********************Page 1**********************/
/************************************************/
/************************************************/
.item1-p1-l2{
    position: absolute;
      top:0%;
      left: 10%;
      font-weight: bold;
      font-size: 250%;  
      color: white;
}
.item2-p1-l2{
    position: absolute;
    top: 8%;
    left: 35%;
    font-weight: bold;
}
.item3-p1-l2{
    position: absolute;
    top: 13.5%;
    left: 10%;
    font-weight: bold;
}

.item4-p1-l2{
    position: absolute;
    top: 13.5%;
    left: 32.5%;
    font-weight: bold;
}

.item5-p1-l2{
    position: absolute;
    top: 13.5%;
    left: 56.5%;
    font-weight: bold;
}
.item6-p1-l2{
    position: absolute;
    top: 13.5%;
    left: 80%;
    font-weight: bold;
}	
.item7-p1-l2{
    position: absolute;
    top: 35%;
    left: 10%;
    font-weight: bold;
}
.item8-p1-l2{
    position: absolute;
    top: 35%;
    left: 32.5%;
    font-weight: bold;
}
.item9-p1-l2{
    position: absolute;
    top: 35%;
    left: 56.5%;
    font-weight: bold;
}
.item10-p1-l2{
    position: absolute;
    top: 35%;
    left: 80%;
    font-weight: bold;
}
.item11-p1-l2{
    position: absolute;
    top: 56%;
    left: 9%;
    font-weight: bold;
}
.item12-p1-l2{
    position: absolute;
    top: 56%;
    left: 32.5%;
    font-weight: bold;
}

.item13-p1-l2{
    position: absolute;
    top: 56%;
    left: 57%;
    font-weight: bold;
}

.item14-p1-l2{
    position: absolute;
    top: 56%;
    left: 79%;
    font-weight: bold;
}

.item15-p1-l2{
    position: absolute;
    top: 80%;
    left: 2%;
    font-weight: bold;
    list-style: none;
}

.item16-p1-l2{
    position: absolute;
    top: 80%;
    left: 25%;
    font-weight: bold;
    list-style: none;
}

.item17-p1-l2{
    position: absolute;
    top: 80%;
    left: 48%;
    font-weight: bold;
    list-style: none;
}

.item18-p1-l2{
    position: absolute;
    top: 80%;
    left: 70%;
    font-weight: bold;
    list-style: none;
}
/************************************************/
/********************Page 2**********************/
/************************************************/
/************************************************/
.result1-p2-l2, .result2-p2-l2, .result3-p2-l2, .result4-p2-l2, .result5-p2-l2,
.result6-p2-l2, .result7-p2-l2{
    position: absolute;

}
.item1-p2-l2{
    position: absolute;
       top: 8%;
       left: 35%;
       font-weight:  bold; 
}
.item2-p2-l2{
    position: absolute;
    top: 13%;
    left: 20%;
    font-size: 85%;
}
.item3-p2-l2{
    position: absolute;
    top: 13%;
    left: 65%;
    font-size: 85%;
}

.item4-p2-l2{
    position: absolute;
    top: 19%;
    left: 25%;
    font-size: 75%;
}

.item5-p2-l2{
    position: absolute;
    top: 22%;
    left: 16%;
    font-size: 75%;
    list-style: none;
}
.item5-p2-l2>li{
margin-bottom: -5%;
}
.item6-p2-l2{
    position: absolute;
    top: 29%;
    left: 16%;
    font-size: 75%;
    list-style: none;
}
.item6-p2-l2>li{
margin-bottom: -5%;
}
.item7-p2-l2{
    position: absolute;
    top: 19.5%;
    left: 40%;
    font-size: 75%;
}
.item8-p2-l2{
    position: absolute;
    top: 25%;
    left: 40%;
    font-size: 75%;
}
.item9-p2-l2{
    position: absolute;
    top: 31%;
    left: 40%;
    font-size: 75%;
}
.item10-p2-l2{
    position: absolute;
    top: 22%;
    left: 58%;
    font-size: 75%;
    list-style: none;
}
.item11-p2-l2{
    position: absolute;
    top: 40%;
    left: 40%;
    font-weight: bold;
}
.item12-p2-l2{
    position: absolute;
    top: 45%;
    left: 5%;
    list-style: none;
}

.item13-p2-l2{
    position: absolute;
    top: 45%;
    left: 45%;
    list-style: none;
}
/************************************************/
/********************Page 3**********************/
/************************************************/
/************************************************/
.result1-page-4, .result2-page-4, .result3-page-4, .result4-page-4, .result5-page-4,
.result6-page-4, .result7-page-4, .btn1-page-4, .btn2-page-4, .btn3-page-4, .btn4-page-4,
.btn5-page-4, .btn6-page-4, .btn7-page-4{
    position: absolute;
}
.result1-page-4{
    top: 17.5%;
    left: 18%;
}
.btn1-page-4{
    top: 16.5%;
    left: 35%;
}
.result2-page-4{
    top: 75.5%;
    left: 35.5%;
}
.btn2-page-4{
    top: 75%;
    left: 42%;
}
.result3-page-4{
    top: 80.3%;
    left: 39%;
}
.btn3-page-4{
    top: 78.5%;
    left: 45%;
}
.result4-page-4{
    top: 85%;
    left: 42%;
}
.btn4-page-4{
    top: 83%;
    left: 46%;
}
.result5-page-4{
    top: 75.5%;
    left: 73.5%;
}
.btn5-page-4{
    top: 73.8%;
    left: 79%;
}
.result6-page-4{
    top: 80.2%;
    left: 73.8%;
}
.btn6-page-4{
    top: 78%;
    left: 79%;
}
.result7-page-4{
    top: 84.8%;
    left: 63%;
}
.btn7-page-4{
    top: 84%;
    left: 72.5%;
}
/************************************************/
/********************Page 6**********************/
/************************************************/
/************************************************/
.result1-page-6, .result2-page-6, .result3-page-6, .result4-page-6, .result5-page-6,
.result6-page-6, .result7-page-6, .result8-page-6, .result9-page-6,.btn1-page-6,
.btn2-page-6, .btn3-page-6, .btn4-page-6, .btn5-page-6, .btn6-page-6, .btn7-page-6,
.btn8-page-6, .btn9-page-6{
    position: absolute;
}
.result1-page-6{
    top: 53.5%;
    left: 55.7%;
}
.btn1-page-6{
    top: 53.5%;
    left: 85%;
}
.result2-page-6{
    top: 56.7%;
    left: 55.7%;
}
.btn2-page-6{
    top: 56.7%;
    left: 85%;
}
.result3-page-6{
    top: 60.3%;
    left: 55.7%;
}
.btn3-page-6{
    top: 60.3%;
    left: 85%;
}
.result4-page-6{
    top: 63.5%;
    left: 55.7%;
}
.btn4-page-6{
    top: 63.5%;
    left: 85%;
}
.result5-page-6{
    top: 67%;
    left: 55.7%;
}
.btn5-page-6{
    top: 67%;
    left: 85%;
}
.result6-page-6{
    top: 70.5%;
    left: 55.7%;
}
.btn6-page-6{
    top: 70.5%;
    left: 85%;
}
.result7-page-6{
    top: 76%;
    left: 55.7%;
}
.btn7-page-6{
    top: 76%;
    left: 85%;
}
.result8-page-6{
    top: 79%;
    left: 55.7%;
}
.btn8-page-6{
    top: 79%;
    left: 85%;
}
.result9-page-6{
    top: 82.5%;
    left: 55.7%;
}
.btn9-page-6{
    top: 82.5%;
    left: 85%;
}