@media screen and (max-width: 1920px){
    /************************************************/
    /********************Page 2**********************/
    /************************************************/
    /************************************************/
    .btn1-page-2, .btn2-page-2, .btn3-page-2, .btn4-page-2, .btn5-page-2, .btn6-page-2, .btn7-page-2,
    .btn8-page-2, .btn9-page-2, .btn10-page-2, .btn11-page-2, .btn12-page-2, .btn13-page-2{
        font-size: 18px;
    }
    .result1-page-2, .result2-page-2, .result3-page-2, .result4-page-2, .result5-page-2,
    .result6-page-2, .result7-page-2, .result8-page-2, .result9-page-2, .result10-page-2,
    .result11-page-2, .result12-page-2, .result13-page-2{
        font-size: 17px;
    }
    /************************************************/
    /********************Page 3**********************/
    /************************************************/
    /************************************************/
    .btn1-page-3, .btn2-page-3, .btn3-page-3, .btn4-page-3, .btn5-page-3, .btn6-page-3, .btn7-page-3,
    .btn8-page-3, .btn9-page-3, .btn10-page-3, .btn11-page-3{
        font-size: 18px;
    }
    .result1-page-3, .result2-page-3, .result3-page-3, .result4-page-3, .result5-page-3,
    .result6-page-3, .result7-page-3, .result8-page-3, .result9-page-3, .result10-page-3,
    .result11-page-3{
        font-size: 17px;
    }
    /************************************************/
    /********************Page 4**********************/
    /************************************************/
    /************************************************/
    .btn1-page-4, .btn2-page-4, .btn3-page-4, .btn4-page-4, .btn5-page-4, .btn6-page-4, .btn7-page-4{
        font-size: 18px;
    }
    .result1-page-4, .result2-page-4, .result3-page-4, .result4-page-4, .result5-page-4, .result6-page-4,
    .result7-page-4{
        font-size: 17px;
    }
    /************************************************/
    /********************Page 6**********************/
    /************************************************/
    /************************************************/
    .btn1-page-6, .btn2-page-6, .btn3-page-6, .btn4-page-6, .btn5-page-6, .btn6-page-6, .btn7-page-6,
    .btn8-page-6, .btn9-page-6{
        font-size: 18px;
    }
    .result1-page-6, .result2-page-6, .result3-page-6, .result4-page-6, .result5-page-6,
    .result6-page-6, .result7-page-6, .result8-page-6, .result9-page-6{
        font-size: 17px;
    }
}
@media screen and (max-width: 1366px){
    /************************************************/
    /********************Page 2**********************/
    /************************************************/
    /************************************************/
    .btn1-page-2, .btn2-page-2, .btn3-page-2, .btn4-page-2, .btn5-page-2, .btn6-page-2, .btn7-page-2,
    .btn8-page-2, .btn9-page-2, .btn10-page-2, .btn11-page-2, .btn12-page-2, .btn13-page-2{
        font-size: 90%;
    }   
    .result1-page-2, .result2-page-2, .result3-page-2, .result4-page-2, .result5-page-2,
    .result6-page-2, .result7-page-2, .result8-page-2, .result9-page-2, .result10-page-2,
    .result11-page-2, .result12-page-2, .result13-page-2{
        font-size: 13px;
    }
    /************************************************/
    /********************Page 3**********************/
    /************************************************/
    /************************************************/
    .btn1-page-3, .btn2-page-3, .btn3-page-3, .btn4-page-3, .btn5-page-3, .btn6-page-3, .btn7-page-3,
    .btn8-page-3, .btn9-page-3, .btn10-page-3, .btn11-page-3{
        font-size: 90%;
    }
    .result1-page-3, .result2-page-3, .result3-page-3, .result4-page-3, .result5-page-3,
    .result6-page-3, .result7-page-3, .result8-page-3, .result9-page-3, .result10-page-3,
    .result11-page-3{
        font-size: 13px;
    }
    /************************************************/
    /********************Page 4**********************/
    /************************************************/
    /************************************************/
    .btn1-page-4, .btn2-page-4, .btn3-page-4, .btn4-page-4, .btn5-page-4, .btn6-page-4, .btn7-page-4{
        font-size: 90%;
    }
    .result1-page-4, .result2-page-4, .result3-page-4, .result4-page-4, .result5-page-4, .result6-page-4,
    .result7-page-4{
        font-size: 11px;
    }
    /************************************************/
    /********************Page 6**********************/
    /************************************************/
    /************************************************/
    .btn1-page-6, .btn2-page-6, .btn3-page-6, .btn4-page-6, .btn5-page-6, .btn6-page-6, .btn7-page-6,
    .btn8-page-6, .btn9-page-6{
        font-size: 90%;
    }
    .result1-page-6, .result2-page-6, .result3-page-6, .result4-page-6, .result5-page-6,
    .result6-page-6, .result7-page-6, .result8-page-6, .result9-page-6{
        font-size: 13px;
    }
}