@media screen and (max-width: 1920px){
    /************************************************/
/********************Page 2**********************/
/************************************************/
/************************************************/
    .btn1-page-2{
        font-size: 18px;
    }
    .result1-page-2{
        font-size: 17px;
    }
}
@media screen and (max-width: 1366px){
    .btn1-page-2{
        font-size: 14px;
    }   
    .result1-page-2{
        font-size: 13px;
    }
}