<div>
    <div class="row">
        <div class="col-md-6 table-responsive">
            <p class="italic">Read all the sentences below and guess your partner’s answers to the true or false questions. Then make questions from the statements and use them to begin a conversation with your partner.
            </p>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>1. My partner can eat with chopsticks. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q1_o" id="la1_p39_q1_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q1_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q1_o" id="la1_p39_q1_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q1_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2. My partner thinks fast food is bad for you. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q2_o" id="la1_p39_q2_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q2_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q2_o" id="la1_p39_q2_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q2_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3. My partner is a fussy eater.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q3_o" id="la1_p39_q3_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q3_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q3_o" id="la1_p39_q3_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q3_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4. My partner is addicted to chocolate. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q4_o" id="la1_p39_q4_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q4_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q4_o" id="la1_p39_q4_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q4_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5. My partner didn’t like green vegetables when s/he was a child.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q5_o" id="la1_p39_q5_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q5_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q5_o" id="la1_p39_q5_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q5_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6. My partner hates people who chew chewing gum.</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q6_o" id="la1_p39_q6_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q6_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q6_o" id="la1_p39_q6_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q6_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7. My partner is allergic to some types of food. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q7_o" id="la1_p39_q7_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q7_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q7_o" id="la1_p39_q7_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q7_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>8. My partner likes hot food. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q8_o" id="la1_p39_q8_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q8_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q8_o" id="la1_p39_q8_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q8_o2">False</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>9. My partner thinks it is wrong to eat between meals. </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q9_o" id="la1_p39_q9_o1" value="true">
                                <label class="form-check-label" for="la1_p39_q9_o1">True</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="la1_p39_q9_o" id="la1_p39_q9_o2" value="false">
                                <label class="form-check-label" for="la1_p39_q9_o2">False</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <strong>Read all the following questions then use them to begin a conversation with 
                your partner.
                </strong>
            <ol>
                <li class="my-2">Are you a vegetarian? Why/not? Would you like to be one? Why do people become vegetarians? Do you think it’s really necessary for us to eat meat?</li>
                <li class="my-2">Which famous person (living or historical) would you like to have dinner with, and why?</li>
                <li class="my-2">Who usually does the cooking in your family? Do you enjoy cooking? What’s your favorite dish?</li>
                <li class="my-2">Do you like fast food? Why/not? How often do you eat it? Why is it so popular?</li>
                <li class="my-2">Do you like eating in restaurants or do you prefer eating at home? Explain your reasons.</li>
                <li class="my-2">What kinds of food do you like? Dislike? </li>
                <li class="my-2">Do you like sweet foods? spicy foods? salty foods?</li>
                <li class="my-2">What vegetables do you eat?</li>
                <li class="my-2">What foods do you never eat?</li>
                <li class="my-2"> Have you ever eaten dog food? cat food? insects?</li>
                <li class="my-2"> What do you usually eat for breakfast?</li>
                <li class="my-2"> Do you usually eat a bento (box lunch)?</li>
                <li class="my-2"> How long before bedtime do you stop eating?</li>
                <li class="my-2"> Which fast foods do you like best? hamburgers? pizza? fried chicken?</li>

            </ol>
        </div>
    </div>
</div>