<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center">USING ADVERBS OF FREQUENCY WITH BE</h3>
        </div>
        <div class="col-md-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fcuadro%201.png?alt=media&token=7cd8eaad-a92f-47cc-9e73-66c9fea7b4c2" class="img-fluid rounded  my-2" alt="img">
        </div>
        <div class="col-md-6">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2Fcuadro%202.png?alt=media&token=aa88aaea-441c-4241-a7ea-680351793042" class="img-fluid rounded  my-2" alt="img">
        </div>
        <hr>
        <div class="col-md-12">
            <h5>DRILLS</h5>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F117.jpg?alt=media&token=94286c4a-9269-4f0d-8d1f-bcc2e4c1d6f2" class="img-fluid rounded card border-info" alt="img">
        </div>
        <div class="col-md-3 align-items-center d-flex">
            <div>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span><br>
                <strong>Teacher:</strong><br> He is always shouting.<br>
                <strong>Students:</strong><br>
                <p>He always shouts when he is angry.</p>

            </div>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F111.jpg?alt=media&token=38f3397a-d34a-4ede-9b4b-760a620f097a" class="img-fluid rounded card border-info" alt="img">
        </div>
        <div class="col-md-3 align-items-center d-flex">
            <div>
                <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span><br>
                <strong>Teacher:</strong><br> My son sometimes yawns in class.<br>
                <strong>Students:</strong><br>
                <p>He usually yawns when he is in math class.</p>

            </div>
        </div>
    </div>
</div>