<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center">USING ADVERBS OF FREQUENCY WITH BE</h3>
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-2" alt="">
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid my-2" alt="">
        </div>
        <hr>
        <div class="col-md-12">
            <h5>DRILLS</h5>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-3">
            <strong>Teacher:</strong><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span>He is always shouting.<br>
            <strong>Students:</strong><br>
            <p>He always shouts when he is angry.</p>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-3">
            <strong>Teacher:</strong><br>
            <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> My son sometimes yawns in class.<br>
            <strong>Students:</strong><br>
            <p>He usually yawns when he is in math class.</p>
        </div>
    </div>
</div>