<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">UNIT 4</span></h1>
      <h3 class="text-center">FEELINGS</h3>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-1.jpg?alt=media&token=04160298-a7c8-48c1-9b7b-61d23d3ccbb3"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a3p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F1.cry-sad.mp3?alt=media&token=c0b91f46-ffc1-45e7-a684-bd324c22cb49"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Cry- sad
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-2.jpg?alt=media&token=bee2ec69-c66a-415b-81f8-81c85be3a578"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a4p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F2.rest-tired.mp3?alt=media&token=adbeeb9f-198a-4bc5-814b-75f1c2664978"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Rest - tired
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-3.jpg?alt=media&token=d53ecbff-f54b-48b0-888b-3099b424204e"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a5p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F3.bite%20nails-nervous.mp3?alt=media&token=c4a6b874-7684-4509-85a6-23e45915053f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Bite nails - nervous
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-4.jpg?alt=media&token=c16b87d3-9667-454f-a7c1-1394fe277d6e"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a6p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F4.shout-angry.mp3?alt=media&token=fdb844e8-a958-4a8c-a3be-d591138f847f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Shout - Angry
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-5.jpg?alt=media&token=4b50d7d6-a1a0-4d95-9b15-d50d9bc30534"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a7p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F5.drink-thirsty.mp3?alt=media&token=63b323a3-67e8-4a95-853c-6ce402f8f703"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Drink - thirsty
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-6.jpg?alt=media&token=15305554-0776-4db2-83fc-76eb10de470e"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a8p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F6.perspire-worry.mp3?alt=media&token=11819e0e-67e1-4440-954b-243735136dba"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Perspire - worry
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-7.jpg?alt=media&token=a163fd7d-dfc5-4e5b-a125-514f8e6d2fc3"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a9p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F7.cough-sick.mp3?alt=media&token=cbf22265-9ba5-47c3-a409-1826c177673b"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Cough - Sick
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-8.jpg?alt=media&token=0d65a3dd-4027-47fa-ae96-e4e734fb5361"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a10p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F8.eat-hungry.mp3?alt=media&token=0325fc70-d60c-41e0-a41f-e252525315bd"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Eat - hungry
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F4-9.jpg?alt=media&token=f24d1b26-9578-4556-8e6d-ec5d06f65e29"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a11p16l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F9.blush-embarrassed.mp3?alt=media&token=6efb83f5-6684-4841-9823-399baee03ce8"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p16l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Blush - embarrassed
      </h6>
    </div>
  </div>
</div>
