<div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="center">Questions you should be able to answer from book 3</h4>
        </div>
        <div class="col-md-6">
            <ul>
                <li>1. What kind of music do you like? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>2. Where do like to go dancing? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>3. Do you have a pet? What kind of pet do you have? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>4. What time do you get up in the morning? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>5. Where do you like to go on the weekend? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>6. Do you run on Sunday? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>7. Does your mother like to dance on? What does she like to dance? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>8. Do they sing on Monday? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>9. Does he paint the house on Tuesday? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>10. What do you do every day in the morning? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>11. When do you go on vacation? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>12. How often do we eat pizza? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>13. How often do we read books? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>14. How often does your mother clean the house? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>15. How often do we watch t.v? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>16. How often does he walk in the park? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>17. Why do you study English? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>18. Why do we go to the park on Monday? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>19. Where can you go dancing here in Cali? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>20. How often does you pain the house? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>

            </ul>
        </div>
    </div>
</div>