<div>
    <div class="row">


        <div class="col-md-6">
            <h5 class="center">Questions about “home life and family life"</h5>
            <ol>
                <li class="my-1"> How many brothers and sisters do you have? </li>
                <li class="my-1"> Do you have a big house?</li>
                <li class="my-1"> <input type="text" class="form-control" placeholder="Question" name="" id=""></li>
                <li class="my-1"> <input type="text" class="form-control" placeholder="Question" name="" id=""></li>
                <li class="my-1"> <input type="text" class="form-control" placeholder="Question" name="" id=""></li>
            </ol>

        </div>
        <div class="col-md-6">
            <h5 class="center">Questions about “hobbies and interests”</h5>
            <ol>
                <li class="my-1"> Do you like to go shopping ? </li>
                <li class="my-1"> What do like to take photos of ? </li>
                <li class="my-1"> <input type="text" class="form-control" placeholder="Question" name="" id=""></li>
                <li class="my-1"> <input type="text" class="form-control" placeholder="Question" name="" id=""></li>
                <li class="my-1"> <input type="text" class="form-control" placeholder="Question" name="" id=""></li>
            </ol>

        </div>
        <div class="col-md-12">
            <h6>Hobbies and interests</h6>
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="" value="Go Shopping ">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="" value="Take photos">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-4 my-1">
            <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
    </div>
</div>