<div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"><h4 class="text-center my-3">CHAT TIME</h4></div>
        <div class="col-md-3 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-10.jpg?alt=media&token=434b83ba-c38c-488d-ae1a-28d42503948b"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>1.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value=" What is she doing?"
              id=""
              disabled
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="She's brushing her teeth"
              id=""
              disabled
            />
          </div>
        </div>

        <div class="col-md-3 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-11.jpg?alt=media&token=eed7d29b-102a-4674-8021-39bebe90d536"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>2.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What can Sara's dog do?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans1Page35"
              [(ngModel)]="libro.ans1Page35"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-12.jpg?alt=media&token=9d8044ef-bb61-4224-a3bc-ed40256a0df8"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>3.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What can Mark and Tom do?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans2Page35"
              [(ngModel)]="libro.ans2Page35"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-13.jpg?alt=media&token=b4cb02e0-7345-41cb-bb79-accd7a66aad1"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>4.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans3Page35"
              [(ngModel)]="libro.ans3Page35"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans4Page35"
              [(ngModel)]="libro.ans4Page35"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-14.jpg?alt=media&token=14a2245d-079a-4dfb-8abe-806074a1f6e3"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>5.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="Can your bother skate?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans5Page35"
              [(ngModel)]="libro.ans5Page35"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-15.jpg?alt=media&token=17d9f859-0fd4-4df0-af53-a416540307dd"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>6.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="What can´t he do?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans6Page35"
              [(ngModel)]="libro.ans6Page35"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-16.jpg?alt=media&token=b62a3d7c-b5e9-4c7a-b502-c4dc31bddd9a"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>7.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="Can she dance Tango?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              value=" No, she can't . But she can dance salsa"
              disabled
              id=""
            />
          </div>
        </div>
        <div class="col-md-3 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-17.jpg?alt=media&token=2eaf29f1-c838-4d85-93d1-8d2961dc9539"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>8.</h5>

          <div class="d-flex align-items-center">
            <strong>A. </strong>
            <input
              type="text"
              class="form-control my-1"
              value="Can your Father cook?"
              disabled
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong>
            <input
              type="text"
              class="form-control my-1"
              name="ans7Page35"
              [(ngModel)]="libro.ans7Page35"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
