<div>
    <div class="row">
        <div class="col-md-12">
            <strong>Reading Comprehension Assessment</strong>
            <p>Directions: Read the passage. Then answer the questions below</p>
            <div class="row">
                <div class="col-md-6 card border-primary my-1">
                    <div class="row">
                        <div class="col-md-6">
                            <h4> <span class="badge azul rounded-pill btn"><i class="fas fa-volume-up"></i></span> Carly's Family</h4>
                            <p>Carly has a large family. <br> She lives with four people. <br> Carly also has two pets.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/img/imagen.jpg" class="img-fluid w-75 m-2" alt="">
                        </div>
                    </div>
                    <p>
                        Carly’s mom is a doctor.<br> Carly’s mom works at the hospital.<br> Carly’s mom helps people who are sick.<br>
                        <br> Carly’s dad works at home. Carly’s dad cooks for the family. Carly’s dad drives the kids to soccer practice.<br> Carly has two brothers. James is ten years old.<br> Scott is fourteen years old.<br>
                        <br> Carly has two pets. Jinx is a small, black cat.<br> Diego is a large, brown dog.<br>
                        <br> Carly loves her family!
                    </p>
                </div>
                <div class="col-md-6 card border-primary my-1">
                    <strong class="center">Questions</strong>
                    <ol>
                        <li class="my-3">How many people are in Carly's family? <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1-p31-l3" id="q1-p31-l3-o1" value="option1">
                                <label class="form-check-label" for="q1-p31-l3-o1">
                four
            </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1-p31-l3" id="q1-p31-l3-o2" value="option2">
                                <label class="form-check-label" for="q1-p31-l3-o2">
                five
            </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1-p31-l3" id="q1-p31-l3-o3" value="option3">
                                <label class="form-check-label" for="q1-p31-l3-o3">
                six
            </label>
                            </div>

                        </li>
                        <li class="my-3">Carly's mom works at the<br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q2-p31-l3" id="q2-p31-l3-o1" value="option1">
                                <label class="form-check-label" for="q2-p31-l3-o1">
                restaurant
            </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q2-p31-l3" id="q2-p31-l3-o2" value="option2">
                                <label class="form-check-label" for="q2-p31-l3-o2">
                mall
            </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q2-p31-l3" id="q2-p31-l3-o3" value="option3">
                                <label class="form-check-label" for="q2-p31-l3-o3">
                hospital
            </label>
                            </div>

                        </li>
                        <li class="my-3">This passage is mostly about Carly's<br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q3-p31-l3" id="q3-p31-l3-o1" value="option1">
                                <label class="form-check-label" for="q3-p31-l3-o1">
                family
            </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q3-p31-l3" id="q3-p31-l3-o2" value="option2">
                                <label class="form-check-label" for="q3-p31-l3-o2">
                pets
            </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q3-p31-l3" id="q3-p31-l3-o3" value="option3">
                                <label class="form-check-label" for="q3-p31-l3-o3">
                soccer team
            </label>
                            </div>

                        </li>
                        <li class="my-3">Which of the following is most likely true?
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p31-l3" id="q4-p31-l3-o1" value="option1">
                                <label class="form-check-label" for="q4-p31-l3-o1">
                Carly's mom coaches the soccer team
            </label>
                            </div>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p31-l3" id="q4-p31-l3-o2" value="option2">
                                <label class="form-check-label" for="q4-p31-l3-o2">
                James is the best soccer player in the family.
            </label>
                            </div>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="q4-p31-l3" id="q4-p31-l3-o3" value="option3">
                                <label class="form-check-label" for="q4-p31-l3-o3">
                Jinx and Diego are part of Carly's family.
            </label>
                            </div>

                        </li>



                        <li class="my-3">The oldest brother in Carly's family is<br>
                            <div class="form-check  form-check-inline">
                                <input class="form-check-input" type="radio" name="q5-p31-l3" id="q5-p31-l3-o1" value="option1">
                                <label class="form-check-label" for="q5-p31-l3-o1">
                James
            </label>
                            </div>

                            <div class="form-check  form-check-inline">
                                <input class="form-check-input" type="radio" name="q5-p31-l3" id="q5-p31-l3-o2" value="option2">
                                <label class="form-check-label" for="q5-p31-l3-o2">
                Scott
            </label>
                            </div>
                            <div class="form-check  form-check-inline">
                                <input class="form-check-input" type="radio" name="q5-p31-l3" id="q5-p31-l3-o3" value="option3">
                                <label class="form-check-label" for="q5-p31-l3-o3">
                Diego
            </label>
                            </div>

                        </li>

                    </ol>
                </div>
            </div>
            <h3 class="center">READING - <small>It’s a New World of Shopping</small></h3>


        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-fluid w-75" alt="">
        </div>
    </div>
</div>