<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">UNIT 3</span></h1>
      <h3 class="text-center">PRESENT PROGRESSIVE</h3>
    </div>
    <div class="col-md-4 my-1 text-center">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F3-1.jpg?alt=media&token=b0edd1a6-250a-469c-945e-0b38f92d599d"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <!-- audio l2 -->
        <audio id="a1p10l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F1.wash-car.mp3?alt=media&token=27880164-64ce-4d95-80c1-8237f2951339"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p10l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Wash - car
      </h6>
    </div>
    <div class="col-md-4 my-1 text-center">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F3-2.jpg?alt=media&token=32e2e8fa-c2b6-4385-bcd5-c5b5cea42bcc"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <!-- audio l2 -->
        <audio id="a2p10l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F2.do-homework.mp3?alt=media&token=1fbf2391-1187-482f-a693-84cababb417f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p10l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Do - Homework
      </h6>
    </div>
    <div class="col-md-4 my-1 text-center">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F3-3.jpg?alt=media&token=c20573e4-2537-455f-83e7-2a58a78a71e9"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <!-- audio l2 -->
        <audio id="a3p10l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F3.clean-room.mp3?alt=media&token=43e9e386-9529-4148-b584-b5b64a4d510f"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p10l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Clean - Room
      </h6>
    </div>
    <div class="col-md-4 my-1 text-center">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F3-4.jpg?alt=media&token=49b8ff17-6cca-4d2f-ad32-fb1aae337f6a"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <!-- audio l2 -->
        <audio id="a4p10l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F4.use-computer.mp3?alt=media&token=a845c7ae-00ad-4b45-abfb-f878b8b4f40d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p10l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Use - Computer
      </h6>
    </div>
    <div class="col-md-4 my-1 text-center">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F3-5.jpg?alt=media&token=960d3e4b-ff2f-49aa-ab52-4c1ef6f11b96"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <!-- audio l2 -->
        <audio id="a5p10l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F5.fix-rollerblades.mp3?alt=media&token=a4cab799-6a6e-4dee-9e94-1b8e7e06c0f2"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p10l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Fix - rollerblades
      </h6>
    </div>
    <div class="col-md-4 my-1 text-center">
      <div class="d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F3-6.jpg?alt=media&token=1feb9f89-da7f-4ee9-a3be-cf85bb6d934f"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <!-- audio l2 -->
        <audio id="a6p10l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F6.brush-teeth.mp3?alt=media&token=90a96b91-d3d6-46ef-a6b3-17f27a2c0fd2"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p10l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Brush -teeth
      </h6>
    </div>
  </div>
</div>
