<div>
  <div class="row">
    <div class="col-md-12 rojo my-3">
      <h4 class="text-white center">REVIEW No. III</h4>
    </div>
    <div class="col-md-12 my-4 text-center">
      <h6 class="text-white center verde2">ACTIVITY 2.11</h6>
      <span class="badge bg-primary m-1"> Cook</span>
      <span class="badge bg-primary m-1"> Drive</span>
      <span class="badge bg-primary m-1"> Play</span>
      <span class="badge bg-primary m-1"> Skate</span>
      <span class="badge bg-primary m-1"> Speak</span>
      <span class="badge bg-primary m-1"> Dance</span>
      <span class="badge bg-primary m-1"> Paint</span>
      <span class="badge bg-primary m-1"> Sing</span>
      <span class="badge bg-primary m-1"> Ski</span>
      <span class="badge bg-primary m-1"> Use</span>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-30.PNG?alt=media&token=bc124d59-e802-44b4-ae0a-6af023c753c9"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>1.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong> Billy
            <input
              type="text"
              class="form-control m-1 input"
              value="Can't "
              size="100"
              style="width: 100px; height: 30px"
              id=""
              disabled
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              value="Sky"
              id=""
              disabled
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong> He
            <input
              type="text"
              class="form-control m-1 input"
              value="Can "
              size="100"
              style="width: 100px; height: 30px"
              id=""
              disabled
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              value="Skate"
              id=""
              disabled
            />
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-31.PNG?alt=media&token=1c5823bb-382a-440e-90a0-cc6dee67843e"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>2.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong> Sally
            <input
              type="text"
              class="form-control m-1 input"
              name="ans1Page38"
              [(ngModel)]="libro.ans1Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans2Page38"
              [(ngModel)]="libro.ans2Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong> She
            <input
              type="text"
              class="form-control m-1 input"
              name="ans3Page38"
              [(ngModel)]="libro.ans3Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans4Page38"
              [(ngModel)]="libro.ans4Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-32.PNG?alt=media&token=408bcc6f-96b4-4e1c-a01a-e2e3be726ec2"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>3.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong> Edward
            <input
              type="text"
              class="form-control m-1 input"
              name="ans5Page38"
              [(ngModel)]="libro.ans5Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans6Page38"
              [(ngModel)]="libro.ans6Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            pictures
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong> She
            <input
              type="text"
              class="form-control m-1 input"
              name="ans7Page38"
              [(ngModel)]="libro.ans7Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans8Page38"
              [(ngModel)]="libro.ans8Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            houses
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-33.PNG?alt=media&token=d0b5809b-b87b-4433-81d7-b60ce3b28fb2"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>4.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong> Carla
            <input
              type="text"
              class="form-control m-1 input"
              name="ans9Page38"
              [(ngModel)]="libro.ans9Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans10Page38"
              [(ngModel)]="libro.ans10Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            Arabic
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong> She
            <input
              type="text"
              class="form-control m-1 input"
              name="ans11Page38"
              [(ngModel)]="libro.ans11Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans12Page38"
              [(ngModel)]="libro.ans12Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            Italian
          </div>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-34.PNG?alt=media&token=1675c028-e4bc-4416-be28-3d9865f69229"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>5.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong> We
            <input
              type="text"
              class="form-control m-1 input"
              name="ans13Page38"
              [(ngModel)]="libro.ans13Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans14Page38"
              [(ngModel)]="libro.ans14Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            Greek food
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong> We
            <input
              type="text"
              class="form-control m-1 input"
              name="ans15Page38"
              [(ngModel)]="libro.ans15Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans16Page38"
              [(ngModel)]="libro.ans16Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            Japanese food
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-35.PNG?alt=media&token=2205df91-3055-4980-a3f7-a53d2135add2"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>6.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong> I
            <input
              type="text"
              class="form-control m-1 input"
              name="ans17Page38"
              [(ngModel)]="libro.ans17Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans18Page38"
              [(ngModel)]="libro.ans18Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            cash register
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong> I
            <input
              type="text"
              class="form-control m-1 input"
              name="ans19Page38"
              [(ngModel)]="libro.ans19Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans20Page38"
              [(ngModel)]="libro.ans20Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            calculator
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-36.PNG?alt=media&token=74408353-9456-45db-93bc-fcd7ecc0a607"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>7.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong> They
            <input
              type="text"
              class="form-control m-1 input"
              name="ans21Page38"
              [(ngModel)]="libro.ans21Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans22Page38"
              [(ngModel)]="libro.ans22Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            tennis
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong> They
            <input
              type="text"
              class="form-control m-1 input"
              name="ans23Page38"
              [(ngModel)]="libro.ans23Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans24Page38"
              [(ngModel)]="libro.ans24Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            baseball
          </div>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-37.PNG?alt=media&token=64f94f86-7aff-4256-b316-6f6cb4044152"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>8.</h5>
          <div class="d-flex align-items-center">
            <strong>A. </strong> Harold
            <input
              type="text"
              class="form-control m-1 input"
              name="ans25Page38"
              [(ngModel)]="libro.ans25Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans26Page38"
              [(ngModel)]="libro.ans26Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            a taxi
          </div>
          <div class="d-flex align-items-center">
            <strong>B. </strong> He
            <input
              type="text"
              class="form-control m-1 input"
              name="ans27Page38"
              [(ngModel)]="libro.ans27Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans28Page38"
              [(ngModel)]="libro.ans28Page38"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            bus
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
