<div>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F38.PNG?alt=media&token=22635e22-b836-4a60-a428-6ebf7a7e2886" class="img-fluid m-1 rounded w-75" alt="img">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F39.PNG?alt=media&token=124c1a1d-dfb1-4af1-be76-bb2251bcd8d6" class="img-fluid m-1 rounded w-75" alt="img">
        </div>
        <div class="col-md-6">
            <ol>
                <li> Where is your father?<input type="text" class="form-control" placeholder="Answer" name="ans1Page15" [(ngModel)]="libro.ans1Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Where is your mother? <input type="text" class="form-control" placeholder="Answer" name="ans2Page15" [(ngModel)]="libro.ans2Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Where <input type="text" size=60 style="width : 60px; height : 30px" class="m-1 form-control input" name="ans3Page15" [(ngModel)]="libro.ans3Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> your notebook? <input type="text"
                        class="form-control" placeholder="Answer" name="ans4Page15" [(ngModel)]="libro.ans4Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Where’s the teacher? <input type="text" class="form-control" placeholder="Answer" name="ans5Page15" [(ngModel)]="libro.ans5Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Where <input type="text" size=60 style="width : 60px; height : 30px" class="m-1 form-control input" name="ans6Page15" [(ngModel)]="libro.ans6Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> your sharpeners? <input type="text"
                        class="form-control" placeholder="Answer" name="ans7Page15" [(ngModel)]="libro.ans7Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Where is your Pet? <input type="text" class="form-control" placeholder="Answer" name="ans8Page15" [(ngModel)]="libro.ans8Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li> Where <input type="text" size=60 style="width : 60px; height : 30px" class="m-1 form-control input" name="ans9Page15" [(ngModel)]="libro.ans9Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> your new friend <input type="text"
                        class="form-control" placeholder="Answer" name="ans10Page15" [(ngModel)]="libro.ans10Page15" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
            </ol>
        </div>
    </div>
</div>