<div>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-6">
            <ol>
                <li> Where is your father?<input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li> Where is your mother? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li> Where <input type="text" size=40 style="width : 35px; height : 23px" class="m-1" name="" id=""> your notebook? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li> Where’s the teacher? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li> Where <input type="text" size=40 style="width : 35px; height : 23px" class="m-1" name="" id=""> your sharpeners? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li> Where is your Pet? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li> Where <input type="text" size=40 style="width : 35px; height : 23px" class="m-1" name="" id=""> your new friend <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
            </ol>
        </div>
    </div>
</div>