<div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1><span class="badge bg-warning my-2">Class 7</span></h1>
            <h3 class="text-center"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> DUTIES & ENTERTAINMENT</h3>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F124.jpg?alt=media&token=6707dcd8-c093-493f-932b-c101c0692602" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">1. Take a shower</strong>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F125.jpg?alt=media&token=85b0c050-bff5-4928-93f4-bb5a427c9531" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">2. Go to the movies</strong>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F126.jpg?alt=media&token=b66b19bb-7a46-4859-8569-4046053c0fdc" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">3. Go surfing</strong>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F127.jpg?alt=media&token=835c24b5-4676-4a97-bfff-6ac25a693cc9" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">4. Go swimming</strong>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F128.jpg?alt=media&token=2223d786-e87c-4d46-8706-a6f98a7a2688" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">5. Go dancing</strong>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F129.jpg?alt=media&token=93147317-c30d-4ec9-aaef-45ccdd26e08f" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">6. Fix the car</strong>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F130.jpg?alt=media&token=58de1fdb-6b66-4c73-a2cf-391e056761c2" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">7. Travel </strong>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F131.jpg?alt=media&token=613695d1-9b8d-4adb-b341-9f9d598e91e7" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">8. Get a job </strong>
        </div>
        <div class="col-md-3 text-center my-1 card border-info p-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F132.jpg?alt=media&token=f1044d50-06c5-4139-9ea9-9c69e5c37f0a" class="img-fluid rounded mb-1" alt="img">
            <strong class="center">9. Get a car</strong>
        </div>
    </div>
</div>