<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">Class 7</span></h1>
      <h3 class="text-center">DUTIES & ENTERTAINMENT</h3>
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F124.jpg?alt=media&token=6707dcd8-c093-493f-932b-c101c0692602"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 108-->
        <audio id="a1p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F108.mp3?alt=media&token=c957d57d-05cc-4387-9b44-330e6534fb2e"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Take a shower</strong
      >
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F125.jpg?alt=media&token=85b0c050-bff5-4928-93f4-bb5a427c9531"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 109-->
        <audio id="a2p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F109.mp3?alt=media&token=64b7e471-daa4-48d8-89f2-73eb090378c2"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Go to the movies</strong
      >
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F126.jpg?alt=media&token=b66b19bb-7a46-4859-8569-4046053c0fdc"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 110-->
        <audio id="a3p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F110.mp3?alt=media&token=eed34123-5def-4ef8-bc9f-3d0e9d56f382"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Go surfing</strong
      >
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F127.jpg?alt=media&token=835c24b5-4676-4a97-bfff-6ac25a693cc9"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 111-->
        <audio id="a4p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F111.mp3?alt=media&token=6f5a5aa3-94bd-4361-b4f4-ba5462ee6d8a"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Go swimming</strong
      >
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F128.jpg?alt=media&token=2223d786-e87c-4d46-8706-a6f98a7a2688"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 112-->
        <audio id="a5p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F112.mp3?alt=media&token=9494caaf-7cb2-4fc8-aae3-4b9b5b5946b0"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Go dancing</strong
      >
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F129.jpg?alt=media&token=93147317-c30d-4ec9-aaef-45ccdd26e08f"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 113-->
        <audio id="a6p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F113.mp3?alt=media&token=ead34405-9199-417f-a558-40e84c2c3506"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Fix the car</strong
      >
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F130.jpg?alt=media&token=58de1fdb-6b66-4c73-a2cf-391e056761c2"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 114-->
        <audio id="a7p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F114.mp3?alt=media&token=e2e2e2ee-d387-4201-a12f-1181139894a5"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. Travel
      </strong>
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F131.jpg?alt=media&token=613695d1-9b8d-4adb-b341-9f9d598e91e7"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 115-->
        <audio id="a8p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F115.mp3?alt=media&token=7d7710f5-7393-4c2d-8d85-8ee66a68f2a0"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Get a job
      </strong>
    </div>
    <div class="col-md-3 text-center my-1 card border-info p-1">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F132.jpg?alt=media&token=f1044d50-06c5-4139-9ea9-9c69e5c37f0a"
        class="img-fluid rounded mb-1"
        alt="img"
      />
      <strong class="center"
        ><!-- audio 116-->
        <audio id="a9p41l3" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F116.mp3?alt=media&token=8bfe8baf-8d2c-47cc-bfe4-f12d13c1a832"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p41l3')"
          class="btn azul rounded-pill text-white btn-sm"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Get a car</strong
      >
    </div>
  </div>
</div>
