<div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="center">Questions you should be able to answer from book 2</h4>
        </div>
        <div class="col-md-6">
            <ul>
                <li>1. Where is your mother cooking? Is she sleeping now? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>2. Are you speaking English? What are your classmates doing now? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>3. Is she playing basketball? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>4. Why is she cooking pasta? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>5. Can they dace salsa? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>6. Can we speak English? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>7. Can you swim? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>8. Where are they studying english? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>9. Are you playing soccer now? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>10. When does he eat pizza? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>

            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>11. Where were you yesterday? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>12. What were you doing? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>13. Was you mother in the house last night? What was she doing? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>14. Were you in the house last weekend? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>15. Where were you when you were 5 years old? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>16. Were you here yesterday? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>17. What music can you dance? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>18. What´s your teacher dong now? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>19. Why is she crying? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>
                <li>20. Why are they smiling? <input type="text" class="form-control" placeholder="Answer" name="" id=""></li>

            </ul>
        </div>
    </div>
</div>