<div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="center">Questions you should be able to answer from book 2</h4>
        </div>
        <div class="col-md-6">
            <ul>
                <li>1. Where is your mother cooking? Is she sleeping now? <input type="text" class="form-control" placeholder="Answer" name="ans1page47" [(ngModel)]="libro.ans1Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>2. Are you speaking English? What are your classmates doing now? <input type="text" class="form-control" placeholder="Answer" name="ans2page47" [(ngModel)]="libro.ans2Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>3. Is she playing basketball? <input type="text" class="form-control" placeholder="Answer" name="ans3page47" [(ngModel)]="libro.ans3Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>4. Why is she cooking pasta? <input type="text" class="form-control" placeholder="Answer" name="ans4page47" [(ngModel)]="libro.ans4Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>5. Can they dace salsa? <input type="text" class="form-control" placeholder="Answer" name="ans5page47" [(ngModel)]="libro.ans5Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>6. Can we speak English? <input type="text" class="form-control" placeholder="Answer" name="ans6page47" [(ngModel)]="libro.ans6Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>7. Can you swim? <input type="text" class="form-control" placeholder="Answer" name="ans7page47" [(ngModel)]="libro.ans7Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>8. Where are they studying english? <input type="text" class="form-control" placeholder="Answer" name="ans8page47" [(ngModel)]="libro.ans8Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>9. Are you playing soccer now? <input type="text" class="form-control" placeholder="Answer" name="ans9page47" [(ngModel)]="libro.ans9Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>10. When does he eat pizza? <input type="text" class="form-control" placeholder="Answer" name="ans10page47" [(ngModel)]="libro.ans10Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>

            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>11. Where were you yesterday? <input type="text" class="form-control" placeholder="Answer" name="ans11page47" [(ngModel)]="libro.ans11Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>12. What were you doing? <input type="text" class="form-control" placeholder="Answer" name="ans12page47" [(ngModel)]="libro.ans12Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>13. Was you mother in the house last night? What was she doing? <input type="text" class="form-control" placeholder="Answer" name="ans13page47" [(ngModel)]="libro.ans13Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>14. Were you in the house last weekend? <input type="text" class="form-control" placeholder="Answer" name="ans14page47" [(ngModel)]="libro.ans14Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>15. Where were you when you were 5 years old? <input type="text" class="form-control" placeholder="Answer" name="ans15page47" [(ngModel)]="libro.ans15Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>16. Were you here yesterday? <input type="text" class="form-control" placeholder="Answer" name="ans16page47" [(ngModel)]="libro.ans16Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>17. What music can you dance? <input type="text" class="form-control" placeholder="Answer" name="ans17page47" [(ngModel)]="libro.ans17Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>18. What´s your teacher dong now? <input type="text" class="form-control" placeholder="Answer" name="ans18page47" [(ngModel)]="libro.ans18Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>19. Why is she crying? <input type="text" class="form-control" placeholder="Answer" name="ans19page47" [(ngModel)]="libro.ans19Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>
                <li>20. Why are they smiling? <input type="text" class="form-control" placeholder="Answer" name="ans20page47" [(ngModel)]="libro.ans20Page47" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""></li>

            </ul>
        </div>
    </div>
</div>