<div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1><span class="badge bg-warning my-2">UNIT 2</span></h1>
      <h3 class="text-center d-flex justify-content-center">
        WHAT / WHERE AND ING
      </h3>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-1.jpg?alt=media&token=cd578fb1-87af-438c-b896-65eb1db2208d"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a3p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F1.Talk%20on%20the%20phone.mp3?alt=media&token=88898337-614c-4d81-aecb-c0b0af6f9a13"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Talk on the phone
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-2.jpg?alt=media&token=b20a5de4-0fe6-4688-becc-5e12668adeca"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a4p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F2.drive.mp3?alt=media&token=f0f19555-ead7-48a1-8979-c0ddeee2d3cc"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. drive
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-3.jpg?alt=media&token=4e65beeb-b5f9-44ca-95a7-c34582a9cc04"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a5p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F3.call.mp3?alt=media&token=8883ff6f-ed35-4c9e-ae40-7f54e17b04e1"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Call
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-4.jpg?alt=media&token=a98f4530-08d1-46cd-b207-652d09c2cb2e"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a6p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F4.walk.mp3?alt=media&token=68f8a21f-89e6-4da6-9181-c63f7bcb1995"
          />
        </audio>
        <button
          (click)="reproducirAudio('a6p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. walk
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-5.jpg?alt=media&token=bfa2dd1c-1e23-473b-a380-7f529397434e"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a7p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F5.work%20out.mp3?alt=media&token=b2dd6111-73cd-4b48-96e3-ed9ecb85ee54"
          />
        </audio>
        <button
          (click)="reproducirAudio('a7p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        5. Work out
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-6.jpg?alt=media&token=591d2acc-91b1-47d5-862c-00efec896c99"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a8p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F6.listen%20to.mp3?alt=media&token=ad9f154c-0e48-4371-8aa0-81ba226872cd"
          />
        </audio>
        <button
          (click)="reproducirAudio('a8p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        6. Listen to
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-7.jpg?alt=media&token=286594e2-e92f-41a3-8bed-55f3dac173c2"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a9p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F7.work.mp3?alt=media&token=20241549-686c-428d-8dd4-4d90e7a0dbda"
          />
        </audio>
        <button
          (click)="reproducirAudio('a9p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        7. work
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-8.jpg?alt=media&token=fee54a2d-52df-420c-8f37-31b353ffb844"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a10p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F8.rest.mp3?alt=media&token=7b6d3850-189a-49b5-bc5d-67188639dba3"
          />
        </audio>
        <button
          (click)="reproducirAudio('a10p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        8. Rest
      </h6>
    </div>
    <div class="col-md-4 my-1">
      <div class="text-center d-flex justify-content-center">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2-9.jpg?alt=media&token=63298c4f-b8df-4449-ab6d-1920749e6b32"
          class="img-fluid m-1 rounded w-75 card border-info"
          alt="img"
        />
      </div>
      <h6 class="center">
        <audio id="a11p5l2" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/audiosLibro2%2F9.take%20a%20shower.mp3?alt=media&token=706250b4-ca1a-4da1-b9b8-feaf7723b888"
          />
        </audio>
        <button
          (click)="reproducirAudio('a11p5l2')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        9. Take a Shower
      </h6>
    </div>
  </div>
</div>
