<div>
  <div class="row">
    <div class="col-md-12">
      <p class="justify">
        <b>ORAL PRACTICE:</b> Answer the questions. Use frequency adverbs.<br />
        <b>Example:</b> Take a bus to school How often do you take a bus to
        school? <b>Response:</b> I usually take the bus. OR: I never take the
        bus. OR: I always take the bus. (etc)
      </p>
    </div>
    <div class="col-md-6">
      <b>PART I:</b> How often do you …?
      <ol>
        <li>sleep past noon</li>
        <li>wear a hat to school</li>
        <li>wash dishes after dinner</li>
        <li>eat fish for dinner</li>
        <li>go to (a particular place in this city) on weekends</li>
      </ol>
    </div>
    <div class="col-md-6">
      <b>PART II: </b> What are some things you always / usually/ often/
      sometimes / seldom/ rarely/ never do …?
      <ol>
        <li>
          when you eat dinner (What do you always do when you eat dinner?)
        </li>
        <li>when you get ready to go to bed at night</li>
        <li>when you travel abroad</li>
        <li>when you meet a new person</li>
        <li>when you’re on vacation</li>
        <li>in this classroom</li>
      </ol>
    </div>
    <div class="col-md-12">
      <p>
        <b>ORAL PRACTICE</b><br />
        Make true statements about your habits or routines using the time and
        frequency expressions below and the simple present tense.
        <br /><b>Example:</b>
      </p>
    </div>
    <div class="col-md-6">
      <ol>
        <li>
          once a week
          <ul>
            <li>You say: I go to the movies once a week.</li>
          </ul>
        </li>
        <li>every weekend</li>
        <li>twice a week</li>
        <li>on my birthday</li>
        <li>once a year</li>
        <li>at 7:30 in the morning</li>
      </ol>
    </div>
    <div class="col-md-6">
      <ol start="7">
        <li>on Friday nights</li>
        <li>in September</li>
        <li>in the summer</li>
        <li>all the time</li>
        <li>on December 31</li>
        <li>at 6:00 in the evening</li>
      </ol>
    </div>
  </div>
</div>
