<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center">WRITE ABOUT YOURSELF AND SHARE YOUR ANSWER WITH THE CLASS</h3>
        </div>
        <div class="col-md-6">
            <ul>
                <li>I like <input type="text" class="form-control" placeholder="Answer" name="ans1page8" [(ngModel)]="libro.ans1Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>I play <input type="text" class="form-control" placeholder="Answer" name="ans2page8" [(ngModel)]="libro.ans2Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>I speak <input type="text" class="form-control" placeholder="Answer" name="ans3page8" [(ngModel)]="libro.ans3Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>I eat <input type="text" class="form-control" placeholder="Answer" name="ans4page8" [(ngModel)]="libro.ans4Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>I cook <input type="text" class="form-control" placeholder="Answer" name="ans5page8" [(ngModel)]="libro.ans5Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>I don’t like <input type="text" class="form-control" placeholder="Answer" name="ans6page8" [(ngModel)]="libro.ans6Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>I don’t play <input type="text" class="form-control" placeholder="Answer" name="ans7page8" [(ngModel)]="libro.ans7Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>I don’t speak <input type="text" class="form-control" placeholder="Answer" name="ans8page8" [(ngModel)]="libro.ans8Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>I don’t eat <input type="text" class="form-control" placeholder="Answer" name="ans9page8" [(ngModel)]="libro.ans9Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
                <li>I don’t cook <input type="text" class="form-control" placeholder="Answer" name="ans10page8" [(ngModel)]="libro.ans10Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F25.png?alt=media&token=a54a339d-235e-4574-90ab-5d29c49f7133" class="img-fluid" alt="img">
        </div>
        <div class="col-md-3">
            <ul>
                <h3>1.</h3>
                <li><strong>A. </strong> Does Kathy take Karate lessons?</li>
                <li><strong>B. </strong> Yes, she does.</li>
                <li><strong>A. </strong> When does she take Karate lessons?</li>
                <li><strong>B. </strong> <input type="text" class="input form-control" placeholder="Answer" name="ans11page8" [(ngModel)]="libro.ans11Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F26.png?alt=media&token=3b38af62-503b-4b2a-b5f7-60ae3a0c7f9d" class="img-fluid" alt="img">
        </div>
        <div class="col-md-3">
            <ul>
                <h3>2. </h3>
                <li><strong>A. </strong> Do Kate and Liz play volleyball on Sunday?</li>
                <li><strong>B. </strong> No, they don´t. They play tennis.</li>
                <li><strong>A. </strong> When do they play volleyball?</li>
                <li><strong>B. </strong> <input type="text" class="input form-control" placeholder="Answer" name="ans12page8" [(ngModel)]="libro.ans12Page8" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> </li>
            </ul>
        </div>
    </div>
</div>