<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center">WRITE ABOUT YOURSELF AND SHARE YOUR ANSWER WITH THE CLASS</h3>
        </div>
        <div class="col-md-6">
            <ul>
                <li>I like <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
                <li>I play <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
                <li>I speak <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
                <li>I eat <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
                <li>I cook <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>I don’t like <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
                <li>I don’t play <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
                <li>I don’t speak <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
                <li>I don’t eat <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
                <li>I don’t cook <input type="text" class="form-control" placeholder="Answer" name="" id=""> </li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-3">
            <ul>
                <h3>1.</h3>
                <li><strong>A. </strong> Does Kathy take Karate lessons?</li>
                <li><strong>B. </strong> Yes, she does.</li>
                <li><strong>A. </strong> When does she take Karate lessons?</li>
                <li><strong>B. </strong> <input type="text" placeholder="Answer" name="" id=""> </li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-3">
            <ul>
                <h3>2. </h3>
                <li><strong>A. </strong> Do Kate and Liz play volleyball on Sunday?</li>
                <li><strong>B. </strong> No, they don´t. They play tennis.</li>
                <li><strong>A. </strong> When do they play volleyball?</li>
                <li><strong>B. </strong> <input type="text" placeholder="Answer" name="" id=""> </li>
            </ul>
        </div>
    </div>
</div>