<div>
  <div class="row">
    <div class="col-md-6">
      <h4>ORAL PRACTICE</h4>
      <p>
        Example: 1. Are you going to go out for dinner this evening?<br />
        Follow-up question: Where are you going to have dinner?<br />
        <strong>
          When everyone has finished writing, go through the follow-up questions
          with the class</strong
        >
      </p>
    </div>
    <div class="col-md-6">
      <p>Divide the students into pairs.</p>
      <ul>
        <li>
          <p class="justify">
            Students then take it in turns to ask their partner about their
            future plans using the questions on their worksheet.
          </p>
        </li>
      </ul>

      <p class="justify">
        Read each question in the first column and then write a follow-up
        question using 'going to' in the third column. Then, ask a partner about
        their future plans and write down their answers.
      </p>
    </div>
    <div class="col-md-12 table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Are you going to...</th>
            <th><i class="fas fa-check"></i> / <i class="fas fa-times"></i></th>
            <th>Follow-up question</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- audio 159-->
              <audio id="a1p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F159.mp3?alt=media&token=7b7b8b22-9e26-49a7-accc-2e03d3941335"
                />
              </audio>
              <button
                (click)="reproducirAudio('a1p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              1. go out for dinner this evening
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p1-l3"
                  id="q54-p1-l3-o1"
                  autocomplete="off"
                  value="q54-p1-l3-o1"
                  [checked]="libro['q54-p1-l3'] === 'q54-p1-l3-o1'"
                  [(ngModel)]="libro['q54-p1-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p1-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p1-l3"
                  id="q54-p1-l3-o2"
                  autocomplete="off"
                  value="q54-p1-l3-o2"
                  [checked]="libro['q54-p1-l3'] === 'q54-p1-l3-o2'"
                  [(ngModel)]="libro['q54-p1-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p1-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans2page55"
                [(ngModel)]="libro.ans2Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
                placeholder="Where _____________ ?"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans3page55"
                [(ngModel)]="libro.ans3Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 160-->
              <audio id="a2p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F160.mp3?alt=media&token=ce0b48b7-185f-41db-9c48-6efd5cc16ed2"
                />
              </audio>
              <button
                (click)="reproducirAudio('a2p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              2. watch a film this weekend?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p2-l3"
                  id="q54-p2-l3-o1"
                  autocomplete="off"
                  value="q54-p2-l3-o1"
                  [checked]="libro['q54-p2-l3'] === 'q54-p2-l3-o1'"
                  [(ngModel)]="libro['q54-p2-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p2-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p2-l3"
                  id="q54-p2-l3-o2"
                  autocomplete="off"
                  value="q54-p2-l3-o2"
                  [checked]="libro['q54-p2-l3'] === 'q54-p2-l3-o2'"
                  [(ngModel)]="libro['q54-p2-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p2-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="What _____________ ?"
                name="ans5page55"
                [(ngModel)]="libro.ans5Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans6page55"
                [(ngModel)]="libro.ans6Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 161-->
              <audio id="a3p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F161.mp3?alt=media&token=c60915ea-293c-4d3f-a466-99d916a3ab95"
                />
              </audio>
              <button
                (click)="reproducirAudio('a3p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              3. meet someone after class?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p3-l3"
                  id="q54-p3-l3-o1"
                  autocomplete="off"
                  value="q54-p3-l3-o1"
                  [checked]="libro['q54-p3-l3'] === 'q54-p3-l3-o1'"
                  [(ngModel)]="libro['q54-p3-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p3-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p3-l3"
                  id="q54-p3-l3-o2"
                  autocomplete="off"
                  value="q54-p3-l3-o2"
                  [checked]="libro['q54-p3-l3'] === 'q54-p3-l3-o2'"
                  [(ngModel)]="libro['q54-p3-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p3-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans8page55"
                [(ngModel)]="libro.ans8Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
                placeholder="Who _____________ ?"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans9page55"
                [(ngModel)]="libro.ans9Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 162-->
              <audio id="a4p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F162.mp3?alt=media&token=87a667cd-f5ab-4a4e-838e-fc250f751d83"
                />
              </audio>
              <button
                (click)="reproducirAudio('a4p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              4. write an email today?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p4-l3"
                  id="q54-p4-l3-o1"
                  autocomplete="off"
                  value="q54-p4-l3-o1"
                  [checked]="libro['q54-p4-l3'] === 'q54-p4-l3-o1'"
                  [(ngModel)]="libro['q54-p4-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p4-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p4-l3"
                  id="q54-p4-l3-o2"
                  autocomplete="off"
                  value="q54-p4-l3-o2"
                  [checked]="libro['q54-p4-l3'] === 'q54-p4-l3-o2'"
                  [(ngModel)]="libro['q54-p4-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p4-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                placeholder="Why _____________ ?"
                class="form-control"
                name="ans11page55"
                [(ngModel)]="libro.ans11Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans12page55"
                [(ngModel)]="libro.ans12Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 163 -->
              <audio id="a5p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F163.mp3?alt=media&token=6ebba075-95a1-4368-9e13-632de4f15a97"
                />
              </audio>
              <button
                (click)="reproducirAudio('a5p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              5. have breakfast tomorrow?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p5-l3"
                  id="q54-p5-l3-o1"
                  autocomplete="off"
                  value="q54-p5-l3-o1"
                  [checked]="libro['q54-p5-l3'] === 'q54-p5-l3-o1'"
                  [(ngModel)]="libro['q54-p5-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p5-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p5-l3"
                  id="q54-p5-l3-o2"
                  autocomplete="off"
                  value="q54-p5-l3-o2"
                  [checked]="libro['q54-p5-l3'] === 'q54-p5-l3-o2'"
                  [(ngModel)]="libro['q54-p5-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p5-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="What _____________ ?"
                name="ans14page55"
                [(ngModel)]="libro.ans14Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans15page55"
                [(ngModel)]="libro.ans15Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 164-->
              <audio id="a6p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F164.mp3?alt=media&token=e3292f53-97c3-4526-8bc0-16992ce86702"
                />
              </audio>
              <button
                (click)="reproducirAudio('a6p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              6. play sport this week?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p6-l3"
                  id="q54-p6-l3-o1"
                  autocomplete="off"
                  value="q54-p6-l3-o1"
                  [checked]="libro['q54-p6-l3'] === 'q54-p6-l3-o1'"
                  [(ngModel)]="libro['q54-p6-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p6-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p6-l3"
                  id="q54-p6-l3-o2"
                  autocomplete="off"
                  value="q54-p6-l3-o2"
                  [checked]="libro['q54-p6-l3'] === 'q54-p6-l3-o2'"
                  [(ngModel)]="libro['q54-p6-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p6-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans17page55"
                [(ngModel)]="libro.ans17Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                placeholder="What _____________ ?"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans18page55"
                [(ngModel)]="libro.ans18Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 165-->
              <audio id="a7p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F165.mp3?alt=media&token=4e417f03-770a-4ab3-8de5-55b28b77b439"
                />
              </audio>
              <button
                (click)="reproducirAudio('a7p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              7. go on holiday soon?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p7-l3"
                  id="q54-p7-l3-o1"
                  autocomplete="off"
                  value="q54-p7-l3-o1"
                  [checked]="libro['q54-p7-l3'] === 'q54-p7-l3-o1'"
                  [(ngModel)]="libro['q54-p7-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p7-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p7-l3"
                  id="q54-p7-l3-o2"
                  autocomplete="off"
                  value="q54-p7-l3-o2"
                  [checked]="libro['q54-p7-l3'] === 'q54-p7-l3-o2'"
                  [(ngModel)]="libro['q54-p7-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p7-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans20page55"
                [(ngModel)]="libro.ans20Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                placeholder="Where _____________ ?"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans21page55"
                [(ngModel)]="libro.ans21Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 166-->
              <audio id="a8p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F166.mp3?alt=media&token=a62ed85c-5d03-4fc0-89a6-3ad230529068"
                />
              </audio>
              <button
                (click)="reproducirAudio('a8p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              8. go shopping this weekend?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p8-l3"
                  id="q54-p8-l3-o1"
                  autocomplete="off"
                  value="q54-p8-l3-o1"
                  [checked]="libro['q54-p8-l3'] === 'q54-p8-l3-o1'"
                  [(ngModel)]="libro['q54-p8-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p8-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p8-l3"
                  id="q54-p8-l3-o2"
                  autocomplete="off"
                  value="q54-p8-l3-o2"
                  [checked]="libro['q54-p8-l3'] === 'q54-p8-l3-o2'"
                  [(ngModel)]="libro['q54-p8-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p8-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                placeholder="What _____________ ?"
                class="form-control"
                name="ans23page55"
                [(ngModel)]="libro.ans23Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans24page55"
                [(ngModel)]="libro.ans24Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 167-->
              <audio id="a9p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F167.mp3?alt=media&token=6ea8c286-21d6-44c5-87ae-59629ffe2ec4"
                />
              </audio>
              <button
                (click)="reproducirAudio('a9p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              9. go to bed early tonight?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p9-l3"
                  id="q54-p9-l3-o1"
                  autocomplete="off"
                  value="q54-p9-l3-o1"
                  [checked]="libro['q54-p9-l3'] === 'q54-p9-l3-o1'"
                  [(ngModel)]="libro['q54-p9-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p9-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p9-l3"
                  id="q54-p9-l3-o2"
                  autocomplete="off"
                  value="q54-p9-l3-o2"
                  [checked]="libro['q54-p9-l3'] === 'q54-p9-l3-o2'"
                  [(ngModel)]="libro['q54-p9-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p9-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans26page55"
                [(ngModel)]="libro.ans26Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
                placeholder="Why _____________ ?"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans27page55"
                [(ngModel)]="libro.ans27Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 168-->
              <audio id="a10p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F168.mp3?alt=media&token=f4022102-cda7-4005-accd-a952b53762f4"
                />
              </audio>
              <button
                (click)="reproducirAudio('a10p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              10. do some exercise today?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p10-l3"
                  id="q54-p10-l3-o1"
                  autocomplete="off"
                  value="q54-p10-l3-o1"
                  [checked]="libro['q54-p10-l3'] === 'q54-p10-l3-o1'"
                  [(ngModel)]="libro['q54-p10-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p10-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p10-l3"
                  id="q54-p10-l3-o2"
                  autocomplete="off"
                  value="q54-p10-l3-o2"
                  [checked]="libro['q54-p10-l3'] === 'q54-p10-l3-o2'"
                  [(ngModel)]="libro['q54-p10-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p10-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="What _____________ ?"
                name="ans29page55"
                [(ngModel)]="libro.ans29Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans30page55"
                [(ngModel)]="libro.ans30Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 169-->
              <audio id="a11p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F169.mp3?alt=media&token=94a22606-9b93-4c86-8efd-19fd310ec44e"
                />
              </audio>
              <button
                (click)="reproducirAudio('a11p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              11. improve your English skills?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p11-l3"
                  id="q54-p11-l3-o1"
                  autocomplete="off"
                  value="q54-p11-l3-o1"
                  [checked]="libro['q54-p11-l3'] === 'q54-p11-l3-o1'"
                  [(ngModel)]="libro['q54-p11-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p11-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p11-l3"
                  id="q54-p11-l3-o2"
                  autocomplete="off"
                  value="q54-p11-l3-o2"
                  [checked]="libro['q54-p11-l3'] === 'q54-p11-l3-o2'"
                  [(ngModel)]="libro['q54-p11-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p11-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans32page55"
                [(ngModel)]="libro.ans32Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                placeholder="How _____________ ?"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans33page55"
                [(ngModel)]="libro.ans33Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 170-->
              <audio id="a12p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F170.mp3?alt=media&token=183a4cda-f8f8-48e4-ac56-ef9420189d81"
                />
              </audio>
              <button
                (click)="reproducirAudio('a12p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              12. get married in the future?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p12-l3"
                  id="q54-p12-l3-o1"
                  autocomplete="off"
                  value="q54-p12-l3-o1"
                  [checked]="libro['q54-p12-l3'] === 'q54-p12-l3-o1'"
                  [(ngModel)]="libro['q54-p12-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p12-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p12-l3"
                  id="q54-p12-l3-o2"
                  autocomplete="off"
                  value="q54-p12-l3-o2"
                  [checked]="libro['q54-p12-l3'] === 'q54-p12-l3-o2'"
                  [(ngModel)]="libro['q54-p12-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p12-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                placeholder="Who _____________ ?"
                class="form-control"
                name="ans35page55"
                [(ngModel)]="libro.ans35Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans36page55"
                [(ngModel)]="libro.ans36Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 171 -->
              <audio id="a13p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F171.mp3?alt=media&token=8aa7682b-a0d8-4323-92e1-4ce57400d280"
                />
              </audio>
              <button
                (click)="reproducirAudio('a13p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              13. learn something new today?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p13-l3"
                  id="q54-p13-l3-o1"
                  autocomplete="off"
                  value="q54-p13-l3-o1"
                  [checked]="libro['q54-p13-l3'] === 'q54-p13-l3-o1'"
                  [(ngModel)]="libro['q54-p13-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p13-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p13-l3"
                  id="q54-p13-l3-o2"
                  autocomplete="off"
                  value="q54-p13-l3-o2"
                  [checked]="libro['q54-p13-l3'] === 'q54-p13-l3-o2'"
                  [(ngModel)]="libro['q54-p13-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p13-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>

            <td>
              <input
                type="text"
                class="form-control"
                name="ans38page55"
                [(ngModel)]="libro.ans38Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                placeholder="What _____________ ?"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans39page55"
                [(ngModel)]="libro.ans39Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 172-->
              <audio id="a14p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F172.mp3?alt=media&token=d4044ada-1e33-4368-8c9e-85a7a6437168"
                />
              </audio>
              <button
                (click)="reproducirAudio('a14p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              14. travel abroad this year?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p14-l3"
                  id="q54-p14-l3-o1"
                  autocomplete="off"
                  value="q54-p14-l3-o1"
                  [checked]="libro['q54-p14-l3'] === 'q54-p14-l3-o1'"
                  [(ngModel)]="libro['q54-p14-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p14-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p14-l3"
                  id="q54-p14-l3-o2"
                  autocomplete="off"
                  value="q54-p14-l3-o2"
                  [checked]="libro['q54-p14-l3'] === 'q54-p14-l3-o2'"
                  [(ngModel)]="libro['q54-p14-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p14-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                placeholder="Where _____________ ?"
                class="form-control"
                name="ans41page55"
                [(ngModel)]="libro.ans41Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans42page55"
                [(ngModel)]="libro.ans42Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 173-->
              <audio id="a15p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F173.mp3?alt=media&token=945a29d2-3af2-42e7-8ffb-b9a708b5e9b6"
                />
              </audio>
              <button
                (click)="reproducirAudio('a15p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              15. save money this year?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p15-l3"
                  id="q54-p15-l3-o1"
                  autocomplete="off"
                  value="q54-p15-l3-o1"
                  [checked]="libro['q54-p15-l3'] === 'q54-p15-l3-o1'"
                  [(ngModel)]="libro['q54-p15-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p15-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p15-l3"
                  id="q54-p15-l3-o2"
                  autocomplete="off"
                  value="q54-p15-l3-o2"
                  [checked]="libro['q54-p15-l3'] === 'q54-p15-l3-o2'"
                  [(ngModel)]="libro['q54-p15-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p15-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                placeholder="Why _____________ ?"
                class="form-control"
                name="ans44page55"
                [(ngModel)]="libro.ans44Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans45page55"
                [(ngModel)]="libro.ans45Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
          <tr>
            <td>
              <!-- audio 174-->
              <audio id="a16p54l3" aria-label="audio" class="d-none" controls>
                <source
                  type="audio/mp3"
                  src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/Libro3%2F174.mp3?alt=media&token=5c156fc4-806c-4832-9825-70319e1c3bdf"
                />
              </audio>
              <button
                (click)="reproducirAudio('a16p54l3')"
                class="btn azul rounded-pill text-white btn-sm"
              >
                <i class="fas fa-volume-up"></i>
              </button>
              16. clean your house soon?
            </td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p16-l3"
                  id="q54-p16-l3-o1"
                  autocomplete="off"
                  value="q54-p16-l3-o1"
                  [checked]="libro['q54-p16-l3'] === 'q54-p16-l3-o1'"
                  [(ngModel)]="libro['q54-p16-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p16-l3-o1"
                  ><i class="fas fa-check"></i
                ></label>

                <input
                  type="radio"
                  class="btn-check"
                  name="q54-p16-l3"
                  id="q54-p16-l3-o2"
                  autocomplete="off"
                  value="q54-p16-l3-o2"
                  [checked]="libro['q54-p16-l3'] === 'q54-p16-l3-o2'"
                  [(ngModel)]="libro['q54-p16-l3']"
                  (change)="guardarInfo()"
                />
                <label class="btn btn-outline-primary" for="q54-p16-l3-o2"
                  ><i class="fas fa-times"></i
                ></label>
              </div>
            </td>
            <td>
              <input
                type="text"
                placeholder="When _____________ ?"
                name="ans47page55"
                [(ngModel)]="libro.ans47Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
                class="form-control"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                name="ans48page55"
                [(ngModel)]="libro.ans48Page55"
                (keyup.enter)="guardarInfo()"
                (blur)="guardarInfo()"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
