<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center mb-3">SELF – INTRODUCTION</h3>
        </div>
        <div class="col-md-6">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        <strong>A.</strong> Hi, my name is <input type="text" class="m-1"  name="ans1Page7" [(ngModel)]="libro.ans1Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">. What is your name?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        <strong>B.</strong> I’m <input type="text" class="m-1"  name="ans2Page7" [(ngModel)]="libro.ans2Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        <strong>A.</strong> Can you spell it, please?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        <strong>B.</strong> Sure <input type="text" class="m-1"  name="ans3Page7" [(ngModel)]="libro.ans3Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        <strong>A.</strong> What’s your phone number?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        <strong>B.</strong>  <input type="text" class="m-1"  name="ans4Page7" [(ngModel)]="libro.ans4Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        <strong>A.</strong> Where are you from?
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        <strong>B.</strong> <input type="text" class="m-1"  name="ans5Page7" [(ngModel)]="libro.ans5Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-start">
                    <span class="chat chat1">
                        <strong>A.</strong> Nice to meet you.
                    </span>
                </div>
                <div class="col-md-12 col-12 my-1 d-flex justify-content-end">
                    <span class="chat chat2">
                        <strong>B.</strong>  <input type="text" class="m-1"  name="ans6Page7" [(ngModel)]="libro.ans6Page7" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>