<div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="my-4">ORAL PRACTICE</h4>
      <ul>
        <li><b>Student A:</b> Perform an action.</li>
        <li>
          <b>Student B:</b> Describe the action, using Student A’s name and the
          present progressive.
        </li>
        <li><b>Example:</b> Stand next to your desk</li>
        <li>
          <b>Student A:</b> (Student A stands up)TEACHER: Who is standing next
          to her desk? OR: What is (Maria) doing?
        </li>
        <li><b>Student B:</b> (Maria) is standing next to her desk.</li>
      </ul>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct13.PNG?alt=media&token=35766877-96b9-465d-8965-5b834d4a330e"
        alt="img"
        class="img-fluid w-75"
      />
    </div>
    <div class="col-md-6">
      <ol>
        <li>Stand up</li>
        <li>Smile</li>
        <li>Whistle</li>
        <li>Open or close the door</li>
        <li>Hum (Tararear)</li>
        <li>Bite your fingernails</li>
        <li>Read your grammar book</li>
        <li>Erase the board</li>
        <li>Look at the ceiling</li>
        <li>Count aloud the number of people in the room</li>
      </ol>
    </div>
    <div class="col-md-6">
      <ol start="11">
        <li>Knok on the door</li>
        <li>Sit on the floor</li>
        <li>Shake hands with someone</li>
        <li>Look at your watch</li>
        <li>Hold your pen in your left hand</li>
        <li>shake your head "no"</li>
        <li>Scratch your head</li>
        <li>Rub your palms toguether</li>
        <li>Kick your desk (softly)</li>
      </ol>
    </div>
    <div class="col-md-12">
      <hr class="my-3" />
      <h5 class="text-center">
        Perform any action you choose. Use objects in the classroom if you wish
      </h5>
    </div>
    <div class="col-md-3 text-center">
      <div>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct14.PNG?alt=media&token=a0d359f4-9f73-4ef5-bb10-92ae9fbc4054"
          class="img-fluid w-75"
          alt="img"
        />
        <h6 class="my-1">Rub your palms toguether</h6>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct15.PNG?alt=media&token=0d9f79a6-a47b-48f7-9fa0-e2ae82d51b8e"
          class="img-fluid w-75"
          alt="img"
        />
        <h6 class="my-1">Hum (tararear)</h6>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct16.PNG?alt=media&token=576e1af6-e65b-497c-8c40-4d2489aa1d8a"
          class="img-fluid w-75"
          alt="img"
        />
        <h6 class="my-1">Scratch your head</h6>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F2ct17.PNG?alt=media&token=de1803fa-5100-4c11-9c1f-8136c14eb852"
          class="img-fluid w-75"
          alt="img"
        />
        <h6 class="my-1">Whistle</h6>
      </div>
    </div>
  </div>
</div>
