<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center my-3"> EXERCISES</h3>
        </div>
        <div class="col-md-3 col-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F32.jpg?alt=media&token=e9a8f38c-dfac-4530-838d-fa8c0ba782c6" class="img-fluid m-1 rounded" alt="img"> <strong>A.</strong> Is it a bulletin
            board? <br> <strong>B.</strong> Yes, <input size=60 style="width : 60px; height : 30px" class="my-1 form-control input" type="text" name="ans1Page11" [(ngModel)]="libro.ans1Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br>            <strong>A.</strong> Is it a blackboard?
            <br> <strong>B.</strong> No, <input size=100 style="width : 100px; height : 30px" class="my-1 form-control input" type="text" name="ans2Page11" [(ngModel)]="libro.ans2Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br>            <strong>A.</strong> What is it? <br> <strong>B.</strong> It’s a bulletin board.
        </div>
        <div class="col-md-3 col-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F33.jpg?alt=media&token=0cd4f1ee-b006-4c11-b33e-3cde19c4db52" class="img-fluid m-1 rounded" alt="img"> <strong>A.</strong> Are they black
            pens? <br> <strong>B.</strong> Yes, <input size=100 style="width : 100px; height : 30px" class="my-1 form-control input" type="text" name="ans3Page11" [(ngModel)]="libro.ans3Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br>            <strong>A.</strong> Are they red pens?
            <br> <strong>B.</strong> No, <input size=120 style="width : 120px; height : 30px" class="my-1 form-control input" type="text" name="ans4Page11" [(ngModel)]="libro.ans4Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br>            <strong>A.</strong> What are they? <br> <strong>B.</strong> They are black pens.
        </div>
        <div class="col-md-3 col-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F24.jpg?alt=media&token=d12b0b9c-dc0c-4f16-b9c5-b1d8a5a2c55c" class="img-fluid m-1 rounded" alt="img"> <strong>A.</strong> <input class="my-1 form-control input"
                type="text" name="ans5Page11" [(ngModel)]="libro.ans5Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">? <br> <strong>B.</strong> Yes, <input size=60 style="width : 60px; height : 30px" class="my-1 form-control input" type="text"
                name="ans6Page11" [(ngModel)]="libro.ans6Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br> <strong>A.</strong>
            <input class="my-1 form-control input" type="text" name="ans7Page11" [(ngModel)]="libro.ans7Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">?
            <br> <strong>B.</strong> No, <input size=100 style="width : 100px; height : 30px" class="my-1 form-control input" type="text" name="ans8Page11" [(ngModel)]="libro.ans8Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br>            <strong>A.</strong> <input class="my-1 form-control input" type="text" name="ans9Page11" [(ngModel)]="libro.ans9Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>B.</strong> <input class="my-1 form-control input"
                type="text" name="ans10Page11" [(ngModel)]="libro.ans10Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-3 col-12">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F22.jpg?alt=media&token=6059da56-2039-4d64-9a70-87396842c992" class="img-fluid m-1 rounded" alt="img"> <strong>A.</strong> <input class="my-1 form-control input"
                type="text" name="ans11Page11" [(ngModel)]="libro.ans11Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">? <br> <strong>B.</strong> Yes, <input size=60 style="width : 60px; height : 30px" class="my-1 form-control input" type="text"
                name="ans12Page11" [(ngModel)]="libro.ans12Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br> <strong>A.</strong>
            <input class="my-1 form-control input" type="text" name="ans13Page11" [(ngModel)]="libro.ans13Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">?
            <br> <strong>B.</strong> No, <input size=100 style="width : 100px; height : 30px" class="my-1 form-control input" type="text" name="ans14Page11" [(ngModel)]="libro.ans14Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""><br>            <strong>A.</strong> <input class="my-1 form-control input" type="text" name="ans15Page11" [(ngModel)]="libro.ans15Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id=""> <br> <strong>B.</strong> <input class="my-1 form-control input"
                type="text" name="ans16Page11" [(ngModel)]="libro.ans16Page11" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
    </div>
</div>