<div>
  <div class="row">
    <div class="col-md-12 my-4 text-center">
      <h6 class="text-white center verde2">ACTIVITY 2.15 - WHAT'S THE WORD</h6>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro2%2F7-49.PNG?alt=media&token=e6c4e2c8-4846-4a8a-9988-7640d7308978"
              class="img-fluid rounded card border-info"
              alt="img"
            />
          </div>
          <h5>1.</h5>
          <p>
            <strong>A. </strong>
            <input
              type="text"
              class="form-control m-1 input"
              value="were"
              size="100"
              style="width: 100px; height: 30px"
              id=""
              disabled
            />
            you at a concert last night?
          </p>
          <p>
            <strong>B. </strong> No, I
            <input
              type="text"
              class="form-control m-1 input"
              value="wasn’t "
              size="100"
              style="width: 100px; height: 30px"
              id=""
              disabled
            />
            , I
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              value="was"
              id=""
              disabled
            />
            at a play
          </p>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img src="" class="img-fluid rounded card border-info" alt="img" />
          </div>
          <h5>2.</h5>
          <p>
            <strong>A. </strong>
            <input
              type="text"
              class="form-control m-1 input"
              name="ans20Page41"
              [(ngModel)]="libro.ans20Page41"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            your neighbors quiet last Saturday night?
          </p>
          <p>
            <strong>B. </strong> No, They
            <input
              type="text"
              class="form-control m-1 input"
              name="ans21Page41"
              [(ngModel)]="libro.ans21Page41"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            . They
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans22Page41"
              [(ngModel)]="libro.ans22Page41"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            very noisy
          </p>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img src="" class="img-fluid rounded card border-info" alt="img" />
          </div>
          <h5>3.</h5>
          <p>
            <strong>A. </strong>
            <input
              type="text"
              class="form-control m-1 input"
              name="ans1Page42"
              [(ngModel)]="libro.ans1Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            your boss in the office yesterday?
          </p>
          <p>
            <strong>B. </strong> No, she
            <input
              type="text"
              class="form-control m-1 input"
              name="ans2Page42"
              [(ngModel)]="libro.ans2Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            . She
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans3Page42"
              [(ngModel)]="libro.ans3Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            on vacation
          </p>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img src="" class="img-fluid rounded card border-info" alt="img" />
          </div>
          <h5>4.</h5>
          <p>
            <strong>A. </strong>
            <input
              type="text"
              class="form-control m-1 input"
              name="ans4Page42"
              [(ngModel)]="libro.ans4Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            we at home last Tuesday?
          </p>
          <p>
            <strong>B. </strong> No, we
            <input
              type="text"
              class="form-control m-1 input"
              name="ans5Page42"
              [(ngModel)]="libro.ans5Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            . We
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans6Page42"
              [(ngModel)]="libro.ans6Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            at the mall
          </p>
        </div>
        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img src="" class="img-fluid rounded card border-info" alt="img" />
          </div>
          <h5>5.</h5>
          <p>
            <strong>A. </strong>
            <input
              type="text"
              class="form-control m-1 input"
              name="ans7Page42"
              [(ngModel)]="libro.ans7Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            the questions on the examination easy?
          </p>
          <p>
            <strong>B. </strong> No, they
            <input
              type="text"
              class="form-control m-1 input"
              name="ans8Page42"
              [(ngModel)]="libro.ans8Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            . They
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans9Page42"
              [(ngModel)]="libro.ans9Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            very difficult
          </p>
        </div>

        <div class="col-md-4 col-12 my-1">
          <div class="d-flex justify-content-center">
            <img src="" class="img-fluid rounded card border-info" alt="img" />
          </div>
          <h5>6.</h5>
          <p>
            <strong>A. </strong>
            <input
              type="text"
              class="form-control m-1 input"
              name="ans10Page42"
              [(ngModel)]="libro.ans10Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            Timothy on time for his wedding?
          </p>
          <p>
            <strong>B. </strong> No, he
            <input
              type="text"
              class="form-control m-1 input"
              name="ans11Page42"
              [(ngModel)]="libro.ans11Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              size="100"
              style="width: 100px; height: 30px"
              id=""
            />
            . He
            <input
              type="text"
              class="form-control m-1 input"
              size="100"
              style="width: 100px; height: 30px"
              name="ans12Page42"
              [(ngModel)]="libro.ans12Page42"
              (keyup.enter)="guardarInfo()"
              (blur)="guardarInfo()"
              id=""
            />
            late
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
