<div>
    <div class="row">
        <div class="col-md-6 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-50 m-2" alt="">
            <h3>3. </h3>
            <p> Do you and Harry go dancing on Friday?
            </p> <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-6 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-50 m-2" alt="">
            <h3>4. </h3>
            <p> Does Miguel play in the orchestra?
            </p> <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-6 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-50 m-2" alt="">
            <h3>5. </h3>
            <p> Do Mr. and Mrs. Kim go to a helathclub?
            </p> <input type="text" class="form-control" placeholder="Answer" name="" id="">
        </div>
        <div class="col-md-6 center">
            <img src="assets/img/imagen.jpg" class="img-fluid w-50 m-2" alt="">
            <h3>6. </h3>
            <p> Do you and Harry go dancing on Friday?
            </p> <input type="text" class="form-control" placeholder="Answer" value="No, " name="" id="">
        </div>

    </div>
</div>