<div>
    <div class="row">
        <div class="col-md-6 center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F28.png?alt=media&token=1118f026-2c2a-4927-bd92-ad117c715a2e" class="img-fluid rounded m-2" alt="img">
            <p> <b>3. </b>Do you and Harry go dancing on Friday?
            </p> <input type="text" class="form-control" placeholder="Answer" name="ans1page9" [(ngModel)]="libro.ans1Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-6 center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F29.jpg?alt=media&token=98f7deb1-bd72-41e2-9a6f-c5efbbe62f68" class="img-fluid rounded m-2" alt="img">
            <p> <b>5. </b>Do Mr. and Mrs. Kim go to a helathclub?
            </p> <input type="text" class="form-control" placeholder="Answer" name="ans2page9" [(ngModel)]="libro.ans2Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
        <div class="col-md-6 center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F27.png?alt=media&token=bc373c0b-4f03-4ff8-80be-bb509f02dc75" class="img-fluid rounded m-2" alt="img">
            <p> <b>4. </b>Does Miguel play in the orchestra?
            </p> <input type="text" class="form-control" placeholder="Answer" name="ans3page9" [(ngModel)]="libro.ans3Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>

        <div class="col-md-6 center">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F30.jpg?alt=media&token=27c9f9e8-5e4c-46eb-8c00-327c943cf84c" class="img-fluid rounded m-2" alt="img">
            <p> <b>6. </b>Do Mr. And Mrs. Kim go to a health club?
            </p> <input type="text" class="form-control" placeholder="Answer" value="No, " name="ans4page9" [(ngModel)]="libro.ans4Page9" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>

    </div>
</div>