<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center">SEASONS </h3>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6>1. Summer</h6>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6>2. Fall / Autumn</h6>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6>3. Winter</h6>
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
            <h6>4. Spring</h6>
        </div>
        <hr class="my-3">
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-3">
            <strong>1.</strong><br>
            <strong>A.</strong> What season is it?<br>
            <strong>B.</strong> It’s winter<br>
            <strong>A.</strong> How’s the weather in winter?<br>
            <strong>B.</strong> It’s raining
        </div>
        <div class="col-md-3">
            <img src="assets/img/imagen.jpg" class="img-fluid m-1" alt="img">
        </div>
        <div class="col-md-3">
            <strong>2.</strong><br>
            <input type="text" class="form-control" placeholder="A." name="ans1page30" [(ngModel)]="libro.ans1Page30" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="B." name="ans2page30" [(ngModel)]="libro.ans2Page30" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="A." name="ans3page30" [(ngModel)]="libro.ans3Page30" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control" placeholder="B." name="ans4page30" [(ngModel)]="libro.ans4Page30" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
    </div>
</div>