<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="center">SEASONS </h3>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F75.jpg?alt=media&token=bb74c4e6-2758-42ae-bc52-8fb41527a875" class="img-fluid m-1 rounded" alt="img">
            <h6 class="text-center">1. Summer</h6>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F76.jpg?alt=media&token=de5af607-a57d-46e4-b9b9-3e3f0da1c232" class="img-fluid m-1 rounded" alt="img">
            <h6 class="text-center">2. Fall / Autumn</h6>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F77.jpg?alt=media&token=e97629cf-fc82-431e-9832-23ccd9a64560" class="img-fluid m-1 rounded" alt="img">
            <h6 class="text-center">3. Winter</h6>
        </div>
        <div class="col-md-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F78.jpg?alt=media&token=34f1f3bb-5227-44bd-b1af-30a7f4796dca" class="img-fluid m-1 rounded" alt="img">
            <h6 class="text-center">4. Spring</h6>
        </div>
        <hr class="my-3">
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F79.jpg?alt=media&token=f18998f7-357f-431e-b8f1-a27ce14c335e" class="img-fluid m-1 rounded" alt="img">
        </div>
        <div class="col-md-4">
            <strong>1.</strong><br>
            <strong>A.</strong> What season is it?<br>
            <strong>B.</strong> It’s winter<br>
            <strong>A.</strong> How’s the weather in winter?<br>
            <strong>B.</strong> It’s raining
        </div>
        <div class="col-md-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F80.jpg?alt=media&token=d36f85dd-8ebf-49dc-907a-d76a72d4ea96" class="img-fluid m-1 rounded" alt="img">
        </div>
        <div class="col-md-4">
            <strong>2.</strong><br>
            <input type="text" class="form-control mt-1" placeholder="A." name="ans1page30" [(ngModel)]="libro.ans1Page30" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control mt-1" placeholder="B." name="ans2page30" [(ngModel)]="libro.ans2Page30" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control mt-1" placeholder="A." name="ans3page30" [(ngModel)]="libro.ans3Page30" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
            <input type="text" class="form-control mt-1" placeholder="B." name="ans4page30" [(ngModel)]="libro.ans4Page30" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" id="">
        </div>
    </div>
</div>