<div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="center">
        <!-- audio l1 502-->
        <audio id="a1p29l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F502.mp3?alt=media&token=e24bfd9f-489d-4f77-a518-46ef9a5771bf"
          />
        </audio>
        <button
          (click)="reproducirAudio('a1p29l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        SEASONS
      </h3>
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F75.jpg?alt=media&token=bb74c4e6-2758-42ae-bc52-8fb41527a875"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 503-->
        <audio id="a2p29l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F503.mp3?alt=media&token=5981c09a-3a22-49f5-b59f-ccdd085db2a8"
          />
        </audio>
        <button
          (click)="reproducirAudio('a2p29l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        1. Summer
      </h6>
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F76.jpg?alt=media&token=de5af607-a57d-46e4-b9b9-3e3f0da1c232"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 504-->
        <audio id="a3p29l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F504.mp3?alt=media&token=b5433599-db39-4c78-a80d-8a857519b2cf"
          />
        </audio>
        <button
          (click)="reproducirAudio('a3p29l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        2. Fall / Autumn
      </h6>
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F77.jpg?alt=media&token=e97629cf-fc82-431e-9832-23ccd9a64560"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 505-->
        <audio id="a4p29l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F505.mp3?alt=media&token=4baea1ec-d1a9-41e8-83b1-6a23f68b9e4d"
          />
        </audio>
        <button
          (click)="reproducirAudio('a4p29l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        3. Winter
      </h6>
    </div>
    <div class="col-md-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F78.jpg?alt=media&token=34f1f3bb-5227-44bd-b1af-30a7f4796dca"
        class="img-fluid m-1 rounded"
        alt="img"
      />
      <h6 class="text-center">
        <!-- audio l1 506-->
        <audio id="a5p29l1" aria-label="audio" class="d-none" controls>
          <source
            type="audio/mp3"
            src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F506.mp3?alt=media&token=05fd1206-6d19-4c19-b2d7-c286622522c6"
          />
        </audio>
        <button
          (click)="reproducirAudio('a5p29l1')"
          class="btn rounded-pill btn-sm audio"
        >
          <i class="fas fa-volume-up"></i>
        </button>
        4. Spring
      </h6>
    </div>
    <hr class="my-3" />
    <div class="col-md-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F79.jpg?alt=media&token=f18998f7-357f-431e-b8f1-a27ce14c335e"
        class="img-fluid m-1 rounded"
        alt="img"
      />
    </div>
    <div class="col-md-4">
      <strong>1.</strong><br />
      <!-- audio l1 507-->
      <audio id="a6p29l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F507.mp3?alt=media&token=cc86136e-95bd-4ab6-bad2-bb7def31ec15"
        />
      </audio>
      <button
        (click)="reproducirAudio('a6p29l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <strong>A.</strong> What season is it?<br />
      <!-- audio l1 508-->
      <audio id="a7p29l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F508.mp3?alt=media&token=a899f98f-e7de-4805-9bad-f99fd03fd93b"
        />
      </audio>
      <button
        (click)="reproducirAudio('a7p29l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <strong>B.</strong> It’s winter<br />
      <!-- audio l1 509-->
      <audio id="a8p29l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F509.mp3?alt=media&token=4542012b-9d6a-4f8b-a922-a5bb9c6b6f4f"
        />
      </audio>
      <button
        (click)="reproducirAudio('a8p29l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <strong>A.</strong> How’s the weather in winter?<br />
      <!-- audio l1 510-->
      <audio id="a9p29l1" aria-label="audio" class="d-none" controls>
        <source
          type="audio/mp3"
          src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F510.mp3?alt=media&token=1c8ad6ea-5479-4ff4-8edc-c002052876ab"
        />
      </audio>
      <button
        (click)="reproducirAudio('a9p29l1')"
        class="btn rounded-pill btn-sm audio"
      >
        <i class="fas fa-volume-up"></i>
      </button>
      <strong>B.</strong> It’s raining
    </div>
    <div class="col-md-2">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro-1%2F80.jpg?alt=media&token=d36f85dd-8ebf-49dc-907a-d76a72d4ea96"
        class="img-fluid m-1 rounded"
        alt="img"
      />
    </div>
    <div class="col-md-4">
      <strong>2.</strong>
      <div class="d-flex align-items-center">
        <div>
          <!-- audio l1 511-->
          <audio id="a10p29l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F511.mp3?alt=media&token=b5470140-c5bb-4fc2-88bf-85b9bf1138b4"
            />
          </audio>
          <button
            (click)="reproducirAudio('a10p29l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          placeholder="A."
          name="ans1page30"
          [(ngModel)]="libro.ans1Page30"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </div>
      <div class="d-flex align-items-center">
        <!-- audio l1 512-->
        <div>
          <audio id="a11p29l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F512.mp3?alt=media&token=a49fb798-31ab-4ad7-ba6a-89e55c604466"
            />
          </audio>
          <button
            (click)="reproducirAudio('a11p29l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          placeholder="B."
          name="ans2page30"
          [(ngModel)]="libro.ans2Page30"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </div>
      <div class="d-flex align-items-center">
        <!-- audio l1 513-->
        <div>
          <audio id="a12p29l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F513.mp3?alt=media&token=f7695b93-185b-4782-80de-d8da2894e4e7"
            />
          </audio>
          <button
            (click)="reproducirAudio('a12p29l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          placeholder="A."
          name="ans3page30"
          [(ngModel)]="libro.ans3Page30"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </div>

      <div class="d-flex align-items-center">
        <!-- audio l1 514-->
        <div>
          <audio id="a13p29l1" aria-label="audio" class="d-none" controls>
            <source
              type="audio/mp3"
              src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/AudiosLibro1%2F514.mp3?alt=media&token=d9c08fbb-4708-4589-9f4d-0663a627a145"
            />
          </audio>
          <button
            (click)="reproducirAudio('a13p29l1')"
            class="btn rounded-pill btn-sm audio"
          >
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control mt-1"
          placeholder="B."
          name="ans4page30"
          [(ngModel)]="libro.ans4Page30"
          (keyup.enter)="guardarInfo()"
          (blur)="guardarInfo()"
          id=""
        />
      </div>
    </div>
  </div>
</div>
