<div>
    <div class="row">
        <div class="col-md-32 mb-3">
            <h1><span class="badge bg-warning m-1">Class 2</span></h1>
            <h3 class="text-center">EVERYDAY ACTIVITIES</h3>

        </div>
        <div class="col-md-4">
            <div class="card text-dark bg-info mb-3 text-center">
                <strong>He cooks <br> He doesn´t cook<br> (does not)</strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-dark bg-info mb-3 text-center">
                <strong>Does he cook <br>
                yes, he does <br>
                No, he doesn´t
                </strong>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-dark bg-info mb-3 text-center">
                <div class="row">
                    <div class="col-6"><strong>What kind of food <br><hr>
                        when </strong></div>

                    <div class="col-6"><strong><br> he cook</strong></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row justify-content-center">
                <div class="col-md-3 col-4 card border-info ">
                    <div class="card-header">
                        Monday
                    </div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F9.jpg?alt=media&token=dd6e6897-5a7a-4cda-a3c2-1bed94ae832e" class="img-fluid" alt="img">
                    <div class="card-footer">
                        ITALIAN
                    </div>
                </div>
                <div class="col-md-3 col-6 card border-info ">
                    <div class="card-header">
                        Tuesday
                    </div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F10.jpg?alt=media&token=641a0fef-8083-4dca-8524-3948a76b0ffc" class="img-fluid" alt="img">
                    <div class="card-footer">
                        GREEK
                    </div>
                </div>
                <div class="col-md-3 col-6 card border-info ">
                    <div class="card-header">
                        <small>Wednesday</small>
                    </div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F11.jpg?alt=media&token=b3844b8c-dc2b-4548-9fa6-c9f23e4664d0" class="img-fluid" alt="img">
                    <div class="card-footer">
                        CHINESE
                    </div>
                </div>

                <div class="col-md-3 col-6 card border-info ">
                    <div class="card-header">
                        Thursday
                    </div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F12.jpg?alt=media&token=c42fedba-0a8c-424f-8e70-70e3f31168bc" class="img-fluid" alt="img">
                    <div class="card-footer">
                        COLOMBIAN
                    </div>
                </div>
                <div class="col-md-3 col-6 card border-info ">
                    <div class="card-header">
                        Friday
                    </div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F13.jpg?alt=media&token=2268124e-2f95-4880-b23c-26833296d0db" class="img-fluid" alt="img">
                    <div class="card-footer">
                        JAPANESE
                    </div>
                </div>
                <div class="col-md-3 col-6 card border-info ">
                    <div class="card-header">
                        Saturday
                    </div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F14.jpg?alt=media&token=4d6db9f0-1ced-4b54-81e3-865262090c82" class="img-fluid" alt="img">
                    <div class="card-footer">
                        MEXICAN
                    </div>
                </div>
                <div class="col-md-3 col-6 card border-info  ">
                    <div class="card-header">
                        Sunday
                    </div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F15.jfif?alt=media&token=a6939e78-12b9-4554-9de4-b6e1161c884a" class="img-fluid" alt="img">
                    <div class="card-footer">
                        AMERICAN
                    </div>
                </div>

            </div>


        </div>
        <div class="col-md-4 align-items-center d-flex">
            <div class="card border-info">

                <div class="card-body p-2">

                    <p class="card-text justify"><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> Stanley’s International Restaurant is a very special place. Every day Stanley cooks a different kind of food. On Monday he cooks Italian food. On Tuesday
                        he cooks Greek food. On Wednesday he cooks Chinese food. On Thursday he cooks Colombian food. On Friday he cooks Japanese food. On Saturday he cooks Mexican food. And on Sunday he cooks American food.</p>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <div class="col-md-6">

            <ul>
                <strong><span class="badge azul rounded-pill"><i class="fas fa-volume-up"></i></span> Example:</strong>
                <li><strong>A. </strong> Excuse me. What kind of food does Stanley cook on Friday?</li>
                <li><strong>B. </strong> On Friday he cooks Japanese food.</li>
                <li><strong>A. </strong> Great. I love Japanese food.</li>
                <hr>
                <li><strong>A. </strong> Excuse me. What kind of food does Stanley cook on <input type="text" class="my-1 input form-control" name="ans1page5" [(ngModel)]="libro.ans1Page5" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id="">?</li>
                <li><strong>B. </strong> On <input type="text" class="my-1 input form-control" name="ans2page5" [(ngModel)]="libro.ans2Page5" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id=""> he cooks <input type="text" class="my-1 input form-control"
                        name="ans3page5" [(ngModel)]="libro.ans3Page5" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id=""> food.</li>
                <li><strong>A. </strong> Great. I love <input type="text" class="my-1 input form-control" name="ans4page5" [(ngModel)]="libro.ans4Page5" (keyup.enter)="guardarInfo()" (blur)="guardarInfo()" name="" id=""> food.</li>
                <strong>Ask and answer questions about the other days of the week</strong>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="center m-1"><img src="https://firebasestorage.googleapis.com/v0/b/interactivebook-62574.appspot.com/o/imgLibro3%2F16.jpg?alt=media&token=c40d6b39-73ed-4540-9d8d-bf4d917bf924" class="img-fluid w-75 rounded" alt="img"></div>

        </div>
    </div>
</div>